[2018-07-19 18:10] Zylann commented on #2043
Did people try this? I wasn't confident in the default setting
![image](https://user-images.githubusercontent.com/1311555/42961701-7283218c-8b87-11e8-9244-e7a3bb5dd7fc.png)

[2018-07-19 18:11] milkowski commented on #20251
@jmf Yes the scale factors were negative and making them positive fixes the problem. The open question is it is legal to have scale factor less than zero (formally it would allow mirroring of objects) or equal to zero (ie. to collapse particular dimension and make 2D projection).
Second question is if the problem with lighting in negative scale is due to opposite normals or jus bug.

[2018-07-19 18:19] aaronfranke commented on #20267
This applies to iOS too but I'll just post this here for now since we'd likely focus on Android first.

The only framework I'm aware of for creating mobile apps using Mono/C# is Xamarin. Unfortunately, these tools are not available for Linux, which is problematic for if we want to make use of them since Godot is a strongly multiplatform game engine. I submitted a feature request here: https://gith

[2018-07-19 18:25] SaracenOne commented on #18438
@Teknologicus I actually encountered this recently when messing about with some 3D viewports, and I discovered that it's all related sRGB colour conversion, specifically the way in which the 3D renderer expects sRGB color space for textures as opposed to the canvas renderer, and will attempt to convert to sRGB if it appears in the 3D renderer. There are a couple of ways around this, one as you alr

[2018-07-19 18:47] akien-mga commented on #20267
Well, isn't Godot itself a framework for creating mobile apps using Mono/C# already? We can build Windows apps from Linux with Godot + Mono (i.e. the Linux-compiled C# assemblies work on Windows), so it should work the same for Android, no? IINM, we just need to find how to include the assemblies in the APK and load them from there. (I might miss something specific to non-desktop platforms that wo

[2018-07-19 20:34] CRHough opened #20283 "Run Window Placement Not Same as Editor"
When more than one screen or monitor is detected please add an option to Editor Settings->Run->Window Placement's Screen option for Not Same as Editor.

[2018-07-19 20:38] Calinou commented on #20283
This is an interesting suggestion, but what if the user has more than 2 monitors? Which monitor would the project start on?

[2018-07-19 20:43] Ranoller opened #20284 "Suggestion for kinematic2d move_and_slide_with_snap()"
**Godot version:**

3.1dev compiled 17/07/2018

**Issue description:**

I see this function now in kinematic2d and my opinion is that this can be simply accomplished by adding that parameter with default value to move_and_slide:

- NOW:

**move_and_slide** (linear_velocity, floor_normal, infinite_inertia, slope_stop_min_velocity, max_bounces, floor_max_angle)

**move_and_slide_with_snap** (linear_

[2018-07-19 20:50] reduz commented on #18438
Nothing can be done in OpenGL to fix this, due the fact the flag for linear/srgb conversion is in the sampler. This will be fixed in Vulkan, where its much easier to do.

[2018-07-19 20:50] hestenfelder opened #20285 "KinematicBody(3D) `move_and_slide()` moves up slanted walls"
Hi everybody!

**Godot version:**
v3.0.2.stable.official

**Issue description:**
3D KinematicBody's `move_and_slide()` is moving up slanted walls, "ignoring" `floor_max_angle`.
Even though it detects the colliding with a wall, moving towards it will push up the KinematicBody.

Two separate assumptions as to why this might happen:
- `move_and_slide()` uses `move_and_collide()` internally.
`move_and

[2018-07-19 21:52] isaacremnant opened #20288 "Newline doesn't render in some parts of the inspector"
**Godot version:** 4ebcbea

**OS/device including version:** Arch Linux

**Issue description:** It looks like the newline character added in #20217 works as expected in tooltips but cannot be rendered in the inspector, or at least in certain submenus:
![layernameproblem](https://user-images.githubusercontent.com/35355161/42971960-eaa76f4e-8b7b-11e8-8330-eaf0e7a752f6.png)

**Steps to reproduce:** O

[2018-07-19 21:52] LikeLakers2 opened #20289 "WebSocketClient can't send/read received packets"
**Godot version:**
[Godot Engine v3.1.dev.calinou.43dc050](https://github.com/godotengine/godot/commit/43dc050947753d201607d26717ca6fc3fe412c34) (obtained from <https://hugo.pro/projects/godot-builds/>)

**OS/device including version:**
Windows 10 Home v1803 (April 2018 update) x64

**Issue description:**
I don't seem to be able to use WebSocketClient for anything that isn't multiplayer. Any attem

[2018-07-19 22:07] mikeandtherest commented on #2043
@Zylann Just out of curiosity, are you on a laptop? Because that one doesn't seem to have any kind of effect on my desktop PC.

[2018-07-19 22:13] Zylann commented on #2043
@mikeandtherest I am on a desktop PC, but I can't test that because it throws me an error.

[2018-07-19 22:17] jmf commented on #20251
@milkowski: The scale factor can be set to less than zero. That's not the problem.
The problem is, that one scale factor is set to exactly 0, which probably messes up some normal calculations or similar. If you set the scale factor of y to 1, you get a flipped and mirrored mesh and no issues with lighting.

[2018-07-19 22:27] MajorCooke opened #20290 "Kinematic 2D Collision Issues"
**Godot version:**
3.0.5.stable.official.6a88e22

**OS/device including version:**
Windows 10 Professional

**Issue description:**
Collisions with Kinematic 2D seem to be misbehaving and I've tried about everything that I can to make it work better, yet to no avail. At this point it seems to be a bug.

**Steps to reproduce:**

Download link below.

1. Start the game and let the player rest on the

[2018-07-19 23:10] vnen commented on #20288
CC @akien-mga

[2018-07-19 23:13] neikeq commented on #18364
@Nufflee Good luck. You may get stuck due to #10946 though. At least that's what happened to me last time I tried.

[2018-07-19 23:31] Jcozman commented on #19412
I am having the same issue on mono 3.0.5. Setting the mouse mode to confined will hide the mouse. I have an option button with various windowed options, and I am setting fullscreen modes and mouse input like so:

[code]

[2018-07-19 23:33] Ace-Dragon commented on #20290
High quality Kinematic body movement for 2D will be far easier to do in Godot 3.1
https://godotengine.org/article/godot-31-will-get-many-improvements-kinematicbody

You can grab daily builds here.
https://hugo.pro/projects/godot-builds/

[2018-07-19 23:33] Zylann opened #20291 "VisualServer::material_get_param() returns wrong default value"
Godot 3.0.5
Windows 10 64 bits
GeForce GTX 1060 6GB/PCIe/SSE2

Repro steps:
1) Create a shader containing a uniform with a default value
2) Create a new `ShaderMaterial` and assign the shader to it:
notice that despite the renderer applies the default value, the inspector shows a wrong value.

This also means scripts using `VisualServer::material_get_param()` will not get the default value either

[2018-07-19 23:38] Piet-G opened #20292 "Expose editable_children option to scripts"
This would be helpful for tool scripts since they can modify the value of children of a node. In that case it would be helpful to know if the changes it makes will be saved (`editable_children` = true) or not.

It would also be nice to have to be able to set the value of `editable_children` from code to force it to be true or false for certain nodes.

[2018-07-19 23:43] isaacremnant commented on #20290
The problem is that your collision shapes are shifted (Debug > Visible collision shapes):
![prob](https://user-images.githubusercontent.com/35355161/42975532-96c76686-8b8a-11e8-8cca-cfbc41025faf.png)

I'm not sure if this is something you did wrong when creating your tiles, but there's a mismatch between the .tscn and .tres:
![prob2](https://user-images.githubusercontent.com/35355161/42975617-0e7b

[2018-07-20 00:44] MajorCooke commented on #20290
@isaacremnant I'll take a look into it, but thanks for pointing that out. I did not try to shift the collision bounds at all here too so yes, I do think this should be investigated too.

[2018-07-20 00:50] MajorCooke commented on #20290
@isaacremnant I'll take a look into it, but thanks for pointing that out. I did not try to shift the collision bounds at all here too so yes, I do think this should be investigated too.

It's strange because setting it to 0,0 [does this.](https://puu.sh/AZIhB/064c2313c8.png)

(Side question, how did you get that tab at the bottom to show collisions? Never seen that before and I'm still quite new t

[2018-07-20 00:56] Nufflee commented on #18364
@neikeq Hmm, I'm not too sure how that's really related to this but we should probably continue this conversation in the PR.

[2018-07-20 01:03] YeldhamDev opened #20294 "Godot always restarts when closed."
Regression caused by c69de2ba46463adeadf90f38660d6b6e034d7e0b.

[2018-07-20 01:36] MajorCooke commented on #20290
@isaacremnant That did the trick. By setting the **2DStaticBody** offsets from (8,8) to (0,0) and then manually offsetting the collision boxes indeed to (8,8) fixed it.

Thank you.

I'm leaving this open though because I think it should be investigated too.

[2018-07-20 01:45] #20294 closed

[2018-07-20 01:52] mysticfall commented on #19877
I don't mean to be impatient, but is there a chance this may get fixed soon? It's a blocker issue for my use case, so I'd like to know if I better change my design or work on something else until it gets fixed.

[2018-07-20 02:13] Zylann commented on #20261
In the meantime, you could place your C++ project in a folder with a `.gdignore` file. This way Godot should ignore it, as well as all C++ related files (Godot will try to import .obj files althought these are not 3D models!).

If that fails too, then that also needs to be fixed^^

[2018-07-20 02:59] neikeq commented on #20271
This may already be working. Has anyone tried it?

[2018-07-20 03:13] vnen commented on #20271
I can try testing on Windows. Ideally this should be tested on an ARM device and on Xbox One too, but I don't have any of these devices.

[2018-07-20 03:18] vnen commented on #20271
Eh, I can't even build with the Mono module enabled...

[2018-07-20 03:23] vnen commented on #20271
Need to change this to include UWP: https://github.com/godotengine/godot/blob/b2d7641a0dd65a782f981fb1f73c5e84a90f816c/modules/mono/config.py#L85

[2018-07-20 03:38] vnen commented on #20271
Those I can't get around:

[code]

It's not possible to access the registry on UWP.

[2018-07-20 04:22] lukaskj opened #20296 "TextEdit not showing typed text and error on scrolling/typing"
**Godot version:**
Tried with:
v3.1.dev.custom_build.b2d7641
v3.1.dev.custom_build.43dc050
v3.1.dev.custom_build.911febb

Every time that I will use Godot I make a build

**OS/device including version:**
Windows 10 Pro
GeForce GTX 1080/PCIe/SSE2

**Issue description:**
Can't use the TextEdit properly.
It was supposed to show the text that I type or the text on _Text_ property

**Steps to reproduce

[2018-07-20 04:32] neikeq commented on #20261
Godot will only try to build the project solution. Right now this solution has the same name as the project. I'm considering adding an option to specify a custom name.

[2018-07-20 04:35] YeldhamDev opened #20297 "Video driver dialog uses the old theme"
**Godot version:**
b2d7641

**Issue description:**
Self-explanatory:
![screenshot at 2018-07-20 01-34-43](https://user-images.githubusercontent.com/30739239/42983445-23fc4328-8bbd-11e8-852e-24fb129535b2.png)

[2018-07-20 05:57] akien-mga commented on #20289
CC @godotengine/network

[2018-07-20 06:10] akien-mga commented on #20294
That was a *feature*! :P

[2018-07-20 06:11] Scellow commented on #14845
I think i figured out what's wrong with memory usage

Try to run the .exe multiple times, sometimes it takes 70mb, sometimes 130mb

Maybe something doesn't have time to be freed during initialization ?

[2018-07-20 06:16] Scellow commented on #12917
Why not move to the new .csproj format

So we don't have to have to deal with that kind of issue

Mono can build projects that uses the new .csproj format

[2018-07-20 06:59] akien-mga commented on #19917
@Geequlim Would you have a test project to share for @dragmz to test their text batching WIP?

[2018-07-20 07:30] Geequlim commented on #19917
@akien-mga Of couse yes

[2018-07-20 07:51] Geequlim commented on #19917
@dragmz  You can download this project for testing
[text_rendering.zip](https://github.com/godotengine/godot/files/2212989/text_rendering.zip)

[2018-07-20 07:57] Grosskopf commented on #8621
hey, is this still a problem, even in gles2? i'm currently setting up my computer to build for uwp to get the hololens to finally work :D different versions of angle seem to not support gles3 so maybe it renders with gles2?

[2018-07-20 08:22] #18746 closed

[2018-07-20 08:36] Grosskopf opened #20301 "UWP build fails"
**Godot version:**
8c9e10553cd429857086a9d635fc55305065ff76 (current)

**OS/device including version:**
Windows 10

**Issue description:**
I built 32 commits ago with "just" disabling websocket and upnp because something there crashed the build as well and i didn't necessarily need them for testing uwp ^^. However, after pulling it sais something about OSUWP, that it cannot be instanciated at /pla

[2018-07-20 08:38] dragmz commented on #19917
Thanks @Geequlim

Here are my first results: (batching vs master FPS with given number of "Add More Text" clicks):

Empty: no change
100 "Add More Text" clicks: 175 vs 53 [~3.3]
200: 65 vs 28 [~2.3]
300: 35 vs 19 [~1.8]
400: 21 vs 14 [~1.5]
500: 14 vs 12 [~1.2]

That's on Intel GPU. I should be able to test on Android but that may take me a few days.

[2018-07-20 08:56] Grosskopf commented on #20301
it's because of this get_current_video_driver thing, sounds reasonable

[2018-07-20 09:18] akien-mga opened #20302 "Segfault when accessing previously freed instance (2.1 only)"
**Godot version:**
Godot 2.1.5 RC2 (also reproducible with 2.1.3 and 2.1.4, did not test earlier versions).
Godot 3.0.5 and later are not affected (3.0 to 3.0.4 not tested, but likely fine too).

**OS/device including version:**
Linux, Mageia 6 x86_64

**Issue description:**
When trying to call a method on a previously freed instance, the editor will properly raise an exception with "Attempt to ca

[2018-07-20 09:40] akien-mga commented on #19665
This works much better since #19695, though we just started having another related issue: https://travis-ci.org/godotengine/godot/jobs/406120010
[code]

[2018-07-20 09:57] #20301 closed

[2018-07-20 11:52] akien-mga commented on #11186
Indeed.

[2018-07-20 11:52] #11186 closed

[2018-07-20 11:58] rraallvv commented on #19665
Hmmm... I'm not sure what could have caused the file to get corrupted, maybe we should make the linker output more verbose in case it happens again.

I'm going to take a closer look.

[2018-07-20 12:31] Nufflee opened #20305 "Migrate to "new" .csproj format."
New `.csproj` format supports `Include `and `Exclude` globs (like `<Compile Include="**\*.cs" Exclude="some other glob"/>`). More info [here](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj). And it's not .NET Core only according to [this](https://stackoverflow.com/a/42957665).

This would fix the issues discussed in this [PR](https://github.com/godotengine/godot/pull/20287) (#12917 and

[2018-07-20 12:32] Nufflee commented on #12917
@Scellow opened an issue [here](#20305).

[2018-07-20 12:42] malbach commented on #19628
Hi,
Looks like a Windows problem, didn't test on iOS, but here on X11 (Xubuntu) it does not crash anymore

[2018-07-20 12:42] bojidar-bg commented on #19956
Can you confirm it on master/3.1?

[2018-07-20 14:13] mattiascibien commented on #20305
@Nufflee if I recall well and based on this issue https://github.com/mono/mono/issues/9475 version 5.12 used by Godot should not have problems using the new .csproj format. Moreover since documentation recommends using the `<PackageReference>` tag for referencing nuget packages.

[2018-07-20 14:17] Nufflee commented on #20305
@mattiascibien Thats awesome, still waiting for neikeq's opinion though.

[2018-07-20 14:21] mattiascibien commented on #20305
You can try to remove the `<Compile Include="File.cs" />` lines on your godot csproj. On dotnetcore at least, every .cs should be included by default (without specifying any compile directive). Not sure about Mono in any case.

[2018-07-20 14:37] bojidar-bg commented on #20275
Please include some steps to reproduce the issue or a gif/video of the problem. We need to know what makes things not work in your case, since it usually works.

[2018-07-20 14:38] neikeq commented on #20305
You are free to use the method you choose. The idea is not to impose a specific one. By default, Godot will add include files one by one.

[2018-07-20 14:46] Bauxitedev commented on #17689
This bug is actually still valid (Godot 3.0.4 Mono), but only if you are saving the PackedScene from a C# script.
E.g. I have this C# script that should save an empty Node with nothing else in it:
[code]

However, it outputs the following file:
[code]

As you can see, there are spurious included CSharpScript resources that should not be there, and the Node has a script attached, even though it sho

[2018-07-20 14:48] Nufflee commented on #20305
@neikeq I'm not sure if I understand what you're saying. Do we want to migrate to this new format or not?

[2018-07-20 14:51] Bauxitedev commented on #10474
@akien-mga Yes, it is.
E.g. take this shader:
[code]

There's no error, just the shape is drawn pure white and wrongly transformed. Comment the first overload and you'll observe it works.

**Reproduction project:**
[shader_overload_bug.zip](https://github.com/godotengine/godot/files/2214366/shader_overload_bug.zip)

[2018-07-20 14:55] Zephilinox opened #20309 "Can't pan to the top-left in a 2D scene, causing inability to view all of a sprite"
**Godot version:** @Calinou's build from today, though it's not a new issue

**OS/device including version:**
W10

**Issue description:**
The sprite extends further but I can't pan to view it, the only way to view the sprite is to move it.

**Steps to reproduce:**
Place a big sprite at 0, 0 in a 2D scene

![godot pan](https://user-images.githubusercontent.com/2060863/43009341-4a657110-8c35-11e8-84

[2018-07-20 16:24] vnen commented on #8621
@Grosskopf with GLES2 it should work much better, but I haven't tested since it's not complete in the master branch yet (there's nothing for 3D).

[2018-07-20 16:37] Nufflee commented on #20305
@neikeq  Hmm, I don't think we're on the same page here. Can we continue discussing this in IRC because this is already getting quite lengthy.

[2018-07-20 17:04] nunodonato commented on #20280
here's another test, instead of overriding materials, I added this extra material has a pass to all other materials.

![sceneshader](https://user-images.githubusercontent.com/1642015/43015343-5e125aea-8c47-11e8-8eee-9f2d0b303367.gif)

[2018-07-20 18:03] hestenfelder commented on #20285
I've attached a minimal project for reproducing the issue.

[2018-07-20 18:04] arthurferrai commented on #20285
It actually does what it's expected to do: it's sliding up the wall. Also, `floor_max_angle` is used to detect if the body is on floor or not.
Besides that, @reduz are making some [changes](https://godotengine.org/article/godot-31-will-get-many-improvements-kinematicbody) to KinematicBodies movement

[2018-07-20 18:20] Nufflee commented on #12450
I can try adding a lint message for this.

[2018-07-20 19:14] mattiascibien commented on #20305
@Nufflee actually I had the possibility to test and using  <Compile Include="**\*.cs" /> worked fine. Godot anyway still tries to add the file as expected.

[2018-07-20 19:22] avencherus commented on #20302
@akien-mga Ran these projects on Windows using the 2.1.5 RC2 and 3.0.5 Stable.

<details>

[code]

</details>

In 2.1 this is what happens in the console, and this imagine this is the result of the segfault:

In 3.0.5, it's as you described, it gives the error, but nothing extra appears in the console.
![godot_v3 0 5-stable_win64_2018-07-20_20-57-04](https://user-images.githubusercontent.com/13004

[2018-07-20 19:34] Nufflee commented on #20305
@mattiascibien Test what? New `.csproj` format?

[2018-07-20 19:35] eon-s commented on #20309
This seems duplicate of #18738 and probably related to some general scrollbar issues.

[2018-07-20 19:37] CRHough commented on #20283
You raise a good question and give a great answer to it! Your suggestion works much better than what I was thinking.

[2018-07-20 19:45] eon-s commented on #20284
If `infinite_inertia` was added, snapping can also be added, and snapping is used mostly on sidescroll so it can be:
**move_and_slide** (linear_velocity, floor_normal, **snap**, infinite_inertia, slope_stop_min_velocity,  max_bounces, floor_max_angle)

[2018-07-20 19:50] akien-mga commented on #20302
Thanks for checking, good to see it's crashing on Windows too.

Yeah it's normal that it fails, as it's a script error, you should never try to access properties of a freed instance. But it shouldn't crash the game, especially not when in debug mode.

[2018-07-20 19:55] akien-mga commented on #20309
Indeed, it seems to be the same as #18738.

[2018-07-20 19:55] #20309 closed

[2018-07-20 20:19] vnen commented on #20284
New arguments should go to the end. `infinite_inertia` was moved to end as well.

[2018-07-20 20:38] Xrayez commented on #17326
As a workaround I've found doing this:

[code]

seems to solve the issue (at least for `CollisionObject._input_event()`)

So perhaps the fix **can** be copy pasted after all?

[2018-07-20 21:17] #20171 closed

[2018-07-20 21:30] henriquelalves commented on #16694
Also having this same issue using Godot v3 (master); Shin-NiL Godot-Share module example works perfectly fine on PC (it uses Screen-Capture), but it won't work on Android as .get_data returns null.

There still no workaround for screen capture yet? This is somewhat crucial for mobile games sharing systems.

[2018-07-20 21:43] Malkverbena commented on #19110
Hey folks
I just started a encryption module. I still don't undestand how some process of Godot works than for now I prefer work with a module.
Initially I gonna work with AES 256 GCM since EBC does not provides an apropriate security level.
My doubts are:
Can Godot use OpenSLL or Crypto? I confess I didn't read the licenses.
If yes, any advice?

[2018-07-20 21:52] Calinou commented on #19110
If yes, any advice?

Godot used OpenSSL until https://github.com/godotengine/godot/commit/b33d10ccdfff52611ff508bbec64d65e0d88da70; it now relies on [mbedTLS](https://tls.mbed.org/).

[2018-07-20 21:58] reduz opened #20313 "Organizing Godot 3.1 Alpha"
We should start organizing work for 3.1 alpha. I myself am done with what I was working with, so opening this issue with the intention of making sure we are all on the same page and what needs to be done is done.

#### GLES2
@karroffel Is working on GLES2. I think his work is more or less complete, or in a good enough state so users can start testing it. What is missing?

#### Mono
@neikeq Has bee

[2018-07-20 22:04] Shin-NiL commented on #16694
This is one of the reasons why I'm stuck in version 2.1.* :(

[2018-07-20 22:19] unfa opened #20314 "Dual Screen workflow?"
I wonder if anyone (like me) works with a dual-screen setup.

I've tried to make Godot 3 occupy both of my screens but I wasn't able to.

Is it possible at all?
Are there any plans for such options?
Any ideas?

I've searched but found nothing.

[2018-07-20 22:48] reduz commented on #20297
Ah i fixed this, so closing

[2018-07-20 22:48] #20297 closed

[2018-07-20 23:11] YeldhamDev opened #20315 "Project/Editor Settings properties are all in snake_case"
**Godot version:**
cfcb6e11f25adb13177ba08777263288a5ec6f61

**Issue description:**
Could be related to #19019.

[2018-07-20 23:13] YeldhamDev opened #20316 "Project/Editor Settings doesn't show type icons"
**Godot version:**
cfcb6e11f25adb13177ba08777263288a5ec6f61

**Issue description:**
Definitely related to #19318.

[2018-07-20 23:19] Ranoller commented on #20284
Sometimes when scripting in godot i think that can be awesome to have a keyword to specify to use default argument. Something like that:

`move_and_slide ( Vector2(1,1), def, def, def, def, def, Vector2(1,0))`

... it can be ugly by stetics, but very useful (I know that def is function in python.....)

[2018-07-20 23:23] YeldhamDev opened #20317 "Project/Settings Editor rich-text tooltips look weird"
**Godot version:**
cfcb6e11f25adb13177ba08777263288a5ec6f61

**Issue description:**
They don't have a uniform colour and are not correctly formatted:
![untitled](https://user-images.githubusercontent.com/30739239/43029150-84aa5186-8c5a-11e8-8683-3a9631b6510a.png)

[2018-07-20 23:48] toger5 commented on #20314
there are a bunch of issues about it. currently it is not possible. to closest you can get (and this will not make you happy ;) ) is by using vs code on one screen with `godot tools Addon` and godot on the other...

And there might be OS native multi window support coming. (for popup dialogs at least) but this should allow games/(and the editor) to do anything on multiple windows.

And it also mig

[2018-07-21 00:41] 11clock commented on #2043
@Zylann Even if that worked, I wouldn't want to be telling all my customers to change their PC settings to make my game more playable. A game should work fine on a decent computer with default graphics settings. Not once have I ever encountered a game that required me to change my graphics settings. (And when I thought that I had to in order to fix some games not running right, it ended up having

[2018-07-21 00:43] Zylann commented on #2043
@11clock of course, its just that I had problem with this settings before, and I thought it could have an impact on this as well. Turns out it doesn't then.

[2018-07-21 00:50] reduz commented on #20317
i dont think i changed the formatting, so that probably is related to something else..
also, that border is likely not very fit (i just used the tooltip style and put an editorhelp thing inside)

[2018-07-21 01:03] vnen commented on #20313
Typed GDScript is pretty much done and ready to merge. I want some broader testing to catch potential issues.

[2018-07-21 01:55] vnen opened #20318 "Annotations in GDScript"
Around a year ago there was a PR adding annotations for GDScript (#9469). It was rejected mainly because there was no direct use for it (no data in the parse tree, only third-party tools would made use of it).

This proposal is to add some use for annotations in a way that make GDScript more extensible without hacking more keywords into it.

**What annotations could be used for?**
- `export` hints

[2018-07-21 02:44] LikeLakers2 commented on #20318
Just so I'm understanding the custom annotations correctly, I could have something like this:
[code]
And I could call a function, say `get_annotations("add")`, which would return these annotations? Even if these annotations aren't recognized by Godot?

[2018-07-21 02:59] vnen commented on #20318
@LikeLakers2 yes, that is the gist of it.

[2018-07-21 02:59] squished-01 commented on #8640
Can confirm, still: CheckBox and CheckButton don't dim or change color when set to disabled.  Would be nice to have a fix

[2018-07-21 03:16] Hubber116sx opened #20319 "Input function does not run in tool scripts"
**Godot version:**
v.3.0.5.stable

**OS/device including version:**
Pop!_OS 18.04 LTS (Linux)

**Issue description:**
The _input() function does not run in a tool script while in the editor.

**Steps to reproduce:**
1) Create a node and add a script to it
2) Add tool to the top of the script
3) Add _set_process_input(true)_ to _ready()
4) Create the __input(event)_ function and add a way to know i

[2018-07-21 03:27] mysticfall opened #20320 "Allow each control to use a specific custom style defined in the assigned theme"
**Godot version:**
`master` / cfcb6e11f25ad

**OS/device including version:**
_Manjaro Linux 17.1_

**Issue description:** _(This issue is a feature request)_
When defining an UI theme, sometimes it's needed to make the same type of control to look differently depending on a context.

For example, a `Panel` can have an opaque background normally, but when they are used as a backdrop of a modal dia

[2018-07-21 03:28] yaelatletl opened #20321 "Baked Lighting"
**Godot version:**
3.0.5 64 bits

**OS/device including version:**
* Intel Core i5-6200U
* Intel HD Graphics 520
* 12 GB RAM
* Windows 10

**Issue description:**
I've been testing Baked Lighting recently and found quite a lot of odd stuff.

* Using the unwrap mesh Uv2 for lightmap baking option and then baking the scene
* Unwrapping Uv2 from Blender and then baking
* Unwrapping Uv2 from Blender an

[2018-07-21 03:53] mysticfall opened #20322 "Setting visual shader type to 'CanvasItem' crashes the editor"
**Godot version:**
`master` / cfcb6e11f25ad

**OS/device including version:**
_Manjaro Linux 17.1_

**Issue description:**
When creating a visual shader material for a control, switching the mode to `CanvasItem` crashes the editor.

However, if you open the visual shader editor first (with mode set to `Spatial`) and change the mode to `CanvasItem` later, it seems to work as expected.

[2018-07-21 04:19] nazgum opened #20323 "TileMap.set_cell very slow in Master (3.1)"
**Godot version:**
Master -  v3.1.dev.calinou.cfcb6e1

**OS/device including version:**
Linux with OpenGL ES 3.0 Renderer: GeForce GTX 670M/PCIe/SSE2

**Issue description:**
Using set_cell on tilemaps is extremely slow compared to 3.0 (Stable).  Running the following loop for updating tiles:

[code]
On Godot 3.0.x stable, this takes around 11ms.   On master, this takes 660ms (around 60x slower).

[2018-07-21 04:29] N0hbdy commented on #19580
Got it - works for me, appreciate

[2018-07-21 04:29] #19580 closed

[2018-07-21 05:06] vnen commented on #9179
With the new AnimatedTexture, can this be closed?

[2018-07-21 06:14] swarnimarun commented on #20323
In my builds this was not an issue, but been a while since I tested it.
Have you tried with a different master build?

[2018-07-21 06:30] swarnimarun commented on #20314
As toger5 said there are numerous issues about the topic, this is better you go and discuss your ideas there. And close this one.

And from what I know we won't be seeing this feature in 3.1 for it will require a pretty hefty overhaul. But it is on the roadmap and we can hope to get it sooner rather than later.

[2018-07-21 06:33] mattiascibien commented on #20305
@neikeq I think I means to make Godot sharp use globs instead of adding every CS file to the project on order to fix the problem that happens when deleting the script from Godot editor.

[2018-07-21 06:33] BrahRah commented on #14900
I'm using 3.0.4 and I just had the same problem when I moved the scenes in a different folder.

[2018-07-21 07:19] suptoasty commented on #20313
Does @djrm have any theme improvements for 3.1 or is it just focused on usability improvements? Also before this thread gets flooded with them...are issue numbers okay to post here?

[2018-07-21 08:11] groud commented on #20318
I like it, I sont know for the implementation behind but in the GDscript code it would look a lot cleaner than what it looks like now. Especially for the setget example.

[2018-07-21 09:47] toger5 commented on #20320
Intersting though!
I'm thinking a lot about godot themes. And of course there is lot of potwntial for  improovement.

To answer your question: you are supposed to use stylebox override for this...

Theming in godot is very simple. It's basically a dicrionary with objects (styleboxes) which know how to draw rectangles ;) ) thats it.
But godot is a game engine. Not gtk or qt ;)
So this simple approa

[2018-07-21 09:49] toger5 commented on #20320
But if you convince me, with a very nice implementatiln, and some good arguments, i might do sone work on theming. Planning to do that anyways. (Shader style boxes, theme based dpi setting with inmediate update, better theme loading withou all svg recreating, auto icon upscaling woth bitmap icons...)

[2018-07-21 10:52] CCODE05B commented on #20313
@reduz you promised this will be in 3.1 https://github.com/godotengine/godot/issues/9786 :(

![please](https://user-images.githubusercontent.com/34812055/43034868-d59ce9a2-8ce4-11e8-84c4-df9edefe81b9.jpg)

[2018-07-21 11:18] abaky opened #20324 "Visual scripting"
**Godot version:**
Godot 3.1 dev

**OS/device including version:**
Win 10 64 bit, AMD GPU

**Issue description:**
When changing size of the comment node in visual script canvas, the size in the inspector is not updated and if you change size on the canvas and then immediately chang it in the inspector, the size will snap back to previous value before the canvas size manipulation.

You need to chan

[2018-07-21 11:21] abaky opened #20325 "Comment node in visual scripting should move all the nodes inside"
When placing comment node on the canvas, right now the node itself just serves as an outline block to visually group nodes. What I would like to see is when moving comment node, all the nodes inside the comment box should move with the comment. It would make comment box much more usable and practical.

[2018-07-21 11:55] abaky opened #20326 "Low res UI when using GLES2 video driver"
**Godot version:**
Godot 3.1 dev

**OS/device including version:**
Win 10 64bit AMD gpu

**Issue description:**
When switching project from GLES3 to GLES2, editor will restart but icons will be low res (see picture). This happened on a completely fresh new project.
![snap](https://user-images.githubusercontent.com/9384421/43035248-b1eaf762-8cec-11e8-97b4-f12a426237ed.PNG)

Switching back to GLES3

[2018-07-21 11:59] bojidar-bg commented on #9179
I think so yeah. Haven't used them, but from reduz's comments, it should work.

Going to close as it was implemented.

[2018-07-21 11:59] #9179 closed

[2018-07-21 12:01] Zephilinox commented on #20289
@akien-mga was that what you mean to CC? It doesn't link anywhere

[2018-07-21 12:09] abaky opened #20327 "Visual scripting glitch with GLES2"
When using GLES2 rendering, connections between nodes in visual scripting will sometimes disappear, and to get them to render again, you have to reselect nodes or drag nodes around the canvas.

[2018-07-21 12:21] reduz commented on #20313
@CCODE05B No. No further 3D work will be done until port to Vulkan happens after 3.1 is out.

[2018-07-21 12:39] CptPotato commented on #20321
I think something like this was mentioned at some point. I'm pretty sure the black spots in the first screenshot are due to invalid float values (like a division by zero maybe) and bleed over because of glow.

[2018-07-21 12:42] CCODE05B commented on #20313
![cry_pc](https://user-images.githubusercontent.com/34812055/43035648-fc494e88-8cf3-11e8-91fc-7a590ea2f89a.jpg)

[2018-07-21 12:44] Nufflee commented on #20305
@neikeq So, Include and Exclude globs weren't a thing for a very long time. They were introduced among with the new/different `.csproj` format when .NET Core was released but they can be used with .NET Framework as well. You can read more about this new format [here](https://github.com/dotnet/docs/blob/master/docs/core/tools/csproj.md).

This format fixes basically all problems we had with deletin

[2018-07-21 12:58] Zephilinox opened #20329 "Run multiple instances for the purpose of quickly testing networked applications"
At the moment when developing a networked application that you want to test you have to make your changes, export, and then open it twice (or once in the editor, once from the export)

Being able to open two instances directly from the editor without having to export would be a productivity boost for anyone working on networked applications.

[2018-07-21 13:50] tam0705 opened #20330 "Control.gui_input signal doesn't work properly"
**Godot version:**
Godot 3.0.2 stable & Godot 3.0.5 stable

**OS/device including version:**
Windows 10 Pro

**Issue description:**
Godot's current `gui_input` signal (which is belonged to `Control` nodes) has a parameter named `event`, which is an `Object`. However, with `emulate_touchscreen` on in Project Settings, `gui_input` will always output `Vector2()` parameter after an `InputEventScreenTo

[2018-07-21 13:58] nazgum commented on #20323
I first ran into this about 3 weeks ago, as I tried to grab a master build to play around with the new input strength feature.  I tried once more a few days later, then waited til now to see if perhaps it was simply due to the alpha state.  So this happened for me with 3 different master builds, all within July; I haven't tested Master prior to that.

Am making a roguelike, so I loop through tilem

[2018-07-21 14:09] tam0705 commented on #20330
I'm really sorry, this turns out not to be an issue with Godot, but with my script. I should really check it first before submitting new issues.

[2018-07-21 14:09] #20330 closed

[2018-07-21 14:16] Calinou commented on #20289
@Zephilinox It mentions everyone in the `godotengine/network` team so that they get notified of the issue :slightly_smiling_face:

[2018-07-21 14:22] Zylann commented on #20329
I think there was an issue about that already.
For now I do this by running 1 editor and X command line debuggers.

[2018-07-21 14:38] bojidar-bg commented on #20329
Duplicate of #7008

[2018-07-21 14:38] #20329 closed

[2018-07-21 14:48] Zylann commented on #20313
@gaudecker I need to update that tracker, some things in it have been solved since.

Also, #19501 ?

[2018-07-21 14:48] dragmz commented on #20326
I'm getting this low-res effect randomly when starting Godot with "--video-driver GLES2" flag (i.e. don't have to switch the drivers to reproduce)

[2018-07-21 15:13] Zylann commented on #20319
I think this has been mentionne already:

`_input` does not run for the same reason you cannot click on buttons in your edited scene. It would be a mess.
The viewport in which your edited scene lives does not transfer input to its children, probably due to http://docs.godotengine.org/en/3.0/tutorials/viewports/viewports.html#input

[2018-07-21 15:44] neikeq commented on #20305
That's what I understood at first, not sure why the confusion. As I said, the idea is not to impose any style for including files. If you want to use globs, you can use them, but Godot will add files by default.

[2018-07-21 16:01] isaacremnant commented on #20318
This is very useful, but it should allow single line statements for readability. For example,
`@onready var a = $A` should be allowed. Otherwise, this adds a ton of newlines and would in this case waste the useful of onready.

Something like
[code]
would be useful to apply the same annotation to several statements.

Also, a colon could be used to indicate where the annotation ends and where the af

[2018-07-21 16:07] Nufflee commented on #20305
@neikeq You're still missing the point. To use Include globs the *whole* `.csproj` needs to be changed. We cannot use Include globs with our current `.csproj` format. Include globs solve all problems we had with including file by file. We either need to completely migrate to this format which has no drawbacks or anything compared to what we're using right now, or we can stay with the current `.csp

[2018-07-21 16:15] stephannv opened #20331 "Editor bug: Cutting screen content"
**Godot version:**
v3.0.5.stable.official.6a88e22

**OS/device including version:**
Mac OS 10.13.4 (17E202)
Macbook Pro 13-inch, Mid 2012
Intel HD Graphics 4000 1536 MB

**Issue description:**
Screen content is being cut

**Steps to reproduce:**
I do not know what triggers this issue. I always have to close project and reopen to get back to normal, but from time to time the problem comes back.

**

[2018-07-21 16:17] nunodonato commented on #20331
I've experienced this as well, but haven't been able to reproduce it again

[2018-07-21 16:39] Nufflee commented on #20305
@PJB3005  That might actually be true, my bad i guess. Though I still don't understand why basically no IDE's use this. Not too sure what should we do here, maybe have a setting somewhere to "turn this on" and make Godot stop adding files to the `.csproj`

[2018-07-21 17:40] eon-s commented on #20331
Many of the bottom panels cause this (on every OS), I have thought this was solved on the first 3.0 releases.

[2018-07-21 17:43] eon-s commented on #20327
Keep in mind that GLES2 renderer on master is still one of the first implementations and do not have all the features added.

I guess it was a mistake to add the GLES button before the feature...

[2018-07-21 17:53] OliPerraul opened #20332 "Saving scene replaces values for dictionary export variable to null"
**Godot version:**
v3.1.dev.custom_build.cfcb6e1

**OS/device including version:**
win64

**Issue description:**
Saving scene replaces values for dictionary export variable to null. Potentially related to error messages in the console indicating wrong number of arguments.

**Steps to reproduce:**
1. Create a project
2. Create a scene
3. Create a node
4. Attatch a gdscript
5. write `export(Dictiona

[2018-07-21 17:53] OliPerraul commented on #20332
I am currently working on fixing this problem on my own fork.

[2018-07-21 17:57] OliPerraul commented on #20332
![capture](https://user-images.githubusercontent.com/24371247/43038783-02e9be72-8cee-11e8-9a8b-3b4fa3fa0f80.PNG)
Currently working on a fix

[2018-07-21 17:58] OliPerraul commented on #20332
![capture2](https://user-images.githubusercontent.com/24371247/43038791-21ea742e-8cee-11e8-9f0d-1290b07f8a63.PNG)

[2018-07-21 18:00] mattiascibien commented on #20305
@nufflee what I was thinking too. I'll try to implement it

[2018-07-21 18:29] menip opened #20334 "Necessary to show whether GL|ES3 or GL|ES2 is being used at all times?"
Current build of master has this:
![image](https://user-images.githubusercontent.com/22862244/43039009-eb7ce454-8cd8-11e8-89e6-95979121d506.png)

Where in top right of project there is visible what rendering backend is being used. After using editor for a bit, I see having this setting is not useful to me at all, and is just taking up space. I don't know if this is more useful for those that need

[2018-07-21 18:40] abaky commented on #20327
I disagree, I think its great that new features get pushed to master early, gives community a chance to break stuff and I hope that developers get useful feedback.

[2018-07-21 18:41] mr746866 commented on #3752
Facing the same issue after I imported some transparent png images.

**Steps to reproduce:**
1. Create new scene
2. Add a sprite
3. Load texture from a transparent png file

The issue doesn't happen for other image files. Also the problem happens only in one of my projects. If I create a new project and use the same png file there, the issue doesn't arise. I think it may be related to corrupted im

[2018-07-21 19:03] PJB3005 commented on #20323
This is to be expected, as the code does an early check to bail out in the second case.

Using advanced profiling techniques :tm: I have determined this commit to be the cause: 69ee7945d70e40c7953e9f587a8d0480db8eda86 #15909
This is because the tile map is recreating its quadrant for the cell being modified EVERY TIME, whereas previously (before that PR) it was deferred so it only happened once. S

[2018-07-21 19:32] menip opened #20336 "Dims while debug, doesn't revert"
**Godot version:**
cfcb6e1

**Issue description:**
Godot dims, then doesn't revert.

**Steps to reproduce:**
Run scene, pause. Select remote in inspector, then select one of your objects. Select your objects path under node options. Some dialogue pops up but closes immediately. Godot is now dimmed.

[2018-07-21 19:42] aaronfranke commented on #20336
Godot version should be a version number or a hash. Don't reference pull requests.

The current head is cfcb6e11f25adb13177ba08777263288a5ec6f61

[2018-07-21 20:36] akien-mga commented on #20316
Well it's the same as #19318, both use the property editor.

[2018-07-21 20:36] #20316 closed

[2018-07-21 20:40] EzraT commented on #14855
I'm starting to think that this is at-least partially OS related, I recently switched Linux distro's (from Ubuntu Budgie 18.04, to Linux Mint 19 specifically) and, to my surprise, this issue doesn't seem to happen anymore in the projects I've tried it with so far, I no longer get the weird stuttering and hitching after the switch, with the same Nvidia Driver version installed as-well.

I don't kno

[2018-07-21 20:40] Calinou commented on #19122
@radishes Please refrain from bumping issues without contributing new information; use the :+1: reaction button on the first post instead.

[2018-07-21 20:48] aaronfranke commented on #17228
Considering that this is a temporary notice, it isn't very high of a priority to do. I looked around at the TTR code and I wasn't able to figure it out, so I won't be including this in my PR, but it could be done later.

[2018-07-21 21:10] reduz commented on #16694
I will try to fix this for Godot 3.1

[2018-07-21 21:13] #16257 closed

[2018-07-21 21:13] #1039 closed

[2018-07-21 21:13] #10630 closed

[2018-07-21 21:13] #13951 closed

[2018-07-21 21:13] #15088 closed

[2018-07-21 21:44] DevMagicLord commented on #17885
I would hope navmesh functions that are an important feature for 3D games
would get improvments for 3.1 ?
Or should we expect those on some 3.2 ?

[2018-07-21 22:01] jahd2602 commented on #16694
An option can be get back the Godot 2 function: `Viewport.get_screen_capture()` by copying the image that is being displayed in the screen here:
https://github.com/godotengine/godot/blob/d488c35efabee9d9317a91cdb905a460e7fce0af/servers/visual/visual_server_viewport.cpp#L320

[2018-07-21 22:06] eon-s commented on #20323
Maybe it can be a tilemap setting, to make it update on changes or defer it, also, could be nice to have a way to feed an array of cells instead of one by one.

And yes, it still have room for many optimizations and fixes.

[2018-07-21 22:37] suptoasty opened #20340 "GDscript Inheritance issue"
**Godot version:**

build from commit 92415365c8586dd0c91b0566d7c00753e0687273

**OS/device including version:**

Windows 10 64bit, Nvidia Geforce GTX 1060

**Issue description:**

Before typed gdscript was added i was able to extend a node2d and use the functions of the derived class KinematicBody2D like move_and_collide. But i added a test function `func dd() -> String: return "get out of my lab

[2018-07-21 22:39] akien-mga commented on #20340
CC @vnen

[2018-07-21 22:46] toger5 commented on #20317
We should add a style override for the help i side. And give it a style box empty.
Should be the cleanest fix.

[2018-07-21 22:48] lordkettune opened #20341 "Allow fragment coordinates to be accessed in light shader"
_(This is a feature proposal)_

Information about the current fragment should be available to light shaders as well, since it can be necessary for shaders that generate patterns or textures. Basically, FRAGCOORD should be available in both the fragment and light processor functions.

I was trying to write a halftone pattern light shader, but it doesn't really seem to be possible in Godot currently

[2018-07-21 22:55] DualMatrix commented on #20334
I agree, it might be useful when doing complex graphics stuff but for regular use it hasn't come up for me. Perhaps have a setting to enable it?

[2018-07-21 23:12] Zylann commented on #20340
I think being able to use functions from a class you didnt extend was never meant to work.

[2018-07-21 23:14] suptoasty commented on #20340
Here is an example of what I was doing:
[enemy_weapon.txt](https://github.com/godotengine/godot/files/2216587/enemy_weapon.txt)
[enemy_projectile.txt](https://github.com/godotengine/godot/files/2216588/enemy_projectile.txt)

[2018-07-21 23:36] suptoasty commented on #20340
Maybe some sort of system like `node_two implements node_one` could be added to work with class_name for this to work instead of just being able to call functions from KinematicBody2Ds inside of a script that extends a Node2d that was assigned to a KinematicBody2D would be better.

[2018-07-21 23:37] Zylann commented on #20340
@suptoasty problem is it breaks the way OOP works. And because of that, it's going to confuse the editor when it tries to check your code, and confuse devs when they have to handle such case. I can understand how this is useful but that's what you get with an inheritance-based design, and is one thing "OOP-haters" complain about. I can't think of a better solution apart from using composition inst

[2018-07-21 23:45] suptoasty commented on #20340
Okay...I see your point. It is ultimately up to you guys. I'll just have to make more scripts for different node types. If the other devs don't see this as something that needs to be fixed...they might switch the label to discussion, or i could close the issue?

[2018-07-22 00:15] vnen commented on #20340
This is related to #16958.

I'm not sure if this was ever supposed to work.

[2018-07-22 00:18] vnen commented on #20340
Also there's the bigger problem that a script can't know to which node it is attached to. If this is really intended to work like this, I guess I could remove these checks and make them warnings.

[2018-07-22 00:34] vnen commented on #5529
This has been stalled for a long time and it seems like a misunderstanding from the OP, no really a bug. I don't see a reason to keep this open.

[2018-07-22 00:34] #5529 closed

[2018-07-22 00:36] vnen commented on #5532
This should not be a problem anymore in 3.0. Is there anything to be done in the 2.1 branch?

[2018-07-22 00:44] vnen commented on #6351
Is this still a problem? Note that you should return `true` from the `_set()` method to let the engine know the property exists.

[2018-07-22 00:46] vnen commented on #6566
Not sure if it was fixed in my PR (#19264) but in any case it is fixed in master.

[2018-07-22 00:46] #6566 closed

[2018-07-22 00:47] vnen commented on #8791
Solved by #19264.

[2018-07-22 00:47] #8791 closed

[2018-07-22 01:02] Zephilinox commented on #20334
I like it for two reasons.

1. It makes it very clear that you can switch renderer now, and that gles2 is supported, even if you haven't been following along with the updates

2. It makes it very easy to switch between renderers for testing performance/visual differences

[2018-07-22 01:04] vnen commented on #9539
Can't reproduce with 3.0.5. It probably was fixed along the way.

[2018-07-22 01:04] #9539 closed

[2018-07-22 01:32] vnen commented on #17280
Wasn't this solved by the PR?

[2018-07-22 01:34] vnen commented on #17215
A sample project it would be nice to understand the root cause.

[2018-07-22 01:37] vnen commented on #17476
Solved in current master.

[2018-07-22 01:37] #17476 closed

[2018-07-22 01:47] vnen commented on #19306
Solved by #19264. It will now show an error in-editor if the getter or setter is invalid.

[2018-07-22 01:47] #19306 closed

[2018-07-22 01:53] vnen commented on #15906
I solved this in #19264.

[2018-07-22 01:53] #15906 closed

[2018-07-22 01:54] vnen commented on #15906
If needed, some patch can be applied to 3.0 to fix this in specific.

[2018-07-22 02:06] vnen commented on #20334
[According to @reduz](https://twitter.com/reduzio/status/1019933477930721281), this is so the editor can give proper hints on why something isn't working. If you use something not available in GLES2, you can easily see why it's not working.

[2018-07-22 02:27] mysticfall opened #20343 "Tree API doesn't use proper return / argument types in C#"
**Godot version:**
`master` / cfcb6e11f25ad

**OS/device including version:**
_Manjaro Linux 17.1_

**Issue description:**
In many methods in `Tree` API, like `CreateItem`, `GetItemAreaRect` don't use specific return or argument types but `Object`. To ensure type safety, we better change them to use proper types like `TreeItem` instead.

[2018-07-22 02:32] mysticfall opened #20344 "Allow controls to change shape of mouse pointer even when mouse filter is set to 'Ignore'"
**Godot version:**
`master` / cfcb6e11f25ad

**OS/device including version:**
_Manjaro Linux 17.1_

**Issue description:**
It seems that `Control.MouseDefaultCursorShape` is only effective when `Control.MouseFilter` is set to either `Stop` or `Pass`.

However, there can be such a scenario when you want one of such controls to indicate an interactable area by changing the mouse cursor, but need to

[2018-07-22 02:35] Hubber116sx commented on #20319
I also get
`Invalid call. Nonexistent function 'forward_canvas_gui_input' in base 'EditorPlugin'`
when calling forward_canvas_gui_input. I'm assuming this is the function that handles inputs while in the editor.

[2018-07-22 02:40] vnen commented on #20319
Invalid call. Nonexistent function 'forward_canvas_gui_input' in base 'EditorPlugin'
when calling forward_canvas_gui_input.

It's a virtual function, you're supposed to overwrite it to receive the editor input.

[2018-07-22 04:19] Hubber116sx commented on #20319
Overriding the function does nothing without calling it manual in code. I'm assuming overriding is done by adding the function to the script inheriting EditorPlugin like this
[code]
or this
[code]

[2018-07-22 04:36] samdaiya commented on #20130
I was using custom build maybe because of that i got this issue, When i installed Official Stable build of Godot v3.0.5 it solved my problem.

[2018-07-22 04:36] #20130 closed

[2018-07-22 05:06] taylorjoshuaw commented on #19628
I'm sorry my fix didn't solve the issue. It stopped crashing for me after making the change in my PR, but obviously there's more to the issue than I had anticipated. I hope someone can figure this out, as I can no longer reproduce the crashing on my computer. I'm on Windows 10 with Intel graphics right now.

[2018-07-22 05:55] EIREXE opened #20345 "Problems with new parser functionality from typed GDScript and exported NodePaths and get_node"
**Godot version:**
525384d gcc

**OS/device including version:**

Windows

**Issue description:**
When exporting a nodepath the new parser functionality thinks the variable type is the same as the name of that variable, resulting in the following error:

`Parser Error: At 'get_node()' call, argument 1. Assigned type (node_name) doesn't match the function argument's type (NodePath).`

**Steps to re

[2018-07-22 06:00] swarnimarun commented on #20334
This will come up when you use things that are GLES2 or GLES3 specific, especially Particles and Shaders.

Mostly everything else is independent of the change i.e. it works awesome in both.

[2018-07-22 06:04] avrame commented on #8806
Yeah, LODs don't seem to be working for me either.

[2018-07-22 09:32] Bauxitedev commented on #20341
Can't you use `SCREEN_UV` instead of `FRAGCOORD`?

[2018-07-22 09:32] akien-mga commented on #5532
If it's fixed in 3.0+, I think we can close. A fix for 2.1 would be welcome but it's easy to workaround this issue, so not high priority.

[2018-07-22 09:32] #5532 closed

[2018-07-22 09:33] ViktorEvil commented on #20006
sorry to bump this but it still happens on

**Godot version:**
3.0.5 and 3.1 nightly build (21/7)

**OS/device including version:**
macOS 10.13.6

`**ERROR**: Condition ' status != 0x8CD5 ' is true.
   At: drivers/gles3/rasterizer_storage_gles3.cpp:6588:_render_target_allocate() - Condition ' status != 0x8CD5 ' is true.
2018-07-22 10:30:44.525587+0100 3DTest[2818:1430912] 502 error
2018-07-22 10:3

[2018-07-22 09:37] PJB3005 commented on #20334
I can definitely tell you I was going insane on why my lights weren't working yesterday till I realized I was on GLES2.

[2018-07-22 09:44] akien-mga commented on #20106
This should be reported to Intel as a regression in their Windows 10 drivers.

Their forum for reporting graphics drivers bug seems to be https://communities.intel.com/community/tech/graphics/
And this sticky thread has details on the info you should provide in your report: https://communities.intel.com/thread/126119

[2018-07-22 09:44] #20106 closed

[2018-07-22 09:46] swarnimarun commented on #20334
Yeah currently GLES2 port is not 100% complete, so there is that.

[2018-07-22 09:50] akien-mga commented on #19207
Fixed by #20026.

[2018-07-22 09:50] #19207 closed

[2018-07-22 09:57] akien-mga commented on #17252
Cylinder shape implemented by #19540.

[2018-07-22 10:12] akien-mga commented on #17985
Note that publishing on the Windows Store doesn't seem to be frictionless: https://twitter.com/Krita_Painting/status/1019849392835190785

Their 10.8.5 policy which is bothering Krita might also kill the Asset Lib for the Windows Store build.

[2018-07-22 10:17] akien-mga commented on #20086
If Unity messes up with the system input in a way that sends events to thirdparty applications, they really need to fix that. But it's not a Godot issue as such, we're only receiving those events, not emitting.

For the mouse motion after clicking issue, if reproducible, it might be worth opening a new issue.

[2018-07-22 10:17] #20086 closed

[2018-07-22 10:20] volzhs opened #20346 "parse error with typed gdscript"
**Godot version:**

3.1.dev 7478649b2

**OS/device including version:**

Kubuntu 18.04 / Android 8.0 (galaxy s8+)

**Issue description:**

`str()` causes parse error with exported game.
[code]

I tested on Linux & Android.
Running in editor is fine.
I definitely compiled new x11, android templates with latest source code.

**Steps to reproduce:**
1. type like this.
[code]
2. export it
3. run expor

[2018-07-22 10:20] volzhs commented on #20346
cc @vnen

[2018-07-22 10:35] ville2304 opened #20347 "Engine crashes when using nativescript & typed gdscript"
**Godot version:**
525384d8cc45a0976e0afb862c8a54244bbd72e7

**OS/device including version:**
ubuntu 16.04

**Issue description:**
When loading nativescript engine crashes with:
[code]
I don't know if relevant, but earlier version printed "Parser bug: Class '_' not found".

**Steps to reproduce:**
Load gdns: preload("res://bin/simple.gdns").new()

[2018-07-22 10:50] akien-mga commented on #20347
CC @vnen @karroffel

[2018-07-22 10:50] Xrayez opened #20349 "Impossible to override methods with different function signature in typed GDScript"
**Godot version:**
525384d master

**OS/device including version:**
Windows 10 1803 build 17134.165

**Issue description:**
For instance, the parser doesn't allow me to override set/get methods of a class that inherits Object:

[code]

[code]

**Minimal reproduction project:**
[typed-gdscript-set-get.zip](https://github.com/godotengine/godot/files/2216911/typed-gdscript-set-get.zip)

[2018-07-22 11:05] akien-mga commented on #20349
CC @vnen - I don't know if it's a bug or a feature, overriding Object `set` and `get` sounds like asking for trouble.

[2018-07-22 11:14] swarnimarun opened #20350 "Built-In Scripts Should Not be allowed from FileSystem Dock"
**Godot version:**
latest_master custom build

**Issue description:**
When you create a script from the FileSystem Dock that is built-in there is no way to access it so why even allow it.
I have yet to see the code for Built-In Scripts so, and as a curious question what happens when we create a Built-In Script this way, is it instantly cleared from memory or does it just hold space in the current

[2018-07-22 11:33] #20074 closed

[2018-07-22 11:46] paulens12 commented on #19699
I'm using the latest version of Mono and the latest version of Godot, both downloaded today from official websites. It still tries to create that file in G:\Release which doesn't exist.

[2018-07-22 12:03] swarnimarun commented on #20350
Good point. Probably I missed the obvious. lol

[2018-07-22 12:56] #20088 closed

[2018-07-22 13:46] muiroc opened #20354 "typed gdscript: nested class default member initializer ignores outer class scope"
**Godot version:**
525384d

EXAMPLE EDITED (see vnen comment below)

so the scope issue is not limited to the nested classes member initializers (makes more sense)

[code]

[2018-07-22 14:05] #20326 closed

[2018-07-22 14:09] #20323 closed

[2018-07-22 14:10] akien-mga commented on #11077
Note that #20352 made the update of quadrants deferred again, so this issue would technically still be valid. But it's not a bug, it's a design decision that quadrants update should be deferred, otherwise performance takes a great hit. You can call `update_dirty_quadrants()` manually after using `set_cell` if needed.

[2018-07-22 14:15] Clyybber opened #20355 "Editor text rendering issue on specific resolutions"
**Godot version:**
790a81d

**OS/device including version:**
Arch Linux 4.17.8 , Intel i7-4710HQ

**Issue description:**
The text of the `player` `scripts` folder on the left side of the screen has this little stretching artifact. This happens only if godot is fullscreen on a resolution of 1680x1050. This doesn't happen on my 1080p monitor. This doesn't happen in 3.0
[screenshot](https://imgur.com

[2018-07-22 14:22] akien-mga commented on #20354
CC @vnen

[2018-07-22 14:29] akien-mga commented on #20355
The same effect is visible on line 74 in the script editor (more or less same vertical position), so it looks like there's a full line which is stretched to 2 or 3px.

[2018-07-22 14:31] #1701 closed

[2018-07-22 14:48] swarnimarun opened #20356 "Ability to create Resources from the FileSystem"
**Issue description:**
I would love to have the ability to create Resources from the FileSystem using right-click. This will be a important improvement to the Godot's usability as at the moment creating Resources is hidden and newbies aren't really aware of it.
Here is some screen shots of what I would like to see,
![image](https://user-images.githubusercontent.com/19930870/43046767-813719d4-8deb-

[2018-07-22 14:53] JellyWX commented on #16477
Having these issues and there's no way I can actually save the autotile (pressing control-s does nothing, closing/reopening the editor loses changes). How do I save? Never had these issues before...

[2018-07-22 14:55] Zylann opened #20357 "InputEventMouseMotion is generated after each mouse button release"
Godot 3.0.4
Windows 10 64 bits

Repro:

1) Create a new scene and add a single Node in it
2) Put this script on it:

[code]

3) Run the scene, place your move above the game, and click several times without moving the mouse:
when you release a mouse button, it is always followed by a motion event, even if the mouse didn't move.
[code]

[2018-07-22 14:56] ordigdug commented on #20004
@bojidar-bg I'm currently working on a solution to add Array type hint support. I'm most of the way there, hope to have something to submit soon.

[2018-07-22 15:02] akien-mga commented on #20064
This is planned already and worked on by @KidRigger and @hpvb as part of GSoC 2018: https://github.com/KidRigger/godot-videodecoder/tree/throwaway-proto

[2018-07-22 15:02] #20064 closed

[2018-07-22 15:14] stephanngamedev commented on #20331
I discover how to quick fix on MacOs: Double click the titlebar to "shrink", and double click again the titlebar to expand.

[2018-07-22 15:30] akien-mga commented on #19623
There's `IP_Unix` too.

[2018-07-22 15:31] akien-mga commented on #19623
Can't happen before next planned compatibility breakage, moved to the tracker.

[2018-07-22 15:31] #19623 closed

[2018-07-22 15:34] hungrymonkey commented on #20184
tested 2f365bb9bb9f0402100ecd1c05670065fd95acf3

[code]
I cannot reproduce the bug. it seem like this bug might be osx only.

[2018-07-22 15:47] swarnimarun commented on #20356
I didn't want to wait too much so I implemented it myself.
Probably gonna create the PR next.

![resource_from_filesystem](https://user-images.githubusercontent.com/19930870/43047191-43df0d5c-8df1-11e8-8514-18167040f7ba.gif)

[2018-07-22 15:48] akien-mga commented on #20065
Well what is the current shortcut? I don't see this feature at all in the script editor.

[2018-07-22 15:55] akien-mga commented on #20061
@JFonS Might it be related to #19807?

[2018-07-22 15:58] ruckustboom commented on #17041
Has there been any progress on this? I have the same issue, and the HiDPI compatibility options don't help.

- Godot: 3.0.5 (downloaded from godotengine.org)
- OS: Windows 10
- Display: 3840 x 2160 @ 200% (laptop, single screen)

Issues:
- The project list window is tiny
- The cursor is not where it's displayed
- The top menu is cut off

Changes from HiDPI compatibility options:
- Application: No

[2018-07-22 15:59] akien-mga commented on #13394
Duplicate of #13070.

[2018-07-22 15:59] #13394 closed

[2018-07-22 15:59] akien-mga commented on #20058
Duplicate of #13070.

[2018-07-22 15:59] #20058 closed

[2018-07-22 16:02] akien-mga commented on #20057
CC @RandomShaper

[2018-07-22 16:05] akien-mga commented on #20051
This should be reported at https://github.com/touilleMan/godot-python, if an issue happens because of a thirdparty plugin, it should be reported to the thirdparty. If it's then established there that the faults lies in the engine, the plugin developers can help properly debug/describe it.

[2018-07-22 16:05] #20051 closed

[2018-07-22 16:09] akien-mga commented on #20357
Can't reproduce it on Linux (Mageia 6 x86_64, Xorg 1.19.5, Plasma 5.12.2), so assuming it's Windows-specific for now.

[2018-07-22 16:11] AlexHolly commented on #19012
Looks like this is broken again. It jumps to the next but not into edit mode.

[2018-07-22 16:18] akien-mga commented on #20357
To debug, I'd advise starting with a breakpoint here to see if it's Windows sending a spurious event by itself: https://github.com/godotengine/godot/blob/c69de2ba46463adeadf90f38660d6b6e034d7e0b/platform/windows/os_windows.cpp#L390

[2018-07-22 16:20] AlexHolly commented on #20184
x11
Maybe related? Happens when I press on the arrows for the deadzone.

![image](https://user-images.githubusercontent.com/4741886/43047726-e96e7502-8ddb-11e8-8a93-12749e9e060e.png)

[code]

[2018-07-22 16:27] karroffel opened #20360 "Editor crashes at startup after saving a GDScript file with type annotations"
**Godot version:**

3.1.dev.custom_build.89e1b30

**OS/device including version:**

\-

**Issue description:**

I was adding type annotations to my existing game, after changing a GDScript file and saving it, the editor crashes. ~~I don't know what exactly causes the crash.~~

It seems like using

[code]
causes the crash.

Now I can't open my project anymore, the editor crashes on startup.

This i

[2018-07-22 16:29] akien-mga commented on #20360
CC @vnen

[2018-07-22 16:31] AlexHolly commented on #19012
Master branch always.. https://github.com/godotengine/godot/commit/89e1b302b504feb1cea218adcc6fac77c8ae0052

[2018-07-22 16:32] MarianoGnu commented on #16477
The save icon has been moved to an even more hidden menu now, this is a problem for any kind of resource that is saved to disk.

[2018-07-22 16:33] akien-mga opened #20361 "Possible bug in reflection probes handling of ambient sky contribution"
**Godot version:**
Master (89e1b302)

**OS/device including version:**
All.

**Issue description:**
@Rubonnek found this unused variable/assignment in the GLES3 rasterizer: https://github.com/godotengine/godot/blob/master/drivers/gles3/rasterizer_scene_gles3.cpp#L3008

Either it should be removed, or there's a bug and this line should be changed to use `contrib`:
https://github.com/godotengine/god

[2018-07-22 16:37] akien-mga opened #20362 "Bug in calculation of 6-channel AudioRBResampler"
**Godot version:**
Master (89e1b30)

**OS/device including version:**
All.

**Issue description:**
@Rubonnek found unnecessary assignments in `AudioRBResampler::_resample` in the `C == 6` case: https://github.com/godotengine/godot/blob/9f479f096cb50fa8d1215e68c262f110116114ef/servers/audio/audio_rb_resampler.cpp#L101-L117

If compared with other channels calculations, there should likely be interm

[2018-07-22 16:52] dragmz commented on #20327
@abaky Is there a chance that you could attach a project that can be used to reproduce the issue?

[2018-07-22 16:53] akien-mga commented on #19012
Yes, but when talking about regressions, the commit hash is the most important piece of information. Especially if it was not valid 8 days ago and is valid today.

[2018-07-22 16:57] akien-mga commented on #20047
CC @AndreaCatania

[2018-07-22 16:59] Ragnoroct commented on #20065
@akien-mga If you press "ctr+enter" or "ctr+shift+enter". It is a very common shortcut for editors. It doesn't show up in the shortcut list but it still works.

[2018-07-22 17:00] ordigdug commented on #20004
@jahd2602 Can you please thoroughly test out my solution and let me know if you find any issues.

[2018-07-22 17:00] Calinou commented on #17041
@ruckustboom It's still not fixed, see https://github.com/godotengine/godot/issues/8543.

[2018-07-22 17:04] #20035 closed

[2018-07-22 17:17] hungrymonkey commented on #20184
hmmm, i was probably clicking the wrong key because osx seems to have an ui rendering issue

@AlexHolly

you are right

[code]

[2018-07-22 17:30] menip opened #20364 "StaticBody2D not visible by Area with Monitorable off"
**Godot version:**
cfcb6e1

**Issue description:**
Static bodies inherit physics body, so should be able to be seen via area. However, while an area with monitoring flag on and monitorable flags off can see kinematic bodies, it does not see static bodies. Enabling the monitorable flag lets area see both, but this seems to not be in line with area description.

**Minimal reproduction project:**
[St

[2018-07-22 17:31] vnen commented on #20349
It's not about `set` and `get` specifically, the issue is changing the method signature (adding more arguments) when doing so. This is one of the things that GDScript used to allow that is not safe when considering OOP concepts (inheritance and polymorphism).

Say you have a variable of type Object, you can put an instance of this script there. But if the signature of the `get()` method can be dif

[2018-07-22 17:36] vnen commented on #20354
Did this even worked before? This code fails in Godot 3.0.5.

[2018-07-22 17:38] menip commented on #14718
Update: Tested right now, and float now skips zero correctly, but int still broken. With `export(int, -1, 1, 2)` 0 is still shows up as on of possible options.

[2018-07-22 17:49] Xrayez commented on #20349
This is the reason why I created the issue because you stated in your merged PR that it shouldn't break anything. But I've got to agree that it's logical not to break OOP concepts...

I'll try to refactor my code base with that in mind and see if I get any more errors (it spits plenty of errors now, and I'm not sure whether they're related to method signature alone). I don't really need to be able

[2018-07-22 17:50] Chaosus commented on #20354
@vnen my project which uses enums from outer space is no longer compiles too. I think its critical backward compatibility break and must be fixed before alpha..

[2018-07-22 17:51] hilfazer opened #20365 ""core\class_db.cpp:324 - Condition ' !ti ' is true. returned: StringName()" is spammed to console."
**Godot version:**

525384d8cc45a0976e0afb862c8a54244bbd72e7,
v3.1-alpha1
06667b2fcfcf130a9b9e8974c1c7ac0c9ae1de0a - 12-09-2018

**OS/device including version:**

Windows 7 Pro SP1

**Issue description:**

Message "core\class_db.cpp:325 - Condition ' !ti ' is true. returned: StringName()
" gets spammed to output console when game is running and node gets selected in Scene/Remote tab.

Some nodes l

[2018-07-22 17:54] vnen commented on #20354
The code in the OP didn't work before. It worked with constants but not with static functions.

[2018-07-22 17:58] vnen commented on #20349
It's okay to open the issue. There's a lot of things I didn't anticipate because GDScript is very lenient in many aspects. But in this particular case I think it was a flaw in the old GDScript.

I'll leave this up for discussion.

[2018-07-22 18:03] vnen commented on #20345
Do you have a sample project? Your sample code is invalid because you declared a variable called `node` and used a undeclared variable called `road_renderer`. If I change them both to the same name it works.

[2018-07-22 18:18] RandomShaper commented on #20057
I'll have a look.

[2018-07-22 18:23] mrcdk opened #20366 "Typed GDScript doesn't infer the type of function parameters with a default value"
**Godot version:**

Godot master https://github.com/godotengine/godot/commit/4b549faaab40f09756b644d4ad4d9d63e3b5e70c

**OS/device including version:**

Windows 10

**Issue description:**

![https://i.imgur.com/bSurNcd.png](https://i.imgur.com/bSurNcd.png)

[2018-07-22 18:27] MrMinimal opened #20367 "Freeze when checking input event type"
**Godot version:**
Godot_v3.0.5-stable_win64.exe

**OS/device including version:**
Windows 10

**Issue description:**
When using `event.type` in GdScript, the game freezes if the event is a mouse movement.

[code]

**Steps to reproduce:**
Access `event.type` in `func _input(event):` while moving the mouse over the game window.

**Minimal reproduction project:**
[InputTypeBug.zip](https://github.co

[2018-07-22 18:33] AlexHolly commented on #17650
https://github.com/godotengine/godot/issues/5738

[2018-07-22 18:39] vnen commented on #20366
Didn't add this one, but it could be added.

[2018-07-22 18:47] mrcdk opened #20368 "Typed GDScript named enums can't be used as types"
**Godot version:**

Godot master https://github.com/godotengine/godot/commit/4b549faaab40f09756b644d4ad4d9d63e3b5e70c

**OS/device including version:**

Windows 10

**Issue description:**

Typed GDScript doesn't let you use named enums as types.
![https://i.imgur.com/UFSfsLe.png](https://i.imgur.com/UFSfsLe.png)

[2018-07-22 18:57] TigerCaldwell commented on #20047
This issue happens in the 3.0.5 stable build, but it appears to be fixed in the latest branch.

[2018-07-22 19:34] vnen commented on #20368
I thought about this but currently enums are just shorthand for dictionary/constants, they are not a special type. Not sure how to implement it properly.

[2018-07-22 19:44] toger5 opened #20369 "Error parsing class_name token"
**Godot version:**

174cf31d002268f0d5e309b6587c91d62534842d

**OS/device including version:**

macOS

**Issue description:**

when changing the name after class_name
I get the following error
`modules/gdscript/gdscript_tokenizer.cpp:1092 - Condition ' tk_rb[ofs].type != TK_IDENTIFIER ' is true. returned: StringName()
`
**Steps to reproduce:**
change class name:
 for example `class_name Hell` -> `

[2018-07-22 19:50] eon-s commented on #20327
I have meant that the GLES button was added before GLES2 proper, we won't know if this is a bug until we get the full thing on master.

[2018-07-22 19:51] GammaGames commented on #16477
It's more hidden? It's right here

![image](https://user-images.githubusercontent.com/7832163/43049509-413ff22c-8db6-11e8-82d1-819cd3e805f7.png)

[2018-07-22 19:55] ruckustboom commented on #17041
Indeed, thanks, though I can't get around the cursor issue.

Is the menu issue known?

[2018-07-22 20:02] reduz commented on #17041
The menu issue is a known bug in the Intel driver. Make sure to update it.

[2018-07-22 20:07] JellyWX commented on #16477
Okay, yeah found it but still makes no sense as to why Control-S doesn't work. Surely open panes with changes should all be saved om Control-S?

[2018-07-22 20:11] ruckustboom commented on #17041
Ah, good to know, thanks.

[2018-07-22 20:32] aaronfranke commented on #18364
Another minor issue, I noticed that the Lerp method in Godot is called "LinearInterpolate" rather than the shorter and probably more familiar "Lerp". More familiar to users, since it's called Lerp [in Unity](https://docs.unity3d.com/ScriptReference/Vector3.Lerp.html). The name "LinearInterpolate" is also inconsistent with the other method "Slerp" which isn't expanded to "SphericalLinearInterpolate

[2018-07-22 20:43] vnen commented on #20271
Is it possible to use the .NET framework instead of Mono?

[2018-07-22 20:47] frankiezafe commented on #10817
@reduz : hello, as i need geometry shaders for the code i'm working on for the moment, could you point classes to be adapted? it would save several of hours of guessing :) - thanks in advance!

[2018-07-22 20:47] muiroc commented on #20354
sorry my mistake! vnen is right about the static funcs

[2018-07-22 20:50] amcolash commented on #16303
I was running into this issue as well. I thought it had something to do with using the editor theme as a template. Guess it is good to know that everything just needs to have that theme set at a more local level for now.

[2018-07-22 20:56] frankiezafe commented on #10817
@reduz : hello, as i need geometry shaders for the code i'm working on for the moment, could you point classes to be adapted? it would save several of hours of guessing :)
The main issue should be:
- loading the shader from the harddrive,
- binding it correctly (https://learnopengl.com/Advanced-OpenGL/Geometry-Shader),
- ensure the communication with vert & frag parts,
- and making the whole stuff

[2018-07-22 21:05] NathanWarden commented on #18364
I think your suggestion would make the Godot API itself more consistent since the default floating point math function is also called `lerp`. I wouldn't be opposed to it being `Lerp` in C#, and at some point it would make sense for the C++ side to also be called `lerp`. I'm not opposed at all to changing the C++/GDScript side now, but I think API breakages may not be wanted in the 3.x series. I gu

[2018-07-22 21:08] NathanWarden commented on #20271
@vnen That's how Unity does it, they use .Net (Core? I believe) for UWP, and then typically use Mono for everything else.

[2018-07-22 21:12] vnen commented on #20271
@NathanWarden I mean if Godot can already do it, if there's some build flag to enable it.

[2018-07-22 21:14] NQNStudios commented on #12518
As of today on Ubuntu 16.04 running 3.0.5 Mono version stable, I get the same behavior as @maikramer:

Looks like it's been a while. Is anyone still maintaining the Mono version? I might be able to help on this issue with some guidance from someone who's worked with the code base before.

[2018-07-22 21:41] akien-mga commented on #20369
CC @vnen

[2018-07-22 21:51] NathanWarden commented on #20271
@vnen That makes sense. I'm very sure you're on the right track, but I don't think that has been added. I haven't seen it yet at least. I can't imagine it would be too difficult though.

Were you thinking the build flag should just include .Net Core as an additional target (for use only with UWP), or to replace Mono entirely when built with that flag?

[2018-07-22 21:53] Joleeee commented on #20331
This also happends on my Windows laptop. Not on my desktop though. It often happends after debugging for a while without clicking the editor.

[2018-07-22 22:05] NathanWarden commented on #12518
If I remember correctly, this is an issue even with GDScript, where if a script had an error in it then it could no longer generate the variables, thus those values would be lost when the scene is saved.

So, I think the solution would be to have Godot internally know the last successful build of each script, and only update serialized variables in the event of a successful build. It would be set

[2018-07-22 22:12] exts commented on #18364
@NathanWarden I believe since c# is unstable breakage should be allowed with 3.1

[2018-07-22 22:13] vnen commented on #20271
It should replace Mono. I don't see a reason to add Mono stuff to the binary and not use it.

[2018-07-22 23:07] NQNStudios commented on #12518
That's not the problem I'm describing. My script built *successfully*, but its Export variables still didn't show up in the editor without restarting.

[2018-07-22 23:10] ibrahn commented on #20100
set_drag_preview owns the Control passed to it and will delete it when another preview is set.

The first time your input function runs, it passes the Label from metadata and then replaces it with a new Control, deleting the label. On the second execution it will then try to set the drag preview to a Label that has now been deleted.

[2018-07-22 23:47] ibrahn commented on #20100
It's not null, it's a pointer to some freed memory

[2018-07-23 00:37] NathanWarden commented on #20271
That makes a lot of sense, unless UWP builds are going to be available in Godot proper at some point. .Net Core is a very stripped down version of .Net and is incompatible with both Mono and .Net proper in a lot of places.

So, I suppose the idea is this would be a version that people just have to compile from source for now.

How Unity supports both is that they spit out the compile errors to the

[2018-07-23 00:54] NathanWarden commented on #12518
Oops, I confused this with another very similar issue (again). I bet you'd should be safe to try and tackle this bug then :) @neikeq is still the maintainer, but if I'm not mistaken, I *think* his time is somewhat limited right now due to school, but should pick up soon.

[2018-07-23 01:05] #20053 closed

[2018-07-23 02:25] cbscribe opened #20372 "Missing character in Inspector viewing collision layer/mask properties"
**Godot version:**
3.1 4b549fa

**OS/device including version:**
Mac OS 10.12.6

**Issue description:**
See attached screenshot:

![screen shot 2018-07-22 at 7 19 14 pm](https://user-images.githubusercontent.com/3812514/43053979-509bc34e-8de4-11e8-9e64-2b2d6444c761.png)

[2018-07-23 02:31] EIREXE commented on #20345
@vnen it doesn't appear to happen in other projects, i've sent you a message in discord so I can send you the project privately

[2018-07-23 02:45] williamd1k0 commented on #19616
Closing as duplicate of #19427

[2018-07-23 02:45] #19616 closed

[2018-07-23 02:50] vnen commented on #20271
Well, I'm the maintainer of the Godot UWP port (or at least I try to), but I'm not really willing to put much effort into the C# support. So if @neikeq can make it work with .NET I can help with the UWP part.

With UWP we can add the dependencies in the manifest which are installed automatically, so it probably doesn't need any additional library.

[2018-07-23 03:20] NathanWarden commented on #20271
I hear you, it would be quite a bit of effort. Plus, it doesn't have to all be perfect on the first pass either. Thanks for all of your hard work :)

[2018-07-23 03:34] nazgum commented on #20349
I also ran into this today, but not by adding more arguments to my function.

If I make a scene called Enemy.gd, and that scene has a script:

[code]

And I instance this as a New Inherited Scene, say Orc.gd, and give it the following script:

[code]

It fails with: " Parse Error: Function signature doesn't match the parent."

[2018-07-23 05:46] swarnimarun commented on #20349
Here's another error while we are at it,

![image](https://user-images.githubusercontent.com/19930870/43059366-b710324c-8e69-11e8-9539-1d5bc93eb6ef.png)

![image](https://user-images.githubusercontent.com/19930870/43059390-cf72c7be-8e69-11e8-84c9-8fac2e285374.png)

I don't think that is expected.

And sorry about the absurd naming, was just testing things.

[2018-07-23 05:50] kavika13 opened #20373 ""Cannot open include file" for .gen.h files w/ parallel"
This is an intermittent issue. If I build on Windows with a parallel build, I sometimes get this sort of error:
[code]
The specific file changes each time, but it's been a `.gen.h` file so far each time.

If I run the build command again, the build proceeds correctly. I can keep doing this, and it will eventually build successfully.

I picked x64 versions of all the tools whenever available.

Repr

[2018-07-23 06:07] volzhs commented on #20373
it looks same as #5042

[2018-07-23 06:30] akien-mga commented on #20372
Duplicate of #20288.

[2018-07-23 06:30] #20372 closed

[2018-07-23 06:36] akien-mga commented on #20373
Can you check if #17595 helps?

[2018-07-23 06:48] bojidar-bg commented on #20349
@swarnimarun This is unrelated to the issue since default arguments were allowed only at the end even before the typed gdscript PR.

[2018-07-23 06:59] bojidar-bg commented on #16117
Can't confirm on 3.0.2, 3.0.5, or 9eb082004d9d6f9003ca5c0c64e3d5b10b210e60 (old master). Arch linux, 64 bit.

[2018-07-23 07:29] #20327 closed

[2018-07-23 07:32] bojidar-bg commented on #20367
Any errors in the debugger tab or console?

[2018-07-23 08:17] akien-mga commented on #20036
@ronchaine Feel free to PR that, and ideally do it upstream too: https://github.com/Thekla/thekla_atlas

[2018-07-23 08:38] akien-mga commented on #20045
You can clone the environment (see how existing modules do it in `modules/*/SCsub`), and reset the `env_mysql["LIBSUFFIX"]` to `""`.

But there might be a less hacky way, or indeed something that needs to be fixed in our buildsystem, I'll look into it.

[2018-07-23 08:46] akien-mga commented on #20045
Just to give some context, this suffix happens because of those lines: https://github.com/godotengine/godot/blob/0aa7fcd41042f4ba96b259c438e5ea3d220c6cc9/SConstruct#L410-L413

We define those for the build *outputs* of our compilation, so that intermediate static libraries have all the required information to identify the target platform and config (and to avoid them being overwritten when compili

[2018-07-23 08:50] akien-mga commented on #20045
@garyo May I ask for your SCons expertise here? Would there be a cleaner/more idiomatic way to add such suffixes to our own build objects without impacting the lookup of thirdparty static libraries with the `LIBS` env variable? Note that the current system works just fine for linking shared libraries.

[2018-07-23 08:53] AlexHolly commented on #20367
Is "event.type" even a thing in 3.0?
`if (event is InputEventMouseMotion)`

[2018-07-23 09:01] malbach commented on #19628
I should correct my own previous statement : it's also crashing in X11 :cry:
Thanks to @lekoder narrowing down the problem, I found that it is coming from this line :
[code]
in file [rasterizer_scene_gles3.cpp](https://github.com/godotengine/godot/blob/master/drivers/gles3/rasterizer_scene_gles3.cpp) (around line 3931).
The problem is that when the window is reduced to 0 in width or height, the ar

[2018-07-23 09:03] r3d9u11 opened #20375 "Can't load PO file if missing newline at end of file on last msgstr"
**Godot version:**
3.0.2

**OS/device including version:**
linux mint 18.3

**Issue description:**
example for [topic from forum](https://godotdevelopers.org/forum/discussion/comment/24412#Comment_24412)

By default app used en_US locale.
Also added two transliations in text .po files: es_ES, ru_RU (UTF-8).
As I think after locale changed the title of button "New Game" also must be changed, but it

[2018-07-23 09:08] DGWana opened #20376 "Error exporting typed variables"
**Godot version:**
Godot 3.1 latest #20374

**OS/device including version:**
Windows 10 64-bits

**Issue description:**
When trying to assign a type for a variable I want to export I get the following error:
`error(3,7): Export hint type (Object) doesn't match the variable's type (Environment)`
so exported variables are always untyped

![sin nombre](https://user-images.githubusercontent.com/294925

[2018-07-23 09:41] kakoeimon commented on #20208
@slapin  I just checked this, the order is:
Navigation/NavigationMeshInstance/Map
Map is the Spatial that holds all the map with their collisions.

[2018-07-23 10:03] akien-mga commented on #20367
Indeed, `event.type` is not valid in Godot 3.0, it's from the old 2.1 InputEvent system.

You can use `event.get_class()` if you want to know its class, or better as suggested by @AlexHolly, you likely want to compare it with other classes with the `is` inheritance check.

The game does not freeze, it just raises an error in the editor's debugger.

[2018-07-23 10:03] #20367 closed

[2018-07-23 10:04] akien-mga commented on #20376
CC @vnen

[2018-07-23 10:05] sanja-sa commented on #7945
Godot 2.1.5 RC bug still present and with changing orintation too issue: #9295

[2018-07-23 10:12] malbach commented on #20160
Hi,
I can confirm the bug with the test project, even on latest master.
As I'm waiting for another PR to be (in)validated, I won't modify my fork or create a new branch for that but I can offer a solution :
add a call to `update_particles()` just before setting `emitting`
[code]

[2018-07-23 10:36] RandomShaper commented on #20057
I've tested on 3.0.5, not being able to reproduce the issue.

@AinaSG, would you try on 3.0.5? If you still get the issue, here I'd need your exact reproduction project.

[2018-07-23 11:13] nagasawamaki commented on #10999
me too...
using 3.0.5

[2018-07-23 11:39] Rabocop opened #20377 "Blend shapes (via gltf blender exporter) scales up the whole geometry"
Version:
Godot v3.1.dev.calinou.e2b7a68 in the video below but it happens the same in v3.05 stable

OS/Card
Ubuntu 16.04 / GTX850M
Ubuntu 18.04 / GTX1060
Issue:

Blend shapes are correctly imported but they scales up the whole geometry  if it's skinned
It doesn't happen if you don't export "skinning" for static models.
Tested also with simple geometry with one bone and checking/unchecking all the

[2018-07-23 12:10] AlexHolly commented on #20100
Do you know why the Node gets freed? Why not simply remove it from the tree.

[2018-07-23 12:16] eska014 commented on #20045
`LIBSUFFIX` is appended to built static libraries' names, `LIBSUFFIXES` is used for lookup.
`LIBSUFFIXES` defaults to `LIBSUFFIX`, so standard suffixes should be append to `LIBSUFFIXES`.

[2018-07-23 12:23] DGWana opened #20378 "Spatial translation not updating transform in inspector"
**Godot version:**
Godot 3.1 17b44e44b9a34e540cf48ee0a7335ecefcd0c3b7

**OS/device including version:**
Windows 64-bits

**Issue description:**
When changing the translation, rotation or scale of a spatial node in the inspector, the transform values doesn't update. Visually the node updates correctly. If transform is changed, the corresponding values (translation, rotation or scale) change correct

[2018-07-23 12:39] garyo commented on #20045
Yes, that's similar to what I was going to suggest.

[2018-07-23 12:40] akien-mga commented on #20045
Thanks for the confirmation :) I've pushed #20380 to fix it.

@intra32 Could you test this PR and see if it fixes the issue for you?

[2018-07-23 14:04] jahd2602 commented on #20004
@ordigdug  I tested your branch ![ordigdug/godot/Inspector-add-array-typehint-support](https://github.com/ordigdug/godot/tree/Inspector-add-array-typehint-support) and is auto-detecting the type when I try with:
[code]

But, after assigning nodes to the array, it looks like this:

![image](https://user-images.githubusercontent.com/2841740/43081062-882818c0-8e67-11e8-9c09-d284d6acbaec.png)

[2018-07-23 14:19] akien-mga commented on #20020
Duplicate of #3696, but since this one has a more detailed proposal of how it could be implemented, I'll close the older one.

[2018-07-23 14:19] akien-mga commented on #3696
Closing as superseded by #20020 which describes the issue too and a potential feature that would fix it.

[2018-07-23 14:19] #3696 closed

[2018-07-23 14:31] akien-mga commented on #19988
Indeed, this was fixed by #19398.

[2018-07-23 14:31] #19988 closed

[2018-07-23 14:38] slapin commented on #20208
Thanks everyone, this looks like nav3d example issue as it have order
reversed.

On Mon, Jul 23, 2018 at 12:42 PM, kakoeimon <notifications@github.com>
wrote:

[2018-07-23 15:06] coffeeDrake commented on #15988
I curently experience the exact opposite of a problem with godot 3.4. As this issue is still open, I assume that there where no changes to the behaviour mentioned above.

[code]

does not produce the same result, as:
[code]
That thing runs in it's own thread, but that shouldn't make a diffrence.

[2018-07-23 15:09] arvenjadeaguilar opened #20382 "Splashscreen keeps on and off in the latest build"
Godot version: 3.1.dev
commit 15ee6b781bd3f946790fbe3d20be52d4f621b99a

OS/device including version: MacOSX High Sierra

Issue description: For the Exported APK it keeps flashing the splashscreen on and off until it close the application.

Steps to reproduce:
1. Pull the latest build at that time its on commit 15ee6b781bd3f946790fbe3d20be52d4f621b99a.
2. I compile the godot.app using the http://do

[2018-07-23 15:45] vnen commented on #20376
I'll investigate this, but FIY you can omit the export hint if you're adding a type hint: `export var environment : Environment`

[2018-07-23 15:48] mhilbrunner commented on #19207
Note that https://github.com/godotengine/godot/issues/19628 is still open and occuring :)

[2018-07-23 15:52] MrMinimal commented on #20367
You were absolutely right, my debugger did not show any errors. I suspect it was because of multiple Godot instances running on Windows, debugger and console output seem to have a problem with that.

My bad!

[2018-07-23 16:15] DGWana commented on #20376
Ok, thanks. That works but then it shows all types of files when loading from the file system plus don't let me make a new resource on the fly.

[2018-07-23 16:31] KellyThomas commented on #20218
Fixed with #20229

[2018-07-23 16:31] #20218 closed

[2018-07-23 16:42] karroffel commented on #15988
@coffeeDrake that is expected, if you check the documentation, it says "it will continue to check the other patterns", so this is actually expected.

[2018-07-23 16:59] KierBear11 opened #20383 "iOS export error: Condition '!da ' is true. returned: ERR_CANT_OPEN"
**Godot version:**

master branch, Jul. 22, 2018
commit hash: 15ee6b781bd3f946790fbe3d20be52d4f621b99a

**OS/device including version:**

rMBP 2015, macOS 10.13.3

**Issue description:**

When exporting to iOS, the export fails and returns the following error messages:

[code]

All required launch screen images and icons have been included, and the team_id field has been filled.

**Steps to reprod

[2018-07-23 17:14] squished-01 commented on #20178
Confirmed and it's annoying.   Appears to be related to generating a preview thumbnail of the scene underneath the scene tabs in the top center.

[2018-07-23 17:15] DualMatrix commented on #16863
Camera2D currently has two different properties both named `offset` (Regular offset and the one split up in V and H) that are two totally different things, this is really confusing.

[2018-07-23 17:56] migueldeicaza opened #20384 "--generate-mono-glue fails to run"
There was a similar problem logged before, but was closed with the error indicating it had been fixed:

https://github.com/godotengine/godot/issues/12361

**Godot version:**

godot from github ec85fd554b0ae9861fddabbda1667a93bdd52450 (July 23rd, 2018)

**OS/device including version:**
MacOS

**Issue description:**

Followed the instructions to generate the Mono Glue from here:

http://docs.godoten

[2018-07-23 19:07] vybr opened #20386 "Changing the position of a Path2D does not properly update the position of PathFollow2D nodes"
**Godot version:**

3.0.5

**Issue description:**

Here's an image to show what I mean: https://i.imgur.com/OkT3h2D.png
The red dots are the ACTUAL positions of the path followers (they have random v and h offsets).
The blue line is the path with its **position currently set to (-16, 0).**
The magenta line is the original path position.

The frogs are shown at the correct place but their actual po

[2018-07-23 19:10] jotson commented on #19800
I don't fully understand matrix multiplication BUT... it looks like this _is_ working except that `world_pos` isn't undergoing a projection transform. If you remove the camera or make it not current then you can see that your code works. It's just that the `player` is being transformed by the camera but `world_pos` is not.

It seems like you should be able to do something to `world_pos` with `PROJ

[2018-07-23 19:20] jotson commented on #19800
This **almost** works but it seems to ignore camera position and zoom:

[code]

[2018-07-23 19:57] akien-mga commented on #20384
Thanks for the report Miguel :)

CC @neikeq

[2018-07-23 20:07] brmassa opened #20387 "C#/Mono [Export] List<>variable"
Currently using [Export] with a C# List produces nothing on the inspector. Even worse, when it have a initial value (event an empty list), it crashes the editor.

[code]

[2018-07-23 20:11] brmassa opened #20388 "C#/Mono [Export] custom type variable"
Currently using [Export] with a custom Class produces nothing on the inspector.

[code]

[2018-07-23 20:39] brmassa opened #20389 "Drag a Node to reference field"
1* Create a custom script with a **Export** _reference_ variable.
2* It will show a field to select or drag a reference.
3* try to drag a packet scene Node from hierarchy. It works!
4* try to drag a sub Node from this scene. It does not work, because the moment you click on the child node, it changes the inspector.

Solution:
Godot should DO not _select_ the node when the user are just draging it

[2018-07-23 21:01] olivergs opened #20390 "OS.get_datetime_from_unix_time does not work with negative times for dates before epoch"
**Godot version:**
3.0.2

**OS/device including version:**
Linux, Fedora 28 (Did not test on other OSes)

**Issue description:**
OS.get_datetime_from_unix_time does not work with negative times for dates before epoch

**Steps to reproduce:**
Execute the following GDScript code

[code]
It only prints "The datetime: "

[2018-07-23 21:01] akien-mga commented on #20384
@migueldeicaza Actually, the compiled binary with the Mono module has a `.mono` suffix, as seen in the log:
[code]
So you're actually running the non-Mono binary here:
[code]
I definitely need to work on proper arguments validation to make such issues clearer.

[2018-07-23 21:20] fire commented on #2612
https://github.com/godotengine/godot/pull/12678 is merged.

[2018-07-23 21:32] neikeq commented on #20013
The error `The loaded assembly is out of sync` is expected if you upgraded to a newer Godot version, but it shouldn't keep happening after building the project. The cache errors are to be expected if the assembly is out of sync. I tested on a731bd58 master and with 3.0.4, and the errors don't appear after building the project.

`modules/mono/csharp_script.cpp:1957 - Condition ' !valid ' is true. r

[2018-07-23 21:33] neikeq commented on #20013
If you can still reproduce the error after building the project, could you share an example project for testing?

[2018-07-23 22:02] neikeq commented on #16863
**Methods**

- `Dictionary`: `erase_checked` should be removed (this method is not exposed to scripts).
- `Dictionary`: `erase` should be changed to return `bool` to determine whether the pair with the specified key was removed or not (see `erase_checked` implementation).

[2018-07-23 22:04] neikeq commented on #20388
Only fields and properties from the script's class can be exported. This is the way Godot works by design.

[2018-07-23 22:10] malbach commented on #20160
@Zylann if you don't want to wait for a patch, you can try to modify your script to wait one (or more) frame before turning emitting on
A quick fix from your test project :
[code]
The particles will be turned on when you release the arrow keys
Modify fMin and/or fMax to change the particles apparition time/delay

[2018-07-23 22:20] zedutchgandalf opened #20392 "String formatting no longer works with typed variables"
**Godot version:**
3.1.dev
Commit: 4b549fa

**OS/device including version:**
Windows 8

**Issue description:**
String formatting using the % operator no longer works with typed variables.

**Steps to reproduce:**
The following code snippet
[code]
gives this error:
[code]

The following two functions do work as they should:
[code]
and
[code]

[2018-07-23 22:48] Ranoller commented on #18719
![polygondeform](https://user-images.githubusercontent.com/11712737/43106885-ec103b10-8eda-11e8-92d1-1a7713ef5bdd.gif)

Scalating the parent node of a structure like that give that result... there is something wrong between skeleton -> bone -> polygon

[2018-07-23 23:03] austinirvine commented on #19211
having same issue

[2018-07-23 23:05] Ranoller opened #20393 "Ctrl + Click to get function definition in GDscript only works if function is declarated before the call"
**Godot version:**

Godot 3.1dev 17/07/2018

**OS/device including version:**

Win7 and probably all systems

**Issue description:**

Doing control + click in a user function inside a script only scrolls to that function if this was declarated previously to the clicked text.

[2018-07-23 23:38] dodgyville opened #20394 "Renaming script causes crash due to cyclic resource inclusion"
**Godot version:**
godot 3.1.x (trunk)

**OS/device including version:**
linux, nvidia

**Issue description:**
Went to rename a file in the editor, I think there may have been an existing resource with the same name (although I can't find it) the whole editor crashes.

[code]

[2018-07-23 23:39] dodgyville opened #20395 "OGV files throw errors on startup (but play perfectly)"
**Godot version:**
3.1.x (trunk)

**OS/device including version:**
linux, nvidia

**Issue description:**
On start up, terminal shows each OGV file in my project throws this error, although the files play perfectly in the project.

ERROR: open: Unrecognized binary resource file: res://Videos/<videofile>.ogv
   At: core/io/resource_format_binary.cpp:854

[2018-07-23 23:42] Norrox opened #20396 "VisualShader editor shader_param and editor layout bug"
**Godot version:**
Godot Engine v3.1.dev.calinou.4b549fa

**OS/device including version:**
windows 10

**Issue description:**
1st issue:
Shader_param sub tab does not show when i have a uniform set in the visual shader editor.
UNLESS i press some of those buttons that are shown in the picture, it somehow updates the engine.
and if i change the shader param and try to run the game it will not react

[2018-07-24 00:26] Zylann opened #20397 "Creating a PhysicalBone crashes the editor"
Godot master 779c9d638e7046f285b301aa79f7cf50aa4c2f1c
Windows 10 64 bits

1) Create a new scene with a root `Node`
2) Create a child node of type `PhysicalBone`: editor crashes.

![image](https://user-images.githubusercontent.com/1311555/43109799-91114e88-8ee0-11e8-8752-f542a3470e27.png)

[2018-07-24 00:33] aaronfranke opened #20398 "Add a way to directly perform a Raycast from a Camera"
**Godot version:** 3.0.5 +

https://godot.readthedocs.io/en/latest/classes/class_camera.html

The Camera node has some methods for assisting with projecting rays, but none of these methods actually perform full Raycasts. I think it would be useful to have a method which returns a [RayCast](https://godot.readthedocs.io/en/latest/classes/class_raycast.html#class-raycast) object containing a RayCast

[2018-07-24 00:43] Zylann opened #20399 "Layer editor shouldn't close each time one is toggled"
Godot 3 master 779c9d638e7046f285b301aa79f7cf50aa4c2f1c
Windows 10 64 bits

In Godot 3.0.5, clicking on collision layer mask editor would open a popup with checkboxes, and you could toggle one or more without closing the popup.

In master the new popup closes everytime. It would be nice to keep the previous behaviour.

[2018-07-24 00:44] austinirvine commented on #17710
@marcusViniciusMP How did you fix it?

[2018-07-24 00:56] Zylann commented on #20398
Why not just:
- Putting a RayCast node as child of the camera pointing forwards?
- Or doing the raycast via code using `-transform.basis.z`?

[2018-07-24 01:41] cosmicchipsocket commented on #16392
Ran into this while doing a test import of a hollow pipe mesh from Blender. I have an Area attached to the bottom of my player-controlled object which is used to determine whether said object is on the floor. Due to this bug, it was impossible to jump while inside the pipe (and a few other floor-only physics tweaks weren't being applied).

I'm not sure why Godot would need a new convex decompositi

[2018-07-24 01:45] cosmicchipsocket commented on #20361
I was wondering why the Ambient Sky Contribution slider wasn't doing anything!

[2018-07-24 02:48] voxelv commented on #17326
@Xrayez, unfortunately your workaround didn't work for me, as I'm trying to use `Node._unhandled_input()` under the Viewport (rather than `CollisionObject._input_event()` as you mentioned).

I'm just getting into Godot, and after about 3 months of fiddling around, the ViewportContainer and Viewport nodes are the correct solution to the functionality I'm trying to implement, but this flaw (that `_u

[2018-07-24 02:52] FlashDaggerX opened #20401 "InputEventKey Instance IDs climb when mouse buttons are pressed."
**Godot Version**
3.0.5.stable.custom_build

**OS**
Arch Linux _4.17.8-1-ARCH_

**Issue Description**
InputEventKey instance IDs climb, even if it's not an InputEvent of that type.

**Steps to reproduce**
Everything is already printed out in stdout. Just play the main scene (_Battleground.tscn_) and click a few keys / mouse buttons.

**Files / Video Links** _Look below for a cut down project file.

[2018-07-24 02:58] FlashDaggerX commented on #20401
Closing, totally forgot about Inheritance.

[2018-07-24 02:58] #20401 closed

[2018-07-24 03:53] mysticfall commented on #17326
Yes, I can confirm that the suggested workaround doesn't work for the master branch. I had to move event handling code out of the viewport to mitigate the problem but it'd be nice if we can have a proper fix soon.

[2018-07-24 05:53] mrzapp opened #20402 "Exported variable of type float is mistaken for an int if not explicitly using decimals"
**Godot version:**
v3.1.dev.custom_build.b665809 (godot-git from the AUR)

**OS/device including version:**
Manjaro 17.1.11

**Issue description:**
An assignment of float value fails, with variables both indicated as type "float", as the exported variable is still considered an int, unless a decimal place is added

**Steps to reproduce:**
1. Create an exported variable of type float and save the s

[2018-07-24 06:11] AndreaCatania commented on #16392
This issue could be a bit weird to explain, the problem is that a concave shape has not an inner area, indeed you can imagine it composode of foils that give only a collision but doesn't define an area.

So the concave box doesn't have an area even if you can visualize it with your brain. do this test make this concave box a static body and put another rigidbody inside it, you will see that you th

[2018-07-24 06:15] bojidar-bg commented on #20397
CC @AndreaCatania

[2018-07-24 06:17] #20384 closed

[2018-07-24 06:19] akien-mga commented on #20384
I enhanced the documentation a bit to make this suffix clearer. (Should be live on the `latest` docs domain in ~30 min.)

[2018-07-24 06:20] bojidar-bg commented on #20393
Somewhat related: #5973

[2018-07-24 06:30] bojidar-bg commented on #16788
I think the current behaviour should be changed, since it hampers plugin-makers a bit.
For example:
[code]
The creator of the TestNode script tried to make it similar to core classes by adding rotation in both radians and degrees. Unfortunately, a script for his custom node currently cannot specify angles in degrees, since it won't update the real rotation as the setter won't get called.

I'm not

[2018-07-24 06:35] slapin opened #20403 "Crash with target=release in CSGBrushOperation::merge_brushes"
With latest master when I use a few CSGBoxes I see this crash:
(Linux, latest master)
[code]

[2018-07-24 06:42] fracteed commented on #19800
thanks @jotson for trying to solve this! I also ended up trying very matrix combo I could think of, but couldn't solve it. I think it is because it is missing the camera and inverse camera matrices that the spatial shader has. My knowledge of matrix math is very limited, so I am not sure.

I also had tried feeding in the player position as a uniform. It does work , but it means you need a separate

[2018-07-24 07:00] akien-mga commented on #19296
Fixed by #19693.

[2018-07-24 07:00] #19296 closed

[2018-07-24 07:14] bojidar-bg commented on #20389
Nodes are not references, and you cannot assign nodes to export variables. Instead, try NodePath.

[2018-07-24 07:35] akien-mga commented on #20392
CC @vnen

[2018-07-24 07:36] akien-mga commented on #19211
What command are you using to build, with what NDK version and is the issue 100% reproducible?

[2018-07-24 07:41] mattiascibien commented on #20390
https://github.com/godotengine/godot/blob/41b962fc9c5c4517a1665aa4b0f18d486ac49c6a/core/bind/core_bind.cpp#L718-L721 It seems that it should not be possibile to use a negative number as the function accepts only a uint. @akien-mga can you confirm this is the case?

[2018-07-24 07:41] akien-mga commented on #20395
Please be more specific about your Godot version (commit hash, or at least date).

There was a fix to OGV import 20 days ago: #19937
If you're on a commit newer than that, but used the master branch previously, make sure to delete your `.import/` folder (or just the files in there which reference the ogv files).

[2018-07-24 08:15] akien-mga commented on #20402
CC @vnen

[2018-07-24 08:16] mattiascibien opened #20405 "MinGW cross-compilation broken due to std::futures"
It seems that under GCC on MinGW w64 futures are not handled https://stackoverflow.com/questions/45565412/invalid-use-of-incomplete-type-using-stdfuture

**Godot version:**
`bfe52fc`

**OS/device including version:**
Ubuntu 18.04 under WSL (installed package `mingw-w64`).

**Issue description:**
Cannot compile under MinGW due to error
[code]

**Steps to reproduce:**
Compile with `scons p=windows t

[2018-07-24 08:18] akien-mga commented on #20403
Can you build with `target=release debug_symbols=full` (and make sure not to strip the binary of course) to get more details in the stacktrace?

[2018-07-24 08:33] mrzapp commented on #20402
It seems that the export (type) is only used as an instruction to the inspector and not considered a "real" static type. Using this code might work:

[code]

I will test this once the engine is done compiling

[2018-07-24 08:37] akien-mga commented on #20390
@mattiascibien That's how it was implemented in 866e47ec by @Razzlegames, but that could be changed.

[2018-07-24 09:05] HAMSAMS commented on #20275
Update:

I noticed that removing all text from the created GDscript and start typing when the script file is empty solve the issue ....I consider this as closed for windows 7 case....

I also tested with windows 10, its all working fine without even removing test,

[2018-07-24 09:06] #20275 closed

[2018-07-24 09:08] r3d9u11 commented on #9398
@akien-mga Hi. Is it possible to use .po files for project translation (Godot 3.0.5)?

[2018-07-24 09:09] #20045 closed

[2018-07-24 09:12] akien-mga commented on #20405
I think @hpvb built 3.0.5-stable binaries with MinGW, so maybe it works in some configurations.

[2018-07-24 09:16] mysticfall commented on #9398
I wonder if we can support Gettext specific features like plural forms, for example:
* https://www.gnu.org/software/gettext/manual/gettext.html#Plural-forms

[2018-07-24 09:18] akien-mga commented on #9398
Yes, just load a .po file in Project Settings > Localization.

It should be possible, though I doubt the current implementation we have supports it (`core/io/translation_loader_po.cpp`).

[2018-07-24 09:19] zedutchgandalf commented on #20402
Why do you still need the export type if the variable has a static type? That seems a bit redundant...

[2018-07-24 09:23] r3d9u11 commented on #9398
@akien-mga it [doesn't work](https://github.com/godotengine/godot/issues/20375) for me, I don't understand why :(
I have es_ES.po file:
[code]
But nothing happens after locale changed. I have broken file format?

[2018-07-24 10:00] mrzapp commented on #20402
@zedutchgandalf In this particular case it's redundant, but:
1. If I leave it out, the user can input float values into the inspector, even though I want an int
2. There are more features of the export hint than just indicating the type, such as [range definitions](docs.godotengine.org/en/latest/getting_started/scripting/gdscript/gdscript_basics.html#exports)

[2018-07-24 10:00] letheed commented on #16788
My issue was a bit poorly formulated looking back, but I think I'm not the only one who wishes we had something like properties without the need for `self.`.

@bojidar-bg inheritance was indeed the biggest motivation for me, though I should probably have mentioned that in my first comment then.

[2018-07-24 10:16] davidanes commented on #18433
Same here. Any workarounds?

[2018-07-24 10:22] xphere commented on #18433
Setting the kinematic body safe margin to a very very small value should mitigate the sliding.

[2018-07-24 10:43] #20405 closed

[2018-07-24 10:43] akien-mga commented on #20361
Well it should work for most objects, it's only for Reflection Probe where it was not directly taken into account - but it's still taken into account via the Ambient Sky Contribution on the objects that the Reflection Probe reflects, so it's hard to say if there's really a bug in the end.

[2018-07-24 10:53] dodgyville commented on #20395
Yesterday's version. The .import directory was deleted Friday and everything re-imported (using Friday's trunk). It's not a fatal error but it does flood output.

[2018-07-24 10:59] akien-mga commented on #20375
Your PO file fails loading:
[code]

Apparently Godot chokes on the `#, fuzzy` before the header's empty `msgid`.

[2018-07-24 11:04] akien-mga commented on #20375
Ah no, the issue is that you're missing a newline character at the end of the file on the last msgstr, so Godot doesn't finish parsing it properly.

[2018-07-24 11:35] Zylann commented on #16863
@akien-mga but it would break GDNative API compatibility, isn't it?

[2018-07-24 11:46] akien-mga commented on #20395
Could you share a project that reproduces the issue?

[2018-07-24 11:54] akien-mga commented on #19997
It sounds like you selected Pan Mode by mistake?
![screenshot_20180724_135319](https://user-images.githubusercontent.com/4701338/43136452-149aef94-8f49-11e8-82fe-6a623909e652.png)

[2018-07-24 11:58] akien-mga commented on #19994
I don't know where the exact code is located, but this should point at potential culprits that might be worth reviewing:
[code]

[2018-07-24 11:59] akien-mga commented on #19990
Indeed, duplicate of #18622.

[2018-07-24 11:59] #19990 closed

[2018-07-24 12:01] akien-mga commented on #20202
Duplicate of #19991.

[2018-07-24 12:01] #20202 closed

[2018-07-24 12:02] #19909 closed

[2018-07-24 12:19] akien-mga commented on #19987
Are you sure this code ever worked as is? I don't think `InputEventAction` is ever sent directly to `_input` or `_unhandled_input`, otherwise you'd get duplicated events (e.g. if the <kbd>Left</kbd> key is bound to the `ui_left` action, you'd get both an `InputEventKey` and an `InputEventAction` at the same time referring to the actual same event).

You can just remove your `if event is InputEvent

[2018-07-24 12:48] neikeq commented on #16863
@akien-mga Wouldn't that break forward compatibility? Are we allowed to make changes that potentially make 3.1 scripts incompatible with 3.0?

[2018-07-24 12:48] #20356 closed

[2018-07-24 12:49] #20246 closed

[2018-07-24 12:50] r3d9u11 commented on #20375
@akien-mga ok, there is my changed .po:
[code]
and now I can see only translated button (I can't switch to default English title):
![screenshot at 2018-07-24 15-49-22](https://user-images.githubusercontent.com/15020827/43138963-032ce0e0-8f40-11e8-9041-4afc86d58b1b.png)

[2018-07-24 12:55] akien-mga commented on #16863
@neikeq Yes, 3.1 scripts are already incompatible with 3.0 (`class_name`, tons of API changes with new optional parameters or brand new properties/methods, new classes, etc.). We only take care of backward compatibility, not forward.

[2018-07-24 12:56] akien-mga commented on #20375
Yeah I've seen that too. It works on the master branch, but not fully on the 3.0 branch. I'm not sure why yet.

[2018-07-24 12:58] akien-mga commented on #20375
That's because the 3.0 branch needs this fix backported: #19213.

In the meantime, you can just rename "Language" to "X-Language".

[2018-07-24 13:01] Rattel opened #20408 "Rigid bodies fall through trimesh / Collada-generated static bodies"
**Godot version:**
v.3.0.stable.official

**OS/device including version:**
Lubuntu 18.04, AMD E1-6010 APU with AMD Radeon R2 graphics

**Issue description:**
Rigid bodies (mostly ones that have box shapes with changed extents or trimesh shapes generated from meshes) tend to 'fall' through static bodies that have trimesh / Collada-generated shapes. Default box-shaped rigid and static bodies work fi

[2018-07-24 13:06] MarianoGnu commented on #16477
Control-S saves the scene, not everithing openned/changed. if the TileSet is not local to the scene it wont be saved

[2018-07-24 13:07] r3d9u11 commented on #20375
@akien-mga I tried to rename `es.po` to `es_ES.po`, `Language: es` to `Language: es_ES`, call TranslationServer.set_locale("es_ES"). But without success

[2018-07-24 13:11] r3d9u11 commented on #20375
@akien-mga Ah, I mean rename parameter Language to X-Language, not value :-D
Thank! It work

[2018-07-24 13:12] r3d9u11 commented on #20375
@akien-mga leave this issue to be opened?

[2018-07-24 13:13] akien-mga commented on #20375
Yes, until #20407 is merged.

[2018-07-24 13:26] AlexHolly opened #20409 "Rename an "Instanced Scene as Node" disables "Editable Children""
https://github.com/godotengine/godot/commit/89e1b302b504feb1cea218adcc6fac77c8ae0052
x11

It only happen if it's a name that the node never had before.

![peek 2018-07-24 15-22](https://user-images.githubusercontent.com/4741886/43141195-a0ca2c76-8f55-11e8-9968-034fa812be30.gif)

[2018-07-24 13:46] brmassa commented on #20388
:/ so there is not even an interest on implementing such useful feature?

[2018-07-24 14:31] GammaGames commented on #16477
Why is the bitmap automatically saved then? It shouldn't be part of the scene, it should be part of the tileset and yet you don't have to save it manually through the menu.

[2018-07-24 14:38] slapin commented on #20403
Did that:

[code]

[2018-07-24 14:48] MarianoGnu commented on #16477
you mean the bitmask? dunno, it shoudn't

[2018-07-24 14:49] MarianoGnu commented on #16477
and btw, this screenshot doesn't show curren't master, the save icon is not there anymore since the inspector rewrite
![imagen](https://user-images.githubusercontent.com/1776044/43146436-9daa0f8e-8f37-11e8-9c0c-553f458eba9a.png)

[2018-07-24 14:50] marcelofg55 commented on #19985
I've just checked this and the problem is that `Rect2i r = node->_edit_get_rect();` returns an empty Rect (at tile_map_editor_plugin.cpp:541). Not sure what broke that function for TileMap.

[2018-07-24 14:55] slapin commented on #20403
I need to mention if it was not clear, that if I build with target=release_debug (and tools not disabled) this problem does not occur.

[2018-07-24 15:04] gdesecrate opened #20410 "get_viewport().warp_mouse does not works on linux"
**Godot version:**
2.1

**OS/device including version:**
Linux/Windows

**Issue description:**
On linux mouse behavior differs from windows.
Seems like no warping is happening while on windows warp is automatical after calling Input.set_mouse_mode(Input.MOUSE_MODE_CAPTURED);

**Steps to reproduce:**
#on linux
print(get_viewport().get_mouse_pos())
get_viewport().warp_mouse(get_viewport().get_rect()

[2018-07-24 15:08] Marshal313 commented on #20013
I couldn't reproduce the error again, And I think it's the same thing you said about Upgrading to a newer version because I was using 3.0.2 with this project and I got the error on 3.0.4 !
I'll try again to see if I can reproduce the situation.

But, I did rebuild the project and the error kept happening !
It went away only after I removed .csproj and .sln files.

[2018-07-24 15:12] ruckustboom commented on #17041
FYI, the driver update fixed the menu issue and the cursor issue for me.

[2018-07-24 15:20] akien-mga commented on #20410
On Linux those things are often updated in the next frame (at least in the way the X11 queries are done currently), so you might need to wait one frame to get the new value. Try this:
[code]

[2018-07-24 15:23] akien-mga commented on #17041
I assume it was the same situation with a broken Intel driver for @BraindeadBZH, as I don't see what would have caused such regression between 3.0 and 3.0.1.

Please comment if you can still reproduce the issue with latest Intel drivers.

[2018-07-24 15:33] lupoDharkael opened #20412 "GDNative very slow in master"
**Godot version:**
slow version: master https://github.com/godotengine/godot/commit/4b549faaab40f09756b644d4ad4d9d63e3b5e70c
working ok: Godot_v3.0.5-stable_x11

**OS/device including version:**

Fedora 28: Linux 4.17.7-200.fc28.x86_64
Mesa 18.0.5
VGA compatible controller: Intel Corporation 3rd Gen Core processor Graphics Controller
Kernel driver in use: i915
VGA compatible controller: NVIDIA Cor

[2018-07-24 15:38] akien-mga commented on #20410
Is it 2.1 (from 2016) or a self-compiled build from the 2.1 branch? (~2.1.5)

Can you reproduce the issue on Godot 3.0.x too?

[2018-07-24 15:41] ibrahn commented on #18674
#20411 brings this down to much more acceptable levels.

I think there may be some possibilities in sharing data for substrings.
Perhaps expanding `StrRange` into something COW aware, or even going one deeper and looking at sharing data for Vector subsequences?
But I think that's a much longer adventure for a another time.

[2018-07-24 15:45] akien-mga commented on #20412
To compare official builds like `Godot_v3.0.5-stable_x11.64` and self-compiled builds, you need to make sure to build with the same options as the official binaries.

What compilation option are you using? The official editor binary for Linux is built with:
`scons p=x11 CC=gcc-8 CXX=g++-8 tools=yes target=release_debug use_static_cpp=yes use_lto=yes debug_symbols=no`

[2018-07-24 15:47] gdesecrate commented on #20410
Godot_v2.1.5-rc2_x11
I do not have 3.x and do not plan to install it until it is stable and got gles2.

The issue makes game loze zero-point. So when you start moving mouse the last motion frame from previous motions affect 1st frame on new motion.

Really ruins FPS/TPS experience even if you filter it hard.

[2018-07-24 16:07] ibrahn commented on #18674
Oh, and because numbers are always fun and bojidar-bg's test script is neat:

With #20411 on `Intel Core i5-4570 CPU @ 3.20GHz`
[code]

[2018-07-24 16:12] #20375 closed

[2018-07-24 16:13] vnen commented on #16788
Plugging in annotations (#20318), we could add one to force the setget to always be used. With the new parser changes it's possible to fix this at compile time, so there should not be any performance hits for the other variables.

[2018-07-24 16:18] ruckustboom commented on #17041
This issue is not resolved. The focus of this issue is the project list window, which is still broken.

[2018-07-24 16:24] theAbsolute96 opened #20415 "A problem with 2 controls"
Hello people,

I have a certain problem with these 2 controls:
https://image.ibb.co/f5hbG8/Screenshot_13.png
"Control" and "Control1" have the same script:
[code]

What I want to do is both of them printing their name. However it only prints the name of "Control2". If I put "Control" under "Control2" it only print the name of "Control".

[test.zip](https://github.com/godotengine/godot/files/222521

[2018-07-24 17:10] Rattel commented on #20408
Yep, for rigids I tried the collision shapes that are available to choose (like box or sphere), and seems like they do work fine but if I change their extensions or radius, this issue appears.

[2018-07-24 17:13] mrzapp commented on #20368
As a workaround, you can use `int` as the type hint for now.

@vnen would it be possible to implement a fallback type search based on the same logic that uses member variable suggestion? A challenge with that approach might be differentiating between variables and enums, but I'm not sure about that.

[2018-07-24 17:15] jahd2602 commented on #20346
Running a project on Android with Godot, 1 commit before https://github.com/godotengine/godot/pull/19264, works fine. After compiling master and testing on Android, I get a similar error:

[code]

BTW I changed `gdscript_parser.cpp:6527` to get the `arg_count`
[code]

BTW it is working fine in Windows and Linux. The error only happens in Android.

[2018-07-24 17:18] eon-s opened #20416 "Better project-wide group management"
**Godot version: 3.0+**

**Issue description:**

Groups are great but group management is terrible, if available groups are stored in the Project, then can be easily used in the scene editor and scripts (with autocompletion) reducing risks of typos.

It can be exactly like Autoload tab on Project Settings, and add the groups to the project confguration file to be accessible project-wide (pretty mu

[2018-07-24 17:20] Zylann commented on #20416
Oh, you did it again? https://github.com/godotengine/godot/issues/5744
But you have fancy screenshots :)

[2018-07-24 17:24] austinirvine commented on #19211
On Windows 10, using an linux subsystem with an Ubuntu shell for bash. Godot 3.0.5-stable Directory

I'm using this command: `scons platform=android target=release` and I'm running the latest NDK version of 17.1.4828580, which is located in the C:/Android/sdk/ndk-bundle/  file. Should I downgrade to version 16 or lower?

I don't have my exact output right now, but I am getting this as part of my o

[2018-07-24 17:29] Zylann commented on #20415
Your image doesn't show.
Note you can upload it on Github by just pasting it in the post. You can also do that with a zip file containing your test project ;)

[2018-07-24 17:38] lupoDharkael commented on #20412
After compiling with those flags it works perfectly.
Is that information of the flags in the docs? I think it only mentions `scons p=x11` and the alternative of using lvm

[2018-07-24 17:57] mrzapp opened #20417 "Raycast result collider value cannot be assigned to a typed variable"
**Godot version:**
v3.1-dev.custom_build.b665809 (godot-git from AUR)

**OS/device including version:**
Manjaro 17.1.11

**Issue description:**
When trying to assign a raycast collider value (said in the docs to be of type `Object`), this error is thrown "Internal Script Error! - opcode #37 (report please)."

**Steps to reproduce:**
1. Create a typed variable
2. Perform a raycast
3. Assign the "co

[2018-07-24 18:03] r3d9u11 commented on #20375
@akien-mga also without empty line in end of file will not work

[2018-07-24 18:08] eon-s commented on #20416
@Zylann I was sure I made one but could not find it, so I supposed that was just a comment on another issue, I'll close it again I guess :sweat_smile:

[2018-07-24 18:08] #20416 closed

[2018-07-24 18:09] eon-s commented on #5744
I really need to stop duplicating this issue, check the second one for an idea of how can be done.

[2018-07-24 18:09] #20412 closed

[2018-07-24 18:10] akien-mga commented on #20375
There *must* be an empty line at the end of the file.

[2018-07-24 18:12] #19985 closed

[2018-07-24 18:31] YeldhamDev opened #20418 "Blank/Comment lines at the beginning are considered "unsafe""
**Godot version:**
cf297b4

**Issue description:**
If a typed GDScript file starts with a blank line or a comment, these lines will be considered unsafe until it reaches a line of actual code.

[2018-07-24 19:24] #19779 closed

[2018-07-24 19:38] akien-mga commented on #20417
CC @vnen

[2018-07-24 19:47] ficoos opened #20420 "For some sizes of the code editor scrolling with the mouse does not reveal the last one or two lines"
**Godot version:**
9377f8db5

**OS/device including version:**
Linux 4.17.7-200.fc28.x86_64 #1 SMP x86_64 GNU/Linux

**Issue description:**
For some sizes of the code editor scrolling with the mouse does not reveal the last one or two lines.

**Steps to reproduce:**
Resize the code editor and try to scroll down. If it works resize a bit and try again until it happens.
For me it happens when the co

[2018-07-24 19:52] #1390 closed

[2018-07-24 19:57] vnen commented on #20368
@mrzapp I'm not sure if I follow. Do you mean just showing the enum constants on code completion when assigning?

[2018-07-24 19:58] akien-mga commented on #20412
I have on the back of my mind to write a docs page about building binaries like the official ones, but it's sitting comfy on the TODO list for now ;)

[2018-07-24 20:00] pgruenbacher commented on #20398
https://godotengine.org/qa/1996/ray-casting-from-the-camera-in-3d

also input_ray_pickable may also help if you're trying to pick objects from your camera and mouse.
https://godotengine.org/qa/1996/ray-casting-from-the-camera-in-3d

[2018-07-24 20:02] akien-mga commented on #5597
Can we close this as fixed, since Godot is available on FlatHub? https://github.com/flathub/org.godotengine.Godot

I see that @Calinou is contributing there, so upstream (we) is also involved.

[2018-07-24 20:14] theAbsolute96 commented on #20415
Thanks for the info i updated my post.

[2018-07-24 20:14] r3d9u11 commented on #20375
@akien-mga thanks for clarification!

[2018-07-24 20:27] Kinsman opened #20421 "Suggestion: Do not halt if Script.reload() fails and return a ScriptParseResult object"
**Godot version: 3.0.2**

**Issue description:**
I'm writing an event scripting engine in GDScript, suitable for visual novels or similar games. I had a thought that instead of interpreting line-by-line, I could write code that would transform what I wrote into GDScript (with post-processing that could have the code, for instance, block for input after certain lines) and attach it as a script to m

[2018-07-24 20:31] #6746 closed

[2018-07-24 20:33] TingPing commented on #5597
Well the editor is there but the convenience of a baseapp/runtime for godot games isn't.

[2018-07-24 20:35] bojidar-bg commented on #5654
Is this still an issue on master?

[2018-07-24 20:36] #20203 closed

[2018-07-24 20:40] K3nIchi commented on #20349
I´m having similar issue trying to make [FSM](https://godotengine.org/asset-library/asset/94) works in Godot [0e8f2c8](https://github.com/godotengine/godot/tree/0e8f2c81cc58399746fd8f7401cea65a11709acf) master

FSMState.gd
![fsmstate_gd](https://user-images.githubusercontent.com/7603409/43164651-10f567ba-8f68-11e8-9b07-5a6b65f1db52.jpg)

foo.gd
![foo_gd](https://user-images.githubusercontent.com/7

[2018-07-24 20:45] #7286 closed

[2018-07-24 20:45] akien-mga commented on #6356
Duplicate of #6356 and fixed by #20252.

[2018-07-24 20:45] #6356 closed

[2018-07-24 20:46] AlexHolly commented on #20415
Yeah looks strange even with "mouse filter pass" it is not working (didn't test your project).

As a workaround you can maybe use this?

[code]

[2018-07-24 20:59] theAbsolute96 commented on #20415
I implented your code however the problem still is the same. It only prints the name of "Control"

[2018-07-24 21:09] fire commented on #18831
Was merged. Some changes were made.

[2018-07-24 21:09] #18831 closed

[2018-07-24 21:10] AlexHolly commented on #20415
Maybe you have to set "mouse filter pass"? I tested this code it should work.

[2018-07-24 21:53] #18674 closed

[2018-07-24 21:54] theAbsolute96 commented on #20415
Yep. Still the same problem. The 2 Control Nodes I have must have the exact same rect_size.

[2018-07-24 21:59] cosmicchipsocket commented on #16392
That doesn't answer my question. I wanted to know why this can't just be done in Bullet because it knows how to make a capsule collide with a trimesh.

[2018-07-24 22:08] cosmicchipsocket commented on #20410
Not sure if the mouse issues are the same as I have been experiencing, but I have an open PR to use raw mouse motion in the 3.1 branch at #19191.

[2018-07-24 22:11] cosmicchipsocket commented on #20361
It was specifically the slider in WorldEnvironment, but I just tried again and the slider seems to be working, so I'm not sure what's up with that.

The slider also works in ReflectionProbe, but setting it to anything lower than 1 causes massive Z-fighting artifacts.

[2018-07-24 22:16] AlexHolly commented on #20415
Hmm no Idea why it worked before :D maybe this will work?

[code]

[2018-07-24 22:19] Zylann opened #20423 "Make transform inspector more compact"
Godot 3.1

I find the inspector for transforms is taking a lot of space.
Spatial, Rigidbody, shader params, everytime there is one, it is composed of 3 vertical fields for position, then 3 vertical fields for rotation, then again 3 vertical fields for rotation, AND also a raw 3x4 matrix which is not used often (see #20419).

See the comparison between Godot and Unity, to scale:

![image](https://u

[2018-07-24 22:40] ArcOfDream commented on #20349
Also having weird errors like this, with the base class having the method like this.
![](https://cdn.discordapp.com/attachments/212250894228652034/471385886538334208/unknown.png)

And another class inheriting the class with an override like this.
![](https://cdn.discordapp.com/attachments/212250894228652034/471385657219088386/unknown.png)

[2018-07-24 22:45] AlexHolly opened #20425 "GDScript printing a broken array crashes the game without any error"
https://github.com/godotengine/godot/commit/12d69ef53e8d86db864320449f5a4bd37a7c251b
x11

[code]

[2018-07-24 22:55] Zylann commented on #20425
I would have done this:
[code]

Unfortunately GDScript fails at running it because it tries to hash the cyclic array, which ALSO causes a crash. But in C++ the pointer could be used instead and that would work.

[2018-07-24 22:57] akien-mga commented on #20425
CC @vnen

[2018-07-24 23:03] AlexHolly commented on #20425
Is there any usecase for this` rs.push_back(rs)`? I think it should show some error.
Another print? I am too lazy to write more than `print` :D

[2018-07-24 23:05] #11692 closed

[2018-07-24 23:06] Zylann commented on #20425
@AlexHolly arrays are too low-level to consider use cases to print errors when they are cyclic. Also they are used so often that the overhead would impact many places.
My example is not about adding another print, it's about fixing the one we have currently so it can print cycles :)

[2018-07-24 23:07] akien-mga commented on #20021
Fixed by #20422.

[2018-07-24 23:07] #20021 closed

[2018-07-24 23:15] FeralBytes opened #20426 "Thread.wait_to_finish() second call is an error, is this desired?"
**Godot version:**
3.0.5 Stable Official

**OS/device including version:**
Linux Mint 18.3 64-bit Nvidia Drivers 384.130 GPU=Nvidia GTX950M

**Issue description:**
Call wait_to_finish() twice on the same thread, an accidental call usually, results in an error that stops the rest of the function from executing.

**Steps to reproduce:**
Please see the simple attached program.

**Minimal reproduction

[2018-07-24 23:16] aaronfranke commented on #20410
@gdesecrate I understand that you have reasons for sticking with Godot 2.1 for now, but it would be easier to fix the problem if we knew more information, such as if it's a problem in 3.x or not.

[2018-07-24 23:50] Zylann commented on #20417
Isnt' this because the result is a dictionary? Which contains variants, which can only be checked to a limited degree.
With typed GDScript you would need something like:

[code]

[2018-07-25 00:19] austinirvine commented on #19211
Added the Linux NDK directory and it is still not working.

These are the steps I took and the output I got:
`austin@Frank:/mnt/c/Users/Wave Rider/Desktop/godot-3.0.5-stable$ export ANDROID_HOME=C:/Android/sdk
austin@Frank:/mnt/c/Users/Wave Rider/Desktop/godot-3.0.5-stable$ export ANDROID_NDK_ROOT=C:/android-ndk-r17b
austin@Frank:/mnt/c/Users/Wave Rider/Desktop/godot-3.0.5-stable$ scons platform=a

[2018-07-25 00:31] LexiEmory opened #20427 ""Dropper" tool for nodepath variables"
**Godot version:**

Godot 3.0.5

**OS/device including version:**

Does not apply

**Issue description:**

I feel like having the option to use a "dropper" tool to select nodepaths would be make the workflow of using exported nodepaths much faster. Currently, when selecting a node path, it pulls up a tree menu that displays all possible nodes.

**Steps to reproduce:**

1. Make a script with an exp

[2018-07-25 00:34] aaronfranke commented on #17231
I can confirm this issue. Switching to GodotPhysics fixes the issue. The `_integrate_forces` method only works if I change the RigidBody mode to "Character", since when it is "Rigid", it ceases to be called if the object does not experience any movement or physics after a certain time.

We should consider adding documentation about this to the [RigidBody](http://docs.godotengine.org/en/3.0/classes

[2018-07-25 00:40] AlexHolly opened #20428 "String.format ignores case on placeholder"
https://github.com/godotengine/godot/commit/f8e8ac2c664a12f3af2b9bb545da193d86c75503

Edit: replace `lname` with `uname`
[code]
Should print
`Hi, Godette ... GODETTE!!!? godette ;(`

but shows
`Hi, Godette ... GODETTE!!!? GODETTE ;(`

Easy to fix, use "replace" instead of "replacen"
https://github.com/godotengine/godot/blob/master/core/ustring.cpp#L2804
https://github.com/godotengine/godot/blob/ma

[2018-07-25 00:50] GammaGames commented on #16477
Ah, I'm using the current stable release. Where is it in the current master, then? Seems strange to hide the save icon for something so important if it doesn't autosave.

[2018-07-25 00:50] neikeq commented on #20388
I will see what can be done, but as I said this is the way Godot works by design, so I can't promise anything.

[2018-07-25 00:55] willvincent commented on #20037
Any reason you can't just use a version of alpine that includes glibc?

Like: https://hub.docker.com/r/frolvlad/alpine-glibc/

[2018-07-25 00:58] neikeq commented on #20013
Can you share an example project (including the .mono directory) where you can reproduce the error? Also, this is 3.0.4, right?

[2018-07-25 01:02] neikeq commented on #16863
Oh, I see! If that's the case I will make those changes now.

[2018-07-25 01:04] vnen commented on #20425
I don't think this one is my fault xP

Seems the same as #8693.

[2018-07-25 01:20] vnen commented on #20417
Can it be of any type? There are also many ways to do raycasting (both in 2D and 3D)... Would be simpler to provide a code snippet or sample project.

If that's the case then the bindings are wrong. GDScript got much more sensitive to binding errors. C# and GDNative are sensitive too, so they might be also broken if the bindings are wrong. That might be the cause of the opcode error.

[2018-07-25 01:22] aaronfranke commented on #2385
It's in the preferences now. For reference, the setting is located at Editor -> Editor Settings -> General -> Interface -> Scene Tabs -> "Restore Scenes On Load".

[2018-07-25 01:42] vnen commented on #19211
Why you're defining the paths with `C:/`? If it's on WSL you should be using the Linux file system paths: `/mnt/c/`. That's probably why it can't find it.

[2018-07-25 01:55] YeldhamDev opened #20429 "Right clicking a doc file crashes the editor"
**Godot version:**
f8e8ac2c664a12f3af2b9bb545da193d86c75503

**Issue description:**
Right clicking a doc file in the Script Editor list will result in crash.

[2018-07-25 02:08] aaronfranke commented on #17456
This issue is still relevant. I would suggest either `input` or `inputEvent` instead of `@event`.

We should consider also changing this in Godot C++, to maintain consistency.

[2018-07-25 02:29] austinirvine commented on #19211
@vnen Worked like a charm, thank you very much.

[2018-07-25 02:48] supagu commented on #19994
changing scene.glsl:1703 to:

    normalmap.z=sqrt(max(0.0, 1.0-dot(normalmap.xy,normalmap.xy))); //always ignore Z, as it can be RG packed, Z may be pos/neg, etc.

fixes the problem:
![fixed_normals](https://user-images.githubusercontent.com/11153232/43176777-68c42e26-9004-11e8-83a8-fd0b8bcce366.jpg)

unfortunately I cant do any further PR for this as I have foolishly done some other PR's in the

[2018-07-25 02:57] ordigdug commented on #20004
@jahd2602 I'm working on it, this one is harder to solve.

[2018-07-25 03:11] studioschade commented on #576
First let me say _I understand and agree_ with the points about **NOT** supporting a Wayland as a Godot backend, but I've got a more subtle question/request related to this.

I do research on immersive computing / user interfaces and after exploring many, many, options have landed on Godot as the ideal platform to begin building a new kind immersive window manager for Linux desktop. I explored usi

[2018-07-25 03:29] clarkejm commented on #12816
Google Pixel 2 Adreno 540

[2018-07-25 03:32] vnen commented on #17456
In C++ it's probably `p_event` since the convention is to prefix parameter names with `p_`. But yeah, it should avoid keywords of the officially supported languages.

[2018-07-25 03:38] zspinelli opened #20430 "Minor Node2D naming nitpick."
Node2D: Featureless node with 2d spatial properties.
Spatial: Featureless node with 3d spatial properties.

The Node2D and Spatial seem to be their respective dimension's node equivalent, so why not rename one to show this?
I propose renaming Node2D to Spatial2D.

[2018-07-25 03:50] NathanWarden commented on #20388
@neikeq I just think this issue should be re-opened for discussion in case someone else wants to tackle it, or for a time when you are able to look into it :)

I know you have a lot of other higher priority things on your plate regarding C#, so I wouldn't burden yourself with this right now. While I think this would be a *very* useful feature to have, there are still higher priority C# issues. I j

[2018-07-25 03:53] vnen commented on #576
@studioschade that's an uh... _interesting_ project. It certainly isn't trivial. You'll probably need to fork Godot and maintain a set of patches to achieve this. I'm no expert in this stuff by far, but I imagine you need some special boot up code for Godot since it usually relies on the window manager, and since it'll _become_ the window manager, it might need some other way to start. It likely r

[2018-07-25 04:07] ShyAnimeGirl opened #20431 "Invert YSort on TileMap and YSort nodes"
As everyone knows the TileMap node and YSort node work by allowing objects with a higher Y value overlap objects of a lower Y value. I simply would like a option in these nodes to invert the YSort and allow objects with a lower Y value to overlap objects of a higher Y value. I have drawn a small example of what I mean if it is still unclear.
![capture](https://user-images.githubusercontent.com/186

[2018-07-25 04:13] aaronfranke commented on #20430
We could also call it "Planar" or "Flat" something. But in the end, we probably won't break compatibility.

"Spatial" implies 3D space. A 2D world contains no volume.

[2018-07-25 04:18] mrzapp commented on #20417
@vnen My bad, I should have been more specific. Here's a snippet:

[code]

This code will execute properly if I remove the ": Object" part of the variable declaration

[2018-07-25 04:36] aaronfranke commented on #3286
Ok... so please let me know your opinions on this. @BBric [suggested](https://github.com/godotengine/godot/issues/18324) the name Cell.

The more I think about it, the more I like the idea of calling these integer classes "Cell2" and "Cell3". I like having unique names, and I suggested "Point", but @groud considers this too vague, and he's mostly right. The name "Cell" is a unique name that fits m

[2018-07-25 04:39] mrzapp commented on #20368
@vnen I was probably a bit quick with that idea. Take 2:

I don't think you need to check if the value is valid, C# doesn't do this either:
[code]

It also accepts any int (if you cast it)

I think it would be perfectly reasonable to add enum declarations to the "script_type" tokens (if that makes sense, I admit I didn't read all of the code in the PR)

[2018-07-25 04:42] FeralBytes commented on #20426
The answer is probably a yes and with some more careful programming I have been able to avoid this potential scenario. But I am still curious if this is what the developers want, but it may be impossible to avoid given the context of threads. so I am closing but at least  others will find this. The key is to put some guards in place to make sure you only call wait_to_finish() once.

[2018-07-25 04:42] #20426 closed

[2018-07-25 04:44] aaronfranke commented on #18324
Assuming we go with "Cell" as the integer point/vector/whatever name, how about this?

[code]

[2018-07-25 04:59] brmassa commented on #20388
I opened as a C#/Mono issue, but it would be useful for C++ and other
GDNative languages as well. Even GDScript maybe.

On Wed, Jul 25, 2018 at 1:09 AM Ignacio Etcheverry <notifications@github.com>
wrote:

[2018-07-25 05:16] GammaGames commented on #19683
Does anyone have instructions to build just the server? I tried using `scons platform=server` and that didn't seem to work completely

[2018-07-25 05:54] mattiascibien commented on #20423
I definetely like the proposal. Seems better to me.

[2018-07-25 06:16] akien-mga commented on #20037
The whole raison d'être of Alpine is to not include GNU tools but use more lightweight alternatives (and make on Linux distro where people can't tell you "actually, it's GNU/Linux, or as I've taken to call it, GNU+Linux).

[2018-07-25 06:32] Chaosus opened #20432 "Crash in editor setting when visual script editor is opened"
**Godot version:**
f8e8ac2

**OS/device including version:**
Windows10

**Issue description:**
Crash !

**Steps to reproduce:**
-Attach new visual script to node
-Open visual script editor
-Open editor settings or project settings
-Click and see the Crash(if you not see it try create new function in visual script and then open the editor settings)

**Minimal reproduction project:**
no need, its ve

[2018-07-25 06:36] studioschade commented on #576
Thanks for the response and advice, I will start hanging out in the IRC rooms again. You are correct, supporting Wayland as a backend doesn't help this.

A clarification that I think should simplify this this significantly (and eliminate the need for a fork) is that goal isn't to replace the existing window manager with this first step. The goal is to bootstrap the development of the apps that mig

[2018-07-25 06:37] akien-mga commented on #20425
Indeed, duplicate of #8693.

[2018-07-25 06:37] #20425 closed

[2018-07-25 06:39] akien-mga commented on #19933
Closed by mistake when rebasing?

[2018-07-25 06:44] akien-mga commented on #20429
I can confirm on Linux with f778bd8e6.

[code]

Likely a regression from #19225, CC @Paulb23.

[2018-07-25 06:46] akien-mga commented on #19994
You can always create new branches and reset your master branch on `godotengine/master`.

[2018-07-25 06:50] MazeChaZer commented on #19683
@GammaGames For Godot 3.0.4 this worked for me: `scons platform=server target=release_debug`

[2018-07-25 06:51] gamergamesz opened #20433 "visual scripting shift + A bug!"
@fire
Shift+A shows search box at every screen weather its 2d, 3d or asset library.
When i select a specific function from the search box it hang and crashes the software.
Sequencing drop works fine but it shows some non select-able option like float in physics_process.

[2018-07-25 06:51] kakoeimon opened #20434 "Problems with the new Physics Materials."
**Godot version:**

f8e8ac2c664a12f3af2b9bb545da193d86c75503

**Issue description:**

It spawns a warning and an error when ever a PhysicsObjects are instanced.

WARNING: set_friction: The method set_friction has been deprecated and will be removed in the future, use physical material
   At: scene/3d/physics_body.cpp:186.
WARNING: set_bounce: The method set_bounce has been deprecated and will be r

[2018-07-25 06:52] CBWeekijP opened #20435 "Shader compiler issue with varying variable interpolation on iOS"
**Godot version:**
3.0.2, 3.0.5

**OS/device including version:**
iPad A1822 (A9 chip) iOS 11.3.1
Built with Xcode 9.4.1

**Issue description:**
Using varying variable in shader code results in syntax error in iOS export.
This works as expected when running on the computer, which is to make radial reveal effect from given point.

[code]

Xcode's debug console keep printing `502 error` once shader

[2018-07-25 06:53] MazeChaZer commented on #20037
@akien-mga this. Also I would like to use the official alpine images.

[2018-07-25 06:56] akien-mga commented on #20430
We're indeed not going to do such a major compatibility breakage, invalidating all existing Godot projects and the documentation for this.

As @aaronfranke mentioned, "Spatial"/"Space" most commonly implies a three-dimensional extent/volume: https://en.wikipedia.org/wiki/Space
It *can* also be used to refer to a N-dimensional space, including 2D, but that's not the common use case and wouldn't bri

[2018-07-25 06:56] #20430 closed

[2018-07-25 06:57] masmartyg opened #20436 "Export arrays in singleton end up shared if initialized to same value"
**Godot version:**
Godot v3.0.5.stable.official.6a88e22 win64

**OS/device including version:**
Windows 10 Pro v.1803 (on 2 different pc)

**Issue description:**
Loading values in a two-dimensional array has different results if the array is local or global.

On a new project, I added a script (g.gd) as autoload-singleton enabled with the following code:
extends Node
[code]
I create a new scene as

[2018-07-25 07:00] akien-mga commented on #20417
`get_collider` does return `Object`, but it will always be a more specified class inheriting object, like `KinematicBody` or `Area`.

So here you'd have to cast the result I suppose if you want to assign it to an `Object` variable.

[2018-07-25 07:02] bojidar-bg commented on #20000
Nice issue number, :+1: :cry:

[2018-07-25 07:03] kakoeimon commented on #20434
Seems like that the failure of the rayshape have something to do with the soft bodies. Unchecking the physics/3d/active_soft_world in the project settings fixes the problem.

[2018-07-25 07:09] akien-mga commented on #3286
I still think names like `Point2i` or `Vector2i` are as descriptive as they should be. Trying to find another less explicit name for what *is* a integer point/position/vector is not a good idea IMO.

For example `Cell` might sound like a good idea (it does work well for TileMap and GridMap), but it bears a lot more implied meaning than what an integer coordinate would be. Cell means that you're ac

[2018-07-25 07:15] gamergamesz opened #20437 "Spatial material's some parameter are not working some of them does not give the expected result!"
win10, 960m nvidia
Clearcoat is not working
![screenshot 47](https://user-images.githubusercontent.com/13883739/43184893-cad9d112-9007-11e8-9033-48c084293954.png)

Depth parallax does not show expected result
expected result https://www.youtube.com/watch?v=XwVDhljljro
https://www.youtube.com/watch?v=6PpWqUqeqeQ
![screenshot 43](https://user-images.githubusercontent.com/13883739/43184973-163ec3ec-9

[2018-07-25 07:17] akien-mga commented on #20432
Likely a regression from #18867, cc @fire.

[2018-07-25 07:21] mrzapp commented on #20417
@akien-mga you're right, this works:

[code]
I suppose it's safe to assume that we'll be hitting a `Spatial` type when we're using ray casting in 3D, so maybe that's what it should be returning in the first place instead of `Object`?

[2018-07-25 07:31] kakoeimon opened #20438 "RayShape fails on the seems when "active_soft_world" is enabled."
**Godot version:**

f8e8ac2c664a12f3af2b9bb545da193d86c75503

**Issue description:**

When a rigidbody with a rayshape falls or move on a seem of a staticobject the collision fails and the rayshape pass through the static object.

**Steps to reproduce:**
Use the minimal project to test.
By disabling the physics/3d/active_soft_world the normal behaviour returns.
In the minimal project is enabled, t

[2018-07-25 07:31] mrzapp commented on #20417
@akien-mga Should we just clarify it in the docs for now? I can make a pull request for the PhysicsDirectSpaceState page

[2018-07-25 07:43] gdesecrate commented on #20410
@aaronfranke I don't understand why you do make drama instead of launching the code I provided. Since you prob too lazy to scroll up - i'll repost. 3.x have different procedure header's format - I removed them for your convinience.

#in fixed process func
print(get_viewport().get_mouse_pos())
get_viewport().warp_mouse(get_viewport().get_rect().size/2.0)
print(get_viewport().get_mouse_pos())
print(

[2018-07-25 07:49] ronchaine commented on #20036
It'll take me until the weekend before I can address this, but yeah, I can do PRs for both.

[2018-07-25 07:50] akien-mga commented on #20436
I could reproduce the issue, here's a less convoluted example:
[code]
[code]
Output:
[code]

If I remove `export` from the arrays in the singleton, or define them with a different starting value, the error goes away.

So it seems like `export` arrays defined in a singleton with the same value will end up shared (so they're actually the same array, modifying one modifies the other).

The bug also h

[2018-07-25 07:51] akien-mga commented on #20436
I could reproduce the issue on 3.0.5-stable and in the current master branch (f778bd8e).

[2018-07-25 07:53] BastiaanOlij commented on #19933
@akien-mga no, its already implemented, there is a "use collision" tickbox on all CSG nodes that turn them into a static body with collision shape.

[2018-07-25 07:59] akien-mga commented on #20417
The XML is generated from the source code, so it needs to be fixed in the engine if we want to fix the doc (`get_collider()`'s signature does return `Object` for now).

[2018-07-25 08:01] akien-mga commented on #20410
@gdesecrate Please stay respectful of other users.

[2018-07-25 08:02] Mikerhinos commented on #6100
Unfortunately, same problem with v3.0.5 stable (win64)

[2018-07-25 08:02] aaronfranke commented on #3286
It will always be restricted to the nearest integer values, therefore each area has a corresponding point. The "cell" (1, 1) could be thought of as (0.5, 0.5) to (1.5, 1.5), or (1, 1) to (2, 2). For representing points in unrestricted space, you can just use vectors, correct?

[2018-07-25 08:04] akien-mga commented on #3286
That's not the point of what I wrote though...

Or actually that's exactly my point. An integer point should not be a representation of a 1x1 or 1x1x1 px bounding box centered on its location (which Cell would imply). That's *one* use case for using integer coordinates, but not the only one and should therefore not define the name of such a mathematical construct.

[2018-07-25 08:08] akien-mga commented on #20428
There are issues in your code snippet, it doesn't run.

[2018-07-25 08:09] gdesecrate commented on #20410
@akien-mga He sounded like in a panic. And I reposted issue for code for him to test. Why those calls platform-depended in a first place?

[2018-07-25 08:13] akien-mga commented on #20428
I guess it was meant to be:
[code]
Man is this string formatting convoluted and unreadable...

[2018-07-25 08:15] akien-mga commented on #20428
Since you implemented it (#7010), you're probably the best equipped dev to fix it :)

[2018-07-25 08:16] masmartyg commented on #20436
I removed the keyword `export` because it's not for my purposes (I just looked at the documentation of godot - my lack of knowledge of gdscript as I wanted to prove) and it works.
I hope the bug does not create problems for others and is easy to solve.
Thanks **akien-mga** for the prompt reply, it's great to see how godot is supported by the community.

[2018-07-25 08:26] gdesecrate opened #20439 "Cubemap is not saving"
Godot_v2.1.5-rc2_x11
By default cubemap is not saved correctly to tres scene.

How to reproduce:
If you add WorldEnviroment to scene (camera as well).
Set background to cubemap. Load cubemap with 6 of defauilt godot's icon.png-s the cubemap shows in editor. But If you try to launch it - there is no cubemap shown.
If you save your project and restart godot editor - **you will notice that only 1st o

[2018-07-25 08:30] akien-mga commented on #20410
I don't think so, but even if it were the case, I don't think being disrespectful to people being "like in a panic" will help them feel better/less panicked.

Anything related to input and window is platform dependent by nature.

get_viewport().get_mouse_speed()
for fixed process I even woudn't noticed that issue

How about `Input.get_mouse_speed()`? http://docs.godotengine.org/en/2.1/classes/clas

[2018-07-25 08:33] akien-mga commented on #20436
Just tested when asked by @bojidar-bg: if `g.gd` is not a singleton, but e.g. a script attached to a child node, then there is no bug.

So it's buggy only in the singleton + export + same initialization case.

[2018-07-25 08:38] Chaosus commented on #20432
I discovered that even if you open standart script editor, it will crash at editor settings...

[2018-07-25 08:40] Xrayez commented on #20349
Seems like typed GDScript deems using default parameters as some kind of an evil thing to do when overriding, so most likely it's a bug related to using default parameters, isn't it? The number of arguments doesn't change according to reports by @K3nIchi and @ArcOfDream.

[2018-07-25 08:42] akien-mga commented on #20273
So no new issue? :)

[2018-07-25 08:44] akien-mga commented on #20432
I can't reproduce it on Linux (f778bd8e). Do you get a stacktrace?

[2018-07-25 08:50] gdesecrate commented on #20410
@akien-mga Your `Input.get_mouse_speed()` is uselles unless I additionaly track if mouse moving.

I just want every frame in my _fixed_process() func to get Vector2 how much mousemoved relatively to previous frame. And because "warp" so broken I get like data from old mouse movements.
Like last frame of movement gets to new mouse movement even if a noticeable time was spent. It really bad for FPS

[2018-07-25 09:00] bojidar-bg commented on #20349
The problem lies somewhere in ~this map~~ this piece of code:
https://github.com/godotengine/godot/blob/f778bd8e694cb9c93cc0e021418f2be362dcdd3c/modules/gdscript/gdscript_parser.cpp#L7171-L7185

[2018-07-25 09:06] akien-mga commented on #20410
The fact that it works reliably on all platforms on SDL doesn't contradict the fact that *input and window management is platform-dependent by nature*.

And again, I would like you to stop accusing/disrespecting people who are trying to help. If you can't, I'll just lock the issue and you can try to figure things out on your own (or use SDL).

[2018-07-25 09:07] Chaosus commented on #20432
Looks like its segfault, because everything is correct in debug builds, but crashes in release

[2018-07-25 09:30] Chaosus commented on #18817
@AlexHolly You passed invalid parameter to set_data. It accept Image instead ImageTexture. I've fixed it by introducing null-checking into this function..

[2018-07-25 09:51] akien-mga commented on #20432
You can compile with `target=release_debug debug_symbols=full`.

[2018-07-25 09:53] Shin-NiL commented on #20273
I've just republished a game made with 2.1.4 using now 2.1.5 RC2 and it seems pretty stable so far.

[2018-07-25 09:58] dragmz commented on #19797
Line2D works fine for me on Android (f778bd8). @williamd1k0  can you attach your simple project, please?

[2018-07-25 10:00] #18817 closed

[2018-07-25 10:15] kosz78 commented on #20126
@reduz All works correct except `Initial Velosity -> Velocity`.
In CPU particles this parameter affects more strongly
This is sample project
[godot-particle-test.zip](https://github.com/godotengine/godot/files/2227516/godot-particle-test.zip)

[2018-07-25 10:18] Chaosus commented on #20432
[code]

[2018-07-25 10:23] akien-mga commented on #20432
Is that with `tools=yes target=release_debug debug_symbols=full` and no stripping?

[2018-07-25 10:23] #20428 closed

[2018-07-25 10:45] StripedMonkey opened #20442 "Stuttering and LibPNG errors"
**Godot version:**

3.0.5 & steam version

**OS/device including version:**

Ubuntu 18.04, R9 390x, and FX-8320
libpng-dev is installed @ 1.6.34, libpng++-dev @ 0.2.9, libpng-tools @ 1.6.34, libpng16-16 @ 1.6.34

**Issue description:**

When loading up the AssetLib or similar places I get this error:

[code]

**Steps to reproduce:**
Download via website or install via steam
Open up the AssetLib in

[2018-07-25 10:55] akien-mga commented on #4716
As we rejected a PR implementing this feature (#15222), I think we'll close this feature proposal as not wanted for the reasons described in the PR:

[2018-07-25 10:55] #4716 closed

[2018-07-25 10:57] akien-mga commented on #6484
It's the same as #17051 yes, I'll close as duplicate as the latter has more recent activity.

[2018-07-25 10:57] #6484 closed

[2018-07-25 10:57] akien-mga commented on #20442
Duplicate of #17051.

[2018-07-25 10:57] #20442 closed

[2018-07-25 10:58] akien-mga commented on #17051
It sounds like the assetlib tries to load pictures it didn't manage to download due to slow or restricted Internet connection.

It should likely make sure that it managed to download files before trying to load them. (CC @bojidar-bg)

[2018-07-25 11:03] akien-mga commented on #5570
Given the lack of consensus and the addition of named classes in the master branch (a3f1ee5c5), I think this is more or less settled now.

[2018-07-25 11:03] #5570 closed

[2018-07-25 11:04] akien-mga commented on #12212
This is now fixed by a3f1ee5c5.

[2018-07-25 11:05] AlexHolly commented on #5493
@Mochnant Is this what you want? It will work but without mixing the array. I think simply running it twice with different placeholder will work (a bit slower but better than nothing).

` "Hello {},\nI am {} your first teacher.\n{} can get the title {}.".format(["RobotGuy","Logis","RobotGuy","rookie"], "{}")`

OUTPUT:
[code]

[code]

[2018-07-25 11:13] Chaosus commented on #20432
Yep

[2018-07-25 11:16] StripedMonkey commented on #17051
For me at least it does not result in complete freezing, which is actually why I didn't actually find this one I suppose.

[2018-07-25 11:29] akien-mga commented on #20410
It's not "me that brings up", I just answered your question about why those calls are platform-dependent. They are, by nature, that's all. It's hard science, it's not an opinion. It doesn't solve the issue, and doesn't aim to, it was just an answer to your question.

No, it was a suggestion. I did not mean that it would work, I suggested to try it.

[2018-07-25 11:34] arthurferrai commented on #20415
While there is a workaround, I still think it's a bug.

[2018-07-25 11:40] gdesecrate commented on #20410
I already did multiple times in the past. Bad coordinate feed, requires filtering and flagging the input events.

[2018-07-25 11:50] Chaosus commented on #19738
![image](https://user-images.githubusercontent.com/3036176/43199215-edc77e6a-9019-11e8-8144-9349e4e95c59.png)

Im not see any problem in current master, @akien-mga should this to be closed ?

[2018-07-25 12:22] dunyakilavuz commented on #20267
Since #19839 is closed, forwarding my question.
Is there any rough estimations for android exporting functionality?

[2018-07-25 12:29] eon-s commented on #20439
This is an old bug, other issues maybe got closed since there is no more cubemaps on 3, the thing is that cubemaps always try to save the images inside the resource/scene making it too big and corrupting the scene file.

Another workaround is saving the scene with the cubemap as .scn to avoid the size problem which is not present in binary files.

[2018-07-25 12:38] volzhs commented on #20346
@jahd2602 for me, exported apk with release works fine, but has above error with debug.

[2018-07-25 12:40] gdesecrate commented on #20410
By the way if I remove the warp - it works fine. But warp is added for window's build by default.

[2018-07-25 12:49] jesperkondrup opened #20444 "FileSystem view improvements"
We are basically suggesting to make it possible to see files directly in the Tree view.

**List of improvements for the FileSystem view in Godot 3**

- A toggle button in the editor settings to turn the FileSystem split view on and off.
- When Filesystem is not in split view it should show files directly in the tree view (see image 1).
- Favorites should both be able to contain files and folders.

[2018-07-25 12:50] jesperkondrup commented on #7446
Created a new and more precise issue here #20444

[2018-07-25 12:50] #7446 closed

[2018-07-25 12:51] CowThing opened #20445 "Rearranging nodes in the scene panel with keyboard shortcuts no longer works."
**Godot version:**
Calinou's nightly 3.1 build a2f9ce2

**OS/device including version:**
Windows 10 64bit

**Issue description:**
Using `Control+Up Arrow` and `Control+Down Arrow` in the Scene panel will no longer move nodes up or down like it did in Godot 3.0. All it does it select the next node in the direction pressed. I checked the shortcuts and they were still set to Control+Up and Control+Do

[2018-07-25 12:54] reduz commented on #20445
It would be interesting to do a bisect to figure out when this started happening. Anyone with a fast computer up for giving it a try?

[2018-07-25 13:01] volzhs commented on #20445
it has happened since #17633

[2018-07-25 13:06] CowThing opened #20446 "New Inspector panel can no longer be selected."
**Godot version:**
Calinou's nightly 3.1 build a2f9ce2

**OS/device including version:**
Windows 10 64bit

**Issue description:**
I'm not sure if that's the correct term. But for all other panels, like the Scene panel, FileSystem panel, etc, when you click on the panel it gets a light grey border showing that it's selected. The new Inspector panel doesn't do that, the last selected panel is still

[2018-07-25 13:07] swarnimarun commented on #19738
I will recheck it today. Will my old projects and confirm.

[2018-07-25 13:18] akien-mga commented on #20445
Duplicate of #17633.

[2018-07-25 13:18] #20445 closed

[2018-07-25 13:22] AlexHolly commented on #20073
Looks like the signal "cell_selected" is not fired on second selected item (multiselect).

[code]

https://github.com/godotengine/godot/blob/master/scene/gui/file_dialog.cpp#L892
https://github.com/godotengine/godot/blob/master/scene/gui/file_dialog.cpp#L282

[2018-07-25 14:00] vnen commented on #20349
I guess we *could* allow adding arguments as long as they are optional.

The other reports (when the signature really didn't change) are effectively a bug.

[2018-07-25 14:16] vnen commented on #20349
@bojidar-bg it turns out that GDScript's `get_default_argument_count()` method is return the wrong number (off-by-one).

[2018-07-25 14:18] WiggleWizard commented on #20439
PR #20307 fixes this issue for 3.1. As for 2.1, someone will need to port that fix across probably.

[2018-07-25 14:34] Mochnant commented on #5493
@AlexHolly I like the progress, thank you!

I think the additional parameter might be a little confusing, though.  It would seem more straightforward to parse the format string behind the scenes and implicitly number them when a bare "{}" is found, rather than require a new parameter.  If that's impossible or impractical, and you're comfortable the extra parameter is not too much, I think it will

[2018-07-25 14:38] fire commented on #20433
Will look into it.

[2018-07-25 15:09] AlexHolly commented on #5493
Yeah the thing is I didn't know there was such a function in python otherwise I would have used it as a reference.

I had a quick look, they support only the "{}" Syntax?
They have many features like formatting numbers in godot you have to use % for that.

http://docs.godotengine.org/en/latest/getting_started/scripting/gdscript/gdscript_format_string.html

[2018-07-25 15:09] #20347 closed

[2018-07-25 15:22] Mochnant commented on #5493
@AlexHolly Within the String `format()` function, yes, I believe only the `{}` syntax is supported, though it is fairly broad, including bare `{}`, indexed `{0} {1}` and named `{first_name} {last_name}'.  They also support various formatting options, such as adding commas to numbers, and even column formatting.

[2018-07-25 15:23] #19214 closed

[2018-07-25 15:28] Calinou opened #20451 "The editor crashes when clicking on a MenuButton while a pop-up is open"
**Godot version:** Git https://github.com/godotengine/godot/commit/9e16f4a3704b76b3b7c236e29a141b3c33263667

**OS/device including version:** Fedora 28

**Issue description:** Clicking on a MenuButton while a pop-up dialog is open will crash the editor. It is likely to be a regression from https://github.com/godotengine/godot/pull/19726.

![menubutton_editor_crash](https://user-images.githubuserco

[2018-07-25 15:29] wmww commented on #576
There are already multiple people working on building Wayland compositors with Godot. One is [Simula](https://github.com/SimulaVR/Simula). It is being written in Haskell, focuses on VR and uses Weston. I don't think its usable yet, but they've made some progress.

@toger5 has also expressed interest in such a project. We were planning on integrating the [Mir](https://github.com/MirServer/mir) libr

[2018-07-25 15:33] johannesgunnar commented on #20451
This does not seem to happen in v3.0.5 under Ubuntu 18.04. Instead the pop up closes and main editor window gains focus as expected.

[2018-07-25 15:34] volzhs commented on #20451
yes. it happens with latest master. I'm facing same issue.

[2018-07-25 15:39] volzhs commented on #20451
it also happens sometimes when closing editor settings.

[2018-07-25 15:40] Calinou commented on #20451
It's likely a regression from https://github.com/godotengine/godot/pull/19726.

[2018-07-25 15:58] fire commented on #20433
Pushed a fix for part 3. (part 2 is associated with part 1).

[2018-07-25 15:58] prmsrswt commented on #6100
I am also facing this issue with Godot v3.0.5-1 on Arch Linux.

[2018-07-25 16:02] fire commented on #20432
How do you reproduce this? A readable stack track will help too.

[2018-07-25 16:06] Chaosus commented on #20432
Unfortunately its seems to be impossible to reproduce stack in release mode(where this crash happens)

[2018-07-25 16:06] fire commented on #20432
If you open standard script editor, it will crash at editor settings. Is this related to visual scripting / visual shaders?

[2018-07-25 16:10] Chaosus commented on #20432
Im not sure but standart script editor call this crash too.. maybe this is also related - #20451

[2018-07-25 16:10] volzhs commented on #20432
not sure if it's same issue but I got this when closing editor setting.
[code]

[2018-07-25 16:16] vnen commented on #20402
To clarify, you *can* omit the export hint: `export var my_float = 5.0` worked before and still do. With type hints you can also do: `export var my_float : float`.

If you need other arguments from the hint (like range), then you need to make the full export hint, repeating the type. `export` is an editor/serialization helper, type-hints are for forcing the variable to have a static type. They are

[2018-07-25 16:21] neikeq commented on #20267
I will talk about this once 3.1 stable is out.

[2018-07-25 16:37] malbach commented on #20451
Hi,
Not happening here with master [f778bd8](https://github.com/godotengine/godot/commit/f778bd8e694cb9c93cc0e021418f2be362dcdd3c) (which includes #19726)
Windows 7 x64, compiled with MONO
It does exactly like @johannesgunnar explained above

[2018-07-25 16:41] EmAlexander commented on #20427
No, the NodePath export hint would have another option to use a "dropper" tool. The tool would function a lot like selecting a node with the list selector. Once the user selects this option, they would be able to select a node in the Scene preview tab. Whatever they select would become the NodePath in the export hint. In large scenes, this would make it faster to quickly select a node for NodePath

[2018-07-25 16:46] mrzapp commented on #20402
@vnen Understood, it makes perfect sense. I'll close this issue, then. Good work on the static typing feature, I love using Godot even more! 😁

[2018-07-25 16:55] slapin opened #20454 "pressing Shift-A in GDScript editor shows VisualScript search"
Pressing Shift-A in GDScript editor shows VisualScript search rendering editor
hard to use.
**Godot version:**

41a0ecb59b244ee01ece644107f02c64d2a5b64a

**OS/device including version:**

Linux

[2018-07-25 17:21] vnen commented on #20402
It was just a note, the OP is actually a bug since it should accept an int assigned to a float variable. I'm already preparing a fix to this and other issues, I'll keep this one open until we merge the fix.

[2018-07-25 17:22] fire commented on #20454
See https://github.com/godotengine/godot/issues/20433

[2018-07-25 18:01] mhilbrunner commented on #20313
@gaudecker @Zylann Yes, the issue/that tracker will likely have to wait until reduz can work on renderer features again after 3.2/Vulkan.

[2018-07-25 18:01] mhilbrunner commented on #9046
Moved to 3.2 for now.

[2018-07-25 18:38] vnen commented on #20340
For what I discussed with @reduz, this behavior is not really intended, but there won't be any changes to it. So it won't be explicitly forbidden but you won't be able to call the specific node function if your script extend a more generic one. The workaround is to use `call`, e.g.: `velocity = call("move_and_slide", velocity)`.

If a lot of people is relying on this they'll complain, and if they

[2018-07-25 18:38] #20340 closed

[2018-07-25 18:42] vnen commented on #16958
As said in the related issue (#20340), this is not the intended way to work. And since now there are checks that make this usage an error, it doesn't make sense to add it to code completion.

[2018-07-25 18:42] #16958 closed

[2018-07-25 19:01] #20429 closed

[2018-07-25 19:05] fire commented on #20433
Pushed to master.

[2018-07-25 19:30] mhilbrunner commented on #20313
@reduz Updates on your bullet points:

**Physics improvements** were merged
**VisualScript UX improvements** were merged

Typed GDScript was also merged, warnings are still missing: https://github.com/godotengine/godot/pull/19993

[2018-07-25 19:36] an0mali opened #20459 "Game crash/server disconnect; editor crash when playback and audio pitch @ 0"
Godot v3.05
Windows 10

If audio pitch is accidentally set to 0 in an AudioPlayer2D node (manually or via AnimationPlayer), game crashes with server disconnect error and no indicator of where error occurred. Enabling playback of an AudioPlayer2D node in the editor in which the pitch is set to 0 (or 0.01) causes the entire editor to crash, again with no indication of where the error occurred or why

[2018-07-25 19:51] an0mali opened #20460 "Changing energy of Light2D node with AnimationPlayer requires clickthrough of Node in editor to reset after playing project"
Godot v3.05
Windows 10

When using AnimationPlayer to change Energy of Light2D node, failure to click the AnimationPlayer node in project (not change anything, simply clicking the node) in-between project plays seems to cause the Energy animation track not to function during the next project play, while all other animation tracks in the animation work as expected.

Steps to replicate:
Create anima

[2018-07-25 19:58] neikeq commented on #12518
Does this still happen after f1130f9?

[2018-07-25 19:59] neikeq commented on #16302
Do you mean the value you set in the inspector is never applied when you run the game?

[2018-07-25 20:03] YeldhamDev commented on #17051
It actually has stopped freezing now, and it works as expected. Closing it.

[2018-07-25 20:05] volzhs commented on #20313
what about converting text resource to binary when exporting?

[2018-07-25 20:08] reduz commented on #3286
I want to get rid of Point2i and Rect2i in the next compatibility breakage. There is no practical reason to NOT use floats, they work for all practical use cases, even as cell indices. Floats can contain an integer up to 2^24, which is way more than enough for practical cases.

[2018-07-25 20:10] YeldhamDev commented on #15493
@volzhs So, any progress on this?

[2018-07-25 20:13] YeldhamDev commented on #18060
This appears to have been fixed. Closing it.

[2018-07-25 20:13] #18060 closed

[2018-07-25 20:31] vnen commented on #20415
It's not a bug, it's the way controls work. If you have the mouse filter set to "Stop" then only the first control will receive the input. You need to set to "Pass" so it receives the event but also let it available to other controls.

[2018-07-25 20:31] #20415 closed

[2018-07-25 20:32] HeadClot commented on #9786
Thanks for the information @Dudemanjude :)

[2018-07-25 20:33] AlexHolly commented on #20415
Did you try pass? It didn't work.

[2018-07-25 20:48] vnen commented on #20415
If it doesn't work with `Pass` it's a bug, but I noticed there's already an issue about it: #19785.

[2018-07-25 21:13] usernameisalreadytakennn opened #20461 "Godot crashes when opening a project, can't write caches and confiqs"
**Godot version:**
Godot 3.0.5 64-bit Mono version.

**OS/device including version:**
Windows 10

**Issue description:**
When creating and opening a project, Godot crashes instantly after it has loaded the project. It seems that it cant write confiq and cache files:
![image](https://user-images.githubusercontent.com/41706229/43227996-001790e2-9069-11e8-8057-4d465be917b7.png)
There isn't even a fil

[2018-07-25 21:17] BraindeadBZH commented on #17041
I can confirm that both issue, small project list and game window half off-screen, are still present. I always run latest drivers for both my Intel and Nvidia CGs (Godot is launch on the Nvidia).

[2018-07-25 21:18] akien-mga commented on #20454
Duplicate of #20433.

[2018-07-25 21:18] #20454 closed

[2018-07-25 21:18] akien-mga commented on #20433
Fixed by #20450 and #20452.

[2018-07-25 21:18] #20433 closed

[2018-07-25 21:19] NQNStudios commented on #12518
I'll let you know as soon as I've forked and built from source -- might take until tomorrow.

[2018-07-25 21:20] neikeq commented on #15371
I cannot longer reproduce this on latest master. @NathanWarden can you still reproduce this?

[2018-07-25 21:22] neikeq commented on #15371
Correction, I cannot reproduce it with C# anymore. It still happens with GDScript. :thinking:

[2018-07-25 21:41] novemberist opened #20465 "Use GIProbe with CSG"
**Godot version:**

Godot 3.1 master

**Issue description:**
I noticed that currently the ability to use CSG meshes and primitives in baked lighting seems to be lacking. Is this a general technical limitation of CSGs or is this something that might likely get added eventually? Since I found myself using CSG a lot lately even beyond simple prototype/placeholder assets, it would be really nice to be

[2018-07-25 21:45] akien-mga commented on #17051
It still happens for other users.

[2018-07-25 21:51] YeldhamDev commented on #19052
Considering that there is now a "Open Editor" button for resources, should this and #19053 be closed?

[2018-07-25 21:55] akien-mga commented on #13358
The plan for 3.2 is to outright get rid of `resource_name`.

[2018-07-25 22:06] akien-mga commented on #19665
It's happened a lot over the last few days as we merged many PRs in a short time.

I guess a new build job may download from the cache while an older build is uploading new cached objects, and the new job ends up with a truncated build object.

Though all subsequent build attempts fail the same way, so it seems to be that the build object is truncated during upload (maybe due to reaching cache siz

[2018-07-25 22:19] akien-mga commented on #16032
Fixed by #16052 / 9423f23ff.

[2018-07-25 22:19] #16032 closed

[2018-07-25 22:22] MirceaKitsune commented on #9046
A shame it couldn't make it in 3.1. At least 3.2 isn't too far away... I really hope it happens this time!

[2018-07-25 22:29] toger5 commented on #576
@studioschade your first post tremendusly elevated my mood!
This is exactly what i was taking into consideration with @wmww as he mentioned already.

### Some excited blablabla... :
I really see your vision of having godot as a tool to create compositors, from simple 2d compositors with unbeatable development speeds because of godots ruch set of tools (I'm especially refereing to the easy to use a

[2018-07-25 22:32] fire commented on #18287
This should be doable, see https://github.com/godotengine/godot/pull/20463 for a related problem.

[2018-07-25 22:36] toger5 commented on #576
I think such a project can be really benefitial for godot itself too.
I would definitly work on the user interfaces to make them even more solid to build a desktop.
And also the input system would be solidified and worked on.

[2018-07-25 22:53] fire commented on #18287
The problem is that the object type lacks a type and a type hint (when is an Variant::Object. So that dialogue needs those two items.

![godot windows tools 64_2018-07-25_15-52-02](https://user-images.githubusercontent.com/32321/43231811-c41e3eec-9022-11e8-8d44-d9c12358c02a.png)

[2018-07-25 23:08] guilhermefelipecgs opened #20467 "Animation loop doesn't work with imported 3D scene"
**Godot version:**
9423f23ffb80c946dec380f73f3f313ec44d0d18

**OS/device including version:**
Linux 4.17.8

**Issue description:**
"Animation Looping" doesn't work when you have an "imported" animation player like this:
![captura de tela de 2018-07-25 20-04-12](https://user-images.githubusercontent.com/1387165/43232154-f3bc240c-9045-11e8-9c75-12b93b8764cc.png)

**Steps to reproduce:**
Import an 3D

[2018-07-25 23:53] Sslaxx commented on #576
@toger5 - it may also distract a bit too much from Godot's primary purpose. At that point it essentially becomes a general-purpose development environment. Whilst taking cues from those isn't a bad thing, Godot isn't really meant for (or optimal for) non-game-related application development.

[2018-07-25 23:56] vnen commented on #20313
I need to fix #19935 before alpha (besides finishing the warnings thing).

[2018-07-26 00:54] clarkejm commented on #12816
Was reading some other troubleshooting references related to this and I noted that in many of the cases the Device Manufacturer's ended up fixing this through Webview updates before Android 7. Since Webview is tied to Chrome version now, I thought I'd try updating the Pixel 2 to Android P beta and the issue is gone.

[2018-07-26 00:57] GammaGames commented on #19683
Maybe I'm misunderstanding the purpose of the server. I'll make a question on the Q&A

[2018-07-26 02:10] clarkejm commented on #20377
Have you checked if your blender scale is in metric? I've found that to fix most of my GLTF import scaling issues (although I haven't tried this case specifically)

[2018-07-26 02:15] neikeq commented on #15371
Update: This issue is still valid. It was a special case which made me unable to reproduce it. Interestingly, thanks to this I started to understand the cause.

I think I came up with a good solution and I made a basic implementation for C# scripts. So far it seems to be working, but I haven't tested much.
The solution is to backup the exported properties when updating them. If a scripts fails to

[2018-07-26 02:32] GeorgeNance opened #20469 "Blurry Icon in Tab Switcher on Linux Mint 19"
**Godot version:**
3.0.5

**OS/device including version:**
Linux Mint 19
Also reported to happen in Elementary OS

**Issue description:**
Blurry Icon in tab switchers / dock

Using Docky
![unknown](https://user-images.githubusercontent.com/3322994/43237945-f19bdae6-9040-11e8-83ce-f2946e055d73.png)
Using Tab Switcher
![screenshot from 2018-07-25 19-27-02](https://user-images.githubusercontent.com/3

[2018-07-26 03:02] supagu commented on #20354
I have some code like:

    enum State {
    	STATE_UP,
    	STATE_DOWN
    };

    class Action:
	    var state = STATE_UP;

which used to compile, but now errors saying: **Identifier 'STATE_UP' is not declared in the current scope.**

which used to compile, but now errors. I've tried changing to:
var state = State.STATE_UP;
but this gives me the error: **Identifier 'State' is not declared in the

[2018-07-26 04:16] FeralBytes commented on #15998
This error also occurs when taking the 2D multi-player demo and switching it to Multi-Threaded. No actual shaders in the project. On Linux Mint 18.3 Lenovo Intel HD Graphics.

[2018-07-26 04:28] Charlignon opened #20470 "Spaccing grid lines hide the sprite in Autotile editor"
**Godot version:**
Godot Engine v3.0.5.stable.official.6a88e22

**OS/device including version:**
Windows 10

**Description:**
Sometimes autotileset sprites have lines of blank pixels to separate and help distinguish tiles. Godot allow to set a spacing in those cases. This separate the tiles as it should.
However, the turquoise guide grid also add lines on the borders of the image, and occlude the

[2018-07-26 04:46] Charlignon opened #20471 "Autotile editor is not responsive, zoom buttons disappear"
**Godot version:**
Godot Engine v3.0.5.stable.official.6a88e22

**OS/device including version:**
Windows 10
Screen resolution : 1366x768‎

**Issue description:**
In the autotile editor, on the tabs Collision / Occlusion / Navigation, the grid snap configuration option is off by default. When switching, the menu expand anf option like 'Offset' and 'Step' appear. This push the zoom buttons (+ / 1 /

[2018-07-26 06:37] akien-mga commented on #20469
That's weird, the icon embedded in the binary is 128x128 without quality loss: https://github.com/godotengine/godot/blob/3.0/main/app_icon.png

Do you have a .desktop file for Godot installed manually?

[2018-07-26 06:40] akien-mga commented on #20470
CC @MarianoGnu

[2018-07-26 06:41] akien-mga commented on #20471
CC @MarianoGnu

[2018-07-26 06:45] EIREXE commented on #20465
![image](https://user-images.githubusercontent.com/3101690/43245880-30c3b99a-90b0-11e8-9ca3-22ea7ddfa6e1.png)

![image](https://user-images.githubusercontent.com/3101690/43245895-3f8dddde-90b0-11e8-923f-ddc0b564aa9c.png)

It appears to work for me, maybe it's bakedlighting that doesn't?

[2018-07-26 06:47] williamd1k0 opened #20472 "TextureRect with Tile mode does not work with AtlasTexture"
___

***Bugsquad note:** This issue has been confirmed several times already. No need to confirm it further.*

___

**Godot version:**

Godot 2 and 3

**OS/device including version:**

Windows 10 x64

**Issue description:**

TextureRect (and TextureFrame in Godot 2) with `Tile` mode does not work with AtlasTexture.
I tried with both GLES2 and GLES3.

![2018-07-26 03_20_47-godot engine - waffle sca

[2018-07-26 06:49] williamd1k0 commented on #20472
Note: All `STRETCH_*` modes work with the AtlasTexture except the `STRETCH_TILE`.

[2018-07-26 07:12] Rabocop commented on #20377
Hi! Yes I tried. I tried

[2018-07-26 07:17] jesperkondrup opened #20473 "[TRACKER] Particle System improvements"
**Suggestion for improvements of the Particle System.**

We are aware that some of these points are present in other issues as well. But in this list we tried to prioritize the features we are missing most, and also limit them to features that should not be too complex to implement.

- [x] Randomness for Particle Life time is not working.
- [ ] Add Sub Emitters for Particle Birth and Death.
- [x]

[2018-07-26 07:18] jesperkondrup commented on #19358
Created a more precise list of features we are missing. #20473

[2018-07-26 07:18] #19358 closed

[2018-07-26 07:20] Zireael07 commented on #3286
Practical reason to use integers instead of floats is ease of comparing (no need to use epsilon).

[2018-07-26 07:47] nonomiyo opened #20474 "Wacom tablet incompatibility"
Godot version:
since Godot Engine v3.0.3 - stable_win64

OS/device including version:
Windows 10
Screen resolution : 1920x1080

Issue description:

hello, my wacom tablet (intuos 2015 - model CTH 690) is not working properly with godot since version 3.0.3 (it worked perfectly fine before)

- On the project selection screen and when I run the game, I just can't click at all
- On the editor, it clic

[2018-07-26 07:51] volzhs opened #20475 "Crashes with using DynamicFont"
**Godot version:**

3.1.dev 832e2bfcd

**OS/device including version:**

Kubuntu 18.04

**Issue description:**

Editor crashes at opening project with using custom font for script editor.
[code]

**Steps to reproduce:**
_EDIT :_ open any (even empty) project with "ko" language on editor settings.
custom font for script editor does not matter.

**Minimal reproduction project:**

using this font for

[2018-07-26 07:52] volzhs commented on #20475
cc @hpvb

[2018-07-26 08:07] akien-mga commented on #20474
CC @RandomShaper

[2018-07-26 08:08] volzhs opened #20476 "Texture preview is not shown on Inspector"
**Godot version:**

3.1.dev 832e2bfcd

**OS/device including version:**

Kubuntu 18.04

**Issue description:**

Texture preview is not shown on Inspector and gives error.
[code]

**Steps to reproduce:**
1. create `Sprite`
2. assign texture
3. see no preview inspector and error on terminal console

**Minimal reproduction project:**

[2018-07-26 08:10] groud commented on #3286
Definitely, integer comparison seems very necessary to me. Point2i/Vector2i would be a great addition to gdscript.

[2018-07-26 08:31] #19448 closed

[2018-07-26 08:36] #19196 closed

[2018-07-26 08:58] Chaosus commented on #19738
@swarnimarun So what is the result ?

[2018-07-26 09:53] BastiaanOlij opened #20479 "Add feature tags for major version to give control over GDNative plugin export"
Due to changes in the ARVR system between Godot 3.0 and 3.1, and now nativescript 1.1 adding features only available in Godot 3.1 it would be nice to add feature tags to the export that are set based on the major version of Godot we're exporting for (/running in).

For GDNative this would allow assets downloaded from the asset library to contain separate Godot 3.0 and Godot 3.1 dynamic libraries w

[2018-07-26 09:54] swarnimarun commented on #19738
Yeah forgot to update, it doesn't seem to be there any longer but still haven't figured out what fixed it.
Might test for that if I find time.

Closing this issue for now.

[2018-07-26 09:54] #19738 closed

[2018-07-26 10:11] akien-mga commented on #19665
I'm thinking to make all modules (and maybe other components later on) build their own static library (e.g. `modules/webp/libmodule_webp.a`, which will then all be linked together in `modules/libmodules.a`.

Then we could avoid caching all the `.o` files from `thirdparty/*/` and `modules/*/`, and only cache those `libmodule*.a` which shouldn't change often. We could also exclude the 250 MB-heavy `

[2018-07-26 10:33] kakoeimon opened #20480 "CPUParticles error when spread is used."
**Godot version:**

832e2bfcd38965a01a9149d509169dd197e42f58

**OS/device including version:**

**Issue description:**

An error is spammed when spread is used in CPUParticles

ERROR: move: Condition ' Math::is_nan(p_aabb.size.x) ' is true.
   At: core/math/octree.h:847.

**Steps to reproduce:**
Create a CPUParticle (set it up) and use spread.

**Minimal reproduction project:**

[cpuparticles.zip]

[2018-07-26 10:51] akien-mga commented on #18854
Why close?

[2018-07-26 10:54] swarnimarun commented on #18854
Didn't want to seems like the Github Apps are useless.

[2018-07-26 10:57] #18854 closed

[2018-07-26 11:48] #20345 closed

[2018-07-26 11:48] #20349 closed

[2018-07-26 11:48] #20360 closed

[2018-07-26 11:48] #20376 closed

[2018-07-26 11:48] #20402 closed

[2018-07-26 11:48] #20346 closed

[2018-07-26 11:48] #20354 closed

[2018-07-26 11:48] #20366 closed

[2018-07-26 11:48] #20369 closed

[2018-07-26 11:48] #20392 closed

[2018-07-26 11:48] #20417 closed

[2018-07-26 11:57] #20175 closed

[2018-07-26 12:12] studioschade commented on #576
@toger5 (and @wmww) the feeling is mutual, I've been pursuing this in one form or another for the past few years while I've talked with dozens of great engineers about this, I had to drive and nobody has been interested in teaming up to push forward or really shared the vision. Its _very_ encouraging to find some others pursuing similar goals. I'll sign up for matrix so we can take this discussion

[2018-07-26 12:29] bojidar-bg commented on #20008
Was this fixed by #20468

[2018-07-26 12:34] r3d9u11 commented on #8828
@Noshyaar Does this feature works? I tried to set custom .tres file:
[code]
And didn't see any effect, default font wasn't changed

[2018-07-26 12:34] Chaosus opened #20481 "Singletons are broken"
**Godot version:**
96d3776

**OS/device including version:*
Win10

**Issue description:**
Looks like custom auto-loads(singletons) are broken in the current master. You cannot call functions or use constants from them

**Minimal reproduction project:**
[STBug.zip](https://github.com/godotengine/godot/files/2231915/STBug.zip)

[2018-07-26 12:35] akien-mga commented on #20481
CC @vnen (likely regression from #20468).

[2018-07-26 13:28] thisismike97 opened #20482 "Godot 3 compiling issues on latest OSX"
**Godot version:** Tag stable 3.0.3 and 3.0.5.
**OS/device including version:** macOS High Sierra 10.13.6. (Latest version.)
**Xcode version:** 9.4.1. (Latest version.)
**Scons version:** 3.1.0. (Latest version.) (Also tried with scons 2.5.0.)
**Python version:** 2.7.12.
**Issue description:**

Compiling gets stuck at 62% on this file: "[Initial build] Compiling ==> servers/physics/collision_solve

[2018-07-26 13:35] akien-mga commented on #20482
It's the same issue as #18023 and fixed by #18868 in the master branch. That fix needs to be cherry-picked in the 3.0 branch (CC @hpvb).

[2018-07-26 14:15] fire opened #20483 "Using the deprecated scons flag causes compile errors."
**Godot version:**
e8da2a60b3b112919e237c5cbd3e79d76e39cf0b

**OS/device including version:**
Windows 10 / Fedora 28

**Issue description:**
Using the deprecated scons flag causes compile errors.

**Steps to reproduce:**
Compile with scons using:

"deprecated=no"

[2018-07-26 14:17] fire commented on #20483
[code]

[2018-07-26 14:17] hpvb commented on #20482
I've pulled the fix into the 3.0 branch.

[2018-07-26 14:17] #20482 closed

[2018-07-26 14:19] akien-mga commented on #20483
CC @AndreaCatania

[2018-07-26 14:38] PullTheStrings commented on #19356
I have made some new mockups to clarify my request.

The below image is how I imagine the Dynamic Font inspector window could look.
It includes the ability to:

- Add a flat colour to the font, or a gradient consisting of two colours
- Add two outlines each with their own colour
- Add a drop shadow. The drop shadow can be offset and be either sharp or soft.

![dynamicfontinspector](https://user-im

[2018-07-26 14:54] Piripant commented on #2884
This issue is still present. I also noticed that this creates an inconsistency, where `world_to_map` and `map_to_world` are no longer inverse functions:
[code]
If the behavior of `world_to_map` and `map_to_world` must be preserved like this to work in the editor, I think an optional argument to calculate the coordinates considering the tiles offset would be nice. (I have found that on `map_to_worl

[2018-07-26 14:56] romlok commented on #20008
Just tested with the latest master (96d37769d) and this problem still occurs.

[2018-07-26 14:59] th1z commented on #7485
I don't think that's possible right now, because of: #17067

Is there currently any other options to have multiple lights(2d) with masking or to combine multiple textures to a light mask?

[2018-07-26 15:22] henriquelalves opened #20485 "Shaders uniform variables are broken in GL|ES 2 compatibility mode"
**Godot version:**
Godot v3 (master - using commit `cfcb6e`)

**OS/device including version:**
- Linux (Ubuntu).
- NVidia GTX960M

**Issue description:**
GL|ES 2 compatibility mode on Godot v3 disables every uniform variables on shaders; they will show as a "[NULL]" not-editable variable, and `set_shader_param()` methods won't work anymore.

**Minimal reproduction project:**
Using the space_shader

[2018-07-26 15:40] karroffel commented on #20485
This is fixed on my branch, this will be fixed once my branch gets merged into master.

[2018-07-26 15:45] AlexHolly opened #20486 "GDScript Expose Directory.erase_contents_recursive and copy_dir"
1.
It would be nice to have `Directory.erase_contents_recursive()` in GDScript.
https://github.com/godotengine/godot/blob/master/core/os/dir_access.cpp#L134

Is it open for discussion or do you say that it is too dangerous?

It would be a bit safer to add `Directory.erase_contents_recursive(path)`.
Using dir.erase_contents_recursive() without open deletes the current project.

2.
Also Directory.co

[2018-07-26 15:57] fire opened #20487 "Audio Recording from godot #15967 crash"
**Godot version:**

03e11c13bfb1649fc9cf9a460249bce5e7f07462

**Issue description:**

@Tugsav

Create a new project.

Add record to audio bug, and enable recording.

Restart project.

The editor crashes.

![devenv_2018-07-26_08-54-10](https://user-images.githubusercontent.com/32321/43273536-8d1e4c54-90b1-11e8-9c9e-878b8719bcf2.png)

**Minimal reproduction project:**
[Audio Record Crash.zip](https:

[2018-07-26 16:04] Tugsav commented on #20487
Ah. It forgot to test using it through the editor, as the original intent was to enable the recording during runtime through a script.
I will look into it.

[2018-07-26 16:14] jotson commented on #16047
It would also be nice if the UI buttons in the toolbar (above the viewport, next to the View button) for drawing the polygon in occluders was the same as the UI for drawing collision polygons. It's confusing that it's different.

[2018-07-26 16:32] stephanngamedev opened #20488 "Dictionary: try(key) method to return value or null when key doesn't exist."
**Actual behavior:**
Raise a error 'Invalid get index 'key_name'

**New behavior:**
- Keep raising error but dictionaries will have the method 'try(key_name)' which returns value if key exists or returns null if the key doesn't exist

This will clean the code. The multiples lines with `if my_dictionary.has('key_name'): my_variable = my_dictionary.key_name` will no longer be necessary. It increases

[2018-07-26 16:53] RandomShaper commented on #20474
Looks as a dupe of #11586, already fixed by #19708.

@nonomiyo , you can expect it to be fixed on 3.0.6.

[2018-07-26 17:10] fire opened #20490 "Visualscript have the comment node group other nodes"
**Issue description:**

Have comment boxes in Visualscript also group nodes.

You have the box, all nodes inside box are considered part of the comment box and are listed in a list.

Any time you move the comment box, it moves all the nodes listed by the translated amount.

Changing the box  / nodes will store the changes to the list of nodes held by the group.

Why?

Seems like a straightforward

[2018-07-26 17:59] williamd1k0 commented on #20488
I agree with this one but I think it should be more similar to Python:

`dict.get(key[, default])`: which returns `None` or `default` if the key doesn't exist (it doesn't raise any error).

Docs: https://docs.python.org/3/library/stdtypes.html#dict.get

[2018-07-26 18:34] aaronfranke commented on #3286
For example, you can perform power-of-two "fposmod" operations using bitwise `&`.

I _will_ be using integer vectors in my code. I would hope to have it as a built-in Godot type so that it gets first-class support with things like conversions to/from float vectors and the ability to use them with many classes such as TileMap. If not, I'll just have to implement my own types.

[2018-07-26 18:52] Faless commented on #19110
@Malkverbena `unsigned char *` is for bytes, not `String` (`char *`), you should use PoolByteArray .

[2018-07-26 19:22] Iris616 opened #20492 "Option to have the Godot Editor run more than one instance of your project"
Exactly what it says on the title, I think it'd be rather helpful to be able to run several instances of your project from the godot editor. This idea comes from the fact that I have been experimenting with networking, and testing out every change gets rather slow when you have to export your project first every single time.

[2018-07-26 19:57] DrMoriarty opened #20494 "Native mobile VR module is lost (3.1.dev)"
**Godot version:**

Godot 3.1.dev from current master 03e11c13b

**OS/device including version:**

MacOSX 10.13.6

**Issue description:**

I have made minimal VR project where I try to initialize "Native mobile" module. There is my `_ready` function:
[code]

When I started on desktop (or on android). It can not find any VR interface:
[code]

I compiled godot with `scons platform=osx target=release