[2017-08-08 08:07] akien-mga commented on #3225
Actually that's the kind of issue which doesn't need a milestone - it's done when it's done :)

[2017-08-08 08:11] akien-mga commented on #9982
For the reference, fixed in 2a6cdfa.

[2017-08-08 08:22] Keetz commented on #10160
I have had this thought too, and actually did change them at some point locally.
If no one beats me to it, i can do this later today hopefully.

If someone wants to beat me to it, here you go:

Environment;
https://github.com/godotengine/godot/blob/master/scene/resources/environment.cpp#L1136

Material:
https://github.com/godotengine/godot/blob/master/scene/resources/material.cpp#L1732

[2017-08-08 08:25] Warlaan commented on #10155
Yes, we have autoloads and groups, and both have led to bad code design in several Godot projects I have seen. I would actually say that they are an example for how features like this are dangerous.

But I agree with the rest. In Godot you deal with locally unique names, because you are supposed to adhere to object orientation which means that you should not access anything that doesn't belong to

[2017-08-08 08:36] akien-mga commented on #982
FriBiDi is licensed under the LGPL, which is (AFAIU) a bit tricky when you link it statically as we do in Godot for our thirdparty libraries. I think it *may* be fine, but we'd have to double check with a lawyer:

The problem of ICU is that it's huge and provides a lot more than just the BiDi algorithm, so it would bloat the engine unnecessarily.

An alternative could be the Apache-licensed [Sheen

[2017-08-08 09:04] Geequlim commented on #6533
The functions `inst2dict` and `dict2inst` should handle the members of a script instance recursely.
And also they should could be used for all of script languages instead of GDScript only.

[2017-08-08 09:06] Geequlim commented on #6533
@bojidar-bg Any idea with this?

[2017-08-08 09:16] #7748 closed

[2017-08-08 09:18] toger5 commented on #10146
Kund of has to. At least somewhere to display it.
The issue is,that the asset store node os not part of the tree when gettinginitialized. So get_style
Uses the defualt theme not editor theme.

[2017-08-08 09:21] khaledhosny commented on #982
I have no experience with using SheenBidi and it seems relatively new, but in principle any conforming UBA implementation should be fine.

[2017-08-08 09:36] akien-mga commented on #10155
That's only my opinion, but I think that's a terrible idea. @Warlaan explained my gut feeling pretty well. I've already strongly opposed adding stuff like `find_node()` that would parse the scene tree (ouch efficiency!) to find the node of the given name, and the above proposal looks just worse. I'm not familiar with jQuery and it's likely useful for web development, but I really don't see a *posi

[2017-08-08 09:58] guzzard commented on #4985
@reduz have a look at Blender, Maya, Unity, UE4 or AtomicGameEngine. Translation snap with local coordinates is working fine in all of those applications. Since source code is available in several cases it should be possible to get some clue how to implement it in Godot.

[2017-08-08 10:18] reduz commented on #4673
did not meant to close it, please try again, as the commit above might fix it

[2017-08-08 10:30] reduz commented on #5889
<reduz> Akien, but this is because of how CollisionPolygon2D works, until we rewrite it for 3.0 there is no way to fix it

so I guess this can be closed now, @akien-mga ? would be the sixteenth version of the issue present in the 3.0 milestone :P

[2017-08-08 10:32] reduz commented on #2852
I don't understand what the issue is

[2017-08-08 10:33] reduz commented on #4985
i guess I'll just create a custom origin using only the matrix basis, can't think of a better way to implement it

[2017-08-08 10:38] bojidar-bg commented on #6533
No, I never touched inst2dict/dict2inst code so far. I guess I might, if this issue sticks around 😆

[2017-08-08 10:42] bojidar-bg commented on #4673
Can no longer confirm on master, good job 😃
Potentially, other issues with GCC6 release mode exist, but we can fix them when they pop up. Thus, closing.

[2017-08-08 10:42] #4673 closed

[2017-08-08 10:44] bojidar-bg commented on #4985
Well, if it is in local coordinates, then snap should probably be local to the object's position, no?

[2017-08-08 10:55] #4985 closed

[2017-08-08 10:59] reduz commented on #4623
The SSE bugs are fixed, so the only bug remaining was the cast_to<> bug. But this is not really a compiler bug but a godot bug.. so I think it's safe to close this

[2017-08-08 10:59] #4623 closed

[2017-08-08 11:13] akien-mga commented on #6025
Comments are now supported and kept. For the empty lines added at the end of the file, that's because you modified the file with an external text editor which trimmed trailing lines, while Godot likely adds `\n\n` when saving a tscn file by default. This could likely be fixed by removing this extraneous `\n\n`.

So both symptoms of this issue are either fixed or easy to fix, but I agree that it wo

[2017-08-08 11:15] #6222 closed

[2017-08-08 11:16] reduz commented on #6222
It seems the Collada file was broken, as it seems to be exported by Blender internal exporter.
Using the BetterCollada exporter will probably solve this.
In any case, made it not crash

[2017-08-08 11:17] toger5 opened #10167 "OSX Can't compile"
**Operating system or device - Godot version:**
5e1116da4ce052acc64f45ba4bd71310b4826aea
on macOS

**Issue description:**

getting those issues:
<img width="351" alt="screen shot 2017-08-08 at 13 14 06" src="https://user-images.githubusercontent.com/16718859/29069624-f0daf30e-7c3b-11e7-9f90-f7d1f7d38dae.png">

[2017-08-08 11:20] akien-mga commented on #5995
Assuming fixed, at least we haven't had newer references to it in almost a year.

[2017-08-08 11:20] #5995 closed

[2017-08-08 11:23] akien-mga commented on #5990
Is this still valid in 2.1.x and in master/3.0-alpha?

[2017-08-08 11:24] volzhs commented on #10167
`cursor_set_visible` was remove at 539fbad

[2017-08-08 11:26] #5583 closed

[2017-08-08 11:28] toger5 commented on #10167
@volzhs really helpful! Ill try just removing it from the os_osx than too...

[2017-08-08 11:29] akien-mga commented on #5977
Can someone check if this issue is still valid in the current master branch?

[2017-08-08 11:32] akien-mga commented on #5953
Edited issue title accordingly.

[2017-08-08 11:33] akien-mga commented on #5945
Is this still valid in the current master branch?

[2017-08-08 11:34] akien-mga commented on #5930
Is this still valid in the current master branch?

[2017-08-08 11:36] reduz commented on #2852
@sketchyfun I don't think this is a problem per-se but in 2D you can make children not selectable and always force the selection of the parent. Likewise if you are using instance and children are not edibable, it will select the instance root.

I personally think it's better to leave this as-is than adding hacks, as generally instancing solves this problem, but any ideas welcome.

[2017-08-08 11:37] reduz commented on #4472
@bojidar-bg you can give it a try if you want, meanwhile I will kick to 3.1

[2017-08-08 11:39] akien-mga commented on #5928
Assuming fixed in master as that code was rewritten for the new renderer. The issue might still affect 2.1.x though, but at this stage it's likely better that we focus rendering issues on 3.0+.

[2017-08-08 11:39] #5928 closed

[2017-08-08 11:40] akien-mga commented on #5929
As mentioned above, this is not a bug but a limitation of physics bodies, so closing.

[2017-08-08 11:40] #5929 closed

[2017-08-08 11:41] akien-mga commented on #5933
Cubemaps are no longer supported in 3.0, so "fixed" :)

[2017-08-08 11:41] #5933 closed

[2017-08-08 11:41] reduz commented on #5945
bitmap fonts are no longer supported for importing, so i guess not

[2017-08-08 11:41] sketchyfun commented on #2852
Instancing doesn't solve the problem though, this is where the issue is actually most problematic.

If I make a scene, say a building, like this:

O StaticBody
--------> O CollisionShape
--------->O MeshInstance

..and then save it and instance it in another scene, even though I can see the building in the 3D view, clicking on it will do nothing and the only way to select the instanced scene is vi

[2017-08-08 11:42] akien-mga commented on #5924
Closing as fixed then. Feel free to comment if it's still valid in the master branch.

[2017-08-08 11:42] #5924 closed

[2017-08-08 11:43] akien-mga commented on #5908
The visual shader editor was removed (temporarily) from 3.0, and will be readded in 3.1. Since the code will be different, assuming this issue won't apply anymore (if it does, please open a new issue about it or comment here).

[2017-08-08 11:43] #5908 closed

[2017-08-08 11:44] akien-mga commented on #5824
Ratio anchoring was killed in the master branch, so closing.

[2017-08-08 11:44] #5824 closed

[2017-08-08 11:44] akien-mga commented on #5749
Overall I think we're quite happy with the icon set, so closing.

[2017-08-08 11:44] #5749 closed

[2017-08-08 11:45] reduz commented on #5930
Well, this is not actually a bug, it's more of a result of Godot using transforms internally for loc/rot/scale. When you set loc/rot/scale, those values are used for the transform unless you go back to transform mode by using the gizmo.

This might be enhanced a bit by using translate() for nodes in loc/rot/scale mode, so this is kept.. let me give it a try

[2017-08-08 11:45] blurymind opened #10168 "Get a pixel array from a draw_line method"
I've been playing with a little texture editor and managed to make a pretty quick and nifty draw method to draw freehand lines.

It uses the draw_line method to interpolate between points created by the mouse pointer

It's all fun and games until I try to commit the pixels to an image texture image, using the put_pixel() method.

That method needs an x and a y floating point for every pixel. So I

[2017-08-08 11:46] reduz commented on #5930
oh, no, nevermind, not possible given transforms are global. This is unfixable, unfortunately.

[2017-08-08 11:46] reduz commented on #5930
might need better documentation, though

[2017-08-08 11:48] akien-mga commented on #5903
So if I understand correctly the issue is not with the command line export itself, but just that it exports by default in release mode and all of us who reproduced the issue here had not configured the release keystore?

[2017-08-08 11:48] reduz commented on #5945
just closing, then

[2017-08-08 11:48] #5945 closed

[2017-08-08 11:50] reduz commented on #6221
I will kick to 3.1, since at some point want to add optional typing checks. Those checks will be assignment verifications, so will have the chance to add this code there too (which is also an assignment verification)

[2017-08-08 11:51] akien-mga commented on #5903
So there is actually an undocumented `-export-debug` switch to use with `-export` and get the debug template: https://github.com/godotengine/godot/blob/5ae78fd/main/main.cpp#L1087

It should be added to the help output, cc @Calinou.

[2017-08-08 11:57] akien-mga commented on #5887
So the consensus is "current behaviour is fine".

[2017-08-08 11:57] #5887 closed

[2017-08-08 11:59] blurymind commented on #10168
One suggestion is to have draw_line() return the array of pixels it created

example:
[Vector2(0,0),Vector2(10,10),Vector2(20,30),Vector2(50,800)]

right now it is a void and returns nothing

[2017-08-08 12:00] reduz commented on #10168
that's crazy inefficient, just implement a bresenham function

On Tue, Aug 8, 2017 at 8:59 AM, Todor Imreorov <notifications@github.com>
wrote:

[2017-08-08 12:05] kubecz3k commented on #6353
GamesFromScratch was recording first VS introduction yesterday, and one of his first comments was that it's not yet possible to do what I requested in the first post :P It's in this video, basically exactly at 13 minute:
https://youtu.be/dSUMCUsOeyU?t=13m1s

[2017-08-08 12:05] bojidar-bg commented on #10168
Somewhat related to #7727 (due to the original issue the OP had).

[2017-08-08 12:07] akien-mga commented on #5880
So, I understand that was fixed in the docs.

[2017-08-08 12:07] #5880 closed

[2017-08-08 12:07] akien-mga commented on #5877
Rendering was complete redone for 3.0, assuming fixed.

[2017-08-08 12:07] #5877 closed

[2017-08-08 12:09] akien-mga commented on #5867
Is it still valid in 2.1.4-beta2 or 2.1/HEAD (with the new debugger by @Geequlim), or in the master branch (without debugger rework, but still with related changes)?

[2017-08-08 12:10] blurymind commented on #10168
Godot doesnt have a basenham function. Could that be added in the future, if it's a better approach?

[2017-08-08 12:10] akien-mga commented on #5856
Is this still valid in the current master branch? Sounds easy to fix.

[2017-08-08 12:13] Zireael07 commented on #10168
Bresenham is fairly easy to implement though.

[2017-08-08 12:14] akien-mga commented on #5704
Is this still valid in the current master branch?

[2017-08-08 12:15] akien-mga commented on #5684
Is this still valid in the current master branch?

[2017-08-08 12:17] Zireael07 commented on #5684
I don't know if dragging a folder causes this, but I've had this problem after I moved a font to a new subfolder, Godot couldn't find it.

[2017-08-08 12:17] blurymind commented on #10168
@Zireael07 It would be quite handy to have it if it helps with that issue. Could be used in other creative ways :)
I didnt know about basenham before stumbling on this

[2017-08-08 12:19] akien-mga commented on #5654
Should be easy to do, tagging as such.

[2017-08-08 12:20] akien-mga commented on #5624
Is it still valid in the current master branch?

[2017-08-08 12:22] Zireael07 commented on #10168
Bresenham *does* is used a lot, especially in 2D

[2017-08-08 12:25] akien-mga commented on #5586
nodes should just have an internal process notification instead of process,
so they dont mix

That was implemented, so it should be fixed in 3.0.

[2017-08-08 12:25] #5586 closed

[2017-08-08 12:27] akien-mga commented on #5485
There were many fixes to hidpi support on macOS in the master branch, so I assume this might be fixed (at least part of the issues mentioned here, especially regarding external monitors).

[2017-08-08 12:27] #5485 closed

[2017-08-08 12:28] akien-mga commented on #5300
Is this still valid in the current master branch?

[2017-08-08 12:30] akien-mga commented on #5284
One year later (!) this hasn't seen much work, and 3.0 is around the corner. Assigning to the 3.1 milestone, as I think we might get new ideas and motivation to improve the assetlib as new 3.0 content starts being added to it.

[2017-08-08 12:31] akien-mga commented on #5209
Assuming fixed as there have been many improvements to macOS hidpi support, and no new confirmation of this specific bug either.

[2017-08-08 12:31] #5209 closed

[2017-08-08 12:32] blurymind commented on #10168
@reduz Bresenham doesnt however account for line thickness and color

While it would be useful to have, wouldnt it be even better if we had a method to draw lines straight into images

right now we can only put single pixels like this:
editableImage.put_pixel(pixel.x,pixel.y, color)

my suggestion is to add a draw line method that works like put pixel, but instead puts all the pixels of a line
exa

[2017-08-08 12:33] akien-mga commented on #5042
As far as I know it's still valid, but we're still not closer to having an idea about fixing it. If some SCons wizard passes by, feel free to pitch in ;)

[2017-08-08 12:38] WalasPrime commented on #5704
Unfortunately the master branch currently does not compile. I'll check it as soon as possible (if I'll forget then just ping me)

[2017-08-08 12:43] Zireael07 commented on #5042
Yeah, it's still valid. And the reason I was against specifying j>1 as default recently.

[2017-08-08 12:45] akien-mga commented on #4736
Such XML to TSCN conversion happens in the Godot 2 to Godot 3 exporter in 2.1.3+, but a refactoring tool for existing projects to convert SCN <> TSCN and RES <> TRES would still be nice to have in 3.0.

[2017-08-08 12:46] Zireael07 commented on #10168
@blurymind: I implemented bresenham in GDScript and getting it to accept color was fairly easy. Thickness is more difficult however, especially for angled lines.

[2017-08-08 12:47] RandomShaper commented on #10155
In some web frameworks, namely Angular, they isolate each component's so they are self-contained. Even a trick is applied by which CSS becomes component-local. But inside a component (which is a building block homologous to Godot scenes) you still can use rich selectors for CSS and even for picking sub-elements. I think that design decision brings the benefits of selectors while preventing overuse

[2017-08-08 12:48] #10167 closed

[2017-08-08 12:48] akien-mga commented on #5704
The build issue was just fixed, so it should work now.

[2017-08-08 12:49] akien-mga commented on #4945
Just to be sure, this still needs to be implemented in 3.0+?

[2017-08-08 12:52] akien-mga commented on #4773
What's the status on this issue in both the master branch and 2.1/HEAD with the improved debugger?

[2017-08-08 12:54] akien-mga commented on #4397
For 3.0, so much stuff was deprecated that it makes no sense to try to keep compatibility bindings. For 3.1 and later, the idea described here will become relevant again though, I still think it would be a nice improvement.

[2017-08-08 12:56] akien-mga commented on #4378
I guess it should be made similar to the new property grouping in the inspector for 3.0+.

[2017-08-08 12:57] akien-mga commented on #4276
CC @kubecz3k @vnen

[2017-08-08 12:57] akien-mga commented on #4262
I guess we're happy with it... :)

[2017-08-08 12:57] #4262 closed

[2017-08-08 12:58] akien-mga commented on #4255
I think this was improved in the current master branch, could you check and confirm?

[2017-08-08 12:58] blurymind commented on #10168
I might try erasing pixels in the draw event instead  and save to texture when saving to file only. Seems simpler

[2017-08-08 13:00] akien-mga commented on #4157
What's the status in the current master branch?

[2017-08-08 13:03] Zylann commented on #5977
I saw it happen in 3D too, althought it could be a separate issue

[2017-08-08 13:04] akien-mga commented on #3872
As the audio server was fully reworked for 3.0, and the import workflow too, I suppose that this issue doesn't apply as is anymore.

You might still have suggestions regarding how to improve the workflow in 3.0+ though, but I'd suggest to open a new issue for this if relevant, for better visibility.

[2017-08-08 13:04] #3872 closed

[2017-08-08 13:06] Zireael07 commented on #4773
Remote inspector in 2.1.4 beta (the August build) doesn't seem to show local variables.

[2017-08-08 13:14] Hinsbart commented on #6886
Duplicate of #4326

[2017-08-08 13:14] #6886 closed

[2017-08-08 14:03] reduz commented on #5040
Thanks everyone for the help! as far as I know, this is mostly done.. and this issue at least is no longer relevant. If something is missing, it will be better if we report as a separate issue.

[2017-08-08 14:03] #5040 closed

[2017-08-08 14:26] vybr commented on #9024
I had this issue on Windows (not sure about Mac). I don't think it has been solved yet.

[2017-08-08 14:32] Zylann commented on #10168
Why not draw on a render texture instead of pixel per pixel in GDScript? You got a whole rendering engine dedicated to do just that.

[2017-08-08 14:33] #6076 closed

[2017-08-08 14:36] Keetz commented on #10160
@fracteed do we agree if i say default Albedo should be (1.0, 1.0, 1.0, 1.0) instead of (0.7, 0.7, 0.7, 1.0) ?

[2017-08-08 14:40] kubecz3k commented on #10156
I believe the way how it's working currently is a design decision. Usually you should create companion script at the time of creating new scene, so when it will be added to the scene, the information about this script and related node will be saved inside scene file.
The problem is, it would be hard to behave properly in each scenario if we would just assume that all instanced scenes should have t

[2017-08-08 14:45] #6111 closed

[2017-08-08 15:10] groud commented on #10155
To me that's not a good idea. This syntax is heavy and make the code much more difficult to read.
I get the point in javascript, where you spend a lot of lines selecting elements in your HTML document, but it don't see the point in game programming.

[2017-08-08 15:18] kubecz3k commented on #10156
Ok I was wrong, @akien-mga help me realize it's a real bug which was not present in 2.x. Sorry for being smart-ass!

[2017-08-08 15:24] vnen commented on #5684
It's worse on master because the dependency checker is not working at all (#9685)

[2017-08-08 15:47] kubecz3k commented on #10156
I was trying to reproduce, but I was unable to do this with provided reproduction steps.

But after adding inheritance to the mix, the issue is reproducible for me:
1. Create `World` scene, save it.
2. Create `Base` scene, save it.
3. Create `Child`  scene which is extending "Base", save it.
4. Add `Child`to the `World`, save
5. Add script to the root node of `Base` scene, save it.
6. Check `Child

[2017-08-08 15:56] vnen commented on #5042
Well, the one and only proposed solution is Griefchief/godot#2 (made by a co-manager of the SCons project). I'm not really satisfied with it, since it needs to change the logic for all generated files. Still, if anyone want to do it, I guess it wouldn't be so bad.

[2017-08-08 16:16] #6346 closed

[2017-08-08 16:34] reduz commented on #4255
@Zylann the way it works makes it pretty difficult to do this, might need some serious redesign. In any case, kicking to 3.1, won't be done now.

[2017-08-08 16:35] reduz commented on #3873
this is much simpler to do now with the new audio engine, but it wasn't done. Kicking to 3.1 or unless someone wants to do it.

[2017-08-08 16:36] Warlaan commented on #10155
@RandomShaper I am always interested in counterarguments, but I need a little more substance.

I didn't say that globals weren't "OK in any case", I said that they break OO principles and that has negative consequences. I mean who cares what I find OK, it's the negative consequences that I described that people should care about.

And if you make claims like "the docs suggest that Godot is not to

[2017-08-08 16:51] reduz commented on #6507
I ran some callgrind on it. The main reasons why this is slow are:

- First and foremost, KinematicBody motion is a LOT more complex than a RigidBody, they are not supposed to be fast, specially when you have tons of them collising against lots of things
- Demo uses ConvexPolygon+Capsule. This is a pretty complex collision resolution
- That said, the SAT code needs to be changed eventually in 3.1

[2017-08-08 16:55] reduz commented on #6375
will kick to 3.1 for now, will properly implement all the lod systems there

[2017-08-08 16:59] kubecz3k commented on #4773
In current master db7f49183357c282e267c0743411505eb61f1c6f it's still showing only exported variables

[2017-08-08 17:00] Zireael07 commented on #6375
So why have the hysteresis property displayed in editor if it's not used?

[2017-08-08 17:11] RandomShaper commented on #10155
@Warlaan, no offense taken! I'm aware some of my points may be wrong, but healthy discussion is the best way of telling right and wrong ideas apart.

Now, please let me correct my indecency. :) In [a certain section of the docs](http://docs.godotengine.org/en/stable/learning/step_by_step/instancing_continued.html) you can read:

Might I have interpreted that foo far? It may be. But I still think t

[2017-08-08 17:11] toger5 opened #10171 "Editor Help duplicated and no line breaks"
**Issue description:**

sometimes the editor help is buggy.
Here is a screenshot:
<img width="861" alt="screen shot 2017-08-08 at 19 00 36" src="https://user-images.githubusercontent.com/16718859/29084598-d43e6452-7c6c-11e7-9442-d4434e66fb26.png">

I can't tell when it happens.

**Issues are:**
 - missing newLines, indents
 - duplicate entries of property and method description list

### It is for

[2017-08-08 17:13] reduz commented on #1479
@tagcup I'm fine with YXZ if you want to implement this, isn't that called YawPitchRoll or something like that?

[2017-08-08 17:21] tagcup commented on #1479
Cool! I'll submit a PR later tonight. I'm actually not that much familiar with engineer's jargon on rotation axes for vehicles, but it seems they would call it yaw, roll, pitch.

Just as an added note: this wouldn't break existing scenes since they store basis/transform as a matrix, and Euler angles in the editor are derived from that.

[2017-08-08 17:25] toger5 commented on #8951
I renamed it in the styleBoxFlat PR. It might also should get renamed for style box texture.

[2017-08-08 17:28] toger5 commented on #8196
@reduz mentioned to maybe tackle this for 3.1
should we add it to the milestone?

[2017-08-08 17:51] Zylann commented on #10155
If that existed, I would not use it anyways because:

1) I know my scenes, no need to search everytime for stuff
2) I do get_node() as less often as possible because it's a linear search behind. I won't use $(Button) all around because I cache results already in array form, so at best it makes one line of my script look like jQuery or Linq.
3) Getting nodes from root introduces dependencies that I

[2017-08-08 18:01] willnationsdev commented on #10155
Definitely an oversight of mine to ignore the fact that globally accessing things in that way is dangerous. Thanks for the feedback @Warlaan @akien-mga. Still though I feel like as long as you didn't allow for that (so completely ignoring the idea of a "!" marker or anything like that), I still feel like it'd be convenient to have a way of accessing objects based on their class/property/method/gro

[2017-08-08 18:02] samvila opened #10172 "OS.execute doesn't run all the programs"
**Operating system or device - Godot version:**
Godot 3.0 Alpha 1

**Issue description:**

Using something like this works:

OS.execute("notepad", StringArray([]), false)
OS.execute("calc", StringArray([]), false)

but something like this doesn't:

OS.execute("regedit", StringArray([]), false)
OS.execute("cmd", StringArray([]), false)
OS.execute("powershell", StringArray([]), false)

**Steps to re

[2017-08-08 18:02] willnationsdev commented on #10155
Perhaps something like this would be more appropriate as a C# plugin (when 3.0 comes out) so people can opt-in to its functionality.

[2017-08-08 18:03] samvila opened #10173 "OS.get_frames_per_second() missing on Godot 3.0"
**Operating system or device - Godot version:**
Godot 3.0 Alpha 1

**Issue description:**

This function is missing on 3.0

**Steps to reproduce:**

**Link to minimal example project:**

[2017-08-08 18:05] samvila opened #10174 "Text field operators missing on Godot 3.0"
**Operating system or device - Godot version:**
Godot 3.0 Alpha 1

**Issue description:**

On Godot 2.1.x you could use operators on text fields, for example on the display size you could type 1920/2 and you get 960. This functionality is missing on Godot 3.0, also it would be nice if we could use the tab key and the shift+tab to go to the next field or the previous without having to press enter t

[2017-08-08 18:14] tagcup commented on #10160
Also the default value of specular is currently 0.5 (I don't know what specular does ATM though!)

[2017-08-08 18:18] reduz commented on #6375
@Zireael07 because the API is exposed, but the implementation is not written. Might be a good idea to hide it for the time being. Also it might probably be implemented different at some point

[2017-08-08 18:19] samvila commented on #10172
I figure out the problem, I had to run Godot using administrator rights. You can close this ticket.

[2017-08-08 18:19] ISylvox commented on #10173
Moved to Engine.get_frames_per_second()

[2017-08-08 18:20] reduz commented on #9782
@tagcup Remember to re-add or keep my hack to make all x, y and z range from -180 x 180 :P

[2017-08-08 18:23] samvila commented on #10173
Thanks

[2017-08-08 18:23] #10173 closed

[2017-08-08 18:24] samvila commented on #10172
I tried to run cmd.exe or powershell.exe using Godot as admin and I couldn't make it work. Regedit works fine.

[2017-08-08 18:26] tagcup commented on #9782
Ah, OK :D

[2017-08-08 19:04] Warlaan commented on #10155
@RandomShaper It's interesting that you interpreted the recommendation to "think in a more natural way" as a recommendation to work in a less object oriented way, because what you quoted could have been a sentence from one of my lectures on object orientation.
The way I understand it this is about "classic" object orientation as opposed to patterns like Entity-component-systems or MVC that you fin

[2017-08-08 19:42] samvila opened #10175 "Visual scripting Wait node does't work after a condition node"
**Operating system or device - Godot version:**
Godot 3.0 Alpha 1

**Issue description:**

Wait node works perfectly but if you place a wait node after a condition node it does't work anymore.

**Steps to reproduce:**

**Link to minimal example project:**

[2017-08-08 19:43] vnen commented on #10175
Can you attach a sample project?

[2017-08-08 19:46] samvila commented on #10175
[test.zip](https://github.com/godotengine/godot/files/1209346/test.zip)

[2017-08-08 19:55] vnen commented on #10174
Duplicate of  #9500.

[2017-08-08 19:55] #10174 closed

[2017-08-08 19:57] Elinvention commented on #8700
@johannesgunnar This guide explains how to build and run Mesa. https://www.gamingonlinux.com/wiki/Building_Mesa_from_source. Then you can use this script to run godot:

[code]

@Gibbz I don't think they merged the patch yet.

In the mean time there is a rebased version: https://github.com/gerddie/mesa/tree/regrename-v8

[2017-08-08 19:59] samvila commented on #10175
I just notice that I already submitted this issue long time ago:

https://github.com/godotengine/godot/issues/6583

Nothing new since 2016, hope this gets sorted eventually. Can someone merge both threads or should I just close this ticket and add the example file on the old ticket?

[2017-08-08 20:02] vnen commented on #10175
Then I'll close this as duplicate of #6583. Will also add the old issue to the 3.0 milestone so it's not forgotten.

[2017-08-08 20:02] #10175 closed

[2017-08-08 20:03] vnen commented on #6583
Still a problem #10175. Sample project: [test.zip](https://github.com/godotengine/godot/files/1209346/test.zip).

[2017-08-08 20:04] samvila commented on #10175
Thanks!

[2017-08-08 20:04] RandomShaper commented on #10155
I can't be sure about the spirit of the recommendation from the docs. The thing is that I interpret it as I've explained and that works for me, once more, without sacrifying quality.

But what do you think about me setting other object's data members from outside? Something to condemn?

What do you think about data-driven development where they say "object orientation is a lie"? And about dependen

[2017-08-08 20:08] BrainBlasted commented on #10130
Alright, after some testing it seems part of it is that Godot does not handle exporting glTF files with the camera. Opening a new issue for that. I can't seem to figure out what's up with your mesh.

[2017-08-08 20:19] BrainBlasted opened #10176 "glTF Importer does not properly handle camera export from Blender"
**OS - Godot version:** Arch Linux - master [`8a4bce6`](https://github.com/godotengine/godot/commit/8a4bce6ebd843f9a8f482f74601f4933aae737a3)

**Issue description:**

Godot does not properly handle the importing of glTF files from blender with camera included. Using the  Khronos [glTF Exporter](https://github.com/KhronosGroup/glTF-Blender-Exporter) for Blender.

**Steps to reproduce:**
Create a ne

[2017-08-08 20:25] #2061 closed

[2017-08-08 20:25] #9738 closed

[2017-08-08 20:29] reduz commented on #8452
black bars are now being drawn, so closing this one

[2017-08-08 20:29] #8452 closed

[2017-08-08 20:48] henriiquecampos opened #10178 "Visual Script CallInstance should create an Instance when none is set"
# Issue
Ok I'm taking a look at the Visual Scripting to make some videos about it. Something I found very problematic is that you can't use an instance to make a simple call without having to instance it before, and there is no way to do.

That's how I would do it in GDScript
[code]

Currently, I couldn't find a way to do this using Visual Script.

# Solution (?)
Since the CallInstance node alread

[2017-08-08 20:51] Zylann commented on #5977
Otherwise it seems to be fixed in 2D

[2017-08-08 21:03] Zylann commented on #5624
I cannot reproduce it on a from-scratch project.

[2017-08-08 21:12] hikari-no-yume commented on #9782
@tagcup …maybe I'm getting things confused, then? Maybe it's ZXY rather than ZYX that I need? I don't know. What I do know is that

	rotate(Vector3(0, -1, 0), rotation.y)
	rotate(Vector3(-1, 0, 0), rotation.x)

gives the desired behaviour, and the default, whatever it is, doesn't.

[2017-08-08 21:25] george-norton opened #10180 "Corrupt reflections in the material sample (Intel 620)"
**Operating system or device - Godot version:**
OS: Windows 10 (build 1703)
Godot: df573f5c3a76155842e43ea0dbab594e3944b114 (issue is also apparent on the godot 3 alpha 1 along with additional artifacts due to #9970)
GPU: Intel HD Graphics 620 (driver 21.20.16.4590)

**Issue Description:**
There are visible artifacts (a grid effect) on reflections in the material sample:
![reflections](https://use

[2017-08-08 21:27] YeldhamDev opened #10181 "Particles don't fire again when unmarking "One Shot""
**Ubuntu 17.04 - Godot version: 3.0.alpha1**

**Issue description:**
When unmarking the "One Shot" option in a Particles/Particles2D node, it will not start firing again unless either the scene is restarted, or setting off and on the Emitting opition.

[2017-08-08 21:49] tagcup commented on #9782
I don't know what the desired behavior here is but unless you want to rotate it around -x and -y axes, you don't need those minus signs.

[2017-08-08 21:52] tagcup commented on #9782
Here's a quick test:

[code]

which gives

[code]

as expected.

[2017-08-08 22:03] TacoShank commented on #2852
@reduz [I made a video for you](https://www.youtube.com/watch?v=lRbefcsYDi4), explaining what the new user experience currently is like and some general workflow feedback.

The release of version 3 of Godot is a big chance for the engine to gain some much needed recognition that it deserves. However, if these fundamental workflow issues aren't fixed by then, I'm afraid once again everyone will dec

[2017-08-08 22:20] tagcup commented on #10180
See #9525

[2017-08-08 22:25] Zylann opened #10182 "3D particles cannot rotate"
Godot 3.0 alpha1
Windows 10 64 bits
nVidia geforce 940M

I tried various settings in ParticlesMaterial that are supposed to rotate the particles, but none of them worked. Angular velocity, orbit velocity, angle, none did anything when set to 1, 5, 60, even with randomness. Also, there doesn't seem to be a way to billboard them.

[2017-08-08 22:31] marcelofg55 commented on #9739
@toby3d Could you test this again now that #9983 has been merged?

[2017-08-08 22:38] sketchyfun commented on #2852
I also feel this should be pretty high priority, as I've experienced the issue first hand while working on my current 3D game. The only way I've been able to get around it is by making my instanced scenes have a root node that is selectable via the 3D view, but this isn't always possible. In the end I ended up modifying the engine with a hack that gives usually unselectable spatial nodes a 1x1x1 c

[2017-08-08 22:46] Zylann opened #10183 "3D particles blink when set a velocity of 0"
Godot 3.0 alpha1
Windows 10 64 bits
nVidia geforce 940M

When I set a velocity of 0 for particles in the process material, particles spawn and disappear one frame after, though lifetime is set to 1 second.

[2017-08-08 22:47] reduz commented on #5300
i rewrote the action system and see nothing preventing doubleclick from working, so closing this. IF anything like this everh appens again, let's hope it's reported

[2017-08-08 22:47] #5300 closed

[2017-08-08 22:52] TeddyDD opened #10184 "There is no way to import BitmapFont in Godot 3"
**Operating system or device - Godot version:**
Godot 3 form master, commit df573f5c3a76155842e43ea0dbab594e3944b114

**Issue description:**
While BitmapFont resource exist, there is no way to import TTF as BitmapFont

There is one more use case I'd like to mention: importing image as BitmapFont.
You can find a lot of bitmap fonts in form of textures in the internet.
It could be nice to have way t

[2017-08-08 22:54] reduz commented on #5848
oh, I see, i ported it go 3.0. The problem is that it's a ton of data for the current stack frame to send to the debugger. I'll try making the receive buffer from the debugger larger..

[2017-08-08 22:55] reduz commented on #10184
The idea was to add BMFont support at some point, since there already is
support for it in the bitmap font class..

On Tue, Aug 8, 2017 at 7:53 PM, Daniel Lewan <notifications@github.com>
wrote:

[2017-08-08 22:56] Zylann opened #10185 "3D particles are extremely laggy when seen close"
Godot 3.0 alpha1
Windows 10 64 bits
nVidia geforce 940M

I made a failed attempt to generate a cloud using particles, but I noticed that if I watch them from a close distance, it starts to lag a lot, even with only 200 particles.
(I'd like to see how Godot perform to recreate a project I made with Unity 4 years ago: https://www.youtube.com/watch?v=vJgZz31GIWg)

Project:
[ParticlesTest.zip](https:/

[2017-08-08 23:02] TeddyDD commented on #10184
Good to know. Personally I use DynamicFonts but that use case with png -> font seems nice especially for writing rouge-likes ;)

[2017-08-08 23:09] coppolaemilio commented on #2852
I also feel the need for this feature to be implemented in 3.0 having a good relationship with the nodes is the main goal for the on-boarding experience. The video made @TacoShank is a pretty good way to understand the way of thinking of a new user.

[2017-08-08 23:13] Zylann opened #10186 "3D particles emission gets chunky if framerate is slowed down"
Godot 3.0 alpha1
Windows 10 64 bits
nVidia geforce 940M

I noticed 3D particles emission became less random if the framerate isn't 60fps, giving this kind of artifact with 5000:
https://www.youtube.com/watch?v=yEKJqWV1z-0&feature=youtu.be
If I reduce to something lower like 1000, the spawn pattern is back to random.

[2017-08-08 23:15] TeddyDD commented on #10155
While I don't think there's need for all that functionality, @willnationsdev made few interesting points.
$ is syntax sugar for get_node() (less powerful but less typing).
$("!") makes no sense to me since you can do $"/root/node"

I like the idea $ operator could be used to get array of nodes. I can see two useful cases:
- get all children in group
- get all children that match the glob pattern `

[2017-08-08 23:20] Zylann opened #10187 "Wireframe mode doesn't work with particles"
Godot 3.0 alpha1
Windows 10 64 bits
nVidia geforce 940M

I noticed wireframe mode does't turn particles into wireframe, are they supposed to be able to render this way?

[2017-08-08 23:56] #5848 closed

[2017-08-09 00:03] fracteed commented on #10160
@keetz, yes that sounds like a good idea for the albedo default! Many will not know that this value acts as a multiplier when they use an albedo map so this is safest.
@tagcup, the specular control currently does nothing. I think it is important that we copy the same control that UE4/Substance and Blender use. It is not just a multiplier as it has no effect when used on a full metallic material. T

[2017-08-09 00:13] #5977 closed

[2017-08-09 00:17] YeldhamDev opened #10188 "Light doesn't look right with floors when looking straight ahead"
**Ubuntu 17.04 - Godot version: 3.0.alpha1**

**Issue description:**
When a light has shadows enabled, looking straight ahead, hits a plane mesh facing upwards, it looks really awkward. The bias has to be set really high for it to look decent.

![screenshot_at_2017-08-08_19-34-31](https://user-images.githubusercontent.com/30739239/29099960-d5fb2610-7c7e-11e7-97aa-b62576b09e9a.png)

[2017-08-09 00:21] Stajin commented on #2852
I have to agree that this is an important issue, it should at least grab the whole instanced scene when you click an element that's within it. Don't get me wrong, I'm not saying make it like a lumberyard style slices system (Like a prefab + alterations stacking kind of thing) for 3.0, but at least give the user the feedback.

As in, you clicked this thing, it's part of this instanced scene, now yo

[2017-08-09 00:27] eon-s commented on #10185
The same on Ubuntu.
Removing the "transparent" flag on the spatial material, the speed returns to normal.

[2017-08-09 00:38] williamd1k0 commented on #5427
It would be nice to have a palette loader, at least for GIMP palette (also used in Krita).

[2017-08-09 01:08] Geequlim commented on #9034
This problem should be fixed with 2.1 branch but still exist in master but the limit changed to 8MB now with 90a595ac4273dbf79809c810421f1f439c78e452.

[2017-08-09 01:47] #6461 closed

[2017-08-09 02:05] reduz commented on #6583
dang.. now I will have to re-learn how the visual script VM works to fix this bug..

[2017-08-09 02:18] reduz commented on #9034
yeah i think the new limit is a lot more reasonable

On Tue, Aug 8, 2017 at 10:09 PM, Geequlim <notifications@github.com> wrote:

[2017-08-09 02:37] reduz commented on #7281
this is fixed now, given debug is in CollisionObject itself.

[2017-08-09 02:37] #7281 closed

[2017-08-09 02:38] reduz commented on #7281
errrrr CollisionShape I meant

[2017-08-09 02:39] reduz commented on #8045
this is fixed now

[2017-08-09 02:39] #8045 closed

[2017-08-09 02:39] Geequlim opened #10189 "Instances of inner classe can't be load back with ConfigFile"
**Operating system or device - Godot version:**
Godot 3.0 alpha1 on Windows 10

**Issue description:**

There is a class named `MyClass.gd`. Instance of this class can be save and load back with `ConfigFile` but something wrong with the member `subObj ` which is an Instance of the inner class `SubClass`.

[code]

**Steps to reproduce:**
1. Download the project below
2. Click "Save" button to save

[2017-08-09 02:44] #8300 closed

[2017-08-09 03:00] asusralis commented on #2852
I don't mean to sound dramatic, but how isn't this a top issue? The video @TacoShank made perfectly sums up some major problems with level designing in Godot, and makes development in other engines that has basic editing functionality - like UE4 and Unity - much more appealing.

[2017-08-09 03:03] BrainBlasted commented on #10017
I found that certain changes to the model do in fact change. For example, if you join meshes and re-export from blender, parts of the mesh may disappear until you reload. Another instance is if you change origin within blender, the origin of the mesh shifts incorrectly in Godot until the scene is re-opened.

[2017-08-09 04:02] ISylvox commented on #10181
I think it's expected. That is the point of One Shot.

Emitting ON + OneShot ON will play the particle only once during its Time/Lifetime and then Stopped. To play the particle again, need to restart Emitting.

[2017-08-09 04:05] vnen commented on #10171
IME it happens when there's a code block in the class description.

[2017-08-09 04:15] vnen commented on #10180
Similar to #8708 as well. Closing as duplicate.

[2017-08-09 04:15] #10180 closed

[2017-08-09 04:24] tagcup commented on #9782
Ah, were you by any chance using 2.x? The rotations had a sign problem but that's fixed in 3.0.

[2017-08-09 04:28] hikari-no-yume commented on #9782
I was indeed using 2.x. I've so far avoided 3.0 given its immaturity and 2.0 being entirely sufficient for my needs.

[2017-08-09 04:29] vnen commented on #10160
Uh, I'm not an expert, but the Specular control certainly does **something**. E.g:

Specular = 0:

![godot windows opt tools 64_2017-08-09_01-22-39](https://user-images.githubusercontent.com/5599796/29105274-32345028-7ca2-11e7-96a1-5f46fb04a243.png)

Specular = 1:

![godot windows opt tools 64_2017-08-09_01-23-05](https://user-images.githubusercontent.com/5599796/29105276-3534872a-7ca2-11e7-9671-5

[2017-08-09 05:48] drtwisted commented on #10144
I tested on the most recent build. Indeed the button is much more usable then the in the build I had before. But the rewrite sounds terrific!

[2017-08-09 06:55] fkossyvas commented on #8902
@willt : from what i see you are right : Intel has't fixed it for the 520. I've installed all the latest upgrades for my notebook (including Bios) but i had to downgrade the graphics update (again) to make Godot work.
I agree that this is not a Godot bug (but an Intel one) and should have been closed but the existence of this (closed) issue is helpful for others with the same problem.

[2017-08-09 06:57] bojidar-bg commented on #10189
Related to #6533?

[2017-08-09 07:54] Geequlim commented on #10189
In fact the `ConfigFile` doesn't requires the GDScript module.
So it would be better if `inst2dict` and `dict2inst` could be seprate from GDScript language and make them *virtual* with different script languages.

[2017-08-09 07:58] sketchyfun commented on #2852
I think @reduz is under the impression that it works the same way as in 2d, but I don't think that's the case at the moment

[2017-08-09 08:12] Stajin commented on #2852
I expect it's more due to the fact that right now he's playing whack a mole on so many issues that he may not have had time to actually watch the video, the poor guys swamped with work.

Hopefully this issue will get solved for release though, as it appears to be a pretty big issue in terms of usability in my opinion.

[2017-08-09 08:17] hunar1997 opened #10195 "Add map() function, for mapping values from a range to another"
I used [Processing](http://processing.org) and it contains a very useful function **map()**
it works like this: `var result = map(v, a,b, x,y)` you pass a value **v** which is between **a** and **b** and the function will return a number between **x** and **y**

ex: `var r = map(60, 20,100, 200, 240)` this will return **220**
or: `var g = map(0.43, 0,1, 0,255)`

From [here](https://forum.processin

[2017-08-09 08:20] curly-brace opened #10196 "easy methods to draw debug primitives in 3d"
like lines, rays, boxes, circles, etc
with simple methods like debug_ray(from_vector, normal_vector, color)

[2017-08-09 08:42] curly-brace opened #10197 "ImmediateGeometry does not work in 3.0"
**Operating system or device - Godot version:**
windows, latest build

**Issue description:**
i'm using this code:
[code]
but it produces nothing on screen
am i using it wrong or it is broken?

**Link to minimal example project:**
https://www.dropbox.com/s/f473mkcuq20yc2y/imm.zip?dl=0

[2017-08-09 08:49] kubecz3k commented on #10197
It looks ok for me at the first glance. Are you sure you are using latest master? ImmediateGeometry fix was fixed 2 days ago (it's now working in my project, but haven't check your sample yet).

[2017-08-09 08:55] kubecz3k commented on #10197
Oh also, I think you should use `Mesh.PRIMITIVE_LINES`  like: `imm.begin(Mesh.PRIMITIVE_LINES, null)`

[2017-08-09 08:57] n-pigeon commented on #2852
I must agree that inability to select "stuff" in 3D viewport is really big issue.
I'm also a bit worried that it might leave very strong bad impression for people who will try 3.0 :(

[2017-08-09 08:57] curly-brace commented on #10197
i already don't know what am i using, i've downloaded it from Calinou's repo and it is marked as from 07 August but commit is de6b972, but i faile to find it tho in the tree...

[2017-08-09 08:58] kubecz3k commented on #10197
it was merged at 7 august but very late in night, I think you need build at least from the 8 :)

[2017-08-09 08:59] curly-brace commented on #10197
ok thanks

[2017-08-09 08:59] #10197 closed

[2017-08-09 09:00] nunodonato commented on #2852
+1 for this. not being able to select 3d objects in a 3d game is infuriating, to say the least.

[2017-08-09 09:00] kubecz3k commented on #10197
here is the commit with fix for the reference: https://github.com/godotengine/godot/pull/10055

[2017-08-09 09:08] kubecz3k opened #10200 "Documentation on how to use NOTIFICATION_TRANSFORM_*"
**bugsquad edit:** it turns out it's a documentation issue, in 3.0 we need to enable those notifications. More details here: https://github.com/godotengine/godot/issues/10200#issuecomment-321216920

-----------

**Operating system or device - Godot version:**
1536cc438128fe4036fa7da5ec305513a781d3c8 (3.0 alpha)

**Issue description:**
NOTIFICATION_TRANSFORM_CHANGED and NOTIFICATION_TRANSLATION_CHA

[2017-08-09 10:10] toger5 commented on #10171
for a quick fix should I remove the Code block or look into whatever is causing the duplication?

[2017-08-09 10:11] reduz commented on #10200
you have to enable it manually now

On Wed, Aug 9, 2017 at 6:08 AM, kubecz3k <notifications@github.com> wrote:

[2017-08-09 10:16] Causeless opened #10201 "Editor Usability"
Hey, I didn't create this video (nor have any Unity experience) but I found this which highlighted a couple usability issues within Godot.

https://youtu.be/lRbefcsYDi4

* Difficulty selecting desired node
* Arrow keying through scene graph doesn't highlight current node
* Moving objects must be done per axis instead of on a plane
* Cannot drag/drop scenes directly into the editor view window
* No

[2017-08-09 10:25] Zireael07 commented on #10201
It's been already posted as a comment on #2852 but I guess it'll get more visibility as a separate issue.

[2017-08-09 10:26] kubecz3k commented on #10200
@reduz oh cool, thanks for letting me know. In meantime I noticed that for `MeshInstance` it's working even if not enabled by user, but I guess it's enabled on the c++ site. Will leave this issue as a documentation reference.

[2017-08-09 10:27] kubecz3k commented on #10200
The method that need to be used to get those notifications working is `set_notify_transform(true);` There are also others: `set_notify_local_transform` and `set_ignore_transform_notification`

[2017-08-09 10:28] brenttaylor commented on #2852
@reduz Take a look at #9145 as it explains the issue rather well.  This is a huge workflow issue and the only reason I avoid Godot for 3D projects.  Godot is amazing and for 2D projects saves me significant amounts of time as a single developer.  It's unfortunate that most of that time is lost when working in 3D.

[2017-08-09 11:07] Elmapul opened #10203 "caret color is broken"
ubuntu 14.04
godot 3 alpha build 1
the carrot color was normal the last time i used, but now when i openend godot, it was black (and as a result, its almost impossible to see where it is)
the update spiner is turning, so i dont know if there are updates (the help>about stil says build 1)

[2017-08-09 11:20] #7837 closed

[2017-08-09 11:48] novemberist opened #10204 "blue circle at the bottom of the default environment"
**Operating system or device - Godot version:**
Arch Linux, Godot master
Intel HD4000
Mesa 17.1.6

**Issue description:**
There is this light blue dot/circle at the bottom of the 3d scene with the default environment enabled, which looks like a very distant reflection of the sky. Is it supposed to be there?

**Steps to reproduce:**
Look into the abyss.

**Link to minimal example project:**

![blue

[2017-08-09 11:53] Noshyaar commented on #10204
I had seen this weeks ago, then it disappeared. I think it's fixed. What is the exact commit you're using?

[2017-08-09 11:55] novemberist commented on #10204
The latest commit, from about 30 minutes ago. This thing has been there for ages, i first thought it was a new gizmo or something to lock the y axis ;)

[2017-08-09 11:59] reduz commented on #10204
Thay say it's a portal to a parallel dimension that opens up at the
eleventh hour of the Equinox. It may be a floating point precission error
too.

On Wed, Aug 9, 2017 at 8:53 AM, Poommetee Ketson <notifications@github.com>
wrote:

[2017-08-09 12:00] Noshyaar commented on #10204
Can't reproduce. But I think it's an issue with ProceduralSky. Try looking up too.
![image](https://user-images.githubusercontent.com/26753932/29120519-c8aa3d3c-7d34-11e7-840e-c7b5557cc02e.png)

Is it an older project by any chance? Does it happen in a newly created project?

[2017-08-09 12:10] novemberist commented on #10204
That thought crossed my mind, too. But it also happens with newly created projects. Maybe it's another driver issue, so I'll add my device and graphics driver to the issue.

[2017-08-09 12:16] novemberist commented on #10204
And yes, there is also one at the other end of the y-Axis
![blue_circle_top](https://user-images.githubusercontent.com/7927471/29121063-478aedea-7d0d-11e7-99fc-f55185e7fd4b.png)

[2017-08-09 12:21] Noshyaar commented on #10204
That's exactly the same issue I've had long ago... 🤔

[2017-08-09 12:23] novemberist commented on #10204
The color of the one on the top is affected by "Sky/Horizon Color" and the one on the bottom by "Ground/Horizon Color" by the way. Don't know if this helps to trace the source of this issue.

[2017-08-09 12:32] Zylann commented on #10201
Could use 3D color picking?

[2017-08-09 12:41] reduz commented on #10200
It works on meshinstance because it needs to update the mesh on the
server.. i wonder if this should also have an internal notification too...

On Aug 9, 2017 7:28 AM, "kubecz3k" <notifications@github.com> wrote:

[2017-08-09 12:47] Zylann commented on #10203
note: the spinner is about ui redrawing itself, not engine updates ;)

[2017-08-09 13:26] Faless commented on #9635
ping @akien-mga

[2017-08-09 13:32] Faless commented on #8563
@zanew @Zireael07 can somebody with a Mac check if this issue happens on the current `2.1` branch?

[2017-08-09 13:33] tagcup commented on #10201
I might be wrong but I vaguely remember there is a "secret" keyboard shortcut for this in the property editor (change the value in one of the axes and press shift+enter), although that's not with mouse and only works in the global axes and not in the local axes.

[2017-08-09 13:37] #9635 closed

[2017-08-09 13:39] tagcup commented on #10195
You can do this in GDScript. Also `map` is a very vague, if not misused (which typically means [this](https://en.wikipedia.org/wiki/Map_(parallel_pattern))), term for this.

[2017-08-09 13:46] tagcup commented on #5930
This is actually on my TODO list, I"ll add this bit of detail when I go through the in-editor math docs. Meanwhile, there is currently a [documentation in the code](https://github.com/godotengine/godot/blob/master/core/math/matrix3.cpp#L231).

[2017-08-09 13:52] tagcup commented on #5930
This came up several times before actually.

The proper fix for this would be to store the rotation and scaling parts of the Basis separately (in addition to the Basis matrix, which would be constructed again once rotation/scaling changes, although this would incur a small memory overhead). Another advantage of this would be much better precision (we wouldn't need to orthonormalize the Basis ever

[2017-08-09 14:11] Zireael07 commented on #8563
@Faless I don't have a Mac, I'm on Windows, and the issue seems to have disappeared for me (the debugger connects nicely)

[2017-08-09 14:12] blurymind commented on #1350
@reduz that doesnt really solve it, because the on release event you propose gets repeatedly fired.

When you do
if InputEvent.MOUSE_BUTTON and event.is_pressed() and event.button_index == BUTTON_LEFT:
that triggers once

if you do
if InputEvent.MOUSE_BUTTON and !event.is_pressed() and event.button_index == BUTTON_LEFT

godot fails to compile it

if you do
if InputEvent.MOUSE_BUTTON and !event.is_

[2017-08-09 14:26] vnen commented on #10195
This seems an oddly specific function with an awful name (as @tagcup said, `map` usually means applying a function to all elements in a list). It seems to me the same as [`lerp`](http://docs.godotengine.org/en/stable/classes/class_@gdscript.html#class-gdscript-lerp) but with the ability to select the range instead of using only 0-1. In fact, your second example (`var g = map(0.43, 0,1, 0,255)`) is

[2017-08-09 14:28] Faless commented on #8563
Right, my bad.

@Zireael07  can you close #8744 then?

[2017-08-09 14:37] Faless commented on #8563
@bojidar-bg since you are in this discussion, I think this can be closed alongside #9635 which was reported as fixed by original author. This appears to be the same problem. Current `2.1` branch should be unaffected, like `2.1.4` beta.

[2017-08-09 14:38] vnen commented on #1350
@blurymind If you're using it in `_input()`, it'll only be fired once for the released event. On `_process()`  there's no way around without using a boolean variable.

BTW `if InputEvent.MOUSE_BUTTON` does not make sense as code, I'm assuming you mean `if event.type == InputEvent.MOUSE_BUTTON`.

[2017-08-09 14:52] groud commented on #10195
Agree with vnen for the naming part. But i'm not even sure it's really needed, as we allready have `lerp`.
Anyway this could be called somehow like `rlerp`, (for range lerp) ?

Could be marked as Junior job I guess

[2017-08-09 14:54] groud commented on #10188
Maybe a duplicate of #8708 ?

[2017-08-09 15:14] tagcup commented on #10195
But why does this have to be in the core? You can implement such specific functions in two lines in gdscript.

[2017-08-09 15:18] YeldhamDev opened #10207 "ScrollContainer doesn't react to its child's "sort_children()" naturally"
**Ubuntu 17.04 - Godot version: 3.0.alpha1**

**Issue description:**
When the size of the child of a ScrollContainer node changes, the container will not update its scrollbars unless interacted with. The developer needs to use signals and manually call "queue_sort()" for the container.

**Link to minimal example project:**
[Test.tar.gz](https://github.com/godotengine/godot/files/1211935/Test.tar.g

[2017-08-09 15:18] willnationsdev opened #10208 "Node class provides signal for when moved in the node hierarchy"
There is already `enter_tree()` and `exit_tree()` signals, but there isn't any signal sent out when a node's position in the hierarchy is changed. This could be a useful feature for tools and procedural generation.

This might be something more for 3.1 or later seeing as how it would appear low on priority and involves modifications to a couple different places in main/node.h, and main/node.cpp (a

[2017-08-09 15:30] pakchano commented on #8563
Yes @Faless, the beta does input the Debugger and prints correctly.

[2017-08-09 15:40] AWKgamedev commented on #9841
I was having the same problem and I think found out what causes the undo bug, it's the "Convert Indent On Save" option in Editor Settings > Text Editor > Indent, unchecking the option fixes the undo.

[2017-08-09 15:41] Zylann commented on #10208
note that position change notification is one of the bottlenecks in medium/big games made with Unity (lots of objects involved when transform is modified), so if the same thing is made into a signal too in Godot it should preferably cost only for scripts that use it :3

[2017-08-09 15:55] hunar1997 commented on #10195
I agree that the name **map()** is wrong, i like **rlerp** .. but it's very annoying to implement it every time in gdscript .. it's clearly more complicated that `Vector2.length()`  so its like saying "implement Vector2.length() in your gdscript", there are alot of other functions that are very easy to implement in gdscript so why exclude this one? :/

[2017-08-09 16:03] tagcup commented on #10195
"Why exclude this one" is the wrong question, to wrong person.
Instead, *you* need to give a compelling reason to why this particular function should be in the core.

Everybody has that sort of utility functions. If we add all of those to the core, it will be a heap of incoherent utility box.

FYI, you can reuse functions defined in other files in GDScript.

[2017-08-09 16:06] tagcup commented on #10195
And if you need performance, you can use NativeScript for such functions now.

[2017-08-09 16:08] groud commented on #10195
Well, this is a tool math function. I perfectly understand why it may be in the math API.
Usually we refer either to the C or the python API for those function. Can you find an equivalent there ?

[2017-08-09 16:11] tagcup commented on #10195
Why do think being mathematical justifies adding it to the core? I can literally give you thousands of useful mathematical functions (just open Mathematica's help, or check out Julia's libraries).

[2017-08-09 16:16] hunar1997 commented on #10195
It's very useful in changing a number from one range to another, i used it before in other places for changing world to pixel coordinates and vice versa (very useful in creating mandelbrot), i don't have any example for Godot in my head right now :/

[2017-08-09 16:21] groud commented on #10195
Ok, so I can ask you the opposite question. Why not adding it to the core ? This is not a corner case function and it is useful, it seems, at least to Processing users.

We are not talking about some complex math function, this is just a math tool to interpolate from one range to another. It's easy to implement a faces many possible usage.

I still don't say should be added, but I understand that

[2017-08-09 16:21] tagcup commented on #10195
I'm not saying it's not useful for *you*. You need to give convincing argument as to why this is one-liner, which you can trivially implement on your own, has to be in the core for everyone.

FFT, for example, which isn't even trivial, is useful in various types games for example, but it's not there because it's not for relevant for most, and they can simply use fftw if they need it.

[2017-08-09 16:24] tagcup commented on #10195
@groud

I answered this exact question above. It doesn't work like that. You don't come up with random stuff and ask "ok explain to me, why not". *You* have to explain why it has to be in the core.

Exactly, which he can implement on his own easily.

Anyway, this isn't going anywhere. I don't see any compelling reasons for adding this to the core, so I'm against this.

[2017-08-09 16:29] tagcup commented on #10195
And my understanding is mathematical functions in the core support the needs of the engine itself, which is totally different from being a union of all utility functions various users came up for their own needs.

[2017-08-09 16:29] groud commented on #10195
This is not a random function. It's used in Processing's API and is useful to OP.
Find me a good argument explaining me why `lerp`should be in the core and not this `rlerp` ?
They basically do the same either from 0 to 1 or from A to B.

Saying no to API additions by default is absurd, else useful function like abs() would not have been added because its easy to code it your own way?

[2017-08-09 16:30] tagcup commented on #10195
Please properly read the two replies I wrote above right above your post.
I'm done with this otherwise.

[2017-08-09 16:33] groud commented on #10195
Ok, that's where we don't agree :)
For me some functions that are useful to everyone, even not used in the engine code, should be available to use in GDscript via the math API.

[2017-08-09 16:36] tagcup commented on #10195
No even then it shouldn't, which I also explained why above. Do you read what people write at all?

[2017-08-09 16:37] tagcup commented on #10195
It's not useful to me.

[2017-08-09 16:38] hunar1997 commented on #10195
This was the first time i contribute in anything :/ It wasn't as great as i expected, it wasn't bad also .. Thanks anyways , I'm done too

[2017-08-09 16:42] groud commented on #10195
@hunar1997 No worries, this is not happening every time. API changes are always tricky to introduce ^^
@tagcup it is not useful to you, but I think it would be to me. The point is to find out if it is useful to most users or if it is just making the math API too heavy. :) And, please don't be agressive, we all try to understand the point of view of each other.

[2017-08-09 16:49] Zireael07 commented on #8744
I'm closing this as the issue seems to have fixed itself in the meantime.

[2017-08-09 16:49] #8744 closed

[2017-08-09 16:51] tagcup commented on #10195
Yes, that's my point. You're asking adding an edge case stuff to the core (core means core of the engine ). Surely they're useful to some. If you think this could be useful to other people, be my guess and add it Assert Store. But don't extrapolate it to everyone.

You don't see me asking "why not" for tensors, matrix exponents, integral transforms, general ode and pde solvers, higher dimensional

[2017-08-09 17:04] groud commented on #10195
But this is not the same level of math: we're talking here about 3 lines of code simplified in a one-liner. As with abs(), sign()... We're not talking here about a complex and corner-case treatment.

Also for me it is not an edge-case. I can come up with few examples where it could be used:
- mapping a screen mouse position to a grid
- mapping the x position of a node to a score (like with flappy

[2017-08-09 17:06] vnen commented on #8563
Closing as fixed then.

[2017-08-09 17:07] Zireael07 commented on #10195
I can think of a couple uses for a map() function, be it in 2D or 3D. For instance, mapping non-binary input (joystick or some such, not keyboard which is always 0 or 1) to angles or velocities.

[2017-08-09 17:11] tagcup commented on #10195
Again, I'm not discussing this anymore. I'm recapping what I said for the umpteen time.

* If you need it, you can add it to your project.
* If it's a one-liner, all the better, you can add it yourself easily.
* If you think it may be useful to others too, be my guest, put it on Asset Library.
* Of course it's useful to some people. Otherwise, it wouldn't have existed in the first place. But that'

[2017-08-09 17:13] willnationsdev commented on #10208
@Zylann This shouldn't be anything affected by a transform of some kind, right? This would be more if a child or parent was moved in the hierarchy to have a different relationship to its node-neighbors. Would that somehow be triggered on simple transformation operations like move/rotate/scale?

[2017-08-09 17:15] Zireael07 commented on #10195
@tagcup: Most game engines (or at least the ones that pretend to be universal, not niche specialized things like roguelike engines or shooter engines or whatnots) have such a function in core. I don't understand your resistance to this when we already have lerp in core?

[2017-08-09 17:16] kubecz3k commented on #2852
In any case... https://github.com/godotengine/godot/pull/10209

[2017-08-09 17:16] tagcup commented on #10195
If you actually read my previous post, you'll discover that the answer is there.

[2017-08-09 17:20] Zireael07 commented on #10195
I still don't understand what the reasoning behind including this but not that in core is. Eg. the recent work on gradiented rounded styleboxes seems to be ok.

[2017-08-09 17:37] Zylann commented on #10208
ah if you meant reparenting, then ignore me because it's not the same thing.

note that when a node is reparented, its _enter_tree and _exit_tree are called again.

[2017-08-09 17:44] willnationsdev commented on #10208
oh really? Well then, that simplifies this issue plenty. XD I suspect that means the corresponding signals also get fired? If so, then this can be closed.

[2017-08-09 18:04] Zylann commented on #10208
that's because changing the parent of a tree in godot just removes the node (exit tree) then adds it back under the new parent (enter tree). not sure about signals though.

[2017-08-09 20:15] alimalkhalifa opened #10210 "Actions not working on exported game on Godot-master and Godot-3.0-alpha1"
## Version
Godot 3.0-alpha1 and master on Windows 10 Desktop

## Issue
After exporting a project from Godot 3.0 master or alpha 1, actions are not being recognized

## Suspected cause
Binary is not able to read actions from project.binary.  Once you throw the project.godot file in the same directory, it works.

[2017-08-09 20:41] djrm commented on #10210
duplicate of #9472

[2017-08-09 22:07] CowThing opened #10211 "An example of ancestor constructor usage in documentation"
**bugsquad edit:** The issue was not real, but the documentation might be little misleading. Current docs example looks like this:
[code]
And basically that's what @CowThing was trying to do. Instead example in docs should look more like this I think:
[code]

-------

**Operating system or device - Godot version:**
Windows 10 - Godot 2.1.4 and Godot 3.0 alpha 1

**Issue description:**
If I have a

[2017-08-09 22:40] marcelofg55 commented on #7755
Is this still an issue? I've tried to import that PistolDraw_reexport44n wav file and it worked fine.

[2017-08-09 23:15] YeldhamDev opened #10212 "Some default signal parameters conflict with member variables"
**Ubuntu 17.04 - Godot version: e8192d4**

**Issue description:**
For example: The default parameter name "pressed" in the "toggled()" signal conflicts with the member variable "pressed" in Button nodes, and the parameter "text" in "text_changed()" conflicts with the variable "text" in both LineEdit and Button nodes.

[2017-08-09 23:23] datatoolbox commented on #5688
As commented above by Deere, this works if the check-box for "Open in Low Resolution" is checked in the Get Info dialog.  Additionally, I can then move the Godot window back and forth between an external (low-res) monitor and a built-in retina display, and the Godot window adjusts fine every time.  Hence, so far this seems to be a complete fix.

When the "Open in Low Resolution" option is *NOT* ch

[2017-08-09 23:52] eon-s commented on #10211
TestClass `_init` have one parameter there, should be:

[code]

[2017-08-10 00:15] #10210 closed

[2017-08-10 00:41] marcelofg55 commented on #9744
This should be fixed by #9778, could you confirm it?

[2017-08-10 02:12] CowThing commented on #10211
Ah yes, you're correct, that fixed it. Maybe there should be an example use of that in the documentation, because the way it was described it didn't seem like that would have been the way to do it.

[2017-08-10 02:13] earlroxas13 opened #10213 "OptionButton selected value always set to 0 when run"
OS: Windows 8.1
2.1.3 (Found it here first)
3 alpha (Also found here, used in my screenshot)

**Issue description:**
So, I set the selected value of the option button (say it is 2), and when run the value reset to 0, the value should be 2 right? But when I run the project the value become 0 and the item showed is the 0th item text.

**Steps to reproduce:**
Add OptionButton to scene,
Add some items

[2017-08-10 02:24] Noshyaar commented on #10213
Can confirm that it's present in recent master df5d01f

Scene file contains correct index.
[code]

Workaround: `select(idx)` in `_ready`

[2017-08-10 03:03] BrainBlasted commented on #10204
Could I get some of your project files? Also on Arch Linux, Godot master, Intel HD4000, Mesa 17.1.6

[2017-08-10 03:49] khaledhosny commented on #982
I looked into the text layout code briefly and I’m afraid it is not an easy task since the code seem to be written with the assumption that text is laid sequentially from left to right, which is obviously not the case for most complex scripts. Fixing that will require quite some refactoring and deeper understanding of the code.

[2017-08-10 04:26] deltasquad451 commented on #10172
So when launching Godot on MS Windows you will have a two windows pop up the command prompt and the Godot editor, so when you do OS.execute("cmd", StringArray([]), false) or OS.execute("powershell", StringArray([]), false) it creates another cmd/powershell within the currently existing command prompt:
![image](https://user-images.githubusercontent.com/5035101/29154378-0a85610a-7d49-11e7-9f9c-e8659

[2017-08-10 05:12] 648trindade opened #10214 "Incorrect positioning of axes and standard grid lines in 3D scenes"
**Operating system or device - Godot version:**
Debian Buster/Testing 64 bits up-to-date
Godot versions < 3 (not present on v3 alpha)
CPU: Intel i5 4210u
GPU: Intel HD 4400 (Haswell) (i915 kernel driver)

Present in both the official release and the compiled version of branch 2.1

Compiled with `scons platform=x11 builtin_openssl=yes`

**Issue description:**
When an empty 3D scene is created, some

[2017-08-10 05:43] vinod8990 opened #10215 "Audio Mixer Usability Improvement"
This is a suggestion for AudioMixer UI improvement.

Right now the mixer is like this.
![audio_bus_layout](https://user-images.githubusercontent.com/434987/29155630-f71099e2-7dba-11e7-83ff-d88a5de5a5fc.png)

On a first glance, there are several buttons on the top which don't make a good sense of what they will do.
Of course, after playing with those for some time the developer will realize what th

[2017-08-10 06:18] fracteed opened #10216 "Metallic PBR is broken with ambient environment lighting"
**Operating system or device - Godot version:**
Win 10 Godot 3 current build

**Issue description:**
When environment>ambient light>sky contribution is at 0, materials behave as you would expect. In the first image, the sphere on the left is full metallic(1) with a roughness of 0.2. The sphere on the right is a dielectric material (metallic = 0) with roughness of 0.2.

The image looks as you would

[2017-08-10 06:27] fracteed commented on #10160
@vnen Yes you are right, it does now function. It has been broken for so long, I had forgotten to try it! I do however think that it is not functioning how it should, as compared to UE4/eevee/Substance as it seems to just modulate the amount of spec, not the F0 value as described above. Will ask @reduz about this at some stage, as it would be good to be at parity with the other renderers. Truth be

[2017-08-10 06:39] ZX-WT commented on #10214
probably related to #6003

[2017-08-10 07:09] Soaku commented on #937
Nah, gdscript is a good language. I was scripting in PHP and it was my favorite lang for long time - until I found GDScript. :D Also I had a project of my own language (and I never used Python) with almost identical syntax... Accident?

[2017-08-10 07:09] bojidar-bg commented on #10214
Not just related, but an exact duplicate of #6003.

[2017-08-10 07:09] #10214 closed

[2017-08-10 07:10] Soaku commented on #937
Umm... sorry for bumping, didn't notice the dates/

[2017-08-10 07:19] bojidar-bg commented on #10172
You might have searched online for solutions.
Here is a [Stack overflow question](https://stackoverflow.com/questions/9392874/bat-file-open-new-cmd-window-and-enter-code-in-there), which seems related to what you ask.

Basically, you should do something like this, in order to pass `cmd.exe` the `/K` flag, which would cause it to start up a new window.
[code]
Additionally, to start powershell, you

[2017-08-10 07:29] bojidar-bg commented on #10213
Potentially, related to the fact that `popup` might be still empty when `selected` is being set at https://github.com/godotengine/godot/blob/3121b3a4f4c01744184e952d79f9a56e01bdba41/scene/gui/option_button.cpp#L210-L215

[2017-08-10 07:30] kubecz3k commented on #10211
Checked the docs, they indeed looks misleading, leaved the comment in the fist post.

[2017-08-10 07:38] bojidar-bg commented on #10208
There is `NOTIFICATION_MOVED_IN_PARENT`, no signal for that though.

[2017-08-10 08:09] curly-brace opened #10217 "MultiMesh does not change color of instances"
**Operating system or device - Godot version:**
windows, e8192d4

**Issue description:**
i'm using this code
[code]
but it changes nothing at all
actually there was the same issue for 2.1, but it was not confirmed for 2.1
https://github.com/godotengine/godot/issues/5565

**Link to minimal example project:**
https://www.dropbox.com/s/qn6nhhjs60n0m1x/multimesh.zip?dl=0

[2017-08-10 08:12] samvila commented on #10172
@deltasquad451 Thanks, now I understand why I couldn't see any result on screen. I though it was a bug or a limitation on Godot. I will close this ticket. Thanks again.

[2017-08-10 08:12] #10172 closed

[2017-08-10 08:18] cjmxp opened #10218 "The size of the file after import of Godot 3.0 is 5 times the size of the original file"
**Operating system or device - Godot version:**
godot 3.0   windows

The size of the file after import of Godot 3.0 is 5 times the size of the original file

[2017-08-10 08:27] Hinsbart commented on #10218
What File? ^^
A Texture? Could be expected, due to change of compression algorithm.

[2017-08-10 08:32] cjmxp opened #10219 "VS 2013 compilation error (C1045: compiler limitations: the link specification is too nested)"
C:\MyWork\godot\modules\gdnative\godot/vector3.h (34): fatal, error, C1045: compiler
Limitations: the link specification is too nested

[2017-08-10 08:42] curly-brace opened #10220 "Multimesh glitches"
**Operating system or device - Godot version:**
windows, e8192d4

**Issue description:**
i can't even formulate the title, because i don't understand what causes this

i'm trying to create a field of tiles with multimesh, but it fails
i don't understand really whether multimesh just renders only a part of instances or transformations are applied in a wrong way.

**Steps to reproduce:**
open sample

[2017-08-10 08:55] akien-mga commented on #5624
Let's mark it as fixed then; feel free to reopen/comment or open a new issue if it pops up again.

[2017-08-10 08:55] #5624 closed

[2017-08-10 09:00] cjmxp commented on #10218
Yes, it's texture. The import panel opens and no arguments can be set

[2017-08-10 09:08] Zireael07 commented on #9254
I made a quick repro in 3.0 alpha. Car's settings and the body of the script used to control came from the 2.1. truck town demo. Just drive around on the plane to see it bounce around. If you come to a stop, it doesn't, instead continues to jitter diagonally to the position it was in when you tried to stop.

[car repro.zip](https://github.com/godotengine/godot/files/1214291/car.repro.zip)

[2017-08-10 09:09] akien-mga commented on #6583
I hope it's commented :P

[2017-08-10 09:10] akien-mga commented on #9034
So do we consider this as "fixed" with the new limit, or is a better fix still wanted?

[2017-08-10 09:12] akien-mga commented on #10144
Fixed then.

[2017-08-10 09:12] #10144 closed

[2017-08-10 09:19] akien-mga commented on #9841
cc @Paulb23

[2017-08-10 09:23] akien-mga commented on #5688
@datatoolbox Did you try the current master branch? It should be working fine there.

[2017-08-10 09:23] akien-mga commented on #9472
This is a must have for alpha2, as right now the export workflow is kind of broken.

[2017-08-10 09:30] Zylann commented on #7755
i think that one was supposed to work because i reexported it, good it works now.
but is the original sound also working? is it planned to support more of input formats so that it doesn't need this "pre-import" extra step?

[2017-08-10 09:32] Zireael07 opened #10221 "Rendering glitches in 3.0 alpha 1"
**Operating system or device - Godot version:**
Win 7 x64
Godot 3.0 alpha 1

**Issue description:**
Pictures are worth more than a thousand words.

![godot_v3 0-alpha1_win64_2017-08-10_11-20-19](https://user-images.githubusercontent.com/4525388/29164121-ca682ca8-7dbe-11e7-8830-d9776fe5fef6.png)

The only practical difference between the left and right road is the size. Both roads are made of a seq

[2017-08-10 09:35] akien-mga commented on #10219
It's a bit hard to say anything with so little output.

[2017-08-10 09:52] blurymind commented on #10168
@Zylann can you provide an example :)
@reduz @Zireael07 is it possible to erase pixels in the draw() method?

Right now when I want to create a freehand stroke, I record Vector2 coordinates point array while the mouse is down and then draw lines between the points

I am storing all of my lines in an array.

Basically what I am wondering now is - how do I erase pixels?
Obviously I need to commit th

[2017-08-10 09:54] Zylann commented on #10221
mipmap issue?

[2017-08-10 10:11] cjmxp commented on #10219
这是所有的错误输出
This is the output of all errors

[2017-08-10 10:12] cjmxp commented on #10219
This is the output of all errors

[2017-08-10 10:21] Zireael07 commented on #10221
Checking/unchecking mipmaps on texture used in material doesn't change a thing, it was the first thing I tried.

[2017-08-10 10:22] Zireael07 commented on #10219
@cjmxp: What are you using to build? Scons or mingw? If scons, are you using -j (multiple cores)?

[2017-08-10 10:44] GuiltyPixel opened #10222 "Unhandled Exception when changing audio devices while device-specific Windows spatial audio filters are active."
**Operating system or device - Godot version:**
Win10x64pro v1703 b15063.540 w/Asus Sabertooth x79 using Realtek ALC892 audio chipset, Windows spatial sound filters active. Godot v3.0 alpha 1536cc4

**Issue description:**
I executed Godot, then while it was idle on the project selection interface, I plugged in my headphones. On my system (Win10x64pro v1703 b15063.540 w/Asus Sabertooth x79 using Re

[2017-08-10 11:06] adtofaust commented on #9254
I can confirm bugs mentioned by @Zireael07  (latest build 81dde26):
- jittering
- it's definitely too easy to overturn the car when turning left/right
- car doesn't stop on brake and is turning 180 degrees in Y axis with camera not rotating with it (which also means that camera doesn't respect angle limits)

[2017-08-10 11:49] DimitriyPS commented on #4831
In Godot 2.1.3-stabile is a very (!) actual!
Godot 3.0-alpha I haven't used.

[2017-08-10 12:12] cjmxp opened #10223 "Vs 2017 compilation error"
[code]
*(Bugsquad edit: fixed formatting)*

[2017-08-10 12:38] JohnMeadow1 commented on #7054
@tagcup I had to check twice. I was definitely confused by angle_to function.
You are correct I can achieve the same using angle_to function.
Cross is redundant here, and I can see why it might be confusing to other users.

[2017-08-10 12:38] #7054 closed

[2017-08-10 13:15] bojidar-bg commented on #10195
I recently needed this function in order to remap something (which I incorrectly call `gravity_movement`), to the range of 0..1. The result was a boring 151-char line (not counting tabs), of which I can hardly see half while coding:
[code]

The result is less repetition (I don't have to repeat the `gravity_movement_treshold_low` variable), as well as more understandable code ("aha! He is remapping

[2017-08-10 13:45] marcelofg55 commented on #7755
Could you attach the original wave file so I can try it out? I didn't see it in the first post

[2017-08-10 14:00] tagcup commented on #10195
#9782 *is* added for something the editor needs, which is a part of the engine.

[2017-08-10 14:01] Noshyaar opened #10224 "Erroneous TileMap option in 2DEditor, regression from dbb6a39"
**Operating system or device - Godot version:**
Godot 3 latest master 81dde26

**Issue description:**

Tile Map option appears in CanvasItemEditor when choosing Sprite node. (Not sure if other Node2Ds are affected)
Clicking a subitem crashes the editor

![image](https://user-images.githubusercontent.com/26753932/29175171-8444d114-7e12-11e7-9d45-30d2684fae06.png)

Regression from dbb6a39

[code]

*

[2017-08-10 14:13] vinod8990 opened #10226 "Make sprite Alt + drag-drop window to a better looking one."
**Operating system or device - Godot version:**
Linux Mint 18 Sarah

**Issue description:**
Popup window for Alt+drag drop sprite is not looking good.

**Steps to reproduce:**
Drag a texture from the FileSystem panel to the 2D Scene while holding Alt.
You can see the popup like this.
![1](https://user-images.githubusercontent.com/434987/29174467-0d1457f8-7e04-11e7-9397-be7a8d1f505b.png)

The inter

[2017-08-10 14:17] tagcup commented on #10195
And the PR for it just replaces the implementation of Euler angles from XYZ to YXZ, it actually doesn't even expose any new function to users, so I don't know why you're talking about it.

[2017-08-10 14:22] lainv0hndyrec opened #10227 "Manually Resizing Viewport Render makes a Flickering Godot Splashscreen Background"
**Operating system or device - Godot version:**
Godot 2.1.3 stable
Windows 7 service pack 1

**Issue description:**
i wrote a script that will resize my Base Game Display Size Pixel Perfectly to a Screen/Window Size by having a Resize Value of Integers.

in Project Settings Display

* Game Display 144x216
* Test Screen 500x500
* set Stretch mode to Viewport

the main function that resize the rende

[2017-08-10 14:31] Keetz opened #10228 "AnimationPlayer.seek() causes animation to get stuck"
**Operating system or device - Godot version:**
Ubuntu 16.04
godot 2.1.3-stable
godot 2.1.4-beta_20170731

**Issue description:**

AnimationPlayer.seek() to the exact start or end time of an animation causes it to get stuck. Meaning if for example opacity is set to 0 at that time, the animation keeps setting opacity to 0, and can't be changed unless the AnimationPlayer is manually stopped or given

[2017-08-10 14:33] groud commented on #10195
I think the problem is that you consider that a function should be used in the editor code to be in the core API. This is just not true, nothing like that have been ever decided.

Godot is first a game engine before being an editor, so its core API is first meant to run video games before running the editor. Thus, if a function is needed in several games, is not a corner case, and is asked by enou

[2017-08-10 14:38] neikeq commented on #9969
Why was this removed?

[2017-08-10 14:46] penguinroad opened #10229 "Tree node, wrong row selection display when rmb selection is active and column title is shown"
**Operating system or device - Godot version:**
Ubuntu 16.04 64 Bit,
Godot_v2.1.4-beta_20170731_x11.64

**Issue description:**

I create a tree, set it up, enable set_allow_rmb_select(true), display column titles, then run the project
I right click to select a cell. The selection is in wrong place (one row below) but return correct data
**Steps to reproduce:**
just run the example and try to choos

[2017-08-10 14:53] kubecz3k commented on #4831
possibly related to https://github.com/godotengine/godot/issues/9954

[2017-08-10 14:55] Faless commented on #9624
Networking does not work for HTML export (at least in `2.1` branch).
I found the reason for the `getaddrinfo failed` error, we must specifically unset `AI_NUMERICHOST` which seems to be on by default, see their [code for reference](https://github.com/kripken/emscripten/blob/master/system/lib/libc/musl/src/network/getaddrinfo.c#L151) .

Sadly the subsequent socket creation fails anyway (should be c

[2017-08-10 15:06] #10223 closed

[2017-08-10 15:07] Faless commented on #9663
Isn't `StreamPeerBuffer` enough for your needs? [docs here](http://docs.godotengine.org/en/latest/classes/class_streampeerbuffer.html)
[code]

[2017-08-10 15:08] quinnyo commented on #9841
Just confirming that turning off convert indent (and then restarting the editor) has stopped it happening.

[2017-08-10 15:08] cjmxp commented on #10219
@Zireael07 vs2013 tools command
scons p=windows

[2017-08-10 15:11] Faless commented on #9662
You can already do that easily with [PoolByteArray.append_array](http://docs.godotengine.org/en/latest/classes/class_poolbytearray.html)
`append_array ( PoolByteArray array )`

[2017-08-10 15:11] raymoo commented on #9663
Yes, that would work perfectly. Thank you for finding it.

[2017-08-10 15:11] #9663 closed

[2017-08-10 15:13] djrm commented on #10226
ugh, let me check this one.

[2017-08-10 15:15] raymoo commented on #9661
This is fulfilled by `StreamPeerBuffer` in 3.0. I will close this issue and open one for porting it to 2.1.

[2017-08-10 15:15] #9661 closed

[2017-08-10 15:18] raymoo commented on #9662
@Faless This is not efficient though, because resizing of PoolByteArray is linear in time, and must be done for every append, resulting in a total running time quadratic in the number of strings to append.

Anyways, my use case is covered by StreamPeerBuffer as mentioned in #9663, in case anyone cares.

[2017-08-10 15:30] raymoo opened #10230 "Port StreamPeerBuffer to 2.1"
`StreamPeerBuffer` is indispensable for custom network protocols in Godot because it provides an easy way to build up / break down a byte array from / to different Godot types. I think it should be ported to 2.1 because currently 2.1's `PacketPeer`'s `put_packet` and `get_packet` methods are close to useless since there is nothing like `StreamPeerBuffer` to manipulate the packets.

[2017-08-10 15:31] raymoo commented on #9662
Actually `StreamPeerBuffer` already allows byte array copying, through the `StreamPeer` method `put_partial_data` (after seeking to the spot to copy to).

[2017-08-10 15:33] Faless commented on #9662
You are right.

I was just thinking of that.

I think this can be closed then. The only thing left seems to be backporting it to `2.1` in case.

[2017-08-10 15:34] akien-mga commented on #9662
Which is requested in #10230, so closing.

[2017-08-10 15:34] #9662 closed

[2017-08-10 15:40] raymoo commented on #9662
Yes, thanks, I just forgot to hit close.

[2017-08-10 15:55] Faless commented on #5806
@mclark4386 please do :smile: . I'm exploring the possibility of picking up this task, and your gist would definitely help, at least for reference.

[2017-08-10 16:01] tagcup commented on #10195
Anyway, do whatever you think is right. I said my piece: I'm against this, for reasons stated above. You don't need to convince me, because it's not going to be my decision.

[2017-08-10 16:21] kubecz3k commented on #10183
I was able to reproduce

[2017-08-10 16:22] tagcup commented on #10195
You can't just keep adding functions to the core (and not asset library or somewhere else) whenever somebody shows up with a random function and shows some in-game use case. Weighing factors will be different for simple functions and complicated one, but you still need to draw a line somewhere. Otherwise, you'll end up with a incoherent heap of random stuff.

[2017-08-10 16:25] kubecz3k commented on #10183
It looks like this:
![0_vel_particles](https://user-images.githubusercontent.com/6129594/29180839-56bb93b8-7df9-11e7-9878-ec4c2f234cae.gif)

[2017-08-10 16:41] 648trindade commented on #6003
Same for:
Debian Buster/Testing 64 bits up-to-date
Godot versions < 3 (not present on v3 alpha)
CPU: Intel i5 4210u
GPU: Intel HD 4400 (Haswell) (i915 linux kernel driver)

I've opened an issue cause i couldn't find this issue, now it is closed:
https://github.com/godotengine/godot/issues/10214

[2017-08-10 16:42] Zylann commented on #7755
It is in the QA thread: http://www.mediafire.com/file/w2a5ln4b52ul1y2/Pistol.zip

[2017-08-10 17:07] kubecz3k opened #10232 "Particles 3D: emission shape "directed points" is broken"
**Operating system or device - Godot version:**
e93ce339dcdf4e9ade63286cfa04cdd4b5a8ecd4 Gpu: Gtx1060

**Issue description:**
EmissionShape `directed points` inside particles process material don't seems to behave correctly. I have set number of particles points to 3 and this texture as an input for positions as well as directions:
![input](https://user-images.githubusercontent.com/6129594/2918165

[2017-08-10 17:12] groud commented on #10195
I perfectly agree with that, but allways,the question is still where to draw the line. I perfectly understand why you would think that `lerp` or `range_lerp` should not be in the math API, they are indeed somehow specific to some use cases.

But, I am sorry, but you cannot just tell someone that proposes a change to the API that his proposal is just a "random function" that would make the API "inc

[2017-08-10 17:15] marcelofg55 commented on #7755
Oh, didn't see that before, I've just tested them all and they all work fine now.

[2017-08-10 17:15] gamergamesz commented on #10232
plus align and rotation is also broken
plus transparency is also seems to be broken

[2017-08-10 17:19] gamergamesz commented on #10232
![screenshot 75](https://user-images.githubusercontent.com/13883739/29182840-07237684-7e1e-11e7-9ff6-9efaece43c0d.png)
plus color and hue variation and animation doesn't seems to have any effect in particle material

[2017-08-10 17:22] kubecz3k commented on #10232
@gamergamesz please stop. This issue is about different subject, you can open new issues, (they are already issues for those things). I'm bugtriaging particle issues right now, I will also create tracker so if you know any not submitted issues please open new ones as soon as possible.

[2017-08-10 17:25] Faless commented on #9624
As a followup. in `3.0` when exporting using webassembly the tcp sockets gets converted as expected to websockets connections with `Sec-WebSocket-Protocol`header as binary (so it should work, I'm still trying to find a server that supports `Sec-WebSocket-Protocol`).

In this case though for `HTTPClient` to work, we would want to implement it as an `XMLHttpRequest` I guess,

[2017-08-10 17:28] kubecz3k opened #10233 "Particles 3D: emission shape "directed points" is unable to emit in negative directions"
*bugsquad edit:* it seems it's working, we just need assign negative float numbers to the texture (as a channel values). So it seems this issue will be more about documenting work-flow for this.

-----------

**Operating system or device - Godot version:**
e93ce339dcdf4e9ade63286cfa04cdd4b5a8ecd4

**Issue description:**
This issue is about EmissionShape `directed points` mode
I haven't found any w

[2017-08-10 17:31] gamergamesz opened #10234 "Particle 3d issues"
win 10 i7 960m
![screenshot 75](https://user-images.githubusercontent.com/13883739/29183186-5cd22912-7e1f-11e7-988f-64e8da6f406b.png)
color and hue variation and animation doesn't seems to have any effect in particle material
plus align and rotation is also broken
plus transparency is also seems to be broken
plus initial velocity at 0 makes it flicker

[2017-08-10 17:44] Zylann commented on #7755
Did you try by importing them? Do they work in 3.0?

[2017-08-10 17:45] mclark4386 commented on #5806
here is the testing project I made for looking the protocal/getting it going for godot: https://github.com/mclark4386/WebsocketsPlay

[2017-08-10 17:48] Zylann commented on #10234
Coloring is potentially duplicate of  #9781
Flickering when velocity is 0 is duplicate of #10183
Rotation related to #10182

[2017-08-10 17:48] kubecz3k commented on #10234
guys please wait I will create a proper tracker

[2017-08-10 17:58] kubecz3k opened #10235 "Particles 3D, Shape mode "points": points can be defined only in distance from 0 to 1 from the origin"
**Operating system or device - Godot version:**
e93ce33 Gpu: Gtx1060

**Issue description:**
With R/G/B color pixels we can code position of emission points in `points' and 'directed points` emission shapes. But it's impossible to move them They can have position values only from 0 to 1 in local world coords.
Take a look at the screen:
![part_pos](https://user-images.githubusercontent.com/6129594/

[2017-08-10 18:02] kubecz3k opened #10236 "Particles 3D, Shape mode "points" and "directed points": impossible to move emission point in negative axis"
**Operating system or device - Godot version:**
e93ce33

**Issue description:**
With R/G/B color pixels we can code position of emission points with those emission shape modes: `points' and 'directed points`. I Haven't found any way to move emission point behind the spatial r/g/b can only be used to move in positive xyz axis. Some way to put those points in negative axis would be very helpful to p

[2017-08-10 18:10] BrainBlasted commented on #10235
The image linked under part_pos isn't properly formatted, and seems to not point to a proper image.

[2017-08-10 18:13] kubecz3k commented on #10181
I think it could be fixed, there is no reason why this should not happen transparently for the user. Presentation from the actual issue:
![one_shot](https://user-images.githubusercontent.com/6129594/29185027-546259d0-7e08-11e7-9e57-ef6093d48117.gif)

[2017-08-10 18:14] kubecz3k commented on #10181
I'm not sure but this probably should not be hard to (hence `junior job`)

[2017-08-10 18:16] Zireael07 commented on #1774
Is this issue valid for 2.1 and 3.0? @reduz

[2017-08-10 18:17] Zireael07 commented on #7164
I think it does, see #10221

[2017-08-10 18:22] Zireael07 commented on #10221
I looked at #7164 and in my case, the mipmaps setting doesn't change a thing for video vram mode, but it does for uncompressed (I can import uncompressed with mipmaps on, untick, reimport and see the change, while untick+ reimport fails to do anything observable in video vram mode)

So it is either a rendering problem or a mipmap not getting cleared/setting reset problem.

[2017-08-10 18:27] kubecz3k commented on #10220
Hello, downloaded your sample and you have bug in your code. Version that works:
[code]

[2017-08-10 18:27] #10220 closed

[2017-08-10 18:32] kubecz3k commented on #10235
@BrainBlasted oh sorry about that. It's a result of editing/opening multiple issues at once :)

[2017-08-10 18:45] kubecz3k commented on #9544
What about `VisiblityEnabler` and `VisiblityNotifier`?

[2017-08-10 18:52] kubecz3k commented on #8493
I'm confused. What is the status of this issue? Is it still bugged?

[2017-08-10 18:58] Zylann commented on #9544
I believe they are based on those AABBs too, the root of the issue lies in the culling system itself, in VisualServer. I'm also not even using nodes in my module.

[2017-08-10 18:59] kubecz3k commented on #8493
I'm unable to reproduce in e93ce339dcdf4e9ade63286cfa04cdd4b5a8ecd4 so I guess It's fixed.

[2017-08-10 18:59] #8493 closed

[2017-08-10 19:01] kubecz3k commented on #7511
@DjPale This issue is probably fixed, can you recheck in 3.0?

[2017-08-10 19:04] kubecz3k commented on #6373
Can you guys confirm it's still present in 3.0?

[2017-08-10 19:05] kubecz3k commented on #5630
Any chance that someone will test this in 3.0?

[2017-08-10 19:09] kubecz3k commented on #4003
@freemanfromgodotengine  can you recheck on current main? thanks! :)

[2017-08-10 19:12] kubecz3k commented on #3726
@razvanc-r can you link to some video on what this was? There is no video currently under the link from first post... (video link is broken). It's hard to tell what this issue is about without this...

[2017-08-10 19:13] kubecz3k commented on #2743
Helllo, Can you guys retest on 3.0? Thanks!

[2017-08-10 19:15] kubecz3k commented on #1713
@SuperUserNameMan can you recheck on 3.0? Thank you!

[2017-08-10 19:16] eon-s commented on #6817
I'll close this because is not valid anymore for the new particles system.

[2017-08-10 19:16] #6817 closed

[2017-08-10 19:18] kubecz3k opened #10239 "[TRACKER] Particles issues"
### 3D/Multimesh:
- [x] 3D particles blink when set a velocity of 0 https://github.com/godotengine/godot/issues/10183 (bug)
- [x] Particles don't fire again when unmarking "One Shot" https://github.com/godotengine/godot/issues/10181 (bug/enhancement)
- [x] Emission shape "directed points" is unable to emit in negative directions https://github.com/godotengine/godot/issues/10233 (bug)
- [x]  Shape

[2017-08-10 19:19] kubecz3k commented on #10239
Some issues for the future:
- [ ] LOD is not working (also for particles) https://github.com/godotengine/godot/issues/8806 (bug)
- [ ] Add Soft Particle to blend particle's edges #3834 (enhancement)
- [ ] Quick trails, vector fields and collisions for particles  https://github.com/godotengine/godot/issues/8583 (feature proposal)
- [ ] Particles bouncing off of collision objects? #3994 (feature pro

[2017-08-10 20:40] rmichaluszek opened #10241 "Anti aliasing on Polygon2D / Line2D"
Would be really great if that exist. At some points and types of games, Polygon2D fits way better than sprites.

[2017-08-10 20:44] reduz commented on #10241
thanks!

On Thu, Aug 10, 2017 at 5:40 PM, Rafał Michałuszek <notifications@github.com

[2017-08-10 20:46] kubecz3k opened #10242 "Ability to convert buildin shaders and spatial material to text"
**Issue description:**
From the things that were planned but are missing: we should have an easy way to convert default shaders (also spatial material, and particle processing shader) into shader code, so we could adjust them easily for current needs.

[2017-08-10 21:09] OlexiyKravchuk opened #10243 "TryAcquireSRWLockShared in RWLockWindows is not available on Windows Vista"
Win Vista x32  Godot v3.0 Alpha1

When I run "Godot 3.0 alpha 1", a window appears. With the message (The entry point to TryAcquireSRWLockShared procedure and not found in library DLL KERNEL32.dll) and nothing works.

[2017-08-10 21:28] kubecz3k commented on #9544
Ok in 2.x there indeed was `Mesh.set_custom_aabb( AABB aabb)` method. In 3.0 I cant find anything like that in gdscript.
On the c++ site there is `surface_set_custom_aabb(int p_surface, const Rect3 &p_aabb); //only recognized by driver` (https://github.com/godotengine/godot/blob/master/scene/resources/mesh.h#L190)
But surface api is not exposed. Not sure if it should be or what is the workflow for

[2017-08-10 21:38] kubecz3k commented on #10243
Also let us know what's your gpu

[2017-08-10 21:41] tagcup commented on #10195
Surely I can tell that a particular function shouldn't be in the core if I don't think it shouldn't be in the core. I live in a free country. Jeez, please don't make this personal. Especially I gave multiple lengthy, non-personal, merit-based explanations. Just keep it at technical level and read what I write properly before making ad hominem accusations (like I never said he's like like this or t

[2017-08-10 21:44] Zylann commented on #10168
here is a proof of concept that you can draw using anything the engine provides:
[ChalkBoard.zip](https://github.com/godotengine/godot/files/1216473/ChalkBoard.zip)
it's made in a hurry and not well aligned, but not very hard to improve to be a decent drawing app ;)

[2017-08-10 21:48] Zylann commented on #9544
Actually, as I explained in the issue, I need a custom AABB on the instances, not the mesh itself.

[2017-08-10 21:53] kubecz3k commented on #9544
@Zylann but  MeshInstances are nodes that are providing interface for the mesh resource which they are holding..?

[2017-08-10 21:55] Zylann commented on #9544
Read my issue again :)
I need custom AABBs per instance because they all re-use the same mesh, which is displaced in a shader in different ways depending on world position. So I just can't use an AABB that comes from the mesh.

[2017-08-10 21:57] Rubonnek opened #10244 "Different argument names between function declaration and definition"
This is just a style problem, but on some cases the argument names do differ greatly in their implied meaning. For example, on one case an argument is called `p_vol` at the function declaration, but that same argument is called `p_enable` at the function definition.

I was able to find at least one case where snake_case was not being followed: `declaration 'p_context' definition 'pContext'`

These

[2017-08-10 21:57] kubecz3k commented on #9544
@Zylann Oh, yeah, right! :+1:

[2017-08-10 21:59] bruvzg commented on #10243
[TryAcquireSRWLockShared](https://msdn.microsoft.com/en-us/library/windows/desktop/dd405524(v=vs.85).aspx) is Windows 7+
https://github.com/godotengine/godot/blob/df61dc4b2bd54a5a40c515493c76f5a458e5b541/drivers/windows/rw_lock_windows.cpp#L50

[2017-08-10 22:18] rayosdev opened #10245 "Project manager UI displaced when minimized because of long project paths"
**Operating system or device - Godot version:**
Windows10 64 - Godot 2.1.2 stable

**Issue description:**
- Opened up godot,
- it opens project manager in minimized mode, and button on the right are off the screen.
- have to maximaze project to access the buttons

**Steps to reproduce:**
Make a project with a long path name and open project manager

**Link to minimal example project:**
<its the pr

[2017-08-10 23:11] djrm commented on #10215
I dont understand c1, to me they look perfectly distinguishable, c2 and c3 are basically the same, and c4 is not really necessary, since even if you remove the top buttons, removing the current bus layout name, does not seem to be a good idea, so i think the only valid point is c2

[2017-08-10 23:39] djrm commented on #8893
the only easy soultion to this problem is to generate a set of dark icons, this can be easily done on svg export.

[2017-08-10 23:53] toger5 commented on #8893
@djrm would it be worth to think about making all icons white (except multicolour icons) and than modulating all the icon colors.
I was thinking about this since some time, since this would also allow slightly different icon colors. or even non colored icons.
We would need to be able to store an icon WITH the modulation color in one object than though...
which

[2017-08-11 00:22] djrm commented on #8893
@toger5 actually my solution is easier than that, i was thinking about simply replacing the svg colors when the exporter gets the data from the SVG file, since all the icons have predictable html color codes, we can create a map, to transform lets say white -> black, so the output of the script would 2 different set of icons, on for white themes and other for light themes, we would just have to se

[2017-08-11 00:25] djrm commented on #8893
@toger5 thats also the reason why im trying to remove all the hard coded colors, so a convention would have to be set for every usable color in the engine.

[2017-08-11 00:37] djrm commented on #6944
even with an svg renderer the icons will not look good on a sizes lower than 16x16, they are designed to match pixels at that scale, so if they are rendered at lower resolution, information will be lost. as far as i can tell this problem will never be fixed, until a different set designed to be pixel perfect at a lower resoultion is created (and i really struggled creating one with 16x16). of cour

[2017-08-11 00:46] djrm commented on #8690
im unable to reproduce this.

[2017-08-11 01:35] GuiltyPixel commented on #10222
Hey I found something else out today. When enabling spatial audio, Windows sets the device to 44khz without telling you... I couldn't make Godot throw an exception by changing bit or sample rates, I tried.

[2017-08-11 02:36] vinod8990 commented on #10215
C1 does not behave like a text field in other places like property inspector. Typing and hitting enter does not seem to defocus.
C4 when adding the big add bus button, we have space for the current bus layout name on the top left?

[2017-08-11 03:24] P-Star7 commented on #9962
Oh yes, I agree with a "GM to Godot" section. A kind user helped me when I asked on the forums. I haven't used Godot yet because I'm waiting for the 3.0 version, so I'm sorry if what I said was confusing. I just meant to post this as an example of how to effectively include comments in a project in a way that helped me learn.

[2017-08-11 03:41] vonflyhighace2 opened #10248 "range type/method does not accept negative values or count down."
**Operating system or device - Godot version:**
Windows 10x 64 Godot Alpha 1

**Issue description:**
the "range" type/method does not accept a negative value. It also cannot count down only upwards

**Steps to reproduce:**
create a for loop using the rage method. input negative value or a higher start value and a lower final value.

**Link to minimal example project:**
example. for num in range (

[2017-08-11 03:43] Noshyaar commented on #10248
Use the third param? `range(0, -10, -1)`

[2017-08-11 03:46] vonflyhighace2 commented on #10248
so it defaults to a positive increment?

[2017-08-11 03:49] Noshyaar commented on #10248
Yes. I think that's how it is in Python too.

[2017-08-11 04:00] vonflyhighace2 commented on #10248
OK so i think I found the real issue. It seems that floats that are not whole numbers are not supported as values. range( 10, 5,0.5) don't seem to work.

[2017-08-11 04:14] Noshyaar commented on #10248
You mean `range(10, 5, -0.5)`? I don't think using non-integer in `step` is possible.

[2017-08-11 04:34] ghost opened #10249 "Clicking away from a dialog box or dropdown menu shouldn't interact with other elements"
**Operating system or device - Godot version:**
Linux Mint 18.2 Cinnamon x64
Godot master 81dde26

**Issue description:**
When you click outside of an open dialog box or dropdown menu to close it, the click will also interact with whatever the mouse is over. Given that, at least in the dialog box's case, the background now darkens to indicate a lack of focus/interactivity, there should be some pro

[2017-08-11 04:36] Guillaume201 opened #10250 "No specularity coming from a Directional Light"
Godot 3.0 alpha1
Windows 10 64 bits
NVIDIA GTX 980

An object lit by a directional light do not display any specular highlight, only diffuse. Changing the value "Specular" in the directional light settings has no effects.

EXEMPLE:
On the following screenshot, a directional light shine a red light with specular set at 1 while a OmniLight shine a blue light and as you can see, the object receive sp

[2017-08-11 05:56] curly-brace commented on #6944
my screenshots are gone, but they were fine even with 10x10 resolution, while using bicubic downscaling in gimp

[2017-08-11 06:10] bojidar-bg commented on #10245
Can confirm on master/3.0 as well:
![image](https://user-images.githubusercontent.com/5276727/29202873-de24950e-7e74-11e7-94d2-d58d17f7a566.png)

[2017-08-11 06:18] bojidar-bg commented on #8690
I could reproduce this once, but it seems to have been fixed indeed.
Closing as fixed.

[2017-08-11 06:18] #8690 closed

[2017-08-11 07:18] akien-mga commented on #10243
That code was added by @reduz in 263d5fcf.

If it's Windows 7+ and we want to keep supporting Vista, we'd need an `#ifdef _WIN32_WINNT >= 0x0601 // Windows 7+` and `#else` with equivalent Vista code (or noop if none is available).

[2017-08-11 07:24] akien-mga commented on #10195
Alright, let's stop the fight here gentlemen, thanks.

Whether the feature is wanted or not can be discussed during our Monday meeting for PR review, as @groud mentioned above.

[2017-08-11 08:35] #4403 closed

[2017-08-11 08:38] #10157 closed

[2017-08-11 08:39] #10160 closed

[2017-08-11 08:40] #2852 closed

[2017-08-11 08:40] #10226 closed

[2017-08-11 08:41] #9841 closed

[2017-08-11 08:43] #10224 closed

[2017-08-11 08:43] #9936 closed

[2017-08-11 08:46] vinod8990 commented on #3984
It will be good of these are available for texture buttons too. The hit area should be the texture area which is displayed.

[2017-08-11 08:56] SuperUserNameMan commented on #1713
@kubecz3k : no i can't, sorry.

[2017-08-11 09:44] toger5 commented on #8893
@djrm yea it would be easier to just have two icons. And than do:

set_icon("class","icon",  dark_icons ? icon_dark : icon);

But this would only allow for a limited flexibility. What if we want to change 3d to a more intense red, or if we want to change the color entirely.
All icons would beed to be reexported abd the engine recompiled. With modulation those chnages would ve really really simple.

[2017-08-11 11:00] akien-mga commented on #9503
Fixed by #9505.

[2017-08-11 11:00] #9503 closed

[2017-08-11 11:25] marcosbitetti opened #10251 "CubeMap cause crash when non-valid file assigned to its side"
Godot 3.0.alpha.custom_build.81dde26

Is not possible to use samplerCube because a cubemap resource can't open any image.

cubemaps are discouraged at now, but it is useful to remain compatibility with many shader code.
thanks

[2017-08-11 12:22] razvanc-r commented on #3726
Yah, unfortunately the vid is gone, luckily there's a bunch of material out there, most notably, blender has them: https://youtu.be/E8YeCtvQufw?t=58. Here's another link for 2d stuff: https://www.scirra.com/tutorials/813/how-to-make-fluids

[2017-08-11 12:58] Zylann commented on #6977
Found another confused post, PoolVectors default constructors aren't listed either https://godotengine.org/qa/17117/how-to-construct-a-poolbytearray?show=17118#a17118

[2017-08-11 13:13] curly-brace opened #10253 "Multimesh rendering issues in grid like setup"
godot version: e8192d4

here is pbr materials (toon settings, because default looked way to dark)
![pbr](https://www.dropbox.com/s/d5jeqsfrwdgmp7h/pbr.png?raw=1)
and here is simple diffuse shader (just aplying texture color)
![diffuse](https://www.dropbox.com/s/c6qcduaas89gthe/diffuse.png?raw=1)

second looks much better, but still has that brown halo. also creates sort of growing seams between ti

[2017-08-11 13:21] akien-mga commented on #10253
OS, GPU, driver?

[2017-08-11 13:22] curly-brace commented on #10253
well. may be i should add here a sample project. windows, gt710, latest driver (updated yesterday). i will post a project just in a minute

[2017-08-11 13:29] kubecz3k commented on #10253
related (maybe even duplicate) issue: https://github.com/godotengine/godot/issues/10149

[2017-08-11 13:32] curly-brace commented on #10253
here is a sample
https://www.dropbox.com/s/outbjwqr6vxkb0p/render_sample.zip?dl=0

[2017-08-11 13:33] curly-brace commented on #10253
that's not GridMap, that is MultiMesh. but i think this is not related

[2017-08-11 14:08] blurymind commented on #10168
@Zylann Thank you :)
While I appreciate your example and it is showing me some new things about the nodes,such as
viewport.set_render_target_clear_on_new_frame(false)

It still doesnt have a way of erasing pixels, when I set the brush to a transparent pixels with another event - that doesnt overwrite the existing pixels with transparent ones

[2017-08-11 14:15] kubecz3k commented on #9939
Hmm I'm sorry to tell but the issue don't seems to be fixed yet. Can you guys @phyffer @EIREXE @Keetz confirm so I could reopen the issue?

[2017-08-11 14:55] Zylann commented on #10168
I think you need to post a more focused issue about "how to blend alpha like other colors" with drawing functions. It is unusual, but your use case shows that it can be needed in texture drawing. The only workaround I can think of is to use a second texture as an alpha buffer, and use it as a mask with a shader to make pixels disappear on the main board.

[2017-08-11 15:09] blurymind commented on #10168
@Zylann You are right, I started this issue with another request.
I will file a new issue for erasing pixels in the draw method

[2017-08-11 15:17] blurymind opened #10255 "A way to erase pixels or overwrite alpha channel of pixels using the draw_line method() and a new blend mode"
I am currently trying to create a tiny pixelart tool for godot, but it's not possible to use the draw_line() method for erasing pixels. There seems to be no way in replacing the alpha value of a pixel with another alpha value at the moment - in the way you can draw with another color on top of old lines.

As @Zylann  said

Currently it is possible, but very impractical.

Here is an example code fo

[2017-08-11 16:08] Zylann commented on #10255
I would precise that this use case concerns rendering on texture, not on screen (which wouldn't make much sense because screen has no alpha)

[2017-08-11 17:02] djrm commented on #8893
@toger5 no, thats not a good idea, first there would be a masive amount of changes and we would need developers to remember to set dark icons or light icons, it should be something like using hiDPI where there are no changes to gui elements code, only in the configuration selects the correct icons,

also i dont think giving the user the ability to choose specific colors for icons is a good idea, f

[2017-08-11 17:58] maxim-sheronov opened #10256 "Editor can't Play the project on Linux if built with release_debug target"
**Operating system or device - Godot version:**
Arch linux x86_64; Godot 3.0-alpha from master branch, commit 81dde2687f2f80f5f365a02d68913322d35e9be1

**Issue description:**
If I build engine with target=release_debug, than when I open my project and try to run it (F5 or F6), it starts and immediately stops. And there are no errors.

But if I build engine with target=debug, all works fine. So I t

[2017-08-11 18:20] toger5 commented on #8893
Your points make a lot of sense...
Just really didnt like the idea of having so many icon versions:  (hi, mid, lowdpi) * (light, dark)
But since i totally agree that too many options, however good they sound, are nit the best choice this is probably the better choice. I just hoped i could make the more saturated but maybe, if others also want them kore saturated we still can do so.

For the dark i

[2017-08-11 18:26] djrm commented on #8893
@toger5 yeah i would also like the icons to be a bit more saturated, but they preserve their original colors, maybe we could change them now that its the time for breaking things.

[2017-08-11 18:37] toger5 commented on #8893
@djrm good idea!
What colors would u propose? For both more saturated icons + light theme editor_icons?

What do you think about the syntax i proposed:
`set_icon("stringA","steingB", dark_icons ? Icon_dark : icon)`
Or do u have a better idea how we dont need to change all set icon calls un editor_themes.cpp.
Maybe a fucntion which changes the icons (light or dark) that are stored in the icon const

[2017-08-11 18:41] djrm commented on #8893
@toger5 we cant change the set_icon function because it is used in a lot of places, not only in editor_themes, so we have to do something simillar to what is done for hiDPI icons.

for the svgs, i will make an script that extract all the colors used in the svgs so we can clasify them in a color conversion map, that way we can specify a conversion table in the export script, so we dont need to chan

[2017-08-11 18:42] djrm commented on #8893
@toger5 also i already implemented the dark and light color but only for window title, you can check it, it is already on master, the idea was to get the average of the rgb components and test if it is > .5

[2017-08-11 19:15] maxim-sheronov opened #10259 "Adding menu items to the "Tools" menu not working"
Hi. I was looking for ability to make custom menu in editor.

I found issue #1429 and pull request #6065. Both are closed. But functionality is not working.
Then I found commit 0aa7242624fcd74eaf13db006274829c284fab3b that was made in a week after previous. And functionality was commented in this commit.

I am really interested is it possible to fix this again. Thanks.

[2017-08-11 19:50] neikeq commented on #10259
Duplicate of #9969

[2017-08-11 19:50] #10259 closed

[2017-08-11 20:54] AlexHolly opened #10262 "Tilemap bucket infinite loop"
Godot crashes, steps:

1.Pick a Tile Draw an area
2.Activate Bucket, Fill the are with same Tile.

How can I deactivate the Bucket mode?(with Pick Tile only?)

Master Branch

[2017-08-11 20:59] phyffer commented on #9939
Absolutely @kubecz3k. please stand by as i verify this issue.

[2017-08-11 21:21] bojidar-bg commented on #10256
Some questions, so that we can refine the issue further:
1. Do you use GCC to compile it? (specifically, GCC 6, but, as you are on arch, I won't ask about versions)
    * Only if you build without `use_llvm=yes` (not `true`, `yes`), it would use clang and not gcc
2. Does still crash if you run the executable as:
[code]
    * This would run it the game directly
3. If (2) does crash, can you try som

[2017-08-11 21:25] bojidar-bg commented on #10262
Related, but not same, #10065

[2017-08-11 21:32] phyffer commented on #9939
@kubecz3k I can confirm, normals issue is still there.
Machine : Linux Mint / Ubuntu 16.04
Build : 23f6d3f
Models Tested: Triangulate, Tangent Arrays, Tangent Arrays + Triangulate

Off topic, I took a look at the Godot blog regarding GLTF and it looks quite nice. ;)

[2017-08-11 21:38] reduz commented on #9939
did this start happening at some point? also does it happen with gltf?

[2017-08-11 21:44] kubecz3k commented on #9939
@reduz current blender gltf exporter is to broken for me to check my models with this fileformat. I think it was broken all the time, but I can check tomorrow if https://github.com/godotengine/godot/commit/378b1e6cf0cbcc9c30c61e0cabc7090f70fd380c was fixing this for real.. Also not sure when it happened for the first time, maybe will try to hunt with some bisection... but would be nice to have som

[2017-08-11 21:47] phyffer commented on #9939
@reduz Unfortunately it''s the same error. :( Artifacts appear in the same positions when the normal map box is checked. Just recently, I added an animated collada model and the artifacts are appearing in different locations.

I'm going to catch up a bit on gltf, then export a model and let you know if I'm getting the same errors. brb!

[2017-08-11 22:10] phyffer commented on #9939
@kubecz3k can confirm, gltf exporter seems broken for me when exporting either v1 or v2 :(

[2017-08-11 23:31] BastiaanOlij opened #10263 "Changing .cpp files to .mm files for the iphone and osx platform"
Just something that came up today and raising this to have a discussion, see if there are any unwarranted side effects to this and seeing if we could make this change.

For the OSX platform this is mostly already the case but for iPhone many of the classes are implemented as pure C++ classes, especially os_iphone.cpp. This makes it harder to mix objective-c code into the mix which you can't get ar

[2017-08-12 00:36] vnen commented on #10222
Can you test with [2.1.4 beta](https://godotengine.org/article/tests-needed-godot-2-1-4-beta)? There is an old issue like that (#5211) that's supposed to be fixed.

[2017-08-12 00:38] Rubonnek commented on #10256
I can confirm. I'm also getting this in Arch Linux when compiling with GCC 7.1.1. I'm getting a segmentation fault when adding the `-path` flag.

Here's the backtrace:

[code]

[2017-08-12 01:52] marcelofg55 commented on #9938
I was just re-checking the console output of this, maybe this crash has to do with this error:
ERROR: _render_target_allocate: Condition ' status != 0x8CD5 ' is true.
   At: drivers/gles3/rasterizer_storage_gles3.cpp:6237.

I've checked and the returned status is 0x8CD6 (GL_FRAMEBUFFER_INCOMPLETE_ATTACHMENT), not sure what's the problem though.

[2017-08-12 01:58] Plasmmer opened #10266 "Visual scripting - Event based editor (conditions/actions)"
Event sheet editor like Construct 2 does

[2017-08-12 01:58] Plasmmer opened #10267 "[Meta] Site hosted in GitHub"

[2017-08-12 02:19] reduz commented on #10266
You will get visual scripting in Godot 3.0, which is on the same vein

[2017-08-12 02:20] Plasmmer commented on #10266
@reduz
In a event base (condition/action) system?

[2017-08-12 02:20] Plasmmer opened #10268 "Can export to Tizen"

[2017-08-12 02:20] Plasmmer opened #10269 "Can export to Wii U"

[2017-08-12 02:21] Plasmmer opened #10270 "Can export to Nintendo 3DS"

[2017-08-12 02:21] Plasmmer opened #10271 "Can export to AirConsole"

[2017-08-12 02:21] Plasmmer opened #10272 "Dual screen game support"

[2017-08-12 02:21] Plasmmer opened #10273 "Can export to Xbox"

[2017-08-12 02:22] Plasmmer opened #10274 "[Meta] Support Bitcoin donations"

[2017-08-12 02:22] Plasmmer opened #10275 "Material UI design in the app"

[2017-08-12 02:23] Plasmmer opened #10276 "Can create apps/sites with WYSIWYG editor and event based sheet"

[2017-08-12 02:23] Plasmmer opened #10277 "Can drag sprite from desktop to app"

[2017-08-12 02:23] Plasmmer opened #10278 "Can export to Chrome Web Store"

[2017-08-12 02:24] Plasmmer opened #10279 "Can export to Kongregate"

[2017-08-12 02:24] Plasmmer opened #10280 "Can export to Cordova"

[2017-08-12 02:24] volzhs commented on #10273
do you need to export to all those Xbox, Dual screen device, AirConsole, 3DS, Wii U, Tizen?

[2017-08-12 02:24] Plasmmer opened #10281 "Can export to Blackberry"

[2017-08-12 02:26] Plasmmer opened #10282 ".APK releases"
I have a developer account, so I can publish the apks for you.

[2017-08-12 02:26] Plasmmer opened #10283 "Can export to Amazon Appstore"

[2017-08-12 02:29] reduz commented on #10266
yes

[2017-08-12 02:29] Plasmmer opened #10284 "Can export as Open Web App (Mozilla)"

[2017-08-12 02:30] Plasmmer opened #10285 "Can export to NW.js"

[2017-08-12 02:34] Plasmmer opened #10286 "Can animate 3D models by using Kinect on Windows"

[2017-08-12 02:34] Plasmmer opened #10287 "Can animate 3D models by using webcam (like FaceRig does)"

[2017-08-12 02:34] Plasmmer opened #10288 "Can export as video"

[2017-08-12 02:36] Plasmmer opened #10289 "[Question] When is comming the next release?"

[2017-08-12 02:36] Plasmmer opened #10290 "[Meta] Use bountysource"

[2017-08-12 02:39] reduz commented on #10290
please stop posting issues like this, you have to follow the guidelines

[2017-08-12 02:40] reduz commented on #10267
no, we are hosting in tuxfamily which is much better, thank you

[2017-08-12 02:40] #10267 closed

[2017-08-12 02:40] Plasmmer commented on #10267
Much better or the team don't want users contributing to the site?

[2017-08-12 02:41] reduz commented on #10268
There is no sufficient intrest in this platform, even though some developers are giving it a try.
There is no need to open an issue for this.

[2017-08-12 02:41] #10268 closed

[2017-08-12 02:41] reduz commented on #10269
This is not legally possible, Nintendo SDKs are secret and you have to sign a license to use them. We can't provide a port here for their platform without breaking the law.

[2017-08-12 02:41] #10269 closed

[2017-08-12 02:42] reduz commented on #10270
You did not mention Switch, man, are you trolling? Read previous issue, anyway.

[2017-08-12 02:42] #10270 closed

[2017-08-12 02:42] Plasmmer commented on #10269
Then how can Scirra supports Wii U export with Construct 2?

[2017-08-12 02:42] reduz commented on #10271
This should be already possible with what we provide.

[2017-08-12 02:42] #10271 closed

[2017-08-12 02:42] reduz commented on #10272
This is already possible, did you check the demos before posting this issue?

[2017-08-12 02:42] #10272 closed

[2017-08-12 02:43] reduz commented on #10273
This is already possible via UWP platform.

[2017-08-12 02:43] #10273 closed

[2017-08-12 02:44] reduz commented on #10274
Sorry, our non-profit home does not accept this kind of donations. Use regular money.

[2017-08-12 02:44] #10274 closed

[2017-08-12 02:44] reduz commented on #10275
This is not desired, use Android Studio if you want this.

[2017-08-12 02:44] #10275 closed

[2017-08-12 02:45] reduz commented on #10276
Do you even know Godot is a game engine? it's not meant for this stuff.

[2017-08-12 02:45] #10276 closed

[2017-08-12 02:45] reduz commented on #10277
Copy it to the project folder

[2017-08-12 02:45] #10277 closed

[2017-08-12 02:46] reduz commented on #10278
No one cares about Chrome Web Store

[2017-08-12 02:46] #10278 closed

[2017-08-12 02:46] reduz commented on #10279
You can already do this

[2017-08-12 02:46] #10279 closed

[2017-08-12 02:46] reduz commented on #10280
Oh come on..

[2017-08-12 02:46] #10280 closed

[2017-08-12 02:47] reduz commented on #10281
Blackberry is dead. we actually removed support for it.

[2017-08-12 02:47] #10281 closed

[2017-08-12 02:47] reduz commented on #10282
you can already do apk releases

[2017-08-12 02:47] #10282 closed

[2017-08-12 02:47] reduz commented on #10283
you can already export to amazon appstore

[2017-08-12 02:47] #10283 closed

[2017-08-12 02:47] reduz commented on #10284
no one cares about open web apps

[2017-08-12 02:47] #10284 closed

[2017-08-12 02:48] reduz commented on #10285
uuh, no.

[2017-08-12 02:48] #10285 closed

[2017-08-12 02:49] reduz commented on #10286
Kinect sucks

[2017-08-12 02:49] #10286 closed

[2017-08-12 02:49] reduz commented on #10287
Godot is a game engine, it's not intended for this stuff. Use FaceRig.

[2017-08-12 02:49] #10287 closed

[2017-08-12 02:49] BrainBlasted commented on #10269
@Plasmmer Scirra made a deal with Nintendo, probably, and you still need to be a registered Wii U developer, with access to the official Wii U dev forum.

[2017-08-12 02:49] reduz commented on #10288
Use Fraps or OBS

[2017-08-12 02:49] #10288 closed

[2017-08-12 02:50] reduz commented on #10289
for every issue you open, the next release is delayed a day

[2017-08-12 02:50] #10289 closed

[2017-08-12 02:50] #10290 closed

[2017-08-12 02:50] volzhs commented on #10289
ask at Q&A site, Facebook, Discord or irc. it's not an issue.
the answer is when it's ready.

[2017-08-12 02:52] #10266 closed

[2017-08-12 04:00] pcvonz opened #10291 "[3.0] glTF Import Crash on Armatures"
**Operating system or device - Godot version:**
Ubuntu - Godot built 11th August

**Issue description:**

Godot crashes, expected it to import a glTF2 model.

**Steps to reproduce:**
Download the attached blend file, export glTF2, import it into Godot.

**Link to minimal example project:**

[legs.zip](https://github.com/godotengine/godot/files/1219454/legs.zip) ( Ugly model, just learning how to r

[2017-08-12 04:36] BrainBlasted commented on #10291
@pcvonz Can you export from blender making sure export camera is unchecked? I've found godot often chokes on cameras

[2017-08-12 04:37] aarroz opened #10292 "Metallic Texture is not rendering properly."
Ubuntu 16.04 - Most recent Git Build of Godot

Mirror material in Materials demo is not reflecting the HDR environment correctly, rendering mostly red,green and blue in dark regions.
![screenshot_2017-08-11_21-35-05](https://user-images.githubusercontent.com/19158892/29237904-f79f9070-7edc-11e7-98b8-6c907bf8cd0b.png)

Steps to reproduce:
Opening the Material Tester demo, running the demo and viewi

[2017-08-12 04:49] fracteed commented on #10292
Yes, it is broken and related to ambient environment lighting. See here #10216

[2017-08-12 05:15] BrainBlasted commented on #10130
Alright, after some testing of #10291, I'm beginning to think this is an issue with how armatures are imported. After deleting the armature, their mesh imported properly.

[2017-08-12 05:18] BrainBlasted commented on #10291
This seems to be an issue with armatures - without the armature the file imports correctly. Could you test this on your machine? Also, I got a SIGSILL stacktrace out of it: https://hastebin.com/zabezefuqi.coffeescript

[2017-08-12 05:48] curly-brace commented on #10253
@akien-mga i don't think that this is windows/nvidia only bug

[2017-08-12 06:48] raymoo opened #10293 "StreamPeerBuffer is broken"
**Operating system or device - Godot version:**
Debian GNU / Linux, Godot 3 alpha1

**Issue description:**
Putting data in a StreamPeerBuffer and reading it back out produces different results

**Steps to reproduce:**
Put this code in a node and run the scene:
[code]

Output:
[code]

[2017-08-12 07:20] raymoo commented on #10293
Note: The bug might actually be in StreamPeer, in which case it affects also StreamPeerTCP and StreamPeerSSL.

[2017-08-12 08:05] raymoo commented on #10293
Just kidding it's in StreamPeerBuffer, it's not updating or using the pointer in `get_partial_data`

[2017-08-12 08:14] raymoo commented on #10230
See #10295

[2017-08-12 08:31] kubecz3k commented on #10291
closing as a duplicate of https://github.com/godotengine/godot/issues/10130. @pcvonz can you share your model and nodes there? Thanks!

[2017-08-12 08:31] #10291 closed

[2017-08-12 08:32] kubecz3k commented on #10130
related issue #10176

[2017-08-12 08:32] kubecz3k commented on #10176
related issue: #10130

[2017-08-12 10:23] bojidar-bg commented on #10256
Potentially fixed by [#10257](https://github.com/godotengine/godot/pull/10257/files#diff-395c1089ded171b1757742cab9e7297dL1467), can't be sure though.

There is just one place in which Main::start() calls `Image::load`:
https://github.com/godotengine/godot/blob/b2ca50054504e5a8db6a6940af2da99b49c95486/main/main.cpp#L1467-L1471

#10257 changes this by adding a `icon.instance()` line, since the Ref<

[2017-08-12 10:34] bojidar-bg commented on #10274
Or, more properly, a duplicate of #6736

[2017-08-12 10:49] bojidar-bg commented on #10267
@Plasmmer We are hosting a Q2A instance and an instance of our asset-library there as well. If you really, really want to contribute to the site, you might just get in contact with the community using the other channels, mainly IRC.

[2017-08-12 10:54] akien-mga commented on #10253
Well until someone confirms the bug on another OS or another driver, that's our best guess. Most rendering issues are driver-related, and drivers are OS-specific.

[2017-08-12 10:56] akien-mga commented on #10253
You can very well imagine that "rendering is broken" is a false statement when it works great for most users (check the recent video showcasing rendering features). You can trust bug triagers to do their job as it should be done, we have experience :)

[2017-08-12 10:58] Calinou commented on #10267
The site uses [October CMS](http://octobercms.com/). Unfortunately, websites requiring databases to function are very hard to "open source" (but it is possible, see [nextcloud.com](https://github.com/nextcloud/nextcloud.com); it might not be worth the effort though).

[2017-08-12 10:59] curly-brace commented on #10253
i indeed do not insist 😃 but there are some very recent bugreports about rendering issues. but they are concerned pbr. and in my case there is something deeper (because custom shaders do not work either), so i assume that this is very general issue, but it may be treated wrong because of those tags 🙄

[2017-08-12 12:22] UltyX commented on #6373
The bug is still present. I made a 3.0 compatible minimal example and tested it with alpha 1 and a build of todays master branch. There also might be another 3.0 related bug in the particle system, spawning the test particles had some randomness in its velocity even though I turned all attributes relating to randomness to 0.

Minimal example:
[particels.tar.gz](https://github.com/godotengine/godot

[2017-08-12 12:43] ghost opened #10301 "Project manager's file system box should be updated to match the ones within projects"
The "file system" dialog box used when creating/importing a project is pretty barebones compared to the one used within projects:

File system box seen when importing a project within the project manager:
![bad](https://user-images.githubusercontent.com/27100585/29240704-062e297c-7fae-11e7-8e80-7e8b87b73d74.png)

File system box seen when loading a Sprite node's texture within a project:
![good](h

[2017-08-12 12:52] blurymind commented on #10255
@Zylann we can still screen capture with alpha though

[2017-08-12 12:52] DimaKiva opened #10302 "Something about physics. But what? "least_deep == -1" (Godot 3.0 alpha1)"
**Operating system or device - Godot version:**
Ubuntu 16.04, Godot 3.0 Alpha1

**Issue description:**
There is a random hang of the game, due to the fact that the console instantly reports such a mistake 10120 times.
Tell me what this error means?
The release of large spam into the console occurs a couple of minutes after the game starts.
![2017-08-11 22-15-52](https://user-images.githubuserconte

[2017-08-12 13:06] rubenjavier commented on #10219
Can confirm this too, Windows 10 64bit, commit 5052cb2b9104f57d0ff38d80da50bbeceb926e6f

my compilation command (I've tried with and without -j param and doing a clean before compiling)
[code]
the error:
[code]

[2017-08-12 13:47] Geequlim opened #10304 "An inner class cannot be extended out of its script file"
**Operating system or device - Godot version:**
Godot 3.0 alpha1

**Issue description:**

I cannot inherit a inner class in other script files.

The file named `ItemListEnhanced.gd` with a inner class `ListItemProvider` as below:
[code]
The editor complains `Parser Error: Unknown class 'ListItemProvider'` with the script code below
[code]

May #4472 related?

[2017-08-12 14:17] maxim-sheronov commented on #10256
@bojidar-bg
Yes, I used gcc 7.1.1 and I have got exactly the same result as @Rubonnek with same backtrace.
Now I made a built with clang (use_llvm=yes) with target=release_debug. And it works.

[2017-08-12 14:33] maxim-sheronov commented on #10256
Right now I have pulled #10257 and try it. And it works with gcc. So it can be closed after accepting of #10257

[2017-08-12 15:37] GuiltyPixel commented on #10222
I tried with the windows binary you provided a link to, I couldn't make it crash no matter what I did. :) Hmm...

[2017-08-12 17:48] H4kor commented on #10302
Was not able to reproduce the bug.
Ubuntu 16.04, Master-Branch (5052cb2).

[2017-08-12 18:29] samuelpedrajas opened #10308 "Debugger gets broken when reading large files"
**Operating system or device - Godot version:**
Ubuntu 17.04
Godot 2.1.3 & Godot 3 (commit a75623f436c215e107ede321afa08a1897552deb)

**Issue description:**
When I try to read a large file using the File class in GDScript the execution seems to work fine. However, if I set a breakpoint after the line `file.get_as_text()` the debugger gets closed and the next message is shown in the console:

`ERRO

[2017-08-12 19:12] kubecz3k commented on #6373
@UltyX thank you for test and example

[2017-08-12 19:19] pcvonz commented on #10130
Maybe related: The attached model crashes Godot when imported. After removing the armatures the model imports fine.
[legs.zip](https://github.com/godotengine/godot/files/1220007/legs.zip)

[2017-08-12 19:44] PLyczkowski opened #10310 "Exported int var gets broken when set via randi()"
**Operating system or device - Godot version:**

Windows 10 64, Godot 2.1.3

**Issue description:**
I'm setting a new exported variable on a node via:
`export(int) var id`
On creation in editor, I'm setting it to a random value with:
`randomize()`
`node.id = randi()`
Later, at runtime, the id is sometimes different than when viewing in the editor, and generally behaves erratically. Crashes with 's

[2017-08-12 19:47] eon-s commented on #10253
Here is on Ubuntu and AMDGPU, 2a6cdfaf9
![exampleonamdgpu](https://user-images.githubusercontent.com/10215987/29243759-6851dd78-7f7d-11e7-8132-e8518ca3703a.png)

[2017-08-12 19:55] Rubonnek opened #10311 "Graphic artifacts in Linux with an NVIDIA Optimus setup"
**Operating system or device - Godot version:**
Godot master branch 3bea3256f5def126b2b6d639ed70c4ddc3990344

**Issue description:**
Running the [material_testers](https://github.com/godotengine/godot-demo-projects/tree/master/3d/material_testers) demo in Arch Linux will show the following artifacts:

Using the Intel video card:

[code]

![godotartifacts](https://user-images.githubusercontent.com/

[2017-08-12 19:58] Rubonnek commented on #10256
Also works from my end after merging #10257 in my local branch.

[2017-08-12 20:16] volzhs commented on #10253
Ubuntu 16.04 / NVIDIA GeForce GTX 670 with 376.66 proprietary driver ff2cb35b90f5661d1bb5fb00fa657a9539449be0

![image](https://user-images.githubusercontent.com/8281454/29243924-6d2a6766-7fe6-11e7-9d91-c2cf39c3f2c6.png)

[2017-08-12 20:18] HummusSamurai commented on #10311
#10149, #10292, #10253 It's been confirmed, but the lead dev is currently going through the bugs from oldest to newest, so might need a couple more days.

[2017-08-12 20:26] Zylann commented on #10310
Where are you doing this `node.id = randi()`?
If you do that in `_ready()`, it will obviously set to a different value everytime, no matter what you do in editor.
You should also check that your assignment isn't set a second time in editor due to another call to `_ready()` for example.

[2017-08-12 20:29] PLyczkowski commented on #10310
The randi() is set once, though it seems it sets the exported var to a value bigger that it can handle, and then it starts misbehaving:

![2017-08-12_22-26-06](https://user-images.githubusercontent.com/7307968/29243998-b1a18a8e-7fad-11e7-9d33-08b50326af52.gif)

[2017-08-12 20:32] Zylann commented on #10310
Note that randi() returns a value between 0 and 2^32. But due to GDScript values being variants, it will be stored as a signed integer, which handles values between -2^31 and 2^31 (Values above 2^32 will be negative).

[2017-08-12 20:33] Rubonnek commented on #10311
@HummusSamurai Thanks for pointing it out. I was just searching now and stumbled upon some of those issues you mentioned. This seems like a duplicate now. The only difference being the hardware and the fact that I'm getting the grid-like artifact plus the metallic texture not getting rendered properly like in #10292 but both at the same time as can be seen in the first picture above. I have not be

[2017-08-12 20:44] PLyczkowski commented on #10310
Seems also that breaking a single export var can break other export vars in file or object. The scene I'm working on crashed with 'shit? No such file or directory, Server disconnected', then I manually set other export int vars to the same value they displayed, and the scene started working again..

[2017-08-12 20:50] PLyczkowski commented on #10310
I have a custom node type added via an addon (A). Node A on _ready in editor (after being added to the scene) adds a new node next to it (B), that has an exported var called id. Node A then set's the id of node B to randi(). Then node A removed itself (so the id is set only once).

My assumption is that it sometimes sets id too high, and that somehow makes the exported var broken. It also breaks o

[2017-08-12 20:53] PLyczkowski commented on #10310
And the fact that export vars, especially ones unrelated to the problem, can get corrupted that easily, is very disconcerting - one can store important data in them, like the totality of the in-game dialogues for example..

[2017-08-12 21:01] PLyczkowski commented on #10310
Or I'm doing something wrong. Exceeding the export var value like on the above gif feels a bit buggy though.

[2017-08-12 21:15] xLordDaniel opened #10313 "Cant get pixel-perfect on [Godot 3.0 Alpha1]"
**Operating system or device - Godot version:**
Windows 7 64bit - 3.0 Alpha1

**Issue description:**

![godot alpha1 error](https://user-images.githubusercontent.com/23245138/29244146-d1c9c086-7fb9-11e7-9391-6874e89a01d9.png)

Well, the picture pretty much says everything.
The problem is the blurry effect created on low res sprite ( as pixel arts), it isnt sharp as it is suppose to be.
I guess it

[2017-08-12 21:39] xLordDaniel opened #10314 "KinematicBody2D.get_collision_count() is not working correctly"
**_bugsquadedit:_** It seems `KinematicBody2D.get_collision_count()` is not working for some reason. It might be somehow related to the fact there is no `KinematicBody2D.is_colliding()` method in 3.0 (not sure why?). Uploading reproduction project below, since original one is not compiling:
[Issue: KinematicBody2D_collision_count().zip](https://github.com/godotengine/godot/files/1234371/Issue.Kine

[2017-08-12 21:41] Kwarf commented on #10313
Try selecting your spritesheet in the FileSystem view, then go to the Import-tab and uncheck Filter, then hit Reimport.
![tex_filter](https://user-images.githubusercontent.com/4023218/29244411-b065ba46-7fb7-11e7-8ed5-a73de86a28d0.png)

[2017-08-12 21:47] xLordDaniel commented on #10313
And it is working now.
I did heard that there is something called Filter somewhere in the engine, but couldn't find it ( the UI is diffrent from old versions).
Thank you.

[2017-08-12 21:47] #10313 closed

[2017-08-12 22:16] scayze commented on #10024
Ok turns my light source didnt reach the geometry.  stupid me. Turns out the Mesh was lighted because of Ambient light. Which apperently doesnt affect stuff drawn using the ImmediateGeometry Node. Im not sure wether this is a bug or not.

[2017-08-12 22:47] #3802 closed

[2017-08-13 03:23] cutepig49 opened #10316 "Mesh's color is incorrect with rough material"
**Operating system or device - Godot version:**
Windows7 64bit
https://bintray.com/calinou/godot/editor/2017-08-12.b034c4e#files

**Issue description:**

It's the same scene, but it looks different in nightly build (above) and alpha1 build (below).

![nightly](https://user-images.githubusercontent.com/3340057/29245841-17ad4da2-8019-11e7-9d80-63848ed82d7d.PNG)
![alpha1](https://user-images.githubus

[2017-08-13 03:27] ArcFutahito commented on #5990
I'll check it in a couple of days.

[2017-08-13 10:02] timoschwarzer commented on #10314
Can you please reformat your code? Makes it easier to read it. ;-)

[2017-08-13 11:50] novemberist commented on #10314
You might want to consider using move_and_slide() for your use case, by the way. Not sure if this issue is due to a bug or a problem with your code, though.

[2017-08-13 12:19] eska014 commented on #10304
`ListItemProvider` exists in the scope of the file `ItemListEnhanced.gd`, so you'll have to reference it like this:

    class MyItemProvider extends 'ItemListEnhanced.gd'.ListItemProvider:

[2017-08-13 12:37] mohaalak commented on #982
ICU implmentation and Fribidi was pull reqeuested before but denied cause of license and huge library,
 I don't know if it's possible to add ICU as extensioin using GDNative or not?
I didnot read GDNative docs yet

[2017-08-13 12:53] xLordDaniel commented on #10314
Tried changing to move_and_slide(). The bug doesnt appear.
Hmm. I think that the move() function is bugged, as from what i read online, there are no diffrents between move() and move_and_slide() when the there is no slope.
And my code is from here : http://docs.godotengine.org/en/stable/learning/features/physics/kinematic_character_2d.html
It does work fine on the stable ( steam) version of the en

[2017-08-13 13:00] novemberist commented on #10314
I changed (is_colliding()) to (get_collision_count() > 0) so I could run the example project on the latest build and the movement on the floor seems to work fine. there are sone other issues though.

I think the examples from the documentation apply mostly to Godot 2 and will be updated once Godot 3 is be released. So there's not necessarily a bug if code from older versions doesn't run properly.

[2017-08-13 13:26] xLordDaniel commented on #10314
Well maybe (cant test it right now) , but if i even remove the part of  'if(is_colliding())' from the code, the bug stays.
like that:
`
func _fixed_process(delta):
	velocity.y += delta * GRAVITY
	var motion = velocity * delta
	motion = move(motion)
`
if i change the move() to move_and_slide() it works right.
it seems like something wrong with move(). i would check later the projects the engine cam

[2017-08-13 14:50] curly-brace opened #10320 "Controls ignore STOP filter mode"
godot 23f6d3fa69935c90c6cdcee342ae99d226e9b4ab

here is sample
https://www.dropbox.com/s/n31lmfwybqbkb1h/mouse_test.zip?dl=0

if you press anywhere in window, _input event will capture this and print to Output, But of you click button, the same will happen, even while it has 'Stop' filter mode.

[2017-08-13 15:17] #10256 closed

[2017-08-13 15:22] #10245 closed

[2017-08-13 15:25] akien-mga commented on #10293
Fixed by #10296.

[2017-08-13 15:25] #10293 closed

[2017-08-13 15:25] #10181 closed

[2017-08-13 15:27] akien-mga commented on #10107
Fixed by #10298.

[2017-08-13 15:27] #10107 closed

[2017-08-13 17:34] ducklin5 opened #10321 "Per tile z-index in tilemap"
Can we add a z-index option to the tileset? so it wont be necessary to make 2 separate tilesets for floor and walls in 2d.

[2017-08-13 17:42] reduz commented on #10321
that's a pretty good idea, wonder why we didn't do this before..

On Sun, Aug 13, 2017 at 2:34 PM, ducklin5 <notifications@github.com> wrote:

[2017-08-13 18:05] curly-brace commented on #10320
i've also tried now creating a simple control with script that handles _gui_input and if mouse button is pressed just sets
get_viewport().get_tree().set_input_as_handled()
or
accept_event()
but none of them works 🙄

[2017-08-13 18:36] raymoo commented on #10230
Closing since the PR was merged.

[2017-08-13 18:36] #10230 closed

[2017-08-13 18:37] timoschwarzer opened #10323 "[2.1.4] Inspector doesn't update when updating selection from plugin"
**Operating system or device - Godot version:**
Linux, 2.1.4-beta (July 31)

**Issue description:**
When selecting a 2D node with `get_selection().add_node()` from an EditorPlugin, the inspector doesn't update and show the properties of the newly selected node. Additionally, if the new node has some special editor controls, they don't show up. (for example Polygon2D doesn't show its verticies).

[2017-08-13 19:59] raymoo commented on #10216
This is a very well-optimized issue description

[2017-08-13 20:21] DimaKiva commented on #1479
func get_rot_y(node):
	var rot_y = 0.0
	if node.get_rotation()[0] > -1.57 and node.get_rotation()[0] < 1.57:
		rot_y = node.get_rotation()[1]
	else:
		if node.get_rotation()[1] > 0:
			rot_y = 3.14 - node.get_rotation()[1]
		else:
			rot_y = -3.14 + abs(node.get_rotation()[1])
	return(rot_y)

[2017-08-13 20:44] timoschwarzer commented on #3405
I've made an addon that converts Sprites to Polygon2Ds to cut off transparent areas.
https://github.com/timoschwarzer/polygonizer-gd-addon

Currently it uses the convex hull for the images, thus it's not suitable for CollisionPolygons in the most cases. And I think it's definitively a useful and needed feature for the engine.

[2017-08-13 21:21] marcelofg55 commented on #7886
@plucian #10306 was just merged so now the 2.1 branch now has the move_and_slide functions. Any other feature missing in 2.1 that the old 2.2 branch had?

[2017-08-13 22:13] ivodopiviz commented on #10244
I'd like to tackle this one since I'd like to get to know the codebase and start contributing. Which name should be actually used: the ones in the header or the ones in the implementation?

[2017-08-14 00:38] karroffel opened #10324 "Navigation2D returns same point twice in get_simple_path()"
**Operating system or device - Godot version:**
Linux x64, happens on 2.1.3 **and** latest 3.0.

@godotengine/pr-mergers please cherry picked to 2.1 in case of a PR

**Issue description:**

When using `Navigation2D.get_simple_path()` (with the `optimized` argument set to false) the points returned sometimes contains *two* identical points, requiring a workaround to make simple path follow scripts

[2017-08-14 01:26] Geequlim commented on #10304
This grammar is really strange.

[2017-08-14 01:27] Geequlim commented on #10304
Just like a string with a member `ListItemProvider`

[2017-08-14 01:57] Rubonnek commented on #10244
@TwistedTwigleg and I have already finished working on this and we are currently waiting for more feedback on the parameter names we chose. The pull requests we opened can be seen above.

But to answer your question, it really depends. I just used the names that seemed to make more sense on each code block. On some cases I used the parameter name in the header, on some others I just used the one i

[2017-08-14 05:45] HummusSamurai commented on #3271
Bump?

[2017-08-14 05:47] HummusSamurai commented on #9111
Seems to be working now.

[2017-08-14 06:11] YeldhamDev opened #10325 "Can't apply editor layouts saved in other languages"
**Ubuntu 17.04 - Build: b034c4e**

**Issue description:**
When saving an editor layout, you will only be able to apply it in the language that you saved it.

[2017-08-14 06:12] plucian commented on #7886
most have been moved or upgraded, so this should be closed now. I'll compile now to see it in action ! Good work man !

[2017-08-14 06:12] #7886 closed

[2017-08-14 06:44] bojidar-bg commented on #10304
@eska014 I think that the problem in this issue is that the script in the question
`extends 'ItemListEnhanced.gd'`, and thus should have inherited the other scripts's scope as well.

[2017-08-14 08:38] mikeleeman commented on #8651
I have an omni light and spot light in my project, and things flicker (becomes darker or lighter) when the camera moves. Probably the same issue.

[2017-08-14 10:21] curly-brace opened #10328 "DEPTH_TEXTURE - is it working or not?"
i was discovering a way to use depth buffer in godot. at first i thought that shaders aren't finished yet, but now i've managed to output a depth onto screen using this shader
[code]
but i still do not understand how to use DEPTH_TEXTURE because it just has all the same values for every fragment for me.. can someone provide an example or confirm a bug maybe?

[2017-08-14 10:34] endragor opened #10329 "GDNative api.json does not provide additional arguments of getters/setters"
ClassDB supports registering properties as procedures that are called with additional (bound) parameters. For example, for `GeometryInstance` we have:
[code]
This means set_flag and get_flag should be called with additional parameters to get/set the properties. However, api.json generated with `--gdnative-generate-json-api` switch doesn't include this information:
[code]

[2017-08-14 10:52] Sslaxx opened #10330 "Endless error messages apparently caused by playing an .ogg file as a sound effect"
**Operating system or device - Godot version:**
Ubuntu Linux 17.04 64bit
Godot master branch pull 9575dbd.

**Issue description:**
Initially, I'd been having issues where imported non-looping .ogg files used as sound effects would stop looping .ogg files from playing. So I'd attempted to recreate something to use to demonstrate this issue.

That *seems* to have been fixed. *However*, what happens

[2017-08-14 11:22] vunnysher commented on #10241
After this update it will be possible just to use old 3.x version project, and import it to the updated one with aa on Polygon2D? Im curious because i want to know if i can start a project already on current 3.0, or do i have to wait for an updated version.

[2017-08-14 11:41] bruvzg opened #10332 "Vertex shader failed to compile [AMD, Windows 10, Regression from #9b9a723]"
**Operating system or device - Godot version:**
Windows 10 (AMD FirePro D300); master https://github.com/godotengine/godot/commit/9575dbdf788e8a5154b3ec2f66913e731ac02850

**Issue description:**
Displays nothing but a white screen and following errors:
[code]

Default precision qualifiers for samplers (added in https://github.com/godotengine/godot/commit/9b9a723c771a0146cb16e23c3dac744af312bad7) o

[2017-08-14 12:17] kubecz3k commented on #3271
@HummusSamurai well why not, I will add this task to my todo :+1:

[2017-08-14 12:20] kubecz3k commented on #3271
@HummusSamurai well why not, I will add this task to my todo list :+1:
edit: But it's quite massive amount of work (I usually try to investigate those issues to some degree), so it will take me some time (probably a task for the weekend).

[2017-08-14 12:27] toger5 commented on #10241
Startinga project in3.0 is still at ypur own risk. It can be possible, that there is something broken which u really need. Of course starting never hurts from a learning and testing experience.
I also dont know when aa for poly2d is planned. I implemented it for styleboxes recently and looked at the line 2d code. It would be feasible to implement for lines.
Cant guarantee anythi g though...

[2017-08-14 12:59] bojidar-bg commented on #10332
CC @Faless (yes, you managed to break it :wink:)

[2017-08-14 13:29] plucian commented on #10324
is this the same as this:
https://github.com/godotengine/godot/issues/8184 ?

[2017-08-14 13:37] teedoubleuu commented on #1611
I can confirm this issue persists in alpha 1.

[2017-08-14 14:05] karroffel commented on #10324
@plucian seems like it. For me this workaround works, but I think it shouldn't be there in the first place 😄

[2017-08-14 14:26] bojidar-bg commented on #1611
Reopening as not fixed yet

[2017-08-14 14:27] bojidar-bg commented on #1611
@pshendry The project link in the description is dead. Can we get a replacement? 😄

[2017-08-14 14:35] teedoubleuu commented on #1611
Will alpha 1 project be okay?

[2017-08-14 14:37] bojidar-bg commented on #1611
@teedoubleuu Yes, as long as it is "minimal", i.e. does not include too much unrelated code/scenes.

[2017-08-14 14:58] teedoubleuu commented on #1611
https://github.com/teedoubleuu/LOS-Test

There are two lights there in mask mode, but only one of them is casting shadows. I would expect that these lights would combine their masks.

[2017-08-14 15:21] bojidar-bg commented on #1611
Actually, both are casting their shadows, just one is "out-masking" the other:
![image](https://user-images.githubusercontent.com/5276727/29278409-4e136476-811d-11e7-9699-8375b3a884fd.png)

[2017-08-14 15:29] teedoubleuu commented on #1611
Shouldn't they NOT mask each other?

[2017-08-14 15:32] teedoubleuu commented on #1611
If you set the light's shadow color alpha to 0 it does look how would you expect.

[2017-08-14 16:31] pshendry commented on #1611
Thanks for providing a new sample @teedoubleuu. I've been away from gamedev lately so I won't be of much assistance here debugging. Best of luck!

[2017-08-14 16:31] kubecz3k commented on #10292
Closing as a duplicate of https://github.com/godotengine/godot/issues/10216

[2017-08-14 16:31] #10292 closed

[2017-08-14 16:33] Faless commented on #10332
:tada: .
If I remember correctly that was for the non webassembly version of the export.
I'll double check, thanks for reporting

[2017-08-14 16:33] kubecz3k commented on #10292
@aarroz fell free to add your observations to the #10216

[2017-08-14 16:59] Faless commented on #10332
No, actually also the webassembly version complains:

`ERROR: 0:17: '' : No precision specified (sampler)`

[2017-08-14 17:14] Faless commented on #10332
We could simply use `#ifdef`s to check if it's an HTML5 export.
@reduz ?

[2017-08-14 17:30] ricpelo opened #10342 "[Godot 3.0alpha1] Inspector pane shows empty when run scene"
**Operating system or device - Godot version:**

PC with Ubuntu 16.04 LTS, Godot 3.0 alpha1

**Issue description:**

When I run a project or scene, the Inspector pane gets empty and I can't change any properties of the selected node. This issue can't be reproduced with Godot 2.1.

**Steps to reproduce:**

1. Create a scene with some nodes.
2. Ensure a node (any node) is selected, and its propertie

[2017-08-14 17:31] bruvzg commented on #10332
@Faless precision qualifiers are required for WebGL; useful, but not required for OpenGL-ES; and useless for desktop OpenGL.
Putting this inside an `#ifdef GL_ES` should work for all platforms.

[2017-08-14 18:27] YeldhamDev opened #10344 "Closing button in scene tabs still uses the 2.x theme"
**Ubuntu 17.04 - Build: b034c4e**

**Issue description:**
Self-explanatory.

![untitled](https://user-images.githubusercontent.com/30739239/29285449-f10a0676-8104-11e7-995a-aaf534468e4a.png)

[2017-08-14 19:15] HummusSamurai commented on #9472
Possibly solved by https://github.com/godotengine/godot/commit/b7571582ed95e1a7530e6b4251d99098e4175cc6?

[2017-08-14 19:29] adeluiz commented on #1527
The only thing that stops me from developing with Godot is this.

Looking for benchmarks (something most people do when looking for a new engine) I've found that Godot lacks of sprite batching (try the bunnymarks numbers for comparing engines: https://www.reddit.com/r/godot/comments/47j49k/gdscript_is_very_slow/).

I hope that sprite batching could be implemented within the 3.0 version

[2017-08-14 19:33] bojidar-bg commented on #10344
CC @toger5 @djrm

[2017-08-14 20:06] neikeq commented on #10329
You can get the additional parameter via `ClassDB::get_property_index` (see #10117)

[2017-08-14 20:31] tagcup commented on #1527
That benchmark only shows that GDScript is slow, it doesn't have much to do with rendering bottlenecks.

[2017-08-14 20:47] Sslaxx commented on #9472
No. Custom inputs are not saved anywhere. I would have assumed that, like with 2.1.x, they would have been stored in (what is now) project.godot, but they aren't.

[2017-08-14 21:14] elvircrn commented on #10321
Hi, I saw the junior job tag and would be interested in implementing this feature. I've never actually done any open source work and I'm wondering if have to wait for somebody to assign this feature request or something like before getting started.

[2017-08-14 21:19] vnen commented on #10321
@elvircrn each project has its own guidelines. Here we just ask you to comment on the issue saying you are working on it, to avoid potential duplicate work (also comment if you stop working on it for some reason). We don't use GitHub assignments since those can be used only by members.

[2017-08-14 21:48] vnen commented on #10342
Duplicate of #9408

[2017-08-14 21:48] #10342 closed

[2017-08-14 21:49] karroffel commented on #10329
... *passive-aggressive "pr welcome" label added*....

[2017-08-14 22:33] reduz commented on #9472
@Sslaxx, @HummusSamurai : In theory b757158 fixes this, but I did not test it. Any testing is appreciated

[2017-08-14 22:49] Sslaxx commented on #9472
@reduz - It doesn't, I've already tried it. As I stated above, it does not save any custom defined inputs in the project, ergo they cannot be exported.

[2017-08-14 23:21] reduz commented on #9472
@Sslaxx wait, this is a different problem.. you mean custom actions don't work even within the editor? I dont see this problem..

[2017-08-15 01:09] TwistedTwigleg opened #10346 "Console floods with error when changing scenes with a omni light with shadows enabled"
**Linux Ubuntu 16.04 LTS  - Godot alpha 1:**

**Issue description:**

If you have a scene with a Omni light that has shadows enabled the console floods with these two errors:
[code]
The error continues endlessly prints when you return to the scene.

**Steps to reproduce:**
Create a scene with a Omni light that is casting a shadow and change scenes. Then change back to the original scene.

**Link t

[2017-08-15 01:13] TwistedTwigleg commented on #10346
The first error is coming from rid.h at line 154 or 164.

The second error seems to be coming from rasterizer_scene_gles3.cpp at line 269

[2017-08-15 01:31] Rubonnek commented on #10346
I can also replicate this in Arch Linux.

[2017-08-15 01:35] rminderhoud commented on #614
@akien-mga I've added a note to the documentation to point out this pitfall.

[2017-08-15 01:43] reduz commented on #9687
We really should integrate nanosvg and generate icons for the right resolution on the fly.. no one is up for this? :\ I could give it a try, but have so many things to do/fix..

[2017-08-15 06:13] maxim-sheronov commented on #10311
Hi. I want to just confirm this issue. On Arch linux with Nvidia Gtx-970 and on Windows 10 with Gtx-660-Ti

[2017-08-15 07:33] kubecz3k commented on #9537
In any case, I ported rigid platformer demo to 3.0, and tested it on 7fc3c51169957f0907a13dd07d4004496e6ebd56 unfortunately the results are still the same

[2017-08-15 07:55] bojidar-bg commented on #8184
Closing as duplicate of #10324, which is somewhat clearer about the root problem. (Decided after discussion with @karroffel)

[2017-08-15 08:34] Sslaxx commented on #9472
You can create them but it doesn't save them.

[2017-08-15 08:53] ricpelo commented on #9408
Still present in 3.0 alpha1.

[2017-08-15 09:17] maxim-sheronov commented on #10239
Hi. Is it possible to use custom mesh as emission_shape for particles 3d? For example, I want emission from surface (or volume) of my 3d model. I did not find such issues, maybe it can be added to this list.

[2017-08-15 09:23] curly-brace commented on #10328
actually it seems to me that only FRAGCOORD.w is different for each fragment

[2017-08-15 09:29] Cradmon commented on #10301
This would be helpful to consistency through the editor.
Although, the file system box could do with an update, for example:

- The icon view should probably be a toggle button, to be consistent with the file system dock.
- And why is there a ./ folder? (Much appreciation to anyone who could explain its purpose).

[2017-08-15 09:33] volzhs commented on #10239
https://mobile.twitter.com/reduzio/status/850156344871198720
https://mobile.twitter.com/reduzio/status/850077188275798018

[2017-08-15 09:41] kubecz3k opened #10347 "look_at sometimes flips Y axis"
**Operating system or device - Godot version:**
Linux, 53c23b02226968d27e6caadcb801343697ac4fe9

**Issue description:**
In my game I have enemies which are in each frame using `model.look_at(model_global_pos+target_look_dir, Vector3(0,1,0))`. In recent build I noticed those models are rarely for short period of time upside down:
![upside_down](https://user-images.githubusercontent.com/6129594/2931

[2017-08-15 09:42] kubecz3k commented on #10347
@tagcup do you have by any chance any idea what this might be about?

[2017-08-15 09:42] ricpelo commented on #10323
Maybe related to #9408?

[2017-08-15 09:54] maxim-sheronov commented on #10239
@volzhs thanks! The second post is what I am asking about.

[2017-08-15 09:57] maxim-sheronov opened #10348 "Particles 3D initial velocity always random"
**Operating system or device - Godot version:**
Arch linux, Godot 3.0 - last build from master branch

**Issue description:**
If I set initial velocity for particles to 1, and velocity random to 0, as I understant, particles' velocity should be constant 1.
But it is random from 0 to 1. And changing of "velocity random" does not make any effect.

[2017-08-15 09:58] maxim-sheronov opened #10349 "Particles 3D - gravity does not work if initial velocity iz zero"
**Operating system or device - Godot version:**
Arch linux, Godot 3.0 - last build from master branch

**Issue description:**
If you set initial velocity to 0 (zero), gravity does not work on particles.

[2017-08-15 10:32] #7622 closed

[2017-08-15 10:38] reduz commented on #8004
Quad node is gone and i can't reproduce this in current master using quad mesh, so closing.

[2017-08-15 10:38] #8004 closed

[2017-08-15 10:50] curly-brace commented on #10328
actually seems like i was wrong. everything works, but value require normalization first.

[2017-08-15 10:50] #10328 closed

[2017-08-15 11:49] kubecz3k commented on #10347
In the provided gif, they are upside down in those frames when `target_look_direction.z` is negative. Still haven't reproduced this yet...

[2017-08-15 12:03] novemberist opened #10350 "move_and_slide() "sensitivity""
**Operating system or device - Godot version:**
Arch Linux, Godot 3 master

**Issue description:**
I'm trying to get into the KinematicBody2D API and just realized that move() and move_and_slide() behave very differently, when used with the same values. In the simple example project, using move() the body moves pretty fast whereas with move_and_slide() it hardly moves at all. For move_and_slide()

[2017-08-15 12:25] reduz commented on #10350
move_and_slide() uses and returns linear velocity, while move() is just a
motion vector

On Tue, Aug 15, 2017 at 9:04 AM, novemberist <notifications@github.com>
wrote:

[2017-08-15 12:27] volzhs commented on #7428
I think this can be closed now.

[2017-08-15 12:27] #7428 closed

[2017-08-15 12:36] novemberist commented on #10350
Ok, my bad. Actually move_and_slide() behaves exactly like setting the linear velocity of a RigidBody. I guess i was just confused by how big a factor i would have to use to get a good movement speed. This can be closed.

[2017-08-15 12:45] vnen commented on #10243
A preprocessor condition is kind of pointless since we always compile with `_WIN32_WINNT = 0x0600`

I wonder if it's worth the trouble to still support Vista. It's a 10-year old OS, used [less than XP nowadays](https://en.wikipedia.org/wiki/Usage_share_of_operating_systems#Desktop_and_laptop_computers). Microsoft has [ended the support for it](https://support.microsoft.com/en-us/help/13853/windows

[2017-08-15 12:56] reduz commented on #10243
If Microsoft support has ended, I suggest we drop it. Read/Write locks are
a great optimization for our use case

On Tue, Aug 15, 2017 at 9:45 AM, George Marques <notifications@github.com>
wrote:

[2017-08-15 13:12] #10350 closed

[2017-08-15 13:46] toby3d commented on #10033
It seems that the problem has disappeared.

[2017-08-15 13:46] #10033 closed

[2017-08-15 13:50] toby3d commented on #9739
@marcelofg55 Yep, all is :ok_hand: now.

[2017-08-15 13:50] #9739 closed

[2017-08-15 14:23] kubecz3k commented on #10347
I finally managed to nail down the this issue... applying scale to the object that looks in z positive direction results in a model that is turned upside down, don't seems like it has anything to do with `look_at`.  I think I will close this one and open new issue.

[2017-08-15 14:23] #10347 closed

[2017-08-15 14:33] kubecz3k opened #10352 "Applying scale to a spatial turns it upside down"
**Operating system or device - Godot version:**
Linux, 53c23b02226968d27e6caadcb801343697ac4fe9

**Issue description:**
When we apply scale to the model that is looking in z positive direction, in a result it will be turned upside down:
![upside_down](https://user-images.githubusercontent.com/6129594/29320233-d4692308-81d6-11e7-82ff-7e582057638e.gif)

I did bisection and I found that 53c23b0222696

[2017-08-15 14:34] kubecz3k commented on #10352
cc @tagcup

[2017-08-15 14:38] kubecz3k commented on #10347
For the reference, new issue: https://github.com/godotengine/godot/issues/10352

[2017-08-15 14:41] #8092 closed

[2017-08-15 17:44] AWKgamedev opened #10353 "Editor fades from black with "Dim Editor On Dialog Popup" disabled"
**Operating system or device - Godot version:**
Windows 10 - Godot 3.0alpha1

**Issue description:**
Disabling the "Dim Editor On Dialog Popup" option in Editor Settings -> Interface causes the editor to still fade from black when closing a dialog.

I set the Dim Amount and Transition Time to 1 in the gif example for clarity.

![2017-08-15-1436-33 1](https://user-images.githubusercontent.com/10258

[2017-08-15 18:01] bojidar-bg commented on #10353
CC @Hinsbart

[2017-08-15 18:13] TX256 opened #10354 "Commented rows do not respect text indent when inserting a new line below them."
**Operating system or device - Godot version:**
Windows - Godot 2+

**Issue description:**
There is an annoying usability issue in the code editor:

[code]

Imagine that the caret is located at the end of the commented line.

Now, create a new line, and the caret jumps back to the very beginning of the new line - which is quite impractical and annoying.

So, I'd suggest to make the caret respect t

[2017-08-15 18:14] toger5 commented on #8893
@djrm I started working on this and made decent process.

I made a new folder structure for icons:
[code]
 - changed the svgs to png script
 - and the script which generates the headers. and assigned the icons to the map.

[2017-08-15 18:58] #10353 closed

[2017-08-15 19:23] Calinou opened #10355 "Ability to translate and scale 3D nodes on two axes at once, locking the remaining axis"
In Blender, it is possible to translate and scale 3D nodes on two axes at once (XY, YZ, or XZ) while locking the remaining axis (it is done by holding <kbd>Shift</kbd> while pressing an axis modifier key). This makes it easier and quicker to move or scale 3D geometry along a flat surface, for example.

Supporting this in Godot would make the 3D workflow more convenient.

[2017-08-15 19:29] #8116 closed

[2017-08-15 19:31] toger5 commented on #10355
Totally agree!
Is it even supported tu use x,y,z as modifier for translation?

[2017-08-15 19:31] djrm commented on #10355
blender 2.8 also has these handlers which are really cool
![screenshot from 2017-08-15 14-30-55](https://user-images.githubusercontent.com/1103897/29332669-71aacf88-81c6-11e7-9589-b9dfa0b0f466.png)

[2017-08-15 19:31] homer666 commented on #10355
Either this or modified gizmos a la Unity / 3ds Max (hell, even both) would be really great.

[2017-08-15 19:35] RandomShaper commented on #10354
Unless you arw writing a multiline comment. Maybe we could add a setting to enable that behavior and enable/disable it by default according to the best consensus.

[2017-08-15 19:38] reduz commented on #8409
Still undecided on this, so kicking to 3.1

[2017-08-15 19:46] djrm commented on #8893
@toger5 i dont know if this will be needed anymore, since currently im working on svg support, but the thing that we will definetly need is the conversion table mentioned (for color conversions).

[2017-08-15 19:59] reduz commented on #8117
the only way i can imagine of fixing this is tagging undo redo operations as global somehow, so a bit more complex check can be implemented:

For example: going up or down towards the last save version, check if any modification is not global..

[2017-08-15 19:59] reduz commented on #8117
if anyone volunteers, great, otherwise will kick to 3.1

[2017-08-15 20:11] Ijatsu opened #10357 "[Questions 2.2] Main Loop iterations and Physics"
Hello!

I'm trying to make some fancy stuff with genetic algorithm. Basically I have a scene that creates 12 SceneTrees and initiate the same given PackedScene in it. These 12 simulations are iterated by the main scene using the MainLoop's iteration function.

I do that in order to be able to speed up or slow down at will the simulations. Sadly, it seems that the physics aren't affected by this. F

[2017-08-15 20:21] #8607 closed

[2017-08-15 20:21] #10038 closed

[2017-08-15 20:24] abe-noll opened #10358 "KinematicBody2D::Move doesn't detect certain collisions"
**Operating system or device - Godot version:**
- Windows 10, Godot Steam (2.1?)
- Haven't tested version 3.0

**Issue description:** I am moving a KinematicBody2D towards another collision body. The collision body has a complex and dense polygon shape inside. When you use KinematicBody2D::move near a dense number of polygon vertices, the KinematicBody2D does not register a collision _but_ it get'

[2017-08-15 20:42] RandomShaper commented on #9996
I'm working on a PR for this.

[2017-08-15 20:51] reduz commented on #9860
fix is good, but @karroffel i guess still has to implement properly exporting in GDNative

[2017-08-15 20:53] tagcup commented on #10352
Haven't checked what's going on in detail but look_at shouldn't be used with scale (will update the doc on this). You can create an auxiliary parent/child node for it, or use a proper axis-angle rotation.

[2017-08-15 21:21] tagcup commented on #10352
Based on that script, it doesn't look right though. Let me take a closer look at what's going on here later this week.

[2017-08-15 21:24] Zylann opened #10359 "Crash when any script is closed"
Godot 3.0 9575dbdf788e8a5154b3ec2f66913e731ac02850
Windows 10 64 bits

Godot crashes when I close a script, either with File->close menu or Ctrl+W.
Interestingly, it doesn't crash when it's a documentation file.

Error in the console right when it happens:
[code]

![image](https://user-images.githubusercontent.com/1311555/29337224-df2b876a-8210-11e7-81f1-f7f318c83391.png)

[2017-08-15 21:33] Zylann opened #10360 "The script editor caret isn't blinking"
Godot 3.0 9575dbdf788e8a5154b3ec2f66913e731ac02850
Windows 10 64 bits

I just noticed the cursor doesn't blink in the script editor, although the "redraw" spinner indicates a redraw every second.

[2017-08-15 21:33] reduz commented on #8685
This is because lighting in godot works with multiple passes in 2D, should be changed to single pass but it's a good amount of work, so kicking to 3.1

[2017-08-15 21:40] freemanfromgodotengine commented on #4003
I will try as soon as I will be back, but I will not be able to test in the same app, as in my case both, newest 2.1.1+ and master 3.0 version, get bugs, that prevent my apps from running properly at all.

[2017-08-15 21:41] #9860 closed

[2017-08-15 21:45] RandomShaper commented on #9996
@Asmageddon, have a look at #10361.

[2017-08-15 22:06] #8687 closed

[2017-08-15 22:16] reduz commented on #8691
I think I havent seen this error in a while did anyone?

[2017-08-15 22:37] kubecz3k opened #10363 "Particles3D: trail divisor is not very good"
**Operating system or device - Godot version:**
3.0 alpha

**Issue description:**
Adding this issue as a reminder for @reduz (after irc meeting). Not sure however what idea exactly @reduz have on mind for replacement.

[2017-08-15 22:40] kubecz3k commented on #10363
Also:

[2017-08-15 22:43] toger5 commented on #8893
I actually kept the svg importer in mind when adding the feature. You just need to change how make_icon() works.

Ill add the pr tomorrow.

[2017-08-15 22:48] RandomShaper commented on #6262
@Rocket-Buddha, in `2D` stretch mode you have a virtual resolution, which is, the size of the viewport matching more or less accurately your `display_width`/`height` depending on the `stretch_aspect` setting. For `keep` that is matched exactly.

And you have a physical resolution, namely the size of the window, as returned by `OS.get_window_size()`.

So if you want to draw at exact __physical__ pi

[2017-08-15 22:59] RandomShaper commented on #9523
@sam-leo, could you provide some context?

By the stack trace, it seems Godot is crashing when a node which has at least 5th generation descendants enters the tree. And it looks as it happens from a deferred call (signal of `_call_deferred()`), but I'm not sure about that. It cold be just the normal scene change flow.

Maybe you can add some `print()`s to pinpoint or at least delimit the point whe

[2017-08-15 23:13] reduz commented on #8693
this is waaaaaaaaaaaaaaaaaaaaaaaaaay too difficult to avoid, maybe those functions should have a maximum recursion number. For now kicking to 3.1 since itś not critical..

[2017-08-15 23:15] Zylann commented on #8693
But... why not simply consider the array's reference as being the hash? Do we reaaally want the content to be used for the hash, even though it could not matter at all in many cases? (see my comment above)

[2017-08-15 23:21] WolfAtNight opened #10364 "Warped panning interacts badly with drag & drop"
i Am using a windows 10 computer and Godot 2.1.3

Sometimes, mostly when i am working with tiles (only when i work with drag and drop) and creating my tilemap something strange happens. somehow godot trys to catch my mouse. you cnow like in 3D games where the mouse is held in the middle of the screen. its exacly that only that it is also flashing. i mean i get it out of that if i go full speed to

[2017-08-15 23:54] vnen commented on #10311
This is the same issue as #9525. Closing as duplicate.

[2017-08-15 23:54] #10311 closed

[2017-08-16 00:04] vnen commented on #9472
I can create new actions and they are saved, but adding inputs to the default actions doesn't work.

[2017-08-16 00:08] RandomShaper commented on #10074
Please check #10365.

Without it, after re-adding the body, `BodySW::update_inertias()` sees no shapes and thus `inertia_tensor` is left as all-zeroes so `_inv_inertia` goes to infinity.

[2017-08-16 00:18] sergey-push commented on #8693
Or we could do as nodejs does with console.log, print only 1-2 levels.

[2017-08-16 00:22] #10074 closed

[2017-08-16 00:22] Zylann commented on #8693
Ah, for console output it could maybe be a different issue actually, since the chosen solution could differ and it's a different use case.

[2017-08-16 00:24] reduz commented on #8693
It used to be this way, but was changed to this because it made it
impossible to use arrays as dictionary keys, which is something that was
requested.

As I said, fix is a depth counter in functions that do this kind of stuff
so we stop at, say, 1000 and print an error.. but given this is not really
critical will be pushed back

On Tue, Aug 15, 2017 at 9:19 PM, sergey-push <notifications@github.co

[2017-08-16 00:31] Zylann commented on #8693
I'm curious why it prevents using as dictionary keys, since other languages work this way by default (and providing ways of customizing it if needed)

[2017-08-16 00:53] reduz commented on #8693
Because you put [1,2,3] as key, then create another identical array to
index. The hashes will differ and wont be found

On Aug 15, 2017 9:31 PM, "Marc" <notifications@github.com> wrote:

[2017-08-16 01:14] sam-leo commented on #9523
@RandomShaper well, I'm not capable to reproduce the error because it happens in my user's devices. In my own device, (android 4.4.2) nothing occurs. The same error happened 4 time in android 5 with 2 users, 1 time in android 6 with one user and 1 time in android 4.4 with one user. This from 9 july until now.

[2017-08-16 01:24] cart commented on #10074
Everything is working great now on my end.  Thanks everyone!

[2017-08-16 05:21] HummusSamurai commented on #8805
This was closed https://github.com/godotengine/godot/issues/9143 but it references https://github.com/godotengine/godot/issues/9263 as being the follow-up, not sure if you want to substitute it.

[2017-08-16 07:04] puppetmaster- commented on #10364
I have had the same problem yesterday after accidental drag and drop sound sample from the open samplePlayer2d resource to my open 2d scene. Godot has show me an icon on the mouse pointer and after releasing, my mouse was invisible and trap on the release coordinates.

[2017-08-16 07:24] k0105 opened #10369 "Qt Embedding"
Hello,

I'm interested in embedding Godot into a Qt application. It seems like this might have been solved in https://github.com/godotengine/godot/pull/9435 which seems to use a [QOpenGLWindow](http://doc.qt.io/qt-5/qopenglwindow.html) to display Godot content.

Is it possible to embed Godot into Qt5 and if so, how? This functionality would be extremely useful for interactive 3D content in Qt and

[2017-08-16 07:26] Causeless commented on #10357
This is Github issues. This isn't for Q&A - there's a section on the website for that.

Regardless, for the sake of having the physics be deterministic (which is especially important from evolutionary/genetic algorithms), the physics server runs at a fixed tick-rate (by default at 60fps).

You can change this under the Project settings under Physics.

To have your scripts run in sync with physics

[2017-08-16 07:35] maxim-sheronov opened #10370 "How to convert variants to byte arrays in Godot 3.0"
Question about Godot 3.0

In "Binary serialization API" section of documentation I found, that in File and PacketPeer engine uses simple serialization. Is it possible to call serialization or conversion methods from my GDScript?

For example, I want to get array of 4 bytes from 1 float.
Maybe it can be added to some Pool*Array. Because I did not find any way to write floats to PoolRealArray and ge

[2017-08-16 07:43] volzhs commented on #10370
use Q&A site, facebook, discord, irc, reddit, etc for question.

[2017-08-16 07:58] maxim-sheronov commented on #10370
Ok, will close it

[2017-08-16 07:58] #10370 closed

[2017-08-16 08:24] Causeless commented on #10357
I've taken a look and it looks like the best method would be to use set_use_custom_integrator and add a custom integrator for the relevant rigid bodies to scale velocity by a constant instead of by the deltatime.

This would allow you to modify the physics tickrate without changing the behaviour of the simulation, so doubling the tickrate would deterministically double the sim speed (assuming you'

[2017-08-16 08:38] bojidar-bg commented on #10358
Testing with the supplied project, I could confirm on 2.1.x.
It works fine for 3.0 though (using the 3.0 exporter)

[2017-08-16 08:41] blurymind commented on #8557
It would be very cool if we can also pass parameters to the function/method we are triggering
Without this, the feature to edit connections in the editor is only half functional imo

[2017-08-16 08:45] Noshyaar commented on #10370
(offtopic) tbf the [contact page](https://godotengine.org/contact) of the official site encourages filing  issues for questions. I think it should be removed as there are more appropriate ways as mentioned above.

[2017-08-16 09:44] groud commented on #9520
Most of this issue have been adressed by #9889. Closing.

[2017-08-16 09:44] #9520 closed

[2017-08-16 09:45] RandomShaper commented on #10364
I'm trying to reproduce to no avail. Can you try to reproduce it and share more explicit instructions?
What screen resolution?

[2017-08-16 09:51] groud commented on #6540
I would say that with floating anchors implemented in #9889, this issue can be closed.

[2017-08-16 09:56] hickop opened #10372 "Segfault when hovering tree element and showing tooltip (GCC 7.1.1)"
**Operating system or device - Godot version:**
Archlinux
Godot 3.0 - master 603b262d9bfe757e4a009a80f1c80230d35512ba

**Issue description:**
Compiling with
[code]
My GCC Version
[code]
GDB backtrace
[code]
Segfault does not occur when compiling with GCC 5.4.0 or Clang 4.0.1

**Steps to reproduce:**
- Hover an element in a tree to show its tooltip
- Hover another tree element
- Segfault

[2017-08-16 10:38] WolfAtNight commented on #10364
first:
i am using csual mouse no mousepad or something like that
second:
the only thing that could respond to my mouse is the clock itself
third:
i am using it on a 180x1920 screen

and for now i can say that i turned of the warped mouse panning setting of and i wasn't able to recreate the bug but i will report if something like that happens again until then thanks for the help

[2017-08-16 10:38] eon-s commented on #9367
Tested on a recent 3 and no problems, so is just a 2.x thing.

And for some reason didn't pasted the full bt :upside_down_face:
Anyway, got a different message too on e85be2f5d:

[2017-08-16 10:45] reduz commented on #8830
@akien-mga did you have time to double check? :)

[2017-08-16 10:47] RandomShaper commented on #10324
I'm checking this.

[2017-08-16 10:54] Calinou commented on #10360
Did you enable the Caret Blink option in the editor settings? It is disabled by default.

[2017-08-16 11:25] kubecz3k opened #10374 "Control anchor positioning is sometimes wrong"
**Operating system or device - Godot version:**
Linux, 1ecb48b8c275f8c895ed34ac7e267871859daf1e

**Issue description:**
In this versions some UI controls are sometimes shifted out of their original places.

_pic1, good:_
![ui_pos_good](https://user-images.githubusercontent.com/6129594/29360975-b2661716-8285-11e7-8a48-7614f8c7173b.png)

_pic2:bad (the same scene)_
![ui_pos_bad](https://user-images.

[2017-08-16 11:25] groud opened #10375 "2D editor enhancements"
Hi everyone,

I plan to work on the 2D editor to make it more modern. I opened this issue to discuss what and how the changes should be implemented.

Here is a list of what could be added:

**Control nodes**
- [x] Display the margin values when moving a node (#10437),
- [x] Display width and height values when resizing a node (#10437),
- [x] When moving anchors, draw a rectangle to show the select

[2017-08-16 11:25] kubecz3k commented on #10374
@groud sorry for not being able to investigate more at the moment, could you take a look?

[2017-08-16 11:31] groud commented on #10374
The anchor API has changed, now the margin sign is no more dependent on the anchor value.
That means that a node having an anchor set at 0.5 (old ANCHOR_CENTER) or ANCHOR_END, have usually margins with negative values.
This probably has to be modified into the sample project. :)

[2017-08-16 11:32] kubecz3k commented on #10374
So to be sure, the pr is breaking compatibility with old projects?

[2017-08-16 11:34] groud commented on #10374
Yes. But mainly for controls that had an anchor set at ANCHOR_END or ANCHOR_CENTER.
I changed them in the editor code but not in the sample projects.

[2017-08-16 11:34] #10374 closed

[2017-08-16 11:50] endragor commented on #10135
Here is what happens with the current rendering algorithm, no matter if Shaded or Unshaded materials are used:
![Broken Order](https://i.imgur.com/zFf2Q3n.gif)

Pretty sure this needs to be resolved before 3.0, unless there is already a solution.

[2017-08-16 11:54] reduz commented on #10135
this should be pretty easy to implement, but the index to do the sorting
will probably be a bit limited (-128 - 127 or something like that, with
default at 0)

On Wed, Aug 16, 2017 at 8:50 AM, Ruslan Mustakov <notifications@github.com>
wrote:

[2017-08-16 12:04] endragor commented on #10135
Thanks, that's more than enough for our use cases for sure.

[2017-08-16 12:06] Ijatsu commented on #10357
Hello and thank you for your answer!

I am sorry if I have used the issues instead of the Q&A.

Using OS:set_iterations_per_second and OS:set_time_scale together works, I've not noticed rounding problems yet.

The only thing I reproach to that solution is that it's not working independently on the scene trees and instead affect all the application. I would have wished scene trees to be more indepe

[2017-08-16 12:44] Zylann commented on #9661
Well... what about the use case where you don't necessarily want to use StreamPeerBuffer? (plain serialization for example?)
It was asked here: https://godotengine.org/qa/17288/how-to-convert-float-to-byte-array-in-godot-3-0
I still don't know the answer myself in a general case, since Godot only provides domain-specific methods.

[2017-08-16 13:00] Shin-NiL commented on #10375
That's one thing I miss a lot :)

[2017-08-16 13:57] akien-mga commented on #10325
Confirmed, I experienced this a while ago.

[2017-08-16 14:09] #614 closed

[2017-08-16 14:20] akien-mga commented on #10354
Having such comment style breaks the python-like indentation based block though, so personally I would avoid it and use instead:
[code]
Then there is no problem ;)

[2017-08-16 14:29] akien-mga commented on #8691
I think it has been fixed already.

[2017-08-16 14:32] #9500 closed

[2017-08-16 14:33] #7758 closed

[2017-08-16 14:45] akien-mga commented on #10370
Thanks, fixed.

[2017-08-16 15:00] Causeless commented on #10357
As far as I can tell there's no real way to change the timescale or tickrate on a per-scene basis, it can only be done on the engine level.

Per-scene tickrate and timescale seem like potentially useful features, albeit admittedly sound more useful for simulations rather than games (where separate scenes are rarely going to be run in parallel, or especially at different timescales).

It may be a g

[2017-08-16 15:03] timoschwarzer commented on #10375
Maybe a Blender-like selection for overlapping nodes:
1st click: Select the topmost node
further clicks: Select the next node behind the current selected node

But this may be hard to implement because selection is broken for many nodes atm.

[2017-08-16 15:08] #10324 closed

[2017-08-16 15:09] #10332 closed

[2017-08-16 15:12] groud commented on #10375
What do you mean ? Is there an issue about that ?

[2017-08-16 15:14] #4301 closed

[2017-08-16 15:16] #8875 closed

[2017-08-16 15:16] #10183 closed

[2017-08-16 15:17] #10244 closed

[2017-08-16 15:19] vicguedez opened #10379 "HTTPClient request fail (sometimes) when connection is not closed when the request finish."
**Operating system or device - Godot version:**
Debian 9 - Godot 2.1.4-beta custom build (e85be2f5df3a24dfad50e02c16abb4757abb8141)

**Issue description:**
So, making plain HTTP request work fine, but now I configured and "secured" my VPS with a LetsEncrypt SSL cert. Godot will connect and request will perform just fine. But sometimes (more than I would like them to) the requests fail, and it does

[2017-08-16 15:27] timoschwarzer commented on #10375
Oh no, wait. It actually was the 3D selection that doesn't work sometimes (e.g. for Sprite3Ds).
Then it's maybe not hard to add that functionality into the 2D viewport.

[2017-08-16 15:34] #9542 closed

[2017-08-16 15:38] kubecz3k commented on #10352
@tagcup it's not the subject of this issue but not sure why you are talking me look_at should not be used with scale. I was using those two commands in close neighborhood since 1.0 and it was always good for me...

[2017-08-16 15:42] tagcup commented on #10352
Because it will just reset your scale, see #10003.

[2017-08-16 15:44] kubecz3k commented on #10352
@tagcup that's why I'm using them next to each other in the first place :) I have even shorthend for this in my personal Global singleton :P
[code]

[2017-08-16 15:49] kubecz3k commented on #10352
@tagcup I wanted at some point to make pr for `look_at` that would do just that, do you think it's a bad idea to have this as a part of codebase?

[2017-08-16 15:52] tagcup commented on #10352
Are you sure you got thst behaviour after that commit? Because you're using get/set_scale and look_at which has nothing to do with that commit.

I'm away from my desktop computer this week, can you post the transform matrix of that object and it's determinant before calling any functions on it? It may be a problem with the Euler angle hack (is it introducing a reflection?). Also can you post the s

[2017-08-16 16:00] kubecz3k commented on #10352
tagcup, I'm sure it's this commit, I did bisection, if you will have some free time download sample project and check if yourself... Off course it's possible bug is somewhere else and that pr just revealed it...
Also I'm not in rush with this, so this don't need to be solved this week but it would be great if you could investigate when you will have time... Also I can check if it's determinant, bu

[2017-08-16 16:03] tagcup commented on #10352
Again, I'm away from my computer this week, this is why I asked, anyway, I'll check after I go back then

[2017-08-16 16:05] kubecz3k commented on #10352
@tagcup sure, in meantime I checked transform, dont see nothing suspicious:
[code]

[2017-08-16 16:06] kubecz3k commented on #10352
Oh... the basis is:
[code]

[2017-08-16 16:11] kubecz3k commented on #10352
Sorry in meantime I was experimenting and that was transform/basis of the parent :) (deleted those comments)
basis:
[code]

transform:
[code]

[2017-08-16 16:36] tagcup commented on #10352
Thankas, could yoy also post lscale too?

Euler angles aren't used at no point in that code, so at this point it doesn't make any sense.

get/set_scale, however, isn't supposed to be used like that. As you can read in its code doc, get_scale uses a certain convention to decompose basis, and it may introduce a rotation. get_scale makes sense only when used together with get_rotation which uses the

[2017-08-16 16:38] kubecz3k commented on #10352
@tagcup so how we should rotate objects in 3d?

[2017-08-16 16:41] kubecz3k commented on #10352
@tagcup lscale is not very interesting: `lscale: (1, 1, 1)`

[2017-08-16 16:45] kubecz3k commented on #10352
also not giving me ability to get/set scale would be quite horrible for my game, where scale of enemies represents their health... It's one of the most basics thing I can think of, I'm sorry but I'm surprised by the things you are telling me :o

[2017-08-16 16:52] tagcup commented on #10352
Those functions weren't there in 2.x, I added them only recently.

You can rotate the objects using 2.x API. You'll need to store the scale separately, or use an auxiliary parent or child for scale.

The problem with those functions is that they require user to understand how they work, and how rotations and scaling work, which is clearly totally unrealistic.

[2017-08-16 16:54] kubecz3k commented on #10352
@tagcup those functions were there for sure, I'm using them for years, the project where I have problem is practically pure conversion form 2.x .... We are talking about `Spatial.set/get_scale`? :P

[2017-08-16 16:57] tagcup commented on #10352
I've mentioned this time and again, I'll make an issue for this when I return so that I can simply refer to it.

The problem here is that we're not storing rotation and scaling information separately. We only store basis, and it's impossible to decompose basis into scaling and rotation uniquely uaing only that information.

A simple cartoon analogue of that problem is, you can factor 6 as 2 x 3 or

[2017-08-16 17:00] tagcup commented on #10352
The functions themselves may have been there but there was no polar decomposition, meaning it was broken. It'd give wrong results if you have negative scaling or reflection equivalently.

Anyway there is no bug here. That's just not how it worka.

[2017-08-16 17:01] tagcup commented on #10352
I think get_scale was there but probably not others.

[2017-08-16 17:08] tagcup commented on #10352
I has some ideas about how to nicely store rotation and scaling separately and I tried to ask @reduz if he'd be OK with such a change but so far I never got a reply from him.

[2017-08-16 17:12] kubecz3k commented on #10352
@tagcup just to be sure, you are telling me that fetching scale can change state of my spatial?

[2017-08-16 17:20] kubecz3k commented on #10352
@tagcup There definitelly is: http://i.imgur.com/gsEoID6.png
I'm feeling like we are talking about two different things somehow...

[2017-08-16 17:22] kubecz3k commented on #10352
@tagcup I checked even in 1.1 since I still have it on the disk and api is the same...

[2017-08-16 17:28] tagcup commented on #10352
No it's set_scale that doesn't work as you'd expect.

[2017-08-16 17:30] tagcup commented on #10352
No I'm talking about *set* scale not get scale. There is no such function, I introduced it, and it never appeared in a stable release so far.

[2017-08-16 17:30] kubecz3k commented on #10352
well apparently I expect from new one to work the old way... but ok, I dont think I'm able to dig into matrix math internals at the moment, would be nice if @reduz could look before I will close this issue.

[2017-08-16 17:31] RandomShaper commented on #10357
You can always run multiple Godot instances and add some code to sync them.

I don't know if headless Godot currently builds, but it will do eventually and you could take some advantage from it.

[2017-08-16 17:31] kubecz3k commented on #10352
@tagcup to have some diversity this time screen is from 1.1 http://i.imgur.com/b7s5Xop.png :P

[2017-08-16 17:34] akien-mga commented on #10352
@tagcup Check this screenshot again, there is definitely `set_scale(Vector3)`: http://i.imgur.com/gsEoID6.png

http://docs.godotengine.org/en/stable/classes/class_spatial.html?highlight=set_scale#class-spatial-set-scale

You seem to have different conceptions of what the scale is. What @kubecz3k expects (and I believe most users will expect the same) is that the scale should work in 3D like it doe

[2017-08-16 17:44] neikeq commented on #9693
I disagree with what has been stated here.
- If the problem is that the editor won't display any warning, then it should be made to.
- If there is a warning, people will gradually stop using the deprecated feature. If they don't, it's their fault. Being against deprecation flags just because some people may decide they don't want to benefit from it is like being against hotkeys because some people

[2017-08-16 17:52] tagcup commented on #10352
You both are looking at the wrong place, check Matrix3 docs. Spatial set scale does something else

[2017-08-16 17:53] kubecz3k commented on #10352
@tagcup but the code and issue is related to Spatial. I'm not and never was messing with Matrix3 scale directly

[2017-08-16 17:55] tagcup commented on #10352
Err did something else

[2017-08-16 17:56] kubecz3k commented on #10352
@tagcup to make me happy I need to:
1. be able to get forward/up/right directions so we have `Spatial.get_transform().basis. z / y / x`
2. be able to rotate project with direction vector so we have `Spatial.look_at`
3. be able to get and set scale of a spatial, so we have `Spatial.set_scale / get_scale`

[2017-08-16 18:07] tagcup commented on #10352
Go teach yourself some math before making wild claims

[2017-08-16 18:11] kubecz3k commented on #10352
@tagcup I'm very sorry my intention was not to offend you. I think you are doing great job for Godot and whole community. I just wanted to make sure we are at the same level, I'm very sorry for such unfortunate wording.

[2017-08-16 18:12] akien-mga commented on #10352
Mind your language. Ever heard of human beings who happen not to be native speakers?

And read again. "to make me happy **I** (me, @kubecz3k, not you) need to" does not require *anything* of you, so don't be an ass.

[2017-08-16 18:12] neikeq commented on #4397
I volunteer to implement this. It will be happen in 3.1 though, because I'm busy with other stuff right now and, as you said, it makes no sense in 3.0.

[2017-08-16 18:23] tagcup commented on #10352
I kniw very well what he said back there, OK. Don't tell *me* to mind my language, it's not my first language either.

I'm away, busy, at a conference, I'll make changes when I'm back.

You know, I explained the same thing many times, it's there in the code, a lengthy one, it's there briefly in classes.xml, it's in other issues, it's in this issue. How many times do I have to explain the same thin