[2020-06-04 16:20] madmiraal commented on #24292
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-04 16:20] #24292 closed

[2020-06-04 16:21] madmiraal commented on #24434
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-04 16:21] #24434 closed

[2020-06-04 16:29] madmiraal commented on #25564
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-04 16:29] #25564 closed

[2020-06-04 16:32] gnefnap opened #39292 "[iOS]Can't record and play audio"
**Godot version:**
3.2.1.stable.official (Steam)

**OS/device including version:**
iPhone 6, iOS 12.4.6

**Issue description:**

I'm making a project that can both record and play sounds.

What happened is, it won't play sound with Audio Input ON which can be set in Project Settings.
If I turn Audio Input OFF, it can play sound but unable to record, and iOS didn't ask for mic usage permission.

**

[2020-06-04 16:33] madmiraal commented on #25695
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-04 17:00] madmiraal commented on #27945
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-04 17:00] #27945 closed

[2020-06-04 17:03] madmiraal commented on #30061
#38646 is a duplicate of this, but since there is more of a discussion there, I suggest closing this one.

[2020-06-04 17:03] #30061 closed

[2020-06-04 17:04] #30664 closed

[2020-06-04 17:10] madmiraal commented on #31043
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-04 17:10] #31043 closed

[2020-06-04 17:26] git2013vb commented on #38893
I opened this tread for something I believe is a bug. I gave a minimal reproduction project + other explanations about the issue and that's it. Who ever talked about Q&A?
Anyway this is a closed tread. Pointless to argue here about ,I guess, English language.
Thank you.

[2020-06-04 18:26] Zylann opened #39294 "Node self-reference leaks on quit if it is typed"
Godot 3.1
Godot 3.2.2 beta3

If you do this in a script, Godot will leak on quit:
[code]
[code]

It won't leak if the variable is not typed.

I suspect that happens because the type system tried to reference the script itself, which creates an embarrassing cyclic reference.

[2020-06-04 18:53] danilw commented on #39273
to do that you need to make your own font as texture and print its text from a shader in your "text mesh" if you need dynamic text

example shader that prints text from texture https://www.shadertoy.com/view/tsdGzN

if you do not need dynamic text, then you need to prerender all "cards with text on it" or text as textures and use it on your mesh as textures

using viewport to do this job is very m

[2020-06-04 19:04] lukostello opened #39296 "GDScript debugger steps through operations in the wrong order"
**Godot version:**

3.2.1 stable official

**Issue description:**

The debug steps through the operations in a completely nonsensical order, I expected it to step through as written.

**Steps to reproduce:**
put a breakpoint on line 9 of test.gd and step into until you lose your mind

**Minimal reproduction project:**

[DebugWrongOrder.zip](https://github.com/godotengine/godot/files/4732212/DebugW

[2020-06-04 19:20] KoBeWi commented on #38665
Sooo I just noticed the same issue in Filesystem Dock. It makes it impossible to move files.

[2020-06-04 19:32] Faless commented on #12587
Yeah, I think we should, I thought there was room for improvements in `4.0` since deferred input reporting would fix the first-paste issue, but that causes a whole set of new problems (most `OS` actions are only allowed during DOM input callbacks).

Closing.

[2020-06-04 19:32] #12587 closed

[2020-06-04 19:33] ASavchenkov commented on #39272
Thanks for the quick reply!
The reason I thought this might not be a doc issue is because this behavior only occurs when the WebRTCPeerConnection has been added to a WebRTCMultiplayer object.

If I manually poll the connection as such:
'
    using Godot;
    using System;

    public class WebRTCTest : Spatial
    {

        // public WebRTCMultiplayer RTCMP = new WebRTCMultiplayer();
        priv

[2020-06-04 19:49] Ev1lbl0w commented on #39296
Here's a GIF of what's happening, I agree that it's kinda odd :stuck_out_tongue:
![godotgif](https://user-images.githubusercontent.com/6501975/83803580-c220d380-a6a4-11ea-9e69-3ebacbc64db5.gif)

This is probably just a "visual" bug, right?

[2020-06-04 19:57] goatchurchprime opened #39299 "Less than comparisons between arrays and sorting arrays of arrays is unpredictable"
**Godot version:**
3.2.1.stable

**OS/device including version:**
Windows10

**Issue description:**
I just tried to sort an array of pairs of numbers `[[2.061036, 1], [2.599602, 100], [-0.833468, 1]]` and the answer wasn't right.

It appears that Array objects are not compared by the value of their contents, even when they are arrays of one element, as shown in the example below.  It is not obviou

[2020-06-04 19:59] Faless commented on #39272
You are right, I was confused since firefox generates an empty candidate with the following code:
[code]

[2020-06-04 20:11] Zylann opened #39300 "A tilemap created in 3.0 will break if you use `Fix Invalid Tiles`"
Godot 3.2.1

I created a lot of levels with tilemaps in Godot 3.0.6, and later migrated the project to 3.1, then 3.2. Levels still worked fine, until I notice a few occurrences of "invalid cell" errors in some levels.
So I tried using `Fix Invalid Tiles` on these levels, but it completely messed it up with a checkerboard pattern:

![image](https://user-images.githubusercontent.com/1311555/83805329

[2020-06-04 21:23] KoBeWi opened #39303 "Load errors dialog uses wrong font"
**Godot version:**

c0ff2a3

**Issue description:**

The "Load Errors" dialog doesn't support unicode letters (probably related to #37332)

![image](https://user-images.githubusercontent.com/2223172/83811455-24380380-a6ba-11ea-8a4d-94e8e1a8a966.png)
(the message should say _Nie można przenieść/zmienić nazwy źródłowego zasobu._)

[2020-06-04 21:46] Barugon commented on #38896
Thanks. I should've seen this. Closing the issue.

[2020-06-04 22:12] mbrlabs commented on #39017
@KoBeWi yeah, calling `minimum_size_changed()` after `_update_dialog()` fixes it.

[2020-06-04 22:51] bruvzg commented on #39303
#39235 duplicate

[2020-06-04 22:55] Faless commented on #39272
Or actually... The reason why you are not getting any candidate without the multiplayer API is that you need to create at least one data channel for the connection to work. I.e.:

In JS:
[code]

With Godot:
[code]

Now strangely, this works in HTML5 exports (both FF and Chrome), but does not seem to work for me with the desktop platform. I suspect the problem might actually be in the webrtc native

[2020-06-04 23:02] ASavchenkov commented on #39272
Copy that. To confirm:

The current behavior is correct.

As long as at least one channel exists, setting the local descriptor should trigger ICE candidate generation, so once this is reflected in the documentation everything should be dandy.

If that's all correct then all I can say is thank you!

[2020-06-04 23:30] KoBeWi commented on #39303
Ok

[2020-06-04 23:30] #39303 closed

[2020-06-04 23:58] #36573 closed

[2020-06-05 00:00] KoBeWi opened #39308 "Duplicating a file hangs Filesystem Dock"
**Godot version:**

c0ff2a3

**Steps to reproduce:**
1. Right-click a file in file panel
2. Duplicate it
3. This, forever
![image](https://user-images.githubusercontent.com/2223172/83821975-22793a80-a6d0-11ea-9d8b-fc4067907c27.png)

Stays like this until you re-focus editor.

[2020-06-05 00:39] amonroejj commented on #39273
Needs to be dynamic, yes. A stock "Text3D" object would be a welcome addition.

The defect is still valid though because the reproduction project does not use text.

[2020-06-05 00:41] MelimeliDev opened #39309 "After exporting, creature plugin for godot can't read .json data without copying files from res:// to user://"
Godot version: `3.2.1-stable` and `3.2.2-beta`

OS/device including version: Windows

Issue description:
Everything works fine on editor, but after exporting it seems that the `.json` and `.mdata` can't be read. (Tested on windows `.exe` and web `.html` exports)

The only way to read them is to copy dir from `res://` to `user://` and then reference the files in `user://` instead.

More detailed ex

[2020-06-05 00:53] Touitoui commented on #33564
I have the same error. I don't have any plugin and i don't use HTTPRequest but i do have GLTF files imported from blender. (Created from scratch and exported by me with the latest version of blender).

It always happen in the script editor when i have an "error" in my code (ex: when writting an "if" before putting the ":" at the end).

It freeze the whole program for a few minutes... But if godot

[2020-06-05 03:12] SaviHex commented on #29169
Websites usually show a dialogue telling they are about to leave that website, perhaps this should be done here as well...? If that's too much maybe we could just indicate it next to the title like this:

[**Importing 3d Objects** (from KidsCanCode)](http://kidscancode.org/godot_recipes/g101/3d/101_3d_02/)

I've also found out that there's an ["external link icon"](https://ux.stackexchange.com/a/2

[2020-06-05 03:24] devendra618 opened #39310 "godot freezing even some time godot freez my fulll laptop"
ubuntu 18.04.4
ram 8 gb
![Screenshot from 2020-06-05 08-54-26](https://user-images.githubusercontent.com/45286465/83833712-32157500-a70a-11ea-9620-ad1156f1da9f.png)

[2020-06-05 04:46] ThakeeNathees commented on #39294
related to:
https://github.com/godotengine/godot/issues/38768
https://github.com/godotengine/godot/pull/36851#issuecomment-621184844

[2020-06-05 04:59] triptych commented on #26899
This is still happening
` undefined is not an object (evaluating 'GLctx.getParameter') `
Basic godot game https://musing-brattain-f39868.netlify.app/
Desktop Safari --> Version 13.1.1 (14609.2.9.1.3)
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro14,3
  Processor Name:	Intel Core i7
  Processor Speed:	3.1 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB

[2020-06-05 05:12] evan-boissonnot commented on #27083
Hi, about this error, when I use VS Code, it detects UTF-8.
VS 2019 not.
So I use VS Code to detect theses problems :)

[2020-06-05 05:22] WilliamTambellini opened #39311 "Compilation failure with gcc 7"
**Godot version:**
todays master: ed9a0d0484411e631b0cc927e46dc234054d5ae5

**OS/device including version:**
Centos7

**Issue description:**
compilation error:
[Initial build] Compiling ==> thirdparty/wslay/wslay_net.c
gcc: error: unrecognized command line option '-Wshadow-local'
scons: *** [thirdparty/wslay/wslay_net.x11.tools.64.o] Error 1
scons: building terminated because of errors.

expected:

[2020-06-05 05:26] WilliamTambellini commented on #39311
https://www.gnu.org/software/gcc/gcc-7/changes.html

[2020-06-05 06:38] #39311 closed

[2020-06-05 06:45] Jeremi360 opened #39313 "Godot try to load addon before it import it all resources."
**Godot version:**
3.2.1

**OS/device including version:**
Ubuntu 20.04, Windows 10

**Issue description:**
So I making addon with a lot of resources called Rakugo.
And I publish template project that use it.
When people try to open it for first time it crashes Godot with bug simmilar this:
[code]
But when they try to open it once again every thing works fine.

**Steps to reproduce:**
1. Download

[2020-06-05 06:49] jebedaia360 commented on #19178
I found this when I just start to work on [GodotPackageManager](https://github.com/rakugoteam/gpm) addon :/

[2020-06-05 07:13] Calinou commented on #38896
We should still add the missing documentation, so reopening it as a reminder.

[2020-06-05 07:39] Calinou commented on #39309
Did you specify `*.json` in the non-resource export filters in the Export dialog?

[2020-06-05 07:42] Calinou commented on #28424
@davincif Can you still reproduce this in Godot 3.2.1 or 3.2.2beta3?

[2020-06-05 07:43] Calinou commented on #28732
Closing due to lack of response.

[2020-06-05 07:43] #28732 closed

[2020-06-05 07:44] Calinou commented on #39309
@MelimeliDev Please [fill in the issue template](https://github.com/godotengine/godot/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) when reporting bugs instead of replacing it.

Also, it would be appreciated if you could make a minimal reproduction project. Did you add `*.json, *.mdata` to the non-resource export filter? If so, maybe this is a bug in Godot (but I'm still not sure, as many peop

[2020-06-05 07:46] Calinou commented on #39273
PS: [To improve performance, consider using MeshInstance with a PlaneMesh or a QuadMesh instead of Sprite3D.](https://github.com/godotengine/godot/issues/20855)

[2020-06-05 07:52] Calinou commented on #39310
Duplicate of #18871. Unfortunately, we still don't have a "definite" hardware setup or reproduction steps for this bug.

[2020-06-05 07:52] #39310 closed

[2020-06-05 08:00] MelimeliDev commented on #39309
Yes, that part is working fine because the .json files has been successfully copied from res:// to user://, they just can't be read/referenced from res://

Godot version has been added, and I don't have problems with reading .json files outside of this plugin. However, it seems that it's also a godot issue because the plugin works fine if files are read from user://

[2020-06-05 08:14] devendra618 commented on #39310
what can I do to fix that bug

On Fri, Jun 5, 2020 at 1:22 PM Hugo Locurcio <notifications@github.com>
wrote:

[2020-06-05 08:19] Calinou commented on #39310
@devendra618 Which graphics card model do you have? Try upgrading to a more recent Linux distribution. It might fix bugs in graphics drivers.

[2020-06-05 09:04] #39288 closed

[2020-06-05 09:04] #27921 closed

[2020-06-05 09:09] MelimeliDev commented on #39309
The godot that needs to be used is different (compiled with the plugin module) so I'm not sure how helpful it'd be, but any of the demo from the plugin github would do:

https://github.com/kestrelm/Creature_Godot/tree/master/creaturegodot3/Godot3Demo

[2020-06-05 09:21] Zireael07 commented on #39310
@Calinou: Again, an Ubuntu user affected. I'm definitely seeing a trend, and thinking it's less hardware and more software...

[2020-06-05 09:21] bruvzg commented on #39309
Since it's C++ plugin it's probably using system file access API to read "*.json" (and `globalize_path()` to get full path).

If it is, it won't be able to do so, exported files do not exist in the host file system, but stored in the PCK archive.

Unless plugin is using GDNative FileAccess API to access files there's no straightforward way to mitigate this, in any other way than extracting file.

[2020-06-05 09:22] akien-mga commented on #39311
Which gcc 7 version are you using exactly?

[2020-06-05 09:32] bruvzg commented on #39309
And looks like it is the case, plugin is using `std::ifstream`: https://github.com/kestrelm/Creature_Godot/blob/master/creaturegodot/CreatureModule.cpp#L657-L661

To read files from the PCK it should use something like (it's probably is not the only place in the plugin that should be changed):

[code]

instead of:

[code]

[2020-06-05 09:39] #39272 closed

[2020-06-05 09:39] Calinou commented on #39310
@Zireael07 Many people have reported the same issue on Windows, so I'm not so sure about that.

[2020-06-05 09:39] #39063 closed

[2020-06-05 09:47] MelimeliDev commented on #39309
Thank you! I'll see if the plugin owner can fix this bug.

[2020-06-05 09:57] bruvzg commented on #39309
Related issue: #36781 and PR #37252.

[2020-06-05 10:06] tommywalkie commented on #11984
Adding this [Defold forum post link](https://forum.defold.com/t/macos-app-store-signing-notarization/63512/8) for reference, which provides a screenshot some insights from a Steam admin about this subject [in a Steamworks Steam group post](https://steamcommunity.com/groups/steamworks/discussions/0/1629665809935285504/), but the group apparently exceeded member limit so I can't check it by myself.

[2020-06-05 10:24] bruvzg commented on #11984
Apples Gatekeeper is not checking signature of the user mode apps without `com.apple.quarantine` extended file attribute, most browsers and archive extractors are setting it for all downloads, Steam do not. Also, you can unset it using `xattr -r -d com.apple.quarantine AppName.app` command.

[2020-06-05 10:28] devendra618 commented on #39310
![Screenshot from 2020-06-05 15-57-01](https://user-images.githubusercontent.com/45286465/83866322-49258880-a745-11ea-8fda-80f7c798b6c0.png)
i have two graphics card

[2020-06-05 10:30] PeterJSFChaplin commented on #37360
I don't know if this will clarify or confuse things more, but in the hope of helping:

In 3x3 minimal, a corner bit is only satisfied if all three adjacent cells connected to that corner are set, but the edge buts only check the one adjacent cell.

So in your first example, no. 4 has the conditions:

1. Cell to the left must be set
2. Cell below must be set
3. At least one of the cells left, below

[2020-06-05 10:46] MaaaxiKing opened #39317 "Converting a function into a string calls the function"
**Godot version:**
3.2.1.stable

**OS/device including version:**
Windows 10 Home 1909
Intel(R) UHD Graphics 620
GLES3
**Issue description:**
A function was called. I expected that a function was converted to a string.
**Steps to reproduce:**
Create a scene with root node Node which has a script attached. In the script write:
[code]
Start the scene.
**Minimal reproduction project:**

[str(function

[2020-06-05 10:47] pycbouh commented on #39317
No, this calls it:
[code]

[2020-06-05 10:50] MaaaxiKing commented on #39317
Yes, but this shouldn't be called since it is an argument of another function (str() which should convert anything to a string)

[2020-06-05 10:53] pycbouh commented on #39317
That's not how programming languages work. A function is referred to by its name -> `my_function`. Adding parenthesis at the end makes it a function call. Function calls can totally be put inside another function call to make the result of the first function be an argument for the second function.

Besides, are you sure that GDScript can "convert function to string", as you expect it to behave? If

[2020-06-05 10:53] akien-mga commented on #39317
`my_function()` will always be called. The result of the `my_function()` call will then be converted to a string via `str()`. It works as designed.

[2020-06-05 10:55] MaaaxiKing commented on #39317
I thought it would print: my_function()

[2020-06-05 10:58] hilfazer commented on #39215
Weird message. 2 operands for an unary operator?

Otherwise there's no bug - your variable was typed dynamically so it was possible to assign anything to it. Export hint only limits what can be set via Inspector.

[2020-06-05 11:06] akien-mga commented on #39317
Functions are not first-class (yet) in GDScript, they will be in Godot 4.0.
In other languages where you might have seen this, it would be done with `str(my_function)` (without the parentheses which call the function).

[2020-06-05 11:06] #39317 closed

[2020-06-05 11:13] MaaaxiKing commented on #39317
What do you mean with first-class?

[2020-06-05 11:16] pycbouh commented on #39317
@MaaaxiKing Here it means that you cannot refer to a function as a type of an object in your code, using exclusively its name. So you can't use `my_function` as an argument in another function to the desired effect.

If you have further questions about coding in GDScript or Godot in general, please ask people around our [community channels](https://godotengine.org/community). This issue tracker is

[2020-06-05 11:33] SoapSpangledGames commented on #30827
I am having this problem (and other audio problems which don't belong with this issue) on 3.2 stable with AudioStreamPlayer on Linux. It doesn't matter if the audio is wav or ogg. The audio is flawless if played with automatic looping, but has painfully obvious clicks/static when played by changing streams. (AudioStreamPlayer.stream=x).

[2020-06-05 11:41] Thenend commented on #15243
Then state this behaviour clearly in the documentation please. The current text, clearly says that the body would be ignored if it's not in the layer checked in the mask.

[2020-06-05 11:50] Calinou commented on #30827
@SoapSpangledGames As a workaround, try creating a new AudioStreamPlayer after freeing the previous one.

[2020-06-05 11:57] TomWor commented on #39215
Shouldn't the editor play action closely match the behaviour of the exported binary?

[2020-06-05 11:57] nightrobin opened #39318 "Multiple Meshes is not allowed on NavigationRegion3D bake_navigation_mesh()"
**Godot version:**
4.0.dev
Commit: f05b4fea33e84ea3322702d774d69926a41ba913 [f05b4fe]

**OS/device including version:**
Windows 10 x64 Bit

**Issue description:**
Thru GDScript:
Multiple Meshes is not allowed on NavigationRegion3D bake_navigation_mesh() because NavigationMesh.create_from_mesh() only allows one mesh.

**Steps to reproduce:**
Thru GDScript:
1. Create a scene with the following nodes

[2020-06-05 11:59] Calinou commented on #39215
In theory, yes. In practice, subtle bugs like these can appear as the exported binary doesn't have RTTI (run-time type information) to decrease its binary size.

[2020-06-05 12:00] Calinou commented on #39292
Duplicate of #33885.

[2020-06-05 12:00] #39292 closed

[2020-06-05 12:09] Calinou commented on #17885
This was most likely resolved in #34776, closing. See https://github.com/godotengine/godot/issues/17885#issuecomment-596490309 if you need a solution for 3.2.

[2020-06-05 12:09] #17885 closed

[2020-06-05 12:09] Calinou commented on #30006
This was most likely resolved by #34776, closing. See https://github.com/godotengine/godot/issues/17885#issuecomment-596490309 if you need a solution in Godot 3.2.

[2020-06-05 12:09] #30006 closed

[2020-06-05 12:10] SoapSpangledGames commented on #30827
The problem persists when I change my code to create a new AudioStreamPlayer after freeing the previous one.

Initially, I created the AudioStreamPlayer as part of the scene design, and just changed the stream as each sound finished playing.

After your suggestion, I removed it from the scene design in the IDE, and created it in code, queue_free()'ing it and recreating it in my finished() event ha

[2020-06-05 12:11] davincif commented on #28424
@Calinou I'll try it out again as soon as I can.

[2020-06-05 12:13] Calinou commented on #39318
cc @AndreaCatania

[2020-06-05 12:15] Calinou commented on #21786
This was most likely resolved by #34776, closing. See https://github.com/godotengine/godot/issues/17885#issuecomment-596490309 if you need a solution in Godot 3.2.

[2020-06-05 12:15] #21786 closed

[2020-06-05 12:17] KoBeWi commented on #16863
How about removing `sort_custom` and making `sort` take an optional Callable?

[2020-06-05 12:20] Calinou commented on #30827
How long is the sound? This is likely a different problem then (#22016).

[2020-06-05 12:32] eon-s commented on #19178
@jebedaia360 your addon can be a base to continue this discussion and for whatever decision is made about this stalled proposal (which may be closed soon).

[2020-06-05 12:47] Kinwailo opened #39320 "Built In button in dialog cannot change translation"
**Godot version:**
Godot 3.2.1.stable.official

**OS/device including version:**
Win7

**Issue description:**
Built In button in dialog cannot change translation. (eg. OK and Cancel in ConfirmationDialog).

**Steps to reproduce:**
Add ConfirmationDialog
Add translation file
call TranslationServer.set_locale() in ready

**Minimal reproduction project:**
[Dialog Translation.zip](https://github.com/g

[2020-06-05 12:55] akien-mga commented on #39320
Yeah that's because the title and button texts for dialogs are defined in the constructor, so they are called when the Node is instantiated.

In your example, since you call `TranslationServer.set_locale("es")` from the script after the node has been created, it already has the English texts by default.

It works for Label as it intercepts `NOTIFICATION_TRANSLATION_CHANGED` to reset the text to ma

[2020-06-05 12:56] akien-mga commented on #39320
Note that if you set the locale before starting the game (e.g. with the `locale/test` project setting, or by actually running the game on a system with Spanish locale), it will work fine.

Similarly, if you create the dialogs from script after having changed the locale, it should work fine.

[2020-06-05 12:56] akien-mga commented on #39017
Fixed by #39319.

[2020-06-05 12:56] #39017 closed

[2020-06-05 13:14] nightrobin opened #39321 "NavigationRegion3D.bake_navigation_mesh() crashes application when Parsed Geometry Type, Source Geometry Mode, Source Group Name were set"
**Godot version:**
4.0.dev
Commit: f05b4fea33e84ea3322702d774d69926a41ba913 [f05b4fe]

**OS/device including version:**
Windows 10 x64 Bit

**Issue description:**
Thru GDScript:
 NavigationRegion3D.bake_navigation_mesh() crashes application when this following were set for the NavigationMesh:
- set_parsed_geometry_type(0)
- set_source_geometry_mode(1)
- set_source_group_name("navmesh")

**Steps to

[2020-06-05 13:26] Calinou commented on #39321
cc @AndreaCatania

[2020-06-05 13:29] Calinou commented on #5066
Closing in favor of https://github.com/godotengine/godot-proposals/issues/1014, as feature proposals are now tracked on the Godot proposals repository.

[2020-06-05 13:29] #5066 closed

[2020-06-05 13:40] user9747 commented on #23041
I have the same issue now. I am on linux.

[2020-06-05 14:10] MaaaxiKing opened #39323 "Multiline comments are unsafe lines"
**Godot version:**
3.2.1.stable
**OS/device including version:**
Windows 10 Home 1909
Intel(R) UHD Graphics 620
GLES3
**Issue description:**
My multiline comment was marked as an unsafe line. Since comments can't be unsafe this is a bug.
For the ones who don't know what (un)safe lines are: https://docs.godotengine.org/en/stable/getting_started/scripting/gdscript/static_typing.html#safe-lines
**Ste

[2020-06-05 14:18] Calinou commented on #39323
Duplicate of #34127. Also, note that GDScript doesn't feature actual multiline comments, only multiline strings. Therefore, multiline comments in GDScript are actually multiline strings that are standalone expressions.

[2020-06-05 14:18] #39323 closed

[2020-06-05 14:25] Calinou commented on #34127
Duplicate of #23667.

[2020-06-05 14:25] #34127 closed

[2020-06-05 15:28] RabdPnguin commented on #27576
That's how C# does it too. It's called a discard. And since Godot supports C# may as well use a similar construct.

The only thing I don't like about it is underscore `_` is its valid variable name, so it could be confusing to the reader whether it's a variable or a discard.

With the above in mind (and the way C# does it) is you wouldn't have the keyword var.
`_ = connect()`

`var` would indicate

[2020-06-05 16:45] Arech opened #39324 "Issues in GDScript parser with assert() function and its arguments"
**Godot version:** latest stable 3.2.1

**OS/device including version:** W7 x64, but it shouldn't matter probably

**Issue description:** put the following code in `cbasen.gd`

[code]

Try the following code for derived class

[code]

I walked in gdscript parser under debugger while parsing code of the derived class. The parser indeed does know nothing about myfunc(), though it successfully parses

[2020-06-05 17:16] ViktorEvil opened #39325 "iPhone 11 and XR render at the incorrect resolution"
**Godot version:**
3.2.1

**OS/device including version:**
iOS 13.5 GLES3

**Issue description:**
iOS export template does not include the launch images that correspond to the iPhone XR and 11.
This makes the phone render at the resolution of 750 x 1334 (iPhone 6 size) instead of 828 x 1792

![Screenshot 2020-06-05 at 17 27 36](https://user-images.githubusercontent.com/4403212/83905339-682e1580-a7

[2020-06-05 17:49] Reousa opened #39326 "Physics operations go unaccounted for in the Profiler"
Possibly related issues: #37455, #23715

**Godot version:**
3.2.1

**OS/device including version:**
Windows 10

**Issue description:**
In our project, we've had two intersecting areas centered on the player that serve to detect certain far static bodies entering them, for LOD purposes.
Upon increasing the values of these areas, performance started to exponentially decrease.

This is displayed in t

[2020-06-05 18:27] Reousa commented on #39326
A little unrelated but I didn't feel creating a new issue without confirmation is a good idea - is that kind of performance loss normal for this use-case?

Areas were being set to scales of 300 & 500 respectively, but also 100 & 200 caused a huge performance hit - in relation to the default 20 & 40 (so about 5x the range)

[2020-06-05 18:30] golddotasksquestions commented on #37360
@PeterJSFChaplin Thanks! After weeks for experimentation and trail and error I finally understood the issue here. The only reason why it did not work as expected in the OP was because I used x3 minimal not 3x3.

I really wish the Godot UI and documentation would do a better job at explaining what is going on here, what the differences are and how they are supposed to be used. [Including Tileset re

[2020-06-05 18:30] #37360 closed

[2020-06-05 19:35] WilliamTambellini commented on #39311
my bad : fresh master from today seems to build with gcc 7.4. tks.

[2020-06-05 19:41] SoapSpangledGames commented on #30827
The sounds are 0.1 seconds to 0.7 seconds (the 0.7 second sound is silence), played in rapid succession.

[2020-06-05 19:50] TomWor commented on #16181
I can reproduce it on MacOS + Godot stable 3.2 with Maya Mouse scheme when trying to navigate with the touchpad.
Here is the full report after the crash:

[code]

[2020-06-05 20:15] chepulis commented on #38550
Tested on the 3.2.2 Beta 4. Unsurprisingly, still present.
Possibly is also worth noting, that in my game build i observe this bug on Android as well.

Now, here's a detailed explanation for the people who don't want to watch the video.

There are five CanvasLayers, named in order, but with various CanvasLayer.layer values. Each has a set of the same five pickable Area2D instanced scenes, again na

[2020-06-05 20:19] nonunknown opened #39327 "glTF2 import can't import non-alphanumeric bone names"
**Godot version:**
3.2.2 beta 4 official

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
Recently I've been getting permission issues when importing only glb files. tried opening godot with sudo but with no success

**Update**
IGNORE -> Seems this only occurs with glb file format.
But FBX and GLTF are working OK! <-

this is very strange, I've deleted the .import file and wh

[2020-06-05 20:32] Calinou commented on #39326
Duplicate of https://github.com/godotengine/godot/issues/23715.

[2020-06-05 20:32] #39326 closed

[2020-06-05 20:37] Calinou commented on #39325
cc @bruvzg

[2020-06-05 20:39] Calinou commented on #39324
GDScript is being rewritten from the ground up: #39093

[2020-06-05 20:40] Calinou commented on #39327
Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot. (We really need one, otherwise, we can't do anything about this bug.)

[2020-06-05 20:48] nonunknown commented on #39327
well I can upload it, but I'm not sure if it will happen on another pc, I'm almost sure that this problem is with ubuntu 20.04 since I didnt saw this happening on 19.10

[2020-06-05 21:23] Sajyd commented on #39279
Unfortunately i'm using shaders unaivalable on GLES2, I might find a way around for now

[2020-06-05 21:44] WilliamTambellini commented on #5503
Tks @Calinou
Looks like DisplayServerX11::get_latin_keyboard_variant is just not aware of the 'fr' layout:
	$ setxkbmap -print | grep xkb_symbols
        xkb_symbols   { include "pc+fr+us:2+inet(evdev)"        };

Preparing a PR.

[2020-06-05 21:51] Calinou commented on #5503
@WilliamTambellini OK :slightly_smiling_face: Make sure to open the pull request against the `master` branch, we can backport it to the `3.2` branch afterwards.

[2020-06-05 22:00] eon-s commented on #27576
This issue is already solved in the documentation of the [warning system](https://docs.godotengine.org/en/stable/getting_started/scripting/gdscript/warning_system.html)
(the underscore thing is just mentioned somewhere else I think)

[2020-06-05 22:21] WilliamTambellini commented on #5503
sure: done:
https://github.com/godotengine/godot/pull/39330

[2020-06-05 23:22] lukostello commented on #39229
hmm I see. Why then does not use the translation track when I use insert key from the inspector of the fine object? It instead asks if I'd like to make a bezier curve. I understand why it needs to be quaternion in the animation but perhaps we could use the insert key button in the objects' inspector as a way of converting Euler to Quaternion. My solution for preventing this communication error is

[2020-06-05 23:25] ASavchenkov opened #39331 "WebSocketServer doesn't accept connections over ipv6"
**Godot version:**

3.2.1

**OS/device including version:**

Microsoft Windows 10 Home Version	10.0.18362 Build 18362

**Issue description:**

WebSocketServer and WebSocketClient fail to connect when attempting to use an ipv6 address, but connect correctly when using ipv4 addresses.

Documentation on how ipv6 interacts with Websockets in Godot is spotty, but based on PRs #26189 and #26688, I take

[2020-06-06 02:48] BrIt-neY opened #39332 "get_cell_autotile_coord gives the same information if the tile is at the position 0, 0 in the tileset or the cell doesn't have autotilling"
**Godot version:**
3.2.1.stable.official

**OS/device including version:**
Windows10

**Issue description:**
The GDscript function get_cell_autotile_coord() returns a zero vector when the cell doesn't have autotilling. See documentation: https://docs.godotengine.org/en/stable/classes/class_tilemap.html#class-tilemap-method-get-cell-autotile-coord
What the function returns is a vector2 containing t

[2020-06-06 03:10] NadimD commented on #24174
It also happens to me quite often and only restarting the project gets rid of it. In version 3.2.1.

[2020-06-06 04:02] Aroweeri commented on #39151
Like so?

[2020-06-06 07:14] FeralBytes commented on #39138
On Linux the infinite loop causes the editor to consume Ram out of control. This randomly happens when editing a theme.

[2020-06-06 07:42] nightrobin opened #39334 "Godot Editor NavigationRegion3D Bake Navmesh and NavigationRegion3D.bake function thru gdscript have different results"
**Godot version:**
4.0.dev
Commit: f05b4fe

**OS/device including version:**
Windows 10 x64 Bit

**Issue description:**
I created a scene with a floor and a box on top.
I use NavigationRegion3D.bake function to generate Navmesh, the whole floor is walkable, it does not take into account the box on top(the character can pass through the box, which should not).

I then tried to use the Godot Editor'

[2020-06-06 07:54] Arech commented on #39324
Yes, I know, it is being rewritten, I’ve read the news post on the site. And now I've skimmed through the code of new GDScript... And now I'm feeling much more worried than before, because… well, the old GDScript is at least somehow field tested by community (though, I’m puzzled that nobody ever reported the bug I’ve described in this issue). The new code is…totally new (that is not bad by itself)

[2020-06-06 08:07] paulmiller commented on #38770
yup

[2020-06-06 08:09] nightrobin commented on #39327
Can you try "sudo chmod 777 -R <path of your project>"

[2020-06-06 08:12] nightrobin commented on #39334
Here a sample Navmesh outputs I generated

**Via Godot Editor NavigationRegion3D Bake Navmesh**

[gd_resource type="NavigationMesh" format=2]

[resource]
vertices = PackedVector3Array( 0.1, 0.9, 4.3, 0.1, 0.9, 1.3, -1.1, 0.9, 1, -4.4, 0.9, 4.3, 1, 0.9, -1.1, 1.3, 0.9, 0.1, 4.3, 0.9, 0.1, 4.3, 0.9, -4.4, -4.4, 0.9, 4.3, -1.1, 0.9, 1, -1.1, 0.9, -0.8, -4.4, 0.9, -4.4, 1, 0.9, -1.1, 4.3, 0.9, -4.4, -

[2020-06-06 08:43] Flavelius opened #39335 "GI probe: Compress option adds green tint to scene"
**Godot version:**
3.2.1.stable.mono.official

**OS/device including version:**
Win10 pro 64bit, nivida GTX 1060, GLES3

**Issue description:**
Baking the GIProbe with compressed option checked adds a green tint to the scene that's not visible when compressed is unchecked.
![uncompressed](https://user-images.githubusercontent.com/8841352/83939981-5db75e80-a7e1-11ea-9ee1-80ee526e14c5.jpg)
![compres

[2020-06-06 09:02] lukostello commented on #19405
why not make a signf() signi() you did it with wrap and rand lets do it again.

[2020-06-06 09:41] mbrlabs commented on #39327
This is not a permission issue. The model failed to import because something went wrong while importing the bones. You get the "Cannot open file" error in the .import folder because the .scn file does not exist.
The same thing happens on Windows 10.

[2020-06-06 09:54] zmanuel commented on #26887
@avencherus A legitimate case where you would want _process to still be called on zero timesteps is if you want to implement your own framerate statistics, you'd miss render frames. A slightly more contrived example would be old-school fixed timesteps; some game may decide it works best if it engages v-sync and just assumes to get _process-calls 60 times per second. Sure, that means it gets slowdo

[2020-06-06 10:03] hmans commented on #17584
Just a quick update that this issue is still around in 3.2.2 Beta 4. (None of the changes made me expect any different, I just wanted to test it anyway.) MBP 13" 2018

[2020-06-06 10:30] oeleo1 commented on #39325
Yes, that's been nagging us as well. Thanks for reporting it. The storyboard file is the way to go.

[2020-06-06 10:47] ThakeeNathees commented on #39199
Here is a gif
![tooltipbug](https://user-images.githubusercontent.com/41085900/83942458-1e086b00-a811-11ea-8a5e-4474e983f018.gif)

[2020-06-06 10:56] owlnical commented on #24174
I have the same problem:

     scene/main/node.cpp:1430 - Parameter "p_node" is null.

I can trigger it by following the steps above. At one point I was able to trigger it continuously by simply holding control while in the script editor. I haven't been able to reproduce that yet though.

[2020-06-06 11:43] nonunknown commented on #39327
@mbrlabs well if this happens on windows, I think that the problem isnt related to OS tough

[2020-06-06 11:58] Calinou commented on #39324
See https://github.com/godotengine/gdscript-tests.

[2020-06-06 11:59] akien-mga commented on #39324
Can't rest right now but I think this assert evaluation but might be fixed in 3.2.2 beta 4.

[2020-06-06 12:09] Calinou commented on #29291
Closing in favor of https://github.com/godotengine/godot-proposals/issues/1018, as feature proposals are now tracked on the Godot proposals repository.

[2020-06-06 12:09] #29291 closed

[2020-06-06 12:14] Calinou commented on #39335
Duplicate of #18449 and #32427. We should remove the `compress` property entirely at some point.

[2020-06-06 12:14] #39335 closed

[2020-06-06 12:16] Calinou commented on #39334
cc @AndreaCatania

[2020-06-06 12:25] Calinou commented on #22723
@Fredlyb Can you still reproduce this in Godot 3.2.1 or 3.2.2beta4?

[2020-06-06 12:38] AlexeyGrishin commented on #13208
I have same problem. Win10 GeForce GTX 1650 MaxQ.
I've tried with both intergated graphics and nvidia one, it shows white window when run scene on second monitor.

[2020-06-06 13:07] AlexeyGrishin commented on #13208
My workaround is to run editor on second monitor and run scene on laptop's monitor. It is not so convenient, but at least I have editor and running scene on different monitors.

[2020-06-06 13:12] Arech commented on #39324
That is very good to hear, thank you!

[2020-06-06 14:11] #37298 closed

[2020-06-06 15:04] Zylann commented on #19405
@neikeq that would be a good point, because currently to support this we can only make it take and return `Variant`, like what happened with `lerp`. The problem with that, is that it clashes with static typing, so if you want to type vars you often have to cast manually the result again, which would probably not happen with function overloading?

[2020-06-06 15:19] Pawlost commented on #38368
We are moving forward with the project so I will post here the commit where the crash occured so we can merge dev to master. https://github.com/starandserpent/Voxel-demo/commit/ae8ddf0ba77cf7f21cfa180e5ae0d474ff5a7d2b

[2020-06-06 15:29] MaaaxiKing opened #39336 "Container won't update rect_size after Sprite child's region_rect increased."
**Godot version:**
3.2.1.stable
**OS/device including version:**
Windows 10 Home 1909
Intel(R) UHD Graphics 620
GLES3
**Issue description:**
A container which has a Sprite child doesn't update it's size after the Sprite's region rect increased.
**Steps to reproduce:**
Create a scene with root Node Container. Add a Sprite as a child to it. Import a texture with repeat enabled. Set this texture to t

[2020-06-06 15:55] MaaaxiKing commented on #38937
Maybe is_pressed for property and is_being_pressed as signal🤷

[2020-06-06 16:14] NebulousWeb opened #39339 "Cannot set input vector for an AnimationTree"
**Godot version:**

Godot 3.2.1

**OS/device including version:**

Windows 64 bit and Linux 64 bit; GLES3

**Issue description:**

Created an animationtree in the ActionRPG project for which see this youtube tutorial: https://www.youtube.com/watch?v=Z9aR9IiiHT8&list=PL9FzW-m48fn2SlrW0KoLT4n5egNdX-W9a&index=6

Despite the code working in the tutorial, the exact same code only had the character idli

[2020-06-06 16:51] sszigeti commented on #35384
Getting the same missing pixels when tried `draw_line` calls for my rectangles.

(Used a NinePatchRect instead as speed wasn't as issue for my case.)

[2020-06-06 17:50] madmiraal commented on #38319
Closing as duplicate of #31981.

[2020-06-06 17:50] #38319 closed

[2020-06-06 17:51] Kayomn commented on #33079
I'm experiencing a likely overlapping issue with Godot 3.2.1 Mono where `Resource::duplicate(bool)` on a custom resource written using a C# script is returning an empty `Resource`.

Here I am using a C# `Resource`-derived script called `WeaponItem`.
[code]

[2020-06-06 18:53] Rubonnek opened #39344 "TextureButton is not themeable"
**Godot version:**
9f4a14ba97394d1fc08d123c40699c03f56b6aad

**OS/device including version:**
Arch Linux

**Issue description:**
Add Class Items does not include TextureButton when editing themes.

**Steps to reproduce:**
1. Create a theme.
2. Click on Edit Theme
3. Then click on 'Add Class Items'
4. Attempt to find TextureButton -- it's not there

[2020-06-06 18:54] MaaaxiKing opened #39345 "Cannot sort Optionbutton's items by their text and Id alphabetically"
**Godot version:**
3.2.1.stable
**OS/device including version:**
Windows 10 Home 1909
**Issue description:**
I wanted to sort items of a OptionButton by their text but $OptionButton.items.sort() didn't do anything as far as I could find out. They are also not sorted by their Id.
**Steps to reproduce:**
Create a scene with root node OptionButton. Add Items to it and put some text in each in an alph

[2020-06-06 19:06] mathias17 commented on #4151
This thread has provided a good conversation regarding the Light2D node's performance and capabilities so far, but I wanted to add more one thing - Sprite Lamp style lighting effects.
I hope I'm not commandeering the thread.

---
[Sprite Lamp](http://www.snakehillgames.com/spritelamp/) is a tool that helps artists create texture maps for 2D graphics for the purpose of creating live dynamic lightin

[2020-06-06 19:24] davidkbd opened #39347 "Process Material (Shader) in Particles2D makes Sprites to dissapear"
**Godot version:**
3.2.1-stable

**OS/device including version:**
Issue found in:

Linux 5.0.0-32-generic #34~18.04.2-Ubuntu SMP Thu Oct 10 10:36:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
00:02.0 VGA compatible controller: Intel Corporation HD Graphics 620 (rev 02)

macOS Catalina 10.15.4
AMD Radeon Pro 5300M 4 GB

(Issue found too with nvidia card)

**Issue description:**

We found an issue usin

[2020-06-06 20:07] KoBeWi commented on #39011
I don't get the stack underflow error, but there are errors about nonexistent signal and instance gone, both invalid.

I wonder if it has something to do with yields inside for loops.

[2020-06-06 20:16] MaaaxiKing opened #39348 "Save all scenes Hotkey doesn't work while being in script tab"
**Godot version:**
3.2.1.stable
**OS/device including version:**
Windows 10 Home 1909
**Issue description:**
If you are in the script tab and press Control+Shift+Alt+S for saving all Scenes, just the scripts are being saved.
**Steps to reproduce:**
Create a scene. Go into the script tab. Press the hotkey for saving all scenes (Control+Shift+Alt+S).
**Minimal reproduction project:**

[2020-06-06 20:37] KoBeWi commented on #39344
It's not a bug, TextureButton doesn't have any theme properties.

[2020-06-06 20:37] #39344 closed

[2020-06-06 20:42] Mantissa-23 commented on #35637
Contributing my repro for this bug:

![image](https://user-images.githubusercontent.com/11467714/83954140-75f4a100-a814-11ea-8225-150a50bf8747.png)

The following simple Blender 2.83 scene structure fails to import into Godot via the `.glb` or `.gltf` formats. Imported in Godot 3.2.1.stable.official.

[2020-06-06 20:48] giulianob opened #39349 "Tree range cell isn't updating when using slider"
**Godot version:**

master 23a2b4ab7d5e61dfc1e5201b95ba447c647676f4

**OS/device including version:**

Windows Vulkan

**Issue description:**

Tree range cell doesn't update when scrubbing the range slider

**Steps to reproduce:**
Click to edit cell then move slider, value should update but it doesn't until you stop editing

**Minimal reproduction project:**

[TreeSample.zip](https://github.com/go

[2020-06-06 20:52] Calinou commented on #4151
@mathias17 Feature proposals should be made on the [Godot proposals](github.com/godotengine/godot-proposals) repository, not here.

[2020-06-06 20:56] giulianob commented on #39349
![cap2](https://user-images.githubusercontent.com/92303/83954380-af2e1080-a816-11ea-97f9-d086173a0ae9.gif)

[2020-06-06 21:18] KoBeWi commented on #39345
Might be related to #38511
`items` aren't probably intended to be modified manually.

[2020-06-06 21:18] #38759 closed

[2020-06-06 21:18] #39186 closed

[2020-06-06 21:25] HaSa1002 commented on #39144
Answering here for everybody else: (I already answered in #39248)

I would wait with it, until the new structure is finalized, and work on top of it. We might integrate some bugfixes into the refractoring, depending on how the final design will be. The point I see in favor of adding bugfixes in this state is, that sometimes those will lead to a different and perhaps better design.

[2020-06-06 21:59] aqt opened #39351 "Shortcuts don't work if Alt is pressed before Shift"
**Godot version:**
3.2.1.stable.official

**OS/device including version:**
Microsoft Windows [Version 10.0.17134.706]

**Issue description:**
A shortcut that uses both the <kbd>Shift</kbd> and <kbd>Alt</kbd> modifiers does not trigger its associated action if <kbd>Alt</kbd> is pressed before <kbd>Shift</kbd>.

**Steps to reproduce:**
Using the default shortcut mapping for _Quick open_, press <kbd>

[2020-06-06 22:02] aqt commented on #39351
Additionally I'm unable to create a new binding that both these modifiers if I press <kbd>Alt</kbd> before <kbd>Shift</kbd>. I believe that issue would be solved in the process of fixing this one, which is why I haven't created an issue for that.

[2020-06-06 22:16] aqt opened #39352 "Shortcut Shift + Alt + Up/Down in script editor has two different actions"
**Godot version:**
3.2.1.stable.official

**OS/device including version:**
Microsoft Windows [Version 10.0.17134.706]

**Issue description:**
The actions are based on which one of the modifier keys was pressed first:
<kbd>Shift</kbd> + <kbd>Alt</kbd> + <kbd>Up</kbd> &mdash; Moves the tab for the current file up in the list
<kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Up</kbd> &mdash; Moves the current

[2020-06-06 22:31] Lattay commented on #3703
Is there any reason for this to still happen ? I think it is a pretty unexpected behavior even after reading the documentation. There is no mention of exceptions in the white listing.
If there is a will to keep this behavior for some reason, shouldn't it be documented ?
If there is only a lack of man-force I can write a note myself in the documentation, unless this is actually seen as a bug.

[2020-06-06 22:46] Didifred commented on #10572
Others suggestions of API for easing from QT (bezierCurve type not needed since available in Curve)  :
easing.amplitude : real
easing.overshoot : real
easing.period : real
easing.type : enumeration

See https://doc.qt.io/qt-5/qml-qtquick-animator.html

[2020-06-06 23:13] KoBeWi opened #39354 "Reloading assets take very long when there's many of them"
**Godot version:**

3.2.2 beta4

**OS/device including version:**

Windows 10 x64

**Issue description:**

My project has a huge amount of assets (2k+ right now). I tend to rely on texture reloading to make tweaks on the fly. My problem is that the time between me saving changes to image and Godot starting to reimport it keeps increasing. Right now I try re-focusing editor for good -teen seconds b

[2020-06-06 23:13] Poobslag commented on #35172
Thankfully the workaround is simple: temporarily set `toggle_mode` to true while the player holds the button down.

[code]

I use this code where I want a button to have two shortcut keys; a player can close a pause menu with 'ui_cancel' (the B button) or with 'ui_menu' (the start button)

[2020-06-06 23:38] Calinou commented on #35368
I'll close this issue as no [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) was provided in time. This issue can be reopened if someone uploads a minimal reproduction project.

[2020-06-06 23:38] #35368 closed

[2020-06-07 00:47] cryptoquick commented on #11995
Just saw an opportunity to help with housekeeping; I noticed that https://github.com/godotengine/godot/commit/d711c57d767734887fbf0955a7b9902c54498a0d that @Calinou mentioned was merged. Just curious if this issue has been resolved through that change.

[2020-06-07 01:11] ondesic commented on #29873
This bug is still here in 3.2.1.  Can't unfold StyleBoxTexture inside a Theme

[2020-06-07 02:40] Rubonnek commented on #39344
Then I suppose the documentation is wrong since it claims themes can be applied to any Control nodes.

[2020-06-07 02:49] kthornsbury commented on #11984
This solved my problem with nothing else would. Thank you so much!

[2020-06-07 05:05] mgilski opened #39356 "[C#] EmitSignal implicitly converting System.Collections.Generic classes to Godot.Collections resulting in unpredictable behavior"
**Godot version:**
3.2.1.stable.mono
Mono version: 6.8.0.123

**OS/device including version:**
Ubuntu 16.04

**Issue description:**
This is one of the most obscure bugs I've ever encountered. When calling `EmitSignal`
and using a `System.Collections.Generic.List` object as an argument, Godot at some point converts it to `Godot.Collections.Array`, but still passes it to the callback function as `Sy

[2020-06-07 06:38] TheMoye commented on #19412
Hi everyone,

Same issue for me : when I switch the mouse capture mode on Windows from **Captured** to **Confined**, the cursor remains invisible. But seems to move correctly in the window (I have a raycast feedback in the console, which tells me when I hover over an object).
Under Linux no problem.

I use Godot in version 3.2.1 Stable and 3.2.2 Alpha.

[2020-06-07 08:12] Jummit opened #39357 "No way to get the transform of a mesh surface"
**Godot version:**

v3.2.1

**Issue description:**

It seems like each surface of a mesh has its own transform, but neither Mesh, ArrayMesh nor VisualServer have a way of retrieving it.

[2020-06-07 08:30] Jummit commented on #39357
Seems like surfaces don't have an offset.

[2020-06-07 08:30] #39357 closed

[2020-06-07 08:40] akien-mga commented on #27127
Fixed by #38995 in 3.2.2.
For 4.0, global uniforms can be used to that effect.

[2020-06-07 08:40] #27127 closed

[2020-06-07 09:14] ragtag opened #39358 "Seemingly valid ogg files fails to import"
**Godot version:**
Godot 3.2.1 stable

**OS/device including version:**
Ubuntu 20.04, intel i7 cpu, intel integrated GPU using GLES2

**Issue description:**
Some .ogg files fail to import into Godot. These file are generated using Google Clouds text-to-speech system, and play fine in VLC and Totem and can validate with oggz, but get the following error when imported into Godot.

[code]

Running "o

[2020-06-07 09:18] TheDuriel commented on #39336
Containers do not sort Node2D's. Use a TextureRect instead.

[2020-06-07 09:24] madmiraal commented on #17401
Closing this issues, since `get_viewport().find_world().direct_space_state` works.

[2020-06-07 09:24] #17401 closed

[2020-06-07 09:25] madmiraal commented on #17253
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:25] #17253 closed

[2020-06-07 09:26] madmiraal commented on #17146
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:26] #17146 closed

[2020-06-07 09:26] madmiraal commented on #16818
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:26] #16818 closed

[2020-06-07 09:28] madmiraal commented on #17893
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:28] #17893 closed

[2020-06-07 09:29] madmiraal commented on #17910
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:29] #17910 closed

[2020-06-07 09:30] madmiraal commented on #18649
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:30] #18649 closed

[2020-06-07 09:30] fossegutten commented on #20619
still valid in 3.2.2 betas. Nodes inside another viewport are not selectable. I just select the viewportcontainer when i try to select nodes inside a viewport.

[2020-06-07 09:31] madmiraal commented on #19550
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:31] #19550 closed

[2020-06-07 09:32] madmiraal commented on #12013
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:32] #12013 closed

[2020-06-07 09:33] madmiraal commented on #13186
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:33] #13186 closed

[2020-06-07 09:35] madmiraal commented on #14345
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:35] #14345 closed

[2020-06-07 09:37] madmiraal commented on #14884
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:37] #14884 closed

[2020-06-07 09:37] madmiraal commented on #15683
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:37] #15683 closed

[2020-06-07 09:38] madmiraal commented on #15806
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:38] #15806 closed

[2020-06-07 09:40] madmiraal commented on #15893
The main ([godotengine/godot](https://github.com/godotengine/godot)) tracker is now solely dedicated to bug reports and Pull Requests, enabling contributors to have a better focus on bug fixing work. Therefore, we are now closing all older issues that are not bugs on the main issue tracker.

If you are interested in developing this into a feature proposal, please [**open a new proposal on the GIP

[2020-06-07 09:40] #15893 closed

[2020-06-07 09:41] madmiraal commented on #16378
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:41] #16378 closed

[2020-06-07 09:41] madmiraal commented on #16426
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:41] #16426 closed

[2020-06-07 09:43] madmiraal commented on #25291
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 09:43] #25291 closed

[2020-06-07 09:50] MelimeliDev commented on #39309
It's solved! Thanks for the help!

[2020-06-07 09:50] #39309 closed

[2020-06-07 09:56] Calinou commented on #11995
@cryptoquick This issue is about *GridMap* (= 3D tilemaps), not TileMap. It's still not solved last time I checked.

[2020-06-07 10:14] mbrlabs commented on #39354
Filesystem notifications like [FindFirstChangeNotificationW ](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-findfirstchangenotificationw) for Windows or [inotify](https://www.man7.org/linux/man-pages/man7/inotify.7.html) for Linux would probably the way to go. I actually tought that Godot was already using those APIs but apparently not.

[2020-06-07 10:32] quanixstudio commented on #39358
If you try to load the buggy ogg in Audacity it will also give an error and won't open.
VLC probably just plays fine because it detects the raw contents of the file as an ogg file.

[2020-06-07 10:34] KoBeWi commented on #39344
Technically this is true, because you can apply theme to it, but it won't affect any property (although it might affect children controls). Same applies e.g. to Control and ColorRect.

Which part of the documentation says this btw?

[2020-06-07 10:38] dominiks commented on #39345
At the moment you have to add the items in the order you want them to be in. ``ItemList`` has a very similar API to the ``OptionButton`` but also a ``sort_items-By_text()`` function. I think if ``ItemList`` has such a function so should the ``OptionButton``.

Would it make sense to add other functions of the ``ItemList`` that are missing on the button? Their backends are probably quite different b

[2020-06-07 10:50] ragtag commented on #39358
Thanks for the quick reply. I guess you can just close this bug, as this really seems to be a bug with Google's text-to-speech engine generating invalid ogg files, and not a problem with Godot. :)

For reference, I used Python and the method described [here](https://cloud.google.com/text-to-speech/docs/create-audio#text-to-speech-ssml-python) to generate the files. It also supports mp3 and wav gen

[2020-06-07 11:01] hmans commented on #17584
Hey everyone, a quick update on this issue: I dug out an oooolllld Macbook Air from 2011 and started Godot on it, and lo and behold, it did not have the issue; the 2D editor -- with grid enabled -- was just as responsive as the 3D editor (even though overall performance wasn't _great_. I didn't use `--print-fps`, but would estimate things at around 45-ish. My own MBP drops down to 10 FPS in the 2D

[2020-06-07 11:03] MaaaxiKing commented on #39345
I think `get_item_icon()`, `get_item_id()`, `get_item_index()`, `get_item_metadata()`, `get_item_text()` should be removed and their should be `get_item()`. You could get the item by maybe doing `get_item(text="this_item_text_is_hello")` or `get_item(id=1)` etc. and on this that you should be able to call `icon`, `id`, `index`, `metadata`. On `.items` you should be able to call `count`, so `get_it

[2020-06-07 11:12] dominiks commented on #38511
I will write documentation for the ``items`` property and its usage as it is completely absent from the documentation.

But I agree that the content of ``items`` is weird and very cumbersome and it should be changed to a list of dictionaries or custom types.

[2020-06-07 11:13] MaaaxiKing opened #39360 "OptionButton's Items are saved before pressing OK"
**Godot version:**
3.2.1.stable
**OS/device including version:**
Windows 10 Home 1909
**Issue description:**
If you add change an item of an OptionButton, it is saved, changed before you pressed the OK button. If you then decide the item should not be changed/added, you would press the x button at the top right corner. I think there should be a Cancel Button next to the OK button. https://github.c

[2020-06-07 11:21] #39358 closed

[2020-06-07 11:57] MCrafterzz commented on #38745
@fire are you still working on this?

[2020-06-07 12:27] cryptoquick commented on #11995
Ah, I get it, makes sense. I'm still new to Godot, just looking into stuff and stumbled across this.

Does Godot have any sort of roadmap or prioritization board?

[2020-06-07 12:33] KoBeWi commented on #39360
Since you already made a proposal, I will close this issue.

[2020-06-07 12:33] #39360 closed

[2020-06-07 12:35] Calinou commented on #11995
There's the [Godot proposals](https://github.com/godotengine/godot-proposals) repository and the [roadmap repository](https://godotengine/godot-roadmap), but priorities aren't set in stone.

[2020-06-07 12:36] fire commented on #38745
We are prioritizing getting the list of pr items in FBX like blend shape support and locators.

Not working on this.

[2020-06-07 12:44] MCrafterzz commented on #38745
I could send a quick pr with the fix suggested in the original comment.

[2020-06-07 13:05] MaaaxiKing commented on #39351
If you press Ctrl+Alt+Shift+S in this order everything works. Please rename this to "Shortcuts don't work if Alt is pressed before Shift and Control isn't used"

[2020-06-07 13:06] alperc84 commented on #39309
Can you point the solution?

[2020-06-07 13:08] MaaaxiKing commented on #39352
The current line will be moved up/down even without using shift. So pressing Alt+Shift+Up/Down is the same as Alt+Up/Down.

[2020-06-07 13:43] #38745 closed

[2020-06-07 13:52] #31124 closed

[2020-06-07 14:20] Calinou commented on #4202
Closing, as there's nothing that can be done about it if the module isn't compiled in the editor binary. See also https://github.com/godotengine/godot-proposals/issues/993.

[2020-06-07 14:20] #4202 closed

[2020-06-07 14:21] Calinou commented on #7442
Can anyone still reproduce this in Godot 3.2.1 or 3.2.2beta4?

[2020-06-07 14:21] Calinou commented on #5426
@lukaskotik Can you still reproduce this bug in Godot 3.2.1 or 3.2.2beta4?

[2020-06-07 14:22] Calinou commented on #9501
@lexum0 Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:23] Calinou commented on #9783
@Zylann Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:23] Calinou commented on #10189
@Geequlim Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:24] Calinou commented on #10253
The texture artifacting issue is being tracked in https://github.com/godotengine/godot/issues/27837. The rest is likely not relevant anymore in Godot 3.2. Please create a new issue if you can still reproduce this.

[2020-06-07 14:24] #10253 closed

[2020-06-07 14:27] Calinou commented on #13256
@plucian Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:28] Calinou commented on #13047
@damarindra Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:28] Calinou commented on #13396
@gad-o Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:28] Calinou commented on #13975
@amirea Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

Note that I'm not sure whether this can actually be fixed. Maybe the NVIDIA Windows driver uses its own monitor ordering system.

[2020-06-07 14:29] Calinou commented on #14465
@AlmightyScientist Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:29] Arech opened #39366 "RigidBody2D woken up from sleeping state when parent's transform changed"
**Godot version:** latest stable 3.2.1.

**Issue description:** Changing transformation (for example, moving) parent node wakes up all it's children `RigidBody2D` nodes (via `SceneTree::flush_transform_notifications()`)

I think it's a bug, because I can't see any reason to start physics processing of a `RigidBody2D` when it's parent was moved. Imagine a most common use-case when you are using par

[2020-06-07 14:29] Calinou commented on #13114
@sezit Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:30] Calinou commented on #11467
Closing, as this appears to be more of a feature proposal than a bug (judging by the comments). If you still need this feature, please open a proposal on the [Godot proposals](https://github.com/godotengine/godot-proposals) repository.

[2020-06-07 14:30] #11467 closed

[2020-06-07 14:32] Calinou commented on #14522
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:33] Calinou commented on #14517
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:33] Calinou commented on #14689
@Waasha Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:36] AndreaCatania commented on #16426
@ArdaE Here the PR to introduce this feature: https://github.com/godotengine/godot/pull/28909

[2020-06-07 14:38] Calinou commented on #14851
I haven't seen this particular error message about lightmaps when closing the editor, so I'll close this. Please comment if you can still see *this* error message (not any others).

[2020-06-07 14:38] #14851 closed

[2020-06-07 14:39] Calinou commented on #14992
@skyburchard Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:39] Calinou commented on #12851
@nextdimension Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:39] Calinou commented on #11547
@alexzheng Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:40] Calinou commented on #11670
@mrcdk Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:40] Calinou commented on #11593
@Zylann Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:40] Calinou commented on #11355
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 14:56] alexzheng commented on #11547
no

[2020-06-07 15:14] Arech opened #39367 "Setting RigidBody2D.sleeping=true doesn't invoke sleeping_state_changed()"
**Godot version:** not so stable 3.2.1

**Issue description:** closely related to #39366.

Setting `RigidBody2D.sleeping` property to `true` (just haven't tried with `false`) doesn't invoke sleeping_state_changed() signal callback. The callback sometimes invoked though, when engine sets the node to a woken state.

**Minimal reproduction project:** use MRP of #39366.

Make sure `cbasen.gd` contains

[2020-06-07 15:21] Zylann opened #39368 "Changing the base class of a tool script after deleting a node holding it will throw errors"
Godot 3.2.2 beta4

Steps to reproduce:
1) Create a `tool` script extending `Node`
2) Create a `Node` in the scene, and place the script on it
3) Delete the node
4) Change the base class of the script to `Spatial`: this error gets logged:
[code]

I suspect it's a side-effect of the fact Godot implements undo/redo by *never actually deleting nodes*, instead it just removes it from the tree and puts

[2020-06-07 15:28] Zylann commented on #9783
It still happens.
Reproduction project:
[PluginInputAfterNodeDeleted.zip](https://github.com/godotengine/godot/files/4742339/PluginInputAfterNodeDeleted.zip)

[2020-06-07 15:33] Zylann commented on #14522
I think it's fixed now.

[2020-06-07 15:39] Zylann commented on #11593
No longer happens with that specific test, however my point that gizmos must be drawn with a technique making them usable *at all times* still stands:

![image](https://user-images.githubusercontent.com/1311555/83973311-6e4cff00-a8dd-11ea-8aee-2d8c9e953d19.png)

[2020-06-07 15:45] akien-mga commented on #11547
Closing as fixed then.

[2020-06-07 15:45] #11547 closed

[2020-06-07 15:47] #14522 closed

[2020-06-07 15:53] Zylann commented on #11593
I think https://github.com/godotengine/godot/issues/16154 explains it better

[2020-06-07 16:27] Calinou commented on #11593
Thanks for replying :slightly_smiling_face: I'll close this in favor of #16154 then.

[2020-06-07 16:27] #11593 closed

[2020-06-07 16:35] mbrlabs commented on #28788
I have a similar issue, that i think is connected to this one. If you drag a rotated scene into the viewport it's getting reset as well.

I'm looking into this!

[2020-06-07 16:38] mrimvo opened #39381 "TileSet.is_tile_bound() is not documented"
**Your Godot version:**
3.2.1 stable

**Issue description:**
TileSet.is_tile_bound() is not documented

**URL to the documentation page:**
https://docs.godotengine.org/en/3.2/classes/class_tileset.html#class-tileset-method-is-tile-bound

[2020-06-07 16:38] mathias17 commented on #4151
Was mainly poking everyone for some feedback on the idea, but if you think it merits a proposal I may do that. I'm not sure.

[2020-06-07 16:40] Calinou commented on #16224
This was most likely fixed in the new compute-based auto exposure implementation in the `master` branch, closing.

[2020-06-07 16:40] #16224 closed

[2020-06-07 16:41] Calinou commented on #13196
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:41] Calinou commented on #15035
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:41] Calinou commented on #15391
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:42] Calinou commented on #15506
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:42] Calinou commented on #14364
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:43] Calinou commented on #15658
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:43] Calinou commented on #15370
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:44] Calinou commented on #10500
Closing due to lack of response (see Akien's comment above).

[2020-06-07 16:44] #10500 closed

[2020-06-07 16:45] Calinou commented on #10867
Closing due to lack of response (see Akien's comment above). Please comment if you can still reproduce this issue.

[2020-06-07 16:45] #10867 closed

[2020-06-07 16:45] Calinou commented on #13154
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:48] Calinou commented on #13385
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:48] Calinou commented on #15692
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:50] Calinou commented on #15402
Related to #17574. Note that this will probably be fixed in 4.0 thanks to bindless textures in Vulkan. These make it possible to use the same texture in sRGB and non-sRGB without having to import it twice. (Godot's 2D renderer expects non-sRGB textures, whereas the 3D renderer expects sRGB texture.)

[2020-06-07 16:50] Calinou commented on #15785
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:51] Calinou commented on #15871
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

(Note that we could document this limitation in the meantime.)

[2020-06-07 16:51] Calinou commented on #15932
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:52] Calinou commented on #15975
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:52] Calinou commented on #16017
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:52] Calinou commented on #11608
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:53] Calinou commented on #16534
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:53] Calinou commented on #16500
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

cc @neikeq

[2020-06-07 16:54] Calinou commented on #16376
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:54] ThakeeNathees commented on #39324
this bug already fixed and cherrypicked : https://github.com/godotengine/godot/commit/bd081df51918a00f408845955d00dcbce2cea7a8

in 3.2.2 beta 3 it's working as expected

[2020-06-07 16:55] Calinou commented on #16712
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 16:57] Calinou commented on #13265
Closing in favor of https://github.com/godotengine/godot-proposals/issues/284, as feature proposals are now tracked on the Godot proposals repository.

[2020-06-07 16:57] #13265 closed

[2020-06-07 16:59] Calinou commented on #16764
@Zylann Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

If so, we should at least document this limitation.

[2020-06-07 17:00] Calinou commented on #17734
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:00] Calinou commented on #6582
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:01] Calinou commented on #17898
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:01] Calinou commented on #17922
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:02] Calinou commented on #17817
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:03] Calinou commented on #17859
Duplicate of #2043 and #15270.

[2020-06-07 17:03] #17859 closed

[2020-06-07 17:04] Calinou commented on #17860
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:05] Calinou commented on #17310
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

Note that [GDScript is being rewritten for Godot 4.0](https://github.com/godotengine/godot/issues/17860).

[2020-06-07 17:06] Calinou commented on #17030
We've had many contributors go over Godot's codebase to fix memory leaks, so I'll assume this one has been fixed since this issue was opened in Feburary 2018. Thanks for reporting this leak :slightly_smiling_face:

If you can find other leaks in the current Godot `master` branch, feel free to create new issues.

[2020-06-07 17:06] #17030 closed

[2020-06-07 17:08] Calinou commented on #16900
Closing in favor of #25313, which has a bit more information about the issue at hand.

[2020-06-07 17:08] #16900 closed

[2020-06-07 17:09] Calinou commented on #16572
@alexzheng Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:10] Calinou commented on #16004
Closing in favor of #16093, which includes this report.

[2020-06-07 17:10] #16004 closed

[2020-06-07 17:10] Calinou commented on #16093
@jonglae Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:10] Calinou commented on #16798
@EIREXE Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:10] Calinou commented on #16658
@jesperkondrup Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:11] Calinou commented on #15901
@jebedaia360 Can you still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:11] Calinou commented on #15322
@blurymind Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:11] Calinou commented on #13963
@noidexe Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:12] Calinou commented on #6412
@pixelriot Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:13] Calinou commented on #6455
Closing in favor of #20409, which has more information about the issue at hand.

[2020-06-07 17:13] #6455 closed

[2020-06-07 17:13] Calinou commented on #18017
@megasoft78 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:13] Calinou commented on #7243
@timoschwarzer Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:15] Calinou commented on #8324
Closing due to lack of response (see @kubecz3k's comment above).

[2020-06-07 17:15] #8324 closed

[2020-06-07 17:20] Calinou commented on #11630
Closing due to lack of response (see @mhilbrunner's comment above). Please comment if you can still reproduce this bug with Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4).

[2020-06-07 17:20] #11630 closed

[2020-06-07 17:21] Calinou commented on #15123
@capnm Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:21] Gastronok commented on #3703
I'd still strongly argue that it's a bug which should be corrected -- it prevents a whole lot of reasonable behavior, requiring one to either create their own pause implementation (because the existing one doesn't allow for exceptions with these types of nodes) or create a bunch of redundant Control objects just so some parts of the game can function while the rest is paused.

[2020-06-07 17:22] Calinou commented on #18712
I can confirm this in 3.2.2beta4:

![image](https://user-images.githubusercontent.com/180032/83975428-3ac99f00-a8f4-11ea-97c8-5adbdffecb71.png)

What kind of limit should we set?

[2020-06-07 17:23] Calinou commented on #18599
Support for multiple bounces has been implemented in the new GIProbe in the `master` branch, closing.

[2020-06-07 17:23] #18599 closed

[2020-06-07 17:24] Calinou commented on #18301
@serapth Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:25] Zylann commented on #16764
I think it works now, however resizing to a larger size produces artifacts (which is a problem I hit in my terrain plugin too), regardless of the format being RGBAH or RGB8:

Original:
![image](https://user-images.githubusercontent.com/1311555/83975422-d3a7ec80-a8eb-11ea-976a-1ccc55e3e668.png)
Expected upscaled x4:
![image](https://user-images.githubusercontent.com/1311555/83975467-1073e380-a8ec-1

[2020-06-07 17:25] Calinou commented on #18826
@nobuyukinyuu Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:28] Calinou commented on #16107
Closing in favor of https://github.com/godotengine/godot-proposals/issues/297, as feature proposals are now tracked on the Godot proposals repository.

[2020-06-07 17:28] #16107 closed

[2020-06-07 17:29] Calinou commented on #18222
@seyacat Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:31] KoBeWi commented on #6412
This is fixed since at least 3.1.2

[2020-06-07 17:31] #6412 closed

[2020-06-07 17:33] FeralBytes commented on #39138
Of Note: Godot Version 3.2.2.-beta4 has yet to crash while manipulating themes.
Even if it did I am on Linux and used a temporary work around of setting
``
ulimit -v 2000000
``
in the terminal that i launched Godot from.

[2020-06-07 17:34] Calinou commented on #11588
I can still reproduce this in Godot 3.2.2beta4. Note that using static typing for the MeshInstance variable will prevent this snippet from working. It'll throw an error about types mismatching as expected.

[2020-06-07 17:35] Zylann opened #39371 "Upscaling an image with `resize` makes it pixelated even with BILINEAR explicitely specified"
Godot 3.2.2 beta4
Godot 3.1.0

Windows 10 64 bits

When I use `Image.resize` to make it larger, I can clearly see it pixelated, even though the default filter is supposed to be `INTERPOLATE_BILINEAR`. Specifying it explicitely doesn't fix the problem.
This also affects my terrain plugin, which is now breaking when the user wants to resize the heightmap (format `RH`), it becomes riddled with stairc

[2020-06-07 17:36] Calinou commented on #7872
@Procyon3 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:38] Calinou commented on #18153
I can't reproduce this in Godot 3.2.2beta4, closing. It's probably been fixed since this bug was reported.

[2020-06-07 17:38] #18153 closed

[2020-06-07 17:42] EIREXE commented on #16798
Yes, this is still an issue, the engine's design still has this problem.

[2020-06-07 17:43] Calinou commented on #17912
This seems to have been fixed in the `master` branch (with the new Vulkan renderer), closing.

![image](https://user-images.githubusercontent.com/180032/83975948-1de29b00-a8f7-11ea-93fd-28fe7540fbac.png)

[2020-06-07 17:43] #17912 closed

[2020-06-07 17:44] Calinou commented on #18283
Duplicate of #22226, which has more information about the issue at hand. See also #20994.

[2020-06-07 17:44] #18283 closed

[2020-06-07 17:46] Calinou commented on #18312
@krogank9 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:47] Calinou commented on #18431
I can reproduce this in Godot 3.2.2beta4.

[2020-06-07 17:48] Calinou commented on #15575
PS: Please check whether this feature is still missing in Godot 3.2.1 before creating a proposal.

___

Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GI

[2020-06-07 17:48] #15575 closed

[2020-06-07 17:48] Calinou commented on #2669
@n-pigeon Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:49] Calinou commented on #18252
@megasoft78 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:50] Calinou commented on #18794
https://github.com/bulletphysics/bullet3/issues/1703 was fixed (and Bullet in Godot updated since then), so I'll assume this bug has been resolved since. Please comment if you can still reproduce this bug.

[2020-06-07 17:50] #18794 closed

[2020-06-07 17:51] Sslaxx commented on #18312
Attempting this with 3.2.1:

`Parser Error: Too few arguments for "_init()" call. Expected at least 1.`

Stack frames point to the script I used (just c&p-ed the above), at line 9 (`func _init():`). Line 9 is also red-highlighted in the script editor.

[2020-06-07 17:53] Calinou commented on #18242
I can't reproduce this on Godot 3.2.2beta4 with Fedora 31. Maybe this is due to how windows are managed on Windows?

@Ranoller Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 17:55] Calinou commented on #18312
@Sslaxx Thanks for replying :slightly_smiling_face:

If I'm reading correctly, this means the bug has been resolved, so I'll close this (correct me if I'm wrong).

[2020-06-07 17:55] #18312 closed

[2020-06-07 17:55] akien-mga commented on #35676
Closing as discussed above.

[2020-06-07 17:55] #35676 closed

[2020-06-07 17:56] Calinou commented on #16764
@Zylann I see, thanks for replying. It might be worth opening a new issue about this as to avoid confusion.

[2020-06-07 17:58] KoBeWi commented on #26417
I can't reproduce this (tried same version). Might be keyboard issue (i.e. ghosting).
@Gyrth Can you confirm if it still happens in 3.2?

[2020-06-07 17:58] #16764 closed

[2020-06-07 18:00] Calinou commented on #16892
@YeldhamDev Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 18:02] sezit commented on #13114
@Calinou No, everything fine.

[2020-06-07 18:04] bfishman commented on #12587
@Faless thanks for the reply. I'll explore implementing my own 'hack' to keep the engine's clipboard in sync with the OS.

I don't really understand the intricacies of this yet so pardon the potentially naive question --  do you think it's possible to trigger a copy or paste event using an in-engine GUI button (as opposed to ctrl+v or ctrl)?  Obviously not a global solution but it would be enough

[2020-06-07 18:07] alimalkhalifa commented on #14465
@Calinou I can confirm, this is still reproducable

Editor View
![image](https://user-images.githubusercontent.com/6815425/83976483-d7933900-a902-11ea-9ff6-60ac25bdb9e6.png)

Game View
![image](https://user-images.githubusercontent.com/6815425/83976487-e37efb00-a902-11ea-8306-24659e65ab62.png)

[2020-06-07 18:09] LordBrkica opened #39373 "C# Casting Node to VBoxContainer fails (also GetNode() returns null on a valid path, fails to cast internally)"
**Godot version:**

Godot Engine v3.2.1.stable.mono.official

**OS/device including version:**

Windows10 ,OpenGL ES 2.0 Renderer: Radeon RX 570 Serie

**Issue description:**

Take a good look at this:
![image](https://user-images.githubusercontent.com/51578785/83976435-1c66a200-a8fa-11ea-974e-42deff2be6a1.png)

First I though I have a problem with _GetNode()_ as I can use _GetNode()_ to retrieve

[2020-06-07 18:12] Rubonnek commented on #17860
@Calinou, on a fresh compiled 3.2.2beta4, attempting to reproduce this issue results in:
[code]
Pretty descriptive. Imho we can close this now.

[2020-06-07 18:24] YeldhamDev commented on #16892
@Calinou Nope! Not able to reproduce it on the latest beta.

[2020-06-07 18:24] #16892 closed

[2020-06-07 18:28] hmans commented on #5734
Any new insights on this? I'm seeing the comments on this "simply not being possible", but it pretty much makes it impossible for me to build the game I want to build with Godot (while it's not a problem in pretty much any other engine, including one I hacked together myself using Box2D).

If performance is a concern (since this would probably involve combine parent transforms and then rebuilding

[2020-06-07 18:42] Arech opened #39374 "Collision detection doesn't respect collision layer/mask for sleeping RigidBody2D nodes"
**Godot version:** 3.2.1

**Issue description:** The third bug (after #39366 and #39367) of how sleeping `RigidBody2D` objects are handled by the engine. Create two `RigidBody2D` objects in collision layer 2 allowing them to collide with layer 1 only. Make them sleep and then overlap each other (or vice versa). The collision algorithm will wake up both objects then, though they must remain in slee

[2020-06-07 18:45] nathanfranke commented on #5734
Someone could make a collision shape scale function for 3.2. I'm not sure what the situation is for 4.0 right now

[2020-06-07 18:51] timoschwarzer commented on #7243
I cannot reproduce this bug right now in GLES3. I cannot test GLES2 right now because of https://github.com/godotengine/godot/issues/35401

[2020-06-07 19:13] Calinou commented on #17860
@Rubonnek Thanks for replying :slightly_smiling_face: I'll close this then.

[2020-06-07 19:13] #17860 closed

[2020-06-07 19:14] Calinou commented on #13114
@sezit Thanks for replying :slightly_smiling_face: I'll close this then.

[2020-06-07 19:14] #13114 closed

[2020-06-07 19:19] Calinou commented on #16922
I'll close this bug as physics have changed a fair bit since Godot 3.0. There are now many other reports about similar issues, such as #34398. Please create a new report if the issue is completely unrelated.

Note that Godot 3.1 and later feature soft body support.

[2020-06-07 19:19] #16922 closed

[2020-06-07 19:19] PoirotovBrk commented on #39373
So, here is the snippet of my project tree:
![image](https://user-images.githubusercontent.com/51578785/83977730-24770f80-a903-11ea-8787-1947213eb777.png)

Here is the summary of the problem:
[code]
So the problem I am experiencing seems to be exactly **the same** as the problem described [here](https://github.com/godotengine/godot/issues/38497#issue-613033642).

VBoxContainer doesnt work but Godo

[2020-06-07 19:20] Calinou commented on #16858
@PetePete1984 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:21] Zylann opened #39375 "GDScript LSP parse_local_script() crashes the editor"
Godot 3.2.2 beta4

After reading how https://github.com/GDQuest/gdscript-docs-maker/blob/4c3020988c2542737abf467a7ae40d9f744e544c/godot-scripts/Collector.gd#L74 was written, I discovered there is an apparently undocumented access to GDScript language server, which I'd find very useful to have information about.

So I tried to grab that data and see what it provides, using a similar script. I used

[2020-06-07 19:24] Calinou commented on #17131
@JPTeasdale Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:24] Calinou commented on #17125
@amedlock Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:25] Calinou commented on #17181
Setting shrink below 1 in the Project Settings isn't possible anymore since Godot 3.1, closing.

[2020-06-07 19:25] #17181 closed

[2020-06-07 19:26] Calinou commented on #17208
I'll assume this was fixed by #31751, closing. Please comment if you can still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4).

[2020-06-07 19:26] #17208 closed

[2020-06-07 19:30] Calinou commented on #17250
@Gyrth Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:30] Calinou commented on #14751
@satyries Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:31] Calinou commented on #5745
@akien-mga Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:32] Calinou commented on #17277
@magpie514 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:38] Calinou commented on #17323
@pro-mole Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:38] Calinou commented on #17273
@chenjie199234 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:39] volzhs commented on #18222
I can't tell but i guess it has still a problem with non-ascii file or directory name for android platform.

[2020-06-07 19:39] Calinou commented on #17108
@tedwennerstrom Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:40] Calinou commented on #30082
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-06-07 19:40] #30082 closed

[2020-06-07 19:41] Calinou commented on #17394
@Zylann Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 19:52] Calinou commented on #17246
Duplicate of https://github.com/godotengine/godot/issues/10388. Try installing and enabling lawnjelly's [smoothing add-on](https://github.com/lawnjelly/smoothing-addon) to get physics interpolation in your project.

[2020-06-07 19:52] #17246 closed

[2020-06-07 19:56] Zylann commented on #17394
I wish I had written the kind of parsing error `util.gd` had, but the problem seems to be fixed.

[2020-06-07 19:56] Calinou commented on #8763
@mhilbrunner Someone should open a [proposal](https://github.com/godotengine/godot-proposals) for this feature.

[2020-06-07 19:58] Calinou commented on #11799
Closing, as this is likely a system/driver-specific issue that can'be resolved on our end. Still, please comment if you can still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4).

[2020-06-07 19:58] #11799 closed

[2020-06-07 19:59] Calinou commented on #17394
@Zylann Thanks for replying :slightly_smiling_face: I'll close this then.

[2020-06-07 19:59] #17394 closed

[2020-06-07 20:00] KoBeWi commented on #27771
The generic solution would be a `state_changed` signal in EditorPlugin class, which should be emitted by each editor when there's relevant change in its state and connecting it to EditorNode's `_set_scene_metadata`. This should be rather easy, but also rather complex, so not sure if it's worth it and if it's really a bug or rather an enhancement.

[2020-06-07 20:02] Calinou commented on #2667
Duplicate of #35606, which has more information about the issue at hand.

[2020-06-07 20:02] #2667 closed

[2020-06-07 20:06] Calinou commented on #17676
@Gfurst Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

Also, note that there's an OS-independent bug report about clipping/static noises in rapid intervals of sound: https://github.com/godotengine/godot/issues/22016

[2020-06-07 20:07] Calinou commented on #15789
@redxdev Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:10] Calinou commented on #19142
@jkb0o Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:11] Calinou commented on #19048
@111ukasz111 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:13] Calinou commented on #19024
@Pxllux Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:13] Calinou commented on #19134
@nobuyukinyuu Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:15] Calinou commented on #19022
I can partially reproduce this in Godot 3.2.2beta4. That said, the EditorFileDialog is still in the removed directory after removing it and choosing **Scene > Open Scene** again. The "parent folder" button works as expected though.

[2020-06-07 20:17] Calinou commented on #19253
This issue is old (and the author has deleted their account from GitHub), so I'll close this. Please create a new issue if you can still experience a similar bug.

[2020-06-07 20:17] #19253 closed

[2020-06-07 20:17] Calinou commented on #18813
@nmearl Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:17] Calinou commented on #19490
@Fasox Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:19] Calinou commented on #17372
I can reproduce this in 3.2.2beta 4. Save the file below as `test.tscn` and open it in the Godot editor:

[code]

[2020-06-07 20:21] Calinou commented on #19531
@Zylann Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:22] Calinou commented on #19269
This can't really be solved without introducing expensive order-independent transparency, so I'll close this.

This limitation (among many others) has been documented in [3D rendering limitations](https://docs.godotengine.org/en/latest/tutorials/3d/3d_rendering_limitations.html).

[2020-06-07 20:22] #19269 closed

[2020-06-07 20:22] Zylann commented on #19531
I don't have a clear repro for this, but it's been a while since it happened to me.

[2020-06-07 20:23] Calinou commented on #19546
Closing due to lack of response (see @groud's comment above). Please comment if you can still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4).

[2020-06-07 20:23] #19546 closed

[2020-06-07 20:24] Calinou commented on #19577
@Gyrth Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:27] Calinou commented on #18513
@Dakkers Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:28] Calinou commented on #18583
@earlroxas13 Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:29] Calinou commented on #18548
This was likely solved by #23760, closing. Note that SpatialMaterial now offers options to flip normals and bitangents as well.

[2020-06-07 20:29] #18548 closed

[2020-06-07 20:30] Calinou commented on #19747
I can confirm this on Godot 3.2.2beta4.

[2020-06-07 20:34] Calinou commented on #6146
@Zylann Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:34] Calinou commented on #9491
@NullNeska Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:35] Calinou commented on #18606
@DavidJVitale Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:36] KoBeWi commented on #17273
This was fixed with the new inspector in 3.1. The LineEdits no longer pop out awkwardly, so this is not possible to happen anymore.

[2020-06-07 20:36] #17273 closed

[2020-06-07 20:36] Calinou commented on #16860
SceneTree is indeed not thread-safe as documented in [Thread-safe APIs](https://docs.godotengine.org/en/latest/tutorials/threads/thread_safe_apis.html), so I'll close this.

[2020-06-07 20:36] #16860 closed

[2020-06-07 20:37] Calinou commented on #20190
@Bauxitedev Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

cc @neikeq

[2020-06-07 20:37] Calinou commented on #20183
@Zylann Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:38] Calinou commented on #19820
@DmitriySalnikov Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

Note that we no longer recommend using GLES3 on mobile for the time being.

[2020-06-07 20:40] Calinou commented on #17689
The C# part seems to be a duplicate of #27095, so I'll close this.

[2020-06-07 20:40] #17689 closed

[2020-06-07 20:41] Calinou commented on #20066
@QbieShay Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:41] Calinou commented on #19531
@Zylann Alright, I'll close this for now.

If someone can reproduce this bug, please comment so this issue can be reopened.

[2020-06-07 20:41] #19531 closed

[2020-06-07 20:45] Calinou commented on #20059
I can't reproduce this in 3.2.2beta4, closing. (The shape will appear in gray instead of blue when it's from an instanced scene, but it's still visible.)

[2020-06-07 20:45] #20059 closed

[2020-06-07 20:48] Calinou commented on #17759
Can anyone still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:48] Calinou commented on #20320
Closing in favor of https://github.com/godotengine/godot-proposals/issues/850, as feature proposals are now tracked on the Godot proposals repository.

[2020-06-07 20:48] #20320 closed

[2020-06-07 20:48] Calinou commented on #20019
@ConnyOnny Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:51] Calinou commented on #20009
I can't reproduce this in 3.2.2beta4, closing.

In `Spatial.gd`, adding the following snippet prints `True` every time the project is started:

[code]

[2020-06-07 20:51] #20009 closed

[2020-06-07 20:51] Zylann commented on #6146
It still happens:
[SurfaceToolSmoothShading.zip](https://github.com/godotengine/godot/files/4742932/SurfaceToolSmoothShading.zip)

I believe it happens because `SurfaceTool` assumes smoothing can only happen if vertices are shared, and to be shared vertices must have equal attributes. While it's true this case makes them have different UVs, smoothing should still be possible with two vertices with

[2020-06-07 20:53] Calinou commented on #20160
I can reproduce this on Godot 3.2.2beta4 (albeit only occasionally).

[2020-06-07 20:53] Calinou commented on #16302
@divmgl Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:55] Calinou commented on #20591
Godot 3.2 onwards allows you to unconstrain the editor bounds in the Editor Settings, which should resolve this issue:

![image](https://user-images.githubusercontent.com/180032/83979895-f0efb180-a911-11ea-8a71-fc4c0272944c.png)

[2020-06-07 20:55] #20591 closed

[2020-06-07 20:55] Zylann commented on #20183
Tried again in the project where it happened, that doesn't seem to reproduce. I was never able to find precise reproduction steps so I can't tell for sure if it was fixed.

[2020-06-07 20:56] Calinou commented on #20057
Closing, as nobody has been able to reproduce this issue since 3.0.5. Please comment you can still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4).

[2020-06-07 20:56] #20057 closed

[2020-06-07 20:57] Calinou commented on #21393
@Ranoller Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:57] Calinou commented on #20529
@PotatoNato Can you (or anyone else) still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4)?

[2020-06-07 20:58] Calinou commented on #18120
Since OP deleted their GitHub account and nobody else has been able to reproduce this so far, I'll close this. Please comment if you can still reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4).

[2020-06-07 20:58] #18120 closed

[2020-06-07 20:59] Calinou commented on #19950
@guilhermefelipecgs Should we lock TileMaps as soon as they're created to make this less likely to happen?

[2020-06-07 21:09] Calinou commented on #20183
@Zylann I'll close this for now then.

If anyone else can reproduce this bug in Godot 3.2.1 or [3.2.2beta4](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-4), please comment.

[2020-06-07 21:09] #20183 closed

[2020-06-07 21:14] FeralBytes commented on #27421
I still see this issue for right align and for place holder text centered in Godot 3.2.2-beta4 on Linux and Android.

[2020-06-07 21:28] KoBeWi commented on #13396
This is still happening in ec1bf96

[2020-06-07 21:34] KoBeWi commented on #13196
Still happens with `gdns` in ec1bf96

[2020-06-07 21:37] lfzinho opened #39379 "Godot freezing right before android debugging starts"
Godot Version: 3.2
OS: Windows

Issue description:
I followed all the steps in the official page teaching how to set Godot to work with Android, and when I tried to start debug, Godot stopped responding at this message:

Running on (name of device)
66%
Installing to device, please wait

No buttons really work, but Godot starts working again if I unplug my device.
If I change one of the export sett

[2020-06-07 22:14] noidexe commented on #13963
Checked on 3.2.2b4 win64 and it seems solved. Both the window not being modal and the restarting of downloads.

Thanks a lot!

[2020-06-07 22:30] AlecFaye opened #39380 "JSON file not being read when exported as a .apk even with the *.json export filter"
**Godot version:**
3.2.1

**OS/device including version:**
Android 10

**Issue description:**
The JSON files were able to be read when run by Godot, but when I exported it as an apk with the *.json filter, the JSON file couldn't be read by my Android device.
![AndroidExportSettings](https://user-images.githubusercontent.com/56772678/83981542-de16b600-a8ec-11ea-8b1e-3272ee3bb431.PNG)

![ExportFilte

[2020-06-07 22:35] walknotes commented on #19790
It's about raising stealing cost. higher costs means more secure. every password in the world CAN be break, it is all about how much it cost.

[2020-06-07 22:42] nobuyukinyuu opened #39382 ""Parse Error: The function signature doesn't match the parent" doesn't follow class hierarchy"
**Godot version:**

3.2.2 beta4

**OS/device including version:**

Windows 10 x64

**Issue description:**

When importing a project from godot 3.0 to 3.2.2 beta 4, I noticed several errors flagged by the parser for functions that matched a name elsewhere in the classDB but were unrelated to the class hierarchy of objects which contained these functions.  In my case, it was a `ColorRect` using `get

[2020-06-07 22:44] walknotes commented on #19790
it's like locks, any lock can be broken, it's all about how much the stealler wish to pay. house owner wish to raise the costs, surely.

[2020-06-07 22:57] nobuyukinyuu commented on #19134
Can't seem to replicate since posting.

[2020-06-07 22:57] #19134 closed

[2020-06-07 23:00] nobuyukinyuu commented on #16712
Can't replicate in 3.2.2beta4.

[2020-06-07 23:00] #16712 closed

[2020-06-07 23:06] PetePete1984 commented on #16858
Yeah, it still happens in 3.2.2 - you get the expected pressed / released events for the dead key, then 3 events for ESC (2x pressed, 1x released).

[2020-06-07 23:10] nobuyukinyuu commented on #18826
Issue no longer occurs for that specific build on 3.2.2beta4 using the specified commit.  I'll close this issue for now.

[2020-06-07 23:10] #18826 closed

[2020-06-07 23:17] walknotes commented on #19790
stealling it's not about CAN or CANNOT, it's about how much it cost.
easy or hard is different acording to different person, "not much encrypt" to you, but a lot of learning time and knowledge (or money) for thieves.
in some country like China, laws not work for ordinary people. all company and the whole government are waiting to steal from all over the world. even the evilest government want to s

[2020-06-07 23:33] bojidar-bg commented on #17310
Should still be valid on 3.2.x.

[2020-06-07 23:49] walknotes commented on #19790
it's not about CAN or CANNOT, it's about how much steallers have to pay.

easy or hard is different to different person, "not much encrypt" to you, but a lot of learning time and knowledge (or money) have to pay, for thieves. You don't feel it's hard because you already have that knowledge, after years of learning. another easy to crack step of encryption, means 90% fewer thieves have that ability

[2020-06-07 23:50] DmitriySalnikov commented on #19820
@Calinou same in 3.2.1 and 3.2.2 (official release and version from [https://downloads.tuxfamily.org/](https://downloads.tuxfamily.org/godotengine/3.2.2/beta4/))
But if not whole screen filled with image everything ok. (stretch aspect option)
Test project: [TestFlickering.zip](https://github.com/godotengine/godot/files/4743255/TestFlickering.zip)
A_I - aspect ignore
A_KH - aspect keep height

http

[2020-06-07 23:52] Viridflow opened #39383 "Skeleton.get_bone_global_pose() get incorrect value after Skeleton.set_bone_global_pose_override() in _process()"
**Godot version:**
v3.2.1

**OS/device including version:**
Mac & PC

**Issue description:**
Godot has ragdoll system but it is not useful too in the case of it apply to hair, closs and some of accessories. So I want dynamics/spring bone and try making it, however I can't get correct bone position with `get_bone_global_pose()`.

Picture:
![test_rig_chain](https://user-images.githubusercontent.com/

[2020-06-07 23:52] remorse107 commented on #39197
Sorry, but I don't seem to have the original code anymore.

I used the example for getting a camera ray (from Godot Documentation):
[3D Ray Casting](https://docs.godotengine.org/en/stable/tutorials/physics/ray-casting.html#d-ray-casting-from-screen)

And then I used the from and to with a call to VisualServer's instances_cull_ray.

[2020-06-07 23:59] damarindra commented on #13047
Just test with project above, It is fixed, but jittering. I kind of forget how it is exactly, but as the title says, now it is working fine.

[2020-06-07 23:59] #13047 closed

[2020-06-08 00:30] Didine-SG opened #39384 "the engine keeps crashing every time i try to open on of my project or create a new one"
i haven't had this problem before using godot 3.2.1, I am able to open the project manager just fine but as soon as I open a project or create a new one the engine crashes and I get a warning from my AMD driver saying : "the display driver stopped responding and has recovered"
I'm using an AMD radeon hd 5450

[2020-06-08 01:06] LikeLakers2 commented on #19790
You seen keen to tell us that a lock would be effective. Tell us, then: How would we implement such a lock?

If we implement it into the engine, then people can examine the source code (which is far easier than you're making it out to be) and figure out how we store the key, how to access it, and what encryption method(s) we use. You might call it hard to crack, but I guarantee you that if we were

[2020-06-08 02:13] giulianob commented on #11030
What's the state of this in 4.0 with Vulkan? It seems latest master just continuously updates even when set not to but wasn't sure if that's intended or if I did something wrong.

Also, is @Calinou PR still going in for 3.2 and did it end up helping?

[2020-06-08 04:27] clayjohn commented on #14465
I can't reproduce on Ubuntu 16.04 Intel integrated graphics.

[2020-06-08 04:30] clayjohn commented on #7243
The rendering engine for 2.x and 3.x is so different. I am not sure this issue is even worth tracking anymore.

[2020-06-08 04:31] clayjohn commented on #19638
@Calinou I think this sort of bug was the reason we started asking people to set viewports as local to scene.

[2020-06-08 04:34] alimalkhalifa commented on #14465
Strange. I will try it on Linux as well.

[2020-06-08 04:35] clayjohn commented on #14465
Yea, it is very odd. I wouldn't think the OS would affect this issue.

[2020-06-08 04:48] timoschwarzer commented on #7243
I, too, think that this issue can be closed.

[2020-06-08 04:51] clayjohn commented on #7243
Closing. If you notice anything like this, feel free to ping me and I'll re-open.

[2020-06-08 04:51] #7243 closed

[2020-06-08 04:53] zaksnet commented on #31623
Indeed i can confirm this is the case. @williamd1k0 i have ended up using C# [Process class](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process?view=netcore-3.1)

[2020-06-08 05:09] eon-s commented on #5745
I could not reproduce it on latest beta with `move_and_collide` nor `move_and_slide`, using the ported example.

[2020-06-08 05:16] eon-s commented on #15370
I can't reproduce this issue on latest beta, there is still a weird behavior on the corners but is different than the OP.

[2020-06-08 05:20] eon-s commented on #18222
Recently an user had this problem with spaces in names so I guess it still an issue, the export window may need to disable exports if this kind of requirements are not met (also the same happened to me for iOS exports with spaces on project's folder name).

[2020-06-08 05:41] lawnjelly commented on #17267
Increasing the AABB is the wrong way to deal with this. The particles should be updated when in view of either the camera or lights (culled against the view frustum).

[2020-06-08 05:47] redxdev commented on #15789
@Calinou looks like this has indeed been fixed, closing.

![image](https://user-images.githubusercontent.com/472625/83996390-e254ca80-a910-11ea-9437-7c4f8632dc02.png)

[2020-06-08 05:47] #15789 closed

[2020-06-08 06:13] megasoft78 commented on #18252
I was never able to reproduce it on my devices.
This crash come from Google Play Console.
I'm sorry but I can't help with that. :(

[2020-06-08 06:18] akien-mga commented on #39381
This should be documented here (under the `<description>` tag):
https://github.com/godotengine/godot/blob/ec1bf96e412b7a207ffb55d6acd56b25eb25845f/doc/classes/TileSet.xml#L39-L48

[2020-06-08 06:23] #28788 closed

[2020-06-08 06:31] #37150 closed

[2020-06-08 06:37] AureaFUNSoft commented on #18583
I think it's ok now. I open this with 3.2.1 stable.
![Untitled](https://user-images.githubusercontent.com/8875839/83999496-1241b380-a98d-11ea-84a6-57ddf017c396.jpg)

[2020-06-08 07:23] Pxllux commented on #19024
No, I can't. Even in 3.0.2 I can't anymore (windows installation and physics drivers have received updates over time.)

[2020-06-08 07:23] #19024 closed

[2020-06-08 07:29] Calinou commented on #18583
@AureaFUNSoft Thanks for replying :slightly_smiling_face: Closing as resolved then.

[2020-06-08 07:29] #18583 closed

[2020-06-08 07:31] Calinou commented on #18252
@megasoft78 Alright, I'll close this for now then. We can reopen this issue if we still get crash reports (but with debug symbols, this time).

[2020-06-08 07:31] #18252 closed

[2020-06-08 07:33] Calinou commented on #15370
@eon-s Thanks for the reply :slightly_smiling_face: I'll close this then. It might be worth opening a new issue about the behavior on the corners unless there's already a bug report about that.

[2020-06-08 07:33] #15370 closed

[2020-06-08 07:33] Calinou commented on #5745
@eon-s Alright, closing then.

[2020-06-08 07:33] #5745 closed

[2020-06-08 07:37] Calinou commented on #11030
This is definitely not intended; low-processor mode hasn't been reimplemented yet in the `master` branch.

It hasn't been merged yet, but it's still cherry-pickable into the `3.2` branch. (It's probably too late to merge it into 3.2.2 though.)

[2020-06-08 07:39] madmiraal commented on #39366
I don't understand the issue. `Rigidbodys` sleep, because they're not moving and not interacting with anything. This saves processing time; nothing more. A bug would be if the `Rigidbody` didn't wake up when it should, not that it does wake up when it didn't need to.

[2020-06-08 07:46] Arech commented on #39366
Errr... Sleeping state are meant to save processing resources, we agree on that, right?

When something must not consume resources, but it still consumes it, what is it if not a bug?

[2020-06-08 07:47] akien-mga commented on #15506
It's still reproducible with the script in OP with `3.2.1-stable` and aeb5513ba.

[2020-06-08 07:48] #39324 closed

[2020-06-08 07:49] Arech commented on #39366
Also, please consider, that current behaviour renders `VisibilityEnabler2D` node totally useless one it is used in conjunction with node dynamic placement (actually, that is how I stumble on the issue - I was trying to find why nodes that must be sleepy under `VisibilityEnabler2D` condition, are still active)

[2020-06-08 07:50] Calinou commented on #13963
@noidexe Thanks for replying :slightly_smiling_face: Closing as resolved.

[2020-06-08 07:50] #13963 closed

[2020-06-08 07:56] jesperkondrup commented on #16658
@Calinou Yes I am still able to reproduce this using Blender 2.82, Better Collada Exporter and Godot 3.2.1 stable.

![image](https://user-images.githubusercontent.com/24936603/84006023-596c7c00-a96e-11ea-8603-54987c8b551e.png)

[2020-06-08 08:06] akien-mga commented on #39366
Well, if you move the parent node, the children might end up triggering collisions with other bodies, so they shouldn't be sleeping, should they?

[2020-06-08 08:09] razcore-art commented on #27615
Actually no, this doesn't quite work, cause the order matters since some other ppl complained that there wasn't order preservation with dicts.

So we get something like:

[code]

Is there a way to preserver ordering and have the hashes be the same? I would think not, but honestly... I prefer unordered dicts because of this comparison issue.

Unordered dicts are the default in many languages.

[2020-06-08 08:11] madmiraal commented on #39366
I still don't understand the issue. Why do you think it's important that `Rigidbodys` are asleep?

[2020-06-08 08:14] Arech commented on #39366
Agree with that, but shouldn't they be woken up as a result of collision? If collision indeed happened, - they must be woken up. But if not - why waste resources?

[2020-06-08 08:17] Arech commented on #39366
I think that proper sleeping state is important, because it helps to conserve resources. It is a logical and most obvious and consistent to the docs way to shutdown some heavy physical processing when it is not needed.

[2020-06-08 08:17] bruvzg commented on #37725
#33447 was merged and cherry-picked to 3.2.2, macOS ZIP exports should work now.

[2020-06-08 08:17] #37725 closed

[2020-06-08 08:18] madmiraal commented on #39367
This is by design. If you want to your manual change to send a signal then you must use the `emit_signal` function.

[2020-06-08 08:20] akien-mga commented on #39367
I think this might just be a documentation issue.

The current documentation says that `sleeping_state_changed` is emitted when the `sleeping` property changes, but that's not true. It's emitted when the sleeping state of the RigidBody changed in `PhysicsDirectBodyState2D` and the `sleeping` property is thus updated by the physics engine.

In this MRP, the body is sleeping at the start. The sleepi

[2020-06-08 08:21] Arech commented on #39367
Errr... Well... Why not to update the docs then?

It really confuses when you read that "Emitted when sleeping changes." and it turns out, that it is actually not at all true.

[2020-06-08 08:21] madmiraal commented on #39366
They need to be awake to detect collisions.

[2020-06-08 08:22] Arech commented on #39367
@akien-mga Remi, thanks! You're right. The issue is in the docs then...

[2020-06-08 08:27] madmiraal commented on #39366
... and this is what Godot does.

I still don't understand the issue you're experiencing. Instead of a bug, this sounds more like an opinion on how a game engine should be designed.

[2020-06-08 08:30] Arech commented on #39366
Well, ok, I understand that.

Lets look at it in another way. That is an implementation detail, the node must be awake to be able to detect collision. I got it right?

What arguments support the claim that this implementation is correct? When a sleeping node awakes without no apparent reason - no collision, no force/impulse applied (that is how the waking are defined in the docs, btw, and this pro

[2020-06-08 08:31] akien-mga commented on #39375
Stacktrace from the `master` branch:
[code]

Had to tweak the `data` dictionary so that it compiles in the `master` branch, the `name = value` Dictionary syntax is broken right now - likely due to StringName changes:
[code]

[2020-06-08 08:33] akien-mga commented on #39375
The original MRP is a bit evil as it's a tool script that tries to parse itself... but the same crash happens when parsing another script without circular reference.

[2020-06-08 08:35] madmiraal commented on #39366
I still don't understand the issue you're experiencing. Aside from saving resources, why is it important that Rigidbodys are asleep?

[2020-06-08 08:39] Arech commented on #39367
I may try to make an update to the docs, if some help needed...Need to find the docs contribution guide first...

[2020-06-08 08:46] Calinou commented on #27615
@razcore-art Dictionaries are ordered since Godot 3.0, but there's no way to opt out of that behvior.

[2020-06-08 08:47] Calinou commented on #39367
@Arech It's here: https://docs.godotengine.org/en/latest/community/contributing/updating_the_class_reference.html

[2020-06-08 08:57] bruvzg commented on #39380
Try using `res://Tester.json` (open file from resource path or PCK/APK) instead of `Tester.json` (open file from the current directory).

[2020-06-08 08:58] Arech commented on #39366
Errr... there is no "aside". Saving resources is the very issue.

I have quite a lot instances of RigidBodies with quite a heavy physics involved. I would like to suspend them because they start to introduce lags.

Sleeping state in conjunction with VisibilityEnablers in a way they are described in the docs looks precisely as the proper solution. And extremely easy to implement too.. But instead i

[2020-06-08 09:07] akien-mga commented on #39371
Something for @lawnjelly maybe? :)

[2020-06-08 09:23] Arech commented on #39379
I occasionally have the issue too when using old galaxy s4 (flashed to Android 9). Sometimes it works, sometimes it doesn't.

As far as I understand the issue, it halts during executing `adb install -r <apk>` and it seems that is it not related to Godot by itself.

Here's similar issue on stackoverflow https://stackoverflow.com/questions/17252416/adb-install-uploading-of-apk-taking-ages

Author ev

[2020-06-08 09:26] Arech commented on #39379
Well, actually I'm wrong here in some way. It would be much better if the editor won't hung until a running command finishes.

[2020-06-08 09:32] RandomShaper commented on #3703
I'll check this again today and will try to fix it.

[2020-06-08 09:34] mrcdk commented on #11670
Nope! Tested in 3.2.2beta4 and it seems to be fixed! Closing this issue.

[2020-06-08 09:34] #11670 closed

[2020-06-08 09:52] akien-mga commented on #32529
Fixed by #39329.

[2020-06-08 09:52] #32529 closed

[2020-06-08 10:00] goatchurchprime opened #39387 "GUI/Control node in Viewport tree does not preview in layout mode in editor"
**Godot version:**
3.2.1.stable

**OS/device including version:**
Windows10

**Issue description:**
The main scene of the demo, `gui_in_3d.tscn`, includes the scene `gui_panel_3d.tscn` which contains a Viewport and a 2D GUI Control CanvasItem node.  This 2D GUI Control node contains a panel with some buttons, sliders and other GUI components.

When you run the demo, the code in `gui_3d.gd` maps mo

[2020-06-08 10:08] Arech commented on #39366
@madmiraal Have you seen the docs yourself? I'm struggling to not interpret your comment as a joke.

`bool can_sleep`  https://docs.godotengine.org/en/latest/classes/class_rigidbody2d.html?#class-rigidbody2d-property-can-sleep

No it is not.

---

(1) If true, the engine are given a right to send the body into a sleeping state if it doesn't move. Then it will not calculate forces and will act as a

[2020-06-08 10:24] Calinou commented on #39387
I'm fairly sure there's an open issue about this already, but I can't find it right now.

[2020-06-08 10:43] Zireael07 commented on #39387
It was mentioned several times, yes, but I'm not sure we have a **dedicated** issue about it.

[2020-06-08 11:07] Gaffen commented on #10572
I've just stubled on this issue and wanted to give a +1 to having a more programatically accessible ease function - it'd be nice to throw a named constant into it to get the ease you want. For context, in this case I'm not using it for anything to do with animation.

Even just adding the visualisation to the docs would be really useful - I understand this may not be a priority, but the reference h

[2020-06-08 11:08] Faless commented on #12587
For browser that supports the Clipboard API `readText` function (chrome) yes. Just call `OS.get_clipboard()` during the pressed signal of your button.

[2020-06-08 11:12] akien-mga commented on #17372
Fixed by #39389.

Fixed by #39386.

I suggest opening a dedicated issue for this with a MRP if it's still reproducible (generally-speaking, all three issues should have had their own ticket with an MRP as they're not related to each other).

[2020-06-08 11:12] #17372 closed

[2020-06-08 11:13] Arech commented on #39367
Made the pull..

Also, I'd suggest to append these rephrased @akien-mga words to a cut-out note somewhere in https://docs.godotengine.org/en/latest/getting_started/step_by_step/signals.html

That would be really helpful to know in advance for a rookie. But I don't get where are the sources of that part of docs located.

[2020-06-08 11:15] dominiks commented on #38511
``items``is marked as ``PROPERTY_USAGE_INTERNAL`` so this issue is related #25651. Is there any decision on that matter?

[2020-06-08 11:19] akien-mga commented on #39384
The issue template asked you for the Godot version you use and your OS, why remove it instead of providing the information we ask for?

This statement is ambiguous:

Are you having the issue in Godot 3.2.1, or were you not having the issue in 3.2.1 and you're now using a more recent version (3.2.2-beta4, or a build from the `master` branch)? If the former, what versions used to work and do they st

[2020-06-08 11:21] Zylann commented on #39375
Will this be fixed in 3.2? Also is this a misuse? The GDScript docs maker uses it, and I would really like to use that data source as well...

[2020-06-08 11:26] #39375 closed

[2020-06-08 11:30] akien-mga commented on #39375
Yes, that's what this label means:
![Screenshot_20200608_132816](https://user-images.githubusercontent.com/4701338/84025475-effb6600-a98b-11ea-88fe-91d5a971b4cc.png)

I think so, but I'm not familiar enough with this to confirm 100%. Reading the code, it seems `latest_client_id` (which was invalid and triggering a crash in your code) is only assigned in `GDScriptLanguageProtocol::poll()`, so I gue

[2020-06-08 11:34] Zylann commented on #39375
I can't find any place in this repo where `poll` is called: https://github.com/GDQuest/gdscript-docs-maker/search?q=poll&unscoped_q=poll
It just calls `parse_local_script` directly, and the script is called from a CLI execution of Godot.

[2020-06-08 11:38] dominiks commented on #25651
At the moment this is effectively a flag for "undocumented feature" since they are accessible via gdscript. Can the property made private or hidden from the autocomplete in any way?

If that is not possible I think all items flagged with ``PROPERTY_USAGE_INTERNAL`` should appear in the documentation but with a note that tells the reader the property is not intended for use and might get changed or

[2020-06-08 11:40] akien-mga commented on #39375
Maybe @NathanLovato and @Razoric480 (who authored the GDQuest script) can weigh in.

Maybe `parse_local_script` could be made not to call `notify_clients` if there are no clients to notify. After my fix, it will currently raise an error when `notify_clients` is called without clients, but `parse_local_script` itself should succeed.

[2020-06-08 12:13] Calinou commented on #39367
@Arech The documentation pages are located in this repository: https://github.com/godotengine/godot-docs

Specifically, you'll want to modify `getting_started/step_by_step/signals.rst` and open a pull request there.

[2020-06-08 12:18] Arech commented on #39367
@Calinou thank you for your help!

[2020-06-08 12:31] Calinou commented on #10572
@Gaffen You may be interested by this pull request: https://github.com/godotengine/godot/pull/36997

This will probably address the need to rework `ease()`, since it's a relatively specialized function [as reduz said](https://github.com/godotengine/godot/issues/10572#issuecomment-329012731).

[2020-06-08 12:43] KoBeWi commented on #39387
I don't think this is a bug. The GUI is in another Viewport from editor's and with this scene setup it has nowhere to render to.

[2020-06-08 13:18] Procyon3 commented on #7872
This bug is still present in Godot v3.2.2-beta4.

It is as I wrote on Apr 11 2018 for version 3.0.2: the Hacker Keyboard's arrow keys don't move the cursor. Nothing else happens after pressing an arrow key.

[2020-06-08 13:30] johannesgunnar commented on #19638
A minimal reproduction project doesn't really help given the fact that this bug disappears the moment you load the project. (see step 7 above)

I have tested this in 3.2.1 and 3.2.2beta4. This bug is present in both versions.

[2020-06-08 13:44] AlecFaye commented on #39380
Okay. Thank you so much! I was fretting over it for so many hours and it was just that. Much appreciated.

[2020-06-08 13:44] #39380 closed

[2020-06-08 13:45] giulianob commented on #11030
I'm interested in this issue for my own app which is using low processor mode not specifically the editor. What I don't quite understand is why is it that setting the low cpu more usec to 0 then yields high framerate when I have vsync enabled. Basically what I'm trying to achieve isn't so much the CPU reduction from the sleep but primarily the reduction to be gained from the RenderingServer check

[2020-06-08 13:54] akien-mga commented on #7499
We're in the process of moving all feature proposals to the new dedicated repository: https://github.com/godotengine/godot-proposals

Would one of you be up for the task the open a proposal there following the issue template, and attempting to summarize the key takeaways from the discussion here?

[2020-06-08 14:08] andy-noisyduck opened #39392 "Instancing new CanvasItems on a thread will hang"
**Godot version:**
3.2.1 (w/ Mono)

**OS/device including version:**
Win 10

**Issue description:**
Making new instances of `CanvasItem` types (such as `Control` or `Node2D`) on a thread other than the main thread will cause the game to hang. Other types do not cause a hang (I tested `Spatial`, `Node`, and `Object` - all fine).

It is not clear to me if this is expected. The threading docs seem to

[2020-06-08 14:09] lolbinarycat opened #39393 "node tree will become uneditable."
**Godot version:**

v3.2.1.stable.official

**OS/device including version:**

`uname -a`:
Linux laptop 4.19.0-8-amd64 #1 SMP Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux

Toshiba Satellite

**Issue description:**

Sometimes when I go to toggle the visibility of a node (in 2D, haven't been using 3D really), it doesn't work (the white square from it being clicked shows up, but neither the eye or t

[2020-06-08 14:09] dominiks commented on #17310
Confirmed on 3.2.1 and 3.2.2beta4 (and also on master).

[2020-06-08 14:12] KoBeWi commented on #23883
This seems to have been fixed in 3.1.

[2020-06-08 14:12] #23883 closed

[2020-06-08 14:26] KoBeWi commented on #23708
@xDGameStudios Can you still reproduce this in Godot 3.2.1 or 3.2.2beta4?
(I can't reproduce)

[2020-06-08 14:37] Razoric480 commented on #39375
I can't really comment on this issue, despite me and Nathan working on the script that uses it; we never really encountered an issue with it, maybe because we specifically had used it in a way that it wouldn't reference itself (having the scripts in the root of the project, pointing to a specific directory) or because we run it from inside a launched editor instance.

Either way, it was sheer happ

[2020-06-08 14:57] Gerarama commented on #39144
I only want #18260 To be fixed so i can optimize my script.
I hope someone give some time to it.

[2020-06-08 14:57] Calinou commented on #11030
Yes, that can be done by setting the sleep duration to a very low time like you did.

V-Sync should still be applied when you enable low-processor mode. Godot enables V-Sync by default, and many graphics drivers enforce it (with no way for applications to disable it). This is often the case on mobile/web platforms.

[2020-06-08 15:15] Zireael07 commented on #39387
I am not sure what to classify it as, but it's a real annoyance for working with 2d in 3d and the reverse...

[2020-06-08 15:17] asmaloney commented on #32520
Just ran into this as well with 3.2.1. Not a great UX when the very first thing you try with a new engine doesn't work as expected ;-)

I've seen a variety of issues brought up for this, but no solutions. Is it addressed in anything more recent than 3.2.1?

If not, maybe someone with some in-depth knowledge of the code can give an outline of what needs to be done to fix it?

[2020-06-08 15:35] Didine-SG commented on #39384
sorry i'm new to github, i have this problem only when using godot 3.2.1 and older versions work just fine and the OS i'm using is windows 7

[2020-06-08 15:40] aaronfranke commented on #3344
Closing, no response for over 1 year after the above comment.

[2020-06-08 15:40] #3344 closed

[2020-06-08 15:44] aaronfranke commented on #3713
This bug report seems to be still valid due to the duplicate reported in #36258, but it needs an updated minimal reproduction project. Neither of the two projects posted above work in Godot 3.2.2.

[2020-06-08 16:02] chucklepie commented on #37071
Will this fix texture array creation option from the same place as this failed too?

[2020-06-08 16:09] Zylann commented on #11030
Doesn't this mean Godot will then never sleep and consume max CPU instead?

[2020-06-08 16:10] eon-s commented on #3713
This is a fixed example tested on 3.2.2beta4, the body glitches on turns and after one loop the rotation breaks completely.

[curvetestv322.zip](https://github.com/godotengine/godot/files/4747177/curvetestv322.zip)

[2020-06-08 16:22] giulianob commented on #11030
That is indeed what I'm seeing. If v-sync was still applied then I wouldn't see my app running at 144fps when using the same settings as the editor (or even hitting as high as 500fps when going w/ a very low sleep) but instead I should see only 60fps since that's what my monitor supports. If vsync should still be the upper bound (meaning if sleep is 0 I should only see 60fps) then something is wro

[2020-06-08 16:46] akien-mga commented on #39384
Again, what are the older versions which run fine?

[2020-06-08 16:50] Didine-SG commented on #39384
3.1.1 and 3.1.2

[2020-06-08 16:51] Schweini07 commented on #39392
Can confirm on Manjaro Linux 20.0

[2020-06-08 16:57] vtaepe opened #39397 "Basis in C# missing default constructor."
https://github.com/godotengine/godot/commits/master/modules/mono/glue/GodotSharp/GodotSharp/Core/Basis.cs

I believe the file is missing default constructor - documentation says it should produce an identity basis.

[2020-06-08 16:58] DavidJVitale commented on #18606
I have been using Godot mono consistently since 3.0.2, I have not been able to reproduce it on 3.1.X, 3.2.X, or any of the 3.2.2 betas. To me, this issue seems to have been resolved, considering the last comment was ~2 years ago in 2018.

Closing this issue, please comment if anyone is seeing this in more recent releases.

[2020-06-08 16:58] #18606 closed

[2020-06-08 16:59] Calinou commented on #11030
This is pretty much what my PR should fix. It replaces the low processor mode's fixed delay for a delay that varies depending on the time spent in the last frame (like Force Fps in the Project Settings).

[2020-06-08 17:11] neikeq commented on #39397
This is explained here: https://docs.godotengine.org/en/stable/getting_started/scripting/c_sharp/c_sharp_differences.html#basis
Use `Basis.Identity` to get the equivalent of the default constructor in GDScript and C++.
Unfortunately C# doesn't allow structs to have a custom parameterless constructor, nor to hide the default constructor, so we have no way to prevent this confusion.

[2020-06-08 17:11] #39397 closed

[2020-06-08 17:54] masi456 commented on #39351
The difference seems to be that when you press the SHIFT key first, the window messages look like this:
![image](https://user-images.githubusercontent.com/9115235/84063483-66668b00-a9c1-11ea-9030-725909623b86.png)

While in the second case the messages look like this:
![image](https://user-images.githubusercontent.com/9115235/84063528-78e0c480-a9c1-11ea-8f04-f7747e23f9ba.png)

Notice the VK_SHIFT

[2020-06-08 18:42] dark-penguin commented on #38410
I also could not launch Godot on either of my systems - "black window" on R9 290:
- Ubuntu 18.04, AMDGPU-PRO
- Ubuntu 20.04, amdgpu+radeonsi
- Windows 7
- Windows 10
Vulkan is installed correctly according to vulkaninfo, and I can say for sure that at least on Windows 7, Vulkan definitely works, because I've played Vulkan games on it.

With RX 550 on Debian 10 amd64, Godot does not start at all:
[

[2020-06-08 18:54] aqt commented on #39352
I did not realize that was the actual hotkey!
I'll close this issue as it's actually a symptom of the bug I'd reported in #39351

[2020-06-08 18:54] #39352 closed

[2020-06-08 19:33] lukostello opened #39401 "bool_var = true == !false causes error"
**Godot version:**

3.2.1 stable

**OS/device including version:**

WIndows 10

**Issue description:**

bool_var = true == !false causes error "unexpected two consecutive operators" Also is produced when replacing true and false with boolean variables or methods. Can be overcome by using != false instead of == !false. You can also do (!false) and that works. This specific issue is very low priorit

[2020-06-08 19:43] h5n1xp commented on #37691
One of the things I prefer with Godot over Unity3D is that I don't have to use an external editor for my C# code...

I would certainly welcome better C# editor support.

[2020-06-08 19:49] zontreck opened #39402 "C# Mono Build: Marking a asset to copy to output directory does not get copied to final export location"
**Godot version: 3.2.1**

**OS/device including version: Win10(x64)**

**Issue description: I marked a DLL in visual studio to copy to output location, but the DLL was not copied to the export location**

**Steps to reproduce: Add some miscellaneous file to visual studio marked with a action of none, and always copy to output folder**

[2020-06-08 19:50] zontreck commented on #39402
My project is windows only, and for the server component of my project, I have a C# file including sqlite3.dll, to make use of SQLite database features. However this requires the DLL to be in the same folder as the final binary, it cannot be packed into the executable.

[2020-06-08 19:54] Calinou commented on #37691
I think the only thing we can reasonably do for now is removing the ability to set breakpoints when editing a C# script. Implementing C# debugging support in the Godot editor would be a very large task for something that external editors can already do well.

[2020-06-08 20:08] kuryart commented on #39238
Yes, I'm closing it.

[2020-06-08 20:09] #39238 closed

[2020-06-08 20:42] asheraryam commented on #37071
@chucklepie I didn't try that and I am not sure what you mean, but I guess you can download the beta from the website and make sure.

[2020-06-08 21:43] TomWor commented on #25798
That's an odd one. Anyone figure out a proper workaround for now at least?

[2020-06-08 21:52] RandomShaper commented on #3703
I've been checking this and thinking how to address it.

First of all, the main reason why the unwanted behavior happens is that **`Viewport`s only process picking events if not paused**. Therefore, an easy workaround for projects is doing this:
`get_node("/").pause_mode = PAUSE_MODE_PROCESS`

That way, the internal physics processing of the root viewport keeps running so it process the picking in

[2020-06-08 22:02] chucklepie commented on #37071
Import as atlas works in beta. What I meant by the texture array is I presumed the import option 'texture array' would create a sprite sheet out of selected graphics, but I guess not.

Doesn't help when you read the manual there is absolutely nothing on the 'import as...' options...

https://docs.godotengine.org/en/stable/getting_started/workflow/assets/import_process.html?highlight=import

or her

[2020-06-08 23:07] dominiks commented on #28872
I cannot reproduce this on 3.2.1. When the button is pressed and you hit the key for the shortcut it shows the same behaviour as clicking it: it is rendered in its normal state while the shortcut (or mouse button) is pressed down and goes back to the released state when released.

It is not possible to unpress the button in the ButtonGroup with a shortcut. I think this can be closed.

[2020-06-08 23:17] KoBeWi commented on #28872
Indeed, there were some changes in buttons that probably fixed this.

[2020-06-08 23:17] #28872 closed

[2020-06-08 23:24] hero2002 opened #39403 "some editor shortcuts dont work inside tileset editor"
i went to to disable grid snapping in tileset editor and i found that it dont work there
is there another shortcuts for it?
and thanks

[2020-06-08 23:34] SlothDevLlama commented on #17326
I still got this issue when using ParallaxBackgrounds. I wanted to use Area2D and mouse enter / exit signals in a Layer in ParallaxBackground and it also won't propagate mouse events correctly

[2020-06-08 23:44] Gastronok commented on #3703
Wouldn't setting the root node (which I had to access via `get_node("/root")` instead of `get_node("/")`)'s pause mode to PAUSE_MODE_PROCESS change the default behavior of all PAUSE_MODE_INHERIT nodes?

Right now all nodes default to PAUSE_MODE_INHERIT and, unless somewhere up on the scene tree something was set to PAUSE_MODE_PROCESS, they'll all pause when the game is paused.

By setting the root

[2020-06-09 00:09] lukostello commented on #31558
that would still have get at the beginning of 1 and the middle of the other. Instead of calling it get_active_material(), why not call it get_material()? Surely it isn't a stretch to infer that one wants the active one.

[2020-06-09 00:54] giulianob commented on #11030
@Calinou It's night and day difference for me! My use case is a tree with a lot of visible nodes. The latest 3.2.2 beta during scrolling gets ~30fps on a high end desktop whereas your change never drops below 70fps. It's seems my frame is not ast enough to maintain 144fps but that's ok, at least your change has the dynamic component which still then does its best to maintain as high FPS as it can

[2020-06-09 00:55] Resonious commented on #28622
I ran into this too and did some poking around. Turns out, there is an out-of-the-box solution:
[code]
Might make a docs PR pointing that out later.

[2020-06-09 01:39] timothyparez commented on #35897
This issue hit me again. For existing and new projects and I have no idea what changed.
Deleting the .sln file does not help either.

` editor/editor_node.cpp:5268 - An EditorPlugin build callback failed`

[code]

xbuild output:

[code]

[2020-06-09 02:28] timothyparez commented on #35897
I had to completely purge and re-install mono

[code]
That fixed it.

[2020-06-09 03:59] jluini commented on #38837
I changed the issue description as I'm getting the same bug in Linux (Ubuntu 20.04, 3.2.1.stable.official).

[2020-06-09 05:39] TokageItLab commented on #39383
I fix it. (Viridflow is my another account.)
https://twitter.com/viridflow/status/1270209467171270657

The cause of that behavior was "Child's global pose override was not inherit parent's global pose override". It is quite obvious. However, this would be better if a `set_global_pose_override()` implements inherit option.

I summarize and send marge request later.

[2020-06-09 05:53] akien-mga commented on #28622
See https://github.com/godotengine/godot/pull/27485 for context (CC @Faless).

Though @and3rson reported this against 3.1-stable, while this fix was added in 3.1.1-stable / 3.2-stable, so not sure if it was exactly the same issue.

[2020-06-09 06:58] oeleo1 commented on #21824
Okay, after some investigation I think I understand what's going on here. At least on Android, but I suspect iOS has a similar issue. I don't have a solution but hopefully the explanation will help fixing it appropriately.

Basically the main boot process is split in 2 steps, setup() and setup2().
Setup() does the command line parsing and initializes the video server/renderer (GLES2/3) then if all

[2020-06-09 07:08] Kayomn commented on #36351
Classes can circumvent this issue by inheriting `Godot.Object` but something to note is that this same rule does not apply when using generics.

Given the following structure signature:
[code]

The following code does not work:

[code]

Producing the same type marshalling error as above. However, when extended into a new type like so:

[code]

It works fine when used:

[code]

A similar behavior h

[2020-06-09 07:10] Calinou commented on #11030
@giulianob I don't know if Akien plans to release a fifth beta for 3.2.2, so it may be too late.

[2020-06-09 07:38] akien-mga commented on #21824
CC @m4gr3d, see above comment.

[2020-06-09 07:50] SecretPanda420 opened #39406 "Godot CLI fails exporting project due to "Invalid export preset name: HTML5"."
**Godot version:**
3.2.1 Headless 64 bit

**OS/device including version:**
Ubuntu 18.04.4 LTS

**Issue description:**
I'm setting up Github workflows for easy continuous integration while working on my project.
This is my `/.github/workflows/main.yml`:

[code]

and when exporting this project I get this error:
[code]
I guess the whole point of headless version is for easy CI. I've also tried expor

[2020-06-09 08:19] Calinou commented on #39406
Is your `export_presets.cfg` file committed to version control? This must be done for CI exporting to work.

Note that this file will contain sensitive credentials if you have Android export presets in your project.

[2020-06-09 08:33] tomsiw commented on #37105
I can confirm the error (Godot 3.2.1 + GeForce 210, driver version 342.01).
Notes:
1. Godot 3.1.2 does not crash the system even though GLES3 is used.
2. Out of several attempts only one didn't end up with system crash (black screen). For that single event in Windows Event Viewer I can find related entry: The NVIDIA OpenGL driver detected a problem with the display driver and is unable to continue

[2020-06-09 08:39] SecretPanda420 commented on #39406
I indeed did not commit `export_presets.cfg`. Thanks for pointing it out!
I'm getting this now while running it in the CI
[code]
How can I download the template managers in CLI?

[2020-06-09 08:49] Einlander commented on #15035
It seems mostly fixed. But you can still reproduce it by double clicking on a node in the scene tree. It ignore the other viewports and sticks with the first one.

[2020-06-09 08:52] wombatwingdings commented on #32746
Same problem here in Godot 3.2.2 Beta [#39134](https://github.com/godotengine/godot/pull/39134) (from 8 June 2020). Not using .OBJ files.

**OS/device including version:**
Windows 10

UV2 seem to be stored in memory only. They don't appear to be stored in the scene. Explicitly saving (ctrl+S) due to scene not being marked as modified (no "*" appearing on title). Reloading tscn; UV2 are there. Rest

[2020-06-09 09:15] Calinou commented on #39406
Download export templates and extract them to the appropriate folder:

[code]

We should add a CLI argument to do this in the future.

[2020-06-09 09:19] extremety1989 opened #39410 "c# Span struct not working"
3.2 stable version
windows 10

at godot page they say " Full support c# 8 " in documentation c# 7
well i wanted to implement Span struct ,here is the link https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-3.1

[2020-06-09 09:19] SecretPanda420 commented on #39406
Cool I'll be looking forward to it!

[2020-06-09 09:19] #39406 closed

[2020-06-09 09:31] Schweini07 commented on #39403
Shortcuts still work in the Tileset Editor.

Grid Snapping has the shortcut `Shift+G`

[2020-06-09 10:03] Schweini07 opened #39412 "Godot crashes with signal 11 after opening a new scene then clicking on the main scene"
**Godot version:**
3.2.1

**OS/device including version:**
Manjaro Linux 20.0

**Issue description:**
After opening a project then having the a scene open, if you open another scene and click again on the first scene Godot crashes with this error backlog:
[code]

**Steps to reproduce:**
1. Open a Project
2. Have already a scene open (when a main scene was already defined) or open another one.
3. O

[2020-06-09 10:11] Schweini07 commented on #39412
Quick Update: I tested on the newest beta, it didn't crash.

[2020-06-09 10:12] Schweini07 commented on #39412
Well it seems to be resolved.

[2020-06-09 10:12] #39412 closed

[2020-06-09 10:22] madmiraal commented on #39216
I'm unable to reproduce this issue. I've created a minimal reproduction project using the information provided:
[39216.zip](https://github.com/godotengine/godot/files/4751518/39216.zip)

I do not get the warning message in v3.2.1 or v3.2.2 beta 4.

@quanixstudio If you're able to provide your own minimal reproduction project that does show this warning, then please comment below.

[2020-06-09 10:43] madmiraal commented on #38269
As @pwab has pointed out, and the editor warns:

![ConcavePolygonShape warning](https://user-images.githubusercontent.com/9253928/84138244-de769480-aa45-11ea-8be9-c6bc6d65619a.png)

`ConcavePolygonShape` is not supported on `Rigidbodys` that are not in `Static` mode.

I've tested and confirmed that a `BoxShape` works as expected.

[2020-06-09 10:43] #38269 closed

[2020-06-09 11:07] txj-mssl commented on #39235
I hope to fix this error as soon as possible

[2020-06-09 11:18] txj-mssl commented on #39235
Estimated repair time?

[2020-06-09 11:24] akien-mga commented on #39235
What's your budget? :)

I already asked you not to ask for fixes in short deadlines (unless you're willing to pay someone to do the work). This is the `master` branch, and breakage is normal. There are dozens of other more critical issues that also need to be fixed. That branch is not usable in production at all, so putting so much pressure on having proper internationalization of the in-editor cl

[2020-06-09 11:30] txj-mssl commented on #39235
I just want to know how long it will take to fix it. It's not mandatory.

[2020-06-09 11:34] #39366 closed

[2020-06-09 11:34] #39367 closed

[2020-06-09 11:36] akien-mga commented on #39235
Well unless a contributor chooses to look into it and fix it, this will be on @reduz's shoulders as his changes created the problem. Here's currently busy with rendering work and will hopefully then move on to investigate regressions related to the DisplayServer and Window changes, so maybe within a few weeks to a month.

[2020-06-09 11:38] #28460 closed

[2020-06-09 11:38] #39374 closed

[2020-06-09 12:03] amedlock commented on #17125
I am on vacation til Monday but I will test then. Thanks.

[2020-06-09 12:12] sulai commented on #22226
This issue is a show-stopper when trying to collaborate with others remotely using a version control system. It's impossible to merge .tscn files that got its ID's mixed up. You end up overriding one or the other and redo and miss out on things that have been there before.

I agree with others like @vnen, that a stable ID like GUID/UUID sounds like the perfect fit for this problem, without being a

[2020-06-09 12:30] akien-mga commented on #36675
Confirmed in the current master branch (201d5a7fc53c041e011ad7a79b805f5989216d28).

[2020-06-09 13:19] magpie514 commented on #17277
I cannot try 3.2.2b4 at the moment, but in 3.2.1 it requires a weird dance of resetting the sizes, then the margins, then the size again until it kind of works.

[2020-06-09 13:20] shafy opened #39414 "Android: Read and write to app-specific external storage"
**Godot version:**
3.2.1.rc1

**OS/device including version:**
Oculus Quest

**Issue description:**
Per [Android documentation](https://developer.android.com/training/data-storage), app can store data in external storage without requesting additional permissions as long as it's in the app-specific folder. On the Oculus Quest, this folder is `/sdcard/Android/data/com.yourpackage.name/`.

Now, this

[2020-06-09 13:46] Calinou commented on #25333
Closing in favor of https://github.com/godotengine/godot-proposals/issues/216, as feature proposals are now tracked in the Godot proposals repository. (Please open another proposal if you need something not tracked in that proposal.)

[2020-06-09 13:46] #25333 closed

[2020-06-09 13:49] Calinou commented on #19486
Closing in favor of https://github.com/godotengine/godot-proposals/issues/142, https://github.com/godotengine/godot-proposals/issues/577 and https://github.com/godotengine/godot-proposals/issues/607, as feature proposals are now tracked on the Godot proposals repository.

[2020-06-09 13:49] #19486 closed

[2020-06-09 13:51] Calinou commented on #16942
Closing in favor of https://github.com/godotengine/godot-docs/issues/3390, as it includes this particular question (among many others).

[2020-06-09 13:51] #16942 closed

[2020-06-09 13:55] Flavelius opened #39416 "Disabled Editor feature: Visualscript still halfway unusable"
**Godot version:**
3.2.1.stable.mono.official

**Issue description:**
I want to disable visual scripting. The editor feature management unfortunately doesn't allow for this directly (it should), but to disable all VS node resources instead. If all nodes are disabled, this cleans up some endlessly scrolling dropdowns for exported resource fields which is nice but makes Visualscripts still show up i

[2020-06-09 13:56] Calinou commented on #3821
Collision avoidance has been implemented in https://github.com/godotengine/godot/pull/34776, closing.

[2020-06-09 13:56] #3821 closed

[2020-06-09 14:00] dominiks commented on #17573
I checked this in 3.2.1 and 3.2.2beta4 and can confirm this. The children of the ``AcceptDialog`` are in fact anonymously named ``@@2``, ``@@3`` and ``@@4``. You can add an element with the name ``HBoxContainer`` via script without any problems (adding another one with this name will result in the second element being renamed to ``@HBoxContainer@8``).

The problem also occurs when you add a ``Labe

[2020-06-09 14:18] dominiks commented on #30768
By default the ``MenuButton`` is set to be ``flat``. In this state it ignores the styles set in the theme. If you set ``flat`` to ``false`` it shows the styles as expected.

I think the ``OptionButton`` should not be flat by default as it leads to confusion. Or rename it to ``FlatOptionButton``.

[2020-06-09 14:23] Calinou commented on #30768
If MenuButton wasn't flat by default, then we'd have to override the style in the editor. It can certainly be done, but it will break the appearance in existing projects.

[2020-06-09 14:39] dominiks commented on #30768
I see. It should be handled similar to the ``FlatButton`` then, with the editor using a ``FlatMenuButton``. Until then the documentation should mention that this button is flat by default, contrary to its name.

[2020-06-09 14:58] Calinou commented on #30768
@dominiks We don't need to add a FlatMenuButton node for this. We just need to modify the editor theme so the "normal" style is invisible in MenuButton.

[2020-06-09 15:05] dominiks commented on #30768
Oh right it's the ``ToolButton`` I meant and mistakenly called ``FlatButton``. I agree with the idea that the ``FlatButton`` should be replaced in favor of setting the appearance via the editor theme.

Yes, you can find the information that the button is flat by default in the documentation but the behaviour of the ``MenuButton`` is very unexpected in comparison to the other buttons and the overri

[2020-06-09 15:41] quanixstudio commented on #39216
I downloaded your example and using it that way gave me the warning.
After that I added the Dispose and the warning was gone.

In the attached screenshot, the first run was without dispose and the second with dispose.

![godot](https://user-images.githubusercontent.com/43936740/84168793-1dbdd900-aa78-11ea-9788-0dea46b1b82f.png)

[2020-06-09 15:59] madmiraal commented on #39216
Looks like it may be OS specific. I'm using the x11_64 version. I assume you're using the win64 version.

[2020-06-09 16:40] m4gr3d commented on #39033
@pouleyKetchoupp I've finally got around to test your attached debug apk.
-  On a pixel 3XL running Android 10, here's what being rendered:
  https://drive.google.com/file/d/1Xh9IFEIZSUmvkhpbwa81yA0-QI4QRBU0/view?usp=sharing

   I'm also seeing several error logs in logcat:
[code]

- On a pixel 2xl running Android 10, nothing renders, and the following error logs are printed to logcat:
[code]

[2020-06-09 17:11] RandomShaper commented on #3703
Yes, I mistyped the root viewport path.

You're right in that the workaround is not good enough. I'll try something and make a tentative PR.

[2020-06-09 18:16] Filippopotamus commented on #27224
This is a valid use case. We've cloned Godot source and modified the android export to allow godot to run as a view inside of an existing Android app. We compiled the godot .aar module and added it to our Android project and exported the .pck from godot to be consumed by our godot module. However, it is extremely slow to load (16 seconds to load assets), meanwhile an .apk exported directly from go

[2020-06-09 19:26] Delectus98 opened #39420 "Resizing window to "minimal" size is muting AudioStreamPlayer2D"
**Godot version:**

Godot_v3.2.1-stable_mono_win64

**OS/device including version:**

OpenGL ES 3.0 Renderer: AMD Radeon HD 7480D
Windows

**Issue description:**

I'm trying to make a small resizable window to play music. When I play my own music, it seems that when the window is resized to a very small size, the AudioStreamPlayer2D sound is muted and then restored when the window size increases.

[2020-06-09 19:34] RandomShaper commented on #3703
Please have a look at #39421. Or, even better, try it. Just don't forget to enable the new setting in the test or real project.

[2020-06-09 19:43] Calinou commented on #27224
@Filippopotamus Please open a proposal on the [Godot Proposals](https://github.com/godotengine/godot-proposals) repository, as this is where feature proposals are now tracked.

[2020-06-09 19:52] Filippopotamus commented on #27224
@Calinou will do. In the meantime, off the top of your head, can you think of any reason why loading from .pck on android is so slow while on ios is basically instant?

[2020-06-09 19:52] KoBeWi commented on #39420
This is because the "2D listener" is placed at the center of the screen. When you minimize window, the center moves away from the AudioStreamPlayer2D.

[2020-06-09 19:54] bruvzg commented on #27224
There are opened proposals for the similar features: https://github.com/godotengine/godot-proposals/issues/946 and https://github.com/godotengine/godot-proposals/issues/947

[2020-06-09 19:59] Delectus98 commented on #39420
Ok i figured out why this is happening. The two sides (left and right)  of the window correspond to ears and when i'm resizing the window with this stretch (viewport and expand) the ears position are scaled too. This puts the positions of the ears even further away than when the size is proportional to the original size

[2020-06-09 19:59] #39420 closed

[2020-06-09 19:59] Calinou commented on #27224
@Filippopotamus I don't know why exactly. Maybe it's extracting the PCK from the APK every time a file is loaded from its virtual filesystem? That seems quite unlikely still.

[2020-06-09 20:39] Meriipu opened #39422 "Xlib clipboard/selection requests do not play well with the powersave FPS-cap"
**Godot version:**
Godot Engine v3.2..2.beta.custom_build.aa57bb047
aa57bb0473cb3930670bcfa3159f96262dfaa1dd

Edit: kind of a regression (see https://github.com/godotengine/godot/issues/39422#issuecomment-645950551 ). Introduced in ac14efcdfb22575fc49a75201492955e723d04c3.

Or instead of decoupling, make the part that deals with selections and clipboards more efficient somehow? Xlib is not very en

[2020-06-09 20:53] Calinou commented on #16863
Should we remove `OS.get_ticks_msec()` and `OS.delay_msec()` in favor of `OS.get_ticks_usec()` and `OS.delay_usec()` respectively? This would avoid having two ways to achieve the same thing. If you need a value in milliseconds, you can multiply it or divide it by 1000.

Also, both GDScript and C++ allow adding separators in integer literals, which makes large values more readable.

[code]

[code]

[2020-06-09 21:01] KoBeWi commented on #16863
If the removal happens, `get_ticks_usec()` description should mention the separators.

[2020-06-09 21:13] dalexeev commented on #16863
@Calinou On the one hand, you are right, but on the other - in most cases, such great accuracy is not required.

[2020-06-09 23:06] Gastronok commented on #3703
That patch makes the example project behave as expected, both as written and with a few extra minor tests that came to mind.

I don't have any real-world projects that have pause-problems right now but I do recall having seen similar complaints about pause functionality somewhere on the internet. If I can find them again I'll redirect them here; it'd be nice to know if this helps out the other com

[2020-06-09 23:22] Meriipu commented on #39422
I tried commenting out this line and it makes the sluggishness moderately less sluggish, but only moderately.
https://github.com/godotengine/godot/blob/master/editor/editor_node.cpp#L442

[2020-06-10 00:53] RocketBlueAutomation commented on #34135
I’m still getting the message “Entry point (_main) undefined for architecture armv7” when compiling Xcode generated by Godot 3.2.1 for my iPad gen5 and iPhone 8.  I just finished setting my system up with all the latest, including macOS Catalina 10.15.5.
How do I disable a need to compile for arm7 in Xcode 11?

[2020-06-10 00:54] FeralBytes commented on #27615
I just wanted to chime in that this recently bit me, as the order matters and so for complicated Dictionaries comparison via hash() is useless if just one element is out of order.

[2020-06-10 01:36] TokageItLab commented on #39383
Finaly it solved with memory parent transform value diffs.
Engine will not change :)

[code]

[2020-06-10 01:39] #39383 closed

[2020-06-10 02:54] Rubonnek opened #39425 "Unmatched half_float GLOBAL_DEF and GLOBAL_GET"
**Godot version:**
9901eac9f54dc5148a668acc5767d63da0665136

**OS/device including version:**
Arch Linux

**Issue description:**
[code]

**Steps to reproduce:**
* Clear disable half float settings on project.godot directly using a text editor.
* Set disable half float using the editor on project settings.
* Run editor.

[2020-06-10 03:05] mrushyendra commented on #38112
I believe selecting `New Image` simply creates an empty Image, which is not allowed for an `ImageTexture`. Instead you need to load an Image resource to use with this texture type.

The second error about having selected a `StreamTexture` appears because `ImageTexture` expects an [Image](https://docs.godotengine.org/en/stable/classes/class_image.html) datatype. To import an image file (.png, .jpeg

[2020-06-10 05:46] Anutrix commented on #39235
Icon issue seems to be because of a timing issue. The icons are not ready/populated when they are set during the EditorFileDialog's creation. This can be confirmed because https://github.com/godotengine/godot/blob/00949f0c5fcc6a4f8382a4a97d5591fd9ec380f8/editor/editor_file_dialog.cpp#L595 has no issues. In fact, just doing `_notification(NOTIFICATION_ENTER_TREE);` inside this function works.

[2020-06-10 06:49] Flavelius commented on #5988
This seems to have been reported in 2016 and i want to add that it's still very much wanted. Now that c# is there and _GetPropertyList is bugged for it, the workaround mentioned above can not be applied. Being able to hide but serialize properties is a not so uncommon requirement.

[2020-06-10 07:10] agameraaron commented on #27669
Hope I'm relevant. My locking up may be related to me resizing the partition or running out of space before that...? I'm clueless. Just letting you know I get random freezes and the alt trick works, what I was doing before that was having to close the most processor intensive thing when my CPU shouldn't even be stressing like Discord or Firefox. Another option I found right before finding this thr

[2020-06-10 07:25] asheraryam commented on #20994
Partially related to https://github.com/godotengine/godot/pull/38607

A lot of the points in the OP have been fixed, so might be worth closing this and opening a proposal for more VCS-friendly enhancements.

[2020-06-10 07:39] Calinou commented on #20994
Closing per @asheraryam's comment. If you still need a feature mentioned in this issue, please open a proposal on the [Godot proposals](https://github.com/godotengine/godot-proposals) repository.

[2020-06-10 07:39] #20994 closed

[2020-06-10 08:11] madmiraal commented on #35897
On Windows I get the following error messages in the console:
[code]
So it's correctly detecting that it can't find the msbuild file, but the error message is misleading.

[2020-06-10 08:28] SecretPanda420 commented on #39406
Does Godot not check for errors in scripts while exporting, or do I have to run each script using `godot -s <script>` before exporting to confirm that nothing in my project is broken? I purposely removed a `)` from a GDScript function declaration and the CI **passed** with output:
[code]
Is it just the way it should be or will it be considered another bug? I personally think it should check for er

[2020-06-10 08:29] akien-mga commented on #39401
As discussed in #39408, this can't be fixed and is thus not a bug but a design decision.
The `not` operator has relatively low precedence as it can often operate to negate compound expressions like `not a in array`.

[2020-06-10 08:29] #39401 closed

[2020-06-10 08:32] Gerarama commented on #32511
Update , I have done some debugging to see when file get corrupted.

When you open godot , after restarting the file it remind the same size. and all Ok
But inside Godot Editor you find it correpted , even tho All the data there.

![Annotation 2020-06-10 092903](https://user-images.githubusercontent.com/61591052/84245496-6cfe1b00-ab05-11ea-9f61-5873a86bf3d0.png)

when opening Godot all this data g

[2020-06-10 08:34] akien-mga commented on #39425
Fixed by #39426.

[2020-06-10 08:34] #39425 closed

[2020-06-10 08:45] Calinou commented on #39406
This is expected. Exporting doesn't perform any kind of static analysis. There's a `--check-only` CLI switch you can use along with `-s`.

[2020-06-10 08:47] #39119 closed

[2020-06-10 08:49] #39251 closed

[2020-06-10 09:09] madmiraal commented on #35897
After installing the [latest Stable Mono release v 6.8.0](https://www.mono-project.com/download/stable/) I get the following error messages at the console:
[code]
So installing the Mono SDK is not a sufficient prerequisite.

[2020-06-10 09:31] akien-mga commented on #35897
Yes, the .NET Framework 4.7 should be installed manually from Windows Update.

Godot 3.2.2 fixes that as it will retrieve the necessary framework version automatically.

[2020-06-10 10:14] madmiraal opened #39432 "modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.ArgumentException: Illegal characters in path."
**Godot version:**
v3.2.2.beta4.mono.official

**OS/device including version:**

Windows 10 Pro 1909

**Issue description:**

When opening a project, in the editor output, I get flooded with about 20 of the following errors:
`modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.ArgumentException: Illegal characters in path`
These then change to:
`modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.

[2020-06-10 10:14] SecretPanda420 commented on #39406
I personally think it should be done just as all other game engines do. There could also be a flag if used checks for errors in all the scripts while exporting. Although for now I'll stick to manually having another step which checks for errors in my scripts.
Thanks!

[2020-06-10 10:23] Calinou commented on #39432
Does this occur if you create a project in a path that doesn't contain spaces?

[2020-06-10 10:36] madmiraal commented on #39432
@Calinou Yes. I get the same errors with a new project in `C:\Users\Marcel\Downloads\Godot\Test`

[2020-06-10 10:40] madmiraal commented on #35897
As far as I can tell the .NET Framework is not upgraded via Windows Update. It needs to be downloaded and installed separately.

Unfortunately I can't test it properly with 3.2.2 beta 4, because of #39432. However, in addition to the errors reported in #39432, I get the related error (or it's completely separate, but without a stacktrace :-/) when trying to build the project:
[code]

[2020-06-10 11:02] goatchurchprime opened #39433 "Transform.xform_inv() is not the inverse of Transform.xform()"
**Godot version:**
3.2.1.stable

**OS/device including version:**
Windows10

**Issue description:**
The documentation claims that: xform "Transforms the given Vector3 by this transform" and xform_inv "Inverse-transforms the given Vector3 by this transform." but it is not the case.  The scale gets applied a second time instead of being undone.

https://docs.godotengine.org/en/stable/classes/class_t

[2020-06-10 11:29] durson opened #39435 "HDR render target not working for canvas shader (GLES3)"
Version: 3.2 (branch 3.2)
Commit tested: 4f02fd7ecac9bb3d4ded324dec3b670f5e459730
Commit tested 2: [tag 3.2]
Build opts: platform=x11 tools=yes target=release_debug bits=64

Backend: GLES3
GPU: GeForce GTX 1650 (mobile)
Driver Version: 440.82

Setup:
My scene has sub-viewport as follows:
|-Camera
|-Viewport (hdr enabled)
---|-ColorRect

ColorRect is equipped with a simple shader that fills viewpor

[2020-06-10 11:36] akien-mga commented on #29612
Fixed by #39169.

[2020-06-10 11:37] akien-mga commented on #29612
Well a fix is likely still needed for the `master` branch (#39169 fixed in `3.2`), so reopening to keep track of it.

[2020-06-10 11:50] Calinou commented on #39433
Related to #26432? (Just a wild guess.)

[2020-06-10 11:52] Calinou commented on #39422
I noticed that pasting the clipboard can take a very long time in other applications, if the current clipboard data comes from Godot. (Tested on Fedora 31 with the `3.2` branch.)

[2020-06-10 17:43] d0rf3n opened #39441 "Inconsistent file naming convention between docs and editor when attaching a script to a node"
**Godot version:**

3.2.1

**OS/device including version:**

Windows10

**Issue description:**

The docs (https://docs.godotengine.org/en/stable/getting_started/scripting/gdscript/gdscript_styleguide.html#file-names) says to use snake_case for files, but the editors automatic naming uses PascalCase, same as Node names.

**Steps to reproduce:**
Attach a script to any node, name is same (PascalCase)

[2020-06-10 17:54] shmellyorc opened #39442 "Godot Nightly Build - Vulkan doesnt work."
**Godot version:**
latest on: https://hugo.pro/projects/godot-builds/

**OS/device including version:**
Windows 10

**Issue description:**
I see everyone using Godot nightly with vulkan but won't work on mine. I got an AMD Radeon RX 580 and it won't show up. I even used the vulkan SDK cube to make sure it worked, it did. I tried multiple different version of vulkan (the sdk) and it still get a mas

[2020-06-10 18:24] Lechjocker opened #39443 "Godot is not working with HD4000/GLES3"
**Godot version:**
3.2.1 stable 32 bit

**OS/device including version:**
win10, hd4000 with latest drivers "10.18.10.5129"

**Issue description:**
When i create GLES3 project, godot is often not opening project and stucking on splash screen. After trying few times with new projects and restarting computer, i opened a project succesfully. after opening that it crashed again when i tried to save my

[2020-06-10 21:40] lyonsja opened #39445 "Nodes Missing Property Animation Descriptions"
**Godot version:**
3.2.1.stable.official

**OS/device including version:**
Platform: Windows 10 Education N Edition
Godot Version: 3.2.1.stable.official
Device: Ryzen 5 3600
GPU Model: NVIDIA GeForce GTX 1660 SUPER

**Issue description:**
When selecting a property to animate when adding an AnimationPlayer Track for a Control Node, there are no descriptions for the properties. Expected behavior is

[2020-06-10 21:48] vektrix1 opened #39446 "Errors from Scons when compiling Godot for iOS"
**Godot version:**

Standard

**OS/device including version:**
MacBook Pro 2013 13' running macOS Catalina 10.15.5

**Issue description:**
When compiling Godot Engine for iOS, several errors occur:
Build log:
[code]

**Steps to reproduce:**
download the Godot Engine source from GitHub and attempt to compile for iOS

[2020-06-10 22:46] vektrix1 commented on #39446
Nevermind lol, I was following the wrong guide. I don't need to compile from source as I don't intend to modify Godot's source code (for now). Sorry for the unnecessary issue, entirely my fault

[2020-06-10 22:46] #39446 closed

[2020-06-10 23:15] mnkylord opened #39447 "GridContainer element position is incorrect"
**Godot version:**
3.2.1

**OS/device including version:**
Windows 10

**Issue description:**

myGridContainer.get_children()[i].get_global_transform().origin
does not return the absolute screen position. This only applies to elements added by gdscript. The ones that are manually added in scene return the correct position.

**Steps to reproduce:**

You'd see that only the manually added children r

[2020-06-10 23:21] KoBeWi commented on #39445
Seems like no node will display descriptions.
![image](https://user-images.githubusercontent.com/2223172/84328282-d6237400-ab81-11ea-872d-378f7016160e.png)

[2020-06-10 23:36] KoBeWi commented on #5073
As of ffbea8a, the method is still not implemented for desktop.

However, XBox gamepad will prevent screensaver on Windows 10 even without game running, so maybe someone could test with other systems/gamepads (not to mention the bug could be fixed in another way).

Can anyone still reproduce this bug in Godot 3.2.1 or any later release (e.g. [3.2.2-beta4](https://godotengine.org/article/dev-snapsh

[2020-06-10 23:38] KieranCarden commented on #38866
Would like to add I'm experiencing this on OS X 10.13.3, Godot version 3.2.1, same project

[2020-06-11 01:12] systemsoverload commented on #38747
Any word on a fix? This is a bad blocker for me as Im trying to create a client and server in one project. Can't build either without modifying code between exports

[2020-06-11 01:16] MightyPrinny commented on #35258
I can confirm the selection cursor is not centered on linux, the selection is more accurate as the viewport size and position approximate to the window itself, so in distraction free mode the mouse is almost centered and a little high because there's no way to hide the top of the ui.

[2020-06-11 01:34] AttackButton opened #39449 "Deleting a Node modifies it saved animation file without intention"
**Godot version:**
3.2.2-beta 4

**OS/device including version:**
Windows 8.1

**Issue description:**
In `AnimationPlayer`, if you create an animation using some node, but then you delete that node, the saved animation will be modified even if you have not saved it again.

Even if the corresponding node has been deleted, the modification of the animation file related to it is not expected. Also be

[2020-06-11 04:21] aaronfranke commented on #39443
Intel's Windows drivers are known for being quite poor. If GLES3 support is important to you, one option is to install Linux, which [will allow you to use GLES3](https://www.phoronix.com/scan.php?page=news_item&px=MTMwMDg).

[2020-06-11 04:21] nightrobin opened #39451 "Vulkan: ImmediateGeometry3D is not visible"
**Godot version:**
4.0.dev Commit: ffbea8a

**OS/device including version:**
Windows 10 - 64 Bit

**Issue description:**
ImmediateGeometry3D is not visible when I try to draw a line
I **haven't** encoutered this issue on Version 3.2.1 stable

**Steps to reproduce:**
On function _ready()

[code]

**Minimal reproduction project:**
[Draw.zip](https://github.com/godotengine/godot/files/4762553/Draw.zi

[2020-06-11 04:50] clayjohn commented on #39451
ImmediateGeometry probably hasn't been implemented yet.

[2020-06-11 04:53] hilfazer commented on #39005
It also happens if any ancestor to node in question gets renamed.
But when the name is changed back Editable Children is back to checked status.

.tscn file keeps editable children like this
`[editable path="Lines/integer"]`
and those paths don't get updated on node rename.

[2020-06-11 04:53] nightrobin commented on #39451
@clayjohn What class/object I can use as a workaround for the meantime that I can use to draw lines? :)

[2020-06-11 05:21] clayjohn commented on #39451
You may be able to use ArrayMesh. Take a look at [this doc](https://docs.godotengine.org/en/latest/tutorials/content/procedural_geometry/index.html) for alternatives.

Keep in mind that 4.0 is unstable and isn't even in an alpha stage yet. You can't expect to be able to do everything in it yet.

You really should be using 3.2 if you want to work on any projects.

[2020-06-11 05:46] hilfazer commented on #33790
Maybe the information about editable children could be kept together with node? Like

`[node name="integer" parent="Lines" instance=ExtResource( 2 ) editable="y"]`

No need to deal with paths.

[2020-06-11 06:11] nightrobin commented on #39451
Thanks!

[2020-06-11 06:14] sian2005 opened #39452 "Internal Script Error"
**Your Godot version:**
3.2 stable

**Issue description:**
I got a ```internal script error``` with ```opcode #28```, it said I needed to report it so here I am.
You can see a picture of the error here:
![Internal Script Error](https://user-images.githubusercontent.com/62208362/84351355-83ff4480-abbb-11ea-9bef-cfcac476269a.PNG)
And in the output there also is a error that the resource file ```res:

[2020-06-11 06:54] akien-mga commented on #39443
You're not actually the latest drivers though, the 10 series is fairly old.

Try this one: https://downloadcenter.intel.com/download/29473/Intel-Graphics-Driver-for-Windows-15-33-?product=81499

[2020-06-11 07:08] dreamsComeTrue commented on #39452
Can you show us the script?

[2020-06-11 07:22] Calinou commented on #38747
@systemsoverload As a workaround, you could use environment variables, check for the presence of a file, check the executable name, and more.

[2020-06-11 07:24] FeralBytes commented on #18184
This is still a problem in Godot 3.2.2-beta4. I request the issue be reopened.

[2020-06-11 07:30] #39269 closed

[2020-06-11 07:30] #38487 closed

[2020-06-11 07:35] adabru commented on #21284
Hi @gmarais, can you still reproduce this in Godot 3.2.1? I couldn't reproduce a setup where characters disappear.

[2020-06-11 07:37] #39237 closed

[2020-06-11 07:42] mrimvo commented on #38747
Another idea: let your build script change constant variables in your .gd file between Exports. Maybe you got a auto-loaded Constants.Is_server=true, you can automatically change to false before exporting a client.
I'm using a python script to build, deploy and publish my game, and I do this kind of thing to set a version number that both server and client can read and check for. As far as I know,

[2020-06-11 07:53] Calinou commented on #38747
@mrimvo There's a pull request that implements a version project setting: https://github.com/godotengine/godot/pull/35555

[2020-06-11 08:07] adabru opened #39455 "LineEdit fontsize change doesn't update text position"
Searched the issues, didn't find a duplicate.

**Godot version: 3.2.1**

**OS/device including version:** Arch Linux

**Issue description:**
When decreasing (or increasing) the font-size of a LineEdit's font, the font shrinks as expected. But the shrinking happens always towards the left edge without respecting the horizontal alignment
![s](https://user-images.githubusercontent.com/6108978/8436057

[2020-06-11 08:28] RaTcHeT302 commented on #39442
@Calinou ok
!()[https://i.imgur.com/0f9HUQQ.png]
!()[https://i.imgur.com/LpQ5fIN.png]

[2020-06-11 08:51] Calinou commented on #39455
Note that if you're just looking to implement GUI scaling, going for the `2d` stretch mode and `expand` stretch aspect may be a better idea as outlined in [Multiple resolutions](https://docs.godotengine.org/en/latest/tutorials/viewports/multiple_resolutions.html).

[2020-06-11 09:01] nightrobin opened #39456 "Setting GLES2 as the Default Driver in the Project Settings does not work"
**Godot version:**
4.0.dev Commit: ffbea8a

**OS/device including version:**
Android 9 - Xiaomi Redmi 4
Android 9 - Xiaomi Redmi 6

**Issue description:**
Setting GLES2 as the Default Driver in the Project Settings does not work

**Error Encountered:**

[code]

Upon checking the engine's source code:

[code]

It fails when the android device does not support vulkan

**Steps to reproduce:**
1. Open

[2020-06-11 09:02] nightrobin commented on #39451
@Calinou I encounter this error even when I choose GLES2 in the Project Settings.

[2020-06-11 09:03] Zireael07 commented on #39456
GLES2 support is not done in master yet.

[2020-06-11 09:08] adabru commented on #39455
Indeed it's for GUI scaling. I read the post you linked and tried it several months ago but the aliasing effects of downsampling were unacceptable for my use case, especially since my application is very text-intensive. I didn't try enabling mipmaps on the fonts though.

[2020-06-11 09:16] dagophil commented on #36592
I just ran into the same issue and created a small project to reproduce it. I am using Godot Engine v3.2.1.stable.official.

[gd_tool_logs_error.zip](https://github.com/godotengine/godot/files/4763758/gd_tool_logs_error.zip)

Steps to reproduce:
- Open Scene.tscn of the attached project.
- Select the SomeTool node
- Assign the exported Entity Variable to the SomeNonTool Node. This produces a log e

[2020-06-11 09:22] nightrobin commented on #39456
Oh, I see. Thanks for the heads up

[2020-06-11 09:31] akien-mga commented on #39451
There's no GLES2 backend in the current `master` branch.

Again, if you're not familiar with the current state of the development branch, it's is **strongly** recommended that you stick to the stable 3.2 branch. Godot 4.0 is under heavy development and definitely not usable in production, nor supported as such.

[2020-06-11 09:32] akien-mga commented on #17267
Reopening as per @lawnjelly's comment.

[2020-06-11 09:34] akien-mga commented on #39456
That's not a bug, this is under heavy development and there is no GLES2 backend right now.

[2020-06-11 09:34] #39456 closed

[2020-06-11 09:49] Kayomn commented on #36351
Had a look through the code that produces this error and I reckon the issue is here:

https://github.com/godotengine/godot/blob/master/modules/mono/mono_gd/gd_mono_marshal.cpp#L915

From what I can surmise from this quick check either Godot or the Mono runtime builds a cache of supported object types. I assume it fails the `is_assignable_from` check for non-`Godot.Object` types for obvious reasons

[2020-06-11 09:56] lawnjelly commented on #17267
Yes, this may actually not be that difficult to fix, presumably there needs to be an animated flag on particles and skinned meshes so that they update in the same way as if you had moved them (I think this sets a dirty flag if I remember right).

[2020-06-11 10:04] Calinou commented on #39455
@adabru Enabling mipmaps on fonts and 2D graphics should do the trick.

[2020-06-11 10:43] shmellyorc commented on #39442
ye re-downloaded from https://hugo.pro/projects/godot-builds/ and it works great :D.

![image](https://user-images.githubusercontent.com/5901214/84376220-a0888600-ab95-11ea-9c34-426720aecae5.png)

[2020-06-11 11:02] dreamsComeTrue opened #39458 "3.2.2 b4: Project export [Win10]: not injecting 'Application' metadata into EXE (icon, company, copyright)"
**Godot version:**
3.2.2 beta4 official

**OS/device including version:**
Win10

**Issue description:**
**Steps to reproduce:**
When I try to export Win10 project, none of the attributes set in 'Application' section are being injected into final executable (icon, company name, copyright etc.)

![obraz](https://user-images.githubusercontent.com/1110337/84377760-71990100-abe3-11ea-9ab8-ed4910730e59.

[2020-06-11 11:06] nightrobin commented on #39451
Noted on this! 😅

[2020-06-11 11:13] mrcdk commented on #39458
Do you have `rcedit` downloaded and configured inside Godot? Follow the documentation https://docs.godotengine.org/en/stable/getting_started/workflow/export/changing_application_icon_for_windows.html

[2020-06-11 11:31] NutmegStudio commented on #38410
I also have this issue when compiling with `target=release_debug`. But when using `target=debug`  it works.
Pop OS 20.04 radeonsi.

[2020-06-11 11:33] dreamsComeTrue commented on #39458
Yep, that did the trick, thanks. I will close that issue, but maybe it's worth adding some sort of warning to the export window, when someone is attempting to do so like I did..?

[2020-06-11 11:36] #39458 closed

[2020-06-11 11:49] groud commented on #39447
Please upload a minimal reproduction project. It's required for the issue to be solved.

[2020-06-11 12:00] Calinou commented on #39451
This issue is still relevant - we should reimplement ImmediateGeometry3D in Vulkan.

[2020-06-11 12:13] Calinou commented on #39458
@dreamsComeTrue See #27765.

[2020-06-11 12:33] txj-mssl commented on #14582
It's been 18 days and I still haven't received a reply. I'm disappointed.I have gradually lost interest in Godot.

[2020-06-11 12:37] madmiraal commented on #36361
This only happens to me on Windows when using the [mono](https://www.mono-project.com/download/stable/) `msbuild`.

The full console error message is:
```C:\Program Files\Mono\lib\mono\msbuild\15.0\bin\Microsoft.Common.CurrentVersion.targets(2101,5): error MSB3248: Parameter "SearchPaths" has invalid value "<project folder>\.mono\assemblies\Debug\        .winmd". Illegal characters in path. [<proj

[2020-06-11 12:44] Calinou commented on #14582
@txj-mssl Please stop with the demanding attitude, or you may be blocked from Godot repositories.

[2020-06-11 12:49] txj-mssl commented on #14582
you are right.

[2020-06-11 12:56] txj-mssl commented on #14582
I'm just complaining, and you're threatening to ban me, so just ban me.

[2020-06-11 12:58] akien-mga commented on #14582
A reply to what? I didn't get any email from you on May 25 or within following days, as far as I can tell. I just checked my Spam inbox and didn't see any either.

[2020-06-11 13:00] txj-mssl commented on #14582
My email was to juan, not to you. Never mind, that's it, I'm sorry, I don't want to discuss it any further.

[2020-06-11 13:01] txj-mssl commented on #14582
Let's pretend this never happened.

[2020-06-11 13:47] njor opened #39459 "Mouse motion events are sent at irregular (and wrong) intervals"
**Godot version:** 3.2.1

**OS/device including version:** Ubuntu 20.04 LTS, 64 bits, Gnome 3.36.2

**Issue description:** Some InputEventMouseMotion seem to be queued / delayed, in a way that makes determining the mouse speed very error prone. It looks like events received by Godot are batched and sent on a frame-based interval (ie. every 1/60 of second).
Testcase (also included as an attachment)

[2020-06-11 13:49] hilfazer opened #39460 "Automatic warning insertion ignores line continuation."
**Godot version:**

Godot_v3.2.2-beta4_win64

**OS/device including version:**

Windows 7 x64 SP1

**Issue description:**

Happened:
[code]
Expected:
[code]

**Steps to reproduce:**
Run the minimal project and use automatic warning insertion option.

**Minimal reproduction project:**

[code]

[2020-06-11 13:53] Calinou commented on #39459
This is done by design since Godot 3.1. You can disable this behavior by calling `Input.set_use_accumulated_input(false)`.

If events aren't accumulated, then the `_input()` method could be called very often, leading to low performance and high CPU usage.

[2020-06-11 14:38] guilhermefelipecgs commented on #19950
I can't reproduce this in version 3.2.1, this was a bug in the old versions that was fixed when the viewport selection was improved, so I no longer see the need to lock.

[2020-06-11 14:42] nice-shot commented on #37931
Someone wrote about this issue in reddit:
https://www.reddit.com/r/godot/comments/g49alx/issues_when_uploading_on_itchio_html5/

It looks like it's caused by the use of iframe in itch that prevents third-party cookies. Don't know why it causes godot to crash but it can be fixed for a specific iPhone by going to `Settings > Safari` and disabling `Prevent Cross-site Tracking`.
This makes it work in