[2020-07-15 14:02] XBigTK13X opened #40415 "Game crashes without any information when parsing certain XML files"
**Godot version:**
- Godot Engine v3.2.2.stable.official

**OS/device including version:**

OS
 - Windows 10 Home 64-bit

GPU Model
 - NVIDIA GeForce GTX 1070

Drivers
 - 26.21.14.4614

Backend
- OpenGL ES 3.0 Renderer: GeForce GTX 1070/PCIe/SSE2

**Issue description:**
### What Happened
Using XMLParser to ingest an XML resource. The game silently crashes (even with -debug enabled) when the parser

[2020-07-15 14:06] CenTdemeern1 commented on #40366
I can definitely reproduce this on another machine!

[2020-07-15 14:07] CenTdemeern1 commented on #40366
It's just that it doesn't depend on anything related to any specific project.
It's a general issue that happens everywhere on anything at any time randomly.

[2020-07-15 14:24] Shulito commented on #40329
In Unity an Unreal it shows fine:

![unity](https://user-images.githubusercontent.com/2199770/87556820-7f7fed00-c68d-11ea-83c0-3c581868fc01.png)

![ue4](https://user-images.githubusercontent.com/2199770/87556836-84dd3780-c68d-11ea-9034-529a36879c5f.png)

I have no idea how Godot works internally, but maybe Godot and Microsoft Viewer use the same framework to load the meshes (something like assimp)

[2020-07-15 14:30] Rubonnek commented on #40366
Now that I think about it I've been experiencing some quite random crashes on Linux lately that seem to be related to this. I thought they were related to the LSP server, but this seems more reasonable.

If I were to guess it's a buffer overflow or stack smash we are not catching.

On Linux we don't build the engine with `-D_FORTIFY_SOURCE=2` for performance reasons, but I'll do that on my end and

[2020-07-15 14:31] qarmin commented on #40415
Backtrace is similar to #38904
[code]

[2020-07-15 14:35] fire commented on #40329
I checked in https://gltf-viewer.donmccurdy.com/ and it seems to load fine, so at least it's working in other gltf2 viewers.

[2020-07-15 14:37] eon-s commented on #39539
Maybe `Shift+Click` to avoid changing context?

[2020-07-15 14:38] KoBeWi opened #40419 "Undo Close Tab is unreliable"
**Godot version:**

3.2.2

**Issue description:**

Unfortunately I don't have exact reproduction steps, but sometimes when you close scene tab and use "Undo Close Tab" (in my case with shortcut), a different tab is opened. Previously I thought that the order might get messed up, but now I think that some scenes just don't get saved in scene history and trying to reopen them reopens a different tab

[2020-07-15 14:39] KoBeWi commented on #39539
More like Alt+Click, Shift is used for multiselecting. But sounds like a good option.

[2020-07-15 14:41] kfpenguin opened #40420 "Godot-mono crashes every time game builds with"
**Godot version**:

    Godot Engine v3.2.2.stable.mono.custom_build.6a9fbafcb

**OS/device including version:**

OS

    Manjaro

GPU Model

   GeForce RTX 2080 Ti

Drivers

    440.82

Backend

    OpenGL ES 3.0 Renderer: GeForce RTX 2080 Ti/PCIe/SSE2

**Issue description:**
**What Happened**

Just recently, every time my game builds, godot-mono crashes. If I play, it will still open debug windo

[2020-07-15 14:42] eon-s commented on #16918
Position changes in `_physics_process` is only for things that use physics bodies, it should not affect the camera behavior.

Maybe expose  `Camera.set_process_internal` on the inspector, on project settings, or bind it with the camera process mode?

[2020-07-15 14:43] kfpenguin commented on #40420
Sorry, forgot to include errors received:
ERROR: load_assembly: Condition "stored_assembly == __null" is true. Returned: false
   At: modules/mono/mono_gd/gd_mono.cpp:563.
ERROR: reload_scripts_domain: Mono: Failed to load 'GodotTools' assemblies.
   At: modules/mono/mono_gd/gd_mono.cpp:1108.

[2020-07-15 14:51] Calinou commented on #39539
I think not changing context should be the default. Changing context should require a modifier like <kbd>Alt</kbd> instead.

[2020-07-15 14:51] neikeq commented on #40399
Is the cs file included in the csproj? Did you check if the changes are actually ignored in the assembly or it's a different issue? Try with some assembly explorer or decompiler and check if the class contains your changes.

[2020-07-15 14:52] neikeq commented on #40399
Also check if there are any error in the Godot std output.

[2020-07-15 15:00] AnJo888 commented on #14562
Regarding this issue...
Recently, I decided to export my 1st Godot game and went through a similar situation...
Man... was I pissed...
Although the game was working well, in the IDE, the exported packages (both Windows and OSX) were not able to find a dozen different resources (.oog, .wav and .png).
After getting to this page (without figuring the issue out) I finally did a thorough check and this

[2020-07-15 15:00] vnen commented on #31899
If you mean the GDScript parser, I'm currently rewriting everything and the new code already uses this. Adding to the old version is just wasted effort since it's gonna be scrapped.
,

Sure, you can open a new issue about those, preferably with an exhaustive list of examples.

Not really, because the cache is for the editor, which keeps extra information (like a pointer to the node) which is not r

[2020-07-15 15:01] ghsoares commented on #40399
@neikeq Yes, I checked .csproj and all the compile references are there, looks like the assembly ignores these files because if I go to output, there are two steps that are ignored, like if I try build if I didn't changed anything: "GenerateTargetFrameworkMonikerAttribute" and "CoreCompile", but no error appeared, I can't say surely if is that because after I deleted .mono/temp folder to force the

[2020-07-15 15:04] KoBeWi commented on #16918
Looking at the code, something like `PROCESS_IMMEDIATE`, which disable all internal process, would make the most sense. The source code for smoothing and processing looks weird.

[2020-07-15 15:12] tom-jk commented on #12626
This appears to be working in 3.2.2.stable.

Here is a minimal project that includes an expansion of the script in the first post: [12626.zip](https://github.com/godotengine/godot/files/4925982/12626.zip)

![Godot12626_Screen](https://user-images.githubusercontent.com/64640811/87560816-c254bb80-c6b3-11ea-84a1-ccbaf5ef9629.png)

The script in the project makes navigation polygons of different shape

[2020-07-15 15:13] XBigTK13X commented on #40415
Thank you for the additional info.

If anyone is looking to work around this bug and doesn't need the comments, here is a snippet to strip them out at runtime. My particular use case doesn't allow me to preprocess the files on disk.

[code]

[2020-07-15 15:24] tom-jk commented on #35703
Can't reproduce in 3.2.2.stable.

![Godot35703_Screen](https://user-images.githubusercontent.com/64640811/87563560-4a889000-c6b7-11ea-9217-190c9b2fadc3.png)
(the blue rectangle is the selection marquee)

[2020-07-15 15:32] clayjohn commented on #40373
Fixed by #40410

[2020-07-15 15:32] #40373 closed

[2020-07-15 15:34] KoBeWi commented on #35703
Yep, fixed. Thanks for testing.

[2020-07-15 15:34] #35703 closed

[2020-07-15 16:32] hilfazer opened #40421 "Quick Open opens a scene in the Inspector as a Resource"
**Godot version:**

Godot_v3.2.2-stable_win64

**OS/device including version:**

Windows 7 x64 SP1

**Issue description:**

A scene opened using "Quick Open..." dialog didn't open normally but in the Inspector, like a Resource.

I expected it to open like when using "Quick Open Scene..." dialog.

**Steps to reproduce:**
Open the "Quick Open..." dialog (Shift+Alt+O) then select and open any scene.

[2020-07-15 16:38] nonunknown commented on #40299
@akien-mga The test you told me to do:

![Screenshot from 2020-07-15 13-36-24](https://user-images.githubusercontent.com/58845030/87571425-6b91b680-c6a0-11ea-8a77-37be3af7ea2f.png)

[2020-07-15 16:39] tom-jk commented on #35011
Can reproduce in 3.2.2.stable.

The issue does not occur if you assign a value to `b` at declaration (eg. `var b = 1`).

[2020-07-15 17:08] AndreaCatania commented on #40311
Internally the flush was moved into the `flush_queries` function; Since the shape change happens after the flush (into the `iteration` function) the shape is nullptr when the physics `step` is called, so the crash.

[code]

I'll provide a fix shortly.

[2020-07-15 17:10] richard14110 commented on #40360
I wonder if the following would work (which only triggers if the file is externally created):

1. A user gives the engine the focus after a .cs file is made outside of the engine and inside of the project folder.
2. The editor gets the path and name of the .cs file and remembers those.
3. The engine reads the .csproj file and knows what to write to the project file.
4. Godot determines if the .csp

[2020-07-15 17:19] lyuma opened #40423 "[vulkan] default shader params show as 0 in inspector."
**Godot version:**
4.0.dev.calinou.3ed5ff244

**OS/device including version:**
Windows 10.0.18362.900, NVIDIA / Vulkan

**Issue description:**
Shader params set to null use shader default, but show as 0 in the inspector.

<img width="736" alt="godot_null_param" src="https://user-images.githubusercontent.com/39946030/87574880-e698a400-c683-11ea-8e49-a1198e061c00.png">

**Steps to reproduce:**
Creat

[2020-07-15 17:28] Calinou commented on #40299
Speaking of which, the error message should specify which Vulkan version is required (1.0, 1.1, 1.2, …).

[2020-07-15 17:41] sian2005 commented on #21712
The ability to copy and paste tile collision masks in the TileSet Editor is something I really wish Godot already had...

[2020-07-15 18:15] richard14110 commented on #40360
Before, I meant that I want Godot to update the .csproj file instead of another program.

[2020-07-15 18:23] lyuma opened #40425 "[vulkan] Light2d overrides unshaded canvas_item"
**Godot version:**
4.0.dev.calinou.3ed5ff244

**OS/device including version:**
Windows 10.0.18362.900, NVIDIA / Vulkan

**Issue description:**
I made a simple unshaded canvas_item shader. The color output by fragment is overridden by the light texture if no light() function is implemented.

This may be a duplicate of: https://github.com/godotengine/godot/issues/36112 - but the issue in this case i

[2020-07-15 18:27] Calinou commented on #21712
Closing in favor of https://github.com/godotengine/godot-proposals/issues/896, https://github.com/godotengine/godot-proposals/issues/648, https://github.com/godotengine/godot-proposals/issues/265 and https://github.com/godotengine/godot-proposals/issues/574, as feature proposals are now tracked in the Godot proposals repository.

[2020-07-15 18:27] #21712 closed

[2020-07-15 18:29] awalone995 commented on #40001
tried it on mono build only, the issue occurs after creating the first script (any kind)
there's no such issue on 3.2.1 btw

[2020-07-15 18:29] lyuma opened #40426 "[vulkan] canvas_item shaders fail to compile if LIGHT= is assigned from void light()"
**Godot version:**
4.0.dev.calinou.3ed5ff244

**OS/device including version:**
Windows 10.0.18362.900, NVIDIA / Vulkan

**Issue description:**
I made a simple unshaded canvas_item shader with a simple light() function that outputs to LIGHT. If I do this, it causes a vulkan
[parse error in the console (attached)](https://github.com/godotengine/godot/files/4927223/v4.0.dev.calinou.3ed5ff244_output.t

[2020-07-15 19:00] akien-mga commented on #40421
Fixed by #39928 already.

[2020-07-15 19:00] #40421 closed

[2020-07-15 19:39] richard14110 commented on #40360
Before, I wanted Godot to update the .csproj file instead of another program.

[2020-07-15 19:43] richard14110 commented on #40360
Before, I wanted to update the .csproj file with Godot instead of another program.

[2020-07-15 19:47] Lexpartizan commented on #40322
@mrushyendra
Thank you, I didn't expect that these are really different concepts. This can lead to confusion.
https://github.com/godotengine/godot/issues/37227

[2020-07-15 20:02] chrisskeddy opened #40430 "GDScript built in float(int) error"
OS: MXLinux
Godot Engine v3.2.2.stable.official - https://godotengine.org
OpenGL ES 3.0 Renderer: GeForce GTX 960/PCIe/SSE2

GDScript seems to have a bug when converting large numbers from ints to floats. The large numbers are near 32bit max in other languages but should not be a problem since GDScript is using 64bit for storing the data.

[code]
The above code produces the following. The conversi

[2020-07-15 20:03] lyuma opened #40431 "[4.0] External changes to shader overwritten if builtin editor has ever shown that shader"
**Godot version:**
4.0.dev.calinou.3ed5ff244

**OS/device including version:**
Windows 10.0.18362.900, NVIDIA / Vulkan

**Issue description:**
When a shader is changed from an external program, it is updated as expected. However, if the shader is opened in the text editor (double clicking the shader resource, or selecting it in a material), the original contents of the shader are displayed.

If th

[2020-07-15 20:05] richard14110 commented on #40360
Before, I wanted Godot to update the .csproj file (instead of another program) after a .cs file is created outside of the engine and inside of the project folder and after the editor gets the focus.

[2020-07-15 20:21] beeryt commented on #17122
I can use `_get_property_list()` to create a `PROPERTY_USAGE_GROUP`, but it only appears to group properties which are returned from `_get_property_list()`. I would like to either
- a) move a property from `get_script_property_list()` into `_get_property_list()`
- b) add a `PROPERTY_USAGE_GROUP` property to `get_script_property_list()`

As far as I can tell in 3.2.1 I can halfway accomplish this b

[2020-07-15 20:27] chucklepie opened #40433 "Export enums fail to parse when using new := declaration format"
**Godot version:**
3.2.2 stable

**OS/device including version:**
Linux Mint

**Issue description:**
When declaring an export of type enum, only the original way of declaring type in brackets work, if you use := then you get an error of 'Invalid export type. Only built-in and native resource types can be exported.'

[code]

[2020-07-15 20:34] Calinou commented on #28618
This is now fixed in the `master` branch thanks to https://github.com/godotengine/godot/pull/36231. (The fix applies both to scalar and vector fields.)

![Normal property](https://user-images.githubusercontent.com/180032/87589797-12e50c80-c6e6-11ea-8cae-de33f280f455.png)

![Editing property](https://user-images.githubusercontent.com/180032/87589764-0a8cd180-c6e6-11ea-9743-54ca891d4f65.png)

[2020-07-15 20:34] #28618 closed

[2020-07-15 20:39] naturally-intelligent commented on #14562
Just chiming in with a solution I found to work.

Create dummy nodes for all your resources. Then use/duplicate those nodes.

I know it's a pain in the butt, and more effort than it should be, but it's the most reliable way I've found.

[2020-07-15 21:15] dugramen opened #40435 "Tile floodfill not working with tiles in same atlas"
**Godot version:**

3.2.2

**OS/device including version:**

Windows 10

**Issue description:**

I have a tile atlas containing "floor" tiles. I expected to be able to fill in a floor with a different tile using the fill bucket, but it doesn't do anything.
Instead, I have to fill in the floor with a different tile (one not from the same atlas) and then fill it again.

**Steps to reproduce:**

- Op

[2020-07-15 21:48] PanTrakX commented on #40369
Looks like when you set a `Fixed FPS` it works! A quick fix is to set the FPS to 30 which is the default!

[2020-07-15 22:07] tom-jk commented on #23226
MRP in 3.2.2.stable on linux mint 18.3, GeForce GTX 750 Ti, i7-6700K @ 4x4GHz:
[fast movement video comparison (length 0m33s)](https://youtu.be/akif40-1zH8)
[slow movement video comparison (length 0m41s)](https://youtu.be/CuwaBfqCl7c)

both engines look quite similar to me.

[2020-07-15 22:26] neikeq commented on #40360
I won't make Godot check the filesystem to add files created externally. It's the same with IDEs, they only add the file if you create it from the IDE.
With 4.0 we are switching to project Sdk that includes all `.cs` in the dir and sub-dirs by default, so this will no longer be a problem.
You can get a similar effect right now with latest stable by adding `<Compile Include="**\*.cs" />` to your cs

[2020-07-15 22:26] #40360 closed

[2020-07-15 22:43] Frooztyes commented on #17563
Hi, this issue is closed, but i am having this problem in Godot 3.2.2.stable. It like the screenshot at the start of the thread.

[2020-07-15 22:48] Frooztyes commented on #17563
Hi, i am having the same issue on Windows 10 Godot 3.2.2.stable. But it's not resolving when i drag the window. Any idea ?

[2020-07-15 23:08] Shadowblitz16 commented on #40385
I have set the owner
`c.set_owner(_pwr_bars)`

[2020-07-15 23:37] volzhs commented on #40385
`owner` should be the currently open scene.

[2020-07-15 23:49] Shadowblitz16 commented on #40385
@volzhs ok oh that resolves this issue.
thankyou

[2020-07-15 23:49] #40385 closed

[2020-07-16 00:12] KoBeWi commented on #14331
Doesn't seem to happen in 3.2.2. I restarted the scene ~50 times.

[2020-07-16 00:12] #14331 closed

[2020-07-16 00:28] richard14110 commented on #40360
I already knew about that line but I hope that the user doesn't have to manually edit the .csproj file. Is there any chance that a newer Godot version 3.x.x switches to the better project SDK? Certain computers cannot use Vulkan but support OpenGL 3.3.

[2020-07-16 01:33] Wavesonics commented on #11936
Is this still an issue? There are no docs explaining exactly what `set_clip` is supposed to do, so I'm not sure if it's working or not.

[2020-07-16 02:00] sicienss commented on #40404
I figured out what was causing the crash.

I had a code block of the following form in the object that was causing the crash.

[code]

[2020-07-16 04:12] elixs opened #40439 "Input Map action doesn't support two directions of same joy axis"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10

**Issue description:**
If you set both directions of the same joy axis of the same device to one action, Input.is_action_pressed only is true when the first joy axis direction is pressed

**Steps to reproduce:**

1. Add a new action "test" to the Input Map
2. Add Joy Axis "Device 0, Axis 0 - (Left Stick Left)" to test
3. Add Jo

[2020-07-16 05:28] Hromon opened #40440 "3.2.1 don't work virtual method"
**Godot version:**

3.2.1

**OS/device including version:**

Windows 10

**Issue description:**

The problem was when compiling Godot with the Zylann voxel module. The most interesting thing is that Godot does not want to compile virtual methods and mark them as such. Because of what I cannot carry out full-fledged inheritance and create my own stream for generation.
Issue: https://github.com/Zyla

[2020-07-16 06:47] Keetz commented on #12139
@KoBeWi I just tested this in 3.2.2-stable and it is still an issue.

I created a scene Main.tscn.
Then i created a scene Child.tscn and instanced a few Node2D nodes.

I instanced the Child.tscn in the Main.tscn and enabled editable children.
I then added a new Node2D in the Main.tscn but as a child of the instanced Child.tscn and moved that node up between some of the other nodes.
Saved, closed a

[2020-07-16 07:18] Calinou commented on #40439
Just a gut feeling, but this is probably because the strength of one input "overrides" the other input completely. I'm not sure how this should be fixed.

[2020-07-16 07:28] Calinou commented on #40435
@dugramen Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-07-16 07:29] Calinou commented on #40369
You generally don't want to set the fixed FPS below 60 as it will make your particles look stuttery. (Godot doesn't interpolate them between frames).

Even with fixed FPS set to 60, particles will look less smooth than the rest of the game on high refresh rate monitors, so it's not an ideal solution.

[2020-07-16 07:31] Calinou commented on #11936
@Wavesonics Looking at the source code, it still appears to do nothing. It should probably be removed now.

[2020-07-16 07:31] ghost opened #40441 "Viewports do not register 2D Cameras while in the editor"
**Godot version:**
v3.2.1

**OS:**
Windows 10

**Issue description:**
When rendering the contents of a Viewport while in the editor, it ignores Camera2Ds. The bug does not occur when rendering 3D objects using a viewport.

**Steps to reproduce:**
1. Open reproduction project
4. Observe editor preview of a Viewport with a 2D scene with 2D.tscn

![image](https://user-images.githubusercontent.com/346

[2020-07-16 07:32] Nikhil-42 commented on #40441
The error does not occur when rendering 3D nodes with a viewport.

[2020-07-16 07:33] Calinou commented on #40441
Duplicate of https://github.com/godotengine/godot/issues/39387 and possibly others.

[2020-07-16 07:37] Nikhil-42 commented on #40441
Wow, that was fast, how did you find a duplicate so quickly? I spent almost an hour scanning through the issue tracker.

[2020-07-16 07:43] Nikhil-42 commented on #40441
@Calinou Actually I don't believe this issue is a duplicate of #39387, that one is about the viewport's child nodes not displaying when selected but this issue is about 2D cameras not registering with the viewport until runtime.

[2020-07-16 07:48] Calinou commented on #40441
@Nikhil-42 This one then? https://github.com/godotengine/godot/issues/19638

[2020-07-16 07:51] Calinou commented on #7499
It's been 1 month since Akien posted a comment, so I'll close this.

___

Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue

[2020-07-16 07:51] #7499 closed

[2020-07-16 07:52] bojidar-bg commented on #40433
![image](https://user-images.githubusercontent.com/5276727/87642580-6725d600-c752-11ea-81d4-aff4f56a2945.png)

Are you sure?

[2020-07-16 07:53] Calinou commented on #40433
I believe string descriptions for exported enums are mandatory since Godot 3.2.

[2020-07-16 07:55] Nikhil-42 commented on #40441
@Calinou #19638 is more similar but my issue is persistent even after restarting the editor and duplicating the viewport container.

[2020-07-16 07:58] X52p commented on #36958
Did anyone try to use a different build tool? (In Editor Settings -> Mono -> Builds and than something other than VS Build Tools)
I tried but I could not get them to compile (It is not finding the libraries).

Is there any documentation on how to use them? Then I could set them up correctly and give it a try. (I'm new to using Mono and NuGet, sorry if this is a stupid question)

[2020-07-16 08:08] Calinou commented on #24296
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-07-16 08:08] #24296 closed

[2020-07-16 08:08] Calinou commented on #24347
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-07-16 08:08] #24347 closed

[2020-07-16 08:11] Calinou commented on #27024
Closing in favor of https://github.com/godotengine/godot-proposals/issues/527, as feature proposals are now tracked in the Godot proposals repository.

[2020-07-16 08:11] #27024 closed

[2020-07-16 08:13] Calinou commented on #32328
Closing as resolved per the above comment.

[2020-07-16 08:13] #32328 closed

[2020-07-16 08:14] Calinou commented on #31384
This is now fixed with the new FPS indicator in the `master` branch (which is more accurate and displays CPU/GPU time separately), closing.

[2020-07-16 08:14] #31384 closed

[2020-07-16 08:16] Calinou commented on #28877
Closing, as there's not much that can be done on our end. In 3D, you can enable **Half Resolution** in the **Perspective** menu at the top-left corner of the 3D viewport to speed up rendering while in the editor.

[2020-07-16 08:16] #28877 closed

[2020-07-16 08:17] Calinou commented on #17920
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-07-16 08:17] #17920 closed

[2020-07-16 08:17] Calinou commented on #28593
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-07-16 08:17] #28593 closed

[2020-07-16 08:30] tom-jk commented on #35486
3.2.2.stable, looks to be resolved.

![35486](https://user-images.githubusercontent.com/64640811/87646252-7b63d600-c746-11ea-8f85-b45c1f3747da.gif)

[2020-07-16 08:35] Calinou commented on #35486
Closing as resolved per @tom-jk's comment.

[2020-07-16 08:35] #35486 closed

[2020-07-16 08:42] chucklepie commented on #40433
@bojidar-bg
export(TURRET_STYLE) var temp4 = TURRET_STYLE.FULL

This line works. There should be no difference between casting and () as far as declaration of variables go.

Regarding your other point, yes you're right, who'd have thought the GDScript parser only shows the last error and not the first... But that does not detract from the question so I will adjust my question to make it simpler.

[2020-07-16 08:47] bojidar-bg commented on #40433
@chucklepie What I meant in my comment is that enum type hints are not implemented in 3.2.x, while you listed "3.2.2" as the Godot version in the issue template. So, it is not possible to declare such a variable even without `export` there.

[2020-07-16 08:49] Tooniis commented on #40384
I added a reproduction project if that would help

[2020-07-16 09:02] belen-albeza commented on #16259
It looks like thread support was added in this commit https://github.com/godotengine/godot/commit/21c9f37757d564009e9e400142b3b4c70af237d3 Does it provide a way to fix this bug?

If not, would it be feasible to make @stdio2016 workaround to be added automatically to the HTML export?

Thanks!

[2020-07-16 09:41] Calinou commented on #23226
@tom-jk Thanks for making video recordings :slightly_smiling_face: Closing.

[2020-07-16 09:41] #23226 closed

[2020-07-16 09:58] Calinou commented on #6655
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-07-16 09:58] #6655 closed

[2020-07-16 09:59] Calinou commented on #28626
@ssoher  Can you (or anyone else) still reproduce this bug in Godot 3.2.2 or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag and drop.

[2020-07-16 10:24] Xrayez commented on #28626
It currently doesn't work in 3.2.3 with <kbd>Alt</kbd> being pressed (works with keyboard arrows). Only <kbd>Shift</kbd> works as implemented in #19936. Perhaps this could be remapped to <kbd>Alt</kbd> if that's a big deal. 😮

[2020-07-16 11:01] KaDokta commented on #28922
Sadly even with file logging enabled, I don't get any warnings or error messages in the log file. Seems to be a deeper problem.

[2020-07-16 11:18] nonunknown commented on #10402
Heres a video showcasing the problem in a depper way:

https://www.youtube.com/watch?v=_Be3nOfe0ao

Also I think in my humble opinion, since this post last since 2017, this bug should be
**roadmap for 4.0 and cherrypicked for 3.2**

[2020-07-16 11:19] codewing commented on #30970
I'm adding Tomlyn with:
[code]

Then I use `nuget restore` and `msbuild /t:restore` but godot still gives me build errors.
In the Rider IDE it works but I would love to use the editor aswell.

[2020-07-16 11:28] PanTrakX commented on #40369
Then why to even have an `Fixed FPS` option?

[2020-07-16 11:35] securas commented on #40369
Fixed fps is useful at least when you want to make particles look that way.
E.g. pixel art.

On Thu, Jul 16, 2020, 20:28 Panos Trakadas <notifications@github.com> wrote:

[2020-07-16 11:38] PanTrakX commented on #40439
Until this gets fixed you can do:
[code]

[2020-07-16 12:07] Calinou commented on #28922
@akien-mga Is it possible to compile release export templates that include debugging symbols with MSVC? This would be helpful to diagnose crashes like this one.

[2020-07-16 12:08] Calinou commented on #28626
@Xrayez I guess you could make it so it works with both <kbd>Alt</kbd> *or* <kbd>Shift</kbd>, just in case.

[2020-07-16 12:14] ginobean opened #40444 "disabling quality/reflections/texture_array_reflections causes OpenGL error ID=1282 to be emitted [GLES3]"
Godot version 3.2.2.stable

Linux
Description:	Ubuntu 20.04 LTS
Release:	20.04
Codename:	focal

using GLES3 renderer.
**OS/device including version:**

Distributor ID:	UbuntuOpenGL ES 3.0 Renderer: GeForce GT 710/PCIe/SSE2

**Issue description:**

First, enable verbose logging, by setting project setting:
  settings/stdout/verbose_stdout=true

Then, I set the project setting:
   quality/reflection

[2020-07-16 12:17] Xrayez commented on #28626
@Calinou you previously mentioned that <kbd>Ctrl</kbd> is also common in other software: https://github.com/godotengine/godot/pull/19936#issuecomment-505522374. Perhaps we could handle all the modifiers, just in case? 😃

[2020-07-16 12:17] groud commented on #40439
Interesting point. IIRC, when mapping the event to an action, we need to set the action to zero when the axis goes the opposite direction. Indeed, the controller might not trigger an event with a zero  value, so this behavior is needed to set the action strength to zero.

Setting the axis to 0 might be conditioned to the action not having a binding to the other direction I guess, that might solve

[2020-07-16 13:08] Calinou commented on #28967
@Jeto143 Can you (or anyone else) still reproduce this bug in Godot 3.2.2 or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag and drop.

[2020-07-16 13:18] KoBeWi commented on #23239
@QbieShay The "unselectable children" option was added for 3D in 3.2. Does it resolve the issue?

[2020-07-16 13:22] KoBeWi commented on #12139
@Keetz This is more like #23766 (this issue is about inherited scenes)

[2020-07-16 13:24] KoBeWi commented on #23766
Still valid in 3.2.2

[2020-07-16 13:33] KoBeWi commented on #11429
Seems to still be happening in 3.2.2, but I don't think it's really a bug. It does no harm and can prevent loss of data if you remove the uniform accidentally (also the "cached" value is not saved in the scene and disappears on reload). You can reopen if you want, but in a new issue as I said in the previous comment.

[2020-07-16 13:33] #11429 closed

[2020-07-16 13:39] KoBeWi commented on #21804
Still valid in 9e34ba4

[2020-07-16 14:11] EricEzaM commented on #40431
#40333 could be related.

[2020-07-16 14:24] Keetz commented on #12139
@KoBeWi ah yes of course, sorry for the inconvenience :smile:
This indeed works fine in 3.2.2-stable

[2020-07-16 14:40] Xrayez commented on #28626
I got curious how currently <kbd>Alt</kbd> works as described in OP.

https://github.com/godotengine/godot/blob/45d0799b5b4a62f7764c0b9e318a9d1547c7083b/scene/gui/tree.cpp#L2188-L2194

So yeah... All that was needed is simply adding the logic directly to `Tree` input handling to support mouse input (mainly talking about #19936). But given [solutions must be local](https://docs.godotengine.org/en/l

[2020-07-16 15:06] adityabmv27 opened #40449 "3D Viewport controls are not working properly in godot 3.2.2 after fresh installion"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10

**Issue description:**
I installed Godot For the first time and when I try to follow an online instructor on how he controls the 3D viewport nothing seems to work in my system. For Example -
1) Instructor said to use Middle-Mouse-Button for orbiting but for me it does not work. But Orbiting worked when I HELD RIGHT-CLICK.
2)Ins

[2020-07-16 15:09] CenTdemeern1 commented on #40366
Oh! I just remembered.
This is not the only error or whatever that occurs in the same way as this.
Sometimes, when running from the editor, it randomly fails to connect to the process for debugging.

[2020-07-16 15:15] Rubonnek commented on #40366
Hmm... looks like this issue if far more specific to Windows. I've been running Godot with the GCC canaries and I have not been able to reproduce a crash after all.

[2020-07-16 15:50] Bimi124 commented on #40337
Okay. Let's see if the bug appears again.
p.S: A automatic update function would be nice:wink:

[2020-07-16 15:51] tom-jk commented on #35468
Tested in Godot 3.2.2.stable on linux mint 18 with this test project: [35468.zip](https://github.com/godotengine/godot/files/4932593/35468.zip)

Steps to try:
1. load project
2. select sprite, "Create CollisionPolygon2D Sibling" (with any high-complexity settings, like simplif' 0.01, shrink 3, grow 6)
3. reload scene
4. repeat 2 and 3

Godot editor gains maybe a megabyte or two every one or two re

[2020-07-16 16:02] KoBeWi commented on #21300
Closing as non-bug then.

[2020-07-16 16:02] #21300 closed

[2020-07-16 16:07] KoBeWi commented on #21175
Duplicate of #7278

[2020-07-16 16:07] #21175 closed

[2020-07-16 16:10] andy-noisyduck commented on #28247
2D, but I can replicate this with a new empty project in 3.2.2 (so long as GLES2 is set). The splash never shows (including the Godot default splash), and where the splash should be is a bright pink/magenta screen. The issue is not present when using GLES3.

I'm testing against iOS 13.6 via the Xcode Simulator (though 13.5 also had the same issue). I was able to replicate the issue both with and w

[2020-07-16 17:13] Calinou commented on #40337
There are no plans to add automatic updates, as Godot updates can break compatibility. You don't want the engine to update itself while you're working on releasing a project.

[2020-07-16 17:25] Calinou commented on #40449
Holding the right mouse button will toggle *freelook* mode in 3D, which is different from orbiting around a fixed point. (That said, the middle and right mouse button do the same thing in 2D, which is panning.)

PS: Godot is written as a proper noun, not in uppercase. It's not an acronym.

[2020-07-16 17:35] tom-jk commented on #34252
Tried and failed to reproduce in 3.2.2.stable.

Test project I made (following only the description given in original comment): [34252.zip](https://github.com/godotengine/godot/files/4933178/34252.zip)

@grevius5 do you still have this issue? Can you reproduce it with this project? If not, could you supply one that does?

[2020-07-16 18:14] ghsoares commented on #40399
This issue happened again and I could copy the output of the msbuild (Translated from portuguese and omitted some personal and game info because isn't public yet):

[code]

It seems like it ignores GenerateTargetFrameworkMonikerAttribute and CoreCompile, saying that ouput folder is the same as input.

[2020-07-16 18:27] VitaZheltyakov opened #40451 "16-bit textures are not displayed correctly"
**Godot version:**
Godot 3.2.2

**OS/device including version:**
Windows, GLES2, GLES3

**Issue description:**
Any 16-bit textures are displayed incorrectly - look blown out.
Below are two textures. The left texture is 8-bit. The right texture is 16-bit. The difference is obvious.
![Снимок](https://user-images.githubusercontent.com/5693437/87707406-1ba31480-c7b2-11ea-9622-26661fcd9c58.JPG)

**Step

[2020-07-16 18:29] Gerarama commented on #40451
Try changing the tonemap to filmic and see if the problem still.

![Annotation 2020-07-16 192951](https://user-images.githubusercontent.com/61591052/87708445-0a9ed700-c7a3-11ea-8157-eb5868568627.png)

[2020-07-16 19:27] Rubonnek opened #40452 "EditorPlugin crashes editor on EditorInspector::update_tree"
**Godot version:**
3.2 branch commit -- 4abebfa476c54552f55b03bb43d72bd29a7a26b1

**OS/device including version:**
Arch Linux

**Issue description:**
Relative paths on `load` function return `null`, which is normal according to the documentation.

What I didn't expect is that somehow the following plugin script crashes the editor:
[code]
But the following, which basically does the same, does not c

[2020-07-16 19:32] DDL-Blue commented on #23077
The sky in the very default "just opened Godot and created new project" 3D scene seems to have the same problem. When set to orthogonal view, the sun seems to be broken in the same way.

[2020-07-16 19:36] andy-noisyduck opened #40453 "Boot splash override images are not packed when exporting"
**Godot version:**
3.2.2

**OS/device including version:**
Tested on Win + Android build, and OSX + iOS build

**Issue description:**
I keep all my platform assets (iOS icons, Android icons, launcher screens etc) in a folder excluded from the Godot Editor with a `.gdignore` file. This is done so that the assets are not bundled twice, or bundled by exports that wouldn't use them (e.g. the iOS icons

[2020-07-16 19:56] Calinou commented on #23077
@DDL-Blue Indeed, this issue isn't limited to PanoramaSky. It'll occur with any sky that's not a plain color.

[2020-07-16 20:21] TheDuriel commented on #40430
Fairly sure floats are 32bit, and that changing that is slated for 4.0

[2020-07-16 20:38] KoBeWi commented on #31813
Feature and improvement proposals for the Godot Engine are now being discussed and reviewed in a dedicated [**Godot Improvement Proposals (GIP)**](https://github.com/godotengine/godot-proposals) ([godotengine/godot-proposals](https://github.com/godotengine/godot-proposals)) issue tracker. The GIP tracker has a detailed issue template designed so that proposals include all the relevant information

[2020-07-16 20:38] #31813 closed

[2020-07-16 20:47] KoBeWi commented on #28818
I actually encountered a bug that sounds like this issue.
![gbw8bvXVaX](https://user-images.githubusercontent.com/2223172/87720933-fd3f1800-c7b5-11ea-9734-e7fa2c6496f4.gif)
I add text to label that will expand the container, then undo. The container doesn't return to the original size, but when I save the scene and reload it, the container magically shrinks. I've seen it many times where container

[2020-07-16 20:50] #28818 closed

[2020-07-16 20:58] KoBeWi opened #40454 "Container magically shrinks to minimal size on scene reload"
**Godot version:**

3.2.2

**Issue description:**

![LIf9NwHBri](https://user-images.githubusercontent.com/2223172/87721654-14323a00-c7b7-11ea-9d44-348d00cdaec1.gif)

**Steps to reproduce:**
1. Create a scene with a container (PanelContainer is the easiest to observe)
2. Add a label (probably works with TextureRect etc. too)
3. Add some lines to the label, so the container expands
4. Undo your tex

[2020-07-16 21:05] monk-e-boy opened #40455 "GUI Button events should pass in the button object"
3.2.2

**OS/device including version:**
Windows

**Issue description:**
Button `pressed` event does not pass in the button object that was clicked - e.g. CheckButton how do you find the stated of the button? Is it checked?

The following does not work:

![image](https://user-images.githubusercontent.com/17924807/87722685-6f146300-c7b0-11ea-896d-6d7857753d47.png)

Should follow industry standards,

[2020-07-16 21:22] KoBeWi commented on #20043
As noted in the above comment, you just have to set your size flags and the container will have correct size. Not sure how to approach the auto-scrolling, but if it's a chat, it's better to use a RichTextLabel. Makes text formatting easier and it has a built-in scroll following functionality.

[2020-07-16 21:22] #20043 closed

[2020-07-16 21:24] KoBeWi commented on #21312
Still valid in 3ed5ff244

[2020-07-16 21:28] IceflowRE commented on #40393
Add another approach to crash it.

Accessing an **underscore** member which does not exist.

[2020-07-16 21:30] gjmcodes commented on #36060
Out of curiosity, accordingly to Godot documentation:

As Microsoft's C# is a favorite amongst game developers, we have added official support for it. C# is a mature language with tons of code written for it, and support was added thanks to a generous donation from Microsoft.

It has an excellent tradeoff between performance and ease of use, although one must be aware of its garbage collector.

I'

[2020-07-16 21:36] pchasco commented on #36060
I don’t know why you would need to manually force a collection. I definitely would not do it during gameplay. The only time when it may be beneficial to do a manual collection would be after loading or saving a game, or after dismissing a menu when you can get away with some stutter. But you can generally just ignore the GC altogether if your game is performing well.

[2020-07-16 21:37] Two-Tone commented on #36060
You'd be better off asking your question either on the [subreddit](https://www.reddit.com/r/godot/) or [Godot Q&A](https://godotengine.org/qa/questions).

[2020-07-16 21:46] andy-noisyduck commented on #40455
As a workaround you could bind the argument during your `connect` call so that the button is passed as an argument.

[2020-07-16 21:50] capnm commented on #37793
At least for us this is a **big regression** in the controls **LineEdit** or **TextEdit**.
We don't have such problems when we revert our projects to v3.2.1.stable. The ENTER key on the Android keyboard broken behavior makes a text editing under Android in v3.2.2.stable completely unusable :-(

[2020-07-16 22:01] Frooztyes opened #40456 "Mouse coordinate issue (not under cursor)"
Hi,

I am using Godot 3.2.2.stable on Windows 10.
I use a GeForce GTX 1060 (all my graphic drivers are up to date).

I was trying to create an archer that shoot to the cursor. But everytime when i tested my code, the arrow were above the cursor.
It was not a script error. So i created a scene that follow the mouse position but the object was above my cursor by like 150 pixels. You can find a demo

[2020-07-16 22:02] Smashalidis commented on #21665
Just came here to support this - the docs claimed it was possible so I've been on a wild goose chase. This would be a very time saving and efficient addition

[2020-07-16 22:10] gjmcodes commented on #36060
Thanks! Well, truth be told: the way putted out in the documentation seemed there should be some sort of handling or expectations for memory leak if things are kept 'automatically'.

All in all, I was just curious whether instantiations and real time calculations could leave garbage behind without any proper manual handling. I'll query about those on Reddit. Thanks!

[2020-07-16 22:34] capnm commented on #37793
A similar effects as described in #37190 also occur, or the TextEdit simply disappears, after pressing the Android ENTER key. And the virtual keyboard with the LineEdit now remains open :-(

[2020-07-16 22:36] tom-jk commented on #34540
I believe I can reproduce this (or something like this) on 3.2.2.stable.

When I follow the steps, at step 4 I make the material unique, but I do not make the visual shader unique. So, when I edit the shader in the new material I am changing it for the old as well.

If I reload the scene, both materials now have unique visual shaders. I think this change should instead be happening either at the s

[2020-07-16 22:39] KoBeWi commented on #20543
Closing as per above comment (and no reply).

[2020-07-16 22:39] #20543 closed

[2020-07-16 22:40] KoBeWi commented on #21232
Can anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

[2020-07-16 23:00] tom-jk commented on #33054
Testing on 3.2.2.stable on linux mint 18.3

- Can reproduce "~_Thread: Reference to a Thread object was lost while the thread is still running..." with "Isolate Crash upon Escape.zip" project. Happens maybe every 1 in 2 runs.
- Can't reproduce crash with the "Threaded for loop crash.zip" project (performed about 20 runs). No crash, errors, leaks in terminal or other apparent issues.

[2020-07-16 23:26] Constannnnnt commented on #23004
I guess there is a similar issue #39414

[2020-07-16 23:30] aaronfranke commented on #19465
I think this should be documented as a known limitation, I don't think this is supported.

[2020-07-16 23:52] FeralBytes commented on #29385
You can see the blame here, where I made fixes 1 month ago to get CI working. https://gitlab.com/FeralBytes/FreecoiL/-/blame/master/.gitlab/ci_scripts/editor_settings-3.tres
NOTE: my CI is failing right now to build but that is due to the docker image that I am using. It was working fine for 3.2.2-beta4, but the image broke, not my fault just the docker image is bad. I will either revert or make m

[2020-07-17 00:19] Rubonnek opened #40458 "Editor*Plugin functions run twice due to connected signals"
**Godot version:**
3.2 branch commit - 4abebfa476c54552f55b03bb43d72bd29a7a26b1

**OS/device including version:**
Arch Linux

**Issue description:**
Same as  #8324, but it's also happening with EditorInspectorPlugin.

The issue is that if the GDScript code executed is not idempotent, the changes might not be the ones expected.

**Steps to reproduce:**
1. Load the attached project.
2. Click on Node

[2020-07-17 00:29] Rubonnek opened #40459 "Crash sometime after "Error when polling socket""
**Godot version:**
3.2 branch commit 4abebfa476c54552f55b03bb43d72bd29a7a26b1

**OS/device including version:**
Arch Linux

**Issue description:**
There seems to be a stack smash somewhere that's related to the networking code.

**Steps to reproduce:**
This is somewhat hard to reproduce, but I'll describe what I'm usually doing:

1. Two editors are open -- one can't obviously open the LSP server p

[2020-07-17 00:45] FeatherAntennae commented on #28626
CTRL or SHIFT won't interfere directly if clicking on the arrow, but I recommend against using them for this. Some software do use them, but it's generally not seen as a good practice as it conflicts with the multi-select functionality which is also standard in a list.

People trying to select many things using Shift or CTRL, especially if trying to go as fast as possible, might accidentally hit t

[2020-07-17 01:02] SirRamEsq commented on #13440
Just faced this issue myself.

I had to have a parameter-less `_init` method in my class. I assume this this is the case because Godot instantiates an object then loads the saved export variables into the instantiated object.

Changed my code from
[code]

To:
[code]

One thing that helped me was the answer given by "Zylann" in this [post](https://godotengine.org/qa/56388/when-can-i-override-_init-

[2020-07-17 01:38] xelivous opened #40460 "Importing ogg vorbis with embedded cover crashes"
**Godot version:**
v3.2.2.stable.official

**OS/device including version:**
Windows 10

**Issue description:**
Import an ogg file that has an embedded cover and it will crash on import

Similar to issue #27022

I've only tested a png but i can test other formats if necessary.

**Steps to reproduce:**
1. create an ogg with a cover embedded in it.
    * easy way is using foobar2000's tagging functio

[2020-07-17 02:54] KoBeWi commented on #40460
Looks like #32145

[2020-07-17 03:54] chrisskeddy commented on #40430
If that was the case the float would not be able to store/return a value of 4294967296 as that is the 33 bit set to ON/1 and all other bits set to 0.

[2020-07-17 06:43] Keetz commented on #40456
Seems like you just doesn't calculate the position correct.

If you go into your Dobby.gd script and change:
`move_and_slide(get_global_mouse_position() - position)`
to:
`move_and_slide(get_global_mouse_position() - global_position)`

It will now be on top of the cursor.

[2020-07-17 07:23] Calinou commented on #23004
These issues have a nuance: #39414 is about saving in the app-specific folder, whether this one is about saving in the user's Documents folder.

[2020-07-17 07:25] Calinou commented on #21232
(Labeling as `platform:linuxbsd` since the splash screen handling has a lot of OS-specific stuff to it.)

[2020-07-17 07:26] JohanAR commented on #40451
When you say "any 16-bit texture", did you use only 16-bit PNGs or did you try other file formats too? Because Godot would assume 16-bit PNG were in linear color space and try to convert them to sRGB on import.

Probably duplicate of #37220, they talk about normal maps but if it's about 16-bit PNG then it is the same issue. Fixed on git but not available in any release yet.

[2020-07-17 07:28] qarmin commented on #33054
I don't have a crash now but have this errors:
[code]
sometimes leak:
[code]
and sometimes invalid read/write
[code]

[2020-07-17 07:37] Calinou commented on #37190
@alexzheng Can you record a video demonstrating the issue? Also, can you reproduce this on platforms other than Android?

I can't reproduce this using Godot 3.2.2 on Linux.

[2020-07-17 07:42] volzhs commented on #23004
I don't know whole android code for godot, but I got a possible cause.
https://github.com/godotengine/godot/blob/b55d859c5f092d145cd0d2c8df9ac5d42c500626/platform/android/java/lib/src/org/godotengine/godot/GodotIO.java#L557

`getExternalStoragePublicDirectory` is deprecated in API 29.
https://developer.android.com/reference/android/os/Environment.html#getExternalStoragePublicDirectory(java.lang.St

[2020-07-17 08:31] ee0pdt commented on #40411
The editor highlights issues like this immediately and is very helpful in showing incorrect syntax usage. "Unexpected token" is a common error shared by at least Python and Javascript, but I agree that the message is cryptic for a beginner.

To give a clearer message the parser would need to understand the context here and I'm not sure how easy that is to achieve.

[2020-07-17 08:44] alexzheng commented on #37190
Mobile platform only.

[1594975262915032.mp4.zip](https://github.com/godotengine/godot/files/4936652/1594975262915032.mp4.zip)

[2020-07-17 08:47] Calinou commented on #37190
@m4gr3d Any idea why something like this would happen only on Android?

[2020-07-17 08:48] madmiraal commented on #40381
Odd. This should have been fixed with #34225.

[2020-07-17 09:04] garuhester opened #40462 "godot export to html5, and the OmniLight or SpotLight's shadow can not show"
**Godot version:**

v3.2.1

**OS/device including version:**

GLES3

**Issue description:**

godot export to html5, and the OmniLight or SpotLight's shadow can not show, only the directionalLight can show the shadow
![image](https://user-images.githubusercontent.com/23695326/87768944-7b033200-c84f-11ea-82ba-8ce16c4f2eeb.png)
![image](https://user-images.githubusercontent.com/23695326/87768992-88b8

[2020-07-17 09:12] Frooztyes commented on #40456
Ok thank you for explanation, i am new to Godot.

Wish you the best, thank you :)

[2020-07-17 09:12] #40456 closed

[2020-07-17 09:52] Calinou commented on #40462
Switch to the GLES2 renderer. The GLES3 renderer isn't supported anymore when exporting to HTML5, as WebGL 2.0 support is very poor across the board.

[2020-07-17 09:52] #40462 closed

[2020-07-17 10:09] Xrayez opened #40464 "The "Add Child Node" button remains pressed after adding a node via shortcut"
**Godot versions:**
4.0.dev 9e34ba48556b71f1f672b5be47d12b0e3f679b86
3.2.3.beta
3.2.2.stable
*Cannot* reproduce in 3.1.1.stable, regression?

**OS/device including version:**
Windows 10, GLES3

**Issue description:**
The "Add Child Node" button remains visually pressed after adding a node with <kbd>Ctrl</kbd> + <kbd>A</kbd>.

![Annotation 2020-07-17 130200](https://user-images.githubusercontent.co

[2020-07-17 10:23] X52p commented on #36958
I just compiled Godot 3.2 with Mono myself. Also doing this before building:

`cert-sync --user myCert.pem`

Were myCert.pem is the certificate of the server I'm trying to connect to.
This seems to fix it. (I got other errors now, but these are probably library related)

[2020-07-17 10:38] rainlizard commented on #33054
To make matters even more confusing I tested on my other machine and I got some different results.

- v3.2.2-stable_win64 Windows 8.1 64bit 4790k CPU

"Threaded for loop crash" still crashing 100% of the time and the first project "Isolate crash upon Escape" crashes about 90% of the time.

- v3.2.2-stable_win64 Windows 10 64bit e8400 CPU (11 year old PC)
No crashing at all. I was surprised, I thou

[2020-07-17 11:03] nonunknown commented on #40329
@fire I've found a solution for importing 3d pipeline Blender->Godot

by reading[ this reddit](https://www.reddit.com/r/godot/comments/hpzeil/how_do_i_import_a_rigged_model_from_blender/) A guys says:

`I found a solution. If I make a new bone and ensure that all vertices have non zero weight to at least one bone it imports as expected and works just fine.`

This means that if the **Master** bone

[2020-07-17 11:08] volzhs commented on #25060
seems fixed 3.2.2, isn't it?

[2020-07-17 11:13] j2l commented on #25060
Great to hear. I stopped Godot because of this miscommunication

[2020-07-17 11:29] wijat commented on #39476
Are you sure your blender version is right?
![图片](https://user-images.githubusercontent.com/8220843/87781718-ccb5b780-c863-11ea-9114-01e342524c91.png)

[2020-07-17 11:34] wijat commented on #39476
I open your glb file in blender, the skeletal is right as expect.

[2020-07-17 11:38] wijat commented on #39476
But it just wrong like shit in Godot...All skeletal just incorrect!

[2020-07-17 11:40] wijat commented on #39476
I tired import this glb in Godot, it just have incorrect skeletal transform........

[2020-07-17 11:41] wijat commented on #39476
![图片](https://user-images.githubusercontent.com/8220843/87782612-70539780-c865-11ea-879c-38c9c947acfd.png)

[2020-07-17 11:44] wijat commented on #39476
At least the skin is right.....

[2020-07-17 11:48] wijat commented on #39476
By the way, Blender is the Best glb viewer, not ms 3D viewer.

[2020-07-17 11:49] Calinou commented on #25060
@volzhs Is this now done by default? I remember GooglePayments being moved to an officially-supported Android module.

[2020-07-17 11:55] Calinou commented on #39476
@wijat Please use the **Edit** button (hidden behind the **...** icon) to edit your posts instead of multi-posting. I merged your posts manually.

[2020-07-17 11:58] Calinou commented on #40464
I can reproduce this on 3.2.2, as long as I'm not on the 2D tab when I press <kbd>Ctrl + A</kbd>.

[2020-07-17 12:00] Anutrix commented on #25060
Fixed by https://github.com/godotengine/godot/pull/39745.

[2020-07-17 12:18] xXGOTNOFANSXx commented on #21743
Totally agree!

[2020-07-17 12:29] Calinou commented on #21743
@xXGOTNOFANSXx Please don't bump issues without contributing significant new information. Use the :+1: reaction button on the first post instead.

[2020-07-17 13:17] TheDuriel commented on #40430
Let me clarifly: they're inconsistently cast in places, and should be assumed to be 32bit. I'm not sure what the state on the cleanup effort is, but there will be an issue for it.

[2020-07-17 13:59] TwistedTwigleg commented on #39893
I can confirm this is still an issue with Godot 3.2.3 Beta 1 on Linux. From what I can tell when running this project, the first bone in the SkeletonIK chain does not appear to be taken into account when solving.

[2020-07-17 14:11] eNzr commented on #31104
the link to http://downloads.tuxfamily.org does work for me neither
server not reachable
but a can reach http://download.tuxfamily.org (without a s at download
is it safe ?Iis it the new one ?

[2020-07-17 14:42] volzhs commented on #25060
there is no more builtin android payment after 3.2.2
Need to do additional work for it.

[2020-07-17 14:56] Calinou commented on #31104
@eNzr The HTTPS link works for me here. In any case, feel free to use this mirror hosted by yours truly: https://archive.hugo.pro/godot-tuxfamily/

[2020-07-17 15:38] barbaros83 opened #40466 "SkeletonIk Scaling issue"
**Godot version:**

godot 3.2.3 beta1

**OS/device including version:**

OS: Solus Linux GPU: RX480 Backend: GLES3

**Issue description:**

SkeletonIk in godot 3.2.3 beta1 still doesnt work correctly when any node in the scene has a scaling other then 1.0

**Steps to reproduce:**
- i downloaded a model from mixamo, a collada, and weapon.
- then i added the scene containing the weapon to the scene

[2020-07-17 15:39] barbaros83 commented on #40466
without scaling
![Screenshot from 2020-07-17 17-23-16](https://user-images.githubusercontent.com/59711483/87804595-637a7800-c854-11ea-8e0a-cece2ee7f8ea.png)

[2020-07-17 15:39] barbaros83 commented on #40466
with scaling
![Screenshot from 2020-07-17 17-23-44](https://user-images.githubusercontent.com/59711483/87804635-6f663a00-c854-11ea-8aaa-60941407fee7.png)

[2020-07-17 16:03] TheDuriel opened #40467 "Scene Thumbnail Generation Error"
**Godot version:**

3.2 Stable

**OS/device including version:**

Win 10

**Issue description:**

When you save a Scene an error concerning its thumbnail is thrown if:

The Scene contains no visible nodes.

The Scene sizes visible contents exceed 16,384 x 16,384 Pixels area.

**Steps to reproduce:**
See above. Saving a Scene with a simple Node as root should suffice to trigger the message.

**Mini

[2020-07-17 16:21] TwistedTwigleg commented on #40466
It looks like the issue is that the SkeletonIK is not correctly getting the target position, which could be related to scale, but it could also be related to something else entirely. I might rename the issue to something like "SkeletonIK - Wrong target position used when scaling" or something similar, since the issue seems to be the target position being offset when there is scaling in the scene.

[2020-07-17 16:28] barbaros83 commented on #40466
moving it up didnt work
![Screenshot from 2020-07-17 18-28-01](https://user-images.githubusercontent.com/59711483/87809217-52813500-c85b-11ea-89bc-ac39b6ee548f.png)

[2020-07-17 16:29] barbaros83 commented on #40466
github doesnt allow me to upload the project, because its size is larger then 10mb, where do you prefer i should upload the project ?

[2020-07-17 16:32] TwistedTwigleg commented on #40466
Something like Google drive or Dropbox is fine.

[2020-07-17 16:34] barbaros83 commented on #40466
by scaling i mean a parent node, something that eventualy touches the skeletonIk, if the scaling of the node doesnt touch skeletonIK, then its fine, maybe some other node in the same branch, or something on a diffrent node entirely

[2020-07-17 16:35] TwistedTwigleg commented on #40466
Hmm, interesting. I wonder if the BoneAttachement is causing the issue, the Skeleton, or the SkeletonIK node, since they'd all be affected. Does scaling the SkeletonIK node itself do anything?

[2020-07-17 16:36] barbaros83 commented on #40466
https://drive.google.com/file/d/13GRKDzTWDXc7BPsHMvlgV4LMfyhdf5xQ/view?usp=sharing

[2020-07-17 16:37] barbaros83 commented on #40466
the skeletonIk node does not inherit from spatial, how would i scale it ?

[2020-07-17 16:39] TwistedTwigleg commented on #40466
Ah, right, I forgot, its just a normal Node, so it doesn't have a scale.
I'll mess around with the test project and see if I can figure out what is going on.

[2020-07-17 16:50] barbaros83 commented on #40466
is it an easy fix ?

[2020-07-17 17:00] Xrayez commented on #40464
Regression from 1e6fa5d1a553fdf76840762024420fba3a720e70, #25573, @pouleyKetchoupp what do you think could cause this? Note that before your change, the button doesn't get highlighted at all under any circumstance (if using shortcut).

[2020-07-17 17:24] pouleyKetchoupp commented on #40464
@Xrayez Maybe the release event doesn't go through when there's a popup on top? That would be my first guess given the logic in `BaseButton::_unhandled_input`, but only debugging could tell.

Also it looks like it doesn't work the same way on 3.2 and master.

3.2 version:
https://github.com/godotengine/godot/blob/89f57ae12244f3269c9e3fe4684e16ec1fd2c989/scene/gui/base_button.cpp#L356-L365

Master

[2020-07-17 17:31] theoway commented on #40207
Found the bug. Sorry for the delay. Will be making a PR soon.

[2020-07-17 17:38] Xrayez commented on #24413
I know the suggestion is old but still relevant I think.

How do you envision this?
1. Prompt another "Create New Node" dialog right after adding the area/body nodes? Probably need another dedicated dialog with suggestions anyways.
1. Clicking on the warning icon, so that you can choose the type of node you'd like to add?
2. List suggested nodes directly in the popup menu when you right-click on t

[2020-07-17 17:41] TwistedTwigleg commented on #40466
I don't know, to be honest. I haven't poked around in the SkeletonIK code and tried to fix it, and with many things, "easy" is relative. I do not expect it to be too difficult, since it seems to just be a position issue, but without having tried to fix the issue, I don't know.
I'll take a look at the source code and see if I can find a solution next week.

[2020-07-17 17:41] Xrayez commented on #40464
Yeah that's where I've found this at least... It's not high priority though.

[2020-07-17 17:46] kremetis opened #40471 "Import window doesn't appear at all"
![20200717_142739](https://user-images.githubusercontent.com/68440503/87815358-d62b2980-c83b-11ea-9498-90ec228f2f43.jpg)
I've downloaded godot for the first time and I can't upload my textures properly without the import window. Any way to fix this? I've already tried redownloading and using older versions. Please help!

[2020-07-17 17:48] Calinou commented on #40471
Since Godot 3.0, assets no longer need to be explicitly imported before they can be used. Just place them in your project folder and you'll be able to use them immediately.

PS: Please don't ask support questions here. Use one of the other [community channels](https://godotengine.org/community) instead.

[2020-07-17 17:48] #40471 closed

[2020-07-17 17:51] kremetis commented on #40471
Oh okay sorry, thank you very much!

[2020-07-17 18:29] Nikhil-42 commented on #40441
@Calinou do you know where in the source 2d cameras are registered to a viewport? I checked viewport.cpp and viewport.h but the only mention of a Camera2D was an unused forward class declaration.

[2020-07-17 18:35] dugramen opened #40472 "Erasing tiles with SHIFT + RIGHT CLICK is very buggy with tile atlases"
**Godot version:**

3.2.2

**OS/device including version:**

Windows 10

**Issue description:**

Hold Shift + Right Click, it should let you erase a straight line of tiles. It works normally when erasing a single tile, but breaks when erasing an atlas tile.
While hovering the erase line around, it replaces the hovered tile with the first tile in the atlas.
If another atlas tile is selected, it wil

[2020-07-17 19:08] dugramen commented on #40435
Oh yeah sorry, I updated the main post

[2020-07-17 19:43] gr4ph0s commented on #40415
With Godot 4 in a local build, I'm not able to reproduce the crash.
Is it a 3.2.2 issue only?

[2020-07-17 20:42] Wanchai commented on #30970
The doc is pretty misleading on this.

1. you need the good formatting for package ref
2. you need nuget to use nuget restore
3. DON'T BUILD WITH DOTNET CLI!!!

Use: General -> Mono -> Builds -> Build Tool: MSBuild (VS Build Tools) if on Windows or MSBuild (Mono) for other platforms.

Big thanks t this article:
https://medium.com/@domresc/ep-1-installation-of-godot-engine-and-configuration-of-a-de

[2020-07-17 20:46] KoBeWi commented on #20749
Can anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

[2020-07-17 20:46] Calinou commented on #40441
@Nikhil-42 I don't know, sorry.

[2020-07-17 20:54] Calinou commented on #20749
@KoBeWi This was probably fixed in Godot 3.1 since raw input is now used for mouse movement when the mouse is captured.

[2020-07-17 21:19] tom-jk commented on #35244
Think I can reproduce issue on Godot 3.2.2.stable on linux mint 18.3 Cinnamon. The red rectangle always seems to be lagging one resize behind, whether drag-resizing the window or un/maximizing.

Can confirm viewport_container.update() works around issue.

It looks like the solution is already there, though:

1. ViewportContainer6: turn stretch on;
2. Background: set right and bottom anchors to 1.

[2020-07-17 21:27] Nikhil-42 commented on #40441
@Nikhil-42 No worries, I'll just look a little deeper.

[2020-07-17 22:16] SMLVG commented on #39608
It looks normal

[2020-07-17 22:28] TheDuriel opened #40475 "Project Settings, OS, and String, not respecting OS path conventions correctly"
**Godot version:**

3.2 Stable

**OS/device including version:**

Win 10

**Issue description:**

[code]

Shitty example from a live project of mine, testing this. Print output:

[code]

Of course, Windows is nice enough not to care about which type of slash you use. But that is not given behavior.

It also seems that this inconsistency causes get_base_dir() to fail with paths returned by the OS s

[2020-07-17 22:33] tom-jk commented on #35162
@Dr4kzor The video is no longer available. Could you please add another, or a project or more details on the problem you're having?

[2020-07-17 23:01] djrain commented on #39608
I'm having what looks like the same issue. For me the lag is extreme, and in the lagging areas the cursor does not move nearly as far as usual for the same mouse movement (it's not just a delayed movement). Some additional notes that may be helpful:

- I've only experienced the issue when my external monitor is connected.
- The lag happens anywhere where the "illegal action" symbol is visible, in

[2020-07-17 23:53] KoBeWi commented on #20224
This is not a bug, that's just how inherited scenes work. You can't delete nodes from them. It's more like a missing functionality. Proposals are now tracked in the [official proposal repository](https://github.com/godotengine/godot-proposals). If this issue is still important, fill in a new feature proposal (about deleting nodes in inherited scenes).

[2020-07-17 23:53] #20224 closed

[2020-07-18 00:03] Rubonnek commented on #40459
I was able to get the message, and after stress testing it, I couldn't get a crash this time around.

This could have been fixed by the recent network patches on the latest 3.2 branch.

[2020-07-18 00:03] #40459 closed

[2020-07-18 00:55] noass opened #40478 "Formatting from 16-bit to 8-bit audio file"
I tried this with a .wav file both from import and in the properties, but nothing changes. When I run the game and switch from 16-bit to 8-bit it works, but doesn't save when I close the game and it still stays on 8-bit, but is 16-bit...

I have Windows 10 installed

[2020-07-18 01:02] noass commented on #36238
This exact thing happens to me too
I have Windows

[2020-07-18 01:15] clayjohn commented on #36238
Might have been fixed by #39867 which will be in 3.2.3. Once 3.2.3 releases, please let us know if it is fixed. Alternatively, you can build from the 3.2 branch to test if it works.

[2020-07-18 02:38] avencherus commented on #17563
I recommend opening a new issue and include your hardware / driver information with a reproduction project in the template.  This thread is quite cold, and I only saw this because I had forgotten to unsubscribe.

With a new issue, someone might be able reproduce the issue and help you from there.

This specific issue is still resolved for me in 3.2.2, so the cause for you is likely something else.

[2020-07-18 02:38] Shulito commented on #40329
So every vertex has to have a weight assigned. Is this an issue or is that the way its supposed to be??

[2020-07-18 03:54] Wafflily opened #40479 "weird output when printing empty Array"
**Godot version:**
3.2.1

**OS/device including version:**
Windows 7 64 bits

**Issue description:**
Code:

Expected:

Output:

**Steps to reproduce:**
Just copy the code in any node.

[2020-07-18 04:22] fire commented on #40407
Blender 2.80 is not compatible please try 2.83.

[2020-07-18 05:52] ricardoalcantara opened #40481 "[Mono] 3.2.2 Android Plugin fails to call GodotLib.calldeferred with Mono Object"
**Godot version:**

3.2.2.stable.mono.official

**OS/device including version:**

Android with GLES3

**Issue description:**

Using this plugin from community https://github.com/Shin-NiL/Godot-Android-Admob-Plugin
I tried to migrate the admob.gd to C#
from https://github.com/Shin-NiL/Godot-Android-Admob-Plugin/blob/main/demo/main.gd
to https://gist.github.com/ricardoalcantara/6dddf96f35f26d168a667

[2020-07-18 06:06] TheHypeTrain opened #40482 "Mono version on Ubuntu can't find .NETFramework,Version=v4.7"
**Godot version:**
3.2.2.stable.mono.official

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
Every time I try to build this project, it fails.
same as https://github.com/godotengine/godot/issues/36818, but I am on ubuntu and can't use .NET 4.7. Most projects work, but not isometric.

**Steps to reproduce:**
try to build any project

**Minimal reproduction project:**
isometr

[2020-07-18 07:08] pouleyKetchoupp commented on #37190
This is due to the Android view trying to pan down to adjust the focus to the TextEdit content. I'm preparing a PR to fix it.

[2020-07-18 07:19] Cykyrios opened #40486 "Setting global_transform on a RigidBody can fail when called outside physics frames"
**Godot version:**
3.2 custom build, issue bisected to commit e7d8464f

**OS/device including version:**
Linux Mint 20

**Issue description:**
When setting the `global_transform` property of a RigidBody, the expected result sometimes happens, sometimes does not, seemingly at random.

**Steps to reproduce:**
Add a RigidBody to a scene, add a script that sets its `global_transform` property followin

[2020-07-18 07:25] Rubonnek commented on #40401
This issue is specific to 3.2.

I can't this reproduce this problem on the master branch.

[2020-07-18 07:42] Tuatarian commented on #35606
One fix for this that worked for me, when pixel snap and such did not, was setting the Camera's update mode in the inspector from Idle to Physics. Completely removed the jitter

[2020-07-18 07:46] fire commented on #40329
I mean alternatively we can pick a random bone and set its weight to zero.. but that seems wrong? Or fail the entire import.

[2020-07-18 07:48] me2beats commented on #40479
maybe this is a feature of displaying the value of empty nested arrays in the godot output console (?).
The array itself works correctly, doesn't it?
[code]
this prints `[]	[]`

[2020-07-18 08:08] codewing commented on #30970
What to you mean with "you need the good formatting for package ref"?

[2020-07-18 08:19] Wanchai commented on #30970
The one you mentioned, not the one in the doc.

[2020-07-18 09:11] codewing commented on #30970
I think the docs are up to date, arent they? At least this looks similar to what I've got.
[Using NuGet packages in Godot](https://docs.godotengine.org/en/stable/getting_started/scripting/c_sharp/c_sharp_basics.html#using-nuget-packages-in-godot)

That part did the trick for me. Thanks a lot!

[2020-07-18 09:50] Wanchai commented on #30970
You're welcome.
For the package reference thing, it just has been updated. Now it's good.

[2020-07-18 09:59] octopus-io commented on #39480
Hi, after some test and research, i finally understand pause system.
I think all my problems came from  "get_node('/root').pause_mode = PAUSE_MODE_PROCESS".
During my test i also found an other bug but already referenced as #37870.

I think we can close this issues.
Thx, all.

[2020-07-18 09:59] #39480 closed

[2020-07-18 11:37] dalexeev opened #40488 "[TRACKER] Indentation, line breaks and GDScript"
**Godot version:**
3.2, 4.0

**Issue description:**
Anything related to indents and line breaks in GDScript.

## Proposals
- [ ] godotengine/godot-proposals#987 Highlight the error line in the script editor minimap
- [ ] godotengine/godot-proposals#1015 Line index color of empty lines should be white
- [ ] godotengine/godot-proposals#1209 Allow second line brackets

## Issues
- [ ] #15690 Folds do

[2020-07-18 12:51] rcorre commented on #37385
Similar crash while doing the following in 3.2.2:

1. Disconnect Animation from Transition
2. Add a TimeScale
3. Connect Animation to Timescale
4. Connect Timescale to Transition

[code]

(sorry, no minimal example yet).

[2020-07-18 13:09] grevius5 commented on #34252
I don't have the project at the moment and I'm a little busy to try with a new one. If I'll some spare time I'll check and let you know

[2020-07-18 14:34] TheDuriel commented on #40486
That seems expected?

You are not meant to be able to directly modify a RigidBody in this way. Never were.

[2020-07-18 15:12] Lexpartizan commented on #36820
Yes, I encountered this error and killed half a day until I found this message and realized what was wrong))

[2020-07-18 15:17] TheDuriel commented on #36820
Comes with the fact that to work, these flags actually require the texture to be reimported.

[2020-07-18 15:47] Cykyrios commented on #40486
You are not supposed to change a RigidBody's transform every frame (or even every few frames), that I can agree. I'm talking about one-time changes here, a way to teleport the RigidBody whenever it needs to be reset. Here's what the documentation says about this:

I'm honestly not convinced a simple reset would require pausing the physics (this could also introduce noticeable jitter in scenarios w

[2020-07-18 15:47] tom-jk commented on #35280
The autoslice bug has since been fixed (#37614). I cannot reproduce any issues with changing to it or the other textureregion snap modes when following the steps given here, in Godot 3.2.2.stable.

@henriiquecampos can you still reproduce this issue?

[2020-07-18 16:06] Lexpartizan commented on #36820
In this case, we need to look for a workaround. At the same time, it is productive. Why not just make repeat behavior for default viewports?

[2020-07-18 16:06] strasnybubak opened #40494 "Setting a mesh with a tool script setter defocuses inspector input widget"
**Godot version:**
Problem is present in v4.0.dev.calinou.0e34ba485.

**OS/device including version:**
Windows 10

**Issue description:**
I use a variable setter on a **tool script** to trigger a mesh generation function. This functions generates a new mesh then sets it to a MeshInstance. This enables me to quickly see changes I make to exported variables on my mesh. Problem is trying to change th

[2020-07-18 16:08] TheDuriel commented on #36820
The flags should have not been exposed originally. This behavior will change in 4.0, where they will be set on the shader level, not the texture itself.

For now, adjusting the material shader to repeat the texture via UV manipulation will be the way forward.

[2020-07-18 16:13] Haledire commented on #33222
Still a problem as of 3.2.2
Was going to suggest a solution for someone's healthbar and noticed trying to set up a Top to Bottom bar works fine, but a bottom to top fails to stretch the fill image.
![TexIssue](https://user-images.githubusercontent.com/164616/87856863-eac8f980-c8ef-11ea-8767-79c6a451644b.png)

[TexProgFail.zip](https://github.com/godotengine/godot/files/4941960/TexProgFail.zip)

[2020-07-18 16:18] tom-jk commented on #34817
@iamrahul404 can you reproduce this? could you make a video showing it happening? I am unable to reproduce this in godot 3.2.2.stable and I'm not sure I understand the exact problem you are having.

[2020-07-18 16:43] luccapedrini opened #40495 "RigidBody2D and moving platforms"
**Godot version:**
Godot 3.2.2 (also tested in 3.2.1)

**OS/device including version:**
Windows 10 (Tested with both 2D physics engines)

**Issue description:**
I'm trying to make a 2D platformer that is very physics dependent (so I need to use a RigidBody2D), when the player jumps I use `apply_central_impulse()` and the player loses control until it hits the ground again.

All of this mentioned a

[2020-07-18 17:14] AllenKll opened #40496 "Erroneous Error: The signal is declared but never emitted. UNUSED_SIGNAL"
**Godot version:**
3.2.1

**OS/device including version:**
Win 10, PC

**Issue description:**
Erroneous Error indicating unused signal:

**Steps to reproduce:**
Indicate a signal is created. with "signal" keyword.
Cause signal to be emitted without using the emit_signal function directly.
This could be from an Animation track, a connection call back, call_deferred command, etc.
observer error in e

[2020-07-18 17:28] luccapedrini commented on #40495
I would like to use this issue to raise up some questions about the topic above. (please mark as off-topic if this isn't the place to talk about this)

**1. Is the problem with tilemaps liked above worth an issue (didn't post since it looks like is an known one)**

**2.  RigidBody2D in Kinematic Mode is bugged, or bad documented**
The way i'm solving the issue above is, I'm instantiating and `queu

[2020-07-18 17:37] KoBeWi commented on #21529
Still valid in 9e34ba4

[2020-07-18 17:46] Calinou commented on #40495
Please understand that Godot is community-developed. There is no warranty provided whatsoever.

[2020-07-18 18:18] Juankz commented on #20469
I just had this problem using the plank dock. The solution was to add this line to the `.desktop` file:
`StartupWMClass=Godot`
This is not an issue of Godot but a DE one.

[2020-07-18 18:53] KoBeWi commented on #26751
an anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag a

[2020-07-18 19:08] KoBeWi commented on #24149
So #40151 basically resolved this issue (not sure why it wasn't closed).

[2020-07-18 19:08] #24149 closed

[2020-07-18 19:10] johnnygossdev opened #40497 "Children of TouchScreenButton don't inherit its visibility on desktop"
**Godot version:**
3.2.2

**OS/device including version:**

Windows / GLES3

**Issue description:**

Children of a `TouchScreenButton` don't inherit the visibility of the `TouchScreenButton` on desktop when its `visibility_mode` is set to `TouchScreen Only`. This acts inconsistantly with how visibility works with other nodes and their children.

**Steps to reproduce:**
* Add a `TouchScreenButton`

[2020-07-18 19:51] KoBeWi commented on #21570
Still valid in 9e34ba4

[2020-07-18 20:19] KoBeWi commented on #953
Still valid in 9e34ba4

[2020-07-18 20:35] KoBeWi commented on #37588
For some reason this still exists in 9e34ba4 (although the PR did fix it, so it just broke again)

[2020-07-18 20:55] sothys commented on #28969
This will happen if you have not selected auto-start for one of your nodes in the statemachine root

![image](https://user-images.githubusercontent.com/9743097/87861783-bf72f880-c949-11ea-9469-c23fe1280132.png)

[2020-07-18 21:01] Calinou commented on #35971
Closing due to lack of response ([see above](https://github.com/godotengine/godot/issues/35971#issuecomment-611015222)). Please comment if you can still reproduce this in Godot 3.2.2 or later.

[2020-07-18 21:01] #35971 closed

[2020-07-18 21:02] KoBeWi commented on #19982
This issue still exists, but doesn't happen normally. You have to meddle with script references (like closing scenes see #10423, copying scripts via inspector or removing and re-adding scripts). This is somewhat similar to #22289

[2020-07-18 21:03] Calinou commented on #34523
This was resolved in 3.2.2 by https://github.com/godotengine/godot/pull/35864, closing. Please create new issues in editor extensions' repositories if you can encounter any.

[2020-07-18 21:03] #34523 closed

[2020-07-18 21:10] chucklepie opened #40498 "KinematicBody2D spanning 3 collision blocks causes Y jitter"
**Godot version:**
3.2.2 stable (on linux, gles3)

**Issue description:**
I have a tilemap and a kinematicbody2d. The code, as below, simply applies a downward y velocity and calls move and slide. When walking y velocity is 0. However, when the kinematic body spans 3 collision tiles then every other frame changes y velocity toggles between 0 and 5.166667 continuously. As soon as the kinematic body

[2020-07-18 21:12] thedaneeffect opened #40499 "Poor GPU Performance in Editor"
**Godot version:**
v3.2.2.stable.official (Steam)

**OS/device including version:**
Intel i7 9750H @ 2.60GHz
16GB DDR4 @ 1333MHz
NVIDIA GeForce RTX 2060 6GB
Windows 10 Pro 64-bit (Build 18362)
[CPU-Z Dump](https://puu.sh/G8v7h/ca22fc91be.html)
GLES 3 **and** 2

**Issue description:**
High GPU usage in empty editor.

[2D View](https://puu.sh/G8v4A/87425aa7a9.png)
[Task Manager](https://puu.sh/G8v61

[2020-07-18 21:18] clayjohn commented on #40499
I'll take a look at your render doc dumps in more detail. But I'll be honest, the issue likely lies in your hardware, drivers, or some combination of both. The fact that the issue is present in 3D, 2D, GLES2 and GLES3 points to it being an issue on your end.

Do you get good performance running other GPU intensive programs? I'd try profiling while running a game and profiling while running blender

[2020-07-18 21:19] Calinou commented on #34169
Note that dimming was disabled in the `master` branch, even when using single window mode. Its code is still present internally, but I think it'll be removed as it no longer serves a purpose.

[2020-07-18 21:24] Calinou commented on #40499
Try enabling **Editor > Interface > Show Update Spinner** in the Editor Settings. Does the spinner in the top-right corner spin continously? If so, this hints at the "redraw only when needed" feature being broken.

[2020-07-18 21:28] Calinou commented on #40498
@chucklepie Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-07-18 21:37] thedaneeffect commented on #40499
I get pretty good performance (100fps+) running most modern games on high levels of detail.

VSync hasn't been overridden. Just in-case I overrode it in my control panel to enable. That didn't change anything.

It does appear to be spinning continuously. After I clicked and set it to **Update when Changed** then it appears to solve the high GPU usage when idle and in an empty scene.

I wonder if t

[2020-07-18 21:47] clayjohn commented on #40499
@thedaneeffect That does sound like the cause. To check, you can enable "View FPS" which is in the "Perspective" menu in the top left corner when you are in the 3D viewport.

[2020-07-18 21:47] KoBeWi commented on #38933
I think I managed to reproduce it once, but I can't anymore.

On this action, the Control node gets focused, so there's a visible selected item, which prevents the infinite loop.

@pycbouh Can you check if it still happens for you in 3.2.2?

[2020-07-18 21:56] KoBeWi commented on #34157
Still valid in 3.2.2, in 9e34ba4 it's difficult to test it properly.

Although you can prevent the error by using call_deferred on `popup_centered_minsize`. The problem is that the error message doesn't point to it directly.

[2020-07-18 21:58] tom-jk commented on #24146
**For reference**:

Opening the minimal reproduction project in 3.2.2.stable pops up a "Load Errors" dialog:

in the terminal (running with --verbose):

[code]

Running the project opens and closes the game immediately, with 11 errors:

[code]

[errors in editor, expanded](https://user-images.githubusercontent.com/64640811/87862607-cbf75100-c949-11ea-8b23-9a0bcc5495cb.png)

[2020-07-18 22:19] Calinou commented on #40499
@thedaneeffect Did you check **Editor > Interface > Update Continuously** in the Editor Settings? If so, that's why the editor is constantly redrawing.

This option should be used for debugging purposes only. Since 3.2.2, there's no practical reason to enable it anymore.

[2020-07-18 22:26] thedaneeffect commented on #40499
Yeah my FPS sticks to whatever interface/editor/low_processor_mode_sleep_usec is set to, which I'm sure was the goal. I can lower my GPU usage by increasing that to say 16666 to cap at 60FPS.

I'm having a difficult time pinpointing what could possibly be optimized as I find it hard to believe that my GPU (even at 144Hz) would have higher usage with a 2D scene than a 3D.

(Same exact shader used,

[2020-07-18 22:41] KaizNike commented on #12335
I couldn't find an amiable solution to this, so I just set all directional collision to be children of my sprite node, which flips normally in the code. This feels like a cheap solution.

[2020-07-18 22:46] clayjohn commented on #40499
I have run your reproduction project. Initially there was no noticeable GPU usage so I turned **Editor > Interface > Update Continuously** on.

Test scene - default:
2D: 0%
3D: 0%

With the editor updating continuously I got:
2D: 17%
3D: 7%

With Vsync turned off:
2D: 60%
3D: 45%

My hardware is:
CPU: FX-6300
GPU: RX 5600 xt (roughly equivalent to RTX 2060)

I think there are 2 problems.

#### 1.

[2020-07-18 22:57] pycbouh commented on #38933
@KoBeWi It's the same in 3.2.2.

You may have mixed some steps there. After you've typed "label" and you got the state as displayed on the picture, you click next to `CanvasItem` to collapse its branch. `Control` cannot get focus there because `Control` is inside of that branch and thus is invisible after that step.

[2020-07-18 22:57] thedaneeffect commented on #40499
@clayjohn I enabled VSync with Compositor with no difference.

On your thought about Task Manager, I believe it is accurate. I tested with GPU-Z and they have identical results. https://puu.sh/G8x91/b2c6bb57d7.png

[2020-07-18 23:09] KoBeWi commented on #38933
Oh, right. I collapsed wrong branch .-.

[2020-07-18 23:52] bmolyneaux commented on #40328
That's perfect. Thank you for the guidance.

[2020-07-18 23:52] #40328 closed

[2020-07-19 01:31] profanicus opened #40502 "3D viewport control modifier keys acting as toggles when using a Wacom pen"
**Godot version:**
3.2.2 stable win64

**OS/device including version:**

Windows 10 Pro 19041
Wacom Intuos Pro
Default Godot control scheme

**Issue description:**
When using the Wacom pen's middle-click button to navigate the 3D view, the modifier keys are acting as toggles.

You can no longer hold ctrl and shift to zoom and pan, you must instead press to activate and then press again to deactiva

[2020-07-19 01:53] WinstonHartnett opened #40503 "GDNative variable exports do not update in Remote Inspector when game isn't focused (Linux)"
**Godot version:**

3.2.2.stable.official

**OS/device including version:**

64-bit Manjaro KDE (kernel 5.6.16)
64-bit Xubuntu (kernel 5.6.16)

**Issue description:**

In both Rust and Nim GDNative bindings on Linux, exported GDNative variables are not updated in the Remote Inspector unless the game window is focused (window is selected). When not focused, the value resets to its default. I suspec

[2020-07-19 02:04] TheHypeTrain commented on #40482
I ran dotnet --version and got 3.1.300. I retargeted the application by changing line 11 of the csproj file, but I still get the same error, only now complaining that it can't find v3.1.300.
My mono version is Mono JIT compiler version 6.10.0.104

[2020-07-19 05:17] EIREXE commented on #40460
The other issue seems to say "no longer reproducible in master" however if it's still reproducible in 3.2 (I have found it to be the case in my build) then I think it should remain open?

[2020-07-19 06:56] aaronfranke commented on #26376
@clayjohn Is this still considered intended behavior, for consistency with GLSL? I think we should just close this.

[2020-07-19 06:58] #40494 closed

[2020-07-19 07:00] strasnybubak commented on #40494
Fixed by moving the script to a parent node then setting mesh to a child MeshInstance.

[2020-07-19 07:18] lawnjelly commented on #40499
Part of the difference in GPU between 2D and 3D could well be fill rate and blending in the editor.

2D relies on painter's order and possibly a lot more blending than necessary - there could be a lot of overdraw. I don't know whether this is the reason for the 3D / 2D difference, but it's something we might investigate in 4.x. Using z buffer for opaque 2d rather than relying on painters order cou

[2020-07-19 07:38] avencherus opened #40504 "Editor Inspector Plugin can_handle() can pass uninitialized objects."
**Godot version:**

3.2.2 Stable

**OS/device including version:**

Win10 64-bit

**Issue description:**

This is a minor edge case thing, but when overriding is_class() and possibly the other class related methods, this causes an unexpected engine and script error when opening that GDScript from the file dock.

![godot windows tools 64_jbFIcH06tC](https://user-images.githubusercontent.com/1300416

[2020-07-19 09:13] tavurth commented on #13235
I use this script which is quite simple and should fill most use cases:

[code]

[2020-07-19 09:31] Hromon commented on #40499
Maybe this problem is related to GPU offloading?
When high power is not required from the video card, it drops the frequency to save energy and, accordingly, the load at a reduced frequency is higher in percentage than at a normal frequency.

[2020-07-19 09:37] Ev1lbl0w commented on #40475
AFAIK Godot only works with `/` paths for consistency, and corrects them automatically for Windows. In that case, I'd say the unexpected behaviour is actually `get_base_dir` returning paths with `\`.

[2020-07-19 09:49] qarmin opened #40505 "Crash in Bullet assert when using MeshInstance3D with create_convex_collision()"
**Godot version:**
4.0.dev.custom_build. 9e34ba485

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
Assert message
[code]

**Steps to reproduce:**
1. Run project

**Minimal reproduction project:**
[QQ.zip](https://github.com/godotengine/godot/files/4943517/QQ.zip)

[2020-07-19 09:50] qarmin commented on #40505
MeshInstance3D code
[code]

[2020-07-19 10:09] Sslaxx commented on #32145
Been re-reported with 3.2.2 in #40460.

[2020-07-19 10:24] Wafflily commented on #40479
Whether this is intentional or wrong, it needs correcting. There is no benefit to the current output.

[2020-07-19 10:39] tom-jk commented on #27306
Can't reproduce in 3.2.2.stable on linux mint 18.3.

Often doing things like minimize, maximize or interacting with other windows while a godot game is running causes a momentary freeze/stutter, so I tried doing these aggressively to see if that somehow played a part, but no dice.

[2020-07-19 10:41] Calinou commented on #40502
@profanicus Can you test this with [3.2.2 betas and RCs](https://downloads.tuxfamily.org/godotengine/3.2.2/) to narrow down the regression?

[2020-07-19 10:53] qarmin opened #40506 "Project crashes when using CSGBox and calculating tangents"
**Godot version:**
4.0.dev.custom_build. 9e34ba485

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
Two backtraces - one when running code in _physics() function and one inside _physics_process()
[code]
and
[code]

**Steps to reproduce:**
1. Run project

**Minimal reproduction project:**
[TheWorstGodotTestProject.zip](https://github.com/godotengine/godot/files/4943575/TheWors

[2020-07-19 10:59] Xrayez commented on #9949
Implementing custom renderer would certainly become relevant with the drop of `GLES3` backend in 4.0, which godotengine/godot-proposals#877 proposes to retain.

[2020-07-19 11:07] qarmin opened #40507 "Project crash when using set_refuse_new_connections"
**Godot version:**
4.0.dev.custom_build. 9e34ba485

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
[code]

**Steps to reproduce:**
1. Run project

**Minimal reproduction project:**
[TheWorstGodotTestProject.zip](https://github.com/godotengine/godot/files/4943590/TheWorstGodotTestProject.zip)

**Code**
[code]

[2020-07-19 11:12] ratkingsminion commented on #39907
If by "building the project" is meant to click on the "Build" button in Godot, that doesn't fix it for me. I have Windows 10 and Godot 3.2.2 as well. The "There are unresolved dependencies" dialog always appears for me, no matter what I try.

[2020-07-19 11:17] tavurth commented on #33428
@chungnx [see my comment here](https://github.com/godotengine/godot/issues/13235#issuecomment-660614154)

[2020-07-19 11:19] Cykyrios opened #40508 "[Bullet] Gravity is applied to RigidBody even with custom_integrator turned on"
**Godot version:**
3.2 custom build, issue bisected to commit e7d8464f

**OS/device including version:**
Linux Mint 20

**Issue description:**
The custom_integrator property of rigid bodies is ignored, which causes gravity to be applied when it should not.

**Steps to reproduce:**
Add a RigidBody to a scene, turn custom_integrator on/off, the RigidBody will fall regardless.
Building Godot from a c

[2020-07-19 11:22] phelioz commented on #39410
I it’s probably because Godot is using .NET Framework for C# right now and when using C# 8.0 with .NET Framework not all new features are supported.
It would have to be configured as a .NET Standard, .NET Core or .NET 5 app/library to use features like span and default interfaces.

[2020-07-19 11:33] extremety1989 commented on #39410
@phelioz i hope this feature would be avaible in godot...

[2020-07-19 11:41] EIREXE commented on #32145
I don't think it's a regression, from what it looks like it's been fixed in master but not in 3.2?

[2020-07-19 11:48] akien-mga commented on #40460
Try 3.2.3 beta 1, sounds like a bug I fixed already.

[2020-07-19 12:00] Calinou commented on #40508
cc @madmiraal

[2020-07-19 12:07] Calinou commented on #28350
@jamie-pate Can you reproduce this in the `master` branch with the new lightmapper?

[2020-07-19 12:09] Calinou commented on #39410
@extremety1989 See https://github.com/godotengine/godot-proposals/issues/793 and https://github.com/godotengine/godot-proposals/issues/339.

As it stands right now, I think it's better to document this.

[2020-07-19 12:11] Calinou commented on #27306
I can't reproduce this either on Godot 3.2.2, closing.

[2020-07-19 12:11] #27306 closed

[2020-07-19 12:16] madmiraal commented on #11888
Reopening, because I'm still experiencing the issue as [originally described](https://github.com/godotengine/godot/issues/11888#issue-263551699) in both 3.2.2 and master 9e34ba4 i.e. when trying to create a `MeshLibrary` using ```Scene -> Convert To... -> MeshLibrary...``` or add to a `MeshLibrary` using ```Mesh Library -> Import from Scene```  the MeshLibrary doesn't contain the scene's `Collisio

[2020-07-19 13:20] AndreaCatania commented on #40508
I'm working on a fix for this.

[2020-07-19 13:25] phelioz commented on #39410
Yeah I agree it would be nice. Span combined with some unsafe code could probably remove the performance issues that currently come from the marshaling. Seems maybe we will get that in 4.0, hopefully.

But until then I agree the documentation should be updated.

[2020-07-19 13:54] shiMusa commented on #23208
I'm using latest Rider and Godot 3.2.2, same issue

[2020-07-19 14:09] Xrayez commented on #40401
Can reproduce in `3.1.1.stable`, and likely `3.0.6.stable`.

[2020-07-19 14:27] samtsejerome commented on #40321
I ran the command-line you suggested and the error is inexplicable as the solution has been building for months as is.:
![image](https://user-images.githubusercontent.com/68197715/87877108-4e2c5780-c9d4-11ea-8c7d-6339e477d122.png)

is there a way we can communicate about this without it being on the public internet..?

[2020-07-19 14:31] Relintai opened #40509 "[3.2][HEAD] Directories cannot be created anymore"
**Godot version:**
https://github.com/godotengine/godot/commit/89f57ae12244f3269c9e3fe4684e16ec1fd2c989

Note that I did not test master, it might be an issue there aswell.

**OS/device including version:**
Tested it on:
Linux, Manjaro. Kernel: 5.6-4
Android 9
Windows

**Issue description:**
After the recent changes to `Directory` they have to be `open()`-ed before use, however `Directory.open()`

[2020-07-19 14:34] Calinou commented on #40321
We prefer discussion to be public so everyone can benefit from it. Godot developers generally don't offer free private support (I don't).

[2020-07-19 14:38] samtsejerome commented on #40321
Ok I only asked because the log output has my full name and personal folders in 

Jerome Mayeux
Sent from Polymail ( https://polymail.io/?utm_source=polymail&utm_medium=referral&utm_campaign=signature )

On Sun, 19 Jul 2020 at 15:34 Hugo Locurcio < Hugo Locurcio ( Hugo Locurcio <notifications@github.com> ) > wrote:

[2020-07-19 14:38] samtsejerome commented on #40321
any idea why my build is failing (based on the output) ?

[2020-07-19 16:01] Xrayez commented on #40509
Yeah, I stumbled upon this in #40234, and I think I didn't got to actually test this properly because the directories existed, because most usages are in the form of:

[code]

It likely also affects `make_dir_recursive`.

CC @nathanfranke 🙂

[2020-07-19 16:19] Relintai commented on #40509
Yes it does, although I managed to not state it explicitly, my minimal reproduction project tests for it.

[2020-07-19 16:38] tom-jk commented on #26827
Can reproduce in 3.2.2.stable.

Minimal reproduction project:
[26827.zip](https://github.com/godotengine/godot/files/4944016/26827.zip)

This appears to be the intended design (or, a known limitation), as per [the docs](https://docs.godotengine.org/en/3.1/classes/class_csgshape.html):

In the MRP you can move the CSGSphere with the right key, and the Area does not register entry. But if you use th

[2020-07-19 16:39] claydegruchy opened #40511 "Cutout 2D animation bones not saved when using instanced nodes"
**Godot version:**
Godot 3.2.1 stable

**OS/device including version:**
Macos Mojave 10.14.3 (18D42)
MacBook Pro 13-inch, 2018

**Issue description:**
When creating bones from nodes as outlined [here](https://docs.godotengine.org/en/stable/tutorials/animation/cutout_animation.html#completing-the-skeleton) using instanced nodes (such as scene which contains a sprite and effect), generated bones do

[2020-07-19 16:42] adityabmv27 commented on #40449
I have checked my mouse and it seems that the problem is of my mouse, due to COVID-19 in my area there is no new mouse available for purchase. Now I have a laptop with touchpad, I tried to enable middle mouse button in touchpad and it seems that my laptop's touchpad is not supported. Can I control the 3D Viewport with only touchpad ?
If YES then How ?

In the previous @Calinou has suggested me ena

[2020-07-19 16:53] AndreaCatania commented on #40311
Fixed with: https://github.com/godotengine/godot/pull/40252

[2020-07-19 16:53] AndreaCatania commented on #40506
Fixed with: https://github.com/godotengine/godot/pull/40252

[2020-07-19 16:53] AndreaCatania commented on #40508
Fixed with: https://github.com/godotengine/godot/pull/40252

[2020-07-19 17:01] tom-jk commented on #26632
Can sort-of reproduce on 3.2.2.stable on linux mint 18.3.

The field in the inspector is initially empty. But it _is_ correctly populated once the scene is reloaded (which is a recurring theme generally with tool scripts).

convenience project: [26632.zip](https://github.com/godotengine/godot/files/4944096/26632.zip)

[2020-07-19 18:15] KoBeWi commented on #40460
Yeah, it doesn't crash in 3.2.3.

[2020-07-19 18:15] #40460 closed

[2020-07-19 18:21] Calinou commented on #40449
You could rely on freelook mode by pressing <kbd>Shift + F</kbd> then moving the mouse and using W/A/S/D/Q/E movement keys. Use the mouse wheel to adjust freelook speed. Press <kbd>Escape</kbd> to leave freelook mode.

[2020-07-19 18:38] Scintillo opened #40514 "Main thread TaskScheduler is not GodotTaskScheduler"
**Godot version:**

v3.2.2.stable.mono.official

**OS/device including version:**

Windows 10

**Issue description:**

The main thread TaskScheduler is not an instance of GodotTaskScheduler but instead a default TaskScheduler that posts to the ThreadPool.

I believe this is a bug because GodotTaskScheduler instance is stored in GDMonoCache and there doesn't seem to be any way for scripts to access

[2020-07-19 18:40] KoBeWi commented on #26376
I'd put usability over consistency here. I run into conversion errors every time I write a shader and it's annoying :I
Also I noticed some questions were unanswered.

3.0. Only 1 + 2 would produce 3.

    return max(3.0, 2);
}
What would the expected output be? Even inferring what the types are from the function call is impossible.

No output, because the condition is false xd
Right now it produce

[2020-07-19 18:43] KoBeWi commented on #35162
I don't think a video is really useful if it's unknown how to reproduce it. Also no one else made a similar report.
Does it still happen in 3.2.2?

[2020-07-19 18:46] Dok-Sergey opened #40515 "Script does not close when deleted from FileSystem"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10,

**Issue description:**
If you delete a script file from the FileSystem tab, it will remain open and unnamed in the script editor.

**Steps to reproduce:**
1) Created a script.
2) Opened in the editor.
3) Deleted it on the FileSystem tab.
4) On the Scene tab, switched to this script.
![err](https://user-images.githubusercontent

[2020-07-19 18:47] justinbowes commented on #15833
I am experiencing this, and it just started happening after I tried to use horizontal scroll. v3.2.2.stable.official.

[2020-07-19 18:51] Dr4kzor commented on #35162
I managed to re upload the video to https://streamable.com/4pccqj , If I remember correclty this happend after draging some keyframes in the timeline, but I could be wrong. You can see on the video that the Animation file has more than 1 value for the same time (in this case at 0.3s)

[2020-07-19 18:59] Scintillo commented on #40514
Some further debugging, it doesn't look like `Dispatcher.SynchronizationContext` is set as the synchronization context for the thread. It looks like it should be set from here:
https://github.com/godotengine/godot/blob/7e38e8fdb0c05f0216e4322806315a025dc05b6f/modules/mono/mono_gd/gd_mono.cpp#L915

Which leads to here:
https://github.com/godotengine/godot/blob/12482bf8840ce2fa84d6eea7999628be426cba

[2020-07-19 19:01] Cykyrios commented on #40508
I just tried your changes on master, and it works properly again. Thanks! Now I'll just have to wait for the 3.2 version of it.

[2020-07-19 19:12] Scintillo commented on #40514
Hmm, I actually cannot repro this with a fresh project. Maybe there is something more complex at play here.

[2020-07-19 19:30] Scintillo commented on #40514
Ok, I had placed `new GodotTaskScheduler()` in my code while trying to make this work. After removing that, using `TaskScheduler.FromCurrentSynchronizationContext()` works correctly. However, using TaskScheduler.Current still doesn't work. I am not sure there is anything that can be done about that by Godot though.

A nice workaround might be to provide access to GodotTaskScheduler directly.

[2020-07-19 19:33] bitwes commented on #30723
I'm not sure if this is a valid workaround, but it appears to work.  I have a node that is shown on launch.  I used `_process` to check for a pixel color change at `(0, 0)`.  When that happens I know the default splash screen is done.
[code]
Output:
[code]
Note that `'same'` is never printed and `_process` only runs twice.  This leads me to believe this might be an error prone approach but it work

[2020-07-19 19:35] #40514 closed

[2020-07-19 19:36] QuackDuckStudios opened #40516 "Changing Scene Not Working In Exported Version of Game"
**Godot version:**
3.2.2 & 3.2.1 ( I tried it in both )

**OS/device including version:**
![image](https://user-images.githubusercontent.com/66213003/87882421-95ccd680-ca08-11ea-8248-2c8dc081605a.png)

**Issue description:**
I am changing scenes using `get_tree().change_scene()`. It works when I playtest it from Godot, but when I export it, it doesn't.

**Minimal Reproduction Project**
https://meg

[2020-07-19 19:42] Calinou commented on #15833
@binbitten Are you still around?

[2020-07-19 19:45] Calinou commented on #40516
@QuackDuckStudios Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

Also, remember that Windows' file system is case-insensitive, but the virtual PCK filesystem used by exported projects is case-sensitive. Double-check the file paths you've written in your scripts.

[2020-07-19 19:51] tom-jk commented on #35162
Thanks. The video helps prove that the keys really are overlapping (as opposed to just being very close).

I've tried to reproduce it in 3.2.2.stable (with tricks like trying to cause keys to overlap through scaling, moving multiple keys, selecting keys on two tracks and moving while one is hidden, moving them really close and seeing if they get rounded together when saving, etc.) but no success.

[2020-07-19 19:52] Calinou commented on #29865
Can anyone still reproduce this in Godot 3.2.2 or later?

[2020-07-19 19:53] thedaneeffect commented on #40499
Unfortunately, while that sounds like a reasonable explanation, it is evident in this [screenshot](https://puu.sh/G8x91/b2c6bb57d7.png) that my GPU actually raised its frequency and increased power usage to compensate for the load.

[2020-07-19 19:53] Calinou commented on #34037
@unclearimage86  Can you (or anyone else) still reproduce this bug in Godot 3.2.2 or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag and drop.

[2020-07-19 19:54] Calinou commented on #30871
@ondesic Can you (or anyone else) still reproduce this bug in Godot 3.2.2 or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag and drop.

[2020-07-19 19:54] Calinou commented on #30094
@zszen Can you (or anyone else) still reproduce this bug in Godot 3.2.2 or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag and drop.

[2020-07-19 19:54] Calinou commented on #28228
@mitchcurtis  Can you (or anyone else) still reproduce this bug in Godot 3.2.2 or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag and drop.

[2020-07-19 19:56] Calinou commented on #9815
Slow *rendering* should be resolved in Godot 3.2.2 thanks to the addition of [batching](https://godotengine.org/article/gles2-renderer-optimization-2d-batching) when using the GLES2 renderer. This may also be added to the GLES3 renderer in a future version.

As for the startup time issue, this is being tracked in https://github.com/godotengine/godot/issues/39841.

[2020-07-19 20:11] Griefchief commented on #16569
This still happens in Godot 3.2.2

[2020-07-19 20:22] Favkis opened #40518 "Physical bones simulation cannot detect legs"
**Godot version:**
3.2.2 stable official in steam

**OS/device including version:**
Windows 10

**Issue description:**
When adding physical bones and starting simulation, godot ignores legs. I tried on few meshes and everywhere where pelvis bone becomes legs, godot cannot simulate physics for legs, they just continue playing animations and are not physical.
![image](https://user-images.githubuserc

[2020-07-19 20:32] DJKero opened #40519 "Mousewheel scroll not working in the Script Editor"
**Godot version:**
3.2.2.stable.official

**OS/device including version:**
Windows 10 (Up to date)

**Issue description:**
Out of the blue, the mousewheel didn't work anymore to scroll in the script editor.
Found out that disabling "Smooth Scroll" on Editor Settings > Text Editor > Navigation solved the issue.

[2020-07-19 20:39] Calinou commented on #40519
Did you increase Physics Fps in the Project Settings? If so, this is a duplicate of https://github.com/godotengine/godot/issues/28385.

[2020-07-19 20:45] Favkis commented on #40518
I added parent PELVIS to both upper legs and ragdoll works now

[2020-07-19 20:45] #40518 closed

[2020-07-19 20:47] Calinou commented on #16569
@Griefchief

[2020-07-19 20:58] tom-jk commented on #26931
The music in the supplied project file is somewhat misleading because there is a slight delay at the loop point in the music itself. I've modified the project to add a ~2sec cut of the music that loops perfectly (not musically, but as in there's no silence or pop), plus a noise clip (to check for audible skips) and a 120bpm click track (to check the timing isn't drifting). There is an animation sy

[2020-07-19 21:01] TheDuriel commented on #40515
I feel thats intended actually. The script is kept in memory, and will allow you to recover it should you change your mind.

It loses its file name too, informing you of the fact that its just floating there, ready to be lost. (You can just close it if you want to fully nuke it.)

[2020-07-19 21:06] TheDuriel commented on #40499
Still likely that its a windows issue combined with your godot configuration. It may be that windows fullscreen optimizations are interfering with things. As they often can do.

The renderdoc output is kinda funny. Not doing anything fancy. But drawing the empty selection highlight in the file dock takes up nearly the entire frame worth of time.
![image](https://user-images.githubusercontent.com/4

[2020-07-19 21:11] DJKero commented on #40519
Oh, I searched "mousewheel" and didn't get any result. My bad!

[2020-07-19 21:11] #40519 closed

[2020-07-19 21:22] KoBeWi commented on #30140
Still valid in 9e34ba4

[2020-07-19 21:23] clayjohn commented on #40499
@TheDuriel You can't trust renderdoc frame timings. Each time you measure timings you will get different draw commands stalling in the above capture. The fact that it is periodic stalls could point to the issue being a memory transfer issue or a GPU/CPU sync issue.

[2020-07-19 21:31] clayjohn commented on #26376
@KoBeWi Thanks for following up.

I honestly go back and forth on this issue. Some days I feel like it is okay to trade shader speed to make it easier for users. Other days I feel like shaders should be kept fast and powerful so that users who are willing to work with them can get the most out of their shaders.

I am also concerned that abstracting shaders too much does a disservice to users. GPUs

[2020-07-19 21:32] avencherus commented on #40509
Ran into the issue with recursive as well.

In my case, I think I worked around it by opening it to user:// when creating the directories there.

Maybe there are still circumstances when it doesn't already exist during play?

[2020-07-19 21:39] rcorre commented on #39507
Just happened to me again. I'm reasonably sure I didn't open this particular project with a `master` build. I noticed that in the `configure snap` menu my snap values are set to

- Translate: 0
- Rotate: 0
- Scale: 0.000002%

[2020-07-19 21:56] KoBeWi commented on #26376
Ok, made the proposal: https://github.com/godotengine/godot-proposals/issues/1223

[2020-07-19 21:56] #26376 closed

[2020-07-19 21:58] profanicus commented on #40502
Hey @Calinou, no problem!

I checked and the last good version is Godot_v3.2.2-beta2_win64.

One other notable thing that may help, is the state of these toggled modifier keys seems to be remembered between sessions.

[2020-07-19 22:23] giulianob opened #40522 "Clipboard converts \r\n into \r\r\n"
**Godot version:**

3.2.2

**OS/device including version:**

Windows

**Issue description:**

If writing text which already contains "\r\n" in Windows to the clipboard, there will be an additional \r specified in the text which is technically invalid and causes double new lines in some programs.

[code]

I believe the code above should only be modifying "\n" which are not already preceded by "\r"

[2020-07-19 23:12] Relintai commented on #40509
That's really clever lol

[2020-07-20 00:19] PopeRigby opened #40526 "RigidBody2D isn't detecting every collision"
**Godot version:**  v3.2.2

**OS/device including version:** Arch Linux

**Issue description:**

I have a RigidBody2D setup, and it supposed to break into smaller pieces when it detects a collision from any other body in the group "bullets". The thing is, it's only detecting some of those collisions. Here's a video of it in action: https://watch.haddock.cc/videos/watch/3448edb0-3ad0-4fe3-ad3d-2293

[2020-07-20 00:55] clayjohn commented on #40444
I can not reproduce. Using Windows 10, RX 5600 XT.

This may be GPU/Driver related. So please ensure you have the latest drivers for your system.

Also note for future bug reports. An MRP is the smallest possible project that can be used to reproduce a bug. The project you included was a completed tutorial project and it didnt even have the settings that you said are required to reproduce the bug.

[2020-07-20 02:38] Ranoller commented on #9815
Well, i don´t think rendering was the problem, is "preload"... If this helps, in my current project (very big, a lot of scripts) my workaround is this:
1) If i don´t need preload in startup: I´m using load
2) If i need to preload in game startup: I have a singleton with dictionaries with the names of the resources, I reference that singleton in the other scripts. This dictionaries has "loads" in _

[2020-07-20 03:42] Dok-Sergey commented on #40515
Perhaps, but (I suppose) it would be more logical to close and detach from objects that are removed.
Accidental deletion is unlikely

[2020-07-20 03:56] chrishatch52 commented on #39881
Sad as it is to say, I am having a helluva time getting the workflow set up.

On Windows, I have tried to install SCons, and it does not work. Installed in Python3.8 folder, using pip, Windows refuses to recognize it.

On Linux(Manjaro) have SCons, no issues compiling, but debugging it in Visual Studio Code is not working either, followed the launch.json and task.json file recommendations on the g

[2020-07-20 04:10] ricardoalcantara opened #40527 "[Mono] 3.2.2 Android Plugin - Mono: Core API hash mismatch."
**Godot version:**

3.2.2.stable.mono.official

**OS/device including version:**

Android with GLES3

**Issue description:**

Just use the GodotGooglePlayBilling on a Android Custom build on a project that uses Mono C# and it will warning on the console

[code]

**Steps to reproduce:**
Download the GPB_IAP_MONO.zip from the following section

![image](https://user-images.githubusercontent.com/2466

[2020-07-20 04:48] Griefchief commented on #40099
Regression fixed by this commit. I suspect that updating the items pointer here updates the pointer of the bones, as this is the only change in SkeletonIK _update() function:

https://github.com/godotengine/godot/commit/277696d6c50eba68ca11cf3c0988be0213e5c65d#diff-33142f6c0baba2d89d20429c9ede7a44R147

Author: Andrea Catania <info@andreacatania.com>
Date:   Tue Mar 24 09:59:32 2020 +0100

    Fixe

[2020-07-20 05:17] #40099 closed

[2020-07-20 06:17] jasperbrooks79 opened #40529 "Particles don't work in Godot 4.0, really want to test them . ."
**Godot version:**
Godot 4.0 hash a474926ac

**OS/device including version:**
Windows 10 PC . .

**Issue description:**
This might not be a bug, but the particlesystem doesn't work . . It's disabled . .
![2020-07-20 0716](https://user-images.githubusercontent.com/61069740/87905562-2931f600-ca61-11ea-947e-f29c3b14f44c.gif)

The particle system is getting updated, it might be why, I simply don't kno

[2020-07-20 06:56] protito opened #40530 "Cursor locked by keyboard input"
**Godot version:**

3.2.2.stable.official

**OS/device including version:**

OS: Pop-os! 20.04 (ubuntu)
Device: Lemur pro 2020

**Issue description:**

Cursor movement is locked if any key is pressed.
I'm using the trackpad, will test with a wired mouse.

**Steps to reproduce:**
Create new project
run
hit "a"  key and hold,  try to move cursor using trackpad, it wont move

**Minimal reproduction p

[2020-07-20 06:58] Ralf12358 opened #40531 "Sprite3D View Frustum Culling Issue on Android"
**Godot version:**
Head on Branch 3.2; 89f57ae12244f3269c9e3fe4684e16ec1fd2c989

**OS/device including version:**
GLES2, Android. Tested with Galaxy S7 Edge and Amazon Fire HD 8

**Issue description:**
On Android Sprite3D Is culled as soon as the origin is out of the view frustum - without considering the size of the sprite. Works correct on Desktop (Linux) and Browser. Other platforms (iOS) are n

[2020-07-20 07:13] AndreaCatania commented on #40127
The gravity is applied only the first frame so:
- Your body could have gravity scale set to `0' the first frame, and you could switch it to `1` after it.
- Another solution would be active the `custom_integrator` for the first frame.
- Yet another solution could be make the rigid body to be kinematic the first frame.

So, you should do something that make sure to freeze the body the first frame

[2020-07-20 07:17] Calinou commented on #40531
This has most likely been fixed in https://github.com/godotengine/godot/pull/39867 (in addition to performance improvements). In the meantime, you should use MeshInstance + PlaneMesh or QuadMesh to improve performance and avoid this issue.

[2020-07-20 07:20] Calinou commented on #40530
I think many trackpad drivers will block trackpad input after pressing a key for a short amount of time to implement palm rejection. You may be able to [disable it](https://askubuntu.com/questions/931761/how-to-fix-palm-rejection-on-ubuntu-16-04-lts), which is recommended when using 3D applications with a trackpad.

[2020-07-20 07:29] Calinou commented on #40529
Particles haven't been implemented yet in the Vulkan renderer: https://github.com/godotengine/godot/issues/35353

[2020-07-20 07:29] #40529 closed

[2020-07-20 07:31] Calinou commented on #40526
Does it work better if you increase Physics Fps in the Project Settings or increase the sizes of the bullet collision shapes?

[2020-07-20 07:35] jesperkondrup opened #40532 "Crash when you move a sprite into a Node2D that already has a node with the same name"
**Godot version:**
3.2.1 stable

**OS/device including version:**
Windows 10

**Issue description:**
If you try to move a sprite into a node that already has a node/sprite with the same name, then I get a hard crash every time.

**Steps to reproduce:**
Make a scene that has the same hierarchy as in the image and move "sprite1" to the top Node2D.
![image](https://user-images.githubusercontent.com/2

[2020-07-20 07:37] akien-mga commented on #32145
It's still reproducible in `master` for me.
Doesn't seem related to #40460 which was a regression in stb_vorbis in 3.2.2.

[2020-07-20 07:40] Calinou commented on #40532
I can't reproduce this on Godot 3.2.2. After dragging the bottom Sprite onto the root Node2D (or just below it), I get the following structure:

![image](https://user-images.githubusercontent.com/180032/87912112-0c9bbb00-ca6d-11ea-9271-07ce30e9c02f.png)

Have you tried reproducing this on 3.2.2?

[2020-07-20 08:02] AndreaCatania commented on #40486
@Cybolic can you also open an issue with a sample project that shows that your applied force is halved?

[2020-07-20 08:08] akien-mga commented on #40444
I can reproduce the issue in 3.2 (89f57ae12244f3269c9e3fe4684e16ec1fd2c989) with the provided project (after enabling verbose stdout and disabling texture array reflections):
[code]
The "ID: " part changes at each run.

This is on Mageia 8 with `AMD VEGAM (DRM 3.37.0, 5.7.9-desktop-1.mga8, LLVM 10.0.0)`.
Same issue with `Mesa Intel(R) HD Graphics 630 (KBL GT2)` too.

[2020-07-20 08:12] akien-mga commented on #40444
It's reproducible in a new project with the `default_env.tres`. Disabling the default env removes the warning, so it's triggered by one of the features of the environment.

[2020-07-20 08:15] akien-mga commented on #40444
Backtrace for the error:
[code]

[2020-07-20 08:21] jesperkondrup commented on #40532
We just tried it in 3.2.2 and it still crashes on Windows but not on Linux. So it might be a Windows problem.

[2020-07-20 09:11] avencherus commented on #40532
With Windows 10, I'm not able to reproduce it either in 3.2.2 stable.

[2020-07-20 09:23] avencherus commented on #36241
Still getting this from time to time.  Today it went on for several minutes and slowed down the editor while it was throwing these errors.

[code]

[2020-07-20 09:56] SgtLion opened #40537 "Parameter Hints for Singletons not showing up"
**Godot version:**
3.2.2.stable.official

**OS/device including version:**
Both Windows 10 1909 and Fedora 31

**Issue description:**
When typing functions from a custom singleton script, no parameter hints are shown, makes it hard to fill out real big functions. Then poor ol' me is left stranded to remember what parameters should go in here.

**Steps to reproduce:**

Make a script, e.g. "Node2.gd

[2020-07-20 09:56] Ralf12358 commented on #40531
Just to be sure: I'm on **head** on the 3.2 branch. This should include all fixes from the 3.2.3beta1, right? So, it is probably not fixed.
With the regular 3.2 release: Sprite3D was unusable with less than 1 FPS.
As you suggested I'm now using a QuadMesh, I experiencing a new Android specific issue with pngs with alpha channels. I would like to report a new bug, but before doing so I would make s

[2020-07-20 09:57] jesperkondrup commented on #40532
I recorded a video just to show that I am not totally crazy ;)
[Godot322_Crash_20_07_2020.zip](https://github.com/godotengine/godot/files/4946886/Godot322_Crash_20_07_2020.zip)

[2020-07-20 09:58] AndreaCatania commented on #40486
This issue happens on Godot Physics too, and it was not an issue before because Bullet was 2 Physics Frame behind.

### Cause
The cause of this issue is a processing order, and it's a bit complex to explain.

First, remember that the code that updates the `PhysicsServer` is the following:
[code]
Note: it takes the transform returned by Node3D::get_global_transform and set it to `PhysicsServer`.

W

[2020-07-20 10:01] AndreaCatania commented on #40486
This can be easily fixed by putting a transform flush at the start of the `iteration` function, but I have the strong feeling that it's not a good thing to do, so let's summon @reduz .

[2020-07-20 10:03] MilanGodot opened #40538 "Can't edit projects after opening Godot from RAR archive the first time"
**Godot version:**
3.2.2

**Issue description:**
Can't say I'm new to game dev, but I'm definetely new to godot. Yesterday I started it up and started learning things, and today I tried booting it up again, which worked fine but when i tried to enter my project with "Edit Project" It doesn't work and give me an error message:

Editing project: X:/Programming/Godot/Learning Project V2 (X:::Programm

[2020-07-20 10:06] Leleat commented on #38092
On a fresh install of Fedora 32 and using Godot 3.2.2 stable (Flathub) this behaviour doesn't happen anymore. I believe I just had a general installation problem because I noticed other weird problems (for ex. that my preview icons in the project manager were messed up...). So I am closing this.

[2020-07-20 10:06] #38092 closed

[2020-07-20 11:18] akien-mga commented on #32145
I'm not sure this is a bug, as the "broken" file in the attached project is actually recognized as an Ogg Theora video (with Ogg Vorbis audio):
[code]

PulseAudio can't open it either:
[code]

Here's what ffmpeg says:
[code]

I tested `stb_vorbis` directly upstream and confirmed that it's not able to load the "BROKEN" file. It could possibly be implemented if there's a real need for it. It's the f

[2020-07-20 11:39] nathanfranke commented on #40538
Does it crash with a new project? If not, make a MRP

[2020-07-20 11:41] akien-mga commented on #32145
Yeah the file in the MRP is just bogus. I can't reach incompetech.com right now to confirm that it's the one Kevin MacLeod generated, but it should be fixed to use the proper VorbisComment feature to embed cover art, not a separate video stream.

Starting from the "WORKING" file, I used [EasyTAG](https://wiki.gnome.org/Apps/EasyTAG) to embed a new image as cover, and the resulting file works fine

[2020-07-20 11:41] #32145 closed

[2020-07-20 11:49] akien-mga commented on #40538
Try to reboot Windows, it seems unable to start a process, which would be an OS issue.

[2020-07-20 11:49] #30102 closed

[2020-07-20 11:51] #38933 closed

[2020-07-20 11:51] Calinou commented on #40531
cc @clayjohn

[2020-07-20 11:53] #40509 closed

[2020-07-20 12:03] KoBeWi opened #40539 "Scene tab closing refactor"
**Godot version:**

d14932a

**Issue description:**

As I mentioned in #40525, Editor Node handles scene closing in multiple ways. Just search for `save_confirmation->set_text` in `editor_node.cpp` and you will see that it's used 3 times, twice with the same message. The code feels like a mess. Check this part for example:
https://github.com/godotengine/godot/blob/474333e9a01ac6a14fefb44f02cd36c40

[2020-07-20 12:13] KoBeWi commented on #16670
So I just tried a FAT32 pendrive on Windows 10 and everything works fine (in 3.2.2 at least).
@Ranoller Can you still reproduce this issue in 3.2.2?

[2020-07-20 12:39] redoxCode commented on #40530
As Calinou mentioned, this might be an issue with your OS settings. I have the same thing going on with Arch linux and fluxbox wm. However an external mouse is not affected as well as the arrowkeys (they don't lock the track pad).
You can easy test if it's a godot issue by observing if the same thing happens when you use other software than godot.
Not sure if it has to be in the documentation, but

[2020-07-20 12:44] van800 commented on #18051
BTW there is CleanupCode is a free cross-platform command-line tool https://www.jetbrains.com/help/rider/CleanupCode.html

[2020-07-20 12:50] #27079 closed

[2020-07-20 12:53] #40381 closed

[2020-07-20 13:04] Faless commented on #40247
Caused by browser restrictions on CORS. Nothing we can do about it. Closing.

[2020-07-20 13:04] #40247 closed

[2020-07-20 13:14] Ralf12358 opened #40541 "Wrong lightness of textures with alpha channel and translucent pixels on Android"
**Godot version:**
Head on Branch 3.2: 89f57ae12244f3269c9e3fe4684e16ec1fd2c989
Reproduced on 3.2.3beta1, too. Probably older version are affected, too

**OS/device including version:**
GLES2, Android. Tested with Galaxy S7 Edge and Amazon Fire HD 8

**Issue description:**
Please read carefully. Issue description may sound strange, but it's an annoying and often subtle bug. Attached is a sample pr

[2020-07-20 13:27] tom-jk commented on #31284
On linux mint 18.3:
Can reproduce in 3.1.2.stable.
Can no longer reproduce in 3.2.2.stable.

Video comparison (length: 0m18s): https://youtu.be/tIZscFRTl9Q

[2020-07-20 13:33] Calinou commented on #31284
@tom-jk Thanks for testing this :slightly_smiling_face: I'll assume this was resolved between 3.1.2 and 3.2.2.

[2020-07-20 13:33] #31284 closed

[2020-07-20 13:34] adityabmv27 commented on #40449
The Controls which you said are working great !!
Thanks a lot @Calinou for help.

[2020-07-20 13:35] #40449 closed

[2020-07-20 13:36] KoBeWi commented on #25617
Closing for inactivity. This might be the same issue as #31284, which was fixed in 3.2.x. Comment (with a reproduction project) if you can still reproduce in 3.2.2.

[2020-07-20 13:36] #25617 closed

[2020-07-20 13:41] zoford opened #40543 "Duplicating an Omnilight3D Crashes Godot"
**Godot version:**
v4.0.dev.custom_build.9e34ba485

**OS/device including version:**
Windows 10

**Issue description:**
When you try and duplicate an Omnilight3D Godot crashes without any error messages instead of duplicating it.

**Steps to reproduce:**
Try duplicating an Omnilight3D with the right click menu or with "Ctrl+D".

**Minimal reproduction project:**
[Omnilight3D Crash.zip](https://git

[2020-07-20 14:26] zoford opened #40544 "Saving after reparenting an Omnilight3D into a node containing a MeshInstance3D Crashes Godot"
**Godot version:**
v4.0.dev.custom_build.9e34ba485

**OS/device including version:**
Windows 10

**Issue description:**

Saving after reparenting an Omnilight3D into a node containing a MeshInstance3D (with any mesh) crashes Godot instead of saving.

**Steps to reproduce:**
Reparent an Omnilight3D into a node containing a MeshInstance3D (with any mesh) by dragging it into the node from the scene d

[2020-07-20 14:33] KaDokta commented on #40515
It looks very weird though. Maybe it should keep the name, with a prefix like "Deleted: ".

[2020-07-20 14:55] tom-jk commented on #26566
Can reproduce on 3.2.2.stable on linux mint 18.3, kernel 4.15.0-55-generic.
The effect occurs randomly but on average about one in every two/three repeats.
Can confirm suggested workaround does mitigate issue.
Disabling trim does not make a difference.

For convenience here is a sample of the output audio, alternating between correct and incorrect:
**(potential loudness warning)** [26566_ogg.zip](

[2020-07-20 15:19] akirayui opened #40545 "Android custom build apk size issue"
**Godot version:**
3.2.2.stable

**OS/device including version:**
Ubuntu
GLES2

**Issue description:**
I built two templates for Android following the instructions in the link below https://docs.godotengine.org/en/stable/development/compiling/compiling_for_android.html
Files:
android_release.apk 7.1MB
android_debug.apk 8.8MB

Then I followed the instructions in this link
https://docs.godotengine.o

[2020-07-20 15:22] akien-mga commented on #40545
You're probably not using your custom compiled templates.

If you use the Custom Build feature, you should replace the `android_source.zip` in the templates folder, remove your `res://android` folder and re-install the template. Otherwise you're still using the original 3.2.2.stable libraries.

[2020-07-20 15:26] JupiterRider opened #40546 "the reference assemblies for .net framework version=v4.7 were not found"
**Godot version:**
3.2.2 mono

**OS/device including version:**

Windows 10

**Issue description:**

Error when building a project:
`the reference assemblies for .net framework version=v4.7 were not found
`

**Steps to reproduce:**
Windows 10 builds >= 1903 are delivered with .NET Framework 4.8.0, but Godot generates a .csproj-File with `<TargetFrameworkVersion>v4.7</TargetFrameworkVersion>`  .

C

[2020-07-20 16:23] akirayui commented on #40545
I had placed android_souce.zip in the templates folder but it seems re-installing Android Build Template is required.
Apk size is now 7.5MB. Thank you.

[2020-07-20 16:23] #40545 closed

[2020-07-20 16:26] protito commented on #40530
Hi, thanks for the answer. Yes, this is an OS thing I wasn't aware of.

[2020-07-20 16:26] #40530 closed

[2020-07-20 16:33] tom-jk commented on #26382
Can reproduce issue as described in 3.2.2.stable.

Video (length 0m14s): https://youtu.be/AomtL1_obTI

to silence the errors add an orthonormalized() to line 15:

[code]

[2020-07-20 16:33] noass commented on #36238
I switched to Linux and it works there...

[2020-07-20 16:45] clayjohn commented on #40531
@Calinou are you sure? The OP says that it works fine on desktop but fails on Android. Sprite3D does have an AABB and I think the VisualServer generates another one when the mesh is set.

I'll have to look in more detail.

[2020-07-20 16:48] clayjohn commented on #40544
Are you able to save fine otherwise? For me it always crashes when I try to save a project on Windows 10!

[2020-07-20 17:20] akien-mga commented on #40546
Godot 3.2.2 is supposed to download .NET Framework 4.7 automatically when it's missing. Seems like it's not working for everyone. @neikeq

[2020-07-20 17:22] akien-mga commented on #36238
You can test with 3.2.3 beta 1: https://godotengine.org/article/dev-snapshot-godot-3-2-3-beta-1

[2020-07-20 17:25] PopeRigby commented on #40526
I cranked the Physics FPS up to 144 and made the collision shape bigger, but it didn't seem to affect it.

[2020-07-20 17:30] naithar commented on #40544
Crashes on MacOS too with latest `master`. Just adding a light and saving a project is enough

[2020-07-20 17:50] Cykyrios commented on #40486
The halved force was a gut feeling, it was actually related to issue #40508: I was applying gravity in `integrate_forces()`, so it was not my force that was too weak, but rather gravity applied twice.

Thanks for the explanation about the flow of operations, I never took a look at this before so that's some interesting info to me.
If the engine-side fix is simple enough and worth it, I'm fine with

[2020-07-20 18:00] TheDuriel commented on #40486
we're you applying gravity by setting the correctly adjusted linear velocity on the physics state? or we're you not using the provided state. in which case, yeah it wouldnt work.

[2020-07-20 18:13] jamie-pate commented on #28350
I can't figure out how to add a meshlib to the bakedlightmap, i generated a meshlib where the meshintance had 'baking' enabled but
![image](https://user-images.githubusercontent.com/682658/87971270-e6304c80-ca79-11ea-941b-3670ba8ce877.png)

See attached 'updated' poc
[baked_light_map_crash4.zip](https://github.com/godotengine/godot/files/4949354/baked_light_map_crash4.zip)

[2020-07-20 18:17] zoford commented on #40544
I can save fine otherwise. I'm mostly having problems with Omnilights.

[2020-07-20 18:18] neikeq commented on #40546
I swear there was another issue about this from a few days ago, but I can't find it now.
I just realized yesterday that the Godot editor is actually not calling `restore` when building. Both on master and 3.2. I added the logic but forgot to add the actual argument to the MSBuild command. I'll be fixing this tonight.

[2020-07-20 18:24] Gerarama commented on #35899
UPDATE 4 :
I have rebuilded the movement system using C++
The tearing become so visible even when moving virtualy.

[2020-07-20 18:54] Favkis opened #40549 "PhysicalBones broke themselves"
**Godot version:**
steam stable 3.2

**OS/device including version:**
windows 10

**Issue description:**
Physboxes broke themselves

**Steps to reproduce:**
no idea, I've been doing my game and now all physboxes are broken
![image](https://user-images.githubusercontent.com/46406204/87974818-4f907980-cad3-11ea-8fff-708f7a1fc7c1.png)

In editor they are where they should be
![image](https://user-ima

[2020-07-20 19:01] tom-jk commented on #35089
The problem in the case of this particular project is that you create an infinite loop of grabbing focus back and forth:

- A gets focus, B loses focus
- B steals focus back from A, A loses focus
- A steals focus back from B, B loses focus,
- B steals focus back and so on...

You can see this by adding prints to your focus and unfocus callbacks.

A straightforward solution is to keep a record of w

[2020-07-20 19:16] Cykyrios commented on #40486
I'm using custom integration, so I'm applying gravity manually in `integrate_forces()` when calculating the total acceleration:
[code]
After a reset input, I would set the transform directly and also set the RigidBody's linear_velocity to zero (which does work), but from what @AndreaCatania said, only the transform part is ignored as it gets overridden. Just to be clear, I was getting twice the gr

[2020-07-20 19:59] ArdaE commented on #38154
I have the same problem (Godot 3.2.2, macOS Catalina, version 10.15.6). Why is Godot loading coreaudiod so much when no sound is playing / no audio player is active? It causes the computer to heat up unnecessarily.

[2020-07-20 20:05] clayjohn commented on #40444
Cheers for strict drivers on Linux. I have a feeling this may solve an issue on Android as well.

[2020-07-20 20:09] JupiterRider commented on #40546
@neikeq This one? https://github.com/godotengine/godot/issues/40482

[2020-07-20 20:17] Calinou commented on #38154
@ArdaE Can you try using a profiler?

[2020-07-20 20:19] Calinou commented on #35089
Closing per @tom-jk's comment.

[2020-07-20 20:19] #35089 closed

[2020-07-20 20:19] Calinou commented on #40549
@Favkis Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-07-20 20:22] #38751 closed

[2020-07-20 20:23] bruvzg commented on #38154
With the current audio driver implementation, Godot is constantly outputting audio as long as driver is loaded, it's just 0-level if there's no audio stream is active. Probably we should not start output callback loop if there is no active streams, like it's done with the audio capture.

Output callback loop is activated in driver init:
https://github.com/godotengine/godot/blob/aada93afc0ecc699440

[2020-07-20 20:23] rluders commented on #39881
@chrishatch52 let me try to help.

- Can you share more information about the error message?
- Are you trying to compile it from `master` branch? You probably should not use the master [check this comment](https://github.com/godotengine/godot/issues/39881#issuecomment-655541856).

[2020-07-20 20:23] #39760 closed

[2020-07-20 20:26] bruvzg commented on #38154
Profiler won't help much, on the Godot side audio stream usage is negligible, it's `coreaudiod` daemon usage getting high (probably it depends on specific audio output hardware how high it is, and caused by resampling it's doing).

[2020-07-20 20:39] tom-jk commented on #34507
I'm trying to reproduce this on 3.2.2.stable, 3.1.2.stable or 3.2.stable but I must be missing something or the description is incomplete because everything's behaving.

This project is my best shot, if it's of interest: [34507.zip](https://github.com/godotengine/godot/files/4949972/34507.zip)

@SaffronStreams can you still reproduce this issue, and could you supply a minimal reproduction project

[2020-07-20 21:04] furkanoeztuerk opened #40550 "Gridmap does not display all children of tile"
**Godot version:**
v3.2.2.stable.official

**OS/device including version:**
Windows 10

**Issue description:**
The gridmap does not display all children of a tile. Only the first meshinstance is displayed, the rest is ignored.
Here is how the tiles scene looks:
![pic1](https://user-images.githubusercontent.com/48966965/87985966-c5e5a980-cadc-11ea-9b3b-2abd63f25955.jpg)
There is one parent node, wi

[2020-07-20 21:04] tom-jk commented on #34786
This looks to be fixed in 3.2.2.stable (running on linux mint 18.3). I downloaded the project (and put the yield line back in place) and exported (with default settings), and the splatters paint the walls from the get-go.

@Janglee123 have you had another try recently?

[2020-07-20 21:15] maxqsoftware opened #40551 "Rendering artifacts with exported iOS project"
**Godot version:**
v3.2.1

**OS/device including version:**
iPhone 11, iOS 13.5.1
Exported on macOS Catalina 10.15.2

**Issue description:**
Observing artifacts with rendering on iOS device. Initially tried with the default mobile rendering settings, then tried setting mobile settings equal to the default desktop rendering settings to see if there was an issue using lower-level settings but the ar

[2020-07-20 21:16] tom-jk commented on #34819
In 3.2.2.stable:

- cannot reproduce mode switching to select when selecting tilemap, is always in whatever mode was last set.
- right-click to erase does not pan except in the case of bucket fill mode, where it pans _and_ erases (it should just erase in line with the other editing tools), and eyedropper/pick tile mode, where it can be considered harmless.

[2020-07-20 21:34] TheDuriel commented on #40550
Each item only contains one Mesh, this is intended. Should be part of the associated tutorial no?

[2020-07-20 21:42] KoBeWi commented on #20120
Can anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

[2020-07-20 22:01] KoBeWi commented on #20850
Changing transform in the inspector works fine now, gizmo still doesn't update transform in 15a9767

[2020-07-20 22:27] Gustavo23 commented on #39907
@ratkingsminion yeah, the button didn't work for me either. What ended up working was downloading nuget and running nuget restore. And I must do it for every new project on 3.2.2

[2020-07-20 22:37] binbitten commented on #15833
I'm positively certain that this piece of code is a or _the_ culprit:
[https://github.com/godotengine/godot/blob/80a8a36ca19f9d2bc9fad83f671d732ea339a93f/platform/windows/display_server_windows.cpp#L2461-L2471](https://github.com/godotengine/godot/blob/80a8a36ca19f9d2bc9fad83f671d732ea339a93f/platform/windows/display_server_windows.cpp#L2461-L2471)

The _pressrc_-counter will cause trouble as it d

[2020-07-20 22:42] KoBeWi commented on #20087
Still valid in 15a9767

[2020-07-20 22:45] Gastronok opened #40552 "SHADOWED_VARIABLE Warning Applied to Static Functions"
**Godot version:**
3.2.2.stable.official

**OS/device including version:**
Windows 10 x64

**Issue description:**
Static functions generate SHADOWED_VARIABLE warnings for variables that they're not actually shadowing due to their static nature.

**Steps to reproduce:**
Add the following code to any class:

[code]
This will generate a SHADOWED_VARIABLE warning on member_variable, even though it's n

[2020-07-20 22:53] KoBeWi opened #40553 "Camera3D view visible in 2D editor"
**Godot version:**

173ebe487

**Issue description:**

Title.
![image](https://user-images.githubusercontent.com/2223172/87994060-58da1000-caec-11ea-9456-e7ef2d9ef532.png)
![image](https://user-images.githubusercontent.com/2223172/87994070-60011e00-caec-11ea-9244-eaf5adce6e62.png)

**Minimal reproduction project:**

[ReproductionProject.zip](https://github.com/godotengine/godot/files/4950381/Repro

[2020-07-20 22:56] Ranoller commented on #16670
It´s fixed, thanks.

[2020-07-20 22:56] #16670 closed

[2020-07-20 23:16] ArdaE commented on #38154
Thanks for the info @Calinou.

Most of the CPU activity reported by `Activity Monitor` is within `coreaudiod`, not Godot, as @bruvzg has mentioned. When I profile the Project Manager (no project loaded, compiled as a `release_debug` build), Godot's CPU load is lower than `coreaudiod` and quite insignificant (~2.5% when no mouse or keyboard input is provided). In this case most of Godot's time is s

[2020-07-21 00:55] ricardoalcantara commented on #40481
After a while playing with Android Plugins I migrated the GodotLib.calldeferred calls to Godot Signals like I saw [here](https://github.com/godotengine/godot-google-play-billing/blob/master/godot-google-play-billing/src/main/java/org/godotengine/godot/plugin/googleplaybilling/GodotGooglePlayBilling.java#L223) and it actually solved my issue with callbacks, I achieve to use Signals instead but is s

[2020-07-21 00:55] adam-bates commented on #36456
+1 with errors in output

**Godot version:**
3.2.2.stable.official
**OS/device including version:**
Macbook Pro (2020, 13") running MacOS Catalina (version 10.15.5 (19F101))

---

Also, issue can be seen repro'd in [HeartBeast's tutorial on YouTube](https://youtu.be/srQz4Ix8rZM?t=89). I think he's running a Windows desktop.

[2020-07-21 00:58] ricardoalcantara commented on #40527
As I commented here https://github.com/godotengine/godot/issues/40481 this issue could be related with signals from Java to C#, because I changed just this part of the code in other plugin to be like the GodotGooglePlayBilling and the same issue described here start happening.

[2020-07-21 01:18] CartridgeSoft commented on #40069
Hi. Will this issue be fixed in the upcoming godot 3.2.3? ive tried the first beta and still get this error.

[2020-07-21 01:39] MichaelBelousov commented on #40069
@akien-mga @aaronfranke sorry to mention, but can someone cherry-pick #39739 into 3.2.3? I can put up a PR tomorrow if not

[2020-07-21 03:15] clayjohn commented on #40531
Confirmed on Windows 10.

[2020-07-21 03:28] chrishatch52 commented on #39881
No, I am trying from 3.2.2 stable, where the OP mentioned they were having a problem.

There is not a message or anything on the VSCode attempt. It just does nothing. I have the project in a separate folder, I have breakpoints set where the code is being called based on the bug report, and it times out.

I can't imagine it is a problem with my development computer being too old, because it success

[2020-07-21 05:09] akien-mga commented on #40531
Fixed by #40559.

[2020-07-21 05:09] #40531 closed

[2020-07-21 05:23] ratkingsminion commented on #39907
Yeah, same. I tried dotnet restore first, believing it does the same, but that wasn't the case.

[2020-07-21 05:26] eastrd commented on #39722
Hi, I am using 3.2.2 under windows 10 and encountered the exact same issue and was able to reproduce it with the polygon collision editing tiles for the second time.

In my case, the detailed steps to reproduce:
- Snap step x and y are both set to 16.
- Prepare 2 tiles with slopes
- Use polygon collision to edit the first sloped tile (In my case the first one will not trigger the crash)
- Then use

[2020-07-21 05:36] adabru commented on #34844
Tried it out on 3.2.2.stable and happens for me too on Linux Arch. Maybe its related to https://github.com/godotengine/godot/issues/25375 ?

[2020-07-21 05:53] akien-mga commented on #39722
I managed to reproduce it following these steps (not right away, but eventually I got a crash too while trying again):
[code]

[2020-07-21 06:25] hnOsmium0001 opened #40561 "Tree and ItemList's signals should provide information about which cell has changed"
**Godot version:**

3.2.2

**OS/device including version:**

Windows 10 (unrelated)

**Issue description:**

Currently `Tree`'s signals (`item_selected`, `item_edited`) something _has_ happened, but not where. Same with `ItemList` It would be very convenient if those signals can tell which cell got edited, so the developer can do some validation, saving, etc..

**Steps to reproduce:**
(none)

**Mi

[2020-07-21 06:29] Favkis commented on #40549
I don't know how. I just reported it as a bug, I cannot reproduce it. I just had bot.tscn that contains script on them and human.tscn inside. And the one in scene had his PhysicalBones broken after some time, while BoneAttachments were fine.
Sorry I cannot give more info or reproduce.

[2020-07-21 07:06] Calinou commented on #40549
@Favkis Bug reports that are difficult to reproduce are unfortunately not very useful for us. I'll have to close this one in 7 days if nobody else manages to reproduce it.

[2020-07-21 07:08] Calinou commented on #39881
@chrishatch52 The `--path` argument should point to a project *directory*, not a project.godot file. If you want to use a project.godot file, don't pass `--path` (but keep in mind this will always open the editor instead of running the project).

[2020-07-21 07:23] pouleyKetchoupp commented on #37674
Can't reproduce on Windows or Mac.

[2020-07-21 07:49] Calinou commented on #40552
I'm not 100% sure if this is a bug, as using a member variable's name in a function could still lead to confusion.

[2020-07-21 07:52] Calinou commented on #40553
This has been the case since the beginning of the `vulkan` branch. This might be intended behavior (for those designing HUDs in 3D games), so we may want to keep it as an option.

[2020-07-21 09:04] lightspot21 commented on #40279
Can't reproduce on latest `master` (aka `15a97679`) on Manjaro 20.0.3 (Linux 5.7.9-1-MANJARO and LLVM 10.0.0 from Manjaro's `extra` repo). I used the same command as the issue, but with only 6 instead of 12 threads.

@BloodyMess would you like to try clean-building the latest master? Also, try lowering the number of threads (or even trying a non-parallel build. Normally I don't think there would b

[2020-07-21 09:23] ChronoDK opened #40564 "HTTPRequest METHOD_GET is ignoring request data"
**Godot version:** 3.2.2 stable

**OS/device including version:** Chrome 84 (latest)

**Issue description:**
In an HTML5 build when doing a GET request from an HTTPRequest, the request data is thrown away and not sent.

In my tests it works just fine from the editor, but not in the HTML5 build. There is no body data shown in the Networking tab in Chrome either. It's just not sent.

**Steps to repr

[2020-07-21 09:27] drmar commented on #35899
Confirming that the problem still exists in Godot 3.2.3.beta.1.official.

[2020-07-21 09:34] Calinou commented on #40564
@ChronoDK Please fill in the [issue template](https://github.com/godotengine/godot/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) instead of replacing it when reporting bugs.

[2020-07-21 09:54] #39722 closed

[2020-07-21 10:05] Ralf12358 commented on #40541
I forget: This problems occurs, even if the materials are declared **Unshaded** (!!!).

=> This seems a pure texture problem unrelated to the lightning

Attached is another screenshot from Android with materials set to "Unshaded". If you look closely you will recognize it is different to the other Android screenshot with shading enabled, but the problem persists, anyway: All textures should have t

[2020-07-21 10:07] Calinou commented on #40541
@Ralf12358 Double-check that the textures is imported with sRGB enabled. Also, does this occur if you change its compression mode to Uncompressed or Lossless in the Import dock?

[2020-07-21 11:13] Ralf12358 commented on #40541
@Calinou: That's it! I set the Compress mode manually to "Uncompressed" and the problem is, gone! Thank's. I think you can close the issue. It might be worth considering to automatically import textures with alpha pixels != 1.0 as uncompressed on GLES2, but that's up to you.

Thank's again.

[2020-07-21 11:32] KoBeWi commented on #40550
Yeah, the tutorial doesn't really clarify it. It just tells you to download the demo and doesn't even show the basic meshlib tree. I'll transfer it to Godot docs, because it's intended behavior.

Also the Parent node is unnecessary. Your meshes should be directly under root.

[2020-07-21 11:37] ChronoDK commented on #40564
@Calinou Sorry, updated to use the template now.

[2020-07-21 11:50] Calinou commented on #40564
@ChronoDK Ah, I think I understand it now. GET requests can't send data in their body; you need to use query parameters in the URL instead.

If you need to send body data, use a POST request instead.

[2020-07-21 11:54] Calinou commented on #40541
@Ralf12358 Alright, I'll close this as a duplicate of #26211 then.

[2020-07-21 11:54] #40541 closed

[2020-07-21 12:06] madmiraal commented on #39992
@dannygaray60 As indicated [here](https://github.com/gabomdq/SDL_GameControllerDB/pull/363#issuecomment-658396048) and clarified [here](https://github.com/gabomdq/SDL_GameControllerDB/issues/366#issuecomment-661804584), Windows users need to install drivers to get PS3 controllers to work with the new mappings. I've not been able to locate official drivers, but [this article](https://www.windowspan

[2020-07-21 12:10] neikeq commented on #40069
The cherry-pick of the original PR. #39629, was reverted and was not included in 3.2.2 so it cannot be the cause.

[2020-07-21 12:27] tom-jk commented on #35034
Can't reproduce in 3.1.1.stable or 3.2.2.stable, GLES2.
Linux Mint 18.3, GeForce GTX 750 Ti, nvidia 384.130 driver.

[2020-07-21 12:53] naithar commented on #40544
So having a `Omnilight3D` on the scene that have additional nodes that work with lightning seems to be causing a crash.
Before adding an `Omnilight3D` or sometimes having only `Omnilight3D` on the scene - saving works fine.
After moving/reparenting `Omnilight3D` node or adding an additional light node or adding `Omnilight3D` to the scene having additional light nodes - an editor crashes on saving.

[2020-07-21 13:45] akien-mga commented on #40504
Related to #38508 (CC @RandomShaper). But doing a similar fix would just solve this specific case and not potential other overrides that can break the API, we need a more comprehensive fix IMO.

[2020-07-21 13:56] akien-mga commented on #40467
Well more info will be needed, as I can't reproduce it.

I zoomed out to 100,000x80,000 and made sure to have Sprites in each corner, but I don't reproduce the issue either in Godot 3.2-stable or 3.2.2-stable. I tried making the canvas size 80,000x50,000 too to be sure (fair warning, it's slow).

![Screenshot_20200721_155618](https://user-images.githubusercontent.com/4701338/88063793-bc0a8780-cb6a

[2020-07-21 13:57] tliron commented on #16974
This is a painful issue! I spent a day trying to understand what was going on. The problem is not only that `_ready` would not be called again (and this includes `onready` variable initializations), but also that `setget` setters for exported properties *would* be called again.

(Moreover, the editor will always call the setters *before* `_ready` if the property was given a non-default custom valu

[2020-07-21 13:59] akien-mga commented on #40482
Similar to #40546, I'll let you see if you want to close either as duplicate @neikeq or keep them separate as they're for Windows and Ubuntu respectively.

[2020-07-21 14:06] #40522 closed

[2020-07-21 14:18] neikeq commented on #40482
They're the same. Closing this one as duplicate. It was created first, but discussion continued in the other one.

[2020-07-21 14:18] #40482 closed

[2020-07-21 15:10] qarmin commented on #37665
This also happens with Godot 3.2.3 beta 1

The best way to reproduce it is to clone godot-demo-project repo, and then open every single project inside editor:
[code]

[2020-07-21 15:24] Gyrth commented on #40294
I would like to add that translation is also not calculated correctly with root motion.
To show this happening I edited your example project. The new animation moves the cube exactly one unit/meter to the left.
![Peek 2020-07-21 17-16](https://user-images.githubusercontent.com/14081613/88073508-8e2b4000-cb76-11ea-8b49-362c40e1ae22.gif)

But when I trigger the OneShot in-engine it falls short to th

[2020-07-21 15:24] throwaway14 opened #40568 "When a mesh or a CSG enters the viewport the game crashes on Android"
**Godot version:**
3.2.2

**OS/device including version:**
LG G5 (H850)
Android 7.0

**Issue description:**
When a mesh or a CSG enters the viewport the game crashes. I believe my phone uses Adreno.

**Steps to reproduce:**
1. Create a project;
2. Add a Spatial node;
3. Add a Camera as child of that spatial node;
4. Add a mesh or a CSG so that it will be visible in the viewport once the game will

[2020-07-21 15:32] qarmin opened #40569 "Immediate closure of a project in the editor sometimes results its freeze"
**Godot version:**
Godot 3.2.3 beta 1

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
When closing too fast Godot with specific projects then sometimes editor just freeze in EditorResourcePreview::stop

![Zrzut ekranu z 2020-07-21 17-23-32](https://user-images.githubusercontent.com/41945903/88074262-74d6c380-cb77-11ea-8e4f-514417851973.png)

**Steps to reproduce:**
1. Run pr

[2020-07-21 15:57] Oracuda opened #40570 "get_descendants"
get_descendants would return a table of all descendants in a node, this would be a useful as because find_node only returns a singular node.

[2020-07-21 16:04] KoBeWi commented on #29990
@OriginalAGP Can you still reproduce this in 3.2.2?

[2020-07-21 16:09] KoBeWi commented on #29921
Still valid in 173ebe487

Run this project and toggle the visibility:
[ReproductionProject.zip](https://github.com/godotengine/godot/files/4954759/ReproductionProject.zip)

[2020-07-21 16:32] Favkis commented on #40549
I have this bug again. This time whole class broke their physboxes. I've changed root type from KinematicBody to Human (my class) and my physboxes are permanently stuck in animation frame
![image](https://user-images.githubusercontent.com/46406204/88081355-eec37880-cb88-11ea-992b-4976c83c5de7.png)

[2020-07-21 16:33] Favkis commented on #40549
I have this bug again. This time whole class broke their physboxes. I've changed root type from KinematicBody to Human (my class) and my physboxes are permanently stuck in animation frame
![image](https://user-images.githubusercontent.com/46406204/88081401-000c8500-cb89-11ea-9119-b4c06a6ff354.png)

[2020-07-21 16:33] RichmondGame commented on #36456
Got the following error when I created a New Inherited Scene. The scene only had a Node as the root, with a gd script attached.

core/image.cpp:1604 - Index p_width - 1 = -1 is out of bounds (MAX_WIDTH = 16384).
 Width of image must be greater than 0.
 core/image.cpp:2390 - Condition "data.size() == 0" is true.
 drivers/png/png_driver_common.cpp:56 - png_image_write_to_memory: invalid argument
 dr

[2020-07-21 16:35] nathanfranke opened #40571 "Clicking OptionButton sometimes focuses the main window and closes immediately"
**Godot version:**
f6b6d5105

**OS/device including version:**
Linux Mint 20
Desktop Environment: Metacity

- Interestingly, only reproducible using Metacity and not XFWM or Compiz. However, it is unlikely to be a Metacity issue since XFWM and Compiz both have short lag spikes when showing the popup

**Issue description:**
Demonstration video:
https://youtu.be/SHXasOt35HA

**Steps to reproduce:**

[2020-07-21 16:40] nathanfranke commented on #40571
Sounds very similar, but not related to #40227

[2020-07-21 16:40] Favkis commented on #40549
is there any way to bake physbones position to rest animation again? It happens almsot everyday, almost everyday physical bones are baking into some animation frame form, so maybe I am pressing something? I hope so much, I hate redoing them every day

[2020-07-21 16:40] asmaloney opened #40572 "[macOS] Compile errors when building with C#"
**Godot version:**

Godot 3.2.x from commit 7b4b83e9dcb91b44b39e8cc87df3ddecdb29b689

**OS/device including version:**

macOS 10.14.6

**Issue description:**

Trying to follow [the instructions to build with C# support](https://docs.godotengine.org/en/stable/development/compiling/compiling_with_mono.html#doc-compiling-with-mono).

I'm using the following options to scons:

[code]

This produces ma

[2020-07-21 16:42] ArdaE commented on #38154
For anyone who wants to use the `--audio-driver Dummy` option: Note that the project manager launches a new instance of Godot when a project is loaded, and doesn't forward the `audio-driver` option to it; so be sure to use the `--editor` and `--path` options too in the command line to directly launch the editor for the project you want to open. I.e. skip the project manager; otherwise the audio dr

[2020-07-21 16:42] nathanfranke commented on #37734
#39087

[2020-07-21 16:48] bruvzg commented on #40572
Regression from 0da84b5 (cherry picked from commit 51e1614, without cherry picking 26fcf2b first).

[2020-07-21 16:49] akien-mga commented on #40572
Welp, we'll have to be carefully when cherrypicking from now on unless we decide to use `override` in `3.2` (but it would break third-party code so I'm not in favour of doing it).

[2020-07-21 16:52] akien-mga commented on #40570
Please open a proposal on https://github.com/godotengine/godot-proposals.

[2020-07-21 16:52] #40570 closed

[2020-07-21 16:55] nathanfranke commented on #39613
The VSync in project settings shouldn't impact the editor, only the project. Does the project manager use VSync? What project does it read the VSync option from?

I think we should split the options into Project VSync and Editor VSync

[2020-07-21 17:04] Favkis commented on #40549
Ok I've made workaround:
the problem is that PhysicalBone for some reason bakes body_offset from random animation frame:
![image](https://user-images.githubusercontent.com/46406204/88084544-419f2f00-cb8d-11ea-90e3-18d68b481fc9.png)
The workaround is to do this:
`func fix_physical_bones():
	var translate=Transform(\
		Vector3(1,0,0),\
		Vector3(0,1,0),\
		Vector3(0,0,1),\
		Vector3(0,0,0))
	for bon

[2020-07-21 17:17] asmaloney commented on #40572
I don't think that's correct - you don't want `override` in 3.2 code.

Removing `override` seems to be the correct fix.

PR incoming...

[2020-07-21 17:23] Favkis commented on #40549
it's getting rediculous, workaround doesn't work ANYMORE. Literally it was working when I wrote previous test, not it DOESN'T. What the fuck is going on with these PhysicalBones???

[2020-07-21 17:29] fire commented on #40538
Is this reproducible? Can you add a minimum reproduction project?

[2020-07-21 17:30] Favkis commented on #40549
Workaround #2:
Set up Body Offset by your hand to default matrix values
1 0 0
0 1 0
0 0 1
0 0 0
DO NOT TURN ON AnimationTree in your character scene, only do so in game with script or you risk breaking Body Offset and will have to fix it by hand again because in game it doesn't work.
I would also suggest to not play animations in Animation Player, or at least never leave in non idle (default impor

[2020-07-21 17:52] aaronfranke commented on #40069
This has been fixed on master and can't be easily cherry-picked as it breaks compatibility, so I'm closing this.

[2020-07-21 17:57] henriiquecampos commented on #35280
@tom-jk nope, seems like it's fixed. Thanks a lot.

[2020-07-21 17:58] volzhs commented on #36456
AFAIK, it happens when saving a newly created scene with script editor open.

[2020-07-21 18:08] akien-mga commented on #35280
Thanks, closing then.

[2020-07-21 18:08] #35280 closed

[2020-07-21 18:09] akien-mga commented on #40069
Well it's still something for which a non-compat breaking fix would be welcome in `3.2`. It's a nasty bug.

[2020-07-21 18:10] akien-mga commented on #40572
Fixed by #40573.

[2020-07-21 18:10] #40572 closed

[2020-07-21 18:14] akien-mga opened #40574 "Emscripten buildsystem improvement"
**Godot version:**
`master`, can be cherry-picked to `3.2` too.

**OS/device including version:**
HTML5

**Issue description:**
Here's some feedback from @sbc100 from Emscripten on how we could likely improve our buildsystem setup in `platform/javascript/detect.py` (originally in #40567):

[2020-07-21 18:19] tom-jk commented on #35026
Can't reproduce in 3.2.2.stable or 3.2.3.beta1, looks to be resolved.

convenience project: [35026.zip](https://github.com/godotengine/godot/files/4955422/35026.zip)

[2020-07-21 18:24] 1xch opened #40575 "error on exit, is it an actual bug"
**Godot version:**

 v3.2.1.stable.custom_build.b0eca5828

**OS/device including version:**

linux/ubuntu

**Issue description:**

just this message on exit

[code]

**Steps to reproduce:**
after calling

`get_tree().quit()`

**Minimal reproduction project:**

[2020-07-21 18:40] asmaloney commented on #37407
As another data point, I tried with the attached project and it runs properly for me. It outputs "null" in the console.

Godot Engine v3.2.3.beta.mono.custom_build.af35d0d3c

macOS 10.14.6

(Aside: I'm not sure how to find the mono version being used... is that accessible somewhere? The logs are referencing `/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/4.5/`, but no actual version

[2020-07-21 19:05] #40455 closed

[2020-07-21 19:12] akien-mga commented on #37407
Duplicate of #37309, fixed by #40078. It's fixed in the `3.2` branch for 3.2.3 as tested by @asmaloney.

[2020-07-21 19:12] #37407 closed

[2020-07-21 19:26] Test4436 opened #40576 "Unicode errors (invalid skip) at compiling"
**Godot version:**

Windows 10
Nvidia gtx1050ti GLES3, Vulkan

Basicly i get a Unicode errors (invalid skip) error when trying to compile a programm that can run outside of the engine!

i yust compile something all the files that the log says to install are installed.

Its not the projeckt but some error!

[2020-07-21 19:37] Calinou commented on #39613
Yes, since V-Sync is enabled by default. To my knowledge, there's no way to disable it for the project manager.

Definitely :slightly_smiling_face:

[2020-07-21 19:42] Calinou commented on #40575
Does this occur only in a specific project, or can you reproduce this in an empty project?

If you can reproduce this in a specific project, please upload it here.

[2020-07-21 19:43] Calinou commented on #40568
@throwaway14 Can you reproduce this crash with the same project on any other platforms?

[2020-07-21 19:43] Jose-Moreno commented on #25318
Hi. I'm currently facing this issue when exporting from 3.2.stable. I'm compiling in Win10 and deploying to X11 (Raspbian)

Though in my case the error reads:

`
ERROR: _get_modified_time: Failed to get modified time for: res://assets/textures/static/map.png.
   At: drivers/unix/file_access_unix.cpp:321.
`

From that I noticed that the "png" part on each one of the thrown errors is ending with a p

[2020-07-21 19:50] Calinou commented on #40576
@Test4436 What do you mean by "compiling" here? Are you exporting a project?

Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-07-21 20:31] Sslaxx commented on #24050
The code in `Sonic_Outbreak` - when last looked at - replicated the issues I described back in 2018. It does not use `is_on_floor`. `Godot_Sonic_Engine` does. As "Sonic Outbreak" was the original project I referred to when submitting this issue, this was the one that failed.

I cannot, to the best of my abilities, replicate this issue using the Sonic Outbreak code. I cannot remember if I could wit

[2020-07-21 20:41] naithar commented on #40551
Same behavior on stable 3.2.2 on both GLES2 and GLES3.

[2020-07-21 20:57] clayjohn commented on #40551
To clarify. Hiding that one mesh gets rid of the artifacts?

[2020-07-21 21:10] akien-mga commented on #40496
WDYT @vnen? I doubt this can be solved easily, so I guess either the warning is not reliable and should be removed, or this situation should be documented as something that needs an annotation if a declared signal is not going to be emitted in a detectable way.

[2020-07-21 21:15] zzz-assault opened #40577 "VisibilityNotifier2D - very high memory usage"
### **Godot version:**
- 3.2.2 (stable) - 64 Bit Windows Client

### **OS/device including version:**
- Windows 10 (64 Bit)

### **Issue description:**
Size of VisibilityNotifier2D Rect2 is exponentially increasing the required memory (static)!
This is true if you increase Rect2 size either within editor or via code.

Example:
- Rect2 (0,0 // 300000, 300000) -> Memory (static) usage = **1,76 GiB**

[2020-07-21 21:17] VizuaaLOG commented on #28812
@scottkunkel Not sure if you worked this out, however, as a workaround for this I have an autoloaded class with each object in my game having a unique key. When serializing the resource I use this key to then rebuild it when I need it.

[2020-07-21 21:18] Sslaxx commented on #25759
So far, using the version from https://github.com/godotengine/godot/issues/24050#issuecomment-662090859 with 3.2.2 I haven't noticed this issue.

I *have* noticed that jumping when moving no longer triggers the appropriate animation (when it did before). Unsure at this stage if it's a bug in my code exposed by 3.2.2, or a bug in 3.2.2.

[2020-07-21 21:29] Calinou commented on #40577
Out of curiosity, can you reproduce this with VisibilityNotifier (3D)?

[2020-07-21 21:33] KoBeWi commented on #29968
Can anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

[2020-07-21 21:45] scottkunkel commented on #28812
Yes, my code:
[code]

Allows full control over what's local and what's global. appy_path ends up being the original source.
get_vars gets overridden by inheriting classes.

[2020-07-21 21:46] zzz-assault opened #40578 "Tilemap - unexpected high memory usage per Tile"
### **Godot version:**
- 3.2.2 (stable) - 64 Bit Windows Client

### **OS/device including version:**
- Windows 10 (64 Bit)

### **Issue description:**
In case of big Tilemaps the memory usage (static) is getting unexpected high (i. e. 2k x 2k = 710 MiB).
This is a problem especially for big maps based on procedural generation.

It seems that the memory allocation per Tile is at **~
[Tilemap_MEM-p

[2020-07-21 21:47] KoBeWi commented on #29965
Can anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

[2020-07-21 21:51] zzz-assault commented on #40577
@Calinou just tried -> **NO!** ... VisibilityNotifier (3D) is simply staying on almost no memory usage.
Even after increasing all axis to an absurd 3.000.000.000 it had no issue.

[2020-07-21 22:00] renatodex opened #40579 "Mouse move DPI on Input Events? (please change it to a better name!)"
**Godot version:**
v.3.2.1 Stable

**OS/device including version:**
Macbook Pro 2017 13'' default model (macOS Mojave)

**Issue description:**
I have configured a mouse event to paint a Tilemap.
However, depending on the speed of your mouse movement, you can see several gaps between the painted tiles.
The greater is the speed, the greater is the number of Gaps.
Here's a video showcasing the issue:

[2020-07-21 22:31] Zylann commented on #40578
The struct you mentionned is only what makes up the cell information of the tiles. There is memory used to also render them, and if you added collision shapes they also use memory. And more if you added navigation. Add to this the data structure used to hold the chunks. AFAIK these aren't on-the-fly approaches (in which case it would not have extra retained memory and used the same cell data).

[2020-07-21 23:43] asmaloney commented on #37567
This was fixed by 5d54c015b2dd0a26237c00788be25b3da4cfe3dd.

[2020-07-21 23:51] KoBeWi commented on #29714
Still valid in 173ebe487

Although if it's impossible to fix it without math hacks (affecting performance), it should just be documented.

[2020-07-21 23:51] renatodex commented on #40579
Hey, I was looking to other examples of people implementing "draw" events, and I found a Demo with the same problem in the **Templates** tab of Godot window. The demo implements a simple paint editor, you can find it searching for called `GD Paint`:
![image](https://user-images.githubusercontent.com/68507/88118429-ee7caa80-cb93-11ea-91cf-25260345909b.png)

[2020-07-22 00:20] TheDuriel commented on #40579
Entirely expected, Godot does not simulate the traversal of the mouse from one point to another, as that would have undesired consequences for many applications.

The solution, is for you to remember the position of the mouse of the previous frame, then draw a line from there to its current position. Instead of only at its current positions. Mice _teleport_, they don't move gradually.

This is cau

[2020-07-22 00:51] asmaloney commented on #40170
Another data point - seems to look correct for me on macOS 10.14.6.

iMac (Retina 5K, 27-inch, 2019)
Godot Engine v3.2.3.beta.mono.custom_build.[af35d0d3c](https://github.com/godotengine/godot/commit/af35d0d3c83161848fad952f24d42592b1a9b932)
OpenGL ES 3.0 Renderer: AMD Radeon Pro 580X OpenGL Engine

I loaded the repro project and only changed the Ambient Light Energy:

<img width="1353" alt="Scree

[2020-07-22 00:51] RIKDXHQ11 opened #40580 "Unlimited error reporting for CSharp project"
my.cs The script has been deleted, but errors are always reported, and the same error is still displayed when the project is rebuilt.
I think there is a problem with the support for CSharp, even the official sample code can not be passed.
If I can't compile a game with Csharp, why should I use it?
I've installed mono 6.10
Please pay attention to this issue, it has seriously affected the mood of cr

[2020-07-22 00:58] throwaway14 commented on #40568
It runs correctly on my laptop.

[2020-07-22 01:05] clayjohn commented on #40170
@asmaloney Same OS version. But very different GPUs. Could be a driver issue then.

@tanskudaa Have you tried updating your GPU drivers recently? If not, please do and let us know how it goes.

[2020-07-22 01:14] Riteo commented on #37734
Could you add #37930 and its relative PR #38727 to this list?

[2020-07-22 01:20] Riteo commented on #39596
This is a duplicate. It took up their entire screen because probably of some other thing they did(maybe set the window to floating, or maybe moved it to another session?), but the original issue gave me the same effects as this one.

[2020-07-22 01:27] rasikrodri commented on #14681
This is still happening in version 3.2.2.
Please check again!

[2020-07-22 01:27] rasikrodri commented on #14681
This is still happening in version 3.2.2.
Please check again!

[2020-07-22 01:28] renatodex commented on #40579
Hey @TheDuriel !
Thanks for the quick response!

So do you mean Godot editor actually implements this system you are talking when we draw in the editor?
https://share.getcloudapp.com/mXuAePGZ

As I shared in my initial post, I don't have this problem when I'm drawing in the Godot editor.

To be honest, I didn't quite get your idea of the algorithm, so I wanted to ask you if you could point me to s

[2020-07-22 01:38] TheDuriel commented on #40579
The editor will likely be implementing it.

In rough:

Every Frame:
if  the button is held
get the mouse position
create an imaginary line from the current to the previous position
place tiles on every cell this line crosses
replace the previous mouse position with the current position

[2020-07-22 02:35] Rubonnek opened #40584 "Inconsistent base class detection"
**Godot version:**
3.2 branch commit 7b4b83e9dcb91b44b39e8cc87df3ddecdb29b689

**OS/device including version:**
Arch Linux

**Issue description:**
Attempting to add custom nodes using `class_name` and `tool` has inconsistent behavior -- some scripts seem to extend `Reference` as the base class when this is not the case.

Before following the steps to reproduce this issue, note that `grid_backgroun

[2020-07-22 02:44] jambonsupreme opened #40585 "SpringArm.get_hit_length() does not behave as specified"
**Godot version:** 3.2.2

**OS/device including version:** Windows 8.1

**Issue description:**

This is the description of SpringArm.get_hit_length in the documentation: "Returns the proportion between the current arm length (after checking for collisions) and the spring_length. Ranges from 0 to 1."

Instead of returning a float ranging from 0 to 1 it returns the current spring length. For example

[2020-07-22 03:18] jitspoe opened #40586 "Raycasts sometimes go through convex shapes and hit the far side when BT_USE_DOUBLE_PRECISION is enabled."
**Godot version:** 3.2.2.rc.custom_build.d69b856a4

**OS/device including version:** Windows 8.1

**Issue description:**
Had precision issues with bullet collision detection, so I compiled with BT_USE_DOUBLE_PRECISION defined.  That improved the kinematic collision issues, but made raycasts sometimes go through the front surface of convex collision.  I also created an issue on the bullet github in

[2020-07-22 03:52] chrishatch52 commented on #39881
is there potentially something wrong here?

[code]

I had to put the absolute path in the compileCommands line because it kept not finding the file, even though it is in the godot folder.

Sorry about all the questions, this is just really nagging at me to get working, and google has only partially been helpful.

[2020-07-22 04:15] keyle commented on #37725
FyI I'm on 3.2.2 stable official, with a blank project, a camera and a cylinder: ZIP export still doesn't work. DMG does work.

Contents/MacOS/ :
-rw-------  1 k  staff    38M 22 Aug  2020 TestOSX

Manually chmod +x the file does make it work...

[2020-07-22 04:21] chrishatch52 commented on #39881
Okay, I figured out the Windows SCons, so I am going to run with that as this computer is MUCH more capable than the other, plus, I can actually use Visual Studio which I am significantly more comfortable with. I would still like to fix the Linux version though, so if my c_cpp_properties file looks messed up, please let me know.

[2020-07-22 06:29] zzz-assault commented on #40578
@Zylann in my example are no collision shapes or nav shapes used. As said I understand a little bit overhead, but really that much?

I'll test later how the memory usage will change without chunk system (quadrants) and without adding it to scene (should remove the canvas item overhead as no draw is needed).

[2020-07-22 07:19] qarmin commented on #40577
This is probably caused by too small cell size.
You can set in `Project Settings -> World -> 2d -> Cell Size` bigger value e.g. 1000 and then memory usage should drop to ~40MB

[2020-07-22 07:21] theoway commented on #39144
Also mention this PR  #40217 . It fixes #18722

[2020-07-22 07:25] zzz-assault commented on #40577
@qarmin Thank you, will test it.

What is the downside of increasing this setting?

[2020-07-22 07:35] akien-mga commented on #37567
Fixed by #40261.

[2020-07-22 07:35] #37567 closed

[2020-07-22 07:38] akien-mga commented on #37734
Done.

[2020-07-22 07:41] akien-mga commented on #39596
Closing as duplicate of #37930 then.

[2020-07-22 07:41] #39596 closed

[2020-07-22 07:45] Calinou commented on #14681
@rasikrodri Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-07-22 07:48] akien-mga commented on #37725
There was a regression later on that made it in 3.2.2.stable.
Can you try 3.2.3.beta1 which should solve it? https://godotengine.org/article/dev-snapshot-godot-3-2-3-beta-1

[2020-07-22 07:50] #18722 closed

[2020-07-22 07:50] qarmin commented on #36456
Godot try to get scene texture, but when this scene was never opened in 2D viewport, then Godot never generates texture and return image with 0 height and 0 width

https://github.com/godotengine/godot/blob/af35d0d3c83161848fad952f24d42592b1a9b932/editor/editor_node.cpp#L1124

Errors comes later when trying to format and save this texture

Steps to reproduce
- Open 2 scenes with Node2D as root
- In

[2020-07-22 07:58] akien-mga commented on #40467
Duplicate of #36456 I presume.

[2020-07-22 07:58] #40467 closed

[2020-07-22 08:05] Calinou commented on #40579
What @TheDuriel describes is called [Bresenham's line algorithm](https://en.wikipedia.org/wiki/Bresenham%27s_line_algorithm). It's already implemented in the TileMap editor but not in the GridMap editor yet.

[2020-07-22 08:08] Calinou commented on #40580
@RIKDXHQ11 Please fill in the [issue template](https://github.com/godotengine/godot/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) instead of replacing it when reporting bugs.

[2020-07-22 08:18] illogically opened #40589 "Using INF as float breaks scene"
**Godot version:**
v3.2.2.stable.mono.official

**OS/device including version:**

OS: Windows 10

**Issue description:**
After using a tool script to set a Raycast2D node's cast_to to positive y on infinity, I attempted to run the scene but the game simply crashes. After reopening the editor fails to parse the scene. Included in the log is the following:
[code]

**Steps to reproduce:**
1. Set RayC

[2020-07-22 08:21] h5n1xp commented on #38154
I think this is the solution to fixing the bug! Audio is a relatively demanding, no need to start the output if there are no active streams! Well don’t @bruvzg 👍🏻

[2020-07-22 08:29] Calinou commented on #40589
See also previous occurrences of the same issue: https://github.com/godotengine/godot/issues/35388, https://github.com/godotengine/godot/issues/28883.

[2020-07-22 08:36] pouleyKetchoupp commented on #40589
I've tested on Windows (latest 3.2 branch), and it looks like it's fixed for `float` variables but still occurs with `Vector2`.

Here's the script I'm using to set the values:
[code]

[2020-07-22 08:41] illogically commented on #40589
As a note, entering INF in the editor itself will set it to 1.#INF and displayed as 1.#IO

[2020-07-22 08:48] bruvzg commented on #40589
This is non-standard format specific to pre-Visual Studio 2015 C runtime, all other CRTs should print it as `inf`.

[2020-07-22 08:49] zzz-assault commented on #40577
Update: I can confirm, that the memory usage with increased "cell_size" in the project settings is getting better. Also it's worth noting, that the cell_size is in **PIXEL**s, for others looking up this issue!

For my project I set the cell_size to the full grid (Rect2), so the memory cost is almost non existant ... as all my Visibilty Notifier are having the same size, this is working also based

[2020-07-22 08:52] Calinou commented on #40589
Should the editor even allow entering `INF` in the inspector?

[2020-07-22 09:02] zzz-assault commented on #40578
Update:

If not added to scene tree (add_child) the memory usage is as follows ...

Total MEM (static) = 325 MiB
per Tile MEM (static) = **85 Byte**

This should represent basically the memory requirement without the engine overhead (for draw, etc.).
Besides that I'm wondering, why the Tree / Draw needs almost 100 Byte memory PER TILE, the remaining overhead must be the chunk system ... not sure i

[2020-07-22 09:13] Zylann commented on #40578
I mean quads. Quads have 4 vertices, each with a 2d position and uv, probably more.

[2020-07-22 09:13] illogically commented on #40589
The only reason why I had to do that was for an Infinite raycast. I'm not aware of any other reason to do so.

[2020-07-22 09:17] zzz-assault commented on #40578
@Zylann Understood, I'm not that deeply into the engine yet, but isn't that the reason for the quadrant system? (instead of one quad / draw per Tile, it's setting one quad / draw per batch of Tiles -> based on Quadrant size)

[2020-07-22 09:19] Zylann commented on #40578
Besides if each tile uses a separate texture they can't be batched, but that's only a guess.

[2020-07-22 10:12] jitspoe commented on #40586
It SEEMS like adding `btResult.m_flags |= btTriangleRaycastCallback::kF_UseGjkConvexCastRaytest;` to `BulletPhysicsDirectSpaceState::intersect_ray()` may fix the issue.  Haven't tested how that behaves with double precision off, though.  I think we want to have double precision enabled unless there's some sort of performance issues with it.  It has *significantly* improved the kinematic collision

[2020-07-22 10:37] naithar commented on #40551
If Mesh hidden there is no issue (no surprise there). WIth different settings artifacts are still there. I've tried to tweak different settings, but there was no effect.
Also changing shader to just apply a color, I've got artifacts in an editor:
<img width="500" alt="Снимок экрана 2020-07-22 в 13 29 55" src="https://user-images.githubusercontent.com/3750083/88166301-b9b63500-cc1f-11ea-8860-b7734c

[2020-07-22 10:46] naithar commented on #40551
The problem seems to be in `return;` statement used in `fragment()`. When i removed it from color shader, artifacts was gone from editor and did not appear in iOS build. Also removing `return;` statement from original shader removed an artifacts too.
iOS:
<img width="500" alt="iOS" src="https://user-images.githubusercontent.com/3750083/88167398-6e9d2180-cc21-11ea-8017-8732504f4de3.jpg">
Editor:
<i

[2020-07-22 11:02] KoBeWi commented on #12497
Can anyone still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-07-22 11:16] asmaloney commented on #40170
One does not (cannot?) explicitly update drivers on macOS. As long as you are up-to-date on patches, you have the latest drivers from Apple.

I just tried this on my MacBook Pro and it works properly for me.

macOS 10.14.6
MacBook Pro (15-inch, 2016)
Godot Engine v3.2.3.beta.mono.custom_build.af35d0d3c
OpenGL ES 3.0 Renderer: AMD Radeon Pro 450 OpenGL Engine

This machine has two GPUs - the second

[2020-07-22 11:17] #40579 closed

[2020-07-22 11:18] KoBeWi commented on #23929
Still valid in 1ab0644

The code looks slightly different now:
https://github.com/godotengine/godot/blob/e196b8127c9e3f937011da1790a02160a3473ab5/scene/main/window.cpp#L887-L893

Probably the best solution would be passing the shortcut using debugger.

[2020-07-22 11:20] mohrcore opened #40592 "Cubic interpolation of rotations in 3d transform animation track is unpredictable."
**Godot version:**
v.3.2.2.stable.official, v.3.2.3.beta.custom_build.bdd1e7486 (bdd1e74869cab44c062994cb8a5b3068fa7164d2)

**OS/device including version:**
Gentoo/Linux x86_64

**Issue description:**
Cubic interpolation of 3d rotations seems to produce unpredictable splines.

I tried to create a 3D animation using 3D transform track in AnimationPlayer node. I made 3 keyframes in total.
In the fir

[2020-07-22 11:21] akien-mga commented on #40551
@naithar #39863 was fixed after the 3.2.2-stable release, and the fix is included in 3.2.3-beta1. Which version did you test?

[2020-07-22 11:26] akien-mga commented on #40170
@asmaloney Maybe you can force using the integrated GPU instead of the discrete one with https://codyschrank.github.io/gSwitch/ ?

But yes this sounds like a bug in macOS's Intel OpenGL drivers, and possibly only in older Intel generations like HD 3000/4000/6000. It should probably be reported to Apple, though they will probably not bother as their OpenGL support is deprecated.

Another possibly w

[2020-07-22 11:29] naithar commented on #40551
@akien-mga rechecked with `3.2.2-stable` from website and `3.2.3-beta1`. `3.2.2` doesn't give an error, while `3.2.3` results in `:78 - Using 'return' in 'fragment' processor function results in undefined behavior!` on using `return;`

[2020-07-22 11:33] dantesguilherme opened #40593 "Html5 WebRTC Chrome mDNS"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10/ Chrome 84

**Issue description:**
Simple WebRTC doesn't work on Chrome. it seems to be related to the mDNS.

**Steps to reproduce:**
try to run the minimal connection example from the docs on Chrome. Export to Html5 and/or run on Browser
if it's working for you, try to active this on  as it may be disabled by default.
chrome://

[2020-07-22 11:41] asmaloney commented on #40170
I was nervous about forcing it with gSwitch since I'd read some Bad Things (tm) and it doesn't claim to support recent machines/OS versions.

Tried it anyways.

gSwitch acts a little funny (it forces sometimes, but then switches to the Radeon, and the menus checkmarks don't work properly), but I did eventually get it to run with the Intel GPU and I think (?) it stays on it while running Godot.

Op

[2020-07-22 11:42] akien-mga commented on #40551
Thanks, so it's indeed a duplicate of #39863, fixed by #39869 (`master`) and #39870 (3.2.3).

[2020-07-22 11:42] #40551 closed

[2020-07-22 12:08] 1xch commented on #40575
@Calinou
This occurs in a specific project, my current learning project with a bunch of private stuff

I will look into replicating in a simpler context.

[2020-07-22 12:11] Gerarama opened #40594 "Object was deleted while awaiting a callback"
**Godot version:**
Godot 3.2.2 Stable

**OS/device including version:**

Windows 10 1909 . 451.67 Nvidia GTX 1070

**Issue description:**

when you open a project, the commend display `Object was deleted while awaiting a callback` repeatedly provent me from getting into the project.

**Steps to reproduce:**
Its not clear, but it happen when you close a project, and reopen it.

In theory it happen

[2020-07-22 12:25] soham0243 commented on #32611
Hello I am getting the same error in a simple car controller. What do you mean by 'camera transformation code from the player' ?
The camera only contains car(player) transformation code. But the car(player) does not contain camera transformation code.
Full source for my car controller [GODOT_3.2_simple_car_controller](https://github.com/soham0243/GODOT_3.2_simple_car_controller/tree/problem_vehicl

[2020-07-22 12:30] tom-jk commented on #23659
You can workaround this quite effectively with either advance or seek(update=true), eg.

[code]
or
[code]

I think this shouldn't require any per-anim micromanagement; you could probably wrap all your play calls in a play+advance(0) function.

[2020-07-22 12:47] #40546 closed

[2020-07-22 12:49] tom-jk commented on #23590
Testing the MRP:
Can reproduce in 3.1.alpha2.
Can't reproduce in 3.1.1.stable, 3.2.2.stable or 3.2.3.beta1.

Appears to be resolved.

[2020-07-22 12:53] akien-mga commented on #23590
Thanks, closing as fixed in 3.1.

[2020-07-22 12:53] #23590 closed

[2020-07-22 13:12] redoxCode commented on #40589
This is a quite consistent 'problem'.
For example setting the `far` property of a camera to inf (by script or in editor) causes the camera to stop working.
I guess it is quite a task to make everything 'inf proof'. However godot is not the only software that doesn't like `inf`. So I always avoid it and just use very large numbers instead. I guess the point of `inf` is more to have it as output whe

[2020-07-22 13:15] sanslash332 commented on #40069
Hum, so checking the current situation is totally discarded see this bugfix in any new version of the 3.x branch, and for now the option is wait to 4.0, or compile directly from master.
This is right?

Or exist a small chance to see this patch applied on an future 3.3 version?

Thanks for your effort, guys :)

[2020-07-22 13:17] tom-jk commented on #22438
Testing MRP:
Can reproduce in 3.1.alpha2.
Can't reproduce in 3.1.1.stable, 3.2.2.stable or 3.2.3.beta1

In all three versions that work the softbody goes through the platform as it falls off. I don't know if this is typical/a known issue, or if it signifies an incomplete resolution of this issue (the non-trimesh setup on the left doesn't seem to suffer so bad). video (in 3.2.3.beta1) (length: 0m12

[2020-07-22 13:21] Calinou commented on #40069
@sanslash332 There won't be a 3.3 version, but this kind of fix can be merged into 3.2.3 or 3.2.4.

[2020-07-22 13:23] Calinou commented on #40589
@redoxCode We can prevent using `INF` in the inspector without removing the constant from GDScript. The inspector accepts expressions written in a ad-hoc language (see the Expression class), not GDScript.

[2020-07-22 13:24] Calinou commented on #24531
@akien-mga Is using `pow()` and other functions in the inspector common enough? If not, I think it'd be better to just replace `,` with `.` at this point.

[2020-07-22 13:26] dh928 opened #40597 "Editor crashes on startup when running the Flatpak on Raspberry Pi 3 B+"
flatpak run org.godotengine.Godot
Godot Engine v3.2.2.stable.flathub - https://godotengine.org
OpenGL ES 3.0 Renderer: llvmpipe (LLVM 9.0.1, 128 bits)
Unable to find target for this triple (no targets are registered)
handle_crash: Program crashed with signal 11
Dumping the backtrace. Please include this when reporting the bug on https://github.com/godotengine/godot/issues
[1] /usr/lib/arm-linux-gn

[2020-07-22 13:31] Calinou commented on #40597
You don't appear to have hardware acceleration, which is why the llvmpipe software fallback is used.

Also, try building Godot from source and running it directly instead of using the Flatpak to single out Flatpak from the equation.

[2020-07-22 13:33] akien-mga commented on #22438
Thanks. I'd suggest that we close this older issue as fixed in 3.1, but you can maybe open a new issue specific to the remaining problem that you identified?

[2020-07-22 13:33] #22438 closed

[2020-07-22 13:36] akien-mga commented on #24531
It's important in `Expression` yes, which can parse full expressions.

That's why I said this should be handled ad-hoc in the inspector only (`EditorSpinSlider`).

[2020-07-22 13:41] redoxCode commented on #40589
I know. Still you would have a ton of code to make `inf` prove (since it can still be set to `inf` from script). On a second thought removing `inf` from gs script is really overkill. Maybe we just have to accept that some stuff breaks when set to `inf` (for now). Making everything `inf` prove is quite a task and maybe not worth it in some cases if the checks required decrease performance or bloat

[2020-07-22 13:54] dh928 commented on #40597
I went to the website. It says Start a terminal, go to the root dir of the engine source code and type. I am not sure where the root dir of the engine source is. Also, is my pi using Debian if I am using raspbian?

I am so sorry. I am really new to this and have no clue what is going on at all

[2020-07-22 13:56] Xrayez commented on #40594
Yeah this is a known issue: #35653. The current workaround is increasing the `memory/limits/message_queue/max_size_kb` in project settings (I have it set to like 4096, just to be sure).

Honestly I'd change the default to like 2048 at least.

[2020-07-22 14:03] Rubonnek commented on #40504
A comprehensive fix should also take #40458 in consideration, many of the editor plugin functions run twice due to the way `SceneTreeDock` signals are connected and perhaps uninitialized objects are passed in one of those.

[2020-07-22 14:12] #38829 closed

[2020-07-22 14:13] Calinou commented on #40594
Duplicate of #35653 (the underlying issue is the same).

[2020-07-22 14:13] #40594 closed

[2020-07-22 15:02] Gerarama commented on #40594
I have checked #35653 before i opened this, i thought its normal to have this message, but having it repeate infinitely is the problem.

[2020-07-22 15:02] Xrayez commented on #35653
How about increasing the default value to something like `2048` (while we wait for page allocator to get merged/implemented)? I've set this value to `2048` in my own project and I've never got to experience those errors again. I can only guess though. Just see the number of "duplicate" bug reports with the same underlying issue (unless you're interested in collecting the use cases this limitation

[2020-07-22 15:28] akien-mga commented on #39967
I can't reproduce it on Mageia 8 with Intel HD 630 running Mesa 20.1.1.

Since you're on Ubuntu 16.04, I assume you might have a fairly old Mesa, where the Vulkan support might not be perfect. Might be worth checking if it works better on Ubuntu 18.04 or 20.04, or with a PPA that backports a recent Mesa to Ubuntu 16.04.

[2020-07-22 15:31] vnen commented on #40496
I guess we can just remove this warning.

[2020-07-22 15:34] akien-mga opened #40601 "Radeon Vulkan (radv) driver crash on Linux with -O1 or -O2 optimizations (target=release_debug build with GCC 10)"
**Godot version:**
`master` (0cd98ec7e13038d09a77cf821e930be79026f943)

**OS/device including version:**
Mageia 8 (Linux)
[code]
Issue specific to the AMD GPU, using the `radv` driver from Mesa 20.1.1.

Compiling with:
[code]

**Issue description:**
While I can run Godot fine with a `tools=yes target=debug` build (default parameters), an optimized `tools=yes target=release_debug` build crashes on

[2020-07-22 15:34] tom-jk commented on #21462
Testing with MRP: [21462.zip](https://github.com/godotengine/godot/files/4960891/21462.zip)

Can reproduce in 3.1.alpha2, 3.1.1, 3.1.2, 3.2, 3.2.1 (stables)
Can't reproduce in 3.2.2.stable.

Appears to be resolved.

[2020-07-22 15:37] akien-mga commented on #21462
Thanks, closing.

[2020-07-22 15:37] #21462 closed

[2020-07-22 15:43] Xrayez commented on #40584
I can consistently reproduce this by renaming the folder to anything else containing those scripts. Upon saving, `project.godot` use correct "base" class as seen in scripts. The `tool` keyword is not required to reproduce this. Godot 3.2.2.stable.

After the folder renaming, when trying to modify the script to produce some parse error I get these errors popup everytime:

[code]

Notice different f

[2020-07-22 16:42] efhilton commented on #8691
I'm seeing this in 3.2.2.  I have a thread that creates/adds Nodes.  I've been adding locks everywhere that my Thread executes.  But the problem is still there.  I'm using C#.

[2020-07-22 16:49] KoBeWi commented on #23979
Still valid in 0cd98ec

[2020-07-22 17:13] KoBeWi commented on #23665
Still valid in 7c4791e6d

[2020-07-22 18:04] ArdaE commented on #38154
Assuming audio would be turned off when the last active audio stream ends playing, which would be ideal, it might be worthwhile to add **optional** manual control over this in consideration for apps that play audio streams intermittently without any ongoing background audio.

This would be especially important when Bluetooth devices are involved, as they tend do turn on and off as needed, and can

[2020-07-22 18:26] asmaloney commented on #40543
This crashes on macOS 10.14.6 as well (Godot Engine v4.0.dev.custom_build.0cd98ec7e @ 0cd98ec7e13038d09a77cf821e930be79026f943). Right-clicked and selected "Duplicate" from the context menu.

[code]

I don't understand the code well enough, but **p_instance->scenario** is _null_ at this point (in **RenderingServerScene::_update_instance()**):

[code]

And it's the second use that's crashing.

Does

[2020-07-22 18:32] renatodex commented on #40579
Thanks so much for the explanations @Calinou and @TheDuriel , you guys are doing an amazing work!

[2020-07-22 18:55] adam-bates commented on #40396
The test formatted as code:

[code]

[2020-07-22 18:56] QbieShay commented on #40585
@jambonsupreme thank you for reporting this. I believe this is more an error in the documentation than in the code.

[2020-07-22 19:14] adam-bates commented on #40396
I've never contributed to Godot but I thought I'd give this a shot so I created the following PR which AFAIK should fix the issue: https://github.com/godotengine/godot/pull/40606

[2020-07-22 19:25] jambonsupreme commented on #40585
Wow that was fast! Thank you

[2020-07-22 19:27] gabrielpreviato commented on #38696
Hey @desperate-coder. I'm new at the Godot Universe, but what I assume looking at the #27886 and the [Object class documentation](https://docs.godotengine.org/en/stable/classes/class_object.html) is that the method is already virtual and if you look in the PR discussion (and also in the docs) you can find the calling the method obj.to_string() will return a String, but the method that should be ov