[2020-01-12 17:05] skoovo opened #35049 "3.2 BETA 6 - Android Crash - No implementation found for double_tap(int, int) exception."
**Godot version:**
3.2 BETA 6

**OS/device including version:**
Windows 10 Pro  64 bit 1909

**Issue description:**
Since updating to BETA 6, my Android app now crashes when the screen is touched too rapidly. Same app worked fine in BETA 5. This issue is present when using regular Android deployment, as well as a custom build. Logcat output points to:

`java.lang.UnsatisfiedLinkError: No implement

[2020-01-12 17:44] tinyBigGAMES commented on #35036
Yes, I've tried stopping the HTTP server, still files remain locked because of the IDE it seems. If you go to the temp folder and try to remove them from explorer, you get message saying they are locked by Godot. Once you shut it down, then they can be removed/updated.

[2020-01-12 17:49] MightyPrinny commented on #35014
I've had this happen to me too using the focus neighbor properties on control nodes

[2020-01-12 18:09] MuktadaCreations opened #35051 "C# extension is giving me "Some projects have trouble loading. Please review the output for more details.""
I'am having a very hard headec from this it give's me this log
I have the the C# extantion installed but every dam time I try to open a project this happens and yeahI run the latest VScode I really need help ;-;

Starting OmniSharp server at 1/12/2020, 9:05:47 PM
    Target: c:\Users\MuktadaCreations\Documents\[GODOT PROJECTS]\Bruh\TEST.sln

OmniSharp server started
    Path: C:\Users\MuktadaCreat

[2020-01-12 18:10] Nehluxhes commented on #5823
I don't have any problem until this issue is fixed.
I just wanted to point out that automatically having a navigation node being created is not always desirable, so it could be a setting in the import menu and not always enabled.

[2020-01-12 18:23] CJCarns commented on #16352
I believe if you set the "preprocess" value on the particles you can get something a little better, although not perfect. It works well enough for fire and such.

[2020-01-12 19:09] akien-mga commented on #35048
Works for me:
![Screenshot_20200112_200851](https://user-images.githubusercontent.com/4701338/72224166-63cd4a00-3577-11ea-8e72-fee27183d702.png)

You probably enabled case sensitivity?
![Screenshot_20200112_200928](https://user-images.githubusercontent.com/4701338/72224175-73e52980-3577-11ea-8949-f2621a5419fa.png)

[2020-01-12 19:10] akien-mga commented on #35049
Regression from #33630, CC @AlexHolly.

[2020-01-12 19:11] KoBeWi commented on #35048
I mean the class reference, not help search.

[2020-01-12 19:14] adamz5k commented on #18073
It seems like this issue is back, this time with 3.2's follow viewport and scale feature.
I am experiencing this issue in 3.2 beta 6 Win64. When there is a CollisionObject2D in a CanvasLayer with follow viewport enabled, collisions do not occur where the object is, but stay stationary.

[2020-01-12 19:15] akien-mga commented on #18073
Please open a new issue following the issue template. This was fixed over one year ago.

[2020-01-12 19:21] FlashDaggerX commented on #34951
So after constant testing, I've come up with a possible solution. Calculate the `x_ofs` using the following formula:
[code]

This solution is a hacky one, and doesn't account for text longer than the widget. Can I get some help?

[2020-01-12 19:36] fire commented on #35022
Can you post the python version on that computer? My guess is that python version changes broke the build.

[2020-01-12 19:38] gamedevsam commented on #35022
It was whatever scoop installed by default, which appears to be the latest version v3.8.1.

[2020-01-12 19:47] adamz5k opened #35052 "CollisionObject2D nodes inside CanvasLayer with FollowViewport enabled are not affected by movement"
**Godot version:** 3.2 Beta 6

**OS/device including version:** Windows 64bit

**Issue description:** `CollisionObject2D`s inside a `CanvasLayer` do not take the layer offset/position into account when FollowViewport is enabled in the `CanvasLayer`

**Steps to reproduce:**
- Create a 2D scene with:
-- `Camera2D` (current with movement)
-- `CanvasLayer` with FollowViewport enabled. (changing scale

[2020-01-12 20:10] wilsonevangelista opened #35053 "Strange suddenly exit using godot with optirun"
**Godot version:**
v3.2.beta.calinou.b563de702, maybe others

**OS/device including version:**

Archlinux with optirun (Bumblebee) 3.2.1
Keyboard BR ABNT2

**Issue description:**
Editor closes showing:

<pre>
X Error of failed request:  BadValue (integer parameter out of range for operation)
  Major opcode of failed request:  101 (X_GetKeyboardMapping)
  Value in failed request:  0x0
  Serial numb

[2020-01-12 20:11] JFonS commented on #25358
I checked the current implementation of `texture_get_data` and it does a draw call to render the textre and retrieve its data. I'm pretty sure the newer versions of OpenGL have ways to get individual pixels from textures, but it was implemented this way to have more compatibility.

Vulkan will most likely also allow us to get partial data, but we will still need to support GLES2, so I would just a

[2020-01-12 20:16] neikeq commented on #35051
What version of Godot is this?

[2020-01-12 20:22] akien-mga commented on #35022
That's because in some conditions (don't know which, it worked for me) `env['LINKCOM']` and `env['SHLINKCOM']` may not be strings (here at least one of them appears to be a `ListAction`, which can't be used with `in`).

I guess casting them to `str()` might do the trick.

[2020-01-12 20:41] hoontee commented on #35038
Can confirm that disabling it fixes the issue.

[2020-01-12 20:53] Calinou commented on #35038
@hoontee Out of curiosity, which graphics card model do you have (and which driver version are you using)?

[2020-01-12 20:57] hoontee commented on #35038
AMD Radeon VII - Tested with Adrenalin 19.9.3 and 20.1.1.

[2020-01-12 21:04] Jiaming00 opened #35054 "Some details that affect the interactive experience"
1.Ignore if this is for the convenience of setting the default tab.When godot is opened, the leftmost panel defaults to the leftmost tab, which is usually the scene panel, but if the user accidentally swaps the position of the scene tab and the resource import tab, after godot starts, it will choose the default import tab. I don't think users generally think that this is related to the order of ta

[2020-01-12 21:10] nonunknown opened #35055 "Breakpoint when load() causes undismissible alert"
**Godot version:**
 godot 3.2 beta 5
**OS/device including version:**
ubuntu 18.04
**Issue description:**
If you mark a breakpoint that any moment pass through a load() function loading specifically scenes at "user://" folder, causes a warning which is undimissible.

**Steps to reproduce:**
the issue description defines clearly how to reproduce

**Minimal reproduction project:**
https://github.com

[2020-01-12 21:34] Calinou commented on #4884
Closing, as this feature request is now tracked on the Godot proposals repository: https://github.com/godotengine/godot-proposals/issues/245

[2020-01-12 21:34] #4884 closed

[2020-01-12 21:42] Mastermori commented on #27136
This bug is also present when class references one and the other preloads the other.
So
`
# one.gd
extends Node
class_name One

var two = preload("res://two.gd")
`
`
# two.gd
extends Node

func use_one(var one: One):
	pass
`
gives the same error when the program is executed.

[2020-01-12 22:02] gamedevsam commented on #35022
Ok, so I changed line 336 in `methods.py` from:
`if '-Wl,--start-group' in env['LINKCOM'] and '-Wl,--start-group' in env['SHLINKCOM']:`
to
`if '-Wl,--start-group' in str(env['LINKCOM']) and '-Wl,--start-group' in str(env['SHLINKCOM']):`

I got farther in the compilation but hit another error:

[code]

Any ideas?

[2020-01-12 22:10] Calinou commented on #28303
Closing in favor of https://github.com/godotengine/godot-proposals/issues/147, as we now track feature proposals on the Godot proposals repository.

[2020-01-12 22:10] #28303 closed

[2020-01-12 22:28] Calinou commented on #21903
I'll close this, as this enhancement request is now tracked in the Godot proposals repository: https://github.com/godotengine/godot-proposals/issues/269

[2020-01-12 22:28] #21903 closed

[2020-01-12 22:56] clayjohn commented on #34483
@warriormaster12 Thanks for your patience, I have submitted a PR to fix this issue. If you are comfortable building from master please do so and confirm that the PR fixes the issue for you. :)

[2020-01-12 23:44] MightyPrinny opened #35059 "Zoom levels not working correctly in scene editor with custom editor display scale"
**Godot version:**
3.2 beta 6 mono

**OS/device including version:**
MXLinux19 64 bits

**Issue description:**
I have my editor display scale set to 0.85, in beta 5 the scene editor could zoom correctly, values like 100%,200%,400%, etc, would give a pixel perfect look, but in beta 6 everything looks off(smaller), this is highly noticeable on small unfiltered textures.

**Steps to reproduce:**
Chan

[2020-01-12 23:47] #25806 closed

[2020-01-12 23:50] jclc commented on #35024
Shouldn't you be doing physics integration in _physics_process, not in _process?

[2020-01-12 23:53] KoBeWi commented on #34933
That's because your CenterContainer has `mouse_filter` set to Stop. When it's set to Pass (same as BoxContainers), it works correctly.

Although I wonder why CenterContainer's default is different. It's still a container.

[2020-01-13 01:24] ennQ commented on #35024
I just tried the same code while putting the velocity calculation and applying movement into _physics_process and i got the same result.

I understand where the issue come from tho:
move_and_slide with the stop on slope option on true actually stops the kinematic body on a slope if the velocity is null.
And with this code on godot 3.1.2, when you dont press any keys, the input direction vector aft

[2020-01-13 01:42] PolarisJunior commented on #27333
Is this confirmed for 3.2? We have an indie team nearing the final stages of development for a game, and the slowdown on the CreateDialog is causing significant slowdown and development friction. If this won't be fixed by the 3.2 release, then we may have to reduce the usage of of script classes.

[2020-01-13 02:43] YeldhamDev commented on #35059
CC @Calinou

[2020-01-13 03:13] clayjohn commented on #26899
Is this still reproducible in 3.2?

It seems important to fix, but likely won't make it in time for 3.2. Pushing back to 3.2.1.

[2020-01-13 03:17] clayjohn commented on #26303
Can you still reproduce this given all the changes to the GLES2 backend since this was made?

[2020-01-13 03:27] clayjohn commented on #27191
Unfortunately, contributions to IOS specific bugs are few and far between. Accordingly, I am bumping this back to 3.2.1/4.0.

[2020-01-13 04:36] willnationsdev commented on #27333
@PolarisJunior There is a change in 3.2 that caches all the scripts that are used while building the CreateDialog's internal Tree. It significantly improves its performance.

I was *going* to also start making changes (for 4.0) that would leave the Tree fully created unless script classes change and just toggle visibility of the TreeItems, but it doesn't seem like TreeItem visibility is even a con

[2020-01-13 05:01] Jakob-PB opened #35065 "3.2 BETA 6 - Major Editor Viewport Performance Degradation"
**Godot version:**
3.2 BETA 6

**OS/device including version:**
Windows 10 Pro 1903
GPU: NVIDIA GeForce GTX 1070
Primary Display: 2560x1440 @ 144Hz
Secondary Display: 1920x1080 @ 60Hz

**Issue description:**
When using Godot 3.2 Beta 5 projects maintain at or near 144 FPS (6.94 ms) in the editor viewport while moving the camera. When opening (or creating) a project in Godot 3.2 Beta 6 the editor v

[2020-01-13 05:06] clayjohn commented on #27406
I have been unable to reproduce the crash here.

The ``multimesh_set_as_bulk_array`` error is caused by reallocating the particle buffer before the data is sent to the GPU, so the engine has an expectation of what the size of the particle buffer is and what is being sent doesn't match. The particle buffer has to reallocate when you change the ``amount`` of particles. I was able to work around that

[2020-01-13 05:06] yuyubibibobibo commented on #35043
rect2d is designed that faster detected...

[2020-01-13 05:24] Jakob-PB commented on #35065
I did some digging around in other beta 6 issues and found the cause of this problem. It looks like it's related to #34968 and having sync_via_compositor enabled in projects. This settings also seems to become enabled automatically for beta 5 projects at are opened in beta 6.

If you turn off `Vsync Via Compositor` under `Project Settings->Display->Window` and restart the editor then your viewport

[2020-01-13 06:03] warriormaster12 commented on #34483
@clayjohn  will do 👌

[2020-01-13 06:07] clayjohn commented on #35065
Looks like this is a duplicate of https://github.com/godotengine/godot/issues/35038 then. Closing in favour of https://github.com/godotengine/godot/issues/35038.

[2020-01-13 06:07] #35065 closed

[2020-01-13 06:18] clayjohn commented on #32764
I was able to confirm as well. I don't think it is a depth buffer issue. To me it looks like a frustum culling issue. Possibly having to do with the octree culling implementation. This entire area is being rewritten for 4.0, so bumping back to then.

[2020-01-13 06:23] clayjohn commented on #33273
@raphael10241024 Can you test this again from beta 6? There were some changes made to depth formats a few weeks after this issue was created. I am hoping it has been fixed, but I am still unable to reproduce in either 3.1.1 or 3.2 beta6

[2020-01-13 06:25] Jakob-PB commented on #35038
I'd like to point out that this issue doesn't necessarily lock the editor/game to 30 FPS but rather to half of the monitor refresh rate (see #35065).

[2020-01-13 06:28] clayjohn commented on #25565
Can't reproduce in 3.1.1 stable or on 3.2 beta6.

Windows 10. GTX 1050.

[2020-01-13 07:42] #34483 closed

[2020-01-13 07:44] #28533 closed

[2020-01-13 07:44] rubenjavier opened #35066 "vulkan - 4.0 dev - removing giprobe_sdf.glsl from shaders/SCsub brakes compilation on Windows"
**Godot version:**
vulkan branch https://github.com/godotengine/godot/commit/a36bb5a475b7dcd22358da8cc18e7d57b80e2d9a from 20200112

**OS/device including version:**
Windows 10 64 bits
VS 2017
python 3.8.0
scons 3.1.1
Intel i7 8750H 16G RAM
Nvidia GTX 1060

**Issue description:**
the vulkan branch cannot be compiled due to changes to reenable and add post processing effects like bloom mix, glow, e

[2020-01-13 07:51] akien-mga commented on #34933
`mouse_filter` defaults to `MOUSE_FILTER_STOP` in `Control`, which `Container` and thus `CenterContainer` inherit.
`BoxContainer` and `GridContainer` seem to have local overrides to `MOUSE_FILTER_PASS`. The discrepancy is probably not intended.

[2020-01-13 07:52] tinmanjuggernaut opened #35067 "Firefly artifacts along seams between perfectly aligned meshes"
**Godot version:**
Master v3.2 abefd42e8
Probably other versions

**OS/device including version:**
Win10/64

**Issue description:**
In dark scenes, pixels from the background sky randomly, and inconsistently peek through the infinitely small spaces between two meshes, even when they are perfectly aligned (e.g. integer values w/ no rotation).

![image](https://user-images.githubusercontent.com/3525

[2020-01-13 07:55] clayjohn commented on #35066
Will be fixed by https://github.com/godotengine/godot/pull/35061

[2020-01-13 08:08] hoontee commented on #35038
Updated the issue to reflect new findings.

[2020-01-13 08:13] #29778 closed

[2020-01-13 08:15] akien-mga commented on #35059
Likely regression from #34824.

[2020-01-13 08:15] firecloud888 opened #35069 "Area2D collision mask set not work in process"
I got a nodeA set collision layer to 1, nodeB no mask layer

If I code nodeB like this:
[code]
it will not print anything

but if I move the set_collision mask to ready, it collide
extends Area2D

[code]

I use to breakpoint debug and I see the mask layer actually changed but it wont work

[2020-01-13 08:23] akien-mga commented on #25565
I can reproduce it in the current `master` branch on Linux, both with Intel HD 630 and AMD Radeon RX Vega M (Mesa 19.3.1).

[2020-01-13 08:49] groud commented on #35043
I am still not sure about what the problem is. But if the problem is the global_get_rect() function doesn't account for rotation, this is an expected behavior. There is no way to compute a meaningful rect when a control is rotated.

[2020-01-13 09:03] yuyubibibobibo commented on #35043
so i canot overlap test... i need rotated texture to check   overlap...

[2020-01-13 09:07] groud commented on #35043
You should not use `get_global_rect()` then, but instead use the `get_global_transform()` (eventually `get_global_transform() * get_transform()` I am not sure) to transform the position you want to check for to the Control local space, and then use `get_rect()` to check for the position.

[2020-01-13 09:08] akien-mga commented on #26303
Mixed results... by default I get a black screen, but toying a bit with the WorldEnvironment I can now get the cubes to display without having to add a Sprite3D.

It seems like Background Mode "Clear Color" and "Custom Color" trigger a black screen (even with non-black custom color) which hampers testing this issue, but if I use a ProceduralSky or Canvas mode it seems to work fine.

I'll do more t

[2020-01-13 09:08] #26303 closed

[2020-01-13 09:09] yuyubibibobibo commented on #35043
my cursor is get_global_mouse_position，so

[2020-01-13 09:11] akien-mga commented on #26924
@MVPLades @bruno-reload Can you still reproduce this issue in the latest 3.2 builds? There have been lots of fixes to GLES2 support for lower end devices.

[2020-01-13 09:11] groud commented on #35043
Then use `get_local_mouse_position()` instead.
Something like `get_rect().has_point(get_local_mouse_position())`

[2020-01-13 09:13] #35038 closed

[2020-01-13 09:15] yuyubibibobibo commented on #35043
i will try it，thx a lot

[2020-01-13 09:54] akien-mga opened #35071 "GLES2 Background Mode Clear/Custom Color do not work on Samsung Galaxy S III"
**Godot version:**
3.2 master (7a15569c6f)

**OS/device including version:**
Samsung Galaxy S III (GT-I9300): http://opengles.gpuinfo.org/displayreport.php?id=3407
GLES2-only.

**Issue description:**
Several of the `Environment` `Background Mode` options do not work properly on this GLES2-only low end phone.

I did a quick review of all modes (with more or less default settings each time):

- Clea

[2020-01-13 09:54] nathanwfranke commented on #28628
Still getting this bug. It also effects any meshes with "No depth test" enabled

[2020-01-13 10:04] firecloud888 commented on #35069
I see, if I put the code in _physics_process(), it worked. But the collision layer/mask change still need to wait to next time to apply, the changes not work immediately

[2020-01-13 10:35] Calinou commented on #35059
I guess we can solve this by clamping the editor scale to 1 for editor zoom operations.

[2020-01-13 10:57] Calinou commented on #25565
It sounds like a driver-specific issue again (related to OpenGL line drawing).

[2020-01-13 11:01] lawnjelly commented on #35067
As I said on IRC yesterday, this is probably floating point error in the pipeline. Your vertex shader has an input position which is multiplied by a transform matrix.

In math terms if you have 0.1 * 10.0, the result is exactly the same as 1.0 * 1.0, and the same as 100.0 * 0.01.

In floating point math this does not follow, float is only an approximation in many cases. 0.1 * 10.0 != 10.0. Float i

[2020-01-13 11:03] akien-mga commented on #24985
Is this still reproducible in latest 3.2 builds?

[2020-01-13 11:28] Geequlim commented on #34147
@TicklesTheBrain Thank you again for your testing.

[2020-01-13 11:28] timothyqiu commented on #35005
FYI: I just tried on a Windows 10 64 bit machine, and I can't reproduce this either.

The button in the reproduction project can be resized to 8x8 successfully in 3.1.2 stable.

![demo](https://user-images.githubusercontent.com/372476/72252610-8ecca200-363a-11ea-99c6-ea8cbcde5d9c.gif)

[2020-01-13 11:28] #35059 closed

[2020-01-13 11:35] akien-mga commented on #25046
Still reproducible in the current `master` branch.

Might be Linux specific though and linked to their way the cursor is captured. It's possible that dragging the custom font size value triggers an automatic update to refresh the font which interferes with the captured cursor.

[2020-01-13 11:36] akien-mga commented on #25049
Still reproducible in the current master branch.

[2020-01-13 11:37] Janders1800 commented on #35049
Can confirm. Happens to me as wel l.

[2020-01-13 11:47] JFonS commented on #25358
I'm adding the "junior job" label. The task is to modify `ColorPicker` so instead of sampling the screen on every mouse movement it's only done when the mouse sits still in a position for a set amount of time.

What needs to be done:
* Add a timer to `ColorPicker`.
* Reset the timer on every mouse movement input.
* When the timer times out perform the same screen sampling that is now done on every

[2020-01-13 11:50] JFonS commented on #25358
Moving to 4.0 milestone, not a blocking issue. The fix should be cherrypicked back to 3.2

[2020-01-13 11:55] YeldhamDev commented on #25358
Just to update on my part, the freezing doesn't happen anymore in my end. Neither with GLES3 nor GLES2.

[2020-01-13 12:05] #34147 closed

[2020-01-13 12:11] akien-mga commented on #25138
Can you check if it works fine in 3.2 beta 6 or later?
I might have fixed this with #34910.

[2020-01-13 12:12] akien-mga commented on #26544
Can you check if it works fine in 3.2 beta 6 or later?
I might have fixed this with #34910.

[2020-01-13 12:12] akien-mga commented on #29894
Can you check if it works fine in 3.2 beta 6 or later?
I might have fixed this with #34910.

[2020-01-13 12:14] #35031 closed

[2020-01-13 12:25] akien-mga commented on #25176
Still reproducible in the current `master` branch.

[2020-01-13 12:25] akien-mga commented on #25288
No answer so assuming fixed.

[2020-01-13 12:25] #25288 closed

[2020-01-13 12:33] akien-mga commented on #25332
I can't reproduce it in the current master branch / 3.2 beta 6, so it might have been fixed since this was initially reported.

[2020-01-13 12:33] #25332 closed

[2020-01-13 12:33] akien-mga commented on #25343
Closing as per the above, it was likely an issue with using an outdated custom package.

[2020-01-13 12:33] #25343 closed

[2020-01-13 12:35] akien-mga commented on #25458
Seems fixed in the current master branch.

[2020-01-13 12:35] #25458 closed

[2020-01-13 12:37] akien-mga commented on #25498
The method `set_bone_ignore_animation()` was removed in d81ddaf33ecddab1c83bc964b0bee4328b7f7b06, so this is no longer application for 3.2+.

[2020-01-13 12:37] #25498 closed

[2020-01-13 12:38] #24997 closed

[2020-01-13 12:38] #26510 closed

[2020-01-13 12:40] akien-mga commented on #25537
Confirmed in the current master branch.

[2020-01-13 12:43] akien-mga commented on #25544
Is this still reproducible in the current master branch / latest 3.2 builds?

I'm not very familiar with SkeletonIK to assess the issue in OP, but the provided project seems to run the same regardless of the scale for me.

[2020-01-13 12:43] #35049 closed

[2020-01-13 12:46] akien-mga commented on #25578
Still reproducible in the current master branch.

[2020-01-13 12:49] Zireael07 commented on #25544
Not OP and can't check because I rescaled the model to 1,1,1 (and don't have Godot installed atm)

[2020-01-13 12:51] neikeq commented on #20271
This won't happen until at least June as it's not part of my current roadmap. It should not require much work to get this done as I suppose it will share most of the code from Windows, but I have zero experience with UWP.

[2020-01-13 12:52] vnen commented on #24684
Not really critical since this only affect the editor.

[2020-01-13 13:00] #25156 closed

[2020-01-13 13:01] GeorgeS2019 commented on #20271
@neikeq After seeing the recent VR Occulus Quest, Godot is getting extremely exciting. I see Godot has lots of potential. Among the platform, UWP has the biggest need for Godot. There is simply nothing like this. But Microsoft technology is rapidly converging towards UWP.

When I finally has time to start compiling Godot, I will have a clearer picture of why it is difficult for UWP. Why the commun

[2020-01-13 13:04] Torguen commented on #34619
It still happens in 3.2 beta 6 mono

[2020-01-13 13:04] neikeq commented on #35051
Can you upload the `sln` and `csproj` files?

[2020-01-13 13:09] Calinou commented on #20271
@GeorgeS2019 If anything, UWP seems to be getting less and less popular among Microsoft product users.

[2020-01-13 13:10] akien-mga commented on #34619
I can confirm the original issue with the project in the OP, and also that deleting the `res://.mono` folder seems to fix it.

[2020-01-13 13:13] GeorgeS2019 commented on #20271
@Calinou   This is STANDARD observation!!!!  :-)  There are lots of debate at Windows Central on this topic

The key point:  After CES2020

The rise of Snapdragon, Windows on ARM.
I know there is also a plan to export to Windows on ARM

BUT UWP  (Control, not console) will empower the community, WILL DRAW microsoft to continue putting grant to GODOT like previous year.

I see GODOT not just for ga

[2020-01-13 13:13] #34931 closed

[2020-01-13 13:14] vnen commented on #27099
This was solved by #34918.

[2020-01-13 13:14] #27099 closed

[2020-01-13 13:15] tinmanjuggernaut commented on #35067
Thanks for your message. I'm sure what you shared with Zylann was very useful for that case.

The example project I provided in this issue uses the default white material; no vertex shader.

In my provided example, all vertices are located at integer rounded positions, and the edges go along the global X/Y/Z axes. Is this an insufficient test?

I'm not sure what needs to be written in opengl to te

[2020-01-13 13:18] Torguen commented on #34619
No, I tried it, the editor will crash again when you reload the project.
For example when you do "Project" -> "Exit to the list of projects" then reload the project and the editor crashes again.

[2020-01-13 13:19] ee0pdt commented on #20368
I think someone suggested above that the enum-as-type pattern is unorthodox, yet it is present in modern languages like typescript.

See this example from the TS docs:

[code]

[2020-01-13 13:22] akien-mga commented on #25613
Seems fixed in the current master branch.

[2020-01-13 13:22] #25613 closed

[2020-01-13 13:27] akien-mga commented on #34619
Indeed, after importing it to the project manager and editing it from there, I can reproduce the bug.

Interestingly, I also this when it's frozen:
![Screenshot_20200113_142525](https://user-images.githubusercontent.com/4701338/72259434-bc045a80-3610-11ea-89de-2d6684d2391a.png)

So all platforms seem to register themselves as one-click deploy for some reason.

[2020-01-13 13:36] akien-mga opened #35081 "Node::set_scale hack to prevent 0 scale should be reviewed"
**Godot version:**
3.2 master (087ffc8b)

`Node2D::set_scale()` has a hack to prevent setting the scale to 0, which would lead to some errors being raised, likely in various places (to be defined), but at least in `Transform2D::affine_invert`.

https://github.com/godotengine/godot/blob/087ffc8b5aafafba8fbb17d0689c0ceb88baa27a/scene/2d/node_2d.cpp#L175-L180

https://github.com/godotengine/godot/blo

[2020-01-13 13:52] akien-mga commented on #25617
Is this still reproducible in the current master branch / latest 3.2 builds?

If so, could you provide a minimal example project that reproduces the issue?

[2020-01-13 14:08] #25589 closed

[2020-01-13 14:12] akien-mga commented on #25661
Still valid in the current master branch.

[2020-01-13 14:14] akien-mga commented on #25718
Closing as per the above comment. The `InAppStore` singleton still needs better documentation, see godotengine/godot-docs#2715.

[2020-01-13 14:14] #25718 closed

[2020-01-13 14:15] akien-mga commented on #25729
I'll close for now as there hasn't been a new confirmation, and there's no project to test with. If you can still reproduce the issue, please upload a project that can be used to reproduce it.

[2020-01-13 14:15] #25729 closed

[2020-01-13 14:18] akien-mga commented on #25732
For the reference, the project in OP no longer reproduces the issue, as it was fixed by cb09abdbbdb.

The project in https://github.com/godotengine/godot/issues/25732#issuecomment-466669002 still reproduces the issue in the current master branch.

[2020-01-13 14:20] akien-mga commented on #25743
The issue appears no longer reproducible in the current master branch, I always get "100% data matches".

[2020-01-13 14:20] #25743 closed

[2020-01-13 14:21] akien-mga commented on #25829
Related to #23711.

[2020-01-13 14:21] akien-mga commented on #23711
Related to #25829.

[2020-01-13 14:22] akien-mga commented on #33988
Closing as duplicate of #31981.

[2020-01-13 14:22] #33988 closed

[2020-01-13 14:22] akien-mga commented on #25857
Closing as duplicate of #31981.

[2020-01-13 14:22] #25857 closed

[2020-01-13 14:29] akien-mga commented on #25881
Still reproducible in the current master branch.

[2020-01-13 14:30] akien-mga commented on #25883
It seems fixed in the current master branch, the MRP reports 0 overlapping bodies.
Please comment and attach an updated project if you can still trigger the issue differently.

[2020-01-13 14:30] #25883 closed

[2020-01-13 14:32] akien-mga commented on #32797
Seems fixed in the current master branch.

[2020-01-13 14:33] akien-mga commented on #25939
I'll close this as duplicate of #32383.

[2020-01-13 14:33] #25939 closed

[2020-01-13 14:35] akien-mga commented on #25960
Is this still reproducible in the current master branch?

If so, could you give slightly more detailed steps to reproduce?

[2020-01-13 14:44] MuktadaCreations commented on #35051
@neikeq  I dont think the version matter bec I use it on unity and did the same thing, and thats probibly the C# extansion, but anyway I use the latest mono version like 3.1.2 and this is the

1- csproj
https://mega.nz/#!8nZhFIrR!hupe8J2bCGYHZncyZuVQuJPJZTOO66aChuHZ1U8HrYw

2-sin
https://mega.nz/#!8nZhFIrR!hupe8J2bCGYHZncyZuVQuJPJZTOO66aChuHZ1U8HrYw

[2020-01-13 14:46] akien-mga commented on #25595
I had a quick look, and in `modules/etc`, no decompression method is implemented.

For PVRTC, BPTC and BC, they are implemented in their respective modules:
[code]
but `modules/etc` (using etc2comp) only implemented compression.

So this is not a bug per se, but a missing feature. I did not check whether `etc2comp` provides decompression options.

[2020-01-13 14:59] groud commented on #35043
Alright, closing this for now then. If you have difficulties using 2D transforms, please use the other community channels for this purpose.

[2020-01-13 14:59] #35043 closed

[2020-01-13 15:10] #33309 closed

[2020-01-13 15:11] mnn commented on #20368
The "enum-as-type" is quite common (often accepting everything of that type, like the example above from TS). I guess it's a start, but it doesn't check much - you could freely mismatch enums or pass invalid values. It would be nice to have true sum+product types like in Haskell:

[code]

I guess product types in the context of GDS would be typed Dictionaries (interfaces).

It's worth noting that

[2020-01-13 15:21] #25640 closed

[2020-01-13 15:21] Zireael07 commented on #28628
That comment is a wall of text, where's the workaround?

[2020-01-13 15:32] clayjohn commented on #28628
@Zireael07 the last paragraph, and then expanded upon in further comments.

[2020-01-13 15:34] YeldhamDev opened #35084 "Signal connections from instanced children change positions in .tscn file"
**Godot version:**
031b545

**Issue description:**
When saving a scene, the signal connections from instanced scenes will change positions every now and then in the `.tscn` file.

Very likely related to #30538.

[2020-01-13 15:48] KoBeWi opened #35085 "Wrong ScrollContainer size after toggling scrolls"
**Godot version:**
3.2 beta6

**Issue description:**
When you disable and then enable horizontal/vertical scrollbar of ScrollContainer, it can't be shrunk under the content minimal size until you switch out of the scene tab and back. However if you disable both scrolls and enable again, you will be able to shrink it, but it triggers the "auto-magical" shrinking behavior similar to #21803.
![mfZcuT

[2020-01-13 15:56] ForLoveOfCats opened #35086 "Texture import srgb detection regression"
**Godot version:**
3.1.1 Stable (works) **and** 3.2 Beta 6 (broken)

**OS/device including version:**
Manjaro Linux x86_64

**Issue description:**
I have image assets (png) which Gimp's metadata viewer says is in in srgb colorspace.
![image](https://user-images.githubusercontent.com/30666851/72270212-cf083200-35f2-11ea-82bf-86159e25fca3.png)
In 3.0.x and 3.1.x it is imported correctly but when rei

[2020-01-13 15:57] KoBeWi opened #35087 "Some custom scrollbars still overlap"
**Godot version:**
031b545

**Issue description:**
While the ScrollContainers scrollbars were fixed by #35080, there are some instances where the scrollbars still overlap (probably due to custom "container" or theme).

- CanvasItem editor
![image](https://user-images.githubusercontent.com/2223172/72270328-4656b980-3625-11ea-9d5b-680ae08e5337.png)
Not terrible, but could be better. Same happens in

[2020-01-13 16:13] yuyubibibobibo commented on #35043
why i donot use get_rect，it is local_rect actually？it is not bug？

[2020-01-13 16:18] groud commented on #35043
Yes, get_rect() returns a rect in the Control's space.
I don't see what would be a bug here.

[2020-01-13 16:25] Shadowblitz16 commented on #35005
try setting the font to [empty] and adding a icon to the button itself.
both seem to effect the minimum size of the button despite having clip text and clip content on

[2020-01-13 16:33] yuyubibibobibo commented on #35043
canot rotation with control，how can we overlap test...why rect2 donot rotation is expected and designed...

[2020-01-13 16:46] yuyubibibobibo commented on #35043
it is used for overlap testing，if rect2 donot rotate，i think that is bug...

[2020-01-13 16:56] warriormaster12 commented on #34483
Cloned master branch, compiled it and yup, no artifacts anymore. Thanks a lot for fixing the issue. I hope only best for you and your project :D

[2020-01-13 16:56] Shadowblitz16 opened #35089 "Controls focus_exited signal doesn't seem to work for regrabbing focus"
**Godot version:**
v3.1.2

**OS/device including version:**
Windows 10 Pro Education 64 bit

**Issue description:**
the focus_exited signal can't be used for locking focus by using `grab_focus()` and `grab_click_focus()`

**Steps to reproduce:**
- download this project
[AstroWars.zip](https://github.com/godotengine/godot/files/4054683/AstroWars.zip)
- run it
- press a button either by keyboard or

[2020-01-13 16:57] groud commented on #35043
Sorry, but your english is really hard to understand.
Rect2 is not supposed to rotate, it does not handle rotations and this is by design.
If you need to check whether or not a point is inside a control's rect, you have to use the solution above (use `get_rect().has_point(get_local_mouse_position())` or play with transforms to get the point you want to check in the control's local space)

[2020-01-13 17:07] qarmin commented on #32797
Still happens with master

[2020-01-13 17:16] KoBeWi opened #35090 "Some methods appear in xml files, but not in the editor"
**Godot version:**
3.2 beta6

**Issue description:**
For example the `get_patch_margin()` in `NinePatchRect`. It has an entry in the xml file of the class, but you can't find it in the editor help. This probably applies to all getters/setters that use a default enum argument.

[2020-01-13 17:22] OniLink commented on #7804
This issue still exists for me. Would love to see it fixed.

[2020-01-13 17:27] lawnjelly commented on #32797
Yes all containers that are susceptible will need fixing similarly. The fix that was merged was for Vector rather than PoolVector. On a quick look, PoolVector is still using a const reference for at least set and insert so is still susceptible.

[2020-01-13 17:27] pchasco commented on #5049
I have done significant work toward compiling GDScript to C with GDNative. I have arrived at a point where I am not convinced that it is a worthwhile endeavor to complete. Theoretically the performance of AOT code could be orders of magnitude faster than GDScript in execution, but in practice the results are more disappointing. The costs of going through the GDNative layer are significant, and wit

[2020-01-13 17:48] Faless commented on #34993
@Vadimledyaev you can't use self-signed certificates in HTML5 exports. The users would have to manually install the certificate in their browsers. What you want to do is get a valid certificate for the hostname that is running the websocket server, install it appropriately on the server, and connect to that hostname (not the IP address directly).
You can get free valid certificates from CAs like [

[2020-01-13 17:52] jcrapsey opened #35093 "Crash when calling emit_signal when using a mono build"
Godot v3.1.2.stable.mono.custom_build.6de4c53
Windows 10 Pro, 10.0.18362 Build 18362

Following the tutorial here
[https://docs.godotengine.org/en/3.1/development/cpp/custom_godot_servers.html](https://docs.godotengine.org/en/3.1/development/cpp/custom_godot_servers.html)

I keep getting a crash when the HilbertHotel thread function calls emit_signal on the _HilbertHotel wrapper class. When lookin

[2020-01-13 17:55] qarmin commented on #34854
Nope, invalid read still happens and only with bucket tool.

[2020-01-13 18:01] Vadimledyaev commented on #34993
Thanks for clarifying, but do you mean the server is only accessible by domain name and shall also host the web pages with client html5 builds?

[2020-01-13 18:11] Faless commented on #34993
No, the build could potentially be served by a different machine running its own HTTP server

[2020-01-13 18:17] Mastermori commented on #23316
This issue is still valid in 3.2beta4.

[2020-01-13 18:20] Mastermori commented on #23316
And this issues goes even further than not showing the export from the base class, it shows none of the exports from the inherited class.
Assuming the same setup as in the issue:
[code]
[code]
This code shows no script variables when inspecting inherited.tscn, whilst
[code]
shows number and number2 as script variables in inspector.

[2020-01-13 18:25] Paulb23 commented on #34951
@FlashDaggerXI would take a guess that it's also happening on centre alignment as well, due to `cached_width` not taking into account char spacing.

[2020-01-13 18:36] Vadimledyaev commented on #34993
THanks a lot Faless and Calinou!

[2020-01-13 18:59] #28680 closed

[2020-01-13 19:04] lawnjelly commented on #35067
I did a small manual example to show why this type of float error can occur:

[code]
Result : pt is 100000000, 100000000, 100000000
pt2 is 99999992, 99999992, 99999992

(actually they are both a little off from this due to the Godot debugger display, but you get the idea)

The general idea is that you are starting off with different points in local space, and you are relying on the transforms to l

[2020-01-13 19:17] Zylann commented on #35067
@lawnjelly you are working with extremely large values here. This firefly issue has been seen in situations where none of the inputs exceeded the hundred.

[2020-01-13 19:20] Calinou commented on #35086
Does Godot even make use of the image metadata? I thought it was only using sRGB if the texture is *detected* to be used in 3D. 2D rendering in Godot doesn't make use of sRGB.

[2020-01-13 19:21] lawnjelly commented on #35067
You get precision error with float with small values too. Try storing 0.1 in a 32 bit float, then read the actual value in a debugger. This is the nature of floats. They are 'floaty'! :smile:

[2020-01-13 19:29] akien-mga commented on #35090
It does appear, as the getter of the four `patch_margin_*` properties.

But yes, composite setters with 2 arguments or getters with 1 argument are a bit unconventional and are not really documented in the best way - but they're also not really meant to be used, their implementation is a backend detail.

[2020-01-13 19:31] akien-mga commented on #32797
The test project in OP doesn't trigger the bug reliably then.

[2020-01-13 19:39] fossegutten opened #35095 "RID constructor mismatched types"
**Godot version:**
3.2 beta 6

**Issue description:**
The RID constructor takes an Object, but generates an error saying "No constructor of RID(Object).
Documentation says RID creates an ID for a Resource. However, passing a typed resource also creates the same error.
Maybe the docs should be updated if this is intended behaviour, because it is not clear how and what the RID object is for.

**Step

[2020-01-13 19:52] qarmin commented on #32797
I still can reproduce crash with project from the first post after ~2s after running project

This project should crash almost instantly  - [AAAA.zip](https://github.com/godotengine/godot/files/4055491/AAAA.zip)

Some of errors:
[code]

[2020-01-13 19:55] neikeq commented on #34954
I'm going to push a fix for the AnimationPlayer leak. Can you open a new issue for the Image leak? It's a different bug and may need some more thought to fix it.

[2020-01-13 20:04] tinmanjuggernaut commented on #22337
I'm working on a PR for FastNoise, and experimenting with FastNoiseSIMD for a second one. I'd like some guidance on topics below, but so far so good.

![fastnoise-cellular](https://user-images.githubusercontent.com/632766/72280304-ff8fb080-3672-11ea-8925-8461fa6b0d5b.jpg)

### Class structure

Currently we have `OpenSimplexNoise : Resource` and `NoiseTexture : Texture`.

NoiseTexture specifically

[2020-01-13 20:05] neikeq commented on #34954
As commented, the PR only fixes the AnimationPlayer leak.

[2020-01-13 20:33] clayjohn commented on #35086
@Calinou that's what I thought as well, but it's worth checking into. It may check for sRGB metadata to ensure that the conversion isn't applied twice.

[2020-01-13 20:49] nonunknown opened #35098 "Popup - Exclusive bool overrides Mouse filter"
**Godot version:**
godot 3.2 beta 5
**OS/device including version:**
ubuntu 18.04
**Issue description:**
If the user wants a popup window that can be draggable and stay always in front of other Control nodes and still can interact with them but still showing the popup (like an output dialog) actually its not possible
**Steps to reproduce:**
Create a window dialog that shows when click a button, se

[2020-01-13 20:51] nonunknown commented on #35095
have you tried ?

`var rid:RID: RID.new(object)`

[2020-01-13 20:51] Calinou commented on #22337
Is the performance at least as good on platforms that can't make use SIMD? IIRC, not all platforms can do that.

[2020-01-13 20:59] Calinou commented on #35098
Please provide a minimal reproduction project, it'll make it much easier to diagnose and fix the issue.

[2020-01-13 21:00] neikeq commented on #35051
You seem to have pasted the wrong link for the `sln` by mistake :stuck_out_tongue:

[2020-01-13 21:01] #34954 closed

[2020-01-13 21:06] tinmanjuggernaut commented on #22337
FastNoiseSIMD says it has cpu detection and defaults back to regular ints/floats if SIMD is not supported. So it shouldn't be any different on a non simd system. And maybe I should forget about FN and just do FNsimd.

My results on the bottom were from my i7-8750h which can use the AVX2 instruction set. Older processors can use AVX, SSE4 or SSE2. Also there is support for ARM Neon.

simd support a

[2020-01-13 21:09] KoBeWi commented on #35090
But you can also write the description (unlike other setters/getters) and it's nowhere to be seen. That's the main problem.

[2020-01-13 21:16] nonunknown commented on #35098
Done

[2020-01-13 21:19] akien-mga commented on #35090
Oh I see. That's a bug in the editor indeed.

We chose to expose those in the classref explicitly since their documentation is a bit more than just "sets <property>", as what property is set depends on an enum value. See #30125.

Seems like I did not check that they'd actually appear in the editor, there might be some code to filter them out.

[2020-01-13 21:23] qarmin commented on #33007
I still have still same crash in 3.2.beta.custom_build. 031b5455a  - Project [W](https://github.com/godotengine/godot/files/3803221/The-worst-Godot-test-project.tar.gz)
[code]

[2020-01-13 21:56] Calinou opened #35100 "Build error on FreeBSD related to PCK embedding"
**Godot version:** Git https://github.com/godotengine/godot/commit/1d129f9becad39f60252a672eb2cf0e14056939d

**OS/device including version:** FreeBSD 12.0 (on Cirrus CI, see [this repository](https://github.com/Calinou/godot-ci-freebsd) for CI files)

**Issue description:** Building fails on FreeBSD with the following error:

[code]

Maybe PCK embedding logic should be disabled on *BSD.

**Steps t

[2020-01-13 22:17] Calinou commented on #35069
I'm not sure if this is a bug or documentation issue (if it can't be solved).

[2020-01-13 22:19] Calinou commented on #35041
I'll close this, as renaming settings for Godot 4.0 is better covered in #16863.

[2020-01-13 22:19] #35041 closed

[2020-01-13 22:22] Calinou commented on #35039
I could see it being difficult to fix. Right now, EditorInspector will pass its numeric fields to the Expression class. However, how can we distinguish an expression result (e.g. `350 + 50`) from a single value entered directly (`400`)? At the end of the day, the engine will "see" the same thing.

[2020-01-13 22:24] Calinou commented on #27939
@mateusak Can you still reproduce this issue on [Godot 3.2 beta 6](https://godotengine.org/article/dev-snapshot-godot-3-2-beta-6)? If so, could you upload a minimal reproduction project, please?

[2020-01-13 22:29] Calinou commented on #35013
Note that "Socket error: 10054" just means the game process crashed and resulted in the editor losing the debugger connection to the game.

[2020-01-13 22:31] Calinou commented on #34947
@zomman Should this issue be closed? It seems you found a solution to your problem. Let us know if the documentation should be improved.

[2020-01-13 22:33] Calinou commented on #34917
Duplicate of #33833.

[2020-01-13 22:33] #34917 closed

[2020-01-13 22:34] Calinou commented on #34903
The web server only complains about a 404 error due to the `favicon.ico` request automatically made by the browser. It's completely harmless :slightly_smiling_face:

[2020-01-13 22:38] Calinou commented on #34777
@git2013vb The `.csv` file included in that ZIP is empty – its size is 0 bytes.

[2020-01-13 22:40] Calinou commented on #34773
Try switching the renderer to GLES2 in the Project Settings (**Rendering > Quality > Driver > Driver Name**). Restart the editor, then export the project again.

[2020-01-13 22:42] Calinou commented on #34733
Closing, as `OS.shell_open()` should be able to provide the desired functionality without hacks.

[2020-01-13 22:42] #34733 closed

[2020-01-13 22:43] Calinou commented on #34605
Duplicate of #33369.

[2020-01-13 22:43] #34605 closed

[2020-01-13 22:45] Calinou commented on #34511
Does it work if you add a small delay (like 100 milliseconds) before exiting?

[2020-01-13 22:52] Calinou commented on #34201
I'll close this as a duplicate of #12373.

[2020-01-13 22:52] #34201 closed

[2020-01-13 23:29] timoschwarzer commented on #24684
@vnen I disagree. This bug prevents users from successfully using script hot reloading at all when making heavy use of coroutines.

[2020-01-13 23:56] yuyubibibobibo commented on #35043
why local rect is different with global rect，it confuse me...sorry for my english again

[2020-01-14 00:20] fire commented on #22337
I'm still looking an implementation of seamless 3d noise for Godot Engine.

[2020-01-14 00:48] yuyubibibobibo commented on #35043
rect2 in Local coordinates still won't rotate with control ...i donot how to overlap testing to use rect2 when control can rotation

[2020-01-14 01:02] yuyubibibobibo opened #35104 "i still think that rect2 no rotate with control is bug..."
**Godot version:**
3.2 beta6
**OS/device including version:**
windows 10
**Issue description:**
control rotate 90,but global and locol rect2 is still 0 degree...
i think it is bug,if it be designed like this, it confuse me very much,
at least, rect2 Description in doc
Rect2 consists of a position, a size, and several utility functions. It is typically used for fast overlap tests.
so if our control

[2020-01-14 01:10] FlashDaggerX commented on #34951
Thank you for the suggestion. I'm quite new at this.

[2020-01-14 01:16] ndarilek commented on #23010
Could it have to do with this in platform/javascript/detect.py?:

[code]

From https://emscripten.org/docs/getting_started/FAQ.html:

"By default Emscripten sets EXIT_RUNTIME=0, which means that we don’t include code to shut down the runtime. That means that when main() exits, we don’t flush the stdio streams, or call the destructors of global C++ objects, or call atexit callbacks. This lets us em

[2020-01-14 01:41] clayjohn commented on #35104
Duplicate of https://github.com/godotengine/godot/issues/35043

As was explained in that issue. ``get_rect()`` returns a rect in local space. If you want to compare an object/point against it, you need to transform that point into the controls local space.

[2020-01-14 01:41] #35104 closed

[2020-01-14 02:08] yuyubibibobibo commented on #35104
sure，get_rect is local space，get_mouse_position is local space too，it donot work...

[2020-01-14 02:49] hoontee commented on #35038
So I've discovered that forcing vsync in graphics card settings is what's causing the halved framerate. Letting the application decide fixes the issue.

![image](https://user-images.githubusercontent.com/5272529/72309954-1075fd00-3646-11ea-84b2-a1135feb08e2.png)

[2020-01-14 03:20] NHodgesVFX opened #35107 "GIProbe Reflection does not take sky into account"
**Godot version:**
Godot 3.2 Beta 5, Godot 4 Vulkan
**OS/device including version:**
Windows 10 64 bit
**Issue description:**
When using GIProbe the sky is not taken into account in reflections. This is most visible in metallic chrome surfaces.

Godot 3.2 Beta 5
![Godot32_GIProbe_NoSkyInreflections](https://user-images.githubusercontent.com/11403345/72311432-a57ef300-3652-11ea-9d83-291a3788ae60.PN

[2020-01-14 03:29] Juankz opened #35108 "Particles angle speed in editor different than in running game [3D]"
Godot 3.1.2 and master branch

Operating system: Linux 64 bits
Graphics card: Nvidia GeForce GTX 1050

Description:
In the attached video you can see that the particle rotation on the game screen (right) is faster than in the editor (left). I had to reduce the speed x10 to make it look like the editor.

[video.zip](https://github.com/godotengine/godot/files/4057190/particles_speed_bug.zip)
[minima

[2020-01-14 03:39] yuyubibibobibo commented on #35104
i used get_rect().has_point(get_local_mouse_position),it is norect

[ReproductionProject.zip](https://github.com/godotengine/godot/files/4057230/ReproductionProject.zip)

[2020-01-14 03:39] Juankz commented on #35108
My bad people. This is fixed setting Particles > Time > Fixed FPS

[2020-01-14 03:39] #35108 closed

[2020-01-14 03:39] yuyubibibobibo commented on #35043
[ReproductionProject.zip](https://github.com/godotengine/godot/files/4057234/ReproductionProject.zip)

[2020-01-14 04:25] tinmanjuggernaut commented on #22337
Open simplex noise already provides us seamless noise. We use it in the voxel terrains. It's just a little slow, which is why I'm spearheading this. Do you mean implementing a 3d texture? Because that's out of scope for me.

Also, to general, I was informed on Twitter that 4d noise isn't the best way to make seamless textures, it's just clever. That I can use a periodic hash and it's much faster.

[2020-01-14 04:41] TvoyBatek opened #35109 "C# Custom Resource don't save changes"
**Godot version:**
Godot Engine v3.2.beta6.mono.official

**OS/device including version:**
Windows 10

**Issue description:**
GDScript dont save changes in custom C# resources.

**Steps to reproduce:**
Create custom C# resource with export variable, change variable value, save resource, open it by GDScript, change value save/create new by ResourceSaver.save(). Open again resource - value dont chan

[2020-01-14 04:43] fire commented on #22337
I have code for 3d texture, I just can't find a function that can generate the 3d texture full of seamless noise. See https://github.com/Xrayez/godot-anl

[2020-01-14 06:38] JosephCatrambone opened #35110 "Double-Tap Unimplemented in Android Template"
**Godot version:**
3.2 beta 6

**OS/device including version:**
Android 10, K4.14.117, Samsung S10+

**Issue description:**
After building and installing an Android game with the templates for 3.2 beta 6, any sequence of more than one tap on the screen will crash the application.

[code]

**Steps to reproduce:**

1. Create an empty project.
2. Export for Android.
3. Upload to device.
4. Run.
5. Do

[2020-01-14 06:39] JosephCatrambone commented on #35110
Disregard.  Fixed 18 hours ago.  You lot work fast.
#35049

[2020-01-14 06:39] #35110 closed

[2020-01-14 06:43] groud commented on #35043
The Rect2 object does not handle scale and rotation at all. So the get_global_rect function cannot return something else than the not rotated version of the global Rect2. That's why you have to do you checks in the control's local spacz, where you can make it so the rotation is ignored.

But anyway, this is not the place to ask questions about how to use the engine, please use the other community

[2020-01-14 06:45] MuktadaCreations commented on #35051
@neikeq sorry my dude there is the right one

https://mega.nz/#!U2ZnFYYS!VaOQJtdIjuCTuXZDuflPz00CgVszZQlI1FGojSO7d7g

[2020-01-14 06:53] #34650 closed

[2020-01-14 06:53] #34769 closed

[2020-01-14 07:12] #35087 closed

[2020-01-14 07:14] akien-mga commented on #35107
That's by design AFAIK, GIProbes are meant for interior scenes, they only take into account what is included in their gizmo. The bigger the gizmo, the more computationally intensive the calculations will be.

[2020-01-14 07:26] #25635 closed

[2020-01-14 08:11] groud commented on #35043
My bad, this is what you should use : `Rect2(Vector2(), rect_size).has_point(get_local_mouse_position())`

[2020-01-14 08:29] RandomShaper commented on #35100
Which linker is used on this platform?

[2020-01-14 08:32] akien-mga commented on #32511
I tried to write some error handling to solve the crash reported by @fire, but I get more crashes further down the road due to bad handling of various `FileAccess`-derived pointers.

Leaving it at it for now, but in case someone wants to dig further:
[code]

[2020-01-14 09:45] akien-mga commented on #32511
Regarding the OP, the file is saved as a text file with "RSCC" probably because:
- The original file is corrupt, so the Visual Script editor refuses it
- It falls back to the text script editor, and only the "RSCC" ascii header makes sense to parse as text
- When saving the scene or closing the editor, the open file is saved by `editor/plugins/script_editor_plugin.cpp::_save_text_file`. The saved

[2020-01-14 09:53] AndHalfAFish opened #35112 "mouse events incorrect on BoxContainer with ColorRect"
**Godot version:**
3.2beta4

**OS/device including version:**
Windows 10

**Issue description:**
ScrollContainer > VBoxContainer > several HBoxContainers with (ColorRect, Label)
eg/ scroll list with saved games
Issue : mouse events set on HBoxContainer (eg/ gui_input, mouse default cursor) only registers when over Label ; ColorRect is ignored.
Mouse event should register over entire HBox area.
![i

[2020-01-14 09:59] akien-mga commented on #29576
@sunnystormy Can you still reproduce this issue?

If so, please provide:
- Output of `glxinfo`.
- Output of `godot --verbose` (if you set `DRI_PRIME=0`, you need to unset it first otherwise it won't print the relevant GPU vendor details).

[2020-01-14 10:04] groud commented on #35112
That is an expected behavior. The ColorRect mouse_filter property is by default set to stop.
Change that to pass and it should work.

[2020-01-14 10:05] akien-mga commented on #28298
There are several issues discussed here, most of which I believe are now fixed in 3.2.

If anyone can still reproduce a related issue, please open a new issue (possibly linking back to this one for reference as there's a lot of relevant debug info here, but not much structure).

[2020-01-14 10:05] #28298 closed

[2020-01-14 10:06] akien-mga commented on #27022
There's still no way for us to reproduce it, so closing.

[2020-01-14 10:06] #27022 closed

[2020-01-14 10:08] akien-mga commented on #27387
Closing as duplicate of #26880.

[2020-01-14 10:08] #27387 closed

[2020-01-14 10:29] akien-mga commented on #25138
I'll assume it fixed by #34910 for now, and if it isn't, it should be fixable by contributing the missing mappings to https://github.com/gabomdq/SDL_GameControllerDB.

Please comment if you can still reproduce the issue / need help to contribute mappings upstream if they're missing.

[2020-01-14 10:29] #25138 closed

[2020-01-14 10:35] starry-abyss commented on #27022
Ehmmm.... And why is it marked "confirmed" by a project member then?

[2020-01-14 10:35] akien-mga commented on #19717
No answer, so closing. Please comment if you can still reproduce it, and answer the questions above.

[2020-01-14 10:35] #19717 closed

[2020-01-14 10:43] akien-mga commented on #27022
I don't know, but without a file that can reproduce the issue, it can't be solved.

If anyone stumbles upon a file that triggers the bug, they'll open a new issue hopefully with a project/file we can test against.

[2020-01-14 10:48] starry-abyss commented on #27022
Sorry. I mean - by the activity shown above looks like @Chaosus has a repro?

[2020-01-14 11:13] #26857 closed

[2020-01-14 11:13] #34433 closed

[2020-01-14 11:13] #34826 closed

[2020-01-14 11:25] akien-mga commented on #32470
Backtrace of the project in https://github.com/godotengine/godot/issues/32470#issuecomment-538900526:
[code]

[2020-01-14 11:27] akien-mga commented on #32203
@111ukasz111 Can you still reproduce the issue in the latest 3.2 build?

[2020-01-14 11:37] Zylann commented on #22337
I think @fire refers to tiling noise, is it?

[2020-01-14 11:45] git2013vb commented on #34777
The same happen with normal csv file (translation).
I will try to set UTF-8.. Maybe is this the problem.

[2020-01-14 11:56] Lerg opened #35115 "Game crashes when gamepad is disconnected on macOS."
**Godot version:**
3.2b6 mono
**OS/device including version:**
macOS 10.15.2
**Issue description:**
A running app crashes when USB gamepad (Logitech F310) is disconnected.
Doesn't matter if "joy_connection_changed" is being listened or not.
**Steps to reproduce:**
Run project, disconnect a gamepad.
**Minimal reproduction project:**
Works on sample projects like 3D FPP.

Crash report
[code]

[2020-01-14 12:06] #34192 closed

[2020-01-14 12:07] akien-mga commented on #34952
CC @bruvzg

[2020-01-14 12:08] akien-mga commented on #26167
@Antokolos Can you still reproduce this issue in the latest Godot 3.2 builds?

[2020-01-14 12:13] akien-mga commented on #26190
Tested in the current master branch and `Engine` or `OS` autocompletion works kind of OK, apart from the issue tracked in #26114. So I'll close this issue, the other one is scheduled to be fixed in 4.0.

[2020-01-14 12:13] #26190 closed

[2020-01-14 12:13] akien-mga commented on #26288
Closing as the reproduction project is invalid.

[2020-01-14 12:13] #26288 closed

[2020-01-14 12:16] akien-mga commented on #35115
CC @godotengine/macos

[2020-01-14 12:27] bruvzg commented on #35115
Might be driver incompatibility with macOS 10.15, [360Controller](https://github.com/360Controller/360Controller) have this issue for example (both driver itself and apps using it crashes, disconnect callback is never called).

[2020-01-14 12:43] JFonS commented on #22337
Hi, I'm the developer that first integrated OpenSimplexNoise into Godot. Feel free to work on improving everything noise related, I just did a basic integration to get things started :)

Yes, that was the original plan but since we only had one noise type we postponed it until somebody wanted to implement a new noise type. That's definitely the way to go.

Thirdparty libraries need to go in the `t

[2020-01-14 12:53] akien-mga commented on #25969
Could you be more specific on what "weird" is in this context?

I tried the project in the current master branch and it seems to work fine. The only weirdness is that the "wrong" side of the sprite seems to be lit, but that's due to the normal map you're using.
Using a normal map generated by https://azagaya.itch.io/laigter with Invert Y, it works fine.

[2020-01-14 12:53] #25969 closed

[2020-01-14 13:03] akien-mga commented on #26054
I tested the attached project, but I get performance ratings in the similar order of magnitude for both the MeshInstance and the GridMap (both around 0.0004-0.0010).

[2020-01-14 13:05] akien-mga commented on #26136
Duplicate of #24319.

[2020-01-14 13:05] #26136 closed

[2020-01-14 13:06] akien-mga commented on #24319
Closing as superseded by godotengine/godot-proposals#43.

[2020-01-14 13:06] #24319 closed

[2020-01-14 13:08] akien-mga commented on #26137
Duplicate of #7278.

[2020-01-14 13:08] #26137 closed

[2020-01-14 13:10] akien-mga commented on #26138
Duplicate of #24739.

[2020-01-14 13:10] #26138 closed

[2020-01-14 13:14] akien-mga commented on #26139
Closing as per above comment, this is indeed behaving as expected.

Area2 and Body both scan layer 1 (that's their collision mask), and Area is in layer 1 (that's its collision layer), so that's a match.

[2020-01-14 13:14] #26139 closed

[2020-01-14 13:18] akien-mga commented on #26142
This appears to be fixed in the master branch.

Probably fixed by #31915.

[2020-01-14 13:18] #26142 closed

[2020-01-14 13:23] akien-mga commented on #24602
Fixed by #35006.

[2020-01-14 13:23] #24602 closed

[2020-01-14 13:24] akien-mga commented on #26374
Closing then as it's not a bug. 3.2 has support for applying an offset to OBJ files on import, particularly relevant for Kenney's notoriously offset meshes.

[2020-01-14 13:24] #26374 closed

[2020-01-14 13:27] akien-mga commented on #26382
I'm not sure to fully understand what the bug should look like, but it seems to behave OK in the current master branch?
On the other hand it raises a lot of errors, but I don't know if they're due to the project's code or an engine issue.

[2020-01-14 13:30] akien-mga commented on #26387
The error is now properly reported in the shader editor, with the affected line highlighted.

The only thing missing IMO is that if you don't have the shader editor open, it doesn't bring it up to show the error automatically. I'll open a new issue for that.

[2020-01-14 13:30] #26387 closed

[2020-01-14 13:33] schertudi opened #35118 "Gridmap doesn't update in parent scene when "Editable Children" is enabled"
**Godot version:**
Occurs in both 3.1.2 and the latest release of 3.2

**OS/device including version:**
Linux - Ubuntu 18.04

**Issue description:**
I have a gridmap in a child scene, which exists as an instanced scene in a parent scene. I have "Editable Children" set to true here. However, when add or remove meshes to the gridmap and save, these changes do not appear in the parent scene. If I dis

[2020-01-14 13:36] akien-mga opened #35119 "Shader editor should be shown when shader compilation error is raised"
**Godot version:**
3.2 master (ea4c88f3)

**OS/device including version:**
Any

**Issue description:**
When a compilation error happens in a shader, the compilation error and problematic line are properly displayed in the shader text editor.

But it's not always visible when the error is raised, so the UX is not so good. If you're in the normal Output panel, you will see the full shader text dumpe

[2020-01-14 13:37] akien-mga commented on #35119
Might partly be a bug/regression in 3.2 according to #32832.

[2020-01-14 13:38] akien-mga commented on #32832
CC @Chaosus @bojidar-bg

[2020-01-14 13:41] #34458 closed

[2020-01-14 13:51] Faless commented on #34469
This is documented in docs:
https://docs.godotengine.org/en/latest/classes/class_packetpeerudp.html#class-packetpeerudp-method-set-broadcast-enabled

Something we could also add to the release notes when 3.2 is out.
Closing, as this is no bug, and the documentation is already updated.

[2020-01-14 13:51] #34469 closed

[2020-01-14 13:52] vnen commented on #24684
@timoschwarzer I still don't see that as "critical". It's inconvenient. My point is more is that there's no simple fix and should be done after 3.2 is released so we don't risk introducing regressions this close to release.

[2020-01-14 13:54] akien-mga commented on #26470
Still reproducible in the current master branch.

For 4.0, maybe this API can be reviewed to be made clearer and easier to use?

[2020-01-14 13:57] tinmanjuggernaut commented on #22337
Thanks for the guidance, @JFonS.

If this is going to house all the noise classes, wouldn't the directory be better named `modules/noise` to match `thirdparty/noise`?

I don't know yet if the new version of OSN produces an identical result. I do know the author's FSN and SSN produce very different results.

[2020-01-14 13:57] KoBeWi commented on #35118
This is most likely because the cell data is stored in a `Map` and they are compared by reference not value, so cell data will always "differ" from default in the instanced scene.

Somewhat related to #29221

[2020-01-14 13:58] akien-mga commented on #26480
I tried the TileSet editor a bit in the current master branch, and while usability is still not the best, I don't really understand what problem is being described in this issue.

[2020-01-14 13:58] #26480 closed

[2020-01-14 14:07] akien-mga commented on #34469
@Calinou Can you add this to the changelog?

[2020-01-14 14:16] bruvzg commented on #34952
I do not see any code for freeing any iOS singletons at all (for most of the singletons it's done in the associated `unregister_...` function).

It's just saving pointer to the singleton, should not affect anything.

[2020-01-14 14:18] akien-mga commented on #26518
Still reproducible in the current master branch.

[2020-01-14 14:20] bruvzg commented on #34952
That's true for any modern OS, but it won't call destructors for not static objects (and Godot singletons are not static objects).

[2020-01-14 14:21] JFonS commented on #22337
Yes, I messed up copy-pasting, I meant `modules/noise`.

Ok, feel free to ask any other questions :)

[2020-01-14 14:22] akien-mga commented on #26544
I'll assume it fixed by #34910 for now, and if it isn't, it should be fixable by contributing the missing mappings to https://github.com/gabomdq/SDL_GameControllerDB.

Please comment if you can still reproduce the issue / need help to contribute mappings upstream if they're missing.

[2020-01-14 14:22] #26544 closed

[2020-01-14 14:22] akien-mga commented on #29894
I'll assume it fixed by #34910 for now, and if it isn't, it should be fixable by contributing the missing mappings to https://github.com/gabomdq/SDL_GameControllerDB.

Please comment if you can still reproduce the issue / need help to contribute mappings upstream if they're missing.

[2020-01-14 14:27] akien-mga commented on #26558
This seems to work fine in the current master branch.

[2020-01-14 14:27] #26558 closed

[2020-01-14 14:54] Faless commented on #22175
I haven't seen anything like this in a long time. Closing as we can't really investigate further, and no other user seems affected.

[2020-01-14 14:54] #22175 closed

[2020-01-14 14:59] Faless commented on #34635
Yes, a quick googling suggests IIS does not specify a mime type for `.wasm` files. It needs to be configured.
Closing as it's not a godot bug.

[2020-01-14 14:59] #34635 closed

[2020-01-14 15:10] nrcionline commented on #34635
I'm not convinced that's the only problem because it also complains about the .pck file and if I alter the path, then it finds the file. Even if it's not a "bug" - there needs to be documentation for how to configure a webserver so that it works without making assumptions. Hasn't anyone every testings godot with IIS?

[2020-01-14 15:13] neikeq commented on #35051
I cannot reproduce with the 1.21.9 of the C# addon on Linux. OmniSharp version is 1.34.9. Have you tried updating the extension? I'm going to try if I can reproduce on Windows.

[2020-01-14 15:21] nrcionline commented on #34635
In my system, I already have this defined:
.wasm application/wasm Local
and it doesn't work
So how should IIS be setup to handle .pck and .wasm files? I don't understand. Even if it's not a bug, can someone help?

[2020-01-14 15:24] clayjohn commented on #35107
@akien-mga when the ``interior`` flag is ``false`` sky contribution should be used.

[2020-01-14 15:27] nrcionline commented on #34635
If this isn't the right place to post this for some help, where should I post it?

[2020-01-14 15:33] Faless commented on #34635
@nrcionline the `.pck` is a binary file, so you can specify it as `application/octet-stream`.

[2020-01-14 15:35] asynts commented on #34555
I had a very similar issue; it can be reproduced as follows:

 1. Create an node or a tree of nodes where no script is attached to *any* node.
 2. Open the dialog to connect any signal for that node.
 2. Enter any method name.
 3. Double click on any node.

[Here is a video of me causing the crash](https://github.com/godotengine/godot/files/4059932/demo.zip)

---

I've diagnosed the problem as fol

[2020-01-14 15:38] Faless commented on #34635
For general support, you can try the official [Q&A](https://godotengine.org/qa/).
The official web export tutorial [also mention the mime-type](http://docs.godotengine.org/en/3.1/getting_started/workflow/export/exporting_for_web.html#serving-the-files) configuration.

[2020-01-14 15:41] nrcionline commented on #34635
I will try the Q&A, but after I added the .pck mime type, it get:
Unable to get property 'getParameter' of undefined or null reference

[2020-01-14 15:45] Calinou commented on #34469
@akien-mga Done.

[2020-01-14 15:49] MuktadaCreations commented on #35051
@neikeq  I tried downgrading upgrading nothing worked

[2020-01-14 15:50] Faless commented on #34635
Also please note that the multiplayer bomber demo will not work as expected in HTML5 exports (although it should load) because it uses a UDP connection, which is not supported by browsers. I'll add a line to explicitly mention that in the class documentation, though it's still mentioned in the [web export limitations](http://docs.godotengine.org/en/3.1/getting_started/workflow/export/exporting_for

[2020-01-14 16:04] chitalian commented on #24768
@fire Where is the API Documentation for SceneImporterGLTF?

[2020-01-14 16:15] Antokolos commented on #26167
Yes, without changing the target framework from v4.5 to v4.5.2 manually in the csproj file the project does not compile. Deletion of .mono/temp folder does not help either.

[2020-01-14 16:17] fire commented on #24768
It's still work in progress and not in 3.2, but I can show you this.

![image](https://user-images.githubusercontent.com/32321/72361385-44810a80-36a6-11ea-9a25-18bffc157723.png)

[2020-01-14 16:23] Faless commented on #22605
We might address this in `4.0` when/if we decide to refactor low level networking with breaking changes.

[2020-01-14 16:23] fire commented on #35066
The pull request was merged and so this issue is fixed.

[2020-01-14 16:23] #35066 closed

[2020-01-14 16:23] #34993 closed

[2020-01-14 16:25] fire commented on #27933
I wonder if https://github.com/godotengine/godot/pull/35113 fixes this bug.

[2020-01-14 16:38] Faless commented on #32810
Yeah, that's just a very old leftover.

[2020-01-14 16:54] dalexeev opened #35127 ""Marshalls" singleton has type Reference in @GlobalScope page"
**Godot version:**
v3.2.beta6.official

**Issue description:**
![200114-1](https://user-images.githubusercontent.com/47700418/72363322-b6d50780-3705-11ea-834d-6d639d99f172.png)

I tried changing this line, but nothing changed, which is a bit strange.

https://github.com/godotengine/godot/blob/1bafd2d2c8824570310e63686cfad42a879452a6/doc/classes/%40GlobalScope.xml#L48

Perhaps related: #35090

[2020-01-14 16:56] clayjohn commented on #35107
I can confirm this behaviour. However, I am uncertain whether it is a bug or a limitation in the implementation of GI Probes. I will take a look into it, but I think chances are this is something that won't be fixed for 3.2. 4.0 comes with an entirely new implementation of GI Probes.

[2020-01-14 17:03] Faless commented on #34083
This seems to have been due to server certificate misconfiguration. Closing as non-godot related.

[2020-01-14 17:03] #34083 closed

[2020-01-14 17:04] #18256 closed

[2020-01-14 17:09] Faless commented on #31873
Closing as fixed by the revert. The debugger will likely undergo some refactoring in `4.0` (adding to #33925, something I'd like to discuss at Godot Sprint).

[2020-01-14 17:09] #31873 closed

[2020-01-14 17:11] Calinou commented on #26637
@xfixium Can you reproduce this on [Godot 3.2 beta 6](https://godotengine.org/article/dev-snapshot-godot-3-2-beta-6)?

[2020-01-14 17:15] Calinou commented on #26625
As a side note, this is now handled automatically in GIProbe in the `vulkan` branch. GIProbeData will always be saved to an external `.res` file.

Anyway, I'll close this in favor of #33379.

[2020-01-14 17:15] #26625 closed

[2020-01-14 17:17] Calinou commented on #27083
Is there anything we can do to ease the loading of UTF-8 files with BOM?

[2020-01-14 17:21] Calinou commented on #26726
@qarmin Can you reproduce this on [Godot 3.2 beta6](https://godotengine.org/article/dev-snapshot-godot-3-2-beta-6)?

[2020-01-14 17:38] #35036 closed

[2020-01-14 17:43] akien-mga commented on #27933
That or my earlier PR fixing some UX issues would likely have solved it yes.

I'll close for now, please comment if you can still reproduce it in 3.2 RC 1 or later.

[2020-01-14 17:43] #27933 closed

[2020-01-14 17:57] xfixium commented on #26637
Looks like the problem still persists in 3.2 beta 6. I tried taking a crack at fixing it myself some time ago, but it takes my computer forever to compile Godot on my Window 7 machine.

There is a test project in my first post, you could use that to test? If this gets fixed, that would be great!

[2020-01-14 18:07] #32810 closed

[2020-01-14 18:09] Calinou commented on #26637
I can confirm this on commit https://github.com/godotengine/godot/commit/562bc1941d390f2897ef04992e2bcdfda616d7a6. When moving the cube by holding the left mouse button, the shadow disappears when moving the cube towards the left or right borders. This happens regardless of the Camera node's view distance.

[2020-01-14 18:13] kuroodo opened #35128 "Tween Slowdown After Signal"
**Godot version:**
3.2 Beta 6

**OS/device including version:**
Windows 10 pro 64 bit
GTX 1080 Driver version 441.20
i7-6700k
16GB Ram

**Issue description:**
Tween animation in 3.2 Beta 6 is slow compared to 3.2 Beta 5.
After a tween animation ends, then starting the same animation in the tween_all_completed() or tween_completed(object, key) signal, the animation does not begin until after a few

[2020-01-14 18:30] CarlGustavAlbertDwarfsteinYung commented on #27018
I can confirm only Normal works.

Note that Orthogonal doesn't work either in GLES2 editor viewport.  It just displays everything as clear color.

[2020-01-14 18:31] xfixium commented on #26637
Thanks for that information (work around)! I'll give that a go on my actual project.

[2020-01-14 18:38] qarmin commented on #26726
This happens to me a little more that month ago, so yes I still can reproduce this(with 3.2 alpha version), but this happens very very very rarely.

[2020-01-14 18:52] chitalian commented on #24768
@fire This looks awesome! I am so excited for this.

I will need to import GLTF models at runtime for a project. Would you say that functionality is currently at a usable state in your `scene_export_native_gltf` branch? Anything I should be aware of when building? I'd be happy to provide feedback if I am able to get this working.

[2020-01-14 18:58] qarmin commented on #25211
In some places there is a check `se != NULL` like in
https://github.com/godotengine/godot/blob/63112b5090e06239d3551caaf0d03adc990c71e6/editor/plugins/canvas_item_editor_plugin.cpp#L812-L816
and in other places there is no check, which cause crash
https://github.com/godotengine/godot/blob/63112b5090e06239d3551caaf0d03adc990c71e6/editor/plugins/canvas_item_editor_plugin.cpp#L933-L936

[2020-01-14 19:11] GreenMan36 commented on #29323
It should just ignore tiles outside the bounds of the tileset tough.

Would have fixed this wierd scaling issue. It is most certainly a bug since scaling shouldn't preserve data which doesn't exist.

[2020-01-14 19:25] lajox666 commented on #25969
Seems to work fine with inverted maps. Thanks for looking into this.

[2020-01-14 19:34] qarmin commented on #26726
I tested right now project https://github.com/qarmin/The-worst-Godot-test-project.git to get backtrace from another issue, and after ~15min I got crash with this error
[code]

[2020-01-14 19:54] akien-mga commented on #35128
This may be related to #35038, can you check if disabling `display/window/vsync/vsync_via_compositor` solves it?

[2020-01-14 20:08] hoontee commented on #35065
@Jakob-PB Does setting "Vertical sync" to "Use the 3D application setting" in the Nvidia control panel fix your issue?

[2020-01-14 21:02] fire commented on #24768
Please try and comment on your problems.

Remember that res:// is read only and user:// is writable.

[2020-01-14 21:39] neikeq commented on #35051
I cannot reproduce on Windows either. Any way, I'm closing this as the error suggests this is an issue with either OmniSharp or the VSCode extension. These are similar issues I found:

https://github.com/OmniSharp/omnisharp-vscode/issues/2815
https://github.com/OmniSharp/omnisharp-vscode/issues/3228

You could try doing what this comment says: https://github.com/OmniSharp/omnisharp-vscode/issues/3

[2020-01-14 21:39] #35051 closed

[2020-01-14 21:39] omenos commented on #34533
Just following up, I got some more info and a pointer from Red Hat. This is not an issue with the Red Hat tools, but with how scons is setting up the path to GCC. I don't know specifically how, as I'm not a scons user at all, but it appears that it is finding the correct GCC binaries to check for the version, but then using the /usr/bin/gcc binaries instead which do not share the same version and

[2020-01-14 21:40] chitalian commented on #24768
Thanks for your quick feedback!

Using your suggestion here:

I tried importing my own local gltf file using this [Box.glb](https://github.com/KhronosGroup/glTF-Sample-Models/blob/master/2.0/Box/glTF-Binary/Box.glb) sample to my `user://` dir.
I created an empty scene with a single Base Node class with the following code:
[code]
and I got this error
[code]

Is there anything else you would recomme

[2020-01-14 21:43] neikeq commented on #26167
@Antokolos have you tried installing that version of the .NET Framework? MSBuild on Windows does not use Mono's framework when resolving assemblies (not even the MSBuild version Mono ships). So you need to install the .NET Framework.

[2020-01-14 21:44] albinaask opened #35135 "Incorrect runresolution when windows setting scale not at 100%"
**Godot version:**
3.2beta6
**OS/device including version:**
Windows 10
**Issue description:**
When you change the scale parameter (just on to of screen resolution) in windows settings, the launchable runs in full screen at different resolution than the acual screen resolution.

A high monitor resolution causes one to up the scale to retain size of OS features, however the resolution of the launch

[2020-01-14 22:08] akien-mga commented on #34533
You can probably work it around with `scons-3 platform=x11 tools=yes deprecated=no bits=64 target=release_debug CXX=$CXX CC=$CC` (check that `CXX` and `CC` are properly defined by DTS, but given the version check that passes for GCC 9, it seems to be).

[2020-01-14 22:15] Shadowblitz16 opened #35136 "Some bugs I have found with the godot gui"
**Godot version:**
v3.1.2
**OS/device including version:**
Windows 10 Pro education 64 bit

**Issue(s) description:**
- Selecting the SubBtn and AddBtn nodes and pressing left makes the root node steal the focus when it is not a focus neighbor.
- When I press left or right when SubBtn and AddBtn node is focused it doesn't simulate a press with SubBtn and AddBtn event though I grab the focus and se

[2020-01-14 22:15] Jakob-PB commented on #35065
@hoontee For me vsync was already set to "Use the 3D application setting" in the Nvidia control panel.

I tested the other vsync settings and both "on" and "adaptive" seem to help the issue while Vsync Via Compositor is on although there is a performance impact (I'm at around ~122FPS or ~8ms in an empty scene so I'm losing about 20 frames/1 millisecond to something). I disconnected my second monit

[2020-01-14 22:17] sanchopanca commented on #18411
My 2c. In Python nothing prevents anybody to access class members that start with `_`, and with some internal knowledge with `__` either.

It is all about showing intent. The philosophy is that we are all adults, we can make the decision whether we really need to access supposedly private variables or functions. And if we do do that, we are on our own to deal with the consequences.

[2020-01-14 22:19] hoontee commented on #35065
@Jakob-PB Just to be clear, what settings are causing you to get halved framerate when _vsync_via_compositor_ is enabled?

[2020-01-14 22:21] Jakob-PB commented on #35065
- Use the 3D application setting
- Off
- Adaptive (half refresh rate)
- Fast

[2020-01-14 22:29] fire commented on #24768
Update your branch and use:

[code]

[2020-01-14 22:37] j-mckim opened #35137 "Godot Project Manager segfaults when moving it to another display"
**Godot version:**
3.1.2
**OS/device including version:**
Mac OS X 10.15.2 (19C57)
**Issue description:**
The Godot application fails with a segfault after I try to move (drag) its GUI window from one display to another.

This fault doesn't always happen. Roughly, 10% of the time there is no fault; it works.
When it fails, I first see the spinning pinwheel of death for 30 seconds or so before bein

[2020-01-14 22:37] hoontee commented on #35065
@Jakob-PB I've made a few fixes to the PR. Replace **platform/windows/context_gl_windows.cpp** with this file and recompile:
[context_gl_windows.zip](https://github.com/godotengine/godot/files/4061916/context_gl_windows.zip)

It will also now tell you in the console if it detects any discrepancies with the graphics driver ("VSYNC FORCED ON", "VSYNC FORCED OFF", "VSYNC FORCED OTHER"). Use this to a

[2020-01-14 22:49] kuroodo commented on #35128
I can confirm that disabling vsync_via_compositor solves the issue

[2020-01-14 22:50] akien-mga commented on #35128
Thanks, it's a duplicate of #35038. Most likely the slowdown you noticed is due to your framerate being halved.

[2020-01-14 22:50] #35128 closed

[2020-01-14 22:54] omenos commented on #34533
The SCL's define themselves through an `enable` script found at /opt/rh/devtoolset-X/enable. For devtoolset-9, that's as follows:

[code]
So `CC` and `CXX` aren't being defined up front. Using the following does work as expected, however using $(which gXX) in place of the full path does not work as the SCL environment hasn't been activated yet, so it'll use the system compiler:

[code]

I find it

[2020-01-14 22:54] akien-mga commented on #26600
It's not clear what we can do for this issue, but I haven't seen other similar reports so it must have been quite specific.

I'll close for now. If you can still reproduce this issue in latest 3.2 builds, you can retrieve logs since the last boot with `adb logcat`, which should include any Godot crash that happened in between.

[2020-01-14 22:54] #26600 closed

[2020-01-14 22:56] akien-mga commented on #26610
Is it still reproducible with the latest 3.2 builds?

[2020-01-14 22:57] akien-mga commented on #26627
I'll close as several of the points listed here have been fixed.

If some points are still relevant, please open new issues to track them separately.

[2020-01-14 22:57] #26627 closed

[2020-01-14 22:58] rcorre commented on #27790
I was going to file a separate issue, but I think it is close enough to this to post here.
I've got a repro of this even with the ViewPort ordered before the texture, and it seems to be blocking parts of the editor UI.

**Godot version:**

3.1.2.stable.custom_build

**OS/device including version:**

Linux 5.4.10-arch1-1

**Issue description:**
![1579042016](https://user-images.githubusercontent.co

[2020-01-14 23:00] akien-mga commented on #26924
I'll close for now as there have been countless fixes for GLES2 on Android for 3.2.

If you can still reproduce this or a similar issue on those devices, please open a new issue (potentially referring to this one if related).

[2020-01-14 23:01] Jakob-PB commented on #35065
@hoontee Recompiled and I'm seeing the same performance results I reported on earlier.

Not sure if this is useful information but I retested with all Nvidia vsync settings and I could never get VSYNC FORCED OFF to show up (I would assume it would show up when I force vsync off in the control panel). However, VSYNC FORCED ON and VSYNC FORCED OTHER showed up as expected for vsync set to `On` and `A

[2020-01-14 23:02] akien-mga commented on #26884
The stacktrace involves `EditorResourcePreview`, so this was likely fixed by #35113.

[2020-01-14 23:02] #26884 closed

[2020-01-14 23:04] akien-mga commented on #26683
A minimal project that reproduces the issue would be very helpful.

[2020-01-14 23:05] akien-mga commented on #26686
@Cygon Is this issue still reproducible with latest 3.2 builds?

[2020-01-14 23:09] akien-mga commented on #29522
Bug in the script:
[code]

That's a duplicate of #26691.

[2020-01-14 23:09] #29522 closed

[2020-01-14 23:12] akien-mga commented on #26691
Still reproducible in the current master branch. There's a third error in the terminal, and only the `debug_get_stack_level_instance` one appears in Output.
[code]

Relevant debug info on the third error from @bojidar-bg on #29522: https://github.com/godotengine/godot/issues/29522#issuecomment-499918778

[2020-01-14 23:18] GeorgeS2019 commented on #30558
can someone assign this to milestone 4.0?

[2020-01-14 23:18] hoontee commented on #35065
@Jakob-PB I'm perplexed.

For both of the devices I've tested (AMD & Nvidia), halved framerate only occurred when vsync was forced (On or Adaptive) in the graphics driver settings. The PR fixed it for both devices.
For you, halved framerate occurred in every situation *except* when vsync was forced (On or Adaptive) in the graphics driver settings. The PR did nothing.

The only thing that makes sen

[2020-01-14 23:20] GeorgeS2019 commented on #17985
can someone either close this or assign this to milestone 4.0 just like [this](https://github.com/godotengine/godot/issues/20271) and [this](https://github.com/godotengine/godot/issues/19320)?

[2020-01-14 23:21] GeorgeS2019 commented on #9214
can someone assign this to milestone 4.0 just like [this](https://github.com/godotengine/godot/issues/20271) and [this](https://github.com/godotengine/godot/issues/19320)?

[2020-01-14 23:22] GeorgeS2019 commented on #7503
can someone assign this to milestone 4.0 just like [this](https://github.com/godotengine/godot/issues/20271) and [this](https://github.com/godotengine/godot/issues/19320)?

[2020-01-14 23:23] fire commented on #24768
At https://github.com/fire/godot/commit/f00f49cf05c39db0d985e4327594bb10d5547ca4

Api changed to:

[code]

[2020-01-14 23:24] rcorre commented on #27790
Digging further, the issue in mine seems to be that `loadout.gd` `preload`'s a scene that has a ViewPort texture. If I remove the `preload`, my errors go away. Haven't been able to minimize it though.

[2020-01-14 23:25] GeorgeS2019 commented on #21924
can someone either close this OR assign this to milestone 4.0 just like [this](https://github.com/godotengine/godot/issues/20271) and [this](https://github.com/godotengine/godot/issues/19320)?

[2020-01-14 23:27] GeorgeS2019 commented on #14442
Can someone either close this OR assign this to milestone 4.0 just like [this](https://github.com/godotengine/godot/issues/20271) and [this](https://github.com/godotengine/godot/issues/19320)?

[2020-01-14 23:29] GeorgeS2019 commented on #8770
Can someone either close this OR assign this to milestone 4.0 just like [this](https://github.com/godotengine/godot/issues/20271) and [this](https://github.com/godotengine/godot/issues/19320)?

[2020-01-14 23:30] akien-mga commented on #26759
Is this still reproducible in the current 3.2 builds?

[2020-01-14 23:32] YeldhamDev commented on #33422
Maybe the new behaviour should be documented?

[2020-01-14 23:33] GeorgeS2019 commented on #20271
Is this [proposal ](https://github.com/godotengine/godot-proposals/issues/339)to be included in 4.0 milestone?

[2020-01-14 23:34] akien-mga commented on #26800
Still reproducible in the current master branch.

[2020-01-14 23:40] GeorgeS2019 commented on #30613
Please see the option for [.NET Deep Learning](https://github.com/SciSharp/SciSharp-Stack-Examples) for Godot use cases

[2020-01-14 23:42] akien-mga commented on #26832
This has been fixed a while ago.

[2020-01-14 23:42] #26832 closed

[2020-01-14 23:43] akien-mga commented on #26870
Duplicate of #29238.

[2020-01-14 23:43] #26870 closed

[2020-01-14 23:44] akien-mga commented on #26877
Is this still reproducible in the latest 3.2 builds?

[2020-01-14 23:45] akien-mga commented on #26878
No idea yet, sorry

Any update on how to reproduce this crash? Otherwise it's going to be tricky to debug, unless the stacktrace is enough to spot an obvious bug.

[2020-01-14 23:47] akien-mga commented on #34929
Down to 267 issues in the 3.2 milestone today :)

Thanks to all contributors going through the issues to test their validity or assess whether they're critical or easily fixable for 3.2.

Still a bunch to go, but we're on the right track :)

[2020-01-14 23:48] Jakob-PB commented on #35065
@hoontee Just went through the settings and looks like everything is default except "Monitor Technology" is set to "Fixed Refresh" instead of "Gsync Compatible". I restored all the Nvidia settings to default just to be sure and after a restart I'm still seeing the same behavior.

I'm on driver version 441.87 (the latest of the game ready edition) and Windows version 1903. Perhaps something changed

[2020-01-14 23:51] GeorgeS2019 commented on #30558
There may be need to update godot doc related to this [issue ](https://github.com/godotengine/godot-docs/issues/2860)in 4.0

[2020-01-15 00:12] willnationsdev commented on #30179
Should this be something that is handled on the ScriptInstance level in core, or maybe on the GDScriptInstance/etc. Level in each module?

[2020-01-15 00:13] Jakob-PB commented on #35065
@hoontee By the way, (just to be sure we're not testing different things) I am strictly talking about editor viewport performance being halved. The frame rate of the running game is locked at 144Hz for me with Vsync Via Compositor on, so from that perspective it works perfectly. Is there a difference in how the engine handles vsync for the editor vs game builds?

[2020-01-15 00:20] hoontee commented on #35065
@Jakob-PB Every time you modify a graphics driver setting, you must restart the editor to see the changes in effect. Have you been doing that?

And there's no difference between the editor and game builds from what I've noticed.

[2020-01-15 00:23] Jakob-PB commented on #35065
@hoontee Yeah I've been restarting the editor for all of this testing.

[2020-01-15 00:25] hoontee commented on #35065
@Jakob-PB Dumb question, but you're testing the game in windowed mode, correct?

If you are, I honestly have no idea where to look next.

[2020-01-15 00:27] Xrayez commented on #30179
I don't see why this should be specific to GDScript since the behavior is present in core by default.

[2020-01-15 00:31] Jakob-PB commented on #35065
@hoontee Yep, game builds are running windowed. 🙁

[2020-01-15 00:41] ipeerbhai opened #35139 "Using Websocket and HTTPRequest together causes HTTPRequest to not connect"
I have a small app I've written that uses both the HTTPRequest node and a WebSocketClient to communicate with a custom server.  I've tested this to repro with Godot 3.1.2 stable.

The websocket and the HTTPRequest are in separate .gd files, and each is attached to a node like this:
/root/Player/HTTPRequest
/root/RTC

Both nodes work correctly individually.
When the "RTC" node makes a websocket con

[2020-01-15 00:50] clayjohn commented on #28927
You need tangents in order to use anisotropy. Without them the sphere fails to render correctly, I will update the docs to explain that.

[2020-01-15 01:10] willnationsdev commented on #30179
@Xrayez

I meant I wasn't sure if this was supposed to be handled in the setter for each language, so that the language can check if it extends Resource, or if it should be handled in the core in object.cpp's master set method. Probably the latter

[2020-01-15 01:21] hoontee commented on #35065
@Jakob-PB (For context, my laptop outputs at 120Hz.)
I just checked and I can confirm that:
- Editor framerate gets reduced to ~100 FPS (not halved) when _vsync_via_compositor_ is enabled.
- The reduction does not occur in games.

This is not what the PR is meant to fix. This issue appears to be a separate bug related specifically to performance degradation from enabling _vsync_via_compositor_.

S

[2020-01-15 01:36] hoontee commented on #35065
@clayjohn Can you reopen this issue? It ended up not being a duplicate of #35111.

[2020-01-15 02:34] TerminalJack commented on #35065
The reduction in framerate from 120 FPS to 100 FPS is likely due to the fact that `DwmFlush()`, which is used when `vsync_via_compositor` is enabled, will always block while waiting for the vertical blank period.  On the other hand, `SwapBuffers()` with a swap interval of 1 (the ideal way to achieve vertical sync), doesn't necessarily have to block and wait for the vertical blank period  In this c

[2020-01-15 02:44] clayjohn commented on #33007
I can't reproduce the crash on master.

[2020-01-15 02:56] sunnystormy commented on #29576
@akien-mga I will try reproducing this over the weekend. Unfortunately, school just started again, so my weekdays are quite busy. Thank you!

[2020-01-15 03:14] HEAVYPOLY commented on #35049
Confirming here on Samsung Note 9, happens with Pen or touch

[2020-01-15 03:53] zaksnet opened #35141 "yield does not work if signal is emitted in the same frame"
**Godot version:**
Custom build from 8d15d2323

**OS/device including version:**
Windows 10, Linux MX

**Issue description:**
I will explain this as i understand it:
[code]
In the above example, if the `list` variable is not empty AND processing the list takes more than one frame (to my understanding) then `yield` will capture the signal and continue. Otherwise, if the list is empty and the `for l

[2020-01-15 04:36] DmDerbin commented on #34265
var list = []
func myFunc1():
	call_deferred("myFunc2")
	yield(self, "processing_completed")
	print("222")

func myFunc2():
	print("111")
	for key in list:
		print("list item")
	emit_signal("processing_completed")

[2020-01-15 05:01] DmDerbin commented on #35141
var list = []
func myFunc1():
	call_deferred("myFunc2")
	yield(self, "processing_completed")
	print("2")

func myFunc2():
	print("1")
	for key in list:
		print("list item")
	emit_signal("processing_completed")

[2020-01-15 05:18] clayjohn commented on #26800
Looks like 3D textures are supported on desktop, but not on mobile (unless  [GL_OES_texture_3D](https://www.khronos.org/registry/OpenGL/extensions/OES/OES_texture_3D.txt) is used) and not on webgl. On mobile 3d textures are in spec, but are optional.

On desktop array_texture support is pretty common with [GL_EXT_texture_array](https://www.khronos.org/registry/OpenGL/extensions/EXT/EXT_texture_arr

[2020-01-15 05:28] dalexeev commented on #18411
@sanchopanca
1. GDScript is not Python.
2. Following your logic, constants are also not needed (var CONSTANT = 1).
3. Not everyone likes to use `__`.

[2020-01-15 05:40] DmDerbin commented on #35141
It seems to me that this combination should give the desired result.
[code]

[2020-01-15 05:44] zaksnet commented on #35141
Yes indeed, that is pretty much the same idea as:
[code]
That is the reason i created the issue.

[2020-01-15 05:49] DmDerbin commented on #35141
In my case it should not be sensitive to whether there is something in the list or not.
---
I don’t think this is a bug, so most likely the issue will be closed.

[2020-01-15 05:56] zaksnet commented on #35141
The expectation i had was for `yield` to continue when the signal is emitted **regardless** of the circumstances. Otherwise i could not have prevented and error in the game without knowing the info i issued. So it is either a bug **OR** if this is expected behavior it should be documented.

[2020-01-15 06:02] DmDerbin commented on #35141
Yes it is. It should continue, but there is one nuance =)
when entering the function, yield will not be executed, which is why the signal is not caught

[2020-01-15 06:34] somnivore commented on #35141
This is not a bug, it is working as expected.  You should yield for the function instead of a signal, if you want to wait for the function to complete:

[code]

Godot will soon have the `await` keyword to simplify that down to `await maybe_async()`.

[2020-01-15 07:49] timothyqiu commented on #29039
`ERR_FILE_ALREADY_IN_USE` does not seem to be about "can't open an exclusively locked file". It's more like "there is already something in use", some examples:

https://github.com/godotengine/godot/blob/6e8eb0d98dea1f77a8ec199fe04ba5a44e88faee/modules/mono/mono_gd/gd_mono_assembly.cpp#L306-L308

https://github.com/godotengine/godot/blob/0b806ee0fc9097fa7bda7ac0109191c9c5e0a1ac/drivers/mpc/audio_st

[2020-01-15 08:14] akien-mga commented on #26824
Confirmed in the current master branch.

Note for testers, follow the steps to reproduce thoroughly to see the issue. I initially thought that the bug was fixed since the script variables in the remote scene tree for the Autoload seemed to be exposed OK. But indeed after restarting the editor, the scene used as singleton has lost its script variables in the inspector.

[2020-01-15 08:19] akien-mga commented on #26759
Tested on two devices and it seems to work fine for me:
- Xiaomi Pocophone F1, Android 9, GLES3
- Samsung Galaxy S3, Android 7.1.2, GLES2

I'll assume it was fixed in 3.2. Please comment if you can still reproduce the issue, and attach a project that triggers it.

[2020-01-15 08:19] #26759 closed

[2020-01-15 08:21] akien-mga commented on #26933
Is this still reproducible in the latest 3.2 builds?

If so, can you attach a project that triggers the issue?

[2020-01-15 08:28] akien-mga commented on #27919
Tested in the current master branch (bab91bd943aa5a23bab871e58e9640536cc67b34) on two devices:

- Samsung Galaxy S3 (old, GLES2): the polygon character with Skeleton2D is not displayed at all.
- Xiaomi Pocophone F1 (recent):
  * GLES2: Works fine.
  * GLES3: Same as OP, the character with Skeleton2D appears darker than the other one.

So the bug in OP is GLES3-specific, but old GLES2 devices have

[2020-01-15 08:31] qarmin commented on #33007
I can reproduce crash on
Ubuntu 19.10 Nvidia GTX 970 drivers 435.21
Windows 10 Nvidia NVS 310 drivers 392.58

[2020-01-15 08:32] Chaosus commented on #25009
https://github.com/godotengine/godot/pull/35129#issuecomment-574543635

This issue is not easy to fix since any change to that system may break existed user shaders in an unobvious manner. Fixing this issue should be done in 4.0.

[2020-01-15 08:39] akien-mga opened #35143 "Skeleton2D not supported on devices with GL_MAX_VERTEX_TEXTURE_IMAGE_UNITS == 0, should replace texture2DLod by software logic (like for 3D) [GLES2]"
**Godot version:**
3.2 master (bab91bd943aa5a23bab871e58e9640536cc67b34)

**OS/device including version:**
Samsung Galaxy S3, Mali 400: http://opengles.gpuinfo.org/displayreport.php?id=3407
Old GLES2-only device, running LineageOS 14 (Android 7.1.2).

**Issue description:**
Follow-up to GLES3 issue in similar configuration (#27919).

On the above described device, the Polygon2D character with text

[2020-01-15 08:56] akien-mga commented on #35143
The error is surprising as it happens in the vertex shader, where `texture2DLod` should be available as per the GLSL ES 1.00 specification (page 87): https://www.khronos.org/files/opengles_shading_language.pdf

Might be a driver bug? I'll see if I can find any reference to `textureLod` being missing from Mali 400 drivers.

[2020-01-15 09:02] akien-mga commented on #35143
The funny thing is that the Mali-400 MP I have has support for [`GL_EXT_shader_texture_lod`](https://www.khronos.org/registry/OpenGL/extensions/EXT/EXT_shader_texture_lod.txt), which adds `texture2DLodEXT` in fragment shaders to complement the `texture2DLod` of the vertex shader...

[2020-01-15 09:16] akien-mga commented on #35143
See https://stackoverflow.com/a/14503063 - my device has `GL_MAX_VERTEX_TEXTURE_IMAGE_UNITS` set to `0`, which means no texture access allowed at all in the vertex shader.

So we need to check that and disable/work around the relevant code path.

It's probably not worth to spend too much effort for such old devices, so I'd suggest to just add a validation, print an error if texture access in verte

[2020-01-15 09:44] akien-mga commented on #35143
Looks like we already check for this capability in 3D, and we have `USE_SKELETON_SOFTWARE` in `scene.glsl`:
https://github.com/godotengine/godot/blob/bab91bd943aa5a23bab871e58e9640536cc67b34/drivers/gles2/rasterizer_storage_gles2.cpp#L5976-L5978

The same logic needs to be ported to `canvas.glsl` / `rasterizer_canvas_gles2.cpp`.

I started looking into it for `canvas.glsl`, but modifying `rasteriz

[2020-01-15 09:46] AndHalfAFish opened #35146 "'Recent' panel in 'Create new node' popup is never cleared."
**Godot version:**
3.2beta4

**OS/device including version:**
Windows 10

**Issue description:**
'Recent' panel in 'Create new node' popup is never cleared, which makes it useless.

**Steps to reproduce:**
In the scene tab > add new node > 'create new node' popup > add a node
Repeat a couple of times.
When Godot is restarted, all those nodes are still present in 'recent'. They should have been cle

[2020-01-15 09:51] akien-mga commented on #35146
Why does it make it useless?

The point is that it lists what nodes you last use, regardless of the session.
All software does that with their "Recent files" features.

[2020-01-15 09:57] akien-mga commented on #26964
Can't reproduce it either in the current master branch (bab91bd94) on Linux.
Might be due to Windows file access locking files?

[2020-01-15 10:00] akien-mga commented on #30559
Duplicate of #26964.

[2020-01-15 10:00] #30559 closed

[2020-01-15 10:03] akien-mga commented on #26968
Closing as duplicate of #12592 then, it's not directly related to snapping but only to input handling when alt-tabbing.

[2020-01-15 10:03] #26968 closed

[2020-01-15 10:04] tinmanjuggernaut commented on #22337
I've uploaded a nearly complete implementation of FastNoise. I have a couples things I'd like help with.

Cellular noise allows for a recursive lookup by providing an additional FastNoise lookup. It works and provides an interesting result. Here is small cellular noise on top of big cellular noise. On the right you can see both FastNoise objects.

![image](https://pbs.twimg.com/media/EORbOUVVAAECY

[2020-01-15 10:05] akien-mga commented on #26983
Doesn't seem reproducible in the current master branch, it must have been fixed since then.

[2020-01-15 10:05] #26983 closed

[2020-01-15 10:06] akien-mga commented on #27030
Is this still reproducible in latest 3.2 builds?

[2020-01-15 10:09] Xrayez commented on #26683
Changing audio buses works both in editor and in-game (this might have been fixed already). As noticed by @Ranoller, it seems like the cached resource is being reloaded despite making changes to the bus.

1. Go to Audio, delete the `Reverb` bus.
2. <kbd>Ctrl</kbd> + <kbd>S</kbd> to save.
3. Load the `default_bus_layout.tres` via the FileSystem dock.
4. Notice the bus is there again with the same e

[2020-01-15 10:11] akien-mga commented on #27092
Duplicate of #24220.

[2020-01-15 10:11] #27092 closed

[2020-01-15 10:15] akien-mga commented on #27096
Duplicate of #27468.

[2020-01-15 10:15] #27096 closed

[2020-01-15 10:17] groud commented on #35136
Thanks for the report. Could you please open a separate issue for each of the issues, so that they can be reviewed one by one ?

[2020-01-15 10:17] akien-mga commented on #27101
Seems fixed in the master branch, it does not crash.

I can still reproduce the crash in 3.1.2, it seems the issue was fixed by updates to the thirdparty xatlas library.

[2020-01-15 10:17] #27101 closed

[2020-01-15 10:20] akien-mga commented on #27119
Doesn't seem to crash in the current master branch with this code:
[code]

Instead it raises this error:
[code]

I'll close for now as there is no more involved reproduction project to test against, but if you can still reproduce it and attach a project, please reopen :)

[2020-01-15 10:21] akien-mga commented on #27124
Is this still reproducible in the current master branch / 3.2 builds?

[2020-01-15 10:22] AndHalfAFish commented on #35146
If it's never cleared, it just becomes identical to the main list.
The behavior I expect is : no clearing during 1 session , clearing after I restart Godot. I think this is what the behaviour used to be in previous versions of Godot.

[2020-01-15 10:27] akien-mga commented on #35146
It should be ordered by reverse chronological order (last used nodes come first), so it's not the same as the main list.

But it should likely be limited to ~10-15 entries or so, removing the older ones as new ones come in.

[2020-01-15 10:30] akien-mga commented on #27143
Closing as it's tracked in #8770 already.

[2020-01-15 10:30] #27143 closed

[2020-01-15 10:31] Zireael07 commented on #27124
The disk failed and I no longer have Godot installed, so I can't check.
Most likely it was some sort of a race condition or something to do with disk speed. Closing as it was probably my computer's fault and not Godot's.

[2020-01-15 10:31] #27124 closed

[2020-01-15 10:31] akien-mga commented on #8770
Since this was never finished (despite @StraToN's best intentions :)) and is current either not implemented or not thorough tested on all platforms, I suggest to drop this API in 4.0.

We can then consider reimplementing it either for 4.0 or for a later release, taking the time to ensure that most platforms have good support before merging.

[2020-01-15 10:33] akien-mga commented on #27157
I'll close for now as it seems the initial issue was a misunderstanding.

If this is still valid, might be worth opening a new issue about it.

[2020-01-15 10:33] #27157 closed

[2020-01-15 10:37] blockspacer commented on #31630
@ThirtyTwo-32

1.

Need to decide how you want to reload C++ module in editor UI (refresh button?), game UI (refresh button?), console (command?) or network (localhost/remote), ...

I propose UI window where C++ modules can make changes (like add button to refresh module subsystem, create entry in top menu, etc).

**Can C++ module extend godot editor** that way? Any links will be usefull.

Note th

[2020-01-15 10:38] akien-mga commented on #27169
Seems fixed in the current master branch, the PlayerNew scene looks the same both in editor and in-game.

[2020-01-15 10:38] #27169 closed

[2020-01-15 10:38] akien-mga commented on #27175
Is this still reproducible in the current master branch / 3.2 builds?

[2020-01-15 10:41] akien-mga commented on #27185
@neikeq Sounds like it should be an easy fix?

[2020-01-15 10:45] xix-xeaon opened #35149 "Shader language "Only integer constants are allowed as index at the moment""
**Issue description:**
Couldn't find an issue about this, seems like part of the implementation left undone and forgotten.

I was trying to implement an alpha dissolve (discard some pixels instead of blending) with the thresholds in a _mat4_ (for a simple 4x4 dissolve) and pixel coordinates mod 4, but I got the error "Only integer constants are allowed as index at the moment". Same for vectors.

I

[2020-01-15 11:00] akien-mga opened #35151 "Mono: Unsafe reference reports for Reference and EditorExportPlugin objects"
**Godot version:**
3.2 master (bab91bd)

**OS/device including version:**
Linux

**Issue description:**
Since the addition of more debugging output in a6a5ef0, I often see reports about unsafe references for Reference and EditorExportPlugin objects:
[code]

**Steps to reproduce:**

- Create new C# project
- Create scene of any type, add C# script, edit it with something trivial
- Build the solutio

[2020-01-15 11:03] akien-mga commented on #27186
It doesn't seem to be a bug to me. The `collision/safe_margin` is specifically designed to avoid this issue, so if you set a margin too low, you run into it. With a too low margin, the body will *enter* the collision shape slightly, and be ejected out at the next frame, hence the physics "jitter" seen here.

[2020-01-15 11:03] #27186 closed

[2020-01-15 11:04] akien-mga commented on #27217
As per above comment, it doesn't seem to be memory leaks, just thread-specific memory.

[2020-01-15 11:04] #27217 closed

[2020-01-15 11:07] akien-mga commented on #27245
Seems fixed in the current master branch.

[2020-01-15 11:07] #27245 closed

[2020-01-15 11:09] akien-mga commented on #27257
Is this still reproducible in current 3.2 builds?

Note that this issue should stay about possible cycle resource inclusion for `.cs` files.

If you experience it with different kinds of files (e.g. `.png` files, which I've seen every now and then without clear explanations), please open another issue.

[2020-01-15 11:11] xix-xeaon opened #35152 "Shader language GLES2 type issue with mod"
**Godot version:**
Godot_v3.2-beta6_x11.64

**OS/device including version:**
Kubuntu 19.10

**Issue description:**
Running the code below (the second line) with GLES2 gives the following error in the output tab, the shader editor is unaware, and there some glitch drawing. Wrapping the expression in an int() works around it. It works in GLES3.
[code]

**Steps to reproduce:**
[code]

[2020-01-15 11:14] akien-mga commented on #27262
Can you still reproduce the issue in the current master branch / 3.2 builds?

I've tried with both `master`, `3.1` and `3.1-stable` and can't get it to crash on Linux.

[2020-01-15 11:18] akien-mga commented on #27306
I can't reproduce the issue in any Godot version that I tried: `master` HEAD, `3.1` HEAD, `3.1-stable`, on Linux.

Can you still reproduce it?

[2020-01-15 11:20] akien-mga commented on #27312
Is this still reproducible in the latest 3.2 builds?

CC @Calinou @timothyqiu

[2020-01-15 11:24] akien-mga commented on #27285
Still reproducible in the current master branch.
[code]

[2020-01-15 11:28] akien-mga commented on #27333
I tried with the steps to reproduce in OP and it doesn't seem to lag much, if at all, in the current master branch.

Does anyone have a more heavy project to test against?

[2020-01-15 11:29] akien-mga commented on #27362
Is this still reproducible in the latest 3.2 builds?

[2020-01-15 11:35] akien-mga commented on #27386
@firebelley Can you still reproduce it in latest 3.2 builds?
If so, can you provide a project that triggers it?

[2020-01-15 11:35] akien-mga commented on #27397
No answer, so closing.

[2020-01-15 11:35] #27397 closed

[2020-01-15 11:36] malbach commented on #35085
confirmed here, build [6e8eb0d ](https://github.com/godotengine/godot/commit/6e8eb0d98dea1f77a8ec199fe04ba5a44e88faee) on Win10
even weirder, when you do it like this :
 - add a scrollcontainer, size 200 x 200
 - add a panel inside, min size 250 x 250
 - uncheck one of the scroll (let's say horizontal)
    the scrollcontainer extends itself to the size of its child, the x size of the scrollcontain

[2020-01-15 11:38] akien-mga commented on #27446
Is this still reproducible in the current master branch?

[2020-01-15 11:46] akien-mga commented on #27459
I've tried to reproduce the issue but I'm not 100% sure that I understood how to do it. Everything seems to play back the same regardless of the step for me.

Could you provide an example project if it's still reproducible in latest 3.2 builds?

[2020-01-15 11:49] Asedi commented on #26933
Unfortunately my project is gone propably and I’m using IOS now so can’t help with it.

[2020-01-15 11:50] AndHalfAFish commented on #35146
Yes. That would be an option too.
That, or just a simple clear.

[2020-01-15 11:53] akien-mga commented on #27501
I can confirm the issue in 3.1.2-stable, but it seems fixed in the master branch (3da2160233).

Probably fixed by #34340.

[2020-01-15 11:53] #27501 closed

[2020-01-15 11:55] qarmin commented on #27446
Since that time I didn't had any similar issues, but I'm not sure if this was fixed or not.
I will reopen issue if I will see similar error message.

[2020-01-15 11:55] #27446 closed

[2020-01-15 11:56] akien-mga commented on #27575
Yes. `export var Test : PoolRealArray = [10,0,0,0]` fails but the above works.

[2020-01-15 12:01] Torguen commented on #27257
I continue to experience this error (3.2 beta 6 mono).
It happens when I edit the code of my .cs file and save the file, then when I activate the Godot window, the message appears:
![1](https://user-images.githubusercontent.com/19652075/72432359-221aea00-3797-11ea-9d8b-73443d343ddd.png)

[2020-01-15 12:02] akien-mga commented on #27580
Confirmed in the current master branch.

[2020-01-15 12:03] akien-mga commented on #27582
Still reproducible in the current master branch (3da2160).
[code]

[2020-01-15 12:04] akien-mga commented on #27646
Is this still reproducible in the latest 3.2 builds?

If so, could you provide a project that reproduces it?

[2020-01-15 12:07] akien-mga commented on #27684
Still seems to be reproducible in the current master branch.

[2020-01-15 12:09] akien-mga commented on #27830
Is this still reproducible in latest 3.2 builds?

[2020-01-15 12:10] akien-mga commented on #27884
Is this still reproducible in latest 3.2 builds?

[2020-01-15 12:21] willnationsdev commented on #27333
Could probably write a quick EditorScript that saves a new GDScript script class in a loop. Make, like, 1000.

[2020-01-15 12:32] akien-mga commented on #28007
Is this still reproducible in the current master branch? Doesn't seem to crash for me. (I had to remove some empty files from the project which tripped the import system though.)

[2020-01-15 12:34] zaksnet commented on #35141
I'v move away from yield for now and using states for more control. Even if this is a bug or expected behavior i understand that it is not worth bothering with it at this point if await is going to be implemented so i'm closing it.

[2020-01-15 12:34] #35141 closed

[2020-01-15 12:37] akien-mga commented on #28015
Closing for now, the issue seems due to the user's system configuration and not Godot itself.

[2020-01-15 12:37] #28015 closed

[2020-01-15 12:38] akien-mga commented on #28018
Seems fixed in the current master branch. It stays ticked as "Advanced".

[2020-01-15 12:38] #28018 closed

[2020-01-15 12:40] akien-mga commented on #28048
Closing as it's working properly as per above comments.

[2020-01-15 12:40] #28048 closed

[2020-01-15 12:43] akien-mga commented on #28103
Seems to work fine in the current master branch.

[2020-01-15 12:43] #28103 closed

[2020-01-15 12:46] akien-mga commented on #28133
Duplicate of #26390.

[2020-01-15 12:46] #28133 closed

[2020-01-15 12:46] akien-mga commented on #26390
See also #28133 for a slightly different way to reproduce this issue.

[2020-01-15 12:55] akien-mga commented on #28151
The issue in the OP seems fixed by #29262. The editor will now always ensure that the file ends with a newline, so you can't have a line of code being the last line anyway. Still, even using "Step Into" to reach the last line, it displays member variables fine now in the master branch.

As for the issue with the last line of indented blocks, it behaves as if it already returned to the outer scope

[2020-01-15 12:55] #28151 closed

[2020-01-15 12:58] akien-mga commented on #28212
Seems fixed in the current master branch.

If you can still reproduce it, please provide a project / more detailed steps to reproduce.
What I did:
- Create new AtlasTexture resource
- Used `icon.png` as texture for the Atlas property
- Set region to `0, 0, 64, 64`.
- Assigned this resource to a Sprite.

[2020-01-15 12:58] #28212 closed

[2020-01-15 12:59] akien-mga commented on #28305
Is this still reproducible in the latest 3.2 builds?

[2020-01-15 13:01] akien-mga commented on #28322
Fixed by #28396.

[2020-01-15 13:01] #28322 closed

[2020-01-15 13:04] akien-mga commented on #28539
@DrMoriarty Can you still reproduce this issue in the current master branch / 3.2 builds?

[2020-01-15 13:05] akien-mga commented on #28195
Closing as it seems to be fixed already as per above comment.

[2020-01-15 13:05] #28195 closed

[2020-01-15 13:06] akien-mga commented on #28574
Duplicate of #28195, which is fixed.

[2020-01-15 13:06] #28574 closed

[2020-01-15 13:07] UnityFuchs opened #35154 "Bug: particles_2d + lighmask + viewport"
**Godot version:**
3.1.1.stable.official

**OS/device including version:**
Ubuntu 18.04.3 LTS

**Issue description:**
1. If you mask particles with a light (light_2d: mode = mask), weird visual bugs happen in the Editor. If you F6 ..., the visual bugs are gone and everything looks fine.
2. Now, if you instantiate this scene via a viewport, you still have the same visual bugs in the editor but now,

[2020-01-15 13:11] DrMoriarty commented on #28539
@akien-mga No, I didn't see this bug in 3.2 betas

[2020-01-15 13:11] DrMoriarty commented on #27262
@akien-mga No, I didn't see this bug in 3.2 betas

[2020-01-15 13:16] akien-mga commented on #28539
Thanks, let's close then.

[2020-01-15 13:16] #28539 closed

[2020-01-15 13:16] akien-mga commented on #27262
Thanks, closing then.

[2020-01-15 13:16] #27262 closed

[2020-01-15 13:37] timothyqiu commented on #27312
The color picker looks acceptable on HiDPI monitor. All the controls are contained by the background correctly:

<img width="289" alt="demo" src="https://user-images.githubusercontent.com/372476/72437000-b8253380-37dc-11ea-8319-087a8f90456a.png">

But there are still details that are not consistent with the normal dpi version: (HiDPI on the left, 50% scaled; Normal DPI on the right, 100% scaled.)

[2020-01-15 13:44] Calinou commented on #27312
I can reproduce what @timothyqiu said here (I was testing as they posted their coment here :stuck_out_tongue:).

If the height doesn't apply correctly, maybe it should be done in `NOTIFICATION_READY` in the color picker or when it's opened for the first time.

[2020-01-15 13:53] Calinou commented on #35146
Limiting the Recent menu to about 10 entries is probably a better idea indeed.

[2020-01-15 13:57] avencherus commented on #17483
A work around that seems to work for me is during the plugin startup yield for 3 frames and then use load() on the SVGs during the plugin startup.  Have to take care though if it exits somehow during one of these frames.

[2020-01-15 13:58] Calinou commented on #27333
Create a new project and paste this in a terminal:

[code]

[2020-01-15 14:01] akien-mga commented on #28642
Fixed by 2bc7f9e545ba9f8cb3e77d2607a2cfe33a716bbd.

[2020-01-15 14:01] #28642 closed

[2020-01-15 14:03] akien-mga commented on #28755
Duplicate of #22226.

[2020-01-15 14:03] #28755 closed

[2020-01-15 14:03] akien-mga commented on #33411
Duplicate of #22226.

[2020-01-15 14:03] #33411 closed

[2020-01-15 14:03] akien-mga commented on #28346
Duplicate of #22226.

[2020-01-15 14:03] #28346 closed

[2020-01-15 14:07] bojidar-bg commented on #22337
You should probably use `Ref<T>::instance()` to instance the object inside the Ref.

There is `Object::_change_notify` and `Object::property_list_changed_notify`, which might be useful for that.

Subscribe from the first one to the second one. There is some similar code in [`theme.cpp`](https://github.com/godotengine/godot/blob/master/scene/resources/theme.cpp#L563).

Your code did not pass [clang

[2020-01-15 14:08] akien-mga commented on #27333
Yeah with 1000 named classes it's a bit laggy, it takes ~1 s to show the CreateDialog, and searches including many of the named classes (like in @Calinou's example "MyClass") are laggy.

[2020-01-15 14:09] akien-mga commented on #28550
Indeed, can't debug with only the compiled code.

[2020-01-15 14:09] #28550 closed

[2020-01-15 14:11] akien-mga commented on #28594
Seems fixed in the current master branch.

[2020-01-15 14:11] #28594 closed

[2020-01-15 14:22] akien-mga commented on #28813
I think this is specific to Android 4.3, which was the first release to support OpenGL ES 3.0 but maybe did not mandate the library to be included for GPUs that don't support it.

IMO we're unlikely to fix this, as we'll likely soon drop support for Android 4.3 (API level 18).

For anyone who really wants to support Android 4.3 and runs into this issue, you can this:
[code]

[2020-01-15 14:22] #28813 closed

[2020-01-15 14:30] akien-mga commented on #28857
Tested in the current master branch and it now behaves the same with GDScript and C#.
For both scripts, the signal is emitted three times, two run the function as expected and the third triggers an error:
[code]

Relabeling as a `core` issue.

I'm not sure this is a bug per se or that it's fixable, but it's worth discussing.

[2020-01-15 14:37] akien-mga commented on #28883
It seems to be better handled in the current master branch. With the above steps to reproduce, I get:
[code]

And then in the scene file:
[code]
Modifying the scene and saving doesn't seem to alter that.

So I'll consider it "fixed", though there might still be ways to trigger this kind of edge case. If you can still find ways to reproduce it, please comment and we'll reopen it.

[2020-01-15 14:37] #28883 closed

[2020-01-15 14:39] akien-mga commented on #28949
Is this still reproducible in the current master branch?

[2020-01-15 14:41] akien-mga commented on #28981
No answer, assuming that it's working as expected now. Please comment if you can still reproduce this issue, and attach a project that triggers it.

[2020-01-15 14:41] akien-mga commented on #28992
No answer, and it's not clear what the issue was about originally, so closing again.

[2020-01-15 14:41] #28992 closed

[2020-01-15 14:43] akien-mga commented on #29009
Still seems reproducible in the current master branch.

[2020-01-15 14:44] akien-mga commented on #29039
Closing as "good enough" for now, but better error reporting for core APIs can be looked at for 4.0.

[2020-01-15 14:44] #29039 closed

[2020-01-15 14:47] akien-mga commented on #29065
Still reproducible in the current master branch.

[2020-01-15 14:50] #28436 closed

[2020-01-15 15:04] Antokolos commented on #26167
@neikeq , I don't remember quite well, but I tried to install v4.5, and it seems that it does not help. Or maybe I've done something wrong :)
Anyway, I'm OK with changing the target framework from v4.5 to v4.5.2 manually in the csproj file workaround, it is fixing the issue for me.
So we can close this issue, if it does not bother significant number of people.

[2020-01-15 15:08] KoBeWi commented on #27175
Seems to be fixed
![Sf8t400JLM](https://user-images.githubusercontent.com/2223172/72444939-34a21d00-37b1-11ea-9999-8942795eca4d.gif)

[2020-01-15 15:08] #27175 closed

[2020-01-15 15:12] malbach commented on #34907
if you don't have a mouse, why not use some keys ?
example :
[code]

[2020-01-15 15:16] PLyczkowski commented on #27175
Yeah, I haven't encountered this issue for a while now using the betas.

[2020-01-15 15:23] neikeq commented on #27386
The backtrace suggest me this is the same as #32899, so I will consider this fixed. We can always re-open it if someone can still reproduce it.

[2020-01-15 15:23] #27386 closed

[2020-01-15 15:44] asheraryam commented on #28103
I did run into this issue recently with the recent beta builds (I ran a quick re-export to web for all my jam games) so I'll check again soon and see if it still happens. (Can't remember if it was just my VPN or it persisted after).

I also have an issue with the web build not re-building in the editor because of file permissions issue on windows ("Access denied, file in use etc") so I'll open an

[2020-01-15 16:05] name-here commented on #35154
Even if it's not particularly difficult to recreate your minimal reproduction project from your instructions, it's still helpful to contributors (and saves them time) if you just upload one.  It even looks like you have a nice minimal project already.  You can upload by just dragging and dropping it into the comment/edit text box.

[2020-01-15 16:07] RichardEllicott opened #35158 "Triplanar projection seems to have issues when faces face more than one valid projection"
Godot 3.2 beta

macOS High Sierra 10.13.6

When using the triplanar in a spatial shader it projects unwanted lines

Note in screenshot, cyan marks an unwanted consequence, magenta seems to be the explanation for this line (the top projection)

Create a triplanar shader, project it to a cube, more the cube around rotate a bit etc
![Screen Shot 2020-01-13 at 16 33 21](https://user-images.githubuserc

[2020-01-15 16:52] #27185 closed

[2020-01-15 16:55] #32028 closed

[2020-01-15 16:58] akien-mga commented on #28103
That was fixed yesterday :)

[2020-01-15 17:54] AstroStucky commented on #19894
I can confirm that I'm seeing the same error on the master branch, although I'm on a commit back from August 21st, 2019.

[2020-01-15 18:28] xelivous commented on #33005
can someone add a "regression" label to this issue thanks

[2020-01-15 18:42] clayjohn commented on #35152
This isn't a bug. That error report was proper.

You can't take the modulo of a float. And you can't assign a float to an int without explicitly converting it to an int.

[2020-01-15 18:45] XavianOgletree commented on #33745
I would also like to note that this issue affects plugins that generate `.tres` files.  Having some way to force Godot to dump the cache for the file would be great.

[2020-01-15 18:55] clayjohn commented on #35149
This isn't a bug. ``vec2(0.0)[n];`` is not valid glsl, it should cause an error. Vec2's are not arrays they cannot be accessed with array syntax. The engine rightly should give you an error when you make a syntax mistake like that.

In this case, you have made two syntax mistakes. The first is described above, the second was properly reported by the engine. You can only use constant indexes to loo

[2020-01-15 18:55] #35149 closed

[2020-01-15 19:08] Dr4kzor opened #35162 "AnimationPlayer saved multiple values for same keyframe"
**Godot version:**
Godot_v3.1.2-rc1_win64

**OS/device including version:**
Windows 7

**Issue description:**
Sometimes the AnimationPlayer saves bad keyframe data

**Steps to reproduce:**
This is happening randomly I do not know how to reproduce this

Video showing the problem:
https://streamable.com/nq0m2

In the video it is clearly visible that there are multiple values stored for the same exac

[2020-01-15 19:09] xix-xeaon commented on #35152
Not sure if we're understanding each other; int(fragcord.x) is an int, and 4 is an int, and the result of mod is an int. And it works perfectly well with GLES3.

[2020-01-15 19:14] stranker commented on #18133
Hi! I'm currently investigating about compress the audio input of the microphone to opus and sent that info to the network. I really don't know where to start.
I know that I can get the input (or recording) from the micro using an AudioEffectRecord and that gave me an AudioStreamSample. But in order to compress that data where I need to do it?

Thanks in advance!

[2020-01-15 19:28] xix-xeaon commented on #35149
Not sure what's up @clayjohn
- The error messages seems pretty clear that it should work, just not implemented yet, if that's not the case then the message needs to be changed.
- I've found plenty of examples of using a mat4 exactly this way for stipple/screen-door/dithered  transparency or whatever they want to call it for other game engines.
- @Chaosus has already implemented the fix? Only @akie

[2020-01-15 19:33] KoBeWi commented on #35162
Did you make the animations in AnimationPlayer or they are imported from the model?

[2020-01-15 19:39] ArdaE commented on #28151
The two issues are one and the same. The new extra line at the end of the file just hides the issue in its limited description provided by the OP.

I haven't tried the new code, but if you place a breakpoint on the new extra line that it adds, you should still have the same issue; i.e. the debugger should fail to display the local variables, even though it would still consider that line to be a pa

[2020-01-15 19:40] billop commented on #4354
A good post on the downsides of YAML: https://www.arp242.net/yaml-config.html

Personally I think TOML is the way to go.

[2020-01-15 19:40] clayjohn commented on #35152
I see, I misunderstood what you were saying.

I reproduced the issue and was able to look into it further. GLSL 120 doesn't support the modulo operator (%), so internally it is converted to ``mod()``, but ``mod()`` takes two floats and returns a float.

In the code that processes the replacement it should be adding the integer conversion as well.

[2020-01-15 19:42] DEF7 commented on #18133
Opus is an audio codec. Codec = COmpression DECompression. Just pass the
raw audio PCM data into Opus to get the compressed stream data that you
then send off over the network. Just make sure that you're buffering enough
received audio long enough to prevent any network transmission
jitter/irregularity from causing gaps between received audio chunks. You'll
always get a gap here and there no matte

[2020-01-15 19:51] GeorgeS2019 commented on #20271
@akien-mga I understand you are busy. There is another important feedback 2 hours ago.  Could you consider putting this [PROPORSAL ](https://github.com/godotengine/godot-proposals/issues/339#issuecomment-574785386)to 4.0?

[2020-01-15 19:51] clayjohn commented on #35149
The error message relates to the use of ``n`` inside the array. The message should be changed as GLES2 will never support variable indexing of arrays.

A ``vec2`` and a ``mat4`` are two different data types. In GLSL 120 you can index a ``mat4`` with the [] syntax, but you cannot index a ``vec2`` with []. In GLSL 120, you can only access ``vec2``s with ``rg`` or ``xy``.

That being said, the Godot

[2020-01-15 19:54] xix-xeaon commented on #35152
Ah I see, that makes sense. Could there be float precision issue where returning float is 2.9999 and then becomes 2 instead of 3 after int?

[2020-01-15 20:02] clayjohn commented on #35152
Thats always a risk, I guess we could add "int(floor(0.5+mod(float(" instead.

[2020-01-15 20:06] stranker commented on #18133
Thanks for your quick response! My main issue now is where I need to compress the raw data that I get from the AudioRecordEffect. I know that get_recording() retrieves a sample with all the data but it depends on the audio format (8bit, 16bit, IMA_ADPCM @not implemented). So my question is, I need to create a new FORMAT_OPUS on AudioStreamSample in order to compress that audio? Or I missing someth

[2020-01-15 20:13] aaronfranke commented on #26952
Can you test on Linux? Older Intel GPUs are known to have really bad Windows drivers.

[2020-01-15 20:18] akien-mga commented on #28151
As I mentioned, if you step into the last line of the script, you do see all the member variables.

Similarly, if you break on the last line of a block, you see all the member and local variable, apart from those that have gone out of scope on the block.

So:
[code]
behaves like this:
[code]

Which is not wrong per se as I explained, but is not what one usually expects of a breakpoint (should brea

[2020-01-15 20:19] akien-mga commented on #20271
No. Please let us manage our milestones as we see best fit. Commenting on all UWP-related issues to get them added to a milestone is not going to change our priorities.

[2020-01-15 20:22] GeorgeS2019 commented on #20271
@akien-mga  I definitely respect your decision.

The proposal has nothing to do with UWP, but **the .NET standards 2.0 to 2.1 and SDK project** which you seems to have arranged a higher priority for Milestone 4.0 BUT not yet officially assign to 4.0

[2020-01-15 20:24] lawnjelly commented on #35158
This is what triplanar projection does, by definition, it blends the 3 textures from the 3 axes. This is so you can texture map a sphere for example, without seams. It is easy to use but quite expensive in terms of texture lookups. Quake texture mapping doesn't use this, if I remember correctly.

If you want to apply some kind of UV projection you probably need to do it yourself (I haven't found a

[2020-01-15 20:24] akien-mga commented on #26952
This might work better in 3.2 as some fixes were done for low end hardware, but it's unlikely that more work will be done for chipsets such as Intel G41 on Windows 7.

This configuration is the definition of the proverbial "toaster", and not worth the effort needed to work around driver bugs, if possible at all. Sorry about that :/

As mentioned, Linux might be a relief if you want to use this dev

[2020-01-15 20:24] #26952 closed

[2020-01-15 20:25] Jummit commented on #28981
Sorry, I didn't get around to testing it. I still can't get custom themes to work.

That's kinda the problem; since it is a problem with an editor setting, it can't be shared as a project file. But it doesn't take that long to do what I put as the steps to reproduce in the OP.

[2020-01-15 20:26] GammaGames commented on #4354
Some counter points to the post:

I always thought that representing objects directly in YAML was a strange feature. StrictYAML [disallows that](https://hitchdev.com/strictyaml/why/not-parse-direct-representations-of-python-objects/).

This is not a problem with YAML itself, it is a problem with pretty much any file. If you have any config file that goes over 100 lines you're probably doing someth

[2020-01-15 20:26] KoBeWi opened #35163 "OGG files don't have an icon"
**Godot version:**
3.2 beta6

**Issue description:**
![image](https://user-images.githubusercontent.com/2223172/72468380-50bbb380-37dd-11ea-855c-ee5d75f910ac.png)
The .wav icon could be re-used or slightly altered for OGGs.

[2020-01-15 20:26] akien-mga commented on #20271
Well then please don't cross-reference unrelated issues, this issue here is about C# support on UWP.
There are no milestones on the godot-proposals repository as of now.

[2020-01-15 20:30] xix-xeaon commented on #35149
I just assumed vec and mat would work the same for indexing and vec was shorter as a reproduction example. But as I wrote in the issue, I was trying to do it with a mat4, which you're saying should actually work?

If I understand it correctly though, it should only work (or rather, is only required to work) for constants and like for loop counters? That doesn't really make any sense to me. Constan

[2020-01-15 20:31] Jummit commented on #28981
I just found out that it works if you don't create the theme through `Create from current editor theme`, but a clean theme works.

[2020-01-15 20:33] aaronfranke commented on #5392
Can you test on Linux? Older Intel GPUs are known to have really bad Windows drivers. If it's a driver bug, there's likely not much we can do to solve it.

[2020-01-15 20:36] billop commented on #4354
The problem is that the title of the issue is YAML, just wanted to add some more points against YAML in general without regards to StrictYAML. I think either StrictYAML or TOML would be good, although with still a preference for TOML since it's not fragmented and has a better spec without the need for a special parser.

[2020-01-15 20:37] akien-mga commented on #5392
This might work fine with GLES2 on Godot 3.2.

If the (notoriously problematic) Windows drivers for Intel HD 3000 claim OpenGL 3.3 support, you might need to force using OpenGL 2.1 by running Godot from the command line with the `--video-driver GLES2` switch, e.g.:
[code]
and set "GLES2" as rendering backend in the project settings.

[2020-01-15 20:37] #5392 closed

[2020-01-15 20:38] aaronfranke commented on #4353
It might be worth closing this issue, it seems like a non-critical bug and the 2.1 branch is not being actively developed anymore (mostly just updates to keep it working on modern smartphones).

If you need to have this working on Godot 2.1, you could also consider using Linux (it seems everyone here has reported it works fine on Linux).

[2020-01-15 20:41] Jummit commented on #28981
Ok, this is the most confusing issues I've ever encountered. It seems to be a mix of the settings just being reset and the theme not working / only working in the project selection. I can't get it to work reliably, but since it works most of the time I think the problem must be investigated further. Closing for now.

[2020-01-15 20:41] #28981 closed

[2020-01-15 20:46] aaronfranke commented on #8667
Can you please test if this occurs with the latest version of Godot ([3.2 beta 6](https://godotengine.org/article/dev-snapshot-godot-3-2-beta-6) or newer)?

[2020-01-15 20:49] aaronfranke commented on #35163
The logo for OGG Vorbis is a fish. Perhaps the icon should have a tiny fish in the bottom-right corner?

![](https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0018/5679/brand.gif?itok=9l69xPQq)

[2020-01-15 20:50] akien-mga commented on #4353
Indeed, thanks for the review. Closing as fixed in 3.0.

[2020-01-15 20:50] #4353 closed

[2020-01-15 20:50] Calinou commented on #35163
@aaronfranke Maybe we can re-use the WAV icon but use a blue-yellow gradient instead of red-yellow-green?

[2020-01-15 20:52] clayjohn commented on #35149
The spec allows it for ``mat4``s but we haven't implemented it in the Godot Shading Language yet.

I can't answer that. The spec is a big mystery to me. Your last paragraph makes me think you understand my pain. :P

When running GLES2 on devices that support GLES3 a lot of venders allow you to use GLES3 features even though they are technically not supported. This makes cross platform (especially

[2020-01-15 20:53] KoBeWi commented on #35163
How about something like this?
![image](https://user-images.githubusercontent.com/2223172/72470659-68953680-37e1-11ea-9dd0-3a60a9d8b92c.png)
With the left one for .wav (also +colors)

[2020-01-15 20:54] ArdaE commented on #28151
My point is that those empty lines that follow the method aren't out of the scope of the method. They are part of the method, as far as Godot is concerned, which you can verify by putting a breakpoint on them. (I don't think they _should_ be, but whether you or I think they should be part of the method is irrelevant; I'm just referring to how Godot interprets them).

I don't think you're correct a

[2020-01-15 20:57] aaronfranke commented on #17041
Can you please test if this occurs with the latest version of Godot ([3.2 beta 6](https://godotengine.org/article/dev-snapshot-godot-3-2-beta-6) or newer)? IIRC there were some changes to HiDPI support in the past year, and the project manager has been improved in 3.2.

[2020-01-15 20:59] aaronfranke commented on #18986
Can you please test if this occurs with the latest version of Godot ([3.2 beta 6](https://godotengine.org/article/dev-snapshot-godot-3-2-beta-6) or newer)? Does it occur with GLES3 only, or also with GLES2? Also, it would be helpful if you could test if this occurs on a newer operating system such as Windows 10 or a Linux distro.

[2020-01-15 21:00] akien-mga commented on #35163
IMO it would be OK to simply use the same icon.

I've been using OGG Vorbis for 15+ years and I definitely don't associate it with a fish, I had never seen/noticed this logo :)

[2020-01-15 21:13] aaronfranke commented on #31671
I would ask if they can still reproduce this in 3.2 beta 6, but considering this user deleted their account, it may be best just to close this (and if someone happens to have the same problem we can re-open).

[2020-01-15 21:15] Calinou commented on #31671
I'll close this per @aaronfranke's comment.

[2020-01-15 21:15] #31671 closed

[2020-01-15 21:20] Calinou commented on #35158
You can play with the intensity of the triplanar blend smoothing by tweaking the Triplanar Sharp property in the material.

[2020-01-15 21:31] Toshiwoz commented on #34376
The issue is still there right? I haven't noticed before, but now that my game is crashing only on android I really needed the feature.
Via wifi or usb gives me the same problem.
Also "small deploy with network FS" seems to have problems too.

[2020-01-15 21:48] firecloud888 opened #35167 "Simplest way to achieve blend mode in custom draw"
That problem confuse me for a long time.

[If I want to draw a rectangle with a hole manually like this](https://raw.githubusercontent.com/firecloud888/picture_stack/master/2020-01-05_032254.png)
Grey grid is the transparent area
Here's the node code

[code]
and the shader code:

[code]

[Without shader](https://raw.githubusercontent.com/firecloud888/picture_stack/master/shader_dis.png)

[With Sha

[2020-01-15 21:58] #35163 closed

[2020-01-15 21:58] #29215 closed

[2020-01-15 22:13] neikeq commented on #27684
I added the following at the end of the method and static memory stopped increasing:

[code]

So there isn't any leak, it's just the GC isn't collecting the array yet.

If you don't want to wait for the GC, you can always dispose the array manually:

[code]

[2020-01-15 22:13] #27684 closed

[2020-01-15 22:29] Calinou commented on #35167
This sounds like a duplicate of #31124 to me.

[2020-01-15 22:54] Ranoller commented on #28949
I has to delete vs2015 and vs2017 because are oversized to my ssd, so i can´t test. In VS2019 for me is not reproducible. But @willnationsdev has the same issue (https://github.com/godotengine/godot/issues/32080) and closed that to maintain opened only one (this). I don´t know if he is having problems now. There are more problems related with 32 bit editor, like the case warnings, i think there ar

[2020-01-15 22:56] neikeq commented on #27362
I still haven't come up with a good idea to fix these threading issues, so I don't know if I will be able to fix this for 3.2.

[2020-01-15 23:11] clayjohn commented on #27919
Aiming for the 3.2.1 release

[2020-01-15 23:12] clayjohn commented on #33007
Where is it crashing from then?

[2020-01-15 23:15] aaronfranke commented on #32884
The minimal reproduction project you posted does not contain a scene, it is empty except for the default stuff and one image called `plain_grass.png`.

[2020-01-15 23:18] salvob41 commented on #25138
@akien-mga sorry but I didn't have the chance to try it before.

Sorry but it is not fixed, the problem is still the same ... In the sdl2 Gamepad tool the mapping is showing it correctly. The mapping in SDL2 database is correct. But Godot cannot import the mapping in the correct way for some reason.
@bruvzg in #26544 found out about this problem:

And I think the problem is in that "warning discar

[2020-01-15 23:24] Shadowblitz16 commented on #35136
sure just a sec

[2020-01-15 23:26] Shadowblitz16 opened #35171 "Controls steal focus"
**Godot version:**
v3.1.2

**OS/device including version:**
Windows 10 Pro education 64 bit

**Issue description:**
Selecting the SubBtn and AddBtn nodes and pressing left makes the root node steal the focus when it is not a focus neighbor.

**Steps to reproduce:**
download the project if you don't have it
debug the GUIOption scene
press enter
press left
notice the root node steals the focus

**Mi

[2020-01-15 23:29] Tazshelby2016 commented on #30452
Now that the security tab is functional in GitHub, it may be better to move this there.

[2020-01-15 23:29] Shadowblitz16 opened #35172 "Setting Button pressed to true doesn't work without toggle mode"
**Godot version:**
v3.1.2

**OS/device including version:**
Windows 10 Pro education 64 bit

**Issue description:**
When I press left or right when SubBtn and AddBtn node is focused it doesn't simulate a press with SubBtn and AddBtn event though I grab the focus and set pressed to true.

**Steps to reproduce:**
download the project if you don't have it
debug the GUIOption scene
press enter
press r

[2020-01-15 23:32] Shadowblitz16 opened #35173 "String nodes cannot grab focus even with set_focus_mode(FOCUS_ALL)"
**Godot version:**
v3.1.2

**OS/device including version:**
Windows 10 Pro education 64 bit

**Issue description:**
Clicking on the String node with the mouse doesn't grab the focus and redirect it to the SubBtn node even though I use set_focus_mode()

**Steps to reproduce:**
download the project if you don't have it
debug the GUIOption scene
click on charg mk 1 text
notice the root node is select

[2020-01-15 23:34] Shadowblitz16 opened #35174 "Forwarding focus neighbours causes odd side effects"
**Godot version:**
v3.1.2

**OS/device including version:**
Windows 10 Pro education 64 bit

**Issue description:**
selection from alternative version does opposite of expected.
setting focus neighbour in Menu1 scene doesn't allow one below it to be selected
unsetting focus neighbour allows the one below it to be selected

**Steps to reproduce:**
download the project if you have the old version
de

[2020-01-15 23:34] #35136 closed

[2020-01-15 23:35] golddotasksquestions commented on #34124
This works @iamiota  but makes absolutely no sense to me whatsoever.

[2020-01-15 23:45] golddotasksquestions commented on #8510
Is this all exported from Godot? Looking good!

[2020-01-15 23:48] Toshiwoz commented on #35049
Oh gosh, I was going crazy trying to find out where I made a mistake, or where godot's behaviour has changed since beta5.
Gosh, thanks guys for reporting and also for those who have worked a fix for this regression... cant' wait for beta 7!

[2020-01-15 23:59] bojidar-bg commented on #32884
From the video this issue appears to be a duplicate of #28135 (fixed since 3.2 beta 3). Closing as such.
The later problems mentioned by @securas should probably be split off as separate issues.

[2020-01-15 23:59] #32884 closed

[2020-01-15 23:59] clayjohn commented on #35071
I can't reproduce the issue with clear color and custom color. But I was able to reproduce the issue with BG Mode keep.

[2020-01-16 00:13] aaronfranke commented on #28486
This issue depends on Vector2i being exposed first, so it depends on #22205. It could also be placed on the 4.0 milestone, but if we have to push it back to a later release that's fine too.

[2020-01-16 00:23] bojidar-bg commented on #35167
Unfortunately, due to how rendering pipelines work nowadays, it is a bit tricky to cut out a hole from an already-rendered object, as the information about the pixels behind it has already been lost.

To combat this problem, there exist a few solutions:
* Render an object of the background color/texture instead of a hole.
  * Evidently, this works only if you do not have anything behind the hole w

[2020-01-16 00:34] bojidar-bg commented on #28486
Note that if this is supported, adding / subtracting with a number on the left hand side should likely work as well. Furthermore, the same behavior should be implemented for Vector3i, Vector2 and Vector3.

---

IMHO, it would be better if an explicit `Vector2i(int)` constructor exists, similar to how this is done in shader languages (`x + vec2(0.4)`). This way is a bit more verbose indeed, but is

[2020-01-16 00:41] #35151 closed

[2020-01-16 00:41] aaronfranke commented on #35152
What is the bug exactly? A mod of two ints gives an int, a mod of two floats gives a float, the cast seems necessary and appropriate here. A mod accepting floats is not guaranteed to have a whole number as the output, so I don't see what kind of solution we could possibly implement. Adding `int(` and `)` as @clayjohn suggested sounds like it would cause % to always get rid of the decimals.

[2020-01-16 00:46] clayjohn commented on #35152
@aaronfranke this is for GLES2. It doesn't have ``vec2i``. It also doesn't technically support %.

In GLES3 % is only for integer types. So in Godot, we restrict it to integer types. If you want the modulo of floats you use ``mod()``.

The issue is that in GLES2 we fake support for % by secretly converting it to ``mod(float(), float())`` in the shader compiler. But that means that it returns a flo

[2020-01-16 01:13] clayjohn commented on #24550
I was able to reproduce using the project from  #32535 on my phone using GLES2 only. Meshes that are not included in the baking get hidden when the scene is played on android. I'll look into whats causing it but I don't think this is a bugfix that will make it into 3.2.

[2020-01-16 01:14] xavierocampos opened #35177 "Frame drop using GridMap node"
I'm not an expert on Godot yet, so I'm testing the functions in as much detail as I can and now I'm testing the GridMap node for a MeshLibrary that I previously created with only 10 blocks. To start with there is a bug in detecting collisions, it only detects collisions if the nodes have a MeshInstance as a parent and a StaticBody as a child, which is not bad but I find the StaticBody > MeshInstan

[2020-01-16 01:15] aaronfranke commented on #35152
`%` works fine for floats in C# and Python, there's no reason we can't also make it work with floats. Why does the shader code have `float()` in there instead of just accepting the types as-is? Is it possible for us to both make a `mod(float(), float())` and an `int(mod(int(), int()))`

[2020-01-16 01:48] clayjohn commented on #35152
@aaronfranke We don't have control over GLSL. We do our best to follow the GLSL 330 spec which does not allow floats to be used with %. Also note C and C++ only allow ints to be used with % (GLSL is based on C).

[2020-01-16 01:48] YeldhamDev opened #35179 "Error about modified time when loading scenes from ".pck" files"
**Godot version:**
e889100

**Issue description:**
When loading a scene originated from a ".pck" file, if said scene uses assets, the engine will complain about not being able to get the modified time of the assets:
[code]

**Minimal reproduction project:**
[modified_time_pck.zip](https://github.com/godotengine/godot/files/4068933/modified_time_pck.zip)

[2020-01-16 01:54] clayjohn commented on #29330
Fixed by https://github.com/godotengine/godot/pull/34794

[2020-01-16 01:54] #29330 closed

[2020-01-16 02:06] clayjohn commented on #34559
PR https://github.com/godotengine/godot/pull/35178 fixes the shader compilation issue. But the shader compilation issue didn't cause a crash. It would be a good idea to test this again after #35178 is merged and see if we can get more info relating to the crash.

[2020-01-16 02:17] samdaiya commented on #27919
Good to know.

[2020-01-16 02:27] CalebJohn commented on #30859
I had a similar issue while testing my project on android. I was not able to reproduce this in fullscreen but could reproduce by changing the window size (see below).

![image](https://user-images.githubusercontent.com/2179547/72487407-219c4680-37cb-11ea-85c5-c75044b369db.png)
Godot version: 3.1.2 stable
OS: Ubuntu 18.04

I was fairly certain this was the same issue as #34799 which was fixed by #3

[2020-01-16 02:29] clayjohn commented on #30859
Thanks for looking into this!

[2020-01-16 02:29] #30859 closed

[2020-01-16 02:30] timothyqiu opened #35181 "Inspector's scrollbar has wrong position on HiDPI display"
**Godot version:** v3.2.beta.custom_build.f2d45676c

**OS/device including version:** macOS Catalina 10.15.2 / MacBook Pro (Retina, 13-inch, Early 2015)

**Issue description:**

The Inspector's vertical scrollbar is half way into the view border on HiDPI display:

<img width="193" alt="snapshot" src="https://user-images.githubusercontent.com/372476/72487939-7fbc3e80-384a-11ea-9fef-f891494d3cbb.png

[2020-01-16 02:40] geoffder opened #35182 "C# System.Linq on Godot.Collections.Array broken in v3.2-beta6-mono_x11.64"
**Godot version:**
Godot_v3.2-beta6_mono_x11.64

**OS/device including version:**
Ubuntu 19.04 x86_64

**Issue description:**
Error compiling project which builds fine in v3.1.2.

error CS1061: 'Array' does not contain a definition for 'Select' and no accessible extension method 'Select' accepting a first argument of type 'Array' could be found (are you missing a using directive or an assembly ref

[2020-01-16 02:55] YeldhamDev commented on #35181
Does this still happen without #35133?

[2020-01-16 03:00] geoffder commented on #35182
![image](https://user-images.githubusercontent.com/14910691/72489474-04667880-37c9-11ea-8bb6-84a4939f8d8a.png)

These are the changes made to the C# project on loading it in beta6. Reverting these allows it to compile, but the game crashes the moment any Godot function is called from the C# scripts.

[2020-01-16 03:07] timothyqiu commented on #35181
It's good before #35133 is merged.

Tested `42d3d0619` (last commit before merge) and `7971ec74f` (the merge commit).

[2020-01-16 04:02] vmjcv opened #35184 "compiling godot under windos platform will report an error,"
**Godot version:**
major = 3
minor = 2
patch = 0
status = "beta"
**OS/device including version:**
windows 10
**Issue description:**
compiling godot under windos platform will report an error,

**Steps to reproduce:**
Command: scons platform = windows use_mingw = yes

**Minimal reproduction project:**

**Error log**
![image](https://user-images.githubusercontent.com/25278695/72492283-93ba6d00-3857-

[2020-01-16 04:14] volzhs commented on #35184
it would be better to attach logs with text than screenshot image.

[2020-01-16 04:22] avencherus commented on #20566
To those affected, does this problem also slow down the exported games as well, or just the editor?

[2020-01-16 04:23] vmjcv commented on #35184
ok

[2020-01-16 04:41] MightyPrinny opened #35185 "ColorPicker doesn't detect when the mouse button is released outside of the window."
**Godot version:**
3.2 beta 5

**OS/device including version:**
MXLinux19 64 bits

**Issue description:**
When the mouse is released outside of the ColorPicker while you're selecting a color and move it back it will not stop selecting colors.

**Steps to reproduce:**
Use a ColorPicker to select a color, release the mouse outside of it and then move the mouse back inside, you'll see that the color

[2020-01-16 04:44] MightyPrinny commented on #35171
I haven't checked your project, but if you don't set the neighbors Godot will guess them, a little hack you can use is to set them to NodePath(".") (the same node)

[2020-01-16 04:46] volzhs commented on #35184
would you try again after deleting all `*.gen.*` files?

[2020-01-16 04:51] Shadowblitz16 commented on #35171
The can be closed I actually just recently found this out and have posted a fix and part of [this](https://github.com/godotengine/godot-proposals/issues/385) suggestion.

looks for the auto focus flag.

[2020-01-16 04:51] #35171 closed

[2020-01-16 04:59] Shadowblitz16 opened #35186 "StyleBoxTexture axis stretch tile and tilefit doesn't work when using GLES2"
**Godot version:**
v3.1.2

**OS/device including version:**
Windows 10 pro education 64 bit

**Issue description:**
styles that use tile or tilefit as their axis stretch just stretch it and don't actully tile it.
![image](https://user-images.githubusercontent.com/2453707/72494626-57482c00-37d9-11ea-9e0d-c1c3b55cec32.png)
![image](https://user-images.githubusercontent.com/2453707/72494899-2c120c80-

[2020-01-16 05:36] timothyqiu commented on #34810
This seems to be related to Font Hinting (`interface/editor/font_hinting`).

![demo](https://user-images.githubusercontent.com/372476/72496637-26153d80-3865-11ea-8d62-23a9ced56021.gif)

[2020-01-16 05:46] vmjcv commented on #35184
i tyr it,But there is still that error

[2020-01-16 06:25] #34556 closed

[2020-01-16 06:26] clayjohn commented on #34556
This needs to be filled out according the template. Further, it needs to include more information. As it stands now we can't understand what the issue is.

[2020-01-16 06:26] Anutrix commented on #35184
Try `git status` and make sure all files are in right folders.

[2020-01-16 06:27] clayjohn commented on #34687
@Feniks-Gaming Did @Zylann's explanation clear things up for you? Or do you think there is still a bug underneath this?

[2020-01-16 06:33] clayjohn commented on #35112
@AndHalfAFish Did you try groud's suggestion?

[2020-01-16 06:34] clayjohn commented on #35109
Duplicate of https://github.com/godotengine/godot/issues/24896

Please search existing issues before creating anew one.

[2020-01-16 06:34] #35109 closed

[2020-01-16 06:36] clayjohn commented on #35135
Is this with a HiDPI monitor by any chance?

And is the issue just within the editor, or does it affect the running game?

[2020-01-16 06:47] #24550 closed

[2020-01-16 06:50] akien-mga commented on #35152
Maybe we can drop that feature? Sounds confusing, especially if it differs from GLES3 shaders.

[2020-01-16 06:54] clayjohn commented on #35152
@akien-mga since GLES2 doesn't support % our options are to fake it with ``int(mod())`` or to ban it's use outright in GLES2.

[2020-01-16 06:56] #35181 closed

[2020-01-16 06:57] vmjcv commented on #35184
yes，i try it ，this is log
$ git status
On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

[2020-01-16 07:03] #33007 closed

[2020-01-16 07:09] akien-mga commented on #35152
We could also reimplement our own `_int_mod()` function to do it I guess? Good old integer division  and remainder. But otherwise casting the current mod result to int should do the trick indeed.

[2020-01-16 07:14] bruvzg commented on #35137
Should be fixed in 3.2 (#34202).

[2020-01-16 07:23] akien-mga commented on #35137
Let's keep this one as a reminder to cherry-pick #34202 (and last time I tried, more previous changes to macOS display handling) for the `3.1` branch and 3.1.3.

[2020-01-16 07:44] nikhilCad commented on #26952
It is actually fixed on Linux Mint. Thank you for the advice. Blender 2.79 is working too! I can not ditch windows though

[2020-01-16 07:54] jesperkondrup commented on #27459
@akien-mga I am not able to reproduce it either, it seems to work perfectly now.

I imported my old test project (that I described in the issue) and I could see that the way the AnimationPlayer usually works had been changed.

- In the current version of godot 3.1.2 you can start a looping animation from another AnimationPlayer and it will continue looping in the editor even when the AnimationPlay

[2020-01-16 08:08] groud commented on #34386
Well I think showing the grid when snapping is activated makes sense, as it avoids going into the visibility settings to tick an other box every time you want to work with a grid.
However I understand you might want it always visible.

What I suggest is changing the visibility settings to a 3 modes choice:
- Always show
- Show when snapping to grid
- Always hide

[2020-01-16 08:11] AndHalfAFish commented on #35112
Sorry, I didn't realize there was a reply to my messsage ...
Yes, just tried it and it works perfectly. Thanks !

In retrospect, 2 things tripped me up : 1) child nodes are actually rendered on top of parents , 2) 'stop' means 'ignore' + 'stop'

[2020-01-16 08:13] groud commented on #35112
Ok closing as solved then. :)

[2020-01-16 08:13] #35112 closed

[2020-01-16 08:16] aaronfranke commented on #35152
Note that modulus and remainder are not the same thing. C, C++, C#, Java, and GDScript treat % as a remainder operator, and `fmod` in C++ is also a remainder operation. Python and Google Calculator treat % as a modulus operation, GLSL has `mod` as a modulus operation (at least according to [these docs](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/mod.xhtml), haven't tested it myself),

[2020-01-16 08:27] Quadtree opened #35188 "HTML5 GLES3 Shadows Not Rendering"
**Godot version:** 3.1.1 or 3.2 Beta 6

**OS/device including version:** Windows 10, tested with both a RTX 2070 Super and a GTX 1050, on both Firefox and Chrome.

**Issue description:** Shadows cast by omni and spot lights don't render at all when a project is exported in HTML5 mode and the GLES3 driver is used. I'm fairly new to Godot so it's possible it's just something I'm doing wrong. Example

[2020-01-16 08:27] BenjaminNavarro commented on #30310
Can you please share how you fixed it?

[2020-01-16 08:34] akien-mga commented on #27459
Yeah I'm not sure if it's a bug or intended, but might be worth discussing in a new issue.

Good to hear that the original bug of this issue is fixed, so closing.

[2020-01-16 08:34] #27459 closed

[2020-01-16 08:45] akien-mga commented on #27312
Thanks, repurposing this issue as enhancement request for the last remaining quirks.

[2020-01-16 08:49] akien-mga commented on #28949
I just noticed that you were using SCons 2.5.1, which is relatively old.
The buildsystem for Windows has been updated a couple of years ago to rely on new features on SCons 3.0, and it's advised to use the latest stable SCons release to compile Godot.
Not sure if that would have fixed the issue you ran into, but it's possible.

@willnationsdev Can you still reproduce this issue on an `x86` build?

[2020-01-16 08:51] akien-mga commented on #29218
Still reproducible in 3af0400. Current backtrace:
[code]

[2020-01-16 08:56] Feniks-Gaming commented on #34687
He is right I understand why it doesn't work the way I thought it should. It comes more to my inexperienced and wrong expectations rather than a bug.

[2020-01-16 08:56] #34687 closed

[2020-01-16 09:18] akien-mga commented on #29528
Closing as the issue was with the user project.

The "But" part in https://github.com/godotengine/godot/issues/29528#issuecomment-559902987 was fixed by #34011.

[2020-01-16 09:18] #29528 closed

[2020-01-16 09:19] akien-mga commented on #29540
Is this still reproducible in the current master branch?

[2020-01-16 09:21] aaronfranke commented on #35033
I don't think there's currently any logic to check for this. If we add some, it should probably:

* Check that it's a class, not a struct or interface. (loosely related: https://github.com/godotengine/godot/issues/28799#issuecomment-491423098)
* Check that it's non-abstract and non-static. Maybe it also needs to be public?
* Check that it has Node or Resource (or something else?) as its inheritanc

[2020-01-16 09:25] aaronfranke commented on #34427
I could possibly add this to #31171 (for 4.0+). "Open anyway? All files will be re-imported."

[2020-01-16 09:27] jitspoe commented on #25806
If you still want to use collada, there are a couple forks of the better collada exporter that work in newer blenders.  I think they also fix the issue described in this bug (it was an exporter issue, not an engine issue).

https://github.com/HungryProton/collada-exporter-2.8
https://github.com/artellblender/collada-exporter-2.8

[2020-01-16 09:29] akien-mga commented on #29686
I can't reproduce the crash in the current master branch with any of the attached projects.
(I had to tweak the scripts a bit to remove the methods which have been removed regarding skeletons).

[2020-01-16 09:34] Ranoller commented on #28949
i will actualize scons, thanks

[2020-01-16 09:43] akien-mga commented on #29756
If anyone is confident with their memory management skills, the error is triggered here:
https://github.com/godotengine/godot/blob/3af0400a32a2f81aad0b56940af0d6a92b6ffc92/core/io/logger.cpp#L195-L209

[2020-01-16 09:44] akien-mga commented on #29756
Might be worth checking if it's still reproducible though as `OS::set_last_error()` has been removed in the master branch while error handling was improved.

[2020-01-16 09:47] QbieShay commented on #26878
None, sorry :(

[2020-01-16 09:48] vmjcv commented on #35184
thanks your answer
when i move godot \ platform_methods.py to godot \ core \ platform_methods.py，i can build it and get godot.windows.tools.64.exe
Scons versions is 3.1.2
Python versions is 3.7.3
MinGW64 versions is 8.1.0，i get MinGW64 from mingw-w64-install.exe（https://sourceforge.net/projects/mingw-w64/files/mingw-w64/mingw-w64-release/）
i just add ..mingw64\bin to  environment variable

[2020-01-16 09:50] QbieShay commented on #27119
@akien-mga maybe the error message could be improved? Also, from the error message, it looks like this issue has not been addressed per se, but it is accidentally fixed by something else. Perhaps an explicit check for invalid instances and a more explicit error message could be beneficial

[2020-01-16 10:12] akien-mga commented on #26878
Closing then until it can be reproduced.

[2020-01-16 10:12] #26878 closed

[2020-01-16 10:28] akien-mga opened #35192 "Improve error message when calling method with "previously freed instance" argument"
**Godot version:**
3.2 master (3af0400a)

**OS/device including version:**
Any

**Issue description:**
When calling a GDScript method with a "previously freed instance" parameter, the error which is raised is not as clear as it could be. Maybe also for the "null instance" case, though I don't know how to reproduce it.

[code]

raises:
[code]

Relevant code to adjust:
https://github.com/godotengine

[2020-01-16 10:31] akien-mga commented on #27119
The error comes from GDScript itself, which is generic for any function call using an invalid type. In this case the invalid type is "previously freed instance", so the error is a bit awkward but it still gives clear information IMO.

But yeah, it could maybe be improved with some custom handling for `previously freed instance` (and likely `null instance`) in `GDScriptFunction::_get_call_error`. I

[2020-01-16 11:10] viteo commented on #18233
Found a workaround for Windows:
https://steamcommunity.com/sharedfiles/filedetails/?id=1970276543

[2020-01-16 11:21] akien-mga opened #35194 "-Wnon-virtual-dtor warning with MinGW/GCC in AudioDriverWasapi"
**Godot version:**
3.2 master (a2c90fe2f)

**OS/device including version:**
Linux, cross-compiling for Windows with MinGW 5.0.4 and GCC 8.3.0

**Issue description:**
With the above compiler, this warning is raised in `scons p=windows tools=yes target=debug`:
[code]

Our implementation seems directly taken from https://docs.microsoft.com/en-us/windows/win32/coreaudio/device-events, and this warning

[2020-01-16 11:21] akien-mga commented on #29801
Moved the last warning to #35194.

[2020-01-16 11:21] #29801 closed

[2020-01-16 11:32] #34555 closed

[2020-01-16 12:08] neikeq commented on #34427
If there's any bug related to the `.mono` folder when upgrading, please open a new issue describing it.

[2020-01-16 12:09] bruvzg commented on #35194
This one probably should be suppressed. AFAIK it's not a bug, just COM interface weirdness. COM objects aren't created or destroyed in the normal C++ way.

[2020-01-16 12:31] zomman commented on #34947
I think there could be a warning about the disable of animationplayer speed in animationtree in the document. I made my animation in other tool, then imported into godot. I naturally ajusted the speed of my animation to run as my design, when I bumped into this problem, I found no info about this.

---Original---
From: "Hugo Locurcio"<notifications@github.com&gt;
Date: Tue, Jan 14, 2020 06:31 AM
T

[2020-01-16 12:58] timothyqiu commented on #35192
I'm a bit confused when reading the documentation for [Object.free()](http://docs.godotengine.org/en/latest/classes/class_object.html#class-object-method-free)

Isn't `node` a reference to the object? If yes, then it should become `null` after `node.free()` I think.

Or, maybe the documentation is referring to the Reference class?

[2020-01-16 13:05] Zylann commented on #17573
This is what usually deals with the name occupancy. I don't understand why it's not the case here.

[2020-01-16 13:11] #34046 closed

[2020-01-16 13:15] bojidar-bg commented on #27575
Cannot reproduce on master; found a few other problems, so I opened #35198 nonetheless.

[2020-01-16 13:20] akien-mga commented on #27575
@bojidar-bg I can still reproduce it, the bug happens when you save the scene.
[code]
Set both values to e.g. `[15, 8, 0, 0]` in the inspector.
Save. First one reverts.

Before save:
![Screenshot_20200116_142010](https://user-images.githubusercontent.com/4701338/72528437-4f38cc80-386b-11ea-839c-d41510014418.png)
After save:
![Screenshot_20200116_142026](https://user-images.githubusercontent.com/47

[2020-01-16 13:28] bojidar-bg commented on #17573
Likely because the code applies to all nodes created in the editor process, not just those created manually / through script.

[2020-01-16 13:34] bojidar-bg commented on #35192
Well, there is the thing.. pre-existing references become "previously freed instance" instead of "null".
Note that things can get much worse from there on as of now:
[code]
But:
[code]

[2020-01-16 13:37] EzraT commented on #21824
Still present in 3.2-beta6.

[2020-01-16 13:38] bojidar-bg commented on #27575
@akien-mga Oof. I need a reminder to not test problems related to export variables using `tool` scripts...

[2020-01-16 13:47] albinaask commented on #35135
It does effect the running game when running it from the editor, how about any other circumstances I do not know. I am currently using a 3840x2160 28 inch monitor, but I tested running i on a 1366x768 at 14 inches as well, as I said I even dropped the resolution on the big monitor

[2020-01-16 13:54] DEF7 opened #35200 "GI Probe Broken"
**Godot version:**
3.2b5

**OS/device including version:**
Windoze 10 / Ryzen 5 2600 / RX 5700 XT

**Issue description:**
GI probe is not properly calculating lighting for surfaces from an omni-light source (perhaps others, I've only tested the OmniLight) and is dependent on the orientation of the GI probe. It appears that the GI probe is baking incorrectly, causing lighting to be calculated wrong

[2020-01-16 13:58] #27575 closed

[2020-01-16 14:47] vnen commented on #27333
Yeah, this can get quite laggy, in particular if the scripts have parsing errors and print to the console. My plan is to eventually split GDScript parsing and loading steps, so this could also be sped up by not fully parsing nor looking at dependent resources.

[2020-01-16 14:49] #30557 closed

[2020-01-16 14:57] #27582 closed

[2020-01-16 14:57] #29970 closed

[2020-01-16 14:59] asheraryam commented on #28103
@akien-mga Nice! I try to keep up with the commits but this repo is on fire lol!

[2020-01-16 15:02] git2013vb opened #35204 "Duplicate GDScript file when copy scene from another project"
**Godot version:**
3.2.beta6.mono
**OS/device including version:**
Debian 10
**Issue description:**
![image](https://user-images.githubusercontent.com/13235119/72535535-9bd2d680-3870-11ea-8d16-4d63edaddbeb.png)
The script related a scene is duplicated, If I do some changes in one the other one remain without that modification. As they are 2 different scripts
I file manager I see 1 script only
![im

[2020-01-16 15:10] vnen commented on #31252
Pretty sure this is not a bug, but an incorrect use of references. As I mentioned, and as stated in https://github.com/GodotNativeTools/godot-cpp/issues/320#issuecomment-520303910, the right way would be using `Ref<Cell>` instead of raw pointers so the reference counts are properly updated.

[2020-01-16 15:10] #31252 closed

[2020-01-16 15:13] bojidar-bg commented on #27119
I can reproduce the crash with code similar to:
[code]
Mind that the exact numbers (500 and 2 mainly) might need to be tweaked depending on what else is running in the project and what OS/malloc implementation is used.
Basically, the idea is to fill memory with object instances of one size, then fill the same region of memory with objects instances of a different size, so that the two get misalign

[2020-01-16 16:04] Jummit opened #35205 "Custom types can't be favorited"
**Godot version:**
40f0649e5

**Issue description:**
Custom types can't be favorited in the node selection.
They also don't appear in the `Recent` section.

**Steps to reproduce:**
1. Install a plugin from the asset library (For example my `Replicator Node` plugin).
2. Open the `Add Node` dialog.
3. Favorite the custom type.

[2020-01-16 16:16] dalexeev opened #35206 "GDScript function arguments may have the same name"
**Godot version:**
v3.2.beta6.official

**OS/device including version:**
Linux

**Issue description:**

Do you know that GDScript function arguments may have the same name?  :smile:

**Steps to reproduce:**

[code]

![200116-1](https://user-images.githubusercontent.com/47700418/72542083-a010eb00-3894-11ea-9e02-1dbddfeff861.png)

[2020-01-16 16:18] Torguen opened #35207 "Occasional crashes in Mono project"
**Godot version:**
3.2 beta 6 mono

**OS/device including version:**
win10 64 home

**Issue description:**
Crashes on specific equipment when the game window is closed while a cursor is pressed, for example the right cursor.

Crash occurs on my laptop (GPU Radeon vega 8)

There is no crash on my desktop computer although it takes a while to close the window.

**Steps to reproduce:**
Run the scene.

[2020-01-16 16:28] blockspacer commented on #35067
If it is project issue than how it may be fixed? (i`m about minimal reproduction project with few 4 planes aligned with each other and two rectangular solids)

[2020-01-16 16:59] gururise commented on #30613
There's also [GodotGymAI](https://github.com/lupoglaz/GodotGymAI) that uses PyTorch.

[2020-01-16 17:11] git2013vb opened #35211 "ERROR: get_breakpoints: Condition ' base.begins_with("local://")"
OS: Debian 10

[code]

No idea where this error come from.
I got nothing in local://

in Output docker:
![image](https://user-images.githubusercontent.com/13235119/72546835-6388c380-3883-11ea-91bd-c23d18d9a07f.png)

Why godot give me error on port 6008? The other open project is on port 6007

[2020-01-16 17:24] RevoluPowered commented on #30542
This is something which I wanted for debugging and really think it adds to Godot's workflow for 3D.

[2020-01-16 17:45] #32513 closed

[2020-01-16 18:08] Av3r3tt opened #35212 "Godot crashes on quit on Mac when not first exiting to Project Window (Godot Standard 3.1.2)"
**Godot version:**
Standard 3.1.2

**OS/device including version:**
Using Godot on Mac OS 10.14.6

**Issue description:**
When pressing Command-Q (Quit) on the Mac after regular saving, the Godot app should quit, but instead goes into spin and eventually crashes. While this bug is non-lethal, and does not occur when first exiting to the Project Manager via Alt-Cmd-Q, it happens often, though not o

[2020-01-16 18:25] Av3r3tt opened #35213 "Path2D does not allow for variation in offset of code-instantiated PathFollow2D instance"
**Godot version:**
Standard 3.1.2

**OS/device including version:**
Mac OS 10.14.6

**Issue description:**
When adding instantiated PathFollow2D nodes to a Path2D, all nodes are forced to the same offset even when explicitly set differently.

**Steps to reproduce:**
See attached project. I am aware that PathFollow2D explicitly states that it only works if it is a child of a Path2D, and I have trie

[2020-01-16 18:37] Calinou commented on #35204
@git2013vb Please upload a minimal reproduction project to make this easier to reproduce.

[2020-01-16 18:37] Calinou commented on #35211
Can you reproduce this with a non-Mono-enabled version of Godot?

[2020-01-16 20:18] nezvers commented on #34907
@malbach and what if you don't have a keyboard, only a gamepad? It's a bad idea to make the player use more buttons than the navigation ones.
You can see the situation on my [GameTemplate](https://github.com/nezvers/Godot-GameTemplate). I want a fluid User Experience system.

[2020-01-16 20:27] #27362 closed

[2020-01-16 20:27] #32231 closed

[2020-01-16 20:36] neikeq commented on #27884
I cannot reproduce with the corrupted folder on 3.2 beta 5.

[2020-01-16 20:40] neikeq commented on #27257
This looks the same as either #10946 or #17044.

[2020-01-16 20:43] #26800 closed

[2020-01-16 20:47] #35035 closed

[2020-01-16 20:47] neikeq commented on #26686
This is either wrong with msbuild on that system or there's something wrong with our msbuild logger. If it's the latter, this can't be changed until 4.0, so I'll move it to that milestone.

[2020-01-16 21:02] Av3r3tt commented on #35213
While a workaround is available (just don't instantiate PathFollow2Ds from scenes and attach them, but instead duplicate them from existing ones), this is clearly unexpected behaviour. Maybe a documentation hint would help.

[2020-01-16 21:02] #35213 closed

[2020-01-16 21:13] benbishopnz opened #35220 "OS.window_fullscreen causing input latency"
**Godot version:**
v3.2.beta2

**OS/device including version:**
Windows 10

**Issue description:**
I was trying to debug input latency in my game and noticed that there were 3-5 additional frames while vsync was enabled.
After some more testing I found that there was only 1 extra frame if project setting **display/window/size/fullscreen** was set to **false** (or **OS.window_fullscreen = false**)

[2020-01-16 21:13] akien-mga commented on #27884
Assuming fixed, please comment if you can still reproduce it.

[2020-01-16 21:23] Calinou commented on #35220
Which graphics card model do you have? Try disabling Vsync in the project settings.

[2020-01-16 21:24] benbishopnz opened #35221 "Changing vsync via code doesn't work"
**Godot version:**
v3.2.beta2

**OS/device including version:**
MacOS Mohave 10.14.6

**Issue description:**
Changing vsync setting via code doesn't seem to do anything. I notice the editor requires a restart now when switching the setting, so perhaps the game would need to restart too. Is there a command line run option to override the project setting? I could not find one in the documentation.

[2020-01-16 21:32] #26691 closed

[2020-01-16 21:40] akien-mga commented on #19271
For the record, I checked if #33615 fixes this but it doesn't.

[2020-01-16 21:42] akien-mga commented on #22889
For the reference, since it's similar I checked if #33615 fixes this issue, but it doesn't appear to.

[2020-01-16 21:42] benbishopnz commented on #35220
A GTX970. I have a label on my hud which shows `Engine.get_frames_per_second()` so it's obvious when it is on/off too.
I tried disabling Vsync and yes the input latency is lower, but it also burns 100% of the CPU time trying to generate as many frames as possible. This is fine on my desktop but seems like a bad idea for low-spec devices and laptops (don't want to set fire to anybody's knees.)
debu

[2020-01-16 21:43] qarmin commented on #29949
Seems that this issue is fixed

[2020-01-16 21:43] #29949 closed

[2020-01-16 21:44] qarmin commented on #29756
I can't reproduce invalid read in master branch

[2020-01-16 21:44] #29756 closed

[2020-01-16 21:47] qarmin commented on #29686
Strange, but I can't reproduce this any more, so I will close also PR.

[2020-01-16 21:47] #29686 closed

[2020-01-16 21:48] LinuxUserGD commented on #34825
I found a workaround:
- copy 4.5 folder (`/run/media/user/user/git/godot/bin/GodotSharp/Mono/lib/mono/4.5`) to a temporary location while compiling
- after compilation finished, copy it back

First case (running it fails with above error that mscorlib.dll was not found):
[code]
Second case (while compiling or after copying it back):
[code]
So both mingw windows and linux binary runs well with or w

[2020-01-16 21:54] akien-mga commented on #20620
In the current master branch, I can't reproduce the issue where it prints `"True, Disabled: True"`, so this seems to have been addressed somehow.

[2020-01-16 21:54] #20620 closed

[2020-01-16 21:56] #28803 closed

[2020-01-16 21:56] #33369 closed

[2020-01-16 21:56] #34124 closed

[2020-01-16 22:00] LinuxUserGD commented on #31793
Most issues with compiling mono and godot with mingw seems to have been fixed with or without using docker on linux, so thanks for showing the required compilaton steps!

I only get some missing .dll error (https://github.com/godotengine/godot/issues/34825) but with the workaround compiling and running mono works for me with the linux binary and windows (wine).
If someone else still has some issue

[2020-01-16 22:00] #31793 closed

[2020-01-16 22:00] takaturre opened #35222 "Cannot change root node type by script"
**Godot version:**
3.0-3.2 (probably older too)

**Issue description:**
There is no way to change the type of the root node of a scene *by script*. It can be done by right clicking the node in the tree list and choosing Change Type however. If trying `replace_by( new_node )` the following error is thrown in 3.2 : `Cannot get path of node as it is not in a scene tree.`. The same error is thrown if

[2020-01-16 22:01] Calinou commented on #35221
There's one for the Vsync via Compositor setting, but not for the general Vsync setting. We should probably add one to bypass forced Vsync in gamejam games :slightly_smiling_face:

[2020-01-16 22:02] akien-mga commented on #8325
Fixed by #33615.

[2020-01-16 22:02] #8325 closed

[2020-01-16 22:04] akien-mga commented on #3685
Is this still reproducible in the current master branch?

[2020-01-16 22:10] #34861 closed

[2020-01-16 22:13] neikeq commented on #35093
The signal is emitted from a different thread. Depending of what you want to do in the signal callback, this may have been solved by #35208. Otherwise, it's a duplicate of #16024.

[2020-01-16 22:13] #35093 closed

[2020-01-16 22:14] DEF7 commented on #35200
This problem also exists in v3.1. I am thinking maybe it has something to do with the fact that the room was built out of cube meshes produced by Godot.

[2020-01-16 22:30] Rubonnek commented on #24756
I can confirm this is still happening.

Here are the steps of what I did:

[code]
Also the Exec Path and Exec Flags boxes are somewhat glitchy. The text inside them sometimes disappear all of a sudden when copy-pasting the Exec Path and Exec Flags values. I could not find a way to replicate this last small issue consistently.

[2020-01-16 22:42] Rubonnek commented on #24756
For what is worth, the {col} and {line} values do not seem to work when I use the following:

[code]

Here's how the show up in `editor_settings-3.tres`:
[code]

[2020-01-16 22:45] fenix-hub opened #35225 "No implementation found for double_tap (Android)"
**Godot version:**
v3.2beta6

**OS/device including version:**
Android

**Issue description:**
I'm correctly exporting my project for Android and testing it, but when I double tap the apps crashes.
For the Windows version there isn't any issue, and the project is running fine.
Currently I'm not handling inputs in any particular way other than with the _input() function and using the same MouseButt

[2020-01-16 22:46] Torguen commented on #35207
I am experiencing more blockages with low framerate rates when I close the window on my laptop.
For example with 10fps I just suffered a lock when closing the window.

[2020-01-16 22:50] akien-mga commented on #35225
Duplicate of #35049.

[2020-01-16 22:50] #35225 closed

[2020-01-16 23:29] muiroc commented on #22889
Just an hint: adding this line
[code]
for example before this line
https://github.com/godotengine/godot/blob/045a5ce14a22384b236e5a4fddeeb999e1c46f41/modules/bullet/collision_object_bullet.cpp#L324

seems to fix the issue in bullet, probably something about this condition
https://github.com/godotengine/godot/blob/045a5ce14a22384b236e5a4fddeeb999e1c46f41/modules/bullet/space_bullet.cpp#L699

But I'

[2020-01-17 00:05] takaturre opened #35226 "Renaming a node loses nodepath references from that node to children (and vice versa), and references within the branch."
**Godot version:**
3.2 beta5 or any earlier I've tried.

**Issue description:**
When renaming a node that has node path references to children nodes (any nested inside), those references are kept after first rename, but renaming it again loses the references - they are left pointing at the situation after the first renaming. In addition to the renamed node losing its references, it also happens fo

[2020-01-17 00:17] firecloud888 commented on #35167
I think the backbuffercopy is what I need, just like in gamemaker, you render a stuff to the surface then use shader to the surface, but I think it's better if there's a way to get the buffer from current draw not the screen, on the other words, render current draw to a separate place. In godot I think we must put different layer into individual scene, but I dont't know how to do that concretely

[2020-01-17 00:20] bojidar-bg commented on #35226
Potentially related to #34872, can't say for sure.

Does the issue happen if:
1. You save the scene before the second rename?
2. You save and reload (close and open again) the scene before the second rename?
3. You save and reload the scene before the first rename?

[2020-01-17 00:24] bojidar-bg commented on #35167
@firecloud888 That would be the third option, but as I mentioned, achieving transparency in that layer is a bit not-simple.

[2020-01-17 00:28] takaturre commented on #35226
1. Yes, the issue still happens.
2. Yes, exactly like 1.
3. Yes.
In short, seems completely unrelated to saving. Due to this, I had earlier thought the first rename already broke it, but in the message above I thought it was a clumsy memory (because thought that if the script gets the value after first rename, it should work).

[2020-01-17 00:36] takaturre commented on #35226
So.. My last completely uneducated guess is that Godot internally stores those nodes (not node paths) for the renaming conveniencies. But after the first renaming, this storage is lost (due to renaming), and so the "renaming support" vanishes afterwards. (I have 0 knowledge of Godot's internal workings.)

[2020-01-17 00:50] Calinou commented on #35200
@DEF7 There's always been issues with procedural meshes for GIProbe/BakedLightmap. I don't know how this could be fixed. Try creating the scene in Blender instead.

[2020-01-17 02:03] dberickson commented on #17477
Since I didn't see this addressed in the latest changelog so I thought it would be good to comment on again - this is a significant limitation with Godot. I believe the basic functionality required is to be able to keyframe individual axis within the transform, scale, or rotation (and other parameters as well, such as an alpha value in a color value). You can do this in Blender and other tools. A

[2020-01-17 02:21] eon-s commented on #3685
Yes, but this is probably the expected behavior, unless there is a way to force physics updates on special situations like with raycasts.

[2020-01-17 04:43] fian46 opened #35228 "Heavy use of coroutines can trigger random GDScript error opcodes in random files (with invalid error line report)"
**Godot version:** 3.1.1

**OS/device including version:** Linux mint 19.3

**Issue description:** the error is not appear in debugger but appear in log files. i enable file logging in project setting

this is the output in log file

**ERROR**: Condition ' (ip + 5) > _code_size ' is true. Breaking..:
   At: modules/gdscript/gdscript_function.cpp:441:call() - Condition ' (ip + 5) > _code_size ' is

[2020-01-17 05:13] cart commented on #27830
Unfortunately I get this whenever i export to macos

[code]

[2020-01-17 05:13] cart commented on #27830
Thats using 3.2 beta 6

[2020-01-17 05:20] CarlGustavAlbertDwarfsteinYung commented on #2099
There's no demo or example that  I could find that correctly demos KinematicBody to make is_on_floor and is_on_wall work correctly and remove jitter.

[2020-01-17 05:54] akien-mga commented on #26924
Can you provide `adb logcat` for the crash?

[2020-01-17 05:58] #35025 closed

[2020-01-17 07:21] akien-mga commented on #25138
Thanks for the update, I misread this issue indeed.

I guess we only need to keep #8368 open, but it confirms that it's now starting to be an actual deal breaker and not just a missing feature as it used to be.

As a workaround for your controller in the meantime, it might be possible to create a mapping for it that still follows the SDL 2.0.5 style which we support, without using the half-axes fe

[2020-01-17 09:28] Chaosus commented on #35228
Can you provide a code example - otherwise It's hard to fix.

[2020-01-17 10:11] jitspoe commented on #31005
Hmm, tried for a bit to make something with just interpolate_with() but couldn't repro the issue.  Perhaps the issue is not with interpolate_with, but instead how it's being used within a skeleton on both IK and the collada importer.  I'll have to look into it more later.

[2020-01-17 10:20] supagu opened #35230 "Vulkan: Alpha channel not included in Viewport capture due to `SCREEN_TEXTURE` and `DEPTH_TEXTURE` not being updated"
**Godot version:** Vulkan

**OS/device including version:** Linux/Arch/Manajro

**Issue description:** I have a ViewportContainer with a Viewport child to render something in the viewport. I have a custom ShaderMaterial applied to the ViewportContainer
with some code like this:

[code]
![image](https://user-images.githubusercontent.com/11153232/72604606-1c75fd80-396b-11ea-865c-30ca2193447e.png)

t

[2020-01-17 10:31] fian46 commented on #35228
hi i found the trigger of the bug, it happened when i trying to save my script in editor while my game is
 still running. i think it still a bug too right ? when i disabled sync script change and sync scene change from debug menu the problem goes away.

[2020-01-17 10:35] fian46 commented on #35228
i also find another issue in 3.1.1 when you exit the editor the **sync script change and sync scene change** is not saved when you opened the editor again in the future. i am not sure if this is intended but as user it is not pleasant.

[2020-01-17 10:35] fenix-hub commented on #35225
Sorry for the duplicate, thank you very much!

[2020-01-17 10:38] #35090 closed

[2020-01-17 10:44] CHIESOFTWARE opened #35231 "Atlas texture do not work whit particles and texture progress"
**Godot version:**
3.1.2
**OS/device including version:**
linux, ubuntu studio 19
**Issue description:**
i try to assign a texture for a particle node , i use an atlas texture but is not visible,  if i separate that texture an i use it as a single file it work fine. i think is inefficient to have single files for particles.

Also if i try to assign a texture atlas to a texture progress node the te

[2020-01-17 10:53] Linko-3D opened #35232 "Changing the preset settings of the textures can't be applied"
**Godot version:** 3.2 RC

**OS/device including version:** Windows 10

**Issue description:** If I select a texture or multiple textures in Godot 3.2 RC and go in the Import tab and use a preset, then press Import, when I click on the image again I can see that his import settings are unchanged. But if I click manually on the settings I want without using the presets and reimport, the settings ar

[2020-01-17 10:54] groud commented on #35232
Could you please fill in the issue template (and not delete it right away)?

[2020-01-17 11:18] akien-mga commented on #34252
Is this still reproducible in 3.2 RC?
Can you provide a project that reproduces it?

[2020-01-17 11:20] bruno-reload commented on #26924
The problem happens when I add wordemvironment to the scene.

I used the [godot_3.2rc1](https://drive.google.com/file/d/15WNrFxQ6fMBcyOLmakPD3kc0sgvdEh2H/view?usp=sharing).
My [divice](http://opengles.gpuinfo.org/displayreport.php?id=3449).

[2020-01-17 11:21] ericrybick commented on #34691
https://github.com/godotengine/godot/pull/34040/files#diff-ab5997b3cc868f482274b0e0ec449b4d

I can confirm that reverting the line in scene_tree.cpp fixes the crash.

[2020-01-17 11:25] akien-mga commented on #34462
Is this still reproducible in the current 3.2 RC 1?

What GPU and GPU drivers are you using?

@clayjohn I seem to remember a PR where we discussed an increase in compilation time of the default shader (something like 12 ms to 70 ms or something), but I can't find it anymore. Do you remember what it was? It's likely related.

[2020-01-17 11:31] Torguen commented on #34462
This no longer happens in 3.2 RC 1.

[2020-01-17 11:40] arkology commented on #35231
About TextureProgress is better described in https://github.com/godotengine/godot/issues/34837

[2020-01-17 11:45] akien-mga commented on #34691
I can't seem to reproduce the crash in OP with a debug build of the master branch (0aefec2), but I can reproduce it with exporting to an existing file as described in https://github.com/godotengine/godot/issues/34691#issuecomment-570932384

[code]

We can definitely change that line back to what it was if it causes crashes, though it would be good to understand why having it a const reference crea

[2020-01-17 11:59] 40detectives commented on #27910
+1.

Some other common IDE usability/readability features include writing function signatures in italics too, which would be nice to have in addition to what @StragaSevera suggested.

[2020-01-17 12:02] akien-mga commented on #26924
Thanks! There's no detail on what fails in the logcat sadly :/

Could you try again, ensure that all debug options are used?
- In Android export preset, enable "Screen/Opengl Debug"
- In Project settings, enable "Debug/Settings/Stdout/Verbose Stdout"
- Be sure to export a Debug binary

I'm not sure that it will give us the info we need but it's worth a try.

Could you also share the project that y

[2020-01-17 12:05] git2013vb commented on #35204
Mostly of these issues happen once a time.  For a different situations that is difficult to replicate even because I get them when I have already done some steps that I did't keep in mind. Also in other cases it will be useful to have a clear error message instead "error x=null" ;)

[2020-01-17 12:10] akien-mga commented on #34462
Ah, good to know! Closing then.

[2020-01-17 12:10] #34462 closed

[2020-01-17 12:33] DrMoriarty commented on #28999
I also have the same problem. I try to pack some text resources and use it in game. I tried `zstd` and `gzip`.  I can not open this compressed files in gd script because open_compressed returns error=15.

[2020-01-17 12:48] #29596 closed

[2020-01-17 12:52] Keetz opened #35236 "Code minimap not removed in shader editor"
**Godot version:**
v3.2.rc1.official

**OS/device including version:**

**Issue description:**
Disabling the code minimap in editor settings does not hide it from the shader editor

![Selection_026](https://user-images.githubusercontent.com/6707330/72613635-62fa3680-3930-11ea-9cdb-52fbe734a9e0.png)
Just to the right of the Editor Settings window is the end of the script editor where the minimap is

[2020-01-17 13:11] Calinou commented on #35231
Duplicate of #33855 and #34837.

[2020-01-17 13:11] #35231 closed

[2020-01-17 13:18] Keetz commented on #35236
The setting works after the editor has been restarted it seems. It just doesn't take immediate effect as in the script editor.

[2020-01-17 13:23] madmiraal commented on #35024
Duplicate of #34117?
Have you tried the suggestions [there](https://github.com/godotengine/godot/issues/34117#issuecomment-565698923)?

[2020-01-17 13:36] #34648 closed

[2020-01-17 13:39] madmiraal commented on #34228
Duplicate of #34117?
Have you tried the suggestions [there](https://github.com/godotengine/godot/issues/34117#issuecomment-565698923)?

[2020-01-17 13:40] akien-mga opened #35238 "HTML5 error with Emscripten 1.39.5: '' is not a valid selector"
**Godot version:**
3.2 master (a6f3e1345c44)

**OS/device including version:**
Linux, Firefox Nightly

**Issue description:**
With a debug export template built with Emscripten 1.39.5, I get this error when running a project:
[code]

It works fine with previous versions up to 1.39.4.

Relevant changelog: https://github.com/emscripten-core/emscripten/blob/1.39.5/ChangeLog.md#v1395-12202019

I suppo

[2020-01-17 13:41] madmiraal commented on #34663
Duplicate of #29392?

[2020-01-17 13:48] madmiraal commented on #34596
This problem occurs when a KinematicBody using `move_and_collide()` continuously collides against more than one surface. The continuous collisions are generated by a form of gravity or when the player is pushing against a wall.

This problem does not occur in 3.0.6.
This problem occurs in Godot Physics since 3.1-stable.
This problem occurs in both Godot Physics and Bullet Physics since 3.2 alpha 1

[2020-01-17 13:53] #34691 closed

[2020-01-17 14:03] akien-mga commented on #35231
It's closed because it's a duplicate of pre-existing issues. These issues are still open, so no, the bug is still not fixed.

[2020-01-17 14:18] madmiraal commented on #32182
Duplicate of #29392?

[2020-01-17 14:20] bojidar-bg commented on #35222
Here is the code the SceneTreeDock uses to ensure that the node is properly reinstated as the current scene:
https://github.com/godotengine/godot/blob/e7ee9e01a64bb1296431d82f9f1d888a90b6ea1c/editor/scene_tree_dock.cpp#L2130-L2134

[2020-01-17 14:20] madmiraal commented on #29392
Related to #28438?

[2020-01-17 14:21] seriousCoolness opened #35239 "Option to allow for selecting between different subtiles with the same bitmask in an autotile."
To elaborate, I mean that if multiple subtiles have the same bitmask in a single autotile, you should be able to select between which tile you want to place in the tilemap. This would allow for things like being able to have one-way platforms and solid platforms exist seamlessly within the same autotile by giving the one-way platforms the same bitmask as the solid platforms. It would also probably

[2020-01-17 14:54] yaelatletl commented on #33381
Can confirm, this still happens. found the same bug and this post to be the only solution, before I couldn't correctly test the vulkan branch at all.
FPS would crawl at 1 FPS
R7 3700, rx5700, 32GB RAM

[2020-01-17 15:17] NieznanywInternetach opened #35242 "3.2 RC1 hangs on Windows, worked in beta 6 [GLES3] (regression from 796d35d)"
**Godot version:** 3.2 RC1 official
(3.2 beta 6 works, is without the problem)

**OS/device including version:** Windows 8.1 (64bit)
AMD A8-6410 APU with AMD Radeon R5 Graphics

Driver package version - 13.302.1501-140320a-169666C-Toshiba
2D Driver Version - 8.1.1.1634
OpenGL® Version - 25.20.15000.13547
OpenCL™ Version - 10.0.2766.5
AMD Mantle Version - 9.1.10.0295
AMD Mantle API Version - 102400

[2020-01-17 15:20] takaturre commented on #35222
Thanks a lot! (Also for the help on other issues!)

There "magical" line I was missing is that `set_edited_scene`. Couldn't find it in the docs, though finally found this: [Adding a root node from a script](https://godotengine.org/qa/4222/adding-a-root-node-from-a-script). Also tried it on the EditorPlugin and EditorInterface but it needs to be the EditorNode (which there's no docs about?).

Btw.

[2020-01-17 15:20] #35222 closed

[2020-01-17 15:39] nhold commented on #24146
I don't think the intended behaviour should be a crash or even mess up any references. Referencing the game from the menu (To load to) and the menu from the game (To load to) should be a perfectly reasonable thing to expect to work.

When parsing the resources why can't we handle ensuring only one reference to the resource is loaded and skip loading it again if it has been loaded in the current se