[2020-08-14 08:39] J-E-Mc opened #41248 "Delete key deletes local node while in remote scene"
**Godot version:** v3.2.2.stable.official

**OS/device including version:** Windows 10 Home 10.0.18363 Build 18363

**Issue description:** Pressing the delete key when viewing a remote scene will attempt to delete any node selected in the local scene

**Steps to reproduce:** Open a scene and select a node in the local tab then run the game and switch to the remote tab in the godot editor, then pre

[2020-08-14 09:09] madmiraal commented on #41167
Closing as this is the correct behaviour. `get_collision_normal()` can return a `Vector2()` zero length vector.

The normal will be the zero length `Vector2()` if the ray is completely enclosed in the `Rectangle` `CollisionShape` i.e. there isn't an edge intersection. The `RayCast` is colliding with the `Object`; so `get_collider()` is not `null`, but there is no normal, because it's not intersect

[2020-08-14 09:09] #41167 closed

[2020-08-14 09:10] Xrayez commented on #41236
Was it working in 3.2.2?

[2020-08-14 09:22] JohanAR commented on #40059
Well if it's being dropped then it doesn't make sense to pull in a replacement.

I know of Godot's goal to minimize dependencies, and I don't want to go far off topic here, but at least to me an octree sounded like a good candidate for importing: It's a pure maths/data class so unlikely to require additional dependencies, it's unlikely to require updating once pulled in, and it would be good if it

[2020-08-14 09:55] akien-mga commented on #41241
Could you attach a minimal project that reproduces this issue? It greatly helps with debugging.

[2020-08-14 10:12] akien-mga commented on #36654
Fixed by #41240.

[2020-08-14 10:12] #36654 closed

[2020-08-14 10:16] dalexeev commented on #41023
This difference in coordinates seems to be the cause of the bold lines in 4.0.

![](https://user-images.githubusercontent.com/47700418/90239335-feed1180-de2f-11ea-9df2-385983d82014.png)

[2020-08-14 10:21] akien-mga commented on #41246
What is the configured "Export Path" for all three presets?

[2020-08-14 11:15] StarWolf3000 opened #41251 "Tooltips not shown while MPC-HC is playing back file"
**Godot version:**
v3.2.2.stable.official

**OS/device including version:**
Windows 8.1 64-bit
NVIDIA GeForce GTX 960 2GB

**Issue description:**
I'd like to play some music in the background while working in Godot. My prefered player for this is Media Player Classic - Home Cinema. But I have encountered the issue, that the editor won't show any tooltips, as long as the player is playing back any

[2020-08-14 11:45] Zireael07 commented on #41167
Is this documented anywhere? It strikes me as an issue that will catch many people unawares.

[2020-08-14 12:17] Calinou commented on #41251
See also https://github.com/godotengine/godot/issues/3835.

[2020-08-14 12:19] Calinou commented on #41237
Actually, this isn't the case until Godot 4.0 which offers a "physical key" option. See https://github.com/godotengine/godot/pull/18020.

[2020-08-14 12:44] VictorHASilva commented on #40891
Hello everyone, I decided to give the Audio Worklet a try, and I did manage to make it run without error, and I can see it is running through out the breakpoints.But . . . the only thing is, I can’t seem to find where the Audio Streams connects to the context inside the audio_driver_javascript.

![image (7)](https://user-images.githubusercontent.com/26143395/90250470-70b66280-de12-11ea-9ed4-cd8959

[2020-08-14 12:47] tavurth opened #41252 "Division by zero should return +INF"
**Godot version:**
<img width="563" alt="Screenshot 2020-08-14 at 18 26 41" src="https://user-images.githubusercontent.com/100964/90250394-b3e8f380-de5b-11ea-8a66-1a286becac71.png">

**OS/device including version:**
<img width="334" alt="Screenshot 2020-08-14 at 18 26 59" src="https://user-images.githubusercontent.com/100964/90250418-bf3c1f00-de5b-11ea-89ba-80b77c6ed593.png">

**Issue description:

[2020-08-14 12:51] Calinou commented on #41252
This should probably be opened as a [proposal](https://github.com/godotengine/godot-proposals/) rather than a bug report.

[2020-08-14 13:00] TypeOverride2 opened #41253 "Loading (Collada) Model is crashing"
**Godot version:**
Latest master 4.0

**OS/device including version:**
Windows 7 tested

**Issue description:**
On editor automatic importing the model, this crash occurs:
"CRASH_BAD_INDEX" on Vector

Seems that `reasterizer_storage_rd::mesh_owner.getornull(p_mesh)` is catching the data not correctly for `rendering_server::mesh_surface_get_arrays`

on `editor_import:collada::_create_mesh_surfaces`

[2020-08-14 13:00] tavurth commented on #41252
Yep sorry, forgot about the proposal repo!

[2020-08-14 13:00] #41252 closed

[2020-08-14 13:05] dalexeev commented on #41023
The problem with thick lines can be solved simply, just add the missing coefficient 0.5 in line 472:

https://github.com/godotengine/godot/blob/5100bb42ae92feff9d68d3ef080938980e666bbc/servers/rendering/rendering_server_canvas.cpp#L471-L477

But I still don't understand why the green line is drawn 1 px higher.

[2020-08-14 13:13] Calinou commented on #41253
@TypeOverride2 Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-08-14 13:18] EricEzaM commented on #41248
Hmmm... This wouldn't by any chance be linked to issues about input propagation like #36205, #38922, #37807 and #37054?

I attempted a fix in #39039, maybe download that and give it a try? I'm on mobile now so I might be able to test reproduction and if that pr fixes it later.

[2020-08-14 13:22] madmiraal commented on #41167
It probably should be a separate issue. The OP was about `reflect` insisting on a normalised vector, whereas the confusion comes from what to expect from `RayCast::get_collision_normal()`.

The [current documentation](https://docs.godotengine.org/en/latest/classes/class_raycast2d.html#class-raycast2d-method-get-collision-normal) just says:

Interestingly, the collision point returned by `get_colli

[2020-08-14 13:30] Calinou commented on #16679
@ASavchenkov This is usually only an issue when you open multiple *editor* instances to edit the same project.

[2020-08-14 13:33] MikeSchulze commented on #38001
thx for fast fixing

[2020-08-14 13:42] TypeOverride2 commented on #41253
[model_test.zip](https://github.com/godotengine/godot/files/5074857/model_test.zip)

Here. Its only a dae file i created. Make it simple. Added a skeleton. And a blend shape.

I used Blender and exporter Better-Collada-Expoter with this config:
![crash0](https://user-images.githubusercontent.com/69324102/90255572-bee45980-de44-11ea-8770-a3d0e6fdd43d.png)

But anyway. I tested it in 3.2.2 and it is

[2020-08-14 13:48] Calinou commented on #41253
You should probably triangulate your mesh when exporting it, either by checking **Triangulate** in the Blender export options or by adding a Triangulate modifier and ensuring **Apply Modifiers** is enabled in the export options.

[2020-08-14 13:50] TypeOverride2 commented on #41253
ok ok. But thats not the problem ^^ (maybe I shouldn't have mentioned it. Never bothered me on projects) Or isit on latest 4.0 the problem that he is crashing? But anyway. He shouldnt crash anyway.

[2020-08-14 13:58] madmiraal commented on #41065
I'm confused. The mappings for controllers with half axes '+' or '-' or inverted axes '~' mapping entries were unsupported and discarded in 3.2.2 including 030000008f0e00000300000009010000:

Are you using your own custom mapping in 3.2.2?

With regards 3.2.3, looking at the second gif and the mapping itself, the difference between the two gifs is that the mapping is reversing the D-Pad and the lef

[2020-08-14 14:03] #41113 closed

[2020-08-14 14:15] NVriezen commented on #30558
What should be included in an example project for UWP?
I myself am targeting Xbox One and I would benefit from UWP working well with Godot.
Unfortunately I don't have the knowledge yet, but I am planning to dig into the engine a bit more.
So I wouldn't mind to cook up a little example project for people to reference for their UWP projects.
And also for anyone working on the engine code fixing cert

[2020-08-14 14:20] Calinou commented on #30558
@NVriezen The [demo projects](https://github.com/godotengine/godot-demo-projects) are usually a good reference for porting Godot to a new platform.

[2020-08-14 14:33] clayjohn commented on #24596
Added in https://github.com/godotengine/godot/pull/41240

[2020-08-14 14:33] #24596 closed

[2020-08-14 14:45] akien-mga commented on #30558
I can confirm that touch support works fine on Win32, I've tried it myself on my convertible laptop. You can check @HEAVYPOLY's HeavyPaint application which uses touch and pen input: http://www.heavypoly.com/heavypaint

[2020-08-14 14:49] Calinou opened #41257 "Vulkan: Adjustments (brightness/contrast/saturation) not reimplemented yet"
**Godot version:** Git https://github.com/godotengine/godot/commit/aded76cb84fd1081279d2ed11fd73b553c6e6b4e

**OS/device including version:** Fedora 31, GeForce GTX 1080 (NVIDIA 440.100)

**Issue description:**

After enabling adjustments in Environment, tweaking brightness/contrast/saturation does nothing.

**Steps to reproduce:**

Enable Adjustments in Environment and tweak the values.

**Minima

[2020-08-14 15:38] dancroote commented on #39432
I am getting this issue every time I open Godot. Please can this be reopened?

[2020-08-14 15:40] dancroote opened #41259 "modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.ArgumentException: Illegal characters in path."
I am having precisely this issue, which the original person has closed since they cannot replicate it.
I am receiving the same errors as described in the console every time Godot is opened.

https://github.com/godotengine/godot/issues/39432

[2020-08-14 15:46] Stovehead commented on #16854
I'm having the same issue on 3.2.2 stable, but with Area2D.

[2020-08-14 15:51] #40946 closed

[2020-08-14 15:54] qarmin commented on #36256
Now it shows this errors:
[code]

[2020-08-14 15:59] ginobean opened #41260 "enabling glow on GLES2 driver and enabling verbose debug output yields prodigious amounts of error logs on my moto g6 device"
**Godot version:**

Godot Engine v3.2.2.stable.official -
 https://godotengine.org

**OS/device including version:**

    08-14 11:48:28.037  2454  2524 I godot   : Using GLES2 video driver
    08-14 11:48:28.038  2454  2524 I godot   : godot: ENABLING GL DEBUG
    08-14 11:48:28.046  2454  2524 I godot   : OpenGL ES 2.0 Renderer: Adreno (TM) 506

**Issue description:**

Built a sample project tha

[2020-08-14 16:30] pouleyKetchoupp commented on #39199
@ThakeeNathees That looks like a separate issue.
On Windows: In the scene tree and script list, tooltips target the wrong item and they keep blinking. They work correctly in the inspector.
On Linux & MacOS: From what I've just tested on master, tooltips are not displayed at all in the scene tree or script list.

[2020-08-14 16:36] HEAVYPOLY commented on #41236
Just tested on 3.2.2, same result, works when run from editor but not in exported project @Xrayez

[2020-08-14 16:38] pouleyKetchoupp opened #41261 "Tooltips target the wrong item and keep blinking in scene tree and script list"
**Godot version:**
Master d3b5c0948c943b3fbcb4b5322262c59c92abfa83

**OS/device including version:**
Windows 10

**Issue description:**
On Windows, tooltips in the scene tree or script list show information about the wrong item and keep blinking.
Example in the scene tree:
<img src="https://user-images.githubusercontent.com/1075032/90272004-04148580-de5d-11ea-8d31-65bb5f11b25e.gif" width="200" />

[2020-08-14 16:45] pouleyKetchoupp opened #41262 "Tooltips don't appear in the scene tree or script list"
**Godot version:**
Master d3b5c0948c943b3fbcb4b5322262c59c92abfa83

**OS/device including version:**
MacOS Catalina
Ubuntu 20.04

**Issue description:**
On Mac or Linux, tooltips don't appear at all in the scene tree or script list.

On Linux, it might be related to #37674 (difficult to validate that it's actually showing behind the window).
On Mac, tooltips in the inspector work properly so it ca

[2020-08-14 16:48] Calinou commented on #41259
Duplicate of #39432. (Please be more patient when requesting issues to be reopened.)

[2020-08-14 16:48] #41259 closed

[2020-08-14 17:10] neikeq commented on #39432
@dancroote What steps are necessary to reproduce this? Is it the same steps mentioned by OP?

[2020-08-14 17:21] dancroote commented on #39432
@neikeq Yes, exactly the same.
This occurs when I open any project (the pong cs demo for example) or create a new one.

` modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.ArgumentException: Illegal characters in path.
 modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.ArgumentException: Illegal characters in path.
 modules/mono/mono_gd/gd_mono_utils.cpp:371 - System.ArgumentException: Illegal

[2020-08-14 17:22] dancroote commented on #41259
Apologies, and thanks.

[2020-08-14 17:38] Calinou commented on #39432
@dancroote Does your Windows username have any unusual characters (non-ASCII characters, `!` symbol)?

[2020-08-14 17:41] dancroote commented on #39432
No, it looks like this

C:\Users\Dan\Documents\GodotProjects\test

[2020-08-14 19:05] setzer22 commented on #27615
I came across this looking for a way to compare two dictionaries, so allow me to give my two cents.

Regardless of the behaviour of `==`, I'd say godot needs a standard function to compare dictionaries by value. In a dynamic language such as GDscript, many people use dictionaries as one-off objects when you don't want to create a class. Moreover: Dictionaries are more performant and memory efficie

[2020-08-14 19:55] Rubonnek opened #41267 "Unable to see certain tilemap collision shapes"
**Godot version:**
3.2 branch commit f732cea0ff8311301d49fe7760f8339df6a6d4ea

**OS/device including version:**

Arch Linux

**Issue description:**

Most of the tilemap collision shapes are visible when enabling `Debug`->`Visible Collision Shapes`, but some shapes are not visible even though they have working collision shapes.

All these collision shapes are defined in a `TileSet` resource.

**Ste

[2020-08-14 20:04] Rubonnek opened #41268 "Removing collisions live whilst scene is running causes a crash when closing running scene"
**Godot version:**

3.2 branch commit f732cea0ff8311301d49fe7760f8339df6a6d4ea

**OS/device including version:**

Arch Linux

**Issue description:**

Editing collisions live whilst scene is running causes a crash.

**Steps to reproduce:**
This has only been tested in Linux.
1. Open attached project through the command line `godot -e`.
2. Run the scene (press F6)
3. Click on one of the `TileMap` no

[2020-08-14 21:44] YeldhamDev commented on #41232
The particle node that is a child of the scaled node has a scale of 0, changing that, the particles are emitted correctly:
![Screenshot_20200814_184354](https://user-images.githubusercontent.com/30739239/90294961-421ea300-de77-11ea-842b-564c81bb62cf.png)

[2020-08-14 22:07] capnm opened #41270 "Sprite3D is broken in the HTML export"
**Godot version:**

* broken 3.2.3.rc3
* works in 3.2.2.stable, 3.2.1.stable, ...

**OS/device including version:**

Ubuntu 20.04 LTS, Chrome, Firefox; stable

**Issue description:**

3.2.2 correct:

![Bildschirmfoto von 2020-08-14 23-38-56](https://user-images.githubusercontent.com/4047289/90295653-d3971080-de89-11ea-86ea-a1e540d9ebc3.png)

**3.2.3.rc3 broken**:

![Bildschirmfoto von 2020-08-14 2

[2020-08-14 22:15] RevoluPowered opened #41271 "Scons performance for rebuilds is slow"
**Issue description:**
Rebuilding a single file on high-end systems takes half of a full rebuild time.

**Steps to reproduce:**
time scons -j16
make change to some cpp file
time scons -j16

I want to do some research into this, so gonna use this issue and document it.

[2020-08-14 22:15] RevoluPowered commented on #41271
[code]

[2020-08-14 22:25] #41244 closed

[2020-08-14 22:28] RevoluPowered commented on #41271
[code]

[2020-08-14 22:37] RevoluPowered commented on #41271
```scons -j16  2345.50s user 184.19s system 1095% cpu 3:50.99 total```

[2020-08-14 22:44] JimArtificer commented on #41241
Added.

[2020-08-14 23:35] coppolaemilio commented on #41262
I can also mention that on my Windows 10 dual screen setup the tooltips appear on the second monitor and they blink a lot. Not sure if related but probably it is. If it's not clear I can probably make a video of it.

[2020-08-14 23:36] JimArtificer commented on #41241
I was able to fix my issue by changing the `Build Tool` editor setting to `MSBuild (VS Build Tools)`. It was set back to the default `dotnet CLI`.

[2020-08-14 23:49] neikeq commented on #41241
Re-opening as this is still considered a bug, even if it can be worked around. We must figure out why it fails with the dotnet CLI or revert it being the default build tool.

[2020-08-15 00:03] FeralBytes commented on #40953
As a follow up I also found that there is a bug in Android especially older Androids regarding shouldShowRequestPermissionRationale(). This may be the real problem.
https://issuetracker.google.com/issues/37081465

[2020-08-15 00:12] marstaik commented on #41271
`scons -j1 --profile=sconsprofiling.log target=release_debug` with zero changes
[sconsprofiling.log](https://github.com/godotengine/godot/files/5077872/sconsprofiling.log)

[2020-08-15 01:56] asheratnoveltyfactor commented on #40390
I keep having this same bug in different areas of my code I'm trying to debug.  It will, at weird points where I'm calling a private method from within the script (wish I could be more specific at the moment, but I'm not sure if I can), decide it needs to call a getter function for a property with a setget (which has already been set) that isn't even referenced in the private method.  Then, the st

[2020-08-15 04:02] andresilvasantos commented on #30915
I would just like to add that the UI / UX of the Blender node system is superb. Very intuitive, clean and well thought. I've tried Blueprints, Bolt and obviously, Godot VS, which all felt lacking in different ways.

Quickly pointing out things that could be improved in Godot VS that work well in Blender:

- Zoom in / out with mouse wheel (I know this issue has already been addressed, but it's stil

[2020-08-15 04:09] MarkAlicz opened #41274 "C# Visual Studio Code - Start Debugging"
The ability to edit the project and solution in visual studio code and studio is amazing and works great.  The only issue I have run into is when I use Visual Studio Code to start debugging it prevents the main Godot IDE from being able to start the debugging.

**NOTE:: I am using the extension C# Tools for Godot**.  I realize this is most likely caused by the extension, however, I was curious if

[2020-08-15 04:30] DanielZTing opened #41275 ""Always on top" doesn't work on macOS"
**Godot version:**

v3.2.2.stable.official

**OS/device including version:**

MacBookAir8,1 (Retina, 13-inch, 2018)
macOS Catalina 10.15.5 (19F101)
Intel UHD Graphics 617 1536 MB

**Issue description:**

The property "display/window/size/always_on_top" does not work on macOS. (It does work on my Windows machine. I took a peek at the source code and it looks like `os_windows.cpp` actually detects t

[2020-08-15 05:32] fire commented on #30915
* zoom in and out is still broken
* minimize nodes don't do as much as grouping nodes
* The two hiding / minimizing features make it more confusing I think. Also colour blindness
* I agree that comments should move the nodes inside
* Cut and paste yes!
* Google Summer of Code 2020 is on Grouping and Ungrouping nodes https://github.com/swarnimarun/godot/pull/7

[2020-08-15 06:31] Vivraan commented on #41274
Also get the Mono debugger extension, if that helps.

[2020-08-15 06:46] Zireael07 commented on #41118
One more thing I just realized: most Emscripten projects use a loading bar where Godot has a spinner (because the latter Loading... or loading bar is clearly Godot's)

Examples: https://marukrap.github.io/RoguelikeTutorial2020/Demos/Part10.html
https://personal-1094.web.app/gemrb.html (this is **Baldur's Gate 2** running in GemRB on Emscripten - I haven't timed the loading but it's fairly fast for

[2020-08-15 06:55] lawnjelly commented on #41270
At first I thought it was drawing the upper 2 quads with 2d and it was batching, but it turns out to be a CSG box, 2 sprite3Ds, and a CSG mesh, looking at the project.

One possibility is that the same texture is being used on each and a texture binding optimization. Because the texture is already bound, it could be skipping some steps to set other state (blending perhaps, something like that). We

[2020-08-15 07:00] capnm commented on #41270
No, It breaks our games in HTML export.  I put other objects inside just to show that they work. You can take another texture or simply delete that what you don't like ;-)

[2020-08-15 07:12] lawnjelly commented on #41270
Ah this is useful. Do problems occur even with a single Sprite3D?

[2020-08-15 07:13] capnm commented on #41270
Yes.

[2020-08-15 08:19] pouleyKetchoupp commented on #41262
@coppolaemilio There's a separate issue for the blinking tooltips on Windows: #41261

Do you mean they are showing on the wrong monitor while the rest of the editor is on the first monitor?

[2020-08-15 08:46] GNSS-Stylist commented on #40592
This may be related to the wobbly/"wrong way around" interpolation of Quat when using cubic_slerp I stumbled upon as seen in this video:
https://youtu.be/6T5wmcpTBtk
The "triangle" and the camera as childs of the same spatial-node are using slerp. The car, using the same source values,  is first using cubic_slerp and later slerp_ni (which also seems to sometimes interpolate "wrong way around", alt

[2020-08-15 09:12] madmiraal commented on #41167
Looking at this more closely, it's only the `RectangleShape` that returns the `Object` when calling `get_collider()` for a `RayCast` that is completely enclosed by the shape. `CapsuleShape`, `CircleShape` and `ConvexPolygonShape` all return `null`. The others don't create an enclosure. So it probably makes sense to fix `RectangleShape` to return `null` too.

For completeness, in 3D all of the `Sha

[2020-08-15 09:27] Icemole commented on #1431
For anyone still coming here: the string passed as the first argument to `get_stylebox()` is NOT the resource's name, but the name when hovering the name of the node, near the checkbox (Godot 3.2.2). [In my case](https://imgur.com/a/7vCZwts), I had to hover over "Panel", and calling `get_stylebox("panel")` yields the correct `StyleBox`. I hope this helps someone out there.

[2020-08-15 09:48] angadmishra commented on #28082
Panning in 2D already works as intended on macOS, and respects the systemwide "Scroll direction: Natural" found in System Preferences > Trackpad.

Maybe not "as desired," but as "expected," I guess. To clarify for whoever can implement this change, changing this setting in macOS system preferences doesn't alter Godot's 3D behaviour, just makes the rest of macOS work like Godot currently does (with

[2020-08-15 09:54] Calinou commented on #41118
@Zireael07 Godot uses both a loading bar and spinner depending on the loading state. When downloading the PCK, a loading bar is displayed. When initializing the engine, a spinner is displayed.

We can only display a loading bar if we can know the loading percentage.

[2020-08-15 10:10] James-San opened #41276 "Godot v3.2.3 rc 3 won't run"
**Godot version:**
23b553ba0603161346526e1821bff5002520173c

**OS/device including version:**
Ubuntu 20.04.1 LTS

**Issue description:**
After downloading headless version of Godot ( v.3.2.3 rc3 ), it doesn't boot into any GUI and running CLI only prints out: "Godot Engine v3.2.3.rc3 official - https://godotengine.org". 3.2.2 stable version isn't experiencing this issue.

**Steps to reproduce:**
1

[2020-08-15 10:14] akien-mga commented on #41276
The headless version doesn't have any GUI - that's what "headless" means.

[2020-08-15 10:41] LynnCelest opened #41278 "Overflowing MaxLength on LineEdit via Code manipulation leaves you with an empty Text variable for the rest of the code loop."
**Godot version:** 3.2.2

**OS/device including version:** Windows 10

**Issue description:** If you want to manipulate LineEdit.Text and right after count the words in Text in a given virtual func loop of your program you may have consistent results until you turn max length on. Once you turn max length on and your code makes the Line become overflown then Text will become empty for the rest of t

[2020-08-15 10:46] Zireael07 commented on #41118
@Calinou: As the linked sites show, Emscripten projects show a loading bar when initializing the project. (It literally shows 'initializing' in marukrap's demo) It seems to work both for toy demos and for big projects.

[2020-08-15 10:55] capnm commented on #41270
It could be a side effect of backporting #39604
Does it work in v4.x?

[2020-08-15 10:56] Calinou commented on #41275
cc @bruvzg

[2020-08-15 10:59] akien-mga commented on #41270
Does it work in v4.x?

There's no rendering support for HTML5 in 4.0 yet as there's no WebGL backend (nor WebGPU), so it can't be tested.

But the most likely cause for this change in 3.2.3 would be #39867.

[2020-08-15 11:00] akien-mga commented on #41276
Closing as it seems to be a misunderstanding. Feel free to comment and I'll reopen if I misinterpreted the issue.

[2020-08-15 11:00] #41276 closed

[2020-08-15 11:04] akien-mga commented on #40953
Please test with 3.2.2-stable, there has been many changes to the Android export.

[2020-08-15 11:28] Calinou commented on #39758
This was confirmed by someone on Windows. Apparently, disablign V-Sync and setting the FPS cap in the Project Settings to 60 decreases the CPU usage a lot.

Can someone try to run a [debug build](https://github.com/Calinou/godot-debug-builds) in a profiler to know where most of the CPU usage is coming from?

[2020-08-15 11:54] chucklepie opened #41281 "Random scene files are starting mask/layer as 2^31 and not zero"
**Godot version:**
3.2.2 stable

**OS/device including version:**
linux mint 64bit

**Issue description:**
I was trying to find out which of my nodes had a certain layer/mask bit set (would be nice if this was a feature in the ide :) ), but when I searched my tscn files I noticed some of my nodes, instead of the collision_mask or collision_layer being 2^x they were 2^31+2^x

In these, all bits off

[2020-08-15 11:59] chucklepie commented on #41281
note, when I modify these bits, e.g. turn them all off, they never reset back to zero, as if something is holding these nodes to a particular value or setting the bit with a shift or similar maths operation rather than setting as an actual number?

[2020-08-15 12:00] chucklepie commented on #41281
For your reference, here is the entire file of one of these, and the physics layer definition. Nothing out of the ordinary..

[code]

[code]

[2020-08-15 12:40] pouleyKetchoupp commented on #41001
Thanks for the detailed repro!

Since this issue is a regression caused by the changes in #40313 which is not merged yet, I would rather close this ticket and solve it as part of #40313.

[2020-08-15 12:40] #41001 closed

[2020-08-15 12:42] capnm commented on #41270
Nothing red in the Godot editor or the
<details><summary>web-console</summary><p>

[code]
</p></details>

[2020-08-15 12:49] Salvakiya opened #41282 "Assigning Skeleton to Polygon2D crashes editor"
**Godot version:**
Godot 3.2.3-RC3

**OS/device including version:**
Windows GLES3

**Issue description:**
Crash when assigning skeleton to Polygon2d

**Steps to reproduce:**
create polygon2d and skeleton. Attempt to assign skeleton2d to the polygon. editor will complain about index out of bounds?

[2020-08-15 13:01] RaTcHeT302 commented on #41271
i'm pretty sure that's just scons being crappy and you can't really do anything about it, beyond just, getting rid of scons

i personally hate all build systems, i think they are mostly crap, i wish there was a "push a button and have it do all the hard work for you, without manually having to type ten thousand files by hand"

people have claimed that meson would be faster, which i find a bit perp

[2020-08-15 13:12] RevoluPowered commented on #41271
@RaTcHeT302 we're profiling and fixing the problems, we already got OSX build times down to 14s for single file. So please try to keep on topic for the actual fixing part, we aren't focusing on 'scons is crappy' we want to work out what the problem is and fix it.

I measured build times and am consistently getting everything under 30s for single file rebuilds (which is not bad):
- **you must disab

[2020-08-15 13:15] fian46 commented on #41281
I can confirm this happened to me couple days ago. But i can't make minimal reproduce. Really strange bug. The work around is to make another scene similar to this and the problem is gone. It is only happens in collision mask.

[2020-08-15 13:18] RevoluPowered commented on #41271
Here is an example of the out of order linking flags
https://gist.github.com/RevoluPowered/dfc7c914eee09c94824b14c851519a58

[2020-08-15 13:23] chucklepie commented on #41281
Not for me, it's both:

[node name="ProjectileDetection" type="Area2D" parent="."]
collision_layer = 0
collision_mask = 2147483648

[2020-08-15 13:25] RevoluPowered commented on #41271
Seems only assimp is the problem, i am testing linkage times without modules/assimp and thirdparty/assimp for now, might be a bug.

[2020-08-15 13:43] chucklepie opened #41283 "Creating signals generates no code in external editor"
***Bugsquad edit:** This issue has been confirmed several times already. No need to confirm it further.*

___

**Godot version:**
3.2.2 stable

**OS/device including version:**
linux mint 64 bit

**Issue description:**
I am using latest VSCode. External editor opens/switches to vscode when accessing code ok. However when I select to create a signal, it sets the signal as created in the godot IDE,

[2020-08-15 13:56] Calinou commented on #41271
@RaTcHeT302 Per the [Godot Engine Code of Conduct](https://godotengine.org/code-of-conduct), please stop derailing issues with unrelated conversations. This is your last warning.

[2020-08-15 14:03] akien-mga commented on #41282
Confirmed on `3.2` 13a615bd9caac7ccc2ab71e2d2234c81cb13baf5.

Backtrace:
[code]

It seems to be a regression as I can't reproduce it in 3.2.2-stable.

The crash happens in code added by #40869, CC @clayjohn.

Reproduction project:
[Polygon2DCrash.zip](https://github.com/godotengine/godot/files/5078761/Polygon2DCrash.zip)

Steps to reproduce:
- In above project, select Polygon2D and assign Skeleton

[2020-08-15 14:12] chucklepie commented on #41283
I am now and again (i.e. not always), seeing this message in Godot, despite the files not being open in Godot:

 Another resource is loaded from path 'res://entities/static/Missile_Launcher.gd' (possible cyclic resource inclusion).

[2020-08-15 14:21] Calinou commented on #41281
This is probably due to a member variable being left uninitialized (which is undefined behavior in C++).

[2020-08-15 14:22] #18712 closed

[2020-08-15 14:22] #22079 closed

[2020-08-15 14:24] Calinou commented on #41283
This seems to be a duplicate of https://github.com/godotengine/godot/issues/23208, but people are only reporting issues when using C# there.

[2020-08-15 14:50] qarmin opened #41284 "Leaks when using plugin dialog"
**Godot version:**
Godot 3.2.3 rc 3

**Issue description:**
[code]

**Steps to reproduce:**
Not sure, but still it can be fixed easy

[2020-08-15 14:54] bruvzg commented on #41275
It's moved to `DisplayServer.window_set_flag`.

[2020-08-15 14:54] akien-mga commented on #41282
@clayjohn The code you adapted from has pretty specific size checks indeed before doing all this un-checked indexing:

https://github.com/godotengine/godot/blob/19802f7dc0c6e28c96c58c499a3dcfbee008b0b5/servers/visual_server.cpp#L758

[2020-08-15 14:56] chucklepie commented on #41283
That's quite a specific thing to do with the c# class file generation as
well. Maybe this is better separate, but linked by reference?

On Sat, 15 Aug 2020, 15:24 Hugo Locurcio, <notifications@github.com> wrote:

[2020-08-15 14:58] chucklepie commented on #41281
Maybe a better solution is every time a bit is modified, create the mask
value again. I can only presume that currently every bit does a bitwise
operation on the current value and changing to not doing this will fix it?

On Sat, 15 Aug 2020, 15:21 Hugo Locurcio, <notifications@github.com> wrote:

[2020-08-15 15:15] qarmin opened #41287 "NetSocketPosix::get_available_bytes() implicit conversion from unsigned int to int (wraps around)"
**Godot version:**
Godot 3.2.3 rc 3

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
When I clicked at assets tab, then in Godot compiled with all available undefined flags(llvm), shows this error:
[code]
len is `unsigned long` but returned is int

https://github.com/godotengine/godot/blob/3.2/drivers/unix/net_socket_posix.cpp#L703-L715

[2020-08-15 15:22] akien-mga commented on #41287
Same issue in `master` judging by the code.

[2020-08-15 15:59] #41275 closed

[2020-08-15 16:14] lawnjelly commented on #41281
That could well be correct.

2147483648 in decimal is 1000 0000 0000 0000 0000 0000 0001 0000 in binary. So the 4th bit (or 5th bit if you read from 1) is set for the layer, matching the display in the IDE, and also bit 31 (no idea why but it might be set on purpose).

The mask is 8 which is 1000 in binary which matches the mask in the IDE.

[2020-08-15 16:23] chucklepie commented on #41281
I don't think so. You can reset all the bits to zero and it still keeps it
at 2^31

There's no reason, other than a numeric overflow (or as stated above an
unallocated number) causing it....

On Sat, 15 Aug 2020, 17:14 lawnjelly, <notifications@github.com> wrote:

[2020-08-15 17:04] RevoluPowered commented on #41271
[code]

[2020-08-15 17:34] RevoluPowered commented on #41271
Testing in **go_faster_mk2_testing**

I have got single file rebuild time to: 13.092s.

[code]

[2020-08-15 17:38] lawnjelly commented on #41281
I had a quick look and I can't see anything obvious that is using bit 31, so it may well be a bug. It will probably need being able to reproduce it to debug.

It seems unlikely to be directly an uninitialized value, given that in the example the correct bit was set (4), but bit 31 was set as well (that seems unlikely to occur by chance).

[2020-08-15 17:58] ThePixelGuy opened #41289 "The way KinematicBody pushes itself back after multiple collisions is flawed"
**Godot version:**
3.2.2.stable

**Issue description:**
The KinematicBody node does not correctly push itself back when it is colliding with multiple that push it in an axis.
In the source code, at the 995th line, you can see that it pushes itself back by each collider according to said collider.

[code]
Although this works with multiple colliders that push the KinematicBody in a single axis by it

[2020-08-15 18:04] chucklepie commented on #41281
But it's
01111111111111111111111111111111

In binary, so I can only presume its a shift error.

If the collision values were set on every click I expect it'll be OK, so
not seeing the code I can presume there's a bitwise operation going on in
every click to mimic calling the set bit method?

On Sat, 15 Aug 2020, 18:38 lawnjelly, <notifications@github.com> wrote:

[2020-08-15 18:09] Zylann commented on #35467
As mentionned in https://github.com/godotengine/godot-cpp/issues/438, we need a proper `+=` String operator.

[2020-08-15 18:10] hnOsmium0001 commented on #35467
`get_script()` returns `Reference*` instead of something like `Script*` or `Ref<Script>`. Is this intended? And it seems like the returned `Reference*` is either a proper `Script*` or nullptr, so it really should return `Script*` in my opinion.

[2020-08-15 18:11] Zylann commented on #35467
@hnOsmium0001 from my experience of this oddity, it seems to be the case because if it was `Ref<Script>` it woud cause a cyclic reference. `Object` would depend on `Reference`, but that can't happen because `Reference` depends on `Object`. It's the case in Godot's source code as well.

[2020-08-15 18:16] hnOsmium0001 commented on #35467
There is also godotengine/godot-cpp#431, which should be a really simple fix of changing
https://github.com/godotengine/godot-cpp/blob/master/include/core/Godot.hpp#L469
to
[code]

[2020-08-15 18:18] Zylann commented on #35467
@hnOsmium0001 if issues are only related to the C++ bindings, please post them in `godot_cpp` instead, not here. This issue is about the GDNative API itself.

[2020-08-15 18:29] ThePixelGuy commented on #33833
Also experiencing this issue. I am assuming that it is due to the way `is_on_floor()`, `is_on_ceiling()` and `is_on_wall()` are triggered / wired in the source code (1005th line in physics_body_3d.cpp).

[code]

**Godot version:**
Godot 3.2.2.stable

**OS/device including version:**
Windows 10

[2020-08-15 18:36] clayjohn commented on #41282
Oops! I am away for the weekend. I can add proper checks when I am back.

[2020-08-15 18:54] Vivraan opened #41290 "Saved OccluderPolygons get squished"
**Godot version:**

3.2.2-stable

**OS/device including version:**

Windows 10 Home 2004

**Issue description:**

The saved OccluderPolygon gets squished between ancestor and descendent scenes.
![image](https://user-images.githubusercontent.com/12777564/90319459-11fa0180-df56-11ea-8874-a0d18e365117.png)

**Steps to reproduce:**
1. Make ancestor `KinematicRigidbody2D` and add a `LightOccluder2D`. C

[2020-08-15 19:08] qarmin opened #41291 "Division by float 0 in rasterizer_scene_high_end_rd.cpp"
**Godot version:**
4.0.dev.custom_build. 69c81309c

**OS/device including version:**

**Issue description:**
When I open project then dividing by float 0 happens:
[code]
https://github.com/godotengine/godot/blob/e0ee38b128fa84b8e7db499ead66264ca4ec9c60/servers/rendering/rasterizer_rd/rasterizer_scene_high_end_rd.cpp#L1136-L1137

**Steps to reproduce:**
1. Open minimal project with undefined saniti

[2020-08-15 19:10] Vivraan commented on #41290
Shows this when diffed (VSCode)
![image](https://user-images.githubusercontent.com/12777564/90319790-0b20be00-df59-11ea-98d6-373a8f482d60.png)

[2020-08-15 19:11] Vivraan commented on #41290
Workaround is to remove that extra scaling from the `.tscn` file.

[2020-08-15 19:53] qarmin opened #41292 "Assigning to char* array, uint32_t value inside image.cpp"
**Godot version:**
4.0.dev.custom_build. 69c81309c

**OS/device including version:**
Ubuntu 20.04

**Issue description:**

Code may be fine, but still it could be done without teasing the LLVM code checkers

Error from undefined sanitizer LLVM:
[code]

https://github.com/godotengine/godot/blob/772f693e5b8b5912d422e8effb8d6a72260edcfc/core/image.cpp#L726

[2020-08-15 20:01] qarmin opened #41293 "Implicit conversion from type 'CharType' to type 'char' changed the value in file_access.cpp"
**Godot version:**
4.0.dev.custom_build. 69c81309c

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
Error
[code]

https://github.com/godotengine/godot/blob/c2151e18135817c9f926a5a00341016ac77301d4/core/os/file_access.cpp#L302-L315

**Steps to reproduce:**
Probably opening bigger project

[2020-08-15 20:04] qarmin commented on #41281
Maybe this is caused due this errors:
[code]

[2020-08-15 20:29] qarmin opened #41294 "Division by 0 in resource_format_text.cpp when opening project"
**Godot version:**
4.0.dev.custom_build. 69c81309c

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
When I open project then dividing by float 0(float because there is cast) happens:
[code]
https://github.com/godotengine/godot/blob/e0ee38b128fa84b8e7db499ead66264ca4ec9c60/scene/resources/resource_format_text.cpp#L677-L679

**Steps to reproduce:**
1. Open minimal project with

[2020-08-15 20:36] qarmin commented on #37987
Errors
[code]

[2020-08-15 20:46] salvob41 commented on #41065
@madmiraal

Nope, just using the classic build. No custom mapping

For some reason seems that once connected buttons 13 and 15 are being pressed and hold.

| Controller |Joypad Demo|
| ---- | ------|
|Left stick – Left|	button 0|
|Left stick – Right|	button 0|
|Left stick – Up| button 1|
|Left stick – Down	| button 1|
|D-Pad – Left	 | *Nothing*|
|D-Pad – Right |	 *Nothing*|
|D-Pad – Up	 | *Nothing

[2020-08-15 20:50] XoToM opened #41295 "Rset crash when trying to send a List C#"
**Godot version:**
Godot v3.2.2.stable.mono.official

**OS/device including version:**
Windows 10

**Issue description:**
I was trying to make a simple multiplayer game in C#, and i attempted to send the list of players (System.Collections.Generic) via `Rset` and the server crashed.
No error messages of any kind were printed out. After playing around i discovered that the same exact thing happens

[2020-08-15 20:54] KoBeWi commented on #28118
This is not a bug. Alt + Ctrl is shortcut for scale when select tool is active (similar to how Ctrl is rotate), while Alt (not Ctrl + Alt) is used for resizing in all directions. You can't enable the normal scale while you are already resizing, and you can't activate rotating either. The behavior is ok.

[2020-08-15 20:54] #28118 closed

[2020-08-15 21:03] qarmin opened #41296 "PosKey in tilemap use int16_t but allows to set to this variable int(int32_t)"
**Godot version:**
4.0.dev.custom_build. 69c81309c

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
[code]
https://github.com/godotengine/godot/blob/e0ee38b128fa84b8e7db499ead66264ca4ec9c60/scene/2d/tile_map.cpp#L837-L838

**Minimal reproduction project:**
Probably most project with a little advanced tiles should work but this happens with
https://github.com/qarmin/The-worst-

[2020-08-15 21:27] akien-mga commented on #41293
That's not the full steps to reproduce to get the same error message though, please mention what kind of build options or tool you're using in such issues so that they can be reproduced.

[2020-08-15 21:28] qarmin opened #41297 "Usage of uint32_t mipmap_limit to store -1"
**Godot version:**
4.0.dev.custom_build. 69c81309c

**OS/device including version:**
Ubuntu 20.04

**Issue description:**
Error

[code]
https://github.com/godotengine/godot/blob/c39d31899a9e35fb1166834c68b566978ef5066d/editor/import/resource_importer_texture.cpp#L396

Code may be good, but still should be changed to e.g.:
[code]
to suppress warning

[2020-08-15 21:30] qarmin commented on #41293
Compilation command(taken from #40924) -
[code]

[2020-08-15 21:31] akien-mga commented on #41293
`CharBuffer` was added by @poke1024 in a3f1ed9af9b, but indeed it doesn't seem to properly take the size of `CharType` into account.

[2020-08-15 21:50] bruvzg commented on #41293
`CharBuffer` is holding 8-bit UTF-8 string, and should not care about size of `CharType` and data is read by `get_8`, sign is irrelevant for the `char`/`wchar_t`, probably `CharType c = get_8();` should be changed to `char c = (char)get_8();` to suppress it, but it should work fine as is.

[2020-08-15 22:02] AlexSabourinDev commented on #38354
It seems to be because you're outputting the colors as vertex colors instead of fragment colors.

![VertexInterpolation](https://user-images.githubusercontent.com/27436276/90322291-a5b0db00-df20-11ea-8694-c261b92ac42d.PNG)

This causes the colors of your gradient to only be assigned at the vertices and interpolated by the rasterizer.

If you want colors in between your vertices, you need to assign

[2020-08-15 22:28] akien-mga opened #41300 "[2.1] Test reports for 2.1.7 pre-release builds"
I'm working on a 2.1.7 release to solve two main issues for users who have games released with 2.1.x which they need to update. Namely:
- iOS App Store requires SDK 13 as of June 30, 2020: #41186
- Android Play Store requires API level 29 as of August 3, 2020: #41279

Additionally, 2.1.7 will include some more fixes, notably for proper support of macOS Mojave and Catalina. macOS binaries now build

[2020-08-15 22:29] akien-mga commented on #41186
@zoiba I released a test build for 2.1.7 (RC 20200815), can you try it and confirm that it fixes this issue (and fulfills the Android Play Store requirements too)? See instructions and link in #41300.

[2020-08-15 23:25] andresilvasantos commented on #30915
Oh yes, I forgot about color blindness. But IMO there could be an option to toggle the vars visibility. It's really a waste of space when you can read from the inputs / outputs colors.

I'll build Godot from source and explore the code to see if I can be helpful in any way.

[2020-08-16 01:26] vnen commented on #33289
Is this really a problem? I think it makes more sense for `v_frames` to come first. That is the amount of columns, and with `x` you select the column, so it has the same order in this sense.

If people prefer the `h` first I don't mind. I think that an issue like this should be decided to change or not change quickly and close it either way.

[2020-08-16 04:25] Penguin63 opened #41301 "Error on startup"
Please help I'm on Godot version 3.2 and I can't pass the error

It went on like this:

0(6) : error C7538:OpenGL doesn't allow "highp" after "inout"
0(35) :error C7538:OpenGL doesn't allow "highp" after "inout"
0(51) : error C7538:OpenGL doesn't allow "highp" after "inout"
0(52) :0(6) : error C7538:OpenGL doesn't allow "highp" after "inout"

At: drivers/gles3/shader_gles.cpp:164
ERROR: get_curren

[2020-08-16 04:31] louisgjohnson commented on #16854
I'm having the same issue on 3.2.2 stable, but with Area2D. on MacOS Catalina ver 10.15

[2020-08-16 04:33] ZodmanPerth commented on #30558
Thanks @akien-mga.  I confirm touch does work on Win32 as well.

Unfortunately, my game also relies on the accelerometer.  Neither `Input.get_accelerometer()` or `Input.get_gravity()` work on Win32, despite my device having an accelerometer.

This is why I was targeting UWP originally where both touch and accelerometer (using `Input.get_accelerometer()`) work on Windows devices.  I've done a quick

[2020-08-16 05:03] ZodmanPerth commented on #7503
@BastiaanOlij I confirm that while `Input.get_gravity()` doesn't work on UWP but `Input.get_accelerometer()` does work.
I'm using `3.2.stable.official`.

[2020-08-16 05:10] Jlalond commented on #41294
@akien-mga please assign to me

[2020-08-16 05:27] ZodmanPerth opened #41303 "Input.get_gravity() and Input.get_accelerometer() are not supported on Windows Desktop export"
**Godot version:**
3.2.stable.official

**OS/device including version:**
OS: Windows 10 Pro, 64 bit, version 1909
Device: Surface Pro 7

**Issue description:**
I need the gravity vector when running my game on a Windows Desktop export.   I currently access it on an Android Export using `Input.get_accelerometer()` however I would would also be happy if `Input.get_gravity()` was supported.

**Steps

[2020-08-16 06:38] GeorgeS2019 commented on #30558
@NVriezen @ZodmanPerth Because we have so few up-to-date feedback, this is why it will help the community, to have JUST one godot UWP project that will provide **functional testing the UWP ONLY features like e.g. accelerometer, touch** so users can always get the latest feedback from others if the latest Godot commits do not break or cause regression to these **UWP ONLY features**.

[2020-08-16 07:13] capnm commented on #41270
I had some hard times to figure out how to compile the web-assembly template: https://github.com/godotengine/godot-docs/issues/3900

Yes, reverting #39867 fixes this issue for me.
Thanks.

<details><summary>patch</summary><p>

This reverts commit 6c0ff26f354d877b69ab4bee6f6b44c134572a72.

[code]

</p></details>

[2020-08-16 07:25] madmiraal commented on #41289
Duplicate of #35780, fixed with #35945.

[2020-08-16 07:25] #41289 closed

[2020-08-16 07:41] aaronfranke commented on #41296
See the discussion here: https://github.com/godotengine/godot/pull/39976#discussion_r449540719

[2020-08-16 07:52] alexporth opened #41305 "Unlisted Shortcut Control+Shift+Return"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10 1909

**Issue description:**
I have the habit of hitting Control+Shift+Return from using Jetbrains IDEs, where that is the shortcut for the Auto-Complete line feature. Every time I use this combination in the Godot Script Text Editor, it creates a newline before the line I was editing and moves my cursor to that newly created li

[2020-08-16 08:13] Duehok opened #41306 "Nuget packages cannot be used on linux (probably also MacOS) (Mono)"
**Godot version:**
3.2.2

**OS/device including version:**
any linux (tested on Ubuntu 20.04)

**Issue description:**
To use a nuget package in a Godot project, `nuget restore` has to be run in the project's folder. According to godot's docs, `dotnet restore` does not work under linux or win (and I confirmed that).
https://docs.godotengine.org/en/stable/getting_started/scripting/c_sharp/c_sharp_ba

[2020-08-16 08:38] Waridley commented on #2967
I just got this working with `\n`, just need to make sure I'm not missing any corner cases, and will probably try to make sure it works with `\r\n` and other line break character combinations as well before submitting a PR.

[2020-08-16 08:44] qarmin commented on #41293
Error is in 309 line so this probably should look like
[code]

[2020-08-16 09:10] pouleyKetchoupp commented on #41294
@Jlalond We don't generally assign bugs directly to contributors (except for specific cases with Godot organization members) but it's ok to just open a PR and mark it as a fix for this bug (after discussion about the way to make the changes if needed).

Next time you can use wording like "Closes #41294" or "Fixes #41294" instead of just mentioning the issue in the description of the PR for GitHub

[2020-08-16 09:41] coppolaemilio commented on #41262
Yes.
[code]

If I move the editor from **Monitor A** to **Monitor B** the tooltips are not showing up, which I guess it means that they are drawing under the editor.
Another curious thing is that the x and y position of the tooltip correspond to the position where my mouse is in **Monitor A**. So if the tooltip should be in **Monitor A** 120,340 the tooltip shows up on **Monitor B** 120,340.

[2020-08-16 09:46] raulsntos commented on #41306
I can confirm using **dotnet CLI** as the build tool fails with the error:
[code]
As a workaround, it seems that switching to **MSBuild (Mono)** for the build tool works so you may want to consider using that for now, it's in `Editor Settings > Mono > Builds`.

Also, this sounds like a duplicate of #41241.

[2020-08-16 09:52] pouleyKetchoupp commented on #41262
@coppolaemilio Thanks for the details. I don't have the setup to try and reproduce it, but could you open a new issue for this so we can track it separately? I don't know if it's Windows specific at this point.

[2020-08-16 10:23] Duehok commented on #41306
i tried changing the build tool. I could not get it to build. Can you describe exactly what you did?

[2020-08-16 10:35] qarmin commented on #41296
PosKey overflow is also visible with - https://github.com/godotengine/godot-demo-projects/tree/master/2d/hexagonal_map
which show this error when running editor
[code]
There is only 26 tiles and map size is ~(20,20) so big size of tilemap isn't necessary to produce this bug

[2020-08-16 12:20] raulsntos commented on #41306
After setting the build tool to `MSBuild`, this is what I did:
- Delete the .mono directory
- Run `nuget restore`
- Build the project
![image](https://user-images.githubusercontent.com/3903059/90334035-ebc27900-dfca-11ea-849e-583461f129b9.png)

And this is my mono version:
[code]

If you still can't get it to build it may be helpful to take a look at the contents of `msbuild_log.txt` that can be o

[2020-08-16 12:32] eka commented on #40689
I have the same problem on Windows 10 and it's very annoying.

Godot version: 3.2.2 Stable

OS/device including version: Windows 10 Pro 10.0.18363 Build 18363

![Godot Tooltip Problem](https://user-images.githubusercontent.com/157223/90334336-9d24d700-dfea-11ea-88cb-acceebbb1191.gif)

[2020-08-16 13:03] qarmin commented on #41300
When running project manager compiled with flags `scons p=x11 -j8  CCFLAGS="-fsanitize=address,undefined" LINKFLAGS="-fsanitize=address,undefined" use_llvm=yes`, I have this invalid read
[code]
It seems to read certificates, but doesn't properly set memory.
Data is readed from const char* `_certs_uncompressed_size` with size 205488 but requested element 205489 is out of range.

[2020-08-16 13:03] Xrayez opened #41307 "The output of doctest is not visible when running tests on Windows"
**Godot version:**
Tested on 87ae509905e6a4388588472b4edddb791aec56a4.
Likely related to #41164 (CC @bruvzg).

**OS/device including version:**
Windows 10.

**Issue description:**
When running tests with `--test` option, the output is hidden/not visible.

On VSCode integrated terminal, it's spawned via another terminal:

![Annotation 2020-08-16 155201](https://user-images.githubusercontent.com/171

[2020-08-16 13:08] Calinou commented on #26534
Closing in favor of https://github.com/godotengine/godot-proposals/issues/1302, as feature proposals are now tracked on the Godot proposals repository.

[2020-08-16 13:08] #26534 closed

[2020-08-16 13:16] Calinou commented on #41301
@Penguin63 Please fill in the [issue template](https://github.com/godotengine/godot/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) instead of replacing it. Which operating system and graphics card are you using?

[2020-08-16 13:16] Duehok commented on #41306
`nuget restore`

[code]

[2020-08-16 13:22] rmasp98 commented on #2967
Umm ok... I guess I will chuck the stuff I have been working on away then

[2020-08-16 13:27] toby3d commented on #38354
@AlexSabourinDev Oh, I saw it. Really my mistake, I'm sorry about that. I'm closing this issue.

[2020-08-16 13:27] #38354 closed

[2020-08-16 13:45] raulsntos commented on #41306
All I did was download your minimal project and executed `nuget restore`.

It could be your mono installation, according to #38167 the currently stable mono version **6.10** doesn't work, have you tried installing the preview mono **6.12** from [https://www.mono-project.com/download/preview/](https://www.mono-project.com/download/preview/)?

[2020-08-16 14:09] Duehok commented on #41306
IT WORKS after using the installation from #38167. Many thanks. 🎆🎇🙏🏻😱🎉🍾

I will start a new, clean, GMO-free ubuntu virtual machine and check what are the minimal changes from the official instructions to get it to work.

[2020-08-16 14:11] Waridley commented on #2967
@rmasp98 Sorry, didn't mean to step on your toes. I actually just did it for my own use before even checking this thread. And I've **only** implemented it for buttons, no other controls, so if you're still trying to clean up that stale PR for the others, go for it.

[2020-08-16 15:12] Duehok commented on #41306
As best as I can tell, the requirements are the following, after having downloaded Godot C#:

- install mono 6.12+ according to those instructions:
⚠ First trap: as of 08-2020, that is the preview version, not the stable one.
https://www.mono-project.com/download/preview/#download-lin

Which for ubuntu 20.04, is:
[code]
Note the `sudo tee /etc/apt/sources.list.d/mono-official-preview.list`
- Insta

[2020-08-16 15:20] Whimfoome opened #41309 "C# List<bool> not working."
**Godot version:**
Godot 3.2.3.rc3.mono

**OS/device including version:**
Windows 10.0.19041

**.NET Core SDK:** 3.1.302

**Issue description:**
When creating `List<bool> isComplete = new List<bool>();` and adding value to it and try to print it, it shows `True` almost always, even if you add false to the list. Example: in the ready function `isComplete.Add(false); GD.Print(isComplete[0]);` output

[2020-08-16 15:27] Calinou commented on #41309
cc @neikeq

[2020-08-16 15:28] Calinou commented on #41306
Feel free to edit the documentation without testing it locally and we'll review your pull request to fix formatting.

[2020-08-16 16:41] Jlalond commented on #41294
@pouleyKetchoupp understood, I also decided to do this far too late in the evening my time, so sorry for the mistakes :)

[2020-08-16 17:07] daKuleMune opened #41310 "C# Script Generated Editor Nodes without Script"
**Godot version:**

Godot Engine v3.2.3.rc3.mono.official

**OS/device including version:**

**Issue description:**

When using a [Tool] to generate a node with the following code.
[code]
Add node can be added into the node tree, however when doing this with a class the script attached to the node will be blank.
![image](https://user-images.githubusercontent.com/916489/90339715-dd1a9880-dfaf-11ea-

[2020-08-16 17:19] navstev0 commented on #41310
Additional information was found that
[code]
test evaluates to true

[2020-08-16 18:01] Pete-The-Penguin opened #41311 "Can't find deg2rad in Godot C#"
**Godot version:**
3.2.2-stable

**OS/device including version:**
Manjaro Lysia 20.0.3

**Issue description:**
Was trying to make a FPS script in C#, but when trying to find deg2rad for camera movement, it wasn't there?

**Steps to reproduce:**
1. Make a C# script (any IDE will do.)
2. Search for deg2rad in C# script

**Minimal reproduction project:**
None so far (i can put one here, if need be.)

[2020-08-16 18:18] TheDuriel commented on #41311
Its in Mathf http://godotsharp.net/api/3.2.0/Godot.Mathf/

[2020-08-16 18:21] Calinou commented on #41311
Closing per @TheDuriel's comment.

[2020-08-16 18:21] #41311 closed

[2020-08-16 18:48] lawnjelly commented on #41267
Just checked it out and it's a batching bug, doesn't occur with batching off. I'll look into it. :+1:

[2020-08-16 19:39] HEAVYPOLY commented on #28662
Want to add +1 here.  My project is GLES2 for all platform except iOS, where I switch to GLES3 for export each time because GLES2 produces bugs.

[2020-08-16 20:27] khalid151 commented on #34523
I'm using neovim with coc-nvim and suggestions work but I get `Command: not found` upon completion (C-y).
![Screenshot_20200816_230214](https://user-images.githubusercontent.com/24315888/90343234-2f42d480-e017-11ea-9e94-6d7bdc84479e.png)

[2020-08-16 20:37] #41294 closed

[2020-08-16 20:51] aaronfranke commented on #41296
That sounds like a separate bug. I don't see why the hexagonal map demo would have tiles at positions like `65529` or `-2147483648`, since all of the tiles should have 1 or 2 digit positions.

[2020-08-16 21:10] rxlecky commented on #35848
**Version:** 9adf6d3

I did some debugging this weekend but I couldn't reproduce this issue. I'm pretty sure the original issue - accessing SceneTree after it was deleted - has gone away after @Faless's debugger refactor since the debugger is now checking for whether the SceneTree (now accessible as a singleton) is valid before parsing the incoming debugger messages. Unless message parsing is not

[2020-08-16 21:11] AlphaOneProject commented on #40963
This should hopefully resolve this issue.
And don't worry, making a clear and argumented issue like you did is already helping a lot! :D

If you have any remarks or if you think the pull request doesn't solve the issue in a satisfying way, don't hesitate ^^

[2020-08-16 23:35] KoBeWi commented on #28324
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-16 23:37] KoBeWi commented on #28094
Still valid in 3.2.3 rc3

[2020-08-17 00:52] EricEzaM opened #41313 "[4.0] Cannot run project or scenes"
**Godot version:**
4.0.dev a17fba3f2

**OS/device including version:**
Windows 10 1903

**Issue description:**
When running scene, window opens and remains white. After 1-2 seconds closes immediately with below printed to log:
`platform\windows\os_windows.cpp:494 - Condition "!process_map->has(p_pid)" is true. Returning: FAILED`

**Steps to reproduce:**
Run a scene

**Minimal reproduction project:

[2020-08-17 00:58] Penguin63 commented on #41301
@Calinou I am using 3.2.2,and also I check my graphics card it's an old one,

[2020-08-17 01:07] Penguin63 commented on #41301
And my PC is 64-bit and I think I have Open GL 2

[2020-08-17 01:27] clayjohn commented on #41291
I guess we should just check for when sas is (0,0) and then not do the division.
[code]

[2020-08-17 01:29] Calinou commented on #41301
@Penguin63 Which exact graphics model do you have? Also, you haven't stated the operating system you're using.

[2020-08-17 01:30] clayjohn commented on #41270
I got the following error message when running the example scene:

[code]

[2020-08-17 02:09] clayjohn commented on #41270
Okay, I have figured it out. PR coming soon.

[2020-08-17 02:30] Waridley commented on #2967
Also it's entirely possible your method is better than mine. Wouldn't hurt to see another solution.

[2020-08-17 02:31] Penguin63 commented on #41301
Sorry for the late reply
What it says in my PC it's 64-bit operating system
                                               GTX 570

[2020-08-17 02:44] Penguin63 commented on #41301
GTX 570 is the graphics card

[2020-08-17 05:22] geekrelief commented on #33855
Wow I just wasted an hour on this. The limitation of AnimatedTexture not being able to use AtlasTexture should be made much clearer in the docs.  Right now it's the last sentence in Description.  There should be a section labeled Warning or Limitations stating this.

[2020-08-17 06:16] creikey commented on #25662
I also encountered this error after following this doc page:

https://docs.godotengine.org/en/latest/development/compiling/compiling_for_windows.html

Because it says to install `yasm` with scoop. By running `scoop uninstall yasm` everything compiled correctly. Maybe this dependency should be removed from the docs?

[2020-08-17 06:21] creikey opened #41316 "PhysicalSkyMaterial is black (but ProceduralSky displays normally)"
**Godot version:**

Current Master: `a17fba3f21241beb68127d30b8d07db267e65e35`

**OS/device including version:**

Windows 10, Vulkan, iGPU intel 10th gen ( intel hd graphics ):
`i5-1035G1 CPU @ 1.00GHz, 1.19GHz`

**Issue description:**

The sky is black from the default PhysicalSkyMaterial, I was expecting the sky to look like a sky.
![image](https://user-images.githubusercontent.com/28424206/9036

[2020-08-17 06:45] akien-mga commented on #41270
Fixed by #41314.

[2020-08-17 06:45] #41270 closed

[2020-08-17 06:47] akien-mga commented on #41282
Fixed by #41315.

[2020-08-17 06:47] #41282 closed

[2020-08-17 07:18] holybreath opened #41317 "Warning: Standalone expression (the line has no effect)."
Hi, I'm just starting a small project of godot, this is a simple func to change view but always with this warning when run. Is there any problem? thanks!
![捕获](https://user-images.githubusercontent.com/1182619/90368561-d3229380-e09c-11ea-9745-a73cc278dd1b.JPG)

[2020-08-17 07:28] Zireael07 commented on #41317
You have two == (assignment) instead of one = (a check)

[2020-08-17 07:43] Miziziziz opened #41319 "KinematicCollision2D can't directly set values on collider colliding with"
**Godot version:** 3.2.2

**OS/device including version:** Windows 10

**Issue description:**

if you run move_and_collide on a KinematicBody and it collides with something, you can't set a value on the collider you hit, it throws the error:
"invalid set index 'collider' (on base: 'KinematicCollision2D) with value of type 'KinematicBody2D"
the example shown here: https://docs.godotengine.org/en/st

[2020-08-17 07:52] holybreath commented on #41317
Thanks for your reply! but I'm confused, here I mean to check if v is equal to view, so I use two = =. However, when I just add some space this line, then the warning disappeared, and never get out when I make it back just as the pic shows. I think it's the editor's something. Anyway, though it can't be reproduced now, I will close this and thanks.

[2020-08-17 07:52] #41317 closed

[2020-08-17 07:56] capnm commented on #41270
@clayjohn Excellent, the PR  fixed for me the issue!

     At: core/image.cpp:1893

This is comming from the project-settings – the icon and the splash-image. Probably another bug, html export shouldn't process those images.

With the second example [billboard-test2.zip](https://github.com/godotengine/godot/files/5078327/billboard-test2.zip)
(even if I disable `mipmaps` and `repeat`) I get this wa

[2020-08-17 08:23] eastrd opened #41320 "Autotile bitmask not working as expected"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10

**Issue description:**

- A standard `blob` tilesheet that was exported as Godot `.tres` by Tilesetter with bitmasks on didn't work as expected.
- I have also tried to export the tilesheet as PNG and manually draw bitmasks on top, resulted in the same weird behaviour.
- I've tried reimporting the image/`.tres` and recreating th

[2020-08-17 08:33] akien-mga commented on #41317
That's the other way around.

But I suspect that the original code that triggered the warning might have been `v=view`, and it was then fixed but the warning was still visible until the next run of the project.

[2020-08-17 09:18] akien-mga commented on #41060
Duplicate of #40991.

[2020-08-17 09:18] #41060 closed

[2020-08-17 09:22] akien-mga commented on #40982
I reverted the cherry-pick in `3.2` for now until we figure out the regression, so putting on the 4.0 milestone (where the regression is still present).

[2020-08-17 09:27] akien-mga commented on #40502
Might be related to #38658, CC @bruvzg.

[2020-08-17 09:27] akien-mga commented on #40502
(Assigning `3.2` milestone to track the regression fix for stable, but it's likely also affecting `master` too.)

[2020-08-17 09:39] akien-mga commented on #39776
Still crashing in `3.2` a6ef6b10b25d48a02a22de25a222f61aee035f25 on Linux on an Intel i7-8705G.

`gdb` backtrace:
[code]

Steps to reproduce:
- Load Jetpaca's stage select
- Select level 2
- Go back (Escape)
- Select level 2 again
- Go back (Escape)
- Repeat _ad lib_ until it crashes

Sometimes I experienced it relatively easily by selecting Level 1 first, then exiting then Level 2 (crash on load)

[2020-08-17 09:41] akien-mga commented on #40176
As there's no reproduction project, there's no way for me to verify this. But many other users had reimport problems starting in 3.2.2 which were fixed by #39968.

[2020-08-17 09:41] #40176 closed

[2020-08-17 10:06] capnm commented on #41319
It works if you save the reference to your collider:
<details><summary>code</summary><p>

[code]

[code]

</p></details>

[2020-08-17 10:07] rkfg commented on #40779
This breaks SS reflections, too. Enable them in [this project](https://github.com/Calinou/godot-reflection) and the result is this:
![2020-08-17_13-06-23](https://user-images.githubusercontent.com/184066/90384608-7fa74a00-e08a-11ea-8e24-6c5c88b8b25a.jpg)
Without SSR:
![2020-08-17_13-06-27](https://user-images.githubusercontent.com/184066/90384623-8635c180-e08a-11ea-81d8-ff3a11184179.jpg)

[2020-08-17 10:08] akien-mga commented on #40001
I can reproduce the issue on Linux with the following steps, using Godot 3.2.2 RC 3 Mono:

- Create a project in a folder named `test_ру́сский`, edit it
- Add a Node2D root node, with a C# script and `GD.Print("Hello");` in the `_Ready`
- Build the project
- In the Inspector, try to change any property of the Node2D, e.g. `position`. When clicking the SpinBox, focus is lost within a few hundred ms

[2020-08-17 10:34] Faless commented on #35848
@rxlecky receiving/sending messages can be multi-threaded, but parsing it and taking actions should always be in the main thread.

Weird, it used to work for what I recall. No feature was removed when refactoring it.

No, the changes were not backported.

[2020-08-17 10:58] akien-mga commented on #40001
I can confirm that the issue is not reproducible with 3.2.1-stable, and starts with 3.2.2-beta1.
Here's the changelog between the two: https://github.com/godotengine/godot/compare/3.2.1-stable...cb1366f006dfc9904083e8fc6fa23e271bc39e39

[2020-08-17 11:03] akien-mga commented on #38913
I think we should do this for now, especially as it will be needed for older stable branches like `2.1` which also needs a 2.1.7 update targeting API level 29 (#41300).

We should still work to implement the new scoped storage access ASAP, but this should be a good stopgap measure for 3.2.3 and 2.1.7 (and 3.1.3 if I make one).

[2020-08-17 11:05] lawnjelly opened #41324 "2D normal mapping rotations incorrect"
**Godot version:**
3.2.2

**OS/device including version:**
All (GLES2 and GLES3)

**Issue description:**
_Note this is a stub issue for reference, to illustrate the problem which is now hopefully fixed with 2 PRs._

When using normal mapping in 2D, flips and rotations only produce correct results in the old TEXTURE_RECT (uniform draw) method. The results are incorrect with GLES2 and GLES3 nvidia w

[2020-08-17 12:23] KoBeWi opened #41328 "Flickering editor window focus due to system console"
**Godot version:**

a17fba3

**OS/device including version:**

Windows 10

**Issue description:**

When you open a project, the editor window will lose focus every second for a brief moment. A console window appears stealing the focus, but it disappears immediately and editor is focused again. It can be fixed after toggling System Console option twice, but after restarting it happens again.

[2020-08-17 12:37] #40502 closed

[2020-08-17 12:53] akien-mga commented on #41328
Related to #41307 and #41325 I guess.

[2020-08-17 12:55] akien-mga commented on #36431
Fixed by #40598 (`master`) and #41318 (`3.2`).

[2020-08-17 12:55] #36431 closed

[2020-08-17 12:55] akien-mga commented on #38258
Fixed by #40598 (`master`) and #41318 (`3.2`).

[2020-08-17 12:55] #38258 closed

[2020-08-17 13:04] m6502 opened #41329 "GDScript: Unused EditorPlugin code in hybrid tool / game script doesn't work after export"
I think this is basically the same issue: https://github.com/godotengine/godot/issues/41196

In this case, though, I'm using GDScript instead of C# and there's no way to enclose the offending code in preprocessor directives.

**Godot version:**

I'm using the official 3.2.2 Godot build.

**OS/device including version:**

Not related to any specific backend.

**Issue description:**

One of my scrip

[2020-08-17 13:47] bruvzg commented on #41328
Can't reproduce it, and have no idea why it can do something like this.

I guess it's better to revert #41164 and use build option instead.

[2020-08-17 13:54] #28082 closed

[2020-08-17 14:00] TheDuriel commented on #41329
Honestly yeah, this is not a bug. You should rebuild your code to actually use an EditorPlugin for this. And then invoke that plugin, instead of instancing a new object whenever you need the editor for something.

[2020-08-17 14:02] TheDuriel commented on #41320
Live editing the tileset may cause tilemaps using it to get a bit confused. Closing and opening the scene, or just toggling visibility, should work fine to solve this.

[2020-08-17 14:44] m4gr3d commented on #38913
@akien-mga this has already been done by #39103.

The issue remains open to track the full implementation for scoped storage.

[2020-08-17 15:01] Calinou commented on #25662
@creikey If everything works correctly, yasm should be able to compile the required assembly code. If it doesn't work, it means there's a bug in our code.

That said, we should really move video codecs out of core at some point since they've been causing so much trouble…

[2020-08-17 15:23] Calinou commented on #41316
I can confirm this on a GeForce GTX 1080 (NVIDIA 440.100) on Fedora 31.

[2020-08-17 15:32] clayjohn commented on #41316
PhysicalSkyMaterial is a sky material based on the physical interactions of light in the atmosphere. Without a sun, there can be no atmospheric scattering. Therefore, if there is no DirectionalLight in the scene, the sky is black (if you had a night_sky texture set, you would see the stars).

When I initially added the PhysicalSkyMaterial, I was worried this would be confusing for users. Although

[2020-08-17 15:42] AlphaOneProject commented on #41328
I can reproduce this bug with ba1109a on Windows 10.
Here is a Gif so you can see for yourself the loss of focus:
![Flickering editor window focus due to system console](https://user-images.githubusercontent.com/48980641/90415043-d889d900-e0b0-11ea-8849-72b903d95924.gif)
I hope it helped you :D

[2020-08-17 15:55] lawnjelly commented on #41267
I've tracked this down to the debug_collisions sometimes having a stream of useless extra matrix transform commands before the collision poly. This is something I should have been taking care of, but it is so rare I'd not seen it before.

I have a possible fix now, but want to double check all the concerned code rigorously because I remember this part being very error prone.

[2020-08-17 16:11] Ajgamer28 opened #41331 "ERROR: create: Cannot find path for cache directory!"
**Godot version:v3.0.6.stable.custom_buid**

**OS/device including version:Debian GNU/Linux 10 (buster) on Chrome OS x86_64**

**Issue description:
every time I open the graphics engine the program just exits**

**Steps to reproduce:
I enter the application,
then I create a new project and enter this one but just when the edit screen is shown the program closes**

**Minimal reproduction project:**

[2020-08-17 16:12] madmiraal commented on #41319
Interestingly, `value_to_set` is set to true, the failure occurs afterwards when GDScript then tries to assign the `KinematicBody2D` to the `collider` variable and fails, because `collider` doesn't have a `setter`. Hence the error message:

As @capnm suggested the workaround is to set the value in two lines:
[code]

[2020-08-17 16:22] fire commented on #41331
What video card are you using on the Chrome OS?

[2020-08-17 16:33] Ajgamer28 commented on #41331
How can I get that information?

[2020-08-17 16:41] wareya opened #41333 "loop_offset of AudioStreamOGGVorbis not precise enough in editor"
**Godot version:**

3.2.1 stable

**Issue description:**

Setting the loop_offset of an ogg audio resource in the editor's import panel causes it to be clamped to the nearest millisecond. This is not precise enough for seamless looping on standard 44.1/48khz audio, and can cause audible clicking when the audio loops, especially if the audio has loud upper bass/low mids.

Instead, it should have at

[2020-08-17 16:48] rxlecky commented on #35848
Yeah, just what I thought. So I don't see a way this error can be triggered anymore - at least not from the debugger.

I looked briefly over the code and it seems the problem is that the `EditorDebuggerNode::set_camera_override` function was not updated to call `ScriptEditorDebuger::set_camera_override` internally. This seems like an easy fix.

Cool, thanks for confirmation

[2020-08-17 16:55] Mietzsche81 opened #41334 "Godot shader language documentation does not explain lod"
Documentation does not explain how `lod` arguments are used, for example in `texelFetch()`

[2020-08-17 17:15] Thaina commented on #41241
I also got this problem and `MSBuild (VS Build Tools)` does not solve in my case

[2020-08-17 17:52] Ajgamer28 commented on #41331
these are the errors it shows me
ERROR: create: Cannot find path for cache directory!
   At: editor/editor_settings.cpp:760.
ERROR: save_image: Method/Function Failed, returning: err
   At: drivers/png/resource_saver_png.cpp:93.

[2020-08-17 18:05] Ajgamer28 commented on #41331
#bug

[2020-08-17 18:34] Calinou commented on #30310
@Janders1800 Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an

[2020-08-17 18:35] Calinou commented on #41331
You're using a very old version of Godot (3.0.6). The latest version available is 3.2.2.

[2020-08-17 18:45] Calinou commented on #41333
Duplicate of https://github.com/godotengine/godot-proposals/issues/84.

[2020-08-17 18:45] #41333 closed

[2020-08-17 18:55] Ajgamer28 commented on #41331
ok thanks
i will update godot

[2020-08-17 18:57] #41331 closed

[2020-08-17 18:58] bojidar-bg commented on #41320
The image looks like you rotated the tile when placing it. Unfortunately, the autotile code does not support this yet.

[2020-08-17 19:20] Vivraan opened #41335 "If cast to parent type, the resources don't show up in the Inspector"
**Godot version:**

3.2.2-stable

**OS/device including version:**

Windows 10 Home 2004

**Issue description:**

If casting `preload`ed resources to some parent type, these don't show up in the inspector.
![image](https://user-images.githubusercontent.com/12777564/90435370-8666a900-e0ec-11ea-9c3a-a3abb7ea5c0f.png)

**Steps to reproduce:**
1. Add `export(ParentType) var _res := preload("...") as P

[2020-08-17 19:46] Vivraan opened #41336 "Statically typing a value as int and assigning a float to does not emit a warning"
**Godot version:**

3.2.2-stable

**OS/device including version:**

Windows 10 Home 2004

**Issue description:**

https://github.com/godotengine/godot-proposals/issues/1383
Expected a warning.

**Steps to reproduce:**
1. `var x := 1`
2. `x = 0.25`

**Minimal reproduction project:**

[2020-08-17 19:46] kutoman opened #41337 "Polygon2D fill area is not considering the position of the next containing Viewport"
**Godot version:**

3.2

**OS/device including version:**

--

**Issue description:**

![grafik](https://user-images.githubusercontent.com/5825645/90437396-9a051600-e0d2-11ea-892b-280d00771dea.png)

as the screenshot shows, I would expect the polygon fill area (neon green) to show up inside the polygon

**Steps to reproduce:**

Just having the Node hierarchy and a simple polygon which you can see

[2020-08-17 21:02] Xrayez commented on #40659
ClassDB tests ported in #40980. This opens up possibility to write unit tests for classes which inherit `Object` (directly or indirectly), so feel free to write some new tests for those!

[2020-08-17 21:12] Pete-The-Penguin commented on #41311
Thank you!!

[2020-08-17 21:46] JohnCorby commented on #35415
cant this pretty easily be fixed with 4.0 since it will use `super.thing` instead of just `.thing` to get superclass methods/fields? when that happens, doing this chaining (with or without parenthesis) wont be ambiguous for the parser, right?

[2020-08-17 22:52] KoBeWi commented on #28254
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-17 23:03] Zylann opened #41339 "SVG icon is showing blue but only contains red shapes when edited in Inkscape"
Godot 3.2.3 rc3, Windows 10 64 bits

I took a blue icon from Godot and changed all its colors to red variants. But once in Godot, one of the shapes is showing blue, while none of the blue remains when I check the SVG in Inkscape... I have no idea where it comes from, or how to fix it

![image](https://user-images.githubusercontent.com/1311555/90452374-e0b03b80-e0e5-11ea-8fca-caace57481d7.png)

![i

[2020-08-17 23:12] akien-mga commented on #38913
Thanks, I cherry-picked the change for 2.1.7: 11fba315ec.

[2020-08-17 23:18] akien-mga commented on #41261
Is this also caused by #41164 / fixed by #41332?

[2020-08-17 23:28] EricEzaM commented on #41261
Can reproduce on Win 10 1903.

Sometimes the tooltip doesn't even show for me in the scene tree dock. Seems like the offset is wrong or something. Also, the tooltip doesn't always flicker for me. See the latter half of this video, where I hover some buttons which do not flicker:

![image](https://user-images.githubusercontent.com/41730826/90453687-a15d0b80-e134-11ea-9eab-141eef55ad1a.png)

Additio

[2020-08-17 23:32] artism90 opened #41341 "Search & Replace omits first occurence when selected beforehand but the cursor being behind"
**Godot version:**

3.2.3.rc3 (verified also on 3.2.2 stable)

**OS/device including version:**

Windows 10

**Issue description:**

When marking a word via double-click to use it for step-wise Search & Replace, the selected word isn't taken into account, but the succeeding occurrence. Apparently it's solely cursor dependant and in most cases the cursor is located after the selected word when doub

[2020-08-17 23:41] m4gr3d commented on #41099
@BastiaanOlij @Calinou Any ideas if Windows provides an utility like [`which`] to check if a binary is available prior to invoking it?

[2020-08-18 00:00] KoBeWi commented on #28279
Still valid in ba1109a3b

I tested again and this issue probably happens only with CanvasModulate's color. `modulate` in CanvasItems nor `color` in ColorRect/ColorPicker don't have this problem. I wonder why this property is special.

That could have been #33611.

[2020-08-18 00:13] artism90 opened #41342 "Search functionality in script editor doesn't indicate number of occurrences based on current search position"
**Godot version:**

3.2.3.rc3 (verified also on 3.2.2 stable)

**OS/device including version:**

Windows 10

**Issue description:**

The search functionality of the script editor currently lacks a simple yet useful indicator on how far you search-stepped a term (e.g. "**4th of 7 occurrences**"). Being a common feature of like literally *any* code editor this should eventually become also part of G

[2020-08-18 00:29] renatodex opened #41343 "Polygon2D Anti Alias issue with Textures"
## **Godot version:**
3.2.2 Stable

## **OS/device including version:**
MacOS, tried both with GLES2 and GLES3

## **Issue description:**
For some reason, Textures inside a Polygon2D are rendered awfully bad when scale is set to a number that makes the image smaller than it's real size.
I also tested with Line2D, and the issue is the same.

In my editor, they look fine, but when I run the scene, I

[2020-08-18 00:46] hignatious commented on #14399
@KoBeWi Hi I might have a small project that might be exhibiting the behaviour described here.

[Video](https://streamable.com/42fjir)

[collada-animation-bug.zip](https://github.com/godotengine/godot/files/5087439/collada-animation-bug.zip)

- The .blend file has the model and rig with some simple animations using a rigify human rig.
- in the zipped project there's a torso.dae file, double click

[2020-08-18 01:10] Rubonnek commented on #41343
Anti-aliasing can be enabled/disabled per texture at import. See the [import documentation](https://docs.godotengine.org/en/stable/getting_started/workflow/assets/import_process.html).

If I understand correctly, what you may want to disable is the "Filter" flag.

[2020-08-18 02:06] renatodex commented on #41343
Hey @Rubonnek ,
How are you?

Thanks for helping me!
However, I'm afraid It doesn't work the way you say, or maybe I'm doing something wrong.

I have hosted the project on Github, so you can clone and see with your own eyes.
https://github.com/renatodex/godot-antialias-issue-41343

For the purpose of illustration, take a look at how clear and sharp (and by sharp I say "well aliased") the image loo

[2020-08-18 02:38] Rubonnek commented on #41343
Oh, I see. What you are referring to now. That does indeed seem like a graphical bug.

Rendering is not my forte and I'm unable to assist further since I can't reproduce the problem because I don't have access to Mac OS.

[2020-08-18 02:41] tastesliketriangle opened #41344 ""Library already set" when changing library location in .gdns"
**Godot version:**
v3.2.3.rc.custom_build.400a78005

**OS/device including version:**
Win 10 x64

**Issue description:**
I had a `.gdnlib` that I moved into a different location.
This caused problems in the associated `.gdns` files, so I clicked load and pointed to the new library location.
But this produced the following warning:
`modules\gdnative\nativescript\nativescript.cpp:122 - Library in Na

[2020-08-18 02:47] Rubonnek commented on #41343
Pinging @lawnjelly, @clayjohn.

[2020-08-18 06:12] lawnjelly commented on #41343
I can't check out your first OP because it doesn't include the project, but I suspect the issues are to do with mipmapping. It looks like in the first diagram the texture has been imported not using mipmapping, but I can't tell because you don't include project.

I don't see any difference with your second project (the one on github) on my hardware.

I suspect what you are seeing is also due to mi

[2020-08-18 08:43] EricEzaM commented on #41313
Full log:

[code]

[2020-08-18 09:27] ElliotBak3r opened #41349 "Navigation2D on TileMap passes over non-navigation area"
**Godot version:**
3.2.2 Stable

**OS/device including version:**
macOS

**Issue description:**
If you have a turn in the navigation area in a tile, the Navigation2D ignores it and tries to move straight through it instead of going around the turn.

**Steps to reproduce:**
Have a turn in the navigation area in a tile, run get_simple_path() on the Navigation2D and you will get a straight line inste

[2020-08-18 09:34] EricEzaM commented on #41313
Looks like I just needed to create a new project. The godot 4.0 testing project was quite old, some formatting must have changed.

[2020-08-18 09:34] #41313 closed

[2020-08-18 09:38] pouleyKetchoupp commented on #41261
@akien-mga It's not related, I can still reproduce the issue after reverting #41164.

[2020-08-18 09:59] Xrayez commented on #41261
Yes I've seen this before, but never got to report the issue, assumed it's still WIP.

[2020-08-18 12:28] Calinou commented on #41099
@m4gr3d Apparently, there's `where`: https://superuser.com/questions/175466/determine-if-command-is-recognized-in-a-batch-file

[2020-08-18 12:36] Calinou commented on #41343
The reason is simple: the running project is using macOS' lowDPI fallback and is therefore displayed at 2× zoom. Enable **Allow Hidpi** in the Project Settings to solve this.

[2020-08-18 12:36] #41343 closed

[2020-08-18 12:46] Calinou commented on #41343
That said, try to reproduce this bug with **Allow Hidpi** enabled and see if the issue perists.

[2020-08-18 13:00] Calinou commented on #41342
Duplicate of https://github.com/godotengine/godot-proposals/issues/600.

(PS: Please open feature proposals on the Godot proposals repository, not here as this repository is intended to be used for bug reports only.)

[2020-08-18 13:00] #41342 closed

[2020-08-18 13:01] Sslaxx commented on #41336
Conversely, if it were `var x:= 1.0` it would work.

It'd be nice if in the editor Godot could tell you what type of variable that `:=` would produce, in addition to the fact that warnings about type conversion would be useful.

Something along the lines of this (excusing my poor image manip skills, and hoping this gets across what I mean): ![Demo](https://user-images.githubusercontent.com/324679/

[2020-08-18 13:07] EricEzaM commented on #17591
@KoBeWi I think I have fixed #39039 to include resolving this issue now:
![shader_scrpit_editor_ctrl_f_fixed](https://user-images.githubusercontent.com/41730826/90516627-9db69c80-e1a7-11ea-96d7-63b015cac81d.gif)

[2020-08-18 13:20] Calinou commented on #41336
@Sslaxx Making the inferred type display on hover (like in VS Code) is probably the way to go.

[2020-08-18 13:29] chucklepie opened #41351 "Change node name removes editable children and wipes all unique data"
**Godot version:**
3.2.2 stable

**OS/device including version:**
linux mint

**Issue description:**
I changed the name of some nodes with editable children. Without any prompt or direction, it not only removed the editable children, but on showing editable children every change was lost.

Changing a name should not wipe data.

I found this issue: 20409

But it is closed with no status other than

[2020-08-18 13:42] Calinou commented on #33738
@nhydock Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release? There have been fixes to importing OGGs (due to crashes that occurred in many cases).

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minim

[2020-08-18 14:05] Calinou commented on #41351
Duplicate of https://github.com/godotengine/godot/issues/20409 (which is open as of writing).

[2020-08-18 14:05] #41351 closed

[2020-08-18 14:08] Calinou commented on #27197
@alexzheng Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an i

[2020-08-18 14:09] Calinou commented on #27662
@EIREXE Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issu

[2020-08-18 14:10] Calinou commented on #27637
Creating an outline mesh doesn't actually generate an outline. Doing so would require generating way more polygons, lowering performance. Instead, it generates a larger version of the mesh which is supposed to be used with the Front material cull mode.

[2020-08-18 14:11] Calinou commented on #27779
@thisismike97  Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in

[2020-08-18 14:15] Calinou commented on #27381
@clayheaton Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an

[2020-08-18 14:15] Calinou commented on #27588
@mrbig033 Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an is

[2020-08-18 14:15] Calinou commented on #27865
@DaNeubi Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an iss

[2020-08-18 14:17] Calinou commented on #27839
@kone9 Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue

[2020-08-18 14:18] duane-r commented on #40987
Any use of a class constant will cause the same problem with android builds. Again, this works on stable godot 3.2.2, but fails on 3.2.3rc3. See this slightly modified example.

In a project I'm currently working on, the problem is so severe that the android build simply crashes. Removing all references to class constants fixes the issue, but it's a serious pain.

[tn-bug.zip](https://github.com/g

[2020-08-18 14:19] Calinou commented on #27882
I can't reproduce this on 3.2.2, closing.

[2020-08-18 14:19] #27882 closed

[2020-08-18 14:20] Calinou commented on #27864
Closing in favor of #36418 which has more information about the issue at hand.

[2020-08-18 14:20] #27864 closed

[2020-08-18 14:21] Calinou commented on #27951
cc @bruvzg - Was this ever implemented?

[2020-08-18 14:21] Calinou commented on #27934
@Rossosaurus @pjlg Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files

[2020-08-18 14:22] Calinou commented on #27709
@Drkie Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue

[2020-08-18 14:27] Calinou commented on #27889
I can't reproduce this on 3.2.2 on Fedora 31, closing.

[confined_mouse_mode_bug.zip](https://github.com/godotengine/godot/files/5090951/confined_mouse_mode_bug.zip)

(Note that this bug may be OS-dependent due to mouse modes having OS-specific implementations.)

[2020-08-18 14:27] #27889 closed

[2020-08-18 14:27] Calinou commented on #27727
@Takanu Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issu

[2020-08-18 14:29] Calinou commented on #40987
Duplicate of https://github.com/godotengine/godot/issues/40991.

[2020-08-18 14:29] #40987 closed

[2020-08-18 14:30] bruvzg commented on #27951
No, `TranslationServer` should load localization file according to current system locale, but it won't show in the Xcode project. Locale detection should be fixed in #41172.

[2020-08-18 14:31] Calinou commented on #27918
@breakmt Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an iss

[2020-08-18 14:31] Calinou commented on #27025
@fkrick Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issu

[2020-08-18 14:32] Calinou commented on #24733
@nobuyukinyuu Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in a

[2020-08-18 14:34] Calinou commented on #30256
Duplicate of https://github.com/godotengine/godot/issues/14634.

[2020-08-18 14:34] #30256 closed

[2020-08-18 14:35] Sslaxx commented on #14910
Still reproducible with 3.2.2, but as mentioned above this is probably not easily fixable due to precision issues with floating-point type variables.

Unlikely I know, but would 4.0's double-precision compiling option "fix" this? And/or should this be closed as not really a Godot bug per se?

[2020-08-18 14:36] Vivraan commented on #41336
(Off topic) not to mention, Dictionary key-value types.

[2020-08-18 14:37] Calinou commented on #30545
@Mugiwara00 Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an

[2020-08-18 14:37] Calinou commented on #30464
@Geequlim Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an is

[2020-08-18 14:37] Calinou commented on #30472
@OriginalAGP Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an

[2020-08-18 14:38] Calinou commented on #30553
@miblooming Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an

[2020-08-18 14:44] rainlizard commented on #27889
It is indeed fixed. A recent fix too, I checked and it looks like this bug was still present in 3.2.1

[2020-08-18 14:52] Geequlim commented on #30464
I can still reproduce this with latest gcc/gdb but clang/llvm works fine.
Just debug the editor without any project.

[2020-08-18 15:19] Ismel94 opened #41353 "Error Export Android"
![errorGodot](https://user-images.githubusercontent.com/52164665/90531974-e9c7f980-e133-11ea-8033-f5733bc221fd.jpg)

[2020-08-18 15:21] Calinou commented on #41353
@Ismel94 When reporting bugs, please fill in the [issue template](https://github.com/godotengine/godot/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) instead of replacing it.

[2020-08-18 16:24] #9488 closed

[2020-08-18 16:27] Likkkez opened #41354 "Light Size slider is creating artifacts"
**Godot version:**

f97280a0127950f5ae7d2e38f239ab9633afb041

**OS/device including version:**
Pop OS 19, gtx1080ti

**Issue description:**
Light size slider creates weird artifacts on highlights, doesn't really soften shadows.

Light size 0, Godot:
![godot1](https://user-images.githubusercontent.com/44336181/90537228-c0d05480-e185-11ea-8163-8f0542b9b971.png)
Light size 2 Godot:
![godot2](https://

[2020-08-18 16:32] Duehok commented on #33366
Confirmed on 3.2.2 . that is definetly NOT the intended behavior. The documentation is very clear:

https://docs.godotengine.org/en/3.0/classes/class_tileset.html#class-tileset-tile-get-texture

Texture tile_get_texture ( int id ) const
Returns the **tile's** texture. (emphasis mine)

Workaround that can be very 💩 for performance: load the tileset texture in an AtlasTexture, set the AtlasTexture's

[2020-08-18 16:50] SamToorchi commented on #16318
my solution for this problem:

[code]

Scene structure:

|--> CanvasLayer
    |--> PanelContainer
        |--> VBoxContainer

[2020-08-18 17:00] ginobean commented on #26924
I just tried the MRP (see androidtest.zip, listed earlier in this bug report) included with this bug report.

It looks to me like the Android export setting: screen/opengl_debug is what's causing the app to fail on my Samsung Galaxy S4.

If I turn this option OFF, the app deploys successfully, on my Samsung Galaxy S4. If I turn this option ON, the app fails at startup every time, on my Samsung Gal

[2020-08-18 17:18] hazarek opened #41356 "Wrong Gdscript UTI type for macOS"
**Godot version:**
3.2.3 rc official

**OS/device including version:**

macos 10.15.6

**Issue description:**

Quicklook cannot preview gdscript files because the gd extension is defined as public.data in this file;
https://github.com/godotengine/godot/blob/65730ab9f6fbae34bb161113161b43f8b3fcd4d2/misc/dist/osx_tools.app/Contents/Info.plist#L114

**Steps to reproduce:**
Open it with Quicklook, onl

[2020-08-18 17:23] Gerarama commented on #25626
Still in Godot 3.2.2 Stable.

[2020-08-18 17:40] lawnjelly commented on #38142
Just tested and as expected, this is fixed by #41123 (at least with balance values above 0.0, I dare not try 0.0 as it crashed my OS when I tried it before the fix! :grin: ).

Noteworthy though that this minimum reproduction project only tests the visual server octree. The same bug could occur in other octrees, at present the visibility notifier octree and the godot physics. These are not currentl

[2020-08-18 17:50] renatodex commented on #41343
Hey @lawnjelly @Calinou !

First of all, thanks for your help, this proximity to Dev members and community support is exactly the kind of thing that made me left Unity, thanks for all your hard work in this project!

Secondly, I wanted you to know that I've became a contributor to Godot on Patreon from this day on because of this issue, especially because of the detailed response of @lawnjelly and

[2020-08-18 17:52] Calinou commented on #41356
Feel free to open a pull request to fix this :slightly_smiling_face:

[2020-08-18 18:14] Calinou opened #41357 "Visual artifacts when using OmniLights with volumetric fog enabled (likely related to clustering)"
**Godot version:** Git 87ae50990

**OS/device including version:** Fedora 31, GeForce GTX 1080 (NVIDIA 440.100)

**Issue description:** Visual artifacts can be seen when using OmniLights with volumetric fog enabled. This is likely related to clustering.

![image](https://user-images.githubusercontent.com/180032/90549776-44db0a00-e18f-11ea-9b3e-2e436f44361a.png)

**Steps to reproduce:** Add several

[2020-08-18 18:27] hazarek commented on #41356
I don't have time to build and test it. i am not an apple developer. I am not an expert.

[2020-08-18 18:43] KoBeWi commented on #29617
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-18 18:46] KoBeWi commented on #29170
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

[2020-08-18 18:47] KoBeWi commented on #28882
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-18 18:51] KoBeWi commented on #28743
I checked the repro in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) and I can't reproduce the issue (although not sure what to look at, because the video is dead).
@Jeto143 Can you confirm if it's fixed in the mentioned version?

[2020-08-18 19:37] LordBrkica commented on #39907
Hi,

I am using Newtonsoft.Json in my project and I have the same problem in Visual studio code.
I work in Windows 10 and in editor have MSBuild selected.

The thing is - I am able to build the project in Godot, but when I go to VSC my
`using Newtonsoft.Json`
is not recognized.

I tried using _nuget restore_ and _nuget install_ but to no avail.

Is dotnet CLI supported ?

[2020-08-18 19:40] jjmontesl opened #41358 "Error awaiting on a method called via Object.Call in C#"
**Godot version:**

Godot Engine v3.2.2.stable.mono.official - https://godotengine.org
OpenGL ES 2.0 Renderer: GeForce GTX 1660/PCIe/SSE2
OpenGL ES 2.0 Batching: ON

**OS/device including version:**

Running on Ubuntu 18.04.

**Issue description:**

When calling an asynchronous method via Object.Call(), I cannot await on the result. The debugger output shows an error when marshalling the resulting

[2020-08-18 19:42] jjmontesl commented on #41358
Ideally, I'd furthermore suggest having CallDeferred return an Awaitable (currently returns void) or some alternative that simplifies code that waits for an async call, but I leave this considerations to the experts.

[2020-08-18 19:47] aaronfranke commented on #28882
This is still a problem which hasn't been solved yet. It might be solved by 4.0 if we use the new csproj format.

[2020-08-18 20:10] NVriezen commented on #30558
Okay, makes sense!
I can not promise anything yet. But maybe I can put together such demo project in the upcoming month. So we can have a clear view of what works and what does not regarding UWP. As I said earlier. I am planning to dive in deeper into the engine, but this won't happen in the upcoming 4 to 4.5 months probably.

[2020-08-18 20:13] Janders1800 commented on #30310
Yes, it still happens on stable and on 3.2.3-rc3
Here a minimal reproduction project:
[Kinema.zip](https://github.com/godotengine/godot/files/5092572/Kinema.zip)

The red wall is just a little bit rotated and the "player" gets launched on air (I suppose it should prevent it from climbing and force it to stay on floor), the green wall is completely vertical.
![Screenshot from 2020-08-18 22-04-39](h

[2020-08-18 20:26] Xrayez commented on #41339
May be related to color conversion added in #10382 (light/dark modulation mixup?).

[2020-08-18 20:58] Zylann opened #41360 "Dangling OmniLight happening randomly"
Godot 3.2.2, GLES3, Windows 10 64 bits

Continuing from https://github.com/Zylann/voxelgame/issues/71

I was hesitant to post this one, but after investigating I think it's a bug in the renderer.

I have a game project in which I create explosions, each with an OmniLight inside. They get freed after 3 seconds, after lighting the terrain and a bunch of debris I spawn around.
After spawning several

[2020-08-18 21:01] clayjohn commented on #41360
Could this be multithreading issue? Is anything happening in multiple threads, and/or is the renderer set to multithreaded?

[2020-08-18 21:02] Zylann commented on #41360
Although threads are going on to manage voxels, the renderer is set to `single/safe` and is not used from any of those threads.

[2020-08-18 21:18] #40740 closed

[2020-08-18 21:18] #41161 closed

[2020-08-18 21:18] #40702 closed

[2020-08-18 21:18] #40826 closed

[2020-08-18 21:18] #41053 closed

[2020-08-18 21:18] #41070 closed

[2020-08-18 21:18] #40650 closed

[2020-08-18 21:18] #40793 closed

[2020-08-18 21:18] #40855 closed

[2020-08-18 21:18] #40985 closed

[2020-08-18 21:18] #23843 closed

[2020-08-18 21:18] #41017 closed

[2020-08-18 21:22] #32166 closed

[2020-08-18 21:22] #30629 closed

[2020-08-18 21:25] neikeq commented on #29170
Assuming this is fixed. It can be re-opened otherwise.

[2020-08-18 21:25] #29170 closed

[2020-08-18 21:26] KoBeWi commented on #40751
Fixed in #41359

[2020-08-18 21:26] #40751 closed

[2020-08-18 21:29] neikeq commented on #41358
We can make `GDScriptFunctionState` awaitable.

[2020-08-18 21:38] akien-mga commented on #40952
CC @madmiraal

[2020-08-18 21:39] akien-mga commented on #33234
Fixed by #41088.

[2020-08-18 21:39] #33234 closed

[2020-08-18 21:43] neikeq commented on #41358
There are two things wrong here.

[code]

`RunStepText` returns `Task`, not `GDScriptFunctionState`. However because of the error you're getting, `Call` actually returns `null` so the cast works. If `Call` didn't fail and returned the task, then you would get an `InvalidCastException`.

The correct code would be:

[code]

However, that doesn't work right now because of the error you're reporting.

[2020-08-18 21:43] #41358 closed

[2020-08-18 22:04] Zylann commented on #41360
Just managed to reproduce it in a simpler project.
It's still a rather complicated repro, but at least it doesn't involve the voxel module:

[OmnilightBug.zip](https://github.com/godotengine/godot/files/5093075/OmnilightBug.zip)

Launch main scene, start shooting around randomly using LMB. At some point the errors will start printing.

[2020-08-18 22:08] DanielZTing opened #41361 "Minor usability issue with triple quotes"
**Godot version:**

v3.2.2.stable.official

**OS/device including version:**

MacBookAir8,1
macOS Catalina 10.15.5 (19F101)

**Issue description:**

When I type three quotes in a row for a multiline comment or string, the script editor shouldn't automatically close the last one.

**Steps to reproduce:**
Type three quotes in any script

**Minimal reproduction project:**

[2020-08-18 22:11] 19PHOBOSS98 commented on #19290
it's still here on 3.2.3 rc3. Please for the love of everything that is pure and good someone fix it :'(

[2020-08-18 22:35] wynoo commented on #21824
@oeleo1 I have the same problem with my first Godot game (no splash screen shown, just a black screen) and I found your minimal reproduction project quite interesting.
Playing with it, I managed to workaround the issue just replacing the project's main scene with a simple boot scene with just this code:
[code]
With this, the splash screen is shown for all the time needed to load and show the Main.

[2020-08-18 23:37] m4gr3d commented on #37190
@pouleyKetchoupp The primary issue is caused because we're setting the height of the edit text to `wrap_content`.  Setting a fixed size (e.g: 300pixels) should fix the issue.

@akien-mga Can the other PRs made against `master` for this issue be reverted.

[2020-08-18 23:52] oeleo1 commented on #21824
Indeed, the current state of affairs is that using boot splash on mobile is a no go. The right way to do it is to have a minimal load scene which shows whatever is desired and use [background loading](https://docs.godotengine.org/en/stable/tutorials/io/background_loading.html).

[2020-08-19 00:01] KoBeWi commented on #27647
Still valid in 65730ab9f

[2020-08-19 00:02] KoBeWi commented on #28260
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-19 00:05] KoBeWi commented on #28189
Still valid in 65730ab

[2020-08-19 00:13] KoBeWi commented on #27514
I can confirm in 3.2.3 rc3 with the attached project, but some more minimal project would be useful (to make sure it's not a bug with the project itself).

In GDScript the issue no longer exists.

[2020-08-19 01:45] Rubonnek commented on #41030
This is indeed a valid use case, however I'm closing this issue as it's not really a bug within the engine but rather a part of it's design.

If you would like us to follow up on this, please open a proposal at: https://github.com/godotengine/godot-proposals/

[2020-08-19 01:45] #41030 closed

[2020-08-19 02:31] KoBeWi commented on #33942
Closing as per above comment (and lack of response from OP).

[2020-08-19 02:31] #33942 closed

[2020-08-19 02:38] ACB-prgm commented on #29916
Still having some issues with cursor_get_line/cursor_get_column on Godot 3.2.2.stable.official (on Mac OS).

Because the plugin I am working on draws an image at the location of the cursor, I was able to visually calculate the error for the get_line function: 11.0/6.0 (1.833 repeating)

(IE multiplying the output of cursor_get_line() * 11.0/6.0 gives the correct line number) super weird.  I'm not

[2020-08-19 04:32] capnm commented on #37190
The issue description is not entirely accurate; in fact, Godot's entire viewport moves up. Your patch doesn't fix anything either. I think it damages the current UI even more ...

[2020-08-19 05:38] m4gr3d commented on #37190
@capnm The PR addresses the issue described in this bug which can be verified by running the minimal reproduction project before and after applying the changes.

If the issue's description is inaccurate, provide clarifications as to why or open another issue. If the PR introduces regressions, provide a description of the regressions and/or a reproduction project to highlight the regressions.

[2020-08-19 06:02] lawnjelly commented on #41360
I've tried this both with the octree fix and the old octree, and haven't been able to reproduce in either.

I think given that it happens on @Zylann's machine, it would be best for him to download #41122 and see if this fixes the issue on his side.

[2020-08-19 06:42] ivanskodje opened #41365 "_get_custom_warning() dialog box height does not return to normal after removing newlines"
**Godot version:**
v3.2.2.stable.official (on steam)

**OS/device including version:**
Windows 10

**Issue description:**
When you add newlines to an overridden _get_configuration_warning() tool script, the dialog box does not fit to height.
This is demonstrated when you add several "\n\n\n\n" in the message, view it, and then remove the newlines. The dialog box has the same height, and does not s

[2020-08-19 07:55] ivanskodje opened #41366 "Shortcut (i.e. CTRL+D) in the scene tree is ignored when the script window is open"
**Godot version:**
v3.2.2.stable.official (on steam)

**OS/device including version:**
Windows 10
(Version	10.0.19041 Build 19041)

**Issue description:**
When the script window is open, regardless if I click on a node in the scene tree, or click outside of the script to "unselect" the script window, shortcuts such as CTRL+D are ignored, and interpreted as duplicate line in the script window.

![i

[2020-08-19 08:25] Calinou commented on #41366
Duplicate of https://github.com/godotengine/godot/issues/36205.

[2020-08-19 08:25] #41366 closed

[2020-08-19 08:26] akien-mga commented on #41267
Fixed by #41346.

[2020-08-19 08:26] #41267 closed

[2020-08-19 08:28] Calinou commented on #27279
Closing in favor of https://github.com/godotengine/godot-proposals/issues/302, as feature proposals are now tracked in the Godot proposals repository.

[2020-08-19 08:28] #27279 closed

[2020-08-19 08:38] Calinou commented on #34089
@hiulit Can you (or anyone else) still reproduce this bug in [Godot 3.2.2](https://godotengine.org/article/maintenance-release-godot-3-2-2) or any later release?

Also, can you reproduce this in any other text field in the editor?

[2020-08-19 09:42] soloparatolos commented on #41316
Could be posible/doable to create a default "procedural night shader" to replace que absence of night_sky texture?

If this was posible, the absence of DirectionalLight would be more clear (and at least it would not feel like a bug).

And yes, I was one of those that thought that the blackness was a bug...

[2020-08-19 10:25] Reneator opened #41368 "Can't Rename folder when only changing letter from small to capital"
**Godot version:**
3.2.3.rc3 official

**OS/device including version:**
Windows 10 64 bit

**Issue description:**
When I want to rename a folder from lower-case to upper-case, i only get "error moving".
Was expecting for it to just change the folder-name.

When using 3.2.3 rc3 with macOS, it only tells me "Folder with that name already exists" but not error-message. Still would expect it to just c

[2020-08-19 10:34] jjmontesl commented on #38188
I just wanted to reflect here that this also impacts ability to await for async functions called via `Godot.Object.Call`, ask `Task`cannot be marshalled:

[code]

(This is detailed in the referenced issue #41358)

[2020-08-19 10:35] akien-mga commented on #41368
Duplicate #19592.

[2020-08-19 10:35] #41368 closed

[2020-08-19 10:59] GeorgeS2019 commented on #30558
`So we can have a clear view of **what works and what does not** regarding UWP.`
It took me many months speaking to many different users here TO FINALLY get here.

`Godot 4.x should be much easier to add an actual DirectX backend, which would solve the issues with graphics.`
Before we address the graphic performance issue. The demo project (@NVriezen ) will help to address non graphics issue befor

[2020-08-19 12:01] KoBeWi commented on #28665
This might not be a bug actually. The reported viewport size is a correct one. When you enable stretch, the contents just get scaled. This should be probably documented and maybe there could be a method that returns the scaled size.

[2020-08-19 12:06] Calinou commented on #28665
This is how I handled the issue in my WIP 3D waypoints demo:

[code]

[2020-08-19 12:09] TheDuriel commented on #41365
Unless its actually keeping the new line characters in the text, this should be because labels dont shrink to the size of their text. And instead of instancing a whole new dialogue, the old one is reused.

[2020-08-19 12:10] #41037 closed

[2020-08-19 12:59] capnm commented on #37190
I've now checked the demo in this issue and the PR actually fixes it!

In my app I get new lines written into invisible area, but I can fix
that by manually updating the horizontal scroll position...

[2020-08-19 13:20] SamToorchi opened #41370 "CanvasLayer is unselectable"
**Godot version: 3.2.2 stable**

**OS/device including version: MacOS Mojave**

**Issue description:**
**_Sometimes_** is it not possible to add "CanvasLayer" Node to a empty scene or as child of a 2DNode. The Node is unselected. But if the Node is in the history of Node List, you can select and add it to the scene and it works.

![Bildschirmfoto 2020-08-19 um 15 17 49](https://user-images.githubu

[2020-08-19 13:27] bruvzg commented on #41370
It's `CanvasItem` that's grayed out, because it is virtual type (always should be non-selectable), `CanvasLayer` is another node.

![90639779-773c4400-e22f-11ea-88ba-01223659832a](https://user-images.githubusercontent.com/7645683/90640305-7fe54800-e238-11ea-9fd7-62fbfec4f45c.png)

[2020-08-19 13:28] SamToorchi commented on #41370
oh, i'm sorry.
Thank you very much!

[2020-08-19 13:28] #41370 closed

[2020-08-19 14:27] cjmxp opened #41371 "godot 3.2.3 crash debug target=debug bits=32"
Godot Engine v3.2.3.rc.custom_build.12b27ae5e - https://godotengine.org
CrashHandlerException: Program crashed
Dumping the backtrace. Please include this when reporting the bug on https://github.com/godotengine/godot/issues
[0] ???
[1] DumpRegistryKeyDefinitions
[2] DumpRegistryKeyDefinitions
[3] DumpRegistryKeyDefinitions
[4] DumpRegistryKeyDefinitions
[5] DrvDescribePixelFormat
[6] wglCopyContex

[2020-08-19 14:34] akien-mga commented on #41371
Why do you keep removing the issue template instead of providing the information we request? We can't help if you don't help us.

[2020-08-19 14:37] m4gr3d commented on #37190
@capnm can you provide a recording or an example repro project. That issue should be addressable as well by configuring the edittext parameters.

[2020-08-19 14:42] clayjohn commented on #41316
@soloparatolos it's a good idea. I initially had a procedural night sky built in. The issue with it is that procedural stars are very hard to get right for all screen resolutions. So either you end up with something that looks pretty and stylized or you do something that looks realistic-ish, but is slow. At the end of the day, I couldn't make something that was general purpose enough to include in

[2020-08-19 15:01] razcore-art commented on #16863
`RayCast.cast_to` should be renamed to `RayCast.segment` or something. I just had somone say it took him 40 min to realize it's a property and not a function. Probably cause it can be confused to a verb.

[2020-08-19 15:47] tcoxon opened #41374 "GridMap remains visible if parent is set to not visible"
**Godot version:**
3.2.2

**OS/device including version:**
Ubuntu Linux 16.04, 64-bit
GeForce GTX 970 with NVIDIA 384.130 driver
GLES3 backend

**Issue description:**
GridMaps remain visible in the editor and at runtime while parent spatial nodes are set to invisible.

**Steps to reproduce:**
1. Create a GridMap node in a 3D scene
2. Set the scene root to invisible
3. Notice the GridMap remains vi

[2020-08-19 15:48] brokeyourbike commented on #41356
So sad 😞

[2020-08-19 15:51] nathanfranke commented on #16863
What about `RayCast.target`?

[2020-08-19 15:55] Calinou commented on #41374
This was reported a long time ago in https://github.com/godotengine/godot/issues/907, but it seems the bug appeared again according to https://github.com/godotengine/godot/issues/10418#issuecomment-597557161.

[2020-08-19 15:58] Xrayez commented on #16863
@razcore-art I recently [answered a question related to ray casting](https://godotengine.org/qa/79866/ray-casting-extend-until-collision), and I used `segment` word to describe it, so I think makes sense. But this could also be rewritten as `direction` and `length`, so it will actually become something closer to a ray rather than a segment, speaking geometrically (or just provide alternative prope

[2020-08-19 16:07] capnm commented on #37190
It depends on the height of the text field and the font size. You could try the demo from https://github.com/godotengine/godot/pull/40944#issuecomment-667648780

Currently, the bigger issue for me is that the virtual keyboard height is not correctly calculated when it is above the Android navigation bar. On the mobile phone in portrait format, on the tablet always ...

[2020-08-19 16:07] Xrayez commented on #16863
[PhysX API](https://docs.nvidia.com/gameworks/content/gameworkslibrary/physx/guide/Manual/SceneQueries.html#raycasts) confirms my idea of unit direction + length for configuring raycasts. 😛

[2020-08-19 16:25] RaTcHeT302 commented on #41371
i don't think u can compile as 32 bit on windows, it always errored out for me

u might be stuck on 64 bits

[2020-08-19 16:46] KoBeWi commented on #28658
Still valid in 3.2.3 rc3

[2020-08-19 17:23] kzerot commented on #16761
Same here, on Win10 InputEventScreenTouch is never false in _gui_input(event)
Also doesn't work touch scroll in TichTextLabel

[2020-08-19 17:38] jimbeauphloyd opened #41377 "Dictionary keys by variable do not store correctly"
**Godot version:**
Godot Engine v4.0.dev.custom_buld.f97280a01

**OS/device including version:**
Mac OSX 10.15.5
Vulkan

**Issue description:**
Passing a variable key to a dictionary does not place values in the correct key.

Result:
[code]

Expected Result:
[code]

**Steps to reproduce:**

[code]

**Minimal reproduction project:** [DictionaryBug.zip](https://github.com/godotengine/godot/files/509

[2020-08-19 18:09] drwhut opened #41378 "Exports with compiled GDScript produce parse errors when using global classes."
**Godot version:**
3.2.3-rc3

**OS/device including version:**
Linux Mint 20

**Issue description:**
When using a global class (a class that has been defined with a `class_name`), it will work normally in the editor. However, in exports of the project where the GDScript isn't in plain text (e.g. compiled), the engine will produce a script error saying the class name identifier has not been declare

[2020-08-19 18:14] Calinou commented on #41378
Duplicate of https://github.com/godotengine/godot/issues/40991.

[2020-08-19 18:14] #41378 closed

[2020-08-19 18:21] alex8141 commented on #41371
@RaTcHeT302
How selfish you are. This is completely open source non-commercial job. Contributors are working hard for the engine in their spare times. You don't like the issue templates huh? You don't report bugs and they disappear randomly huh? Just go away kid. I am just sorry for your current and future family.

[2020-08-19 18:22] hazarek commented on #41356
I'll change `public.data` to `public.script` it should work, but I'm not sure.
so that QuickLook can display it as plaintext. because public.script conforms to plain-text.
[Uniform Type Identifiers Reference](https://developer.apple.com/library/archive/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html#//apple_ref/doc/uid/TP40009259)
public.script < pu

[2020-08-19 18:49] 2nafish117 opened #41380 "Occasional jitter when KinematicBody2D moved in _physics_process()"
**Godot version:**
3.2.1 and 3.2.2

**OS/device including version:**
Windows 10, 8Gb RAM, Nvdia Geforce 920M (Driver version 425.31), GLES3 (probably occurs in GLES2 as well)

**Issue description:**
The docs say to use ```move_and_*``` functions in ```_physics_process()```, but there is an occasional jitter that happens around every 2-3 seconds. Using ```move_and_*``` in ```_process()``` however d

[2020-08-19 18:53] Yetizone commented on #41151
Hello ! Newcomer here.

I'm interested in contributing to Godot so I've submitted a PR for this issue.
Let me know if the submitted changes are alright.

[2020-08-19 19:36] KoBeWi commented on #28601
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-19 19:38] KoBeWi commented on #28369
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

[2020-08-19 19:41] KoBeWi commented on #28545
In 3.2.3 rc3 the project looks like on the screenshot, so it's probably still valid.

The project doesn't work properly in 4.0, but it's likely the issue is fixed there.

[2020-08-19 19:44] Likkkez opened #41382 "GLTF Importer fails to import if compression is off"
**Godot version:**
844251596fb6ceaaeef521611ea32e138b1adc3b

**OS/device including version:**
pop OS, 1080ti

**Issue description:**
When trying to reimport the model with 'Compress' unchecked the model disappears and this error shows up in console:
ERROR: Size of data provided (192816) does not match expected (203528)

**Steps to reproduce:**
1. Open an empty project
2. Import attached model:
htt

[2020-08-19 19:47] KoBeWi commented on #28405
@LinuxUserGD Can you still reproduce this in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3)? If yes, please upload a new reproduction project smaller than 250 MB, thanks.

[2020-08-19 19:59] Calinou commented on #41380
Try installing, enabling and configuring lawnjelly's [smoothing-addon](https://github.com/lawnjelly/smoothing-addon) and see if the issue persists.

[2020-08-19 20:04] KoBeWi commented on #20968
Setting `playing` property to true will play the animation in the editor, which effectively previews it. In any case, this is a material for a proposal that should go to the [official proposal repository](https://github.com/godotengine/godot-proposals).

[2020-08-19 20:04] #20968 closed

[2020-08-19 20:17] #41068 closed

[2020-08-19 20:17] #41069 closed

[2020-08-19 20:17] #41174 closed

[2020-08-19 20:17] #41098 closed

[2020-08-19 20:17] #41169 closed

[2020-08-19 20:17] #41170 closed

[2020-08-19 20:31] aaronfranke commented on #16863
@Xrayez I would avoid using the word "cast" at the start of a property, since I naturally read that as the verb "cast" and not the noun "cast", and therefore `cast_position` likely wouldn't have solved the original problem of not knowing this is a property and not a method (it would be easy to assume `cast_position` is a method that casts to a position).

[2020-08-19 20:45] MatthewDLudwig commented on #3963
Why was this reverted with the addition of GPU particles?

[2020-08-19 20:54] KoBeWi commented on #3963
Because the particle system was rewritten.

Also this should probably go to https://github.com/godotengine/godot-proposals/issues/815

[2020-08-19 20:56] Jiaming00 opened #41383 "C++ comments cause crash"
**Godot version:**
3.2.2

**OS/device including version:**
windows10

**Issue description:**
I am writing code that is completely unrelated to godot in a native script environment. A line of Chinese comment caused a crash:
**System.Net.Sockets.SocketException (0x80004005): The remote host forced an existing connection to be closed.
    In Mono.Debugger.Soft.TcpConnection.TransportReceive(Byte[] bu

[2020-08-19 21:01] MatthewDLudwig commented on #3963
Thanks for the link, seems it's already been suggested.  If anyone finds themselves here when looking for the solution, you can show your support for this being added to 4.0 at https://github.com/godotengine/godot-proposals/issues/815#issuecomment-665567264

[2020-08-19 21:03] Calinou commented on #41383
@Jiaming00 Please upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project) to make this easier to troubleshoot.

[2020-08-19 21:05] Jiaming00 commented on #41383
Sorry for disturbing you guys.
This should be because the vs compiler mistaken utf-8 for unicode. Because I use vscode.
😅

[2020-08-19 21:05] #41383 closed

[2020-08-19 21:12] fire commented on #41382
I can't reproduce this.

[2020-08-19 21:13] fire commented on #41382
![image](https://user-images.githubusercontent.com/32321/90690212-27a54a80-e226-11ea-8eb9-0b66ad0f9ca5.png)

Here's a screenshot.

[2020-08-19 21:18] fire commented on #41354
Why are you setting specular to 1? Remember this is physically based shading specular and not some other one. Also, I'm not sure Godot 3.2 has soft shadows.

[2020-08-19 21:21] katp32 commented on #12781
This issue is definitely still present, using Godot 3.2 stable on Gentoo Linux

[2020-08-19 21:29] KoBeWi commented on #3963
So I guess this can be closed in favor of the proposal.

[2020-08-19 21:29] #3963 closed

[2020-08-19 21:30] fire commented on #41382
Can confirm that compressed meshes via gltf don't work in revision 87ae509905e6a4388588472b4edddb791aec56a4

[2020-08-19 21:43] clayjohn commented on #41354
In Godot, light size currently doesn't change the intensity of the light so Blender and Godot are not comparable.

We have plans to add physical light units later, so the behaviour of area lights will be more similar to Blender.

[2020-08-19 21:46] CodeFreezr commented on #30915
I love the way how bolt/unity can scan new components and code to offer total generic new units. And also to have two kind of flow-diagrams: a flow graph and a state graph aka visual state machine. This helps a lot.

Blueprint/unreal is awesome in the way how to group nodes/units as a collapse-to-function, -to-macro, -to-node. And also the deeper penetration in the areas of HUD, menu, physical bas

[2020-08-19 21:47] clayjohn commented on #27637
@Calinou it's slightly different because the grow parameter can easily create gaps in the mesh. While the generated mesh won't.

[2020-08-19 21:57] FeralBytes commented on #40953
@akien-mga I would like too. But currently @m4gr3d changed the way that you get Context and Activity in Godot 3.2.2 versus the beta. But I don't know how he changed it, I can't find any details about how I would get the Activity or Context now in my plugin. Please help me fix my plugin in getting the Application Activity and Context or else I will have to remain on Godot 3.2.2-beta4.
Details provi

[2020-08-19 22:06] neikeq commented on #38988
I tried to reproduce this from what I understood from the issue, but I don't get any error so I may have done something wrong. Can you upload an example project to reproduce the issue?

[2020-08-19 22:08] neikeq commented on #41241
I wasn't able to reproduce on Linux. I'll try on Windows tomorrow. BTW, what version of the .NET Core SDK is installed on your system? (`dotnet --version`)

[2020-08-19 22:10] Likkkez commented on #41354
I wasn't really looking to replicate the blender behaviour. I was looking to make the light softer not darker/brighter. Even if I increase the size and then decrease the strength the weird highlight artifacts stay on the model making it look like a weird toon shader.

Size: 1.0; Strength 1.0:
![Screenshot_20200820_010506](https://user-images.githubusercontent.com/44336181/90694423-47b62780-e281-11

[2020-08-19 22:27] KoBeWi commented on #28401
Still valid in 3.2.3 rc3, not sure about master.

[2020-08-19 22:31] m4gr3d commented on #40953
@FeralBytes `onMainCreateView` has been renamed to `onMainCreate`. Once you make the update, you should be good to go.

[2020-08-19 22:47] m4gr3d commented on #21824
This issue should be addressed in Godot 3.2.4 by PR #41384.

Feel free to give it a try and provide feedback!

[2020-08-19 22:51] m4gr3d commented on #39242
Closing this issue as it seems resolved. Feel free to reopen otherwise.

[2020-08-19 22:51] #39242 closed

[2020-08-19 23:02] m4gr3d commented on #40896
@MightyPrinny That's the intended behavior. The plugins require additional parameters which is passed to the gradle build process at export time. As such they can't be used with a (default or generated) template.

We're still in the process of improving the build and export flow, so we'll take the feedback into consideration.

Thanks!

[2020-08-19 23:02] #40896 closed

[2020-08-19 23:08] KoBeWi commented on #28379
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-20 00:18] m4gr3d commented on #37190
@capnm Thanks for the demo; I'll take a look.

@capnm Do you have an open bug to track that issue? If not can you start one since it seems that issue is sufficiently different from the one described in this bug.

[2020-08-20 01:44] Thaina commented on #41241
Turn out `MSBuild (VS Build Tools)` error was caused by difference problems and I have fix it

But `dotnet cli` and `mono` still not worked

I use dotnet `3.1.401`

Also actually, trying to run `dotnet build` command line is not worked with godot project too. I could run `dotnet clean` and `dotnet restore`  but `dotnet build` output the same error as in godot

[2020-08-20 02:59] capnm opened #41388 "The android's virtual keyboard & the navigation bar height isn't calculated correctly."
___

***Bugsquad edit:** This bug has been confirmed several times already. No need to confirm it further.*

___

**Godot version:**

3.2 branch tip 9bf5a0b791faf8e960bdb07009b5fe8003206e4f

**Issue description:**

The height of the virtual keyboard `OS.get_virtual_keyboard_height()`
isn't calculated correctly if it is above the Android navigation bar.

This happens in the smartphone in portrait f

[2020-08-20 03:04] capnm commented on #37190
Damn, I thought you'd answer with another PR one-liner.
Ok, I'll challenge you now with a proper bug report ;-)
https://github.com/godotengine/godot/issues/41388

[2020-08-20 03:35] name-here commented on #41316
Alternatively make PhysicalSkyMaterial have a  "sun" property that points to the DirectionalLight3D it will use as the sun (or an array if multiple suns are supported in the future).  This would make it a bit more obvious that it needs a DirectionalLight3D to have a sun.  It also fixes the current problem that, if there is more than one DirectionalLight3D in the scene, PhysicalSkyMaterial only eve

[2020-08-20 03:38] EricEzaM commented on #41377
Seems to be with the initialization of the values. This gives the expected output:

[code]

[2020-08-20 03:44] EricEzaM commented on #41377
Additionally, expanding this to:

[code]

"A" and "B" remain correct, but "C" and "D" get mixed up. However, they do not get values from "A" and "B" even when they are added after.

[2020-08-20 04:29] molevision commented on #39758
Unfortunately not Intel related, and not limited to AnimatedTexture(s) either.

On my MBP 2015 with the discrete Radeon R9 M370X, Godot's update spinner spinning means 100 (that's right) percent GPU load. This can be caused by anything that updates the viewport continuously, and most egregiously: An idle animation on my 3D character. Which means if I have my animation tree enabled, I have godot us

[2020-08-20 04:48] Cheeseness opened #41389 "AudioStreamPlayer.seek() does not update playback position"
**Godot version:**
3.2.2.stable

**OS/device including version:**
Fedora 29

**Issue description:**
Calling AudioStreamPlayer's seek() function does not update the AudioStreamPlayback's internal position, resulting AudioStreamPlayer.get_playback_position() returning unexpected values.

**Steps to reproduce:**
1. Run attached project
2. Wait for some time to pass
3. Click the pause button to pause

[2020-08-20 05:19] clayjohn commented on #41316
@name-here I like that. It also solves another problem I've been tossing around about how to properly support a moon.

I have no idea how we could make it work though. The light is read directly from the shader. The material has no access to it.

[2020-08-20 05:42] DangerChaser commented on #41377
Initializing each array with **UNIQUE** values seems to give the expected output, but only if it's unique. Otherwise, Godot writes to the same array, e.g.
[code]

[2020-08-20 06:02] DrMoriarty commented on #28379
@KoBeWi
I fixed this bug (as many others) in my own branch. So I don't care ;-)

[2020-08-20 06:02] #28379 closed

[2020-08-20 06:07] EricEzaM commented on #41389
Confirmed on Win 10

[2020-08-20 06:31] cjmxp commented on #41371
@akien-mga
Sorry, I can't write in English. I should be more clear about the details than the description.

[2020-08-20 06:35] iustin-nita commented on #38543
I have the same problem on a 2018 Macbook pro running Catalina. FPS go to 12-14 both in editor and in-game using GLES2

[2020-08-20 06:47] pouleyKetchoupp commented on #41388
It might be possible to re-use a part of #40944 to help with this issue.

In order to take the virtual navigation bar in portrait mode into account, using `getRealSize` instead of `getSize` in `onGlobalLayout` works:

[code]

But only when immersive mode is on, otherwise the navigation bar being always on I was getting wrong results (might be different when not using a separate popup window for th

[2020-08-20 06:54] Duehok commented on #41241
`dotnet restore` does not work with Godot. You need ´nuget restore`. See:
https://docs.godotengine.org/en/stable/getting_started/scripting/c_sharp/c_sharp_basics.html#using-nuget-packages-in-godot

To get nuget.exe, look there:
https://docs.microsoft.com/en-us/nuget/reference/nuget-exe-cli-reference

[2020-08-20 06:56] Zireael07 commented on #41354
That highlights issue looks like something someone reported on a photorealistic character tracker, I can't find the issue though?

[2020-08-20 07:09] Sgt-Miller commented on #7698
Hi, I'm also on Windows 10 64 bits. Even though I right click and select "integrated graphics", the godot command line still says OpenGL ES 3.0 Renderer : Nvidia 1650
How to fix?

[2020-08-20 07:12] Thaina commented on #41241
@Duehok I know, what I mean is, in godot there was option to use `dotnet cli` as build tool and that produce the same error `CS0234`

I could also run  `dotnet build` from command line directly in godot project folder and it output the same error text

I just mention that `dotnet restore` can be run without error

[2020-08-20 07:19] ETdoFresh commented on #33279
Hi, I'm having this exact problem on a simple asteroids game I'm working with websockets. I have two server builds...

- In Windows being directly run from Godot Editor 3.2.2
- In Docker Container (Ubuntu) being run via Godot-Server 3.2.2 [Godot_v3.2.2-stable_linux_server.64.zip]

In windows, I have a GUI and i tested the server by connecting and disconnected 1-6 clients on and off for about 10 mi

[2020-08-20 07:40] cjmxp commented on #41371
The problem was found to be the cause of the display driver.

[2020-08-20 07:40] #41371 closed

[2020-08-20 07:44] MikeSchulze commented on #33624
Hi the method 'get_method_list()' uses also the wrong "flags" for script added functions
The doc says
[code]
but the info contains the value 65 for the property "flags" where is not defined in the enum

Second problem is overwriten private functions like _init()or _ready() also listed under this flag

I would prefear to update the enum and add a FLAG for private functions

[2020-08-20 07:51] DrMoriarty opened #41390 "SoftBody shoots from point zero [GLES2]"
**Godot version:**

Godot 3.2.3.rc (a6ef6b10b2)

**OS/device including version:**

MacOSX 10.15.5 (19F101)

**Issue description:**

I have several instances of scene with SoftBody inside. When scene starts SoftBodies jumps from 0,0,0 point so they have huge inertia in this direction and dangle around several frames.

![Снимок экрана 2020-08-20 в 10 40 59](https://user-images.githubusercontent.com/

[2020-08-20 08:26] DrMoriarty opened #41391 "SoftBody crashes game [GLES3]"
**Godot version:**

Godot 3.2.3.rc (a6ef6b10b2)

**OS/device including version:**

MacOSX 10.15.5 (19F101)
Android 8.1 (OpenGL ES 3.0 Renderer: Adreno (TM) 506)

**Issue description:**

I have scene with several softbodies. In GLES2 it works but with some issues (https://github.com/godotengine/godot/issues/41390). But with GLES3 I can not run it on device. It crashes with this log:

<details>
<sum

[2020-08-20 08:33] neikeq commented on #41241
Thanks, I had the idea this was an issue with the dotnet CLI only so I was worried to hear `MSBuild (VS Build Tools)` was having the same issue. Glad it wasn't the case.

Mono's MSBuild is pretty much assumed not to work when it comes to nuget restore on Windows (no issues on Linux/macOS). At this point I wonder if it's better to remove it from the options, even if it's not the default anymore.

[2020-08-20 08:44] DrMoriarty commented on #41391
I tested on Honor KSA-LX9 (OpenGL ES 3.0 Renderer: PowerVR Rogue GE8300)

The game don't crashes but it also don't render anything.

[2020-08-20 08:48] DrMoriarty commented on #41390
Related: #35373
I think that in GLES2 SoftBody calculated on CPU and in GLES3 on GPU (with much more interesting behaviour #41391 )

[2020-08-20 09:10] DrMoriarty commented on #41390
If I change physics engine from Bullet to GodotPhysics, then SoftBody disappears after few frames. It doesn't dangle around like with Bullet just disappears.

[2020-08-20 10:23] lawnjelly commented on #41380
See also https://github.com/godotengine/godot-proposals/issues/671.

Yes currently out of the box, with current Godot and physics, you will always get jitter from aliasing unless e.g. by chance your refresh rate matches your physics tick rate. This is well established and here are some possible solutions, all of which have pros and cons:

* Fixed timestep interpolation
* Semi fixed timestep (#3079

[2020-08-20 10:53] amoriqbal commented on #41361
I am attempting to fix the issue.

Present scenerio:
---
In the file `scene / gui / text_edit.cpp`
`TextEdit :: consume_pair_symbol (CharType ch)` is responsible for closing the quotes, braces, etc while typing, and also for putting braces, quotes, etc around selected texts. When the user inputs a quote or a brace, this function accepts that single `char` as a 'symbol'. It then decides whether to

[2020-08-20 11:05] amoriqbal commented on #41361
One approach is to remove the `deselect()` command at the end of the `consume_pair_symbol()` function. This will keep the text selected even after we have put one pair of braces or quotes around it. This will also be useful when we want to put the text inside multiple enclosures like **`(` `'`** `<text>` **`'` `)`**.

[2020-08-20 11:19] dryluggage opened #41392 "The right part of the ui gets pushed off screen whenever a script gets opened"
os : Linux Mint 20 Ulyana
godot version 3.2.2

steps to rep : open godot , make a node , attach a script , click on the script.
![vokoscreen-2020-08-20_12-56-56](https://user-images.githubusercontent.com/58333865/90762316-21c26e80-e2e5-11ea-84bf-4bb6c4b7c9d5.gif)

doesnt need example project

when the godot is not in fullscreenmode then you cant turn it back by going into fullscreen mode and back

[2020-08-20 11:28] AberrantWolf opened #41393 "Intermittent crash when saving edited script resources"
**Godot version:**
4.0 (5f6368278f5f46dee368558fc64277e2136177f4)

**OS/device including version:**
Windows 10 (10.0.19041)
64-bit build, observed on 64-bit debug/release-debug builds (others not attempted)

**Issue description:**
The Godot editor crashes (eventually) when saving a modified GDScript resource.

**Steps to reproduce:**
1. Create and open a new project.
2. Turn your scene into a 2D s

[2020-08-20 12:01] bojidar-bg commented on #41392
Duplicate of #31133, esp https://github.com/godotengine/godot/issues/31133#issuecomment-562565593.

[2020-08-20 12:01] #41392 closed

[2020-08-20 12:18] fian46 commented on #28601
not sure about 3.2.3 RC 3 but still broken in 3.2.2
[thread_bug.zip](https://github.com/godotengine/godot/files/5102919/thread_bug.zip)

[2020-08-20 12:19] DrMoriarty commented on #41390
I noticed that `NOTIFICATION_TRANSFORM_CHANGED` for SoftBody called twice. The first one with real coordinates of object in 3d scene. On the second time the global transform of object is zero. So bullet soft body sets coordinates to 0,0,0 and on next frame it shoots.

[2020-08-20 12:22] ThakeeNathees commented on #41393
I can conform the crash. (I've experience this before didn't know how to reproduce)
backtrace
[code]

[2020-08-20 12:27] fian46 commented on #28601
i know the code is not possible in any game but sometimes when using thread engine try to free random object or give new object that being queue for deletion for no reason. this can make undefined behaviour.

[2020-08-20 12:27] DrMoriarty commented on #41390
I fixed this issue with fast and dirty hack:

[code]

I will not make a PR for that because the good solution should fix the caller who translates the soft body to zero point.

[2020-08-20 12:53] Xrayez commented on #41393
Reverting #40647 helps the crash with the call stack above, but then I get another crash while repeating the same reproduction steps (Windows 10 too):
[code]

So I'm not sure if there's something wrong with #40647 or it may have just revealed some regression.

@ThakeeNathees @AberrantWolf for how long have you experienced this crash?

[2020-08-20 12:59] krscott opened #41396 "apply_torque_impulse does not wake sleeping RigidBody2D"
**Godot version:**

Godot v3.2.2.stable.official

**OS/device including version:**

Windows 10 64-bit

**Issue description:**

It seems like if a RigidBody2D is sleeping, it can not be affected by `apply_impulse_torque`.

The [documentation](https://docs.godotengine.org/en/stable/classes/class_rigidbody2d.html#class-rigidbody2d-property-sleeping) says that `apply_impulse` will wake a sleeping Rigi

[2020-08-20 13:05] Calinou commented on #39758
@molevision Rendering the editor at an hiDPI scale is much more demanding than at a loDPI scale. That said, you can enable **Half Resolution** in the Perspective/Orthogonal menu at the top-left corner of the 3D viewport to decrease the load slightly. (It will still be higher than on an actual loDPI display due to 2D elements being rendered at a higher resolution and all that.)

[2020-08-20 13:12] AberrantWolf commented on #41393
I've only been building from code for the last 3 days. Definitely from yesterday, though. _Possibly_ not the day before, but I don't recall (and didn't edit much code that day).

[2020-08-20 13:14] tcoxon opened #41397 "'_body_enter_tree: Condition "!E" is true' errors when a scene containing an Area is removed and re-added to the tree"
**Godot version:**
3.2.2, but also reproduced in upcoming 3.2.3, in commit 9bf5a0b791faf8e960bdb07009b5fe8003206e4f on the 3.2 branch

**OS/device including version:**
Ubuntu Linux 16.04, 64-bit
GeForce GTX 970 with NVIDIA 384.130 driver
GLES3 backend
Bullet Physics

**Issue description:**
If you remove a scene containing an Area overlapping a few bodies, then re-add the same scene strange errors

[2020-08-20 13:15] Calinou commented on #41354
@Zireael07 It's this issue: https://github.com/godotengine/godot/issues/26891

[2020-08-20 13:17] ThakeeNathees commented on #41393
me too yesterday. must be caused by a very recent change.

[2020-08-20 13:30] tcoxon opened #41398 "HingeJoints stop working when the scene containing them is reparented"
**Godot version:**
3.2.2, but also reproduced in upcoming 3.2.3, in commit 9bf5a0b791faf8e960bdb07009b5fe8003206e4f on the 3.2 branch

**OS/device including version:**
Ubuntu Linux 16.04, 64-bit
GeForce GTX 970 with NVIDIA 384.130 driver
GLES3 backend
Bullet Physics

**Issue description:**
Removing a scene containing a HingeJoint from the tree and then re-adding it causes the HingeJoint to stop wo

[2020-08-20 13:47] 2nafish117 commented on #41380
@Calinou the plugin works really nice, but i have concerns about how to structure my scenes with that method.
Lets say i want to make a 2d platformer player scene. I may have either a KinematicBody2D or a RigidBody2D (or as you call them physics representation) as the root node of the player scene, with sprites (visual representation) as its children, this is the usual way i may structure it.
With

[2020-08-20 13:57] molevision commented on #39758
@Calinou Thank you for the help, I tried the steps you mentioned (LoDPI and 33333 low processor mode sleep usec) but even then I get about 80% constant load, if the editor updates continuously. Even with my game running with low processor mode disabled I get less load on the GPU, about 30-40%.

Could I be assured this is expected behaviour with Godot's update system? Surely, a new project with onl

[2020-08-20 13:58] Xrayez commented on #41393
Should be fixed by #41399. All those crashes are related to script resources being manually unreferenced in a thread, which explains intermittent crashes, so indeed #40647 is not a cause.

[2020-08-20 14:33] lawnjelly commented on #41380
Although I mentioned it, I'm not personally a fan of fixing physics ticks rate to the frame rate these days. It used to be used when e.g. consoles were using either NTSC or PAL, but with modern devices you can get all kinds of frame rates including variable. This is mainly due to the effects on gameplay.

If this was done properly in core, it would estimate in whole frame segments how physics tick

[2020-08-20 14:41] dotwiz commented on #35546
When I set ScrollContainer.get_v_scrollbar().max_value to very small value like 0.1, problem solved.

[2020-08-20 14:46] Calinou commented on #39758
If anything causes the editor to redraw continuously, then the entire editor must draw 60 times a second (or more on high refresh rate monitors). There is no notion of partial redraws in most game engines.

[2020-08-20 15:14] Thaina opened #41400 "Uncaught RuntimeError: unreachable + Uncaught RuntimeError: function signature mismatch"
**Godot version:**
Godot Engine v3.2.2.stable.mono.custom_build.6a9fbafcb

**OS/device including version:**
Windows 10 use GLES2

**Issue description:**
I try to build HTML with including this package

[code]

Which can build as windows standalone. But cannot exported as HTML5. It thrown error as below

[code]

[code]

[code]

**Steps to reproduce:**
- Create project normally
- Add `System.Reactiv

[2020-08-20 15:19] Janglee123 opened #41401 "Go to the defination shows wrong doc with the same identifier in diffrent bases."
**Godot version:** 3.2.2

**OS/device including version:** Linux

**Issue description:**   As the title says if I ctrl+click on `print` identifier in any base it always goes to `@GDScript.print`. It seems that this only happens with the global scope.

**Steps to reproduce:**
1. Copy the script below and ctrl+click on `print`.

[code]

[2020-08-20 15:21] molevision commented on #39758
Thank you, I suppose my understanding was limited on that front.

In this case salvaging #31070 would be a massive lifesaver for me, since the editor currently cuts game performance in half when updating.

[2020-08-20 15:22] Animatical commented on #30330
is this place dead?

[2020-08-20 15:25] Calinou commented on #30330
@Animatical No (see the rest of this issue tracker). It's just that people can become busy with life sometimes :slightly_smiling_face:

[2020-08-20 15:36] molevision commented on #39758
I did a little more digging and ran Godot with the same settings I had earlier, at HiDPI, except forcing it to use my integrated Intel card, and performance was **dramatically** better, only ~25% GPU used with both the game and the editor running, and focus on the continuously updating editor). I apologise for the false alarm, but I'm sure the 100% usage is a problem specific to the discrete card

[2020-08-20 15:41] DanielZTing commented on #41361
If you've got the bug fixed that's good enough for a pull request IMO. What I usually end up doing is manually typing three quotes before and after the block. Though your addition is even better and matches what happens in VSCode. Currently though it only works if you use `(`. It would be even cooler if using `)` would surround the selection with parentheses and a space like in [surround.vim](http

[2020-08-20 15:58] 2nafish117 commented on #41380
@lawnjelly Have you tried my sample project? Its not as polished as yours but gives a cleaner node structure.
[Interpolation.zip](https://github.com/godotengine/godot/files/5104101/Interpolation.zip)
Basically it acts as a component on any *Body2D but requires 2 additional function calls in the _physics_process().
It is based on www.kinematicsoup.com/news/2016/8/9/rrypp5tkubynjwxhxjzd42s3o034o8 al

[2020-08-20 16:06] Calinou commented on #25525
Closing due to lack of response (see the above comment). Please comment if you can still reproduce this issue on Godot 3.2.2 or a later release.

[2020-08-20 16:06] #25525 closed

[2020-08-20 16:53] RevoluPowered commented on #40659
test_fbx will be ported by me after we can get the 3.2 pr out of the way I've backed up the branch with the originals to RevoluPowered/backup_fbx_tests (they're in the old folder)

[2020-08-20 17:08] Duehok commented on #26181
Still broken. The workaround does not work. _input_event never fires for an Collision2D node in a viewport.
Use case example: A "map" renders to a viewport in a viewportContainer. The use of a viewport allows to scroll the map by moving the camera.

This bug (yes, it's a bug) makes it impossible to select a unit, building, city, etc... by clicking on it.

[2020-08-20 17:08] amoriqbal opened #41403 "Syntax highlighting will mark the whole file as a string when writing a quote inside a triple quote multiline string"
**Godot version:**
3.2 and 4.0 (master, 4e52c75a981f3704a01f702ffd14cc626ea32ec7)

**Issue description:**
The script editor marks up code as multi-line string under certain corner cases.

Eg: If you write the following code in the GdScript editor, all the lines following the declaration of `var some_text` will be marked yellow, as if they are all strings.

[code]

But if you run the scene this scr

[2020-08-20 17:13] lawnjelly commented on #41380
Yup. The problem with that approach I think is that by setting the rigidbody / kinematic body in the interpolator you are also setting up a feedback loop with the physics. Drop your physics tick rate to 5 ticks per second and you'll see what I mean.

In godot there's no way to set the render transform without also setting the physics afaik, hence the  approach of decoupling the physics from the re

[2020-08-20 17:28] Paavs-Git opened #41404 "RigidBody box collision shape failing collision detection through convex and concave shapes when impulse is applied, on Bullet"
**Godot version:**
3.2.2-stable_win64; 3.2.3-beta1_win64; 3.2.3-rc3_win64;

**OS/device including version:**
Windows 10, 64bit

**Issue description:**
When applying a moderate to strong impulse to a RigidBody (BoxShape), the body will very often go through both ConvexPolygonShape and ConcavePolygonShape (created with Trimesh Collision Sibling and Single Convex Collision Sibling). This has been tes

[2020-08-20 17:40] LordBrkica commented on #41306
I would like to add another aspect to this Problem/Bug.

I am using Windows10, and Godot 3.2.3RC3. In Godot Editor I have MS Build (VSBuild Tools) selected.
I use Visual Studio Code for work (so all code and debugging). Until now I had no problem. However, lately I am getting the problem that VSC cannot find the Newtonsoft.Json (os System.Text.Json).

When looking at the minimal reproduction proje

[2020-08-20 18:23] akien-mga commented on #33624
Those flags are powers of two and meant to be combined, so 65 means it's `64 | 1`.

[2020-08-20 19:20] Duehok commented on #41306
You mean building using the editor's "play" button works, and the project runs, but the red squigly lines stay in VS Code? If yes, I do not have this problem and it is surprising!

[2020-08-20 19:25] Calinou commented on #41403
I can confirm this on 3.2.2:

![Syntax highlighting bug](https://user-images.githubusercontent.com/180032/90815878-ac2dc100-e32b-11ea-8079-78fe2f838311.png)

[2020-08-20 19:27] LordBrkica commented on #41306
Exactly this, everything builds ok in editor, I can execute the program, but squigly lines in VSC stay and make development a torture.

[2020-08-20 19:52] Calinou opened #41406 "Vulkan: Viewport's `keep_3d_linear` property not reimplemented yet"
**Godot version:** Git 4e52c75a981f3704a01f702ffd14cc626ea32ec7

**OS/device including version:** Fedora 31, GeForce GTX 1080 (NVIDIA 440.100)

**Issue description:** Viewport's `keep_3d_linear` property hasn't been reimplemented yet in the Vulkan renderer. That property is available in 3.2.2.

**Steps to reproduce:** Search for `keep_3d_linear` in the editor help.

**Minimal reproduction project:

[2020-08-20 19:59] neikeq commented on #41306
Assuming this is a duplicate of #41241

[2020-08-20 19:59] #41306 closed

[2020-08-20 20:01] Av3r3tt commented on #40911
@Xrayez : Do I understand you correctly that, as a workaround to find a self-intersecting polygon, one might have to see whether
`Geometry.merge_polygons2d(myPolygon, myPolygon)`
returns more than 1?

[2020-08-20 20:05] neikeq commented on #19855
This may no longer be an issue now that we reference `Microsoft.NETFramework.ReferenceAssemblies`. I'm not sure how to confirm it as it's been a long time since I had to deal with this error.

[2020-08-20 20:07] neikeq commented on #40926
#41408 may fix this issue.

[2020-08-20 20:08] KoBeWi commented on #19855
If it's that problematic let's just assume it's fixed. Can be reopened if someone reproduces this again.

[2020-08-20 20:08] #19855 closed

[2020-08-20 20:11] neikeq commented on #35897
I'm confused with this issue, there seem to be various different problems here. The nuget related issues may be fixed by #41408. I agree about the usability improvements that need to be made regarding MSBuild output and errors, although it probably should be a separate issue.

[2020-08-20 20:14] neikeq commented on #20305
This was already done for 4.0 in #40595, and #41408 is a back-port for 3.2.

[2020-08-20 20:14] #20305 closed

[2020-08-20 20:40] clayjohn commented on #41406
I think reduz intentionally got rid of it. I remember discussing this when he was first making the Vulkan Renderer.

[2020-08-20 20:44] GamesOpenSource commented on #165
This does not copy the text "error(line,column): "

It'd be nice if any text that might be necessary to google can be just selected and copy-pasted.

[2020-08-20 20:59] KoBeWi commented on #23729
Still valid in 4e52c75

[2020-08-20 21:02] Xrayez commented on #40911
@alt3r3dgd not really, the suggested workaround is that you can just do the merge operation, which *does* perform polygon simplification under the hood for you, so there's no need to check whether polygon is strictly-simple in the first place, as most of the time (95% of cases), these polygons will be converted to strictly-simple.

But yeah, the simplification alone could result in multiple polygo

[2020-08-20 21:06] Av3r3tt commented on #40911
Merge... with what? When I have one polygon, and it is self-intersecting...? Do I do
`var myCleanedUpPolygon = Geometry.merge_polygons2d(myDirtyPolygon, null)` ?

[2020-08-20 21:11] KoBeWi commented on #28138
The problem is that you save the save file with `.tres` extension and Godot tries to load it as an actual Resource. In 3.2.2 it results in the error, but file opens normally in the script text editor.

TextFile shouldn't appear in the Resource list. It's only exposed, because the text editor breaks otherwise. See #36182 and the issue it spawned.

[2020-08-20 21:21] KoBeWi commented on #27827
Fixed in 4.0
The name is no longer editable in the new bone view, so it doesn't appear bugged.
![image](https://user-images.githubusercontent.com/2223172/90827025-c7a0c800-e33b-11ea-981a-38af399f6beb.png)
(bones are nodes of inherited scene, so it's expected that you can't rename them)

[2020-08-20 21:21] #27827 closed

[2020-08-20 21:45] KoBeWi commented on #28227
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

[2020-08-20 21:49] KoBeWi commented on #28008
This is still valid in 3.2.3 rc3, although this sounds more like missing feature than a bug.

[2020-08-20 21:50] 7-Core commented on #39969
I'm also experiencing problems with the GI Probe and SDFGI.
[code]

Video: https://www.youtube.com/watch?v=G0hcS69FzIY

[2020-08-20 21:59] Xrayez commented on #40911
@Av3r3tt yes, see my first post:
[code]
It may work with `null`, not sure.

Technically it wouldn't be a merge, but this is how Clipper library does simplification internally as well. I agree it's not intuitive at the moment, this is why I suggested to add `simplify_polygon()` to `Geometry`, which would call into `merge_polygons()` with `strictly_simple` parameter.

[2020-08-20 22:55] hiulit commented on #34089
@Calinou I'll try it and I'll let you know

[2020-08-20 23:04] ASavchenkov opened #41412 "MultiplayerAPI::_add_peer inserts into path_get_cache when a relevant PathGetCache already exists"
**Godot version:** 3.2.2 mono (also 3.2.3.rc.mono)

**OS/device including version: Windows 10 Build 19041**

**Issue description:**

When receiving some packets, the error

`ERROR: Invalid packet received. Unabled to find requested cached node.`
Building Godot 3.2.3.rc manually and debugging shows that:

~~When _process_simplify_path attempts to insert the NodeInfo it creates,
path_get_cache[p_fro

[2020-08-20 23:11] KoBeWi commented on #28121
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with a drag

[2020-08-20 23:15] KoBeWi commented on #28088
Fixed in 4.0 (although still valid in 3.2.3 rc3)

[2020-08-20 23:15] #28088 closed

[2020-08-20 23:18] KoBeWi commented on #28017
Can anyone still reproduce this bug in [Godot 3.2.3 rc3](https://godotengine.org/article/release-candidate-3-2-3-rc-3) or any later release?

[2020-08-20 23:21] KoBeWi commented on #27663
Looks fixed in 4.0
![image](https://user-images.githubusercontent.com/2223172/90835324-9aa8e100-e34c-11ea-8394-aa73fca5f4c8.png)

[2020-08-20 23:21] #27663 closed

[2020-08-20 23:26] KoBeWi commented on #27630
Fixed in 4.0
(although seems still broken in 3.2.3 rc3)

[2020-08-20 23:26] #27630 closed

[2020-08-20 23:35] KoBeWi commented on #27177
Fixed in 3.2

[2020-08-20 23:35] #27177 closed

[2020-08-20 23:58] akien-mga commented on #30970
Fixed by #40595 (`master`) and #41408 (`3.2`).

[2020-08-20 23:58] #30970 closed

[2020-08-20 23:58] akien-mga commented on #41241
Fixed by #40595 (`master`) and #41408 (`3.2`).

[2020-08-20 23:58] #41241 closed

[2020-08-20 23:58] akien-mga commented on #15386
Fixed by #40595 (`master`) and #41408 (`3.2`).

[2020-08-20 23:58] #15386 closed

[2020-08-21 00:09] fian46 commented on #28227
It still not working

[2020-08-21 00:13] #41356 closed

[2020-08-21 00:17] akien-mga commented on #41398
CC @madmiraal @AndreaCatania

[2020-08-21 00:19] akien-mga commented on #41397
CC @madmiraal

[2020-08-21 00:27] akien-mga commented on #40888
Fixed by #41029.

[2020-08-21 00:27] #40888 closed

[2020-08-21 01:10] dejaime commented on #35897
As op and many others posted, installing the build tools fixed the problem for them, so, yes, this is about missing dependencies. Still, I'd say the issue stems from how hard it is to diagnose this, not necessarily about the missing deps themselves. My bet is this issue wouldn't even have been created if there was a clear error pop up.

[2020-08-21 02:13] c2titan opened #41413 "For loop increment/decrement inside the body doesn't work"
**Godot version:**
3.2.2-stable_win64

**OS/device including version:**
Windows 10, 64bit

**Issue description:**
Trying to change the control value inside the For loop during a cycle doesn't work.
_The While function does the job, but other languages normally support it in the For loop._

**Minimal reproduction project:**

![for-loop-issue](https://user-images.githubusercontent.com/69998248/90843

[2020-08-21 03:04] Giwayume opened #41414 "Texture altas import breaking sometimes - Cutting off sprite"
**Godot version:**
3.2.3.rc3

**OS/device including version:**
Windows 7

**Issue description:**
I have a specific set of images where changing their import settings to texture atlas causes them to be cut off in the atlas.

**Steps to reproduce:**
Check the reproduction project. All I did was select all the images and re-import them as an atlas file. Import mode doesn't make a difference. The resu

[2020-08-21 03:27] Giwayume commented on #41413
I'm not buying it. The same behavior is in Python.

![image](https://user-images.githubusercontent.com/4075314/90848856-e901b400-e33b-11ea-8805-568b753ef552.png)

for...in is meant to loop through the keys of something, an array or a dictionary. "i" is set to the next key in the array every loop iteration. This is how for...in is treated in any language.

For example, compare these Javascript for

[2020-08-21 03:58] c2titan commented on #41413
I come from C/C++ where I used it often. Nevermind, I can do almost everything with While.
It would be nice to mention this in the online documentation. I spent 2 days to debug my not working godot arrays, while they were working in C++ 🔢

[2020-08-21 04:01] EricEzaM commented on #33289
@vnen agree with you here regarding minor issues like this. Personally I dont mind but I think an executive decision should be made; yes/no, and then we move on. Otherwise we just end up with a stack of minor issues/suggestions that live on for many months/years.

[2020-08-21 04:03] #41413 closed

[2020-08-21 04:27] fracteed commented on #40741
Can confirm that I also have this problem on master. Trying to access variables from an autoload singleton and getting the error

Cannot get member "my_var" from "Node: xxxxx"

The last time I tried this project on master about a month ago, it worked, so I guess this is related to all the gdscript changes?

[2020-08-21 05:25] DoctorWhoof opened #41417 "Resource.duplicate only duplicates exported variables"
**Godot version:**
Godot 3.2.2.stable.official

**OS/device including version:**
macOS Catalina 10.15.6

**Issue description:**
When I duplicate a resource, I expect an **identical** duplicate, including any "private" (non exported) variables. However, that doesn't seem to happen, only exported variables are duplicated.

If this is by design, that doesn't seem right. I have resources with lots of

[2020-08-21 06:13] TokageItLab opened #41419 "A skeleton is rotated unintentionally by animation tree when animation track's bone is not found in skeleton"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10, Mac OS X

**Issue description:**
Same title.
A skeleton is rotated unintentionally by animation tree when animation track's bone is not found in skeleton.

**Steps to reproduce:**
Open `avater.tscn`. Play animation with `AnimationPlayer` and the animation is playing correctly. However, the skeleton will rotate when activate `An

[2020-08-21 06:47] finalwarp opened #41420 "Shadows for Sprite3D with Billboard enabled always face the Vector3(0, 0, 0) rotational degree angle"
I saw other issues like https://github.com/godotengine/godot/issues/27738 that is similar, but it's not exact the same.

**Godot version:**

3.2.2

**OS/device including version:**

Windows 10. GLES3

**Issue description:**

Hello,
When I have Sprite3D objects with Billboard enabled, the shadow is not facing the correct angle based on the DirectionalLight. It always faces the default Vector3(0, 0,

[2020-08-21 08:20] chucklepie commented on #27834
I'm here to lend my support because I too would like this feature. If a scene has a gdscript attached to it, and the script initialises with the node, why can't the .instance() method take parameters like .new() does.

This is particularly relevant for scenes where you only ever instance them from code.

I'm now having to instance my scene then call an initialise function.

[2020-08-21 09:27] ICatRegister opened #41421 "Sensor activity processing code crashes on Android"
**Godot version:**
3.2.2, 9bf5a0b791faf8e960bdb07009b5fe8003206e4f

**OS/device including version:**
Android 9 (SDK 28), GLES2

**Issue description:**
Crash with the following message in the google console:

Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue le

[2020-08-21 12:24] MaxIsJoe opened #41424 "Collisionshape2D's disabled property is broken"
**Godot version:**
3.2.2 Stable [STEAM]

**OS/device including version:**
OS : Windows 64-bit
CPU : AMD A6
GPU : AMD Radeon HD 7250G
RAM : 4GB

**Issue description:**
Collisionshape2D's "disabled" property does not change correctly while the game is running, if the game starts with the disabled property enabled and you try to change it to `disabled = true` during runtime the debug shapes (the blue

[2020-08-21 19:07] zaevi opened #41433 "Can't create C# solution in 3.2.3-rc4"
**Godot version:**

3.2.3.rc4.mono

**OS/device including version:**

Win10

**Issue description:**

When I create C# solution in 3.2.3-rc4, it failed and throws:
[code]
Also, I can't successfully open my existing 3.2.2 project and it throws the same exceptions. Seems failed to upgrade C# project.

**Steps to reproduce:**
Create an empty project, and then create its C# solution.

**Minimal reprodu

[2020-08-21 19:57] Xrayez opened #41435 "Running `--doctool` creates `logs` directory in the current working directory"
**Godot version:**
3.2.3.rc

**OS/device including version:**
Windows 10

**Issue description:**
Generating documentation produces `logs` directory directly within root of project repository (I have the engine added as a submodule in a repository). Expected behavior: write to `user://` directory.

I guess the problem is similar to #40305.

The workaround is simply adding `logs` to `.gitignore` of

[2020-08-21 21:30] avencherus opened #41438 "Comments trigger auto-complete."
**Godot version:**

dbb0ad3b5

**OS/device including version:**

Win10 64-bit

**Issue description:**

When typing comments, auto-complete hints keep appearing.
From testing it seems to be a regression from 3.2.2.

![image](https://user-images.githubusercontent.com/13004169/90936732-78779780-e40e-11ea-9aba-2fb1ad17e7f7.png)

**Steps to reproduce:**
Start a comment in the build at the commit above.

[2020-08-22 08:06] DmitriySalnikov opened #41444 "Editor crashes on export with mono"
**Godot version:**
v3.2.3.rc4.mono

**OS/device including version:**
Windows 10

**Issue description:**
The editor crashes after starting export to any platform

**Steps to reproduce:**
1. Create an empty project
1. Create new scene and attach csharp script to any node
1. Setup export platform and press Export Project -> Save
1. The editor will crash without any errors

**Minimal reproduction proj

[2020-08-22 09:38] MikeSchulze opened #41445 "EditorPlugin do not correct preload scene, script functions not available"
**Godot version:**
Godot Engine v3.2.2.stable.mono.official - https://godotengine.org
OpenGL ES 3.0 Renderer: GeForce GTX 980/PCIe/SSE2

**OS/device including version:**
Windows 10 / GLSES3

**Issue description:**
I try to build a editor plugin where adds a custom view/inspector into the editor UI on the top left side.
The plugin loads a predefined scene with attached script and custom functions
[

[2020-08-22 09:53] DmitriySalnikov opened #41446 "'Cannot open file "*.AssemblyInfo.cs"' when project name contains spaces"
**Godot version:**
v3.2.3.rc4.mono

**OS/device including version:**
Windows 10

**Issue description:**
[code]
But file "New Game Project.AssemblyInfo.cs" exists and build successful

![image](https://user-images.githubusercontent.com/7782218/90952168-206e7e80-e46a-11ea-8d1e-7000ecef1d64.png)

**Steps to reproduce:**
1. Create csharp project with name contains spaces e.g. "New Game Project"
2. Bui

[2020-08-22 10:09] renatodex opened #41447 "Polygon2D and Holes (subpolygons / clipping)"
## **Godot version:**
3.2

## **OS/device including version:**
MacOS Mojave 10.14.5

## **Issue description:**
I'm having issues trying to draw a Polygon with a Hole inside using `Polygon2D` object.
I've tried many different approaches, but it seems something is not working on Polygon2D.

Basically, I have a Polygon in the shape of "C"letter, and then I Draw another Polygon, in the shape of "I" le

[2020-08-22 12:35] AberrantWolf opened #41448 "If AutoLoad class is named the same as AutoLoad name, trying to connect crashes the editor"
**Godot version:**
9e1f68138d75f87d6c11c8fd8ac684c19dea321d

**OS/device including version:**
Windows 10 10.0.19041

**Issue description:**
When a class, added to AutoLoad using a name (e.g., ClassName) also declares its class name with the same name (e.g., `class_name ClassName`), trying to type `ClassName.connect()` in the editor causes a crash inside `gdscript_editor.cpp` in `_find_identifiers_

[2020-08-22 12:36] ThakeeNathees opened #41449 "GDScriptLSP: crash when autocompleting for type names"
**Godot version:** 4.0 2ba96f0

**OS/device including version:** windows10

**Issue description:**
1. connect to gdscript language server from vscode
2. type the below line and wait for autocompletion

[code]

It triggers a break point (`CRASH_BAD_INDEX`) if using a debugger unless the editor just crash. seems like the error occur when the error token is `EOF` but the token line doesn't exists fro

[2020-08-22 12:39] VincentSinel opened #41450 "Editor Crash after opening project"
# Godot version:
Godot Mono 3.2.2 Stable Win64
Even try on
Godot Mono 3.2.3-rc4 Win64

# OS/device including version:
Windows 10 64bit V1909

# Issue description:
The editor crash just after opening my project. I don't no how to reproduce it

[Evolution.zip](https://github.com/godotengine/godot/files/5112364/Evolution.zip)

[2020-08-22 22:13] sanchopanca opened #41462 "GDSCript: Object.new() throws Parse Error"
**Godot version:**
3.2.2.stable.official

**OS/device including version:**
Windows 10, PC

**Issue description:**
An attempt to create an instance of `Object` by calling `Object.new()` ends with the following error:
`Parse Error: Static constant  'new' not present in built-in type Object`
This contradicts the documentation of Object that mentions the following:

**Steps to reproduce:**
Put the fol

[2020-08-23 04:59] jtaart opened #41465 "Tool script changes to export var do not mark scene as unsaved"
Godot version: Godot_v3.2-stable_win64

Tool script changes to exported var do not mark scene as unsaved.

Is there a way to mark the scene as unsaved manually?

test code:
[code]

[2020-08-23 08:47] MikeSchulze opened #41467 "get_stack() returns a empty arrary in EditorPlugin"
**Godot version:**
Godot Engine v3.2.2.stable.mono.official (c) 2007-2020 Juan Linietsky, Ariel Manzur & Godot Contributors.

**OS/device including version:**
Windows 10

**Issue description:**
I want to use get_stack() in my editor plugin to show line numbers of failing tests.
When call 'get_stack()' inside running editor plugin it returns a empty array

**Steps to reproduce:**
* create a empty e

[2020-08-23 14:55] AzadKshitij opened #41472 "Pressing Toggle Comment shortcut while the script editor and shader editor are open will always toggle comment in the shader editor, no matter the current focused editor"
**Godot version:**
Godot Engine v3.2.2.stable.official

**OS/device including version:**
OpenGL ES 3.0 Renderer: AMD Radeon(TM) Vega 8 Graphics

**Issue description:**
when I try to clear comment while both script editor and shader editor it comment line in shader editor even my pointer was present inside script editor.

![Godot Engine - Mobile RPG - Player tscn 2020-08-23 19-47-10](https://user-i

[2020-08-23 16:09] JupiterRider opened #41473 "Godot Mono 3.2.3 Error in VS Code: The SDK 'Microsoft.NET.Sdk' specified could not be found."
**Godot version:**

Godot_v3.2.3-rc4_mono_x11_64

**OS/device including version:**

VS Code: 1.48.0
Mono: 6.10.0
Linux OS: 5.8.3-arch1-1

**Issue description:**

Error appears in VS Code:

[code]

**Steps to reproduce:**
- Create a new Project
- Add a CSharp Script
- Open VS Code within Godot

**Minimal reproduction project:**

[Test.zip](https://github.com/godotengine/godot/files/5114277/Test.zip

[2020-08-23 17:00] Janglee123 commented on #39144
One small feature request to add background color tag for BBcode. It will be really useful and have many use-cases. :)

[2020-08-23 17:24] jkirsons commented on #39828
No, only 4.0 (master)

[2020-08-23 17:27] neikeq commented on #41473
This looks like a bug with the OmniSharp extension. What happens if you try to open a normal netstandard or netcoreapp project? One that references `Microsoft.NET.Sdk` directly. Does it also print those errors?

[2020-08-23 17:32] Classy11 commented on #34752
This issue is rather problematic. This basically means that I cannot use a Thread to instance nodes that will eventually have to get freed again as there's always the chance of this signal crash when I free nodes that were instantiated from a thread. And instancing all my nodes from the main thread is not an option as it causes stuttering in my project.

I will continue to try and find workarounds

[2020-08-23 17:45] pouleyKetchoupp commented on #41445
Can you try to add `tool` keyword in `TestRunnerResultView.gd` to make sure it runs in the editor? It seems to help.

[2020-08-23 17:53] donut-on-ice opened #41475 "AnimationPlayerStateMachinePlayback: start() does not work when current_node is """
**Godot version:**
Godot 3.2.2 Standard

**OS/device including version:**
Windows 10 Pro, Version 1909, OS build 18363.1016

**Issue description:**
when an AnimationPlayerStateMachinePlayback has no node selected, start() function has no effect but travel() does.
start() should make current_node the specified node after an AnimationPlayerStateMachine process step regardless of the state of current

[2020-08-23 18:16] pouleyKetchoupp commented on #41337
Can be reproduced the same way in 4.0 (master b0ca859501186b6fa088a3d3542f7dd4d72ae305)

[2020-08-23 18:24] MikeSchulze commented on #41445
you are right so can be closed

[2020-08-23 18:24] #41445 closed

[2020-08-23 19:20] ETdoFresh commented on #33279
Woot! So good news! I replicated the problem! The culprit (in my case) was a script I downloaded to show "stats". There is a call to "weakref" and "call" during the connection process which I think causes the websocket server to crash [more info below].

TLDR: Looks like a questionable script that spits out stats caused errors during the WebSocket connection process.

Here's the server log:
[code]

[2020-08-23 20:22] #33290 closed

[2020-08-23 20:39] Lunatoid commented on #14634
At least for Windows, controllers need to be emulated as an XInput device. I tested with my DualShock 4 controller on Windows 10 and it didn't work, however when I used DS4Windows, which turns your DS4 into an emulated Xbox controller, it did work.

DS4Windows seems to use the [ViGEmBus](https://github.com/ViGEm/ViGEmBus) driver for it's emulation, perhaps that could be a place to look.

[2020-08-23 20:57] psstoyanov commented on #2671
@ikostan , I receive the same error as the one you got. Opening a ticket for it, could be good.

Apart from the error, I have missed the following commit: https://github.com/godotengine/godot/commit/525c40a488c07ac072469cf9a694de77672d27bc

The OpenGL ES2 backend is being refactored and disabled for now on `master`.

For now, stick with `3.1` or `3.2` branches until `master` merges the revamped es

[2020-08-23 21:09] unicomp21 opened #41478 "using emscripten fiber.h"
Are there any examples of godot using emscripten fibers?

https://emscripten.org/docs/api_reference/fiber.h.html?highlight=emscripten_fiber_swap

I realize mono has async/await, but thought I might give fibers a try.

[2020-08-23 21:23] Calinou commented on #41478
cc @Faless

[2020-08-23 21:24] Calinou commented on #39144
@Janglee123 Support for highlighting (background color) and redacting (overlay color) is implemented by https://github.com/godotengine/godot/pull/35608.

[2020-08-23 21:37] KoBeWi commented on #22558
Can anyone still reproduce this bug in [Godot 3.2.3 rc4](https://godotengine.org/article/release-candidate-godot-3-2-3-rc-4) or any later release?

If yes, please ensure that an up-to-date Minimal Reproduction Project (MRP) is included in this report (a MRP is a zipped Godot project with the minimal elements necessary to reliably trigger the bug). You can upload ZIP files in an issue comment with

[2020-08-23 21:46] Faless commented on #41478
Asyncify makes the code base much much bigger, causing significant drop in
performance, so I don't think it's a good idea.

On Sun, Aug 23, 2020, 22:23 Hugo Locurcio <notifications@github.com> wrote:

[2020-08-23 22:09] unicomp21 commented on #41478
Got it, thanks for the advice.  Just to be clear, if I did everything in c++ (ie no gdscript or mono), the c++ optimizer won't help shrink things?  On top of that, if I were to brotli compress everything, would I have a hope of getting something small? @Faless

[2020-08-23 22:13] unicomp21 commented on #41478
In the spirit of exploration, where would I set the

-s ASYNCIFY

flag?  And one last question, has any thought been given to co_await support in c++20?

So far, this is the only place I've seen a co_await supporting implementation w/ tests ...
https://github.com/chriskohlhoff/asio/search?q=co_await&unscoped_q=co_await

[2020-08-23 22:13] EricEzaM commented on #41472
Fixed by #39039 if it ever gets merged.

Anyhow, this is a duplicate of #17591.

[2020-08-23 22:32] KoBeWi opened #41479 "Autocompletion triggers on numbers"
**Godot version:**

3.2.3 rc4

**Issue description:**

I noticed that autocompletion is overzealous recently. When you type any standalone number, it will suggest some class containing this number in name. Which often leads to accidental inserting.
![0LxKHJZ116](https://user-images.githubusercontent.com/2223172/90990377-49ddf600-e5a1-11ea-8be4-4cf2c9f1dfd1.gif)

[2020-08-23 22:51] akien-mga commented on #41479
CC @ThakeeNathees

[2020-08-23 22:57] Faless commented on #41478
See: https://emscripten.org/docs/porting/asyncify.html#optimizing

In `platform/javascript/detect.py` to both `LINKFLAGS` and `CCFLAGS`

No, we don't support C++20, we don't plan to in the short term, and I'm not sure it would even work with emscripten

[2020-08-23 23:07] Faless commented on #33279
Yeah, the culprit doesn't seem related to the websocket implementation at all. Even from the stack trace, it seems a GDScript call to a freed object

[2020-08-23 23:10] akien-mga commented on #41438
Fixed by #41451.

[2020-08-23 23:10] #41438 closed

[2020-08-23 23:15] gamepad-coder commented on #30330
Here are a few more details in case it helps narrow down the cause.

**PC Information :**

Godot 3.2.2.stable
Laptop with no dedicated GPU.
Processor : Intel Core i7-7600U CPU
Integrated Graphics : Intel HD Graphics 620

No problem at all on my machine when using Godot with GLES2.

All of the following describe a default environment with GLES3 enabled.

**Scene's Node Tree Setup :**

Spatial
-> Me

[2020-08-23 23:20] thegamerx1 opened #41480 "High velocity on move_and_slide causes OS freeze"
**Godot version:**
3.2.2

**OS/device including version:**
Windows 10
OpenGL ES 3.0 Renderer: GeForce GTX 1650 SUPER/PCIe/SSE2

**Issue description:**
OS freezes after the velocity of the player gets big
![image](https://user-images.githubusercontent.com/34986564/90991214-0088a900-e597-11ea-83ff-cf99eb427366.png)

**Steps to reproduce:**
Open the project below and run it (i would press esc before

[2020-08-23 23:22] KoBeWi commented on #17220
No longer relevant in 4.0, as most of Texture-related flags were moved to CanvasItem properties.

[2020-08-23 23:22] #17220 closed

[2020-08-23 23:31] KoBeWi commented on #25967
Still valid in 58f5c2b

[2020-08-24 00:47] Adrenesis commented on #34494
Hi there,

I'm trying to build a voip addon for godot, and I've been facing some CRASH_BAD_INDEX at cowdata.h:152 randomly when using AudioEffectRecord::get_recording.
Here is a minimal project exposing this bug:
https://github.com/Adrenesis/godot-capture-microphone-glitch

Here is the merge request I'm working on (some more work is needed, like the format 8bit is not tested and adpcm is not imple

[2020-08-24 01:30] micwu562 opened #41481 "Black rectangle appears on screen on project run"
**Godot version:**
58f5c2b

**OS/device including version:**
macOS Catalina 10.15.5

**Issue description:**
Every time I run a project in the editor after making a change, a black rectangle that acts like a window appears in place of the "saving scene" popup. The rectangle doesn't disappear until the project is run again.

**Steps to reproduce:**
1: modify a scene
2: run the project

**Minimal rep

[2020-08-24 02:04] Rubonnek opened #41482 "Unable to see AnimatedSprite frames in AnimationPlayer"
**Godot version:**
3.2 branch commit dbb0ad3b59e4d9150d41a0f5177069224cb2f837

**OS/device including version:**

Arch Linux

**Issue description:**

Ran the `create_spriteframes.gd` script (included in the proyect) to create a new `SpriteFrames` resource but when using this resource the frame texture on the `AnimationPlayer` is not visible.

The following output is also shown on the console when a

[2020-08-24 03:20] robert-wallis commented on #40962
3.2.3 rc4 still happening
(just updating that I tested, I don't know of any commits that would address this)

[code]

[2020-08-24 04:11] Meriipu commented on #41480
How much memory do you have? It uses 9.6GiB for me on Linux (but despite running at max CPU does not appear to crash or freeze beyond printing a lot of
[code]

[2020-08-24 06:08] Janglee123 commented on #39144
Also, Add this under BBcode issues #41474.

[2020-08-24 06:35] pwab commented on #17848
Hey @edoartworks I looked into your project files and I think your problem can easily be solved by changing line 6 in your script from

[code]

to

[code]

You executable_path changes from your godot.exe to the exported executable when you run an exported version of your project. The godot engine is then packed into your exe so if it isn't named _'godot.exe'_ your code will fail (it does because y

[2020-08-24 06:35] lawnjelly commented on #41480
Fixed by #41123.

[2020-08-24 06:46] dijs commented on #37931
I got further with 3.2.2, but still having issues in safari.

![image](https://user-images.githubusercontent.com/1774430/91012396-b3d0bc80-e5ee-11ea-9f21-12e163e59329.png)

[2020-08-24 06:57] jasperbrooks79 opened #41483 "The ' Set Index ' Visual script box creates errors in arrays . ."
**Godot version:**
Godot 3.2.2, latest stable, or so . .

**OS/device including version:**
Windows 10 . .

**Issue description:**
I made an array, with some variables, or so . . Using the ' Get Index ' visual script box, I can fast find, the right stuff, in the array, the numbers . . But, when I try to use ' Set Index ', to change a variable, it doesn't put the new value in correct, instead it cre

[2020-08-24 06:59] jasperbrooks79 commented on #41483
The above image isn't right, if I do it like that, and ' index ' is 3 in both Get Index, and Set Index, the integer index number, it doesn't print what one would think, above I change a string, from ' Hello World ' to ' String_Test01 ' . . However, when I then PRINT the changed array, with ' Get Index ', it doesn't print ' String_Test01 ', but [ . . . ] . . Like, Null, almost, not sure, thanks <3

[2020-08-24 07:20] ThakeeNathees commented on #41479
introduced by: #41318 a refactor of #36950 (one of my early PR)
fixed by : #41451

I have to run more tests before making anymore PR.

[2020-08-24 07:28] akien-mga commented on #41479
Fixed by #41451.

[2020-08-24 07:28] #41479 closed

[2020-08-24 07:44] edoartworks commented on #17848
That worked! Thank you very much for taking the time <3

[2020-08-24 09:10] Arakash opened #41484 "Godot crashes on autocomplete when a Signal is in the script"
**Godot version:**
I'm on the latest master version, commit 58f5c2b

**OS/device including version:**
Windows ,10, Version 10.0.18363 Build 18363
Vulkan renderer

**Issue description:**
when I have a Signal variable in mz godot script, godot crashes to desktop as soon as I try to complete anything.

Stacktrace
[code]

**Steps to reproduce:**
I can reproduce this behaviour in a single script in  2

[2020-08-24 09:14] MaxIsJoe commented on #41424
[Issue-CS2D.zip](https://github.com/godotengine/godot/files/5116878/Issue-CS2D.zip)
I'm sorry it took so long! I was busy lately so I couldn't upload this.

this project contains a test scene with three different scenarios, one where the the collision shape is disabled normally by setting `disabled = true` and another using the method provided by @Xrayez and a scenario where the object is disabled

[2020-08-24 09:17] qarmin commented on #33290
For me it is strange that GDscript

[2020-08-24 09:28] neikeq commented on #41450
Can you open Godot from the command line and copy the output here when it crashes?

[2020-08-24 10:13] Faless commented on #33290
@qarmin but there isn't much we can do, it's like calling `free` in the script of a `Node` during processing.
The only thing we can do, is warn the user not to do that.

[2020-08-24 10:34] djole1973 opened #41486 "When you try to add new GDScript with the tool and class_name the error is shown in the console"
**Godot version:**
Godot_v3.2.2-stable_win64

**OS/device including version:**
OpenGL ES 3.0 Renderer: Quadro M1000M/PCIe/SSE2

**Issue description:**
Error in console:
ERROR: get_global_class_base: Condition "!global_classes.has(p_class)" is true. Returned: String()
   At: core/script_language.cpp:244

**Steps to reproduce:**
1) add script with the
2) **"+"** Add child node

**Minimal reproductio

[2020-08-24 11:12] nice-shot opened #41487 "Paused buttons still show hover effects"
**Godot version:**

3.2.2

**OS/device including version:**

Windows 10

**Issue description:**

After setting `get_tree().paused = true`, buttons were still being highlighted when the pointer was above them. The buttons cannot be clicked, which is expected but I expected the buttons to not react to the pointer at all since they're supposed to be "frozen".
This happens with both Button and Texture

[2020-08-24 11:50] chucklepie opened #41488 "setget in superclass ignores subclass override"
**Godot version:**
3.2.2 stable

**OS/device including version:**
linux

**Issue description:**
Apologies if this is not a bug, but I have a scene/class defined with the following extern:

**StraightProjectile Superclass**
[code]

If I subclass this as a new scene, with no new code and override the extern speed to 350 as in following picture:

**Subclass**
![image](https://user-images.githubuserco

[2020-08-24 12:14] thegamerx1 commented on #41480
I have 8GB of ram I get different errors on console
![image](https://user-images.githubusercontent.com/34986564/91043290-e08ecf00-e602-11ea-876d-7f5b3a7f8893.png)

[2020-08-24 12:48] Calinou commented on #34494
Pull requests should be opened against the `master` branch first, then against the `3.2` branch *only* if the `master` pull request has been merged.

Of course, if a pull request doesn't apply to `master` by design, then you can open it directly against the `3.2` branch.

[2020-08-24 12:49] TheDuriel opened #41489 "Resources not exported/broken on export. No error"
**Godot version:**

3.2 official

**OS/device including version:**

windows 10

**Issue description:**

In my current client project, (a 3D VR game) I'm encountering a scenario in which a number of texture resources are seemingly not exported and included in the pck. (other .png files import and export correctly) The files are initially in .png imported using the 3d preset, and function correctly

[2020-08-24 12:50] #41478 closed

[2020-08-24 12:50] Calinou commented on #41483
If in doubt, *always* upload a [minimal reproduction project](https://github.com/godotengine/godot/blob/master/CONTRIBUTING.md#provide-a-simple-example-project).

[2020-08-24 12:51] TheDuriel commented on #41488
presumably your setter function isnt actually setting the new value to speed. post code.

[2020-08-24 12:57] chucklepie commented on #41488
That is the code. I do not set the value anywhere else. The setter method
is being called automatically by the declaration line you see when the
subclass is instanced.

My subclass has the value overridden as per the screenshot, but is not
being set, or is simply being overridden by the super class.

On Mon, 24 Aug 2020, 13:51 TheDuriel, <notifications@github.com> wrote:

[2020-08-24 12:58] TheDuriel commented on #41488
dont see code of set_projectile() anywhere.

[2020-08-24 13:04] Calinou commented on #41489
Is this 3.2 or 3.2.2?

[2020-08-24 13:06] chucklepie commented on #41488
I updated the original to make it clearer.

[2020-08-24 13:10] Calinou commented on #41488
Yes. Please upload a minimal reproduction project whenever possible :slightly_smiling_face:

[2020-08-24 13:11] TheDuriel commented on #41488
Things seem to be working normally though?

setters are called when the scene is instanced, so as to set the value saved in the scene file.

[2020-08-24 13:17] Adrenesis commented on #34494
@Calinou Ok =)

Sorry, I'm a bit new to godot's contributions, thank you for the info.

[2020-08-24 13:17] chucklepie commented on #41488
Yes, but the subclass overrides this value as my picture. So the order
should be parent then child. However the node value override is not being
used and its still 420 not 350.

On Mon, 24 Aug 2020, 14:11 TheDuriel, <notifications@github.com> wrote:

[2020-08-24 13:21] TheDuriel commented on #41489
3.2

This is what I get on 3.2.3rc3, which is quite a bit more verbose:

https://gist.github.com/TheDuriel/8d5d11bd03403cda455bd5145098df09

Ignore line 72 and onwards, thats due to my headset not being plugged in.

On 3.2official the only errors that show are line 14 through 52.

[2020-08-24 13:23] TheDuriel commented on #41488
Overriding variable declarations via inheritance is not a supported feature... so I'm not sure what you mean with subclasses overriding values in this context.

[2020-08-24 13:24] #41433 closed

[2020-08-24 13:39] chucklepie commented on #41488
I mean in my subclass I set Speed to 350 via the inspector as image.

When I instance this node in code I can see the setter being called for the
default 420 as defined in the parent. So the value 350 is being ignored.

On Mon, 24 Aug 2020, 14:23 TheDuriel, <notifications@github.com> wrote:

[2020-08-24 13:50] mphe commented on #23069
I'm still experiencing this kind of bug in 3.2.2 on Arch with both xf86-video-intel and modesetting driver, independent of compositor, window manager, and desktop environment.
All drivers are up-to-date.

It only happens while running the game. It takes up to 10 seconds until the editor responds to any input, which makes it completely unusable. Especially debugging is just not possible with this b

[2020-08-24 13:56] Calinou commented on #23069
@mphe This appears to be an unrelated issue. Please open a new issue (but make sure this doesn't happen with any other games or 3D applications first).

[2020-08-24 14:04] m6502 opened #41491 "Sprites with subpixel world positions are displayed with unexpected and uneven displacements"
I tried finding this issue reported but I've come empty handed.

**Godot version:**

3.2.2 official build.

**OS/device including version:**

Windows, happens both with GLES2 and GLES3.

**Issue description:**

Creating a small test level I dragged many (parallax) map objects together without caring about perfect positioning of anything, so about all of them ended up in non integer (X, Y) position

[2020-08-24 14:06] Calinou commented on #41491
Related to https://github.com/godotengine/godot/issues/35606.

[2020-08-24 14:37] m6502 commented on #41491
Further testing this, the amount of wobble seems to be one display pixel long regardless of the camera zoom level.

![GIF 24-Aug-20 16-29-34](https://user-images.githubusercontent.com/1667712/91057596-b26fb600-e627-11ea-9464-1cf9bedf5f22.gif)

![GIF 24-Aug-20 16-32-34](https://user-images.githubusercontent.com/1667712/91057602-b56aa680-e627-11ea-85db-10ad6b7189ec.gif)

I really would like to help

[2020-08-24 14:56] homchom opened #41492 "Properties of inherited nodes in open sub-inherited scenes do not update"
**Godot version:** 3.2.2.stable

**OS/device including version:** Dell Inspiron 13-7378, Windows 10 Home v1903

**Issue description:** If the property of a node is changed in a scene, it updates properly in all top-level inherited scenes, but not currently open scenes that are inherited from those scenes. Closing and reopening the scene, or clicking the "reset" icon next to the property in the ins